Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Docs: Adds enterprise information about a hard restart required for some environments
  docs/docs/enterprise/try-hasura-enterprise-edition.mdx
Owners: @hasura/hge-docs-owners

Carry the parsing `path` through the OpenDD parsers (#1146)
  v3/Cargo.lock
  v3/crates/auth/hasura-authn/src/lib.rs
  v3/crates/engine/Cargo.toml
  v3/crates/engine/benches/execute.rs
  v3/crates/engine/tests/common.rs
  v3/crates/graphql/schema/Cargo.toml
  v3/crates/graphql/schema/bin/build-schema-from-metadata/main.rs
  v3/crates/graphql/schema/src/lib.rs
  v3/crates/jsonapi/Cargo.toml
  v3/crates/jsonapi/tests/jsonapi_golden_tests.rs
  v3/crates/metadata-resolve/Cargo.toml
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
  v3/crates/metadata-resolve/tests/metadata_golden_tests.rs
  v3/crates/open-dds/src/data_connector.rs
  v3/crates/open-dds/src/identifier.rs
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/models.rs
  v3/crates/open-dds/src/permissions.rs
  v3/crates/open-dds/src/traits.rs
  v3/crates/open-dds/src/traits/macros.rs
  v3/crates/utils/jsonpath/src/lib.rs
  v3/crates/utils/opendds-derive/src/enum_derive.rs
  v3/crates/utils/opendds-derive/src/lib.rs
  v3/crates/utils/opendds-derive/src/struct_derive.rs
Owners: none

Use `ddn-engine` as Otel name (#1144)
  v3/changelog.md
  v3/crates/engine/bin/engine/main.rs
Owners: none

Create `plan` crate (#1149)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/json_api.rs
  v3/crates/engine/bin/engine/main.rs
  v3/crates/jsonapi/Cargo.toml
  v3/crates/jsonapi/src/lib.rs
  v3/crates/jsonapi/tests/jsonapi_golden_tests.rs
  v3/crates/plan/Cargo.toml
  v3/crates/plan/README.md
  v3/crates/plan/src/lib.rs
Owners: none

Clone `type_container` instead of maintaining reference (#1150)
  v3/crates/execute/src/plan.rs
  v3/crates/execute/src/plan/commands.rs
  v3/crates/execute/src/plan/model_selection.rs
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/execute/src/process_response.rs
  v3/crates/execute/src/remote_joins.rs
  v3/crates/execute/src/remote_joins/collect.rs
  v3/crates/execute/src/remote_joins/types.rs
  v3/crates/frontends/graphql/src/explain.rs
  v3/crates/graphql/ir/src/commands.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
Owners: none

Introduce `Spanned` type (#1147)
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/models.rs
  v3/crates/open-dds/src/spanned.rs
Owners: none

Base image and logging updates
  packaging/graphql-engine-base/ubi.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/test-postgres/Constants.hs
Owners: @hasura/hge-server

Catalogue update v2.44.0 stable
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

remove unwanted catalogue
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.44.0
  releases/v2.44.0
Owners: none

ci: release v2.44.0-ce
  releases/v2.44.0-ce
Owners: none

ci: release v2.44.0-cloud.1
  releases/v2.44.0-cloud.1
Owners: none

Console: fix role and client name for inspect operation modal
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/Modal.js
Owners: none

Docs: Add admonition about load balancers for AWS ECS
  docs/docs/enterprise/getting-started/quickstart-aws-ecs.mdx
Owners: @hasura/hge-docs-owners

Introduce graphql-ws crate that implements GraphQL over websockets (#1134)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/custom-connector/Cargo.toml
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/index.html
  v3/crates/engine/bin/engine/main.rs
  v3/crates/execute/Cargo.toml
  v3/crates/execute/src/lib.rs
  v3/crates/execute/src/types.rs
  v3/crates/frontends/graphql/src/lib.rs
  v3/crates/frontends/graphql/src/steps.rs
  v3/crates/graphql-ws/Cargo.toml
  v3/crates/graphql-ws/architecture.md
  v3/crates/graphql-ws/src/lib.rs
  v3/crates/graphql-ws/src/poller.rs
  v3/crates/graphql-ws/src/protocol/init.rs
  v3/crates/graphql-ws/src/protocol/mod.rs
  v3/crates/graphql-ws/src/protocol/subscribe.rs
  v3/crates/graphql-ws/src/protocol/types.rs
  v3/crates/graphql-ws/src/websocket/mod.rs
  v3/crates/graphql-ws/src/websocket/types.rs
  v3/crates/jsonapi/Cargo.toml
  v3/crates/utils/axum-ext/src/lib.rs
  v3/crates/utils/tracing-util/src/http.rs
  v3/static/sample-schema.json
Owners: none

Scaffolding for error paths in `metadata-resolve` (#1153)
  v3/changelog.md
  v3/crates/metadata-resolve/src/stages/aggregates/mod.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/command_permissions/mod.rs
  v3/crates/metadata-resolve/src/stages/commands/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/mod.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/mod.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/model_permission.rs
  v3/crates/metadata-resolve/src/stages/models/error.rs
  v3/crates/metadata-resolve/src/stages/models/helpers.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/models/source.rs
  v3/crates/metadata-resolve/src/stages/models/types.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_relationships/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/mod.rs
  v3/crates/metadata-resolve/src/stages/order_by_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/relationships/mod.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/type_permissions/mod.rs
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/missing_filter_input_field_name_in_graphql_config/resolved.snap
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/relationship/resolved.snap
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/root_field/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/nested_object/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
  v3/crates/metadata-resolve/tests/passing/missing_subgraph_when_ignoring_unknown_subgraphs/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/all_args_are_set_including_connector_link_presets/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/issue_when_not_all_arguments_defined/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v1_upgrade/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_no_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_with_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/nested/resolved.snap
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/accessor.rs
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/models.rs
  v3/crates/open-dds/src/spanned.rs
  v3/crates/utils/jsonpath/src/lib.rs
Owners: none

Test `execute_request` from `graphql_ws` crate (#1155)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/engine/tests/common.rs
  v3/crates/graphql-ws/src/lib.rs
  v3/crates/graphql-ws/src/protocol/subscribe.rs
  v3/crates/graphql-ws/src/websocket/types.rs
Owners: none

Provide default empty object for empty model 'args' field (#1154)
  v3/changelog.md
  v3/crates/engine/tests/execute/commands/functions/model_argument_presets_select_many/expected.json
  v3/crates/engine/tests/execute/commands/functions/model_argument_presets_select_many/request.gql
  v3/crates/graphql/schema/src/model_arguments.rs
Owners: none

graphql-ws: Use polling interval from opendd config (#1157)
  v3/crates/graphql-ws/src/protocol/subscribe.rs
  v3/static/sample-schema.json
Owners: none

Start of GraphQL -> OpenDD IR pipeline (#1156)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/engine/tests/common.rs
  v3/crates/engine/tests/execution.rs
  v3/crates/engine/tests/relationship.rs
  v3/crates/engine/tests/snapshots/execution__common__opendd_ir.snap
  v3/crates/frontends/graphql/src/lib.rs
  v3/crates/frontends/graphql/src/to_opendd_ir.rs
Owners: none

Keep reference to `http_context` instead of owned copy (#1159)
  v3/crates/execute/src/plan.rs
  v3/crates/execute/src/plan/arguments.rs
  v3/crates/execute/src/plan/field.rs
  v3/crates/execute/src/plan/filter.rs
  v3/crates/execute/src/plan/mutation.rs
  v3/crates/execute/src/plan/query.rs
  v3/crates/execute/src/remote_joins.rs
  v3/crates/frontends/graphql/src/explain.rs
  v3/crates/frontends/graphql/src/explain/predicate.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: none

add `operation_name` and `parameterized_query_hash` to `hasura_graphl_requests_total` metric (cherry-pick)
  docs/docs/observability/enterprise-edition/prometheus/metrics.mdx
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

add graphql query to traces (cherry-pick)
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

Bump opentelemetry to 0.23 (#1160)
  v3/Cargo.lock
  v3/Cargo.toml
Owners: none

Move NdcFieldAlias to new `plan-types` crate (#1161)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/execute/Cargo.toml
  v3/crates/execute/src/plan/commands.rs
  v3/crates/execute/src/plan/field.rs
  v3/crates/execute/src/plan/filter.rs
  v3/crates/execute/src/plan/query.rs
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/frontends/graphql/Cargo.toml
  v3/crates/frontends/graphql/src/explain/predicate.rs
  v3/crates/graphql/ir/Cargo.toml
  v3/crates/graphql/ir/src/aggregates.rs
  v3/crates/graphql/ir/src/commands.rs
  v3/crates/graphql/ir/src/lib.rs
  v3/crates/graphql/ir/src/selection_set.rs
  v3/crates/plan-types/Cargo.toml
  v3/crates/plan-types/README.md
  v3/crates/plan-types/src/lib.rs
  v3/crates/plan-types/src/types.rs
  v3/crates/plan/Cargo.toml
  v3/crates/plan/src/lib.rs
  v3/crates/sql/Cargo.toml
  v3/crates/sql/src/execute/planner/command/physical.rs
  v3/crates/sql/src/execute/planner/command/physical/function.rs
  v3/crates/sql/src/execute/planner/command/physical/procedure.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: none

Replace references to DataConnectorLink with Arc (#1162)
  v3/crates/execute/src/ndc.rs
  v3/crates/execute/src/plan.rs
  v3/crates/execute/src/plan/commands.rs
  v3/crates/execute/src/plan/filter.rs
  v3/crates/execute/src/plan/model_selection.rs
  v3/crates/execute/src/plan/mutation.rs
  v3/crates/execute/src/plan/ndc_request/v02.rs
  v3/crates/execute/src/plan/query.rs
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/execute/src/remote_joins.rs
  v3/crates/execute/src/remote_joins/types.rs
  v3/crates/frontends/graphql/src/explain.rs
  v3/crates/frontends/graphql/src/explain/predicate.rs
  v3/crates/graphql/ir/src/commands.rs
  v3/crates/graphql/ir/src/model_selection.rs
  v3/crates/graphql/schema/src/types.rs
  v3/crates/graphql/schema/src/types/output_type/relationship.rs
  v3/crates/metadata-resolve/src/stages/arguments/mod.rs
  v3/crates/metadata-resolve/src/stages/commands/source.rs
  v3/crates/metadata-resolve/src/stages/commands/types.rs
  v3/crates/metadata-resolve/src/stages/models/source.rs
  v3/crates/metadata-resolve/src/stages/models/types.rs
  v3/crates/metadata-resolve/src/stages/object_relationships/mod.rs
  v3/crates/plan/src/lib.rs
  v3/crates/sql/src/execute/planner/command/physical.rs
  v3/crates/sql/src/execute/planner/command/physical/function.rs
  v3/crates/sql/src/execute/planner/command/physical/procedure.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: none

update graphql-ws connection init timeout to 3 secs (#1164)
  v3/crates/graphql-ws/src/protocol/mod.rs
Owners: none

Add an alias for `docker-refresh` so I don't keep getting it wrong (#1169)
  v3/justfile
Owners: none

Move model planning from `sql` to `plan` (#1166)
  v3/Cargo.lock
  v3/crates/engine/bin/engine/json_api.rs
  v3/crates/execute/src/plan.rs
  v3/crates/jsonapi/Cargo.toml
  v3/crates/jsonapi/src/lib.rs
  v3/crates/jsonapi/tests/fixtures/select_model/Authors.txt
  v3/crates/jsonapi/tests/jsonapi_golden_tests.rs
  v3/crates/jsonapi/tests/static/metadata.json
  v3/crates/plan-types/Cargo.toml
  v3/crates/plan/Cargo.toml
  v3/crates/plan/src/column.rs
  v3/crates/plan/src/filter.rs
  v3/crates/plan/src/lib.rs
  v3/crates/plan/src/order_by.rs
  v3/crates/plan/src/query.rs
  v3/crates/plan/src/query/types.rs
  v3/crates/plan/src/types.rs
  v3/crates/sql/Cargo.toml
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/execute/planner/command/physical.rs
  v3/crates/sql/src/execute/planner/common.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: none

Detect conflicting names for commands in metadata resolve step (#1168)
  v3/changelog.md
  v3/crates/metadata-resolve/src/stages/commands/command.rs
  v3/crates/metadata-resolve/src/stages/commands/mod.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/tests/failing/commands/procedures/duplicate_command_name/metadata.json
  v3/crates/metadata-resolve/tests/failing/commands/procedures/duplicate_command_name/resolve_error.snap
Owners: none

Factor `build-artifacts` out of v3-engine (#1167)
  v3/Cargo.toml
  v3/crates/engine/Cargo.toml
  v3/crates/engine/build.rs
  v3/crates/metadata-resolve/Cargo.toml
Owners: none

Docs: Add api key for action quickstart
  docs/docs/actions/quickstart.mdx
Owners: @hasura/hge-docs-owners

Move model aggregate planning to 'plan' crate (#1171)
  v3/crates/plan/src/lib.rs
  v3/crates/plan/src/query.rs
  v3/crates/plan/src/query/field_selection.rs
  v3/crates/plan/src/query/model_target.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: none

add mappings to the relationship usage analytics (#1125)
  v3/crates/execute/src/query_usage.rs
  v3/crates/frontends/graphql/tests/query_usage_analytics/query_album_customer_admin/expected.json
  v3/crates/frontends/graphql/tests/query_usage_analytics/query_article_author_user/expected.json
  v3/crates/frontends/graphql/tests/query_usage_analytics/query_invoice_order_by/expected.json
  v3/crates/frontends/graphql/tests/query_usage_analytics/update_article_title_id_admin/expected.json
  v3/crates/frontends/graphql/tests/query_usage_analytics/update_article_title_id_user/expected.json
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/types/subgraph.rs
  v3/crates/query-usage-analytics/query_usage_analytics.jsonschema
  v3/crates/query-usage-analytics/src/lib.rs
Owners: none

Very basic sparse fieldset parsing (#1177)
  v3/crates/jsonapi/src/lib.rs
  v3/crates/jsonapi/tests/failing/select_model/Authors.txt
  v3/crates/jsonapi/tests/jsonapi_golden_tests.rs
  v3/crates/jsonapi/tests/passing/select_model/Artist.txt
  v3/crates/jsonapi/tests/passing/select_model/Authors.txt
  v3/crates/jsonapi/tests/snapshots/jsonapi_golden_tests__error.snap
  v3/crates/jsonapi/tests/snapshots/jsonapi_golden_tests__result@Artist.txt.snap
  v3/crates/jsonapi/tests/snapshots/jsonapi_golden_tests__result@Authors.txt.snap
  v3/crates/jsonapi/tests/static/metadata.json
Owners: none

Extract `NDCFunction` and `NDCProcedure` in `sql` command planning (#1172)
  v3/crates/execute/src/plan.rs
  v3/crates/plan/src/lib.rs
  v3/crates/plan/src/query.rs
  v3/crates/plan/src/query/types.rs
  v3/crates/sql/src/execute/planner/command/physical/function.rs
  v3/crates/sql/src/execute/planner/command/physical/procedure.rs
Owners: none

Wrap metadata-resolve errors with path container (#1170)
  v3/crates/engine/src/build.rs
  v3/crates/engine/tests/validate_metadata.rs
  v3/crates/graphql/schema/src/aggregates.rs
  v3/crates/graphql/schema/src/boolean_expression.rs
  v3/crates/graphql/schema/src/lib.rs
  v3/crates/graphql/schema/src/model_filter_input.rs
  v3/crates/graphql/schema/src/model_order_by.rs
  v3/crates/graphql/schema/src/query_root/select_one.rs
  v3/crates/graphql/schema/src/types/input_type.rs
  v3/crates/graphql/schema/src/types/output_type.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/model_permission.rs
  v3/crates/metadata-resolve/src/stages/models/error.rs
  v3/crates/metadata-resolve/src/stages/models/helpers.rs
  v3/crates/metadata-resolve/src/stages/models/source.rs
  v3/crates/metadata-resolve/src/stages/object_relationships/mod.rs
  v3/crates/metadata-resolve/src/types/error.rs
Owners: none

Basic OpenDD pipeline execution testing for GraphQL (#1178)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/engine/tests/common.rs
  v3/crates/engine/tests/execution.rs
  v3/crates/engine/tests/snapshots/execution__common__ir_execute__models__select_many__simple_select.snap
  v3/crates/engine/tests/snapshots/execution__common__ir_execute__models__select_one__simple_select.snap
  v3/crates/engine/tests/snapshots/execution__common__ir_execute__models__select_one__type_permission.snap
  v3/crates/engine/tests/snapshots/execution__common__rowsets_execute__models__select_many__simple_select.snap
  v3/crates/frontends/graphql/src/lib.rs
  v3/crates/frontends/graphql/src/steps.rs
Owners: none

enable tracing on graphql-ws (#1165)
  v3/Cargo.lock
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/tests/common.rs
  v3/crates/graphql-ws/Cargo.toml
  v3/crates/graphql-ws/src/lib.rs
  v3/crates/graphql-ws/src/protocol/init.rs
  v3/crates/graphql-ws/src/protocol/mod.rs
  v3/crates/graphql-ws/src/protocol/subscribe.rs
  v3/crates/graphql-ws/src/protocol/types.rs
  v3/crates/graphql-ws/src/websocket/mod.rs
  v3/crates/graphql-ws/src/websocket/tasks.rs
  v3/crates/graphql-ws/src/websocket/types.rs
  v3/crates/utils/tracing-util/src/lib.rs
  v3/crates/utils/tracing-util/src/tracer.rs
Owners: none

Parameterise the `metadata_resolve` error type (#1179)
  v3/crates/engine/src/build.rs
  v3/crates/engine/tests/validate_metadata.rs
  v3/crates/graphql/schema/src/aggregates.rs
  v3/crates/graphql/schema/src/boolean_expression.rs
  v3/crates/graphql/schema/src/lib.rs
  v3/crates/graphql/schema/src/model_filter_input.rs
  v3/crates/graphql/schema/src/model_order_by.rs
  v3/crates/graphql/schema/src/query_root/select_one.rs
  v3/crates/graphql/schema/src/types/input_type.rs
  v3/crates/graphql/schema/src/types/output_type.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/types/error.rs
Owners: none

.github/CODEOWNERS:

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
