Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

cherry-pick PR #10625 into release v2.36
  server/lib/hasura-extras/hasura-extras.cabal
  server/lib/hasura-extras/src/Kriti/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/RQL/Types/SourceConfiguration.hs
Owners: @hasura/hge-server

ci: tag release v2.36.3 and update base image
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console[Hotfix-2.36]: render monitoring tab if isAdminSecretSet is true for server mode
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Metrics.js
Owners: @hasura/hge-changelog-owners

console[hotfix]: revert changes for 10692
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Metrics.js
Owners: @hasura/hge-changelog-owners

fix permission builder dropdowns with single value (cherry-pick 2.36)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
Owners: @hasura/hge-changelog-owners

Explicitly close the connection after a native query validation step finishes
  docker-compose/databases.yaml
  frontend/docker/docker-compose.template.yml
  install-manifests/enterprise/mysql/docker-compose.yaml
  server/src-lib/Hasura/Backends/Postgres/Connection/Connect.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: release v2.36.4
  packaging/graphql-engine-base/ubi.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
  releases/v2.36.4
  releases/v2.36.4-ce
  releases/v2.36.4-cloud.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

add postgres query to traces (cherry pick)
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Source.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/test-postgres/Constants.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

ci: tag release v2.36.5 and update ubuntu base image
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

adds catalogue for exclusive request from optum
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

build: update ubuntu base image to latest
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

opendd-derive: json_schema options for enum variants (#966)
  v3/crates/utils/opendds-derive/README.md
  v3/crates/utils/opendds-derive/src/container.rs
  v3/crates/utils/opendds-derive/src/enum_derive.rs
Owners: @hasura/hge-changelog-owners

Add cloud-only crates. (#968)
  v3/justfile
Owners: @hasura/hge-changelog-owners

sql: moves crate::plan to crate::execute::planner::model (#971)
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/execute/planner/model.rs
  v3/crates/sql/src/lib.rs
Owners: @hasura/hge-changelog-owners

Update dependencies in preparation for some cloud work. (#972)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/query-usage-analytics/Cargo.toml
  v3/crates/sql/Cargo.toml
Owners: @hasura/hge-changelog-owners

Docs: Show new version modal
  docs/src/components/CustomDocItem/index.tsx
  docs/src/components/NewVersionModal/NewVersionModal.css
  docs/src/components/NewVersionModal/NewVersionModal.tsx
  docs/src/components/NewVersionModal/monsta.png
Owners: @hasura/hge-docs-owners

Updated the docusaurus config to support the redirects from /latest t…
  docs/docusaurus.config.js
Owners: @hasura/hge-docs-owners

Updated the docusaurus config to support the redirects from /latest t…
  docs/docusaurus.config.js
Owners: @hasura/hge-docs-owners

Docs: Fix hardcoded /latest/ urls
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/postgres/heroku.mdx
  docs/docs/deployment/deployment-guides/google-cloud-run-cloud-sql.mdx
  docs/docs/deployment/deployment-guides/kubernetes-helm.mdx
  docs/docs/deployment/performance-tuning.mdx
  docs/docs/deployment/production-checklist.mdx
  docs/docs/enterprise/sso/config.mdx
  docs/docs/event-triggers/observability-and-performance.mdx
  docs/docs/getting-started/docker-simple.mdx
  docs/docs/hasura-cli/commands/hasura_actions.mdx
  docs/docs/hasura-cli/commands/hasura_actions_codegen.mdx
  docs/docs/hasura-cli/commands/hasura_actions_create.mdx
  docs/docs/hasura-cli/commands/hasura_actions_use-codegen.mdx
  docs/docs/hasura-cli/commands/hasura_deploy.mdx
  docs/docs/hasura-cli/commands/hasura_init.mdx
  docs/docs/hasura-cli/commands/hasura_metadata.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_apply.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_export.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_inconsistency_drop.mdx
  docs/docs/hasura-cli/commands/hasura_migrate.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_apply.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_create.mdx
  docs/docs/hasura-cli/commands/hasura_seed.mdx
  docs/docs/hasura-cli/commands/hasura_seed_apply.mdx
  docs/docs/hasura-cli/commands/hasura_seed_create.mdx
  docs/docs/observability/cloud/index.mdx
  docs/docs/scheduled-triggers/create-cron-trigger.mdx
  docs/docs/schema/postgres/input-validations.mdx
  docs/docs/schema/postgres/postgresql-types.mdx
  docs/docusaurus.config.js
  docs/src/components/CustomDocItem/index.tsx
  docs/src/components/Feedback/ScrollToFeedbackButton.tsx
  docs/src/components/VersionedLink.tsx
  docs/src/pages/index.tsx
  docs/src/theme/DocSidebarItem/index.js
  docs/src/theme/NotFound/index.js
  docs/tsconfig.json
Owners: @hasura/hge-docs-owners

Docs: URLs fix
  docs/src/components/CustomDocItem/index.tsx
  docs/src/components/VersionedLink.tsx
  docs/src/theme/DocSidebarItem/index.js
  docs/src/theme/NotFound/index.js
  docs/tsconfig.json
Owners: @hasura/hge-docs-owners

Docs: Fix hardcoded /latest/ urls
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/postgres/heroku.mdx
  docs/docs/deployment/deployment-guides/google-cloud-run-cloud-sql.mdx
  docs/docs/deployment/deployment-guides/kubernetes-helm.mdx
  docs/docs/deployment/performance-tuning.mdx
  docs/docs/deployment/production-checklist.mdx
  docs/docs/enterprise/sso/config.mdx
  docs/docs/event-triggers/observability-and-performance.mdx
  docs/docs/getting-started/docker-simple.mdx
  docs/docs/hasura-cli/commands/hasura_actions.mdx
  docs/docs/hasura-cli/commands/hasura_actions_codegen.mdx
  docs/docs/hasura-cli/commands/hasura_actions_create.mdx
  docs/docs/hasura-cli/commands/hasura_actions_use-codegen.mdx
  docs/docs/hasura-cli/commands/hasura_deploy.mdx
  docs/docs/hasura-cli/commands/hasura_init.mdx
  docs/docs/hasura-cli/commands/hasura_metadata.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_apply.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_export.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_inconsistency_drop.mdx
  docs/docs/hasura-cli/commands/hasura_migrate.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_apply.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_create.mdx
  docs/docs/hasura-cli/commands/hasura_seed.mdx
  docs/docs/hasura-cli/commands/hasura_seed_apply.mdx
  docs/docs/hasura-cli/commands/hasura_seed_create.mdx
  docs/docs/observability/cloud/index.mdx
  docs/docs/scheduled-triggers/create-cron-trigger.mdx
  docs/docs/schema/postgres/input-validations.mdx
  docs/docs/schema/postgres/postgresql-types.mdx
  docs/docusaurus.config.js
  docs/src/components/CustomDocItem/index.tsx
  docs/src/components/Feedback/ScrollToFeedbackButton.tsx
  docs/src/components/VersionedLink.tsx
  docs/src/pages/index.tsx
  docs/src/theme/DocSidebarItem/index.js
  docs/src/theme/NotFound/index.js
  docs/tsconfig.json
Owners: @hasura/hge-docs-owners

Docs: URLs fix
  docs/src/components/CustomDocItem/index.tsx
  docs/src/components/VersionedLink.tsx
  docs/src/theme/DocSidebarItem/index.js
  docs/src/theme/NotFound/index.js
  docs/tsconfig.json
Owners: @hasura/hge-docs-owners

[PACHA-5] Filter pushdown for equality operators (#969)
  v3/crates/open-dds/src/query.rs
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/catalog/model/filter.rs
  v3/crates/sql/src/catalog/subgraph.rs
  v3/crates/sql/src/execute/optimizer/replace_table_scan.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/execute/planner/filter.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: @hasura/hge-changelog-owners

Fix broken link on 404 page
  docs/src/theme/NotFound/index.js
Owners: @hasura/hge-docs-owners

Fix broken 404 link
  docs/src/theme/NotFound/index.js
Owners: @hasura/hge-docs-owners

[PACHA-14] Order by pushdown (#970)
  v3/crates/execute/src/plan/ndc_request/v01.rs
  v3/crates/execute/src/plan/ndc_request/v02.rs
  v3/crates/ir/src/lib.rs
  v3/crates/ir/src/order_by.rs
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/catalog/model/common.rs
  v3/crates/sql/src/catalog/model/filter.rs
  v3/crates/sql/src/execute/optimizer.rs
  v3/crates/sql/src/execute/optimizer/sort_pushdown.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/execute/planner/common.rs
  v3/crates/sql/src/execute/planner/filter.rs
  v3/crates/sql/src/execute/planner/model.rs
  v3/crates/sql/src/execute/planner/order_by.rs
Owners: @hasura/hge-changelog-owners

[PACHA-5] Pushdown other filter operators (#974)
  v3/crates/execute/tests/generate_ir/get_many_model_count/expected.json
  v3/crates/ir/src/filter.rs
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/helpers/boolean_expression.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/types.rs
  v3/crates/metadata-resolve/src/stages/object_types/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/relationship/resolved.snap
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/root_field/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/basic/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/nested_object/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/no_graphql/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/two_data_sources/resolved.snap
  v3/crates/metadata-resolve/tests/passing/missing_subgraph_when_ignoring_unknown_subgraphs/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/all_args_are_set_including_connector_link_presets/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/issue_when_not_all_arguments_defined/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v1_upgrade/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_no_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_with_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/nested/resolved.snap
  v3/crates/sql/src/catalog/model/filter.rs
  v3/crates/sql/src/execute/planner/filter.rs
Owners: @hasura/hge-changelog-owners

[PACHA-4] initial support for commands (#975)
  v3/crates/engine/tests/sql/introspection/tables/expected.json
  v3/crates/execute/src/plan/field.rs
  v3/crates/execute/src/plan/ndc_request/v02.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/open-dds/src/query.rs
  v3/crates/sql/Cargo.toml
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/command.rs
  v3/crates/sql/src/catalog/introspection.rs
  v3/crates/sql/src/catalog/introspection/table_valued_function.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/execute/planner/command.rs
  v3/crates/sql/src/execute/planner/command/logical.rs
  v3/crates/sql/src/execute/planner/command/physical.rs
  v3/crates/sql/src/execute/planner/model.rs
  v3/crates/sql/src/execute/planner/scalar.rs
Owners: @hasura/hge-changelog-owners

(PACHA) Add tests for aggregates (#982)
  v3/crates/engine/tests/sql.rs
  v3/crates/engine/tests/sql/aggregate/count_invoice_lines/expected.json
  v3/crates/engine/tests/sql/aggregate/count_invoice_lines/plan.json
  v3/crates/engine/tests/sql/aggregate/count_invoice_lines/query.sql
  v3/crates/engine/tests/sql/aggregate/count_invoice_lines/session_variables.json
  v3/crates/engine/tests/sql/aggregate/sum_invoice_lines/expected.json
  v3/crates/engine/tests/sql/aggregate/sum_invoice_lines/plan.json
  v3/crates/engine/tests/sql/aggregate/sum_invoice_lines/query.sql
  v3/crates/engine/tests/sql/aggregate/sum_invoice_lines/session_variables.json
  v3/crates/engine/tests/sql/filter/timestamp_gt/expected.json
  v3/crates/engine/tests/sql/filter/timestamp_gt/plan.json
  v3/crates/engine/tests/sql/introspection/columns/expected.json
  v3/crates/engine/tests/sql/introspection/hasura_table_metadata/expected.json
  v3/crates/engine/tests/sql/introspection/tables/expected.json
  v3/crates/engine/tests/sql/metadata.json
  v3/crates/engine/tests/sql/order_by/by_timestamp/expected.json
  v3/crates/engine/tests/sql/order_by/by_timestamp/plan.json
  v3/crates/engine/tests/sql/select/select_all_fields_invoice/expected.json
  v3/crates/engine/tests/sql/select/select_all_fields_invoice/plan.json
Owners: @hasura/hge-changelog-owners

Docs: Fix colors on dark mode for new version modal
  docs/src/components/NewVersionModal/NewVersionModal.css
Owners: @hasura/hge-docs-owners

Update graphql-engine base images
  packaging/graphql-engine-base/ubi.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

Break out a `CommandsError` type (#979)
  v3/crates/metadata-resolve/src/stages/command_permissions/command_permission.rs
  v3/crates/metadata-resolve/src/stages/commands/command.rs
  v3/crates/metadata-resolve/src/stages/commands/error.rs
  v3/crates/metadata-resolve/src/stages/commands/mod.rs
  v3/crates/metadata-resolve/src/stages/commands/source.rs
  v3/crates/metadata-resolve/src/stages/relationships/mod.rs
  v3/crates/metadata-resolve/src/types/error.rs
Owners: @hasura/hge-changelog-owners

Update graphql-engine base images
  packaging/graphql-engine-base/ubi.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

add schemars title to AuthConfig enum variants (#956)
  v3/crates/engine/src/authentication.rs
  v3/crates/engine/tests/auth_config.jsonschema
Owners: @hasura/hge-changelog-owners

Use NPX to run `prettier` (#990)
  v3/flake.nix
  v3/justfile
Owners: @hasura/hge-changelog-owners

Audit with `cargo audit`, rather than an Actions plugin (#993)
  v3/justfile
Owners: @hasura/hge-changelog-owners

Docs: New version modal modularise CSS
  docs/src/components/NewVersionModal/NewVersionModal.module.css
  docs/src/components/NewVersionModal/NewVersionModal.tsx
Owners: @hasura/hge-docs-owners

[PACHA-16] Pushdown limits and offsets (#981)
  v3/crates/engine/tests/common.rs
  v3/crates/engine/tests/sql.rs
  v3/crates/engine/tests/sql/filter/timestamp_gt/plan.json
  v3/crates/engine/tests/sql/order_by/by_timestamp/plan.json
  v3/crates/engine/tests/sql/paginate/nested_limit_1/expected.json
  v3/crates/engine/tests/sql/paginate/nested_limit_1/plan.json
  v3/crates/engine/tests/sql/paginate/nested_limit_1/query.sql
  v3/crates/engine/tests/sql/paginate/nested_limit_1/session_variables.json
  v3/crates/engine/tests/sql/paginate/nested_limit_2/expected.json
  v3/crates/engine/tests/sql/paginate/nested_limit_2/plan.json
  v3/crates/engine/tests/sql/paginate/nested_limit_2/query.sql
  v3/crates/engine/tests/sql/paginate/nested_limit_2/session_variables.json
  v3/crates/engine/tests/sql/paginate/nested_limit_3/expected.json
  v3/crates/engine/tests/sql/paginate/nested_limit_3/plan.json
  v3/crates/engine/tests/sql/paginate/nested_limit_3/query.sql
  v3/crates/engine/tests/sql/paginate/nested_limit_3/session_variables.json
  v3/crates/engine/tests/sql/paginate/nested_limit_4/expected.json
  v3/crates/engine/tests/sql/paginate/nested_limit_4/plan.json
  v3/crates/engine/tests/sql/paginate/nested_limit_4/query.sql
  v3/crates/engine/tests/sql/paginate/nested_limit_4/session_variables.json
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/execute.rs
  v3/crates/sql/src/execute/optimizer.rs
  v3/crates/sql/src/execute/optimizer/limit_pushdown.rs
  v3/crates/sql/src/execute/optimizer/replace_table_scan.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: @hasura/hge-changelog-owners

Improves the type mapping layer to SQL (#988)
  v3/crates/engine/tests/sql/introspection/hasura_table_metadata/expected.json
  v3/crates/engine/tests/sql/introspection/hasura_table_metadata/plan.json
  v3/crates/engine/tests/sql/introspection/hasura_table_metadata/query.sql
  v3/crates/engine/tests/sql/introspection/tables/expected.json
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/relationship/resolved.snap
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/root_field/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/basic/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/nested_object/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/no_graphql/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/two_data_sources/resolved.snap
  v3/crates/metadata-resolve/tests/passing/missing_subgraph_when_ignoring_unknown_subgraphs/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/all_args_are_set_including_connector_link_presets/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/issue_when_not_all_arguments_defined/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v1_upgrade/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_no_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_with_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/nested/resolved.snap
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/command.rs
  v3/crates/sql/src/catalog/introspection.rs
  v3/crates/sql/src/catalog/introspection/column_metadata.rs
  v3/crates/sql/src/catalog/introspection/struct_type.rs
  v3/crates/sql/src/catalog/introspection/table_metadata.rs
  v3/crates/sql/src/catalog/introspection/table_valued_function.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/catalog/types.rs
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
