Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Add remote relationships from remote schemas in schema parser generators
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Session.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
Owners: @hasura/hge-server

cli: add support for customization field in sources metadata
  CHANGELOG.md
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/sources/sources_test.go
  cli/internal/metadataobject/sources/testdata/build_test/t1/metadata/databases/databases.yaml
  cli/internal/metadataobject/sources/testdata/build_test/t1/want.golden.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/metadata.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/want/databases/databases.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

Prevent impure errors with monadic map union
  server/src-lib/Data/HashMap/Strict/Extended.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/RemoteSchema.hs
Owners: @hasura/hge-server

console: data sidebar table search
  CHANGELOG.md
  console/cypress/integration/actions/spec.ts
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/TreeView.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server, pro: remove Setup.hs scripts
  cabal.project
  server/Setup.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/gardening: move local hoogle setup from Makefile to bash script
  Makefile
  scripts/hoogle.sh
  server/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

GDW-15 Serializable Types
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/DataWrapper/API.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/API.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Column.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Expression.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/OrderBy.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Query.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Scalar/Type.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Scalar/Value.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Table.hs
  server/src-lib/Hasura/Backends/DataWrapper/Agent/Schema.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Expression.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Name.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/OrderBy.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Query.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Scalar/Type.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add Feature Flags section in Settings
  CHANGELOG.md
  console/exports/main.js
  console/package-lock.json
  console/package.json
  console/src/components/Services/Settings/Sidebar.tsx
  console/src/features/FeatureFlags/components/FeatureFlagFloatingButton/FeatureFlagFloatingButton.stories.tsx
  console/src/features/FeatureFlags/components/FeatureFlagFloatingButton/FeatureFlagFloatingButton.tsx
  console/src/features/FeatureFlags/components/FeatureFlagFloatingButton/index.ts
  console/src/features/FeatureFlags/components/FeatureFlagToast/FeatureFlagToast.tsx
  console/src/features/FeatureFlags/components/FeatureFlagToast/FeatureFlagsToast.stories.tsx
  console/src/features/FeatureFlags/components/FeatureFlagToast/index.ts
  console/src/features/FeatureFlags/components/FeatureFlags/FeatureFlags.stories.tsx
  console/src/features/FeatureFlags/components/FeatureFlags/FeatureFlags.tsx
  console/src/features/FeatureFlags/components/FeatureFlags/index.ts
  console/src/features/FeatureFlags/hooks/__tests__/useFeatureFlags.spec.ts
  console/src/features/FeatureFlags/hooks/useFeatureFlagDismiss.ts
  console/src/features/FeatureFlags/hooks/useFeatureFlags.ts
  console/src/features/FeatureFlags/hooks/useSetFeatureFlagEnabled.ts
  console/src/features/FeatureFlags/index.tsx
  console/src/features/FeatureFlags/types.ts
  console/src/features/FeatureFlags/utils.ts
  console/src/new-components/Switch/Switch.stories.tsx
  console/src/new-components/Switch/Switch.tsx
  console/src/new-components/Switch/index.tsx
  console/src/routes.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

docs: update cloud docs for switching from standard to free tier
  docs/graphql/cloud/projects/pricing.rst
  docs/img/graphql/cloud/projects/switch-to-free-plan.png
Owners: @hasura/hge-docs-owners

CON-104-add-a-remote-database-widget
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useSources.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/handlers.mock.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/metadata.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/schema_list.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/tables.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/RemoteDatabaseWidget.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/RemoteDatabaseWidget.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/index.tsx
  console/src/new-components/Form/FieldWrapper.tsx
Owners: @hasura/hge-console-owners

console: disable search indexing with HTML meta tag [CON-28]
  CHANGELOG.md
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  server/src-rsr/console.html
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-server

(Fix #8267) Handle subscriptions in MSSQL when results exceed 2048 characters
  CHANGELOG.md
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/tests-py/queries/subscriptions/mssql/schema_setup_mssql.yaml
  server/tests-py/queries/subscriptions/mssql/schema_teardown_mssql.yaml
  server/tests-py/queries/subscriptions/mssql/setup_mssql.yaml
  server/tests-py/queries/subscriptions/mssql/teardown_mssql.yaml
  server/tests-py/test_subscriptions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add the hook layer for the feature flags
  console/src/features/FeatureFlag/hooks/__tests__/useFeatureFlags.spec.ts
  console/src/features/FeatureFlag/hooks/useFeatureFlagDismiss.ts
  console/src/features/FeatureFlag/hooks/useFeatureFlagSetEnable.ts
  console/src/features/FeatureFlag/hooks/useFeatureFlags.ts
  console/src/features/FeatureFlag/index.ts
  console/src/features/FeatureFlag/types.ts
  console/src/features/FeatureFlag/utils.ts
  console/src/utils/localStorage.ts
Owners: @hasura/hge-console-owners

server: refactor the term "live query" to "subscription"
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/SQL/Value.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/LiveQuery.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Subscription.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Options.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/Common.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/TMap.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Transport/Backend.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/RQL/Types/Subscription.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

Enable and test remote relationships from remote schemas.
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Harness/Http.hs
  server/tests-hspec/Harness/RemoteServer.hs
  server/tests-hspec/Harness/State.hs
  server/tests-hspec/Harness/Test/Context.hs
  server/tests-hspec/SpecHook.hs
  server/tests-hspec/Test/RemoteRelationship/FromRemoteSchemaSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/tests-py/test_schema_stitching.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Ignore `Use <$>` hlint rule
  .hlint.yaml
Owners: @hasura/hge-changelog-owners

ci: tag release v2.3.1 and v2.4.0-beta.2
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: document console development tooling [CON-90]
  console/README.md
  console/src/docs/dev/tooling.stories.mdx
Owners: @hasura/hge-console-owners

Improve changelog entry for 8221
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

ci: tag release v2.4.0-beta.3 and v2.4.0-beta.3-pro.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Support custom comments for root fields
  CHANGELOG.md
  console/src/components/Common/SelectInputSplitField/SelectInputSplitField.tsx
  console/src/components/Services/Data/Common/Components/CommentInput.tsx
  console/src/components/Services/Data/Common/Components/RootFieldEditor.tsx
  console/src/components/Services/Data/Common/Components/utils.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/RootFieldsEditor.tsx
  console/src/components/Services/Data/TableModify/utils.js
  console/src/dataSources/common/index.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server/mssql: respect custom field names in delete, insert and update mutations
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/SelectIntoTempTable.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Test/CustomFieldNamesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: fix column type in migrations setup example
  docs/graphql/core/migrations/migrations-setup.rst
Owners: @hasura/hge-docs-owners

docs: REST connectors for Event Triggers
  docs/graphql/core/actions/rest-connectors.rst
  docs/graphql/core/auth/authentication/jwt.rst
  docs/graphql/core/event-triggers/create-trigger.rst
  docs/graphql/core/event-triggers/index.rst
  docs/graphql/core/event-triggers/invoke-trigger-manually.rst
  docs/graphql/core/event-triggers/rest-connectors.rst
  docs/img/graphql/core/actions/payload-transform.png
  docs/img/graphql/core/actions/request-method-transform.png
  docs/img/graphql/core/actions/request-options-transform.png
  docs/img/graphql/core/actions/transform-body.png
  docs/img/graphql/core/actions/transform-method.png
  docs/img/graphql/core/actions/transform-sample-context-0.png
  docs/img/graphql/core/actions/transform-sample-context-1.png
  docs/img/graphql/core/actions/transform-url.png
  docs/img/graphql/core/actions/transformation-context-vars-2.png
  docs/img/graphql/core/event-triggers/transform-configure-rest-connectors.png
  docs/img/graphql/core/event-triggers/transform-generic-request-body.png
  docs/img/graphql/core/event-triggers/transform-request-body.png
  docs/img/graphql/core/event-triggers/transform-request-method.png
  docs/img/graphql/core/event-triggers/transform-request-options.png
  docs/img/graphql/core/event-triggers/transform-sample-context-0.png
  docs/img/graphql/core/event-triggers/transform-sample-context-1.png
  docs/img/graphql/core/event-triggers/transform-sendgrid-body.png
  docs/img/graphql/core/event-triggers/transform-sendgrid-context.png
  docs/img/graphql/core/event-triggers/transform-sendgrid-def.png
  docs/img/graphql/core/event-triggers/transform-sendgrid-processed-events.png
  docs/img/graphql/core/event-triggers/transform-sendgrid-request.png
Owners: @hasura/hge-docs-owners

server: remove the extraneous drop function while creating an event trigger
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

Decouple `Analyse` and `OpenAPI` from remote schema introspection and internal execution details.
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Analyse.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema/Convert.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

community: add nextjs-incremental-static-regeneration
  community/sample-apps/nextjs-incremental-static-regeneration/.env.local.example
  community/sample-apps/nextjs-incremental-static-regeneration/.eslintrc.json
  community/sample-apps/nextjs-incremental-static-regeneration/.gitignore
  community/sample-apps/nextjs-incremental-static-regeneration/README.md
  community/sample-apps/nextjs-incremental-static-regeneration/docker-compose.yml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/config.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/actions.graphql
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/actions.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/allow_list.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/cron_triggers.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/databases/databases.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/databases/default/tables/public_post.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/databases/default/tables/tables.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/query_collections.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/remote_schemas.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/rest_endpoints.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/metadata/version.yaml
  community/sample-apps/nextjs-incremental-static-regeneration/hasura/migrations/default/1647304090289_init/up.sql
  community/sample-apps/nextjs-incremental-static-regeneration/next-env.d.ts
  community/sample-apps/nextjs-incremental-static-regeneration/next.config.js
  community/sample-apps/nextjs-incremental-static-regeneration/package-lock.json
  community/sample-apps/nextjs-incremental-static-regeneration/package.json
  community/sample-apps/nextjs-incremental-static-regeneration/pages/_app.tsx
  community/sample-apps/nextjs-incremental-static-regeneration/pages/api/revalidate.ts
  community/sample-apps/nextjs-incremental-static-regeneration/pages/index.tsx
  community/sample-apps/nextjs-incremental-static-regeneration/public/favicon.ico
  community/sample-apps/nextjs-incremental-static-regeneration/public/vercel.svg
  community/sample-apps/nextjs-incremental-static-regeneration/styles/Home.module.css
  community/sample-apps/nextjs-incremental-static-regeneration/styles/globals.css
  community/sample-apps/nextjs-incremental-static-regeneration/tsconfig.json
Owners: @hasura/hge-changelog-owners

console: handle console crash on action relationships with scalar output type
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Actions/Relationships/Main.js
  console/src/components/Services/Actions/Relationships/Relationships.js
  console/src/components/Services/Actions/Relationships/utils.js
Owners: @hasura/hge-console-owners

docs: update cloud heroku integration page
  docs/graphql/cloud/projects/heroku-url-sync.rst
  docs/graphql/cloud/projects/index.rst
  docs/img/graphql/cloud/projects/console-heroku-db-create.png
  docs/img/graphql/cloud/projects/heroku-db-connect.png
  docs/img/graphql/cloud/projects/heroku-db-sync-enabled-new.png
  docs/img/graphql/cloud/projects/heroku-db-sync-enabled.png
  docs/img/graphql/cloud/projects/heroku-delete-integration.png
  docs/img/graphql/cloud/projects/heroku-integration.png
Owners: @hasura/hge-docs-owners

server: add Makefile targets and instructions to run local hoogle server
  Makefile
  cabal.project
  server/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: optimization of recreating event triggers only when needed
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
Owners: @hasura/hge-server

docs: add console/cli workflows on remote source relationships page
  docs/graphql/core/databases/postgres/schema/remote-relationships/index.rst
  docs/graphql/core/databases/postgres/schema/remote-relationships/remote-schema-relationships.rst
  docs/graphql/core/databases/postgres/schema/remote-relationships/remote-source-relationships.rst
  docs/img/graphql/core/databases/postgres/schema/create-remote-source-relationship.png
Owners: @hasura/hge-docs-owners

tests-hspec refactor + use the new Harness.Test.Schema setup mechanism for the column presets test
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/Exceptions.hs
  server/tests-hspec/Harness/Test/BackendType.hs
  server/tests-hspec/Harness/Test/Context.hs
  server/tests-hspec/Harness/Test/Schema.hs
  server/tests-hspec/Test/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/BasicFieldsSpec.hs
  server/tests-hspec/Test/ColumnPresetsSpec.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/NestedRelationshipsSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsLimitSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/OrderingSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/tests-hspec/Test/RequestHeadersSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
  server/tests-hspec/Test/WhereSpec.hs
Owners: @hasura/hge-server

console: Fix REST live preview malformed request
  CHANGELOG.md
  console/src/components/Services/ApiExplorer/Rest/LivePreview/index.tsx
  console/src/components/Services/ApiExplorer/Rest/__tests__/utils.test.ts
  console/src/components/Services/ApiExplorer/Rest/utils.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

console: add relationships tab on remote schema [CON-58]
  console/cypress/helpers/metadata.ts
  console/cypress/integration/remote-schemas/remote-schema-relationships/test.ts
  console/src/components/Services/Events/CronTriggers/Modify/index.tsx
  console/src/components/Services/RemoteSchema/Edit/tabInfo.js
  console/src/components/Services/RemoteSchema/Permissions/RSPWrapper.tsx
  console/src/components/Services/RemoteSchema/Relationships/RemoteSchemaRelationRenderer.tsx
  console/src/components/Services/RemoteSchema/Relationships/index.tsx
  console/src/components/Services/RemoteSchema/RemoteSchemaRouter.js
  console/src/features/MetadataAPI/__tests__/useGetAllRemoteSchema.test.tsx
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/RelationshipsTable/RemoteSchemaRelationshipsTable.tsx
  console/src/features/RelationshipsTable/__tests__/__snapshots__/utils.test.ts.snap
  console/src/features/RelationshipsTable/__tests__/utils.test.ts
  console/src/features/RelationshipsTable/components/FromRsCell.tsx
  console/src/features/RelationshipsTable/components/RelationshipDestinationCell.tsx
  console/src/features/RelationshipsTable/index.ts
  console/src/features/RelationshipsTable/utils.ts
  console/src/metadata/types.ts
  console/src/new-components/CardedTable/CardedTable.tsx
Owners: @hasura/hge-console-owners

server: Use max-age when refreshing JWKs if must-revalidate is present
  .circleci/test-server.sh
  CHANGELOG.md
  docs/graphql/core/auth/authentication/jwt.rst
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-test/Hasura/Server/Auth/JWTSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

console: call `dependentSQLGenerator` while adding column to a table from modify tab
  CHANGELOG.md
  console/src/components/Services/Data/TableModify/ColumnCreator.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

migrate realtime poll sample app to graphql-ws
  community/sample-apps/realtime-poll/package.json
  community/sample-apps/realtime-poll/src/apollo.js
Owners: @hasura/hge-changelog-owners

console: redirect to metadata status page on conflicting inherited role [CON-95]
  CHANGELOG.md
  console/src/components/Services/Settings/InheritedRoles/InheritedRoles.tsx
  console/src/metadata/actions.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

CON-32-add-a-remote-schema-relationship-widget
  console/src/features/MetadataAPI/__tests__/useGetAllRemoteSchema.test.tsx
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useGetAllRemoteSchemaRelationships.ts
  console/src/features/MetadataAPI/hooks/useMetadataRemoteSchemas.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/constants.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/countries_schema.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/handlers.mock.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/index.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/metadata.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/schema.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTreeWrapper.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTreeWrapper.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/__tests__/__snapshots__/utils.test.ts.snap
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/__tests__/utils.test.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgFieldTitle.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgValueForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/RootFieldTitle.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/fixtures/countries.json
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/fixtures/hasura_schema.json
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/index.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/utils.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/index.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/types/index.ts
  console/src/new-components/Form/Select.tsx
Owners: @hasura/hge-console-owners
