Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Added how to install hasura-cli using asdf-vm
  cli/README.md
Owners: @hasura/hge-cli-owners

console: add autocomplete off to api explorer headers editor inputs
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
Owners: @hasura/hge-changelog-owners

console: fix issue with edit postgres connection when SSL settings are partially filled
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.ts
Owners: @hasura/hge-changelog-owners

chore(server): permissions for inline logical models
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/LogicalModel/API.hs
  server/src-lib/Hasura/LogicalModel/Types.hs
  server/src-lib/Hasura/LogicalModelResolver/Lenses.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Owners: @hasura/hge-server

Fix and improvement on the pagination for tracked table in the new UI
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/PageSizeDropdown.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/usePaginatedSearchableList.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/usePaginatedSearchableList.tsx
Owners: @hasura/hge-changelog-owners

Fix CLI in docker container
  cli/commands/console.go
Owners: @hasura/hge-cli-owners

console: integrate `useCreateTableRelationships` and `useSuggestedRelationships` hooks in the relationships tab
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/BrowseRows.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/DataGrid.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/ManageSuggestedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/hooks/useSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/hooks/useTrackedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/DatabaseRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/DatabaseRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenameRelationship/RenameRelationship.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenderWidget/parts/ConfirmDeleteRelationshipPopup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationshipTrackModal/SuggestedRelationshipTrackModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/SuggestedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/useCreateTableRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useListAllDatabaseRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useManageLocalRelationship.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useManageRemoteDatabaseRelationship.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useManageRemoteSchemaRelationship.ts
Owners: @hasura/hge-changelog-owners

Enable inherited role redaction tests for Citus and Cockroach and fix DISTINCT ON for Cockroach
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Subscription.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aggregate.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/GenerateSelect.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Simple.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
Owners: @hasura/hge-server

INFRA-833: OpenTelemetry exporter for metrics
  docs/docs/api-reference/metadata-api/observability.mdx
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/observability/enterprise-edition/opentelemetry.mdx
  docs/static/img/enterprise/open-telemetry-exporter_config-ui_2-18.png
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/Sidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/OpenTelemetry.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/OpenTelemetry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Form/Form.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Form/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Header/Hero/HeroDisabled.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Header/Hero/HeroEnabled.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryFeature.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/OpenTelemetryEEProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/OpenTelemetryProvider.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/hooks/useSetOpenTelemetry.ts
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/utils/openTelemetryToFormValues.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/utils/openTelemetryToFormValues.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/openTelemetry/types.ts
  frontend/libs/console/legacy-ce/src/lib/utils/proConsole.ts
  metadata.openapi.json
  server/src-lib/Hasura/RQL/DDL/OpenTelemetry.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners, @hasura/hge-server

console: fix headers for mutation input validation
  docs/static/img/schema/input-validation-create-permission.png
  frontend/apps/console-ce-e2e/src/e2e/table-permission-input-validation/input-validation.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/RequestHeader.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/components/KeyValue.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/schema.ts
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

RFC: Input Validations (for mutations)
  rfcs/input-validations.md
Owners: @hasura/hge-changelog-owners

Fix(Sqlserver): Apply Column Redaction to aggregations
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedaction/SqlserverSpec.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/Schema/Table.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

server: Upgrade ODBC to correct some error reporting.
  cabal.project
Owners: @hasura/hge-changelog-owners

Update documentation for main.
  server/haddock/main/Database-MSSQL-Pool.html
  server/haddock/main/Database-MSSQL-Transaction.html
  server/haddock/main/Hasura-Backends-MSSQL-Connection.html
  server/haddock/main/Hasura-Backends-MSSQL-Execute-QueryTags.html
  server/haddock/main/Hasura-Backends-MSSQL-ToQuery.html
  server/haddock/main/Hasura-Backends-MSSQL-Types-Internal.html
  server/haddock/main/graphql-engine.haddock
  server/haddock/main/src/Database.MSSQL.Pool.html
  server/haddock/main/src/Database.MSSQL.Transaction.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Connection.html
  server/haddock/main/src/Hasura.Backends.MSSQL.DDL.EventTrigger.html
  server/haddock/main/src/Hasura.Backends.MSSQL.DDL.RunSQL.html
  server/haddock/main/src/Hasura.Backends.MSSQL.DDL.Source.Version.html
  server/haddock/main/src/Hasura.Backends.MSSQL.DDL.Source.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Execute.QueryTags.html
  server/haddock/main/src/Hasura.Backends.MSSQL.FromIr.Constants.html
  server/haddock/main/src/Hasura.Backends.MSSQL.FromIr.MutationResponse.html
  server/haddock/main/src/Hasura.Backends.MSSQL.FromIr.Query.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Instances.Execute.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Instances.Schema.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Instances.Transport.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Instances.Types.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Meta.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Plan.html
  server/haddock/main/src/Hasura.Backends.MSSQL.SQL.Error.html
  server/haddock/main/src/Hasura.Backends.MSSQL.SQL.Value.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Schema.Introspection.html
  server/haddock/main/src/Hasura.Backends.MSSQL.ToQuery.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Types.Internal.html
Owners: @hasura/hge-server

console: show array pg data types in the drop down while creating/modifying columns
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Add/AddTable.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/TypedInput.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/TooltipMessages.js
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-changelog-owners

Permission comment cache fixes
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createDefaultValues/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/useFormData.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/useFormData.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useBulkDelete.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useDeletePermission.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useSubmitForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/hooks/usePermissions.tsx
Owners: @hasura/hge-changelog-owners

console(hotfix-2.30): hotfix the header issue with input validation
  docs/static/img/schema/input-validation-create-permission.png
  frontend/apps/console-ce-e2e/src/e2e/table-permission-input-validation/input-validation.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/RequestHeader.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/components/KeyValue.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/schema.ts
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

console(hotfix-2.29): hotfix the header issue with input validation
  docs/static/img/schema/input-validation-create-permission.png
  frontend/apps/console-ce-e2e/src/e2e/table-permission-input-validation/input-validation.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/RequestHeader.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/components/KeyValue.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/RequestHeader/schema.ts
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

ci: tag release v2.31.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

add more details to event delivery
  docs/docs/event-triggers/observability-and-performance.mdx
Owners: @hasura/hge-docs-owners

docs: update GCP names for Google branding
  docs/docs/databases/postgres/gcp.mdx
  docs/docs/databases/postgres/heroku.mdx
  docs/docs/databases/postgres/index.mdx
Owners: @hasura/hge-docs-owners

Fix inherited roles leaking supposedly-hidden data via aggregation predicates for Postgres
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/Services/Database/Postgres.hs
  server/lib/test-harness/src/Harness/Test/ScalarType.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/IR/BoolExp/AggregationPredicates.hs
Owners: @hasura/hge-server

server: add tenant policy to enable/disable otel exporter
  server/src-lib/Hasura/Server/Types.hs
Owners: @hasura/hge-server

console: modify `getTableColumns` SQL for postgres DAL method to include materialized views
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getTableColumns.ts
Owners: @hasura/hge-changelog-owners

Changed return type of computed field to numeric
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
Owners: @hasura/hge-server

chore: remove Postgres data connector
  scripts/make/build.mk
  scripts/make/ghcid.mk
  scripts/make/test-infrastructure.mk
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/lib/test-harness/src/Harness/GlobalTestEnvironment.hs
  server/lib/test-harness/src/Harness/Services/Composed.hs
  server/lib/test-harness/src/Harness/Services/ExternalProcess/DCPostgresAgent.hs
  server/lib/test-harness/src/Harness/Services/Source/DCPostgres.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fix(Sqlserver): Apply Column Redaction to order_by and _where
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedaction/SqlserverSpec.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Expression.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

chore(server): use 'double precision' instead of numeric
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
Owners: @hasura/hge-server

docs: add note for downgrading catalog version
  docs/docs/deployment/downgrading.mdx
Owners: @hasura/hge-docs-owners

docs: backport hotfix for downgrade
  docs/docs/deployment/downgrading.mdx
Owners: @hasura/hge-docs-owners

docs: add recipe for daily summary email
  docs/docs/scheduled-triggers/recipes/daily-summary-email.mdx
  docs/docs/scheduled-triggers/recipes/index.mdx
Owners: @hasura/hge-docs-owners

docs: Scheduled Triggers Abandoned Cart recipe
  docs/docs/scheduled-triggers/recipes/abandoned-cart.mdx
  docs/docs/scheduled-triggers/recipes/index.mdx
Owners: @hasura/hge-docs-owners

docs: add docs for slack alerts for schema registry
  docs/docs/data-federation/schema-registry.mdx
  docs/static/img/observability/schema-registry/add-to-slack.png
  docs/static/img/observability/schema-registry/configured-slack-alerts.png
  docs/static/img/observability/schema-registry/select-slack-channel.png
Owners: @hasura/hge-docs-owners

fix(mssql): Properly record the schema of referenced columns
  server/src-rsr/mssql/mssql_table_metadata.sql
Owners: @hasura/hge-server

docs: backport hotfix fix typo
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

console: remove comments that contain internal doc links
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/docs/dev/analytics.stories.mdx
  frontend/libs/console/legacy-ce/src/lib/features/Analytics/core/heap/getRedactAttributes.ts
Owners: @hasura/hge-changelog-owners

console: fix query filter and sort validation
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/QueryDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/parts/DataTableOptions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/parts/DataTableOptions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/parts/ReactTableWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/RunQuery/Filter/FilterRows.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/RunQuery/Sort/SortRows.tsx
Owners: @hasura/hge-changelog-owners

server: Avoid partial fields wherever possible.
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Database/MSSQL/Pool.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/Connect.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/Settings.hs
  server/src-lib/Hasura/Backends/Postgres/Types/CitusExtraTableMetadata.hs
  server/test-mssql/Database/MSSQL/TransactionSpec.hs
Owners: @hasura/hge-server

server: add Prometheus metric `hasura_websocket_message_write_time` and fix `hasura_websocket_message_queue_time`
  docs/docs/observability/enterprise-edition/prometheus/metrics.mdx
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

docs: add recipe for coupon expiration
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
  docs/docs/scheduled-triggers/recipes/index.mdx
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
