Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

docs: add alloydb guide
  docs/docs/databases/connect-db/cloud-databases/alloy.mdx
  docs/docs/databases/connect-db/cloud-databases/index.mdx
  docs/static/img/cloud-dbs/alloy/alloy-allocate-ip.png
  docs/static/img/cloud-dbs/alloy/alloy-choose-cluster.png
  docs/static/img/cloud-dbs/alloy/alloy-cluster-created.png
  docs/static/img/cloud-dbs/alloy/alloy-configure-cluster.png
  docs/static/img/cloud-dbs/alloy/alloy-connect-db.png
  docs/static/img/cloud-dbs/alloy/alloy-create-cluster-1.png
  docs/static/img/cloud-dbs/alloy/alloy-create-cluster.png
  docs/static/img/cloud-dbs/alloy/alloy-create-firewall.png
  docs/static/img/cloud-dbs/alloy/alloy-enable-apis.png
  docs/static/img/cloud-dbs/alloy/alloy-enable.png
  docs/static/img/cloud-dbs/alloy/alloy-existing-db-setup.png
  docs/static/img/cloud-dbs/alloy/alloy-firewall-settings.png
  docs/static/img/cloud-dbs/alloy/alloy-get-db-ip.png
  docs/static/img/cloud-dbs/alloy/alloy-hasura-ip.png
  docs/static/img/cloud-dbs/alloy/alloy-set-up-connection.png
  docs/static/img/cloud-dbs/alloy/alloy-splash.png
  docs/static/img/cloud-dbs/alloy/alloy-vm-create-instance.png
  docs/static/img/cloud-dbs/logos/alloydb.png
Owners: @hasura/hge-docs-owners

Use JSON instead of GraphQL for comparison operators
  dc-agents/README.md
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/index.ts
  dc-agents/dc-api-types/src/models/Capabilities.ts
  dc-agents/dc-api-types/src/models/ComparisonOperators.ts
  dc-agents/dc-api-types/src/models/GraphQLName.ts
  dc-agents/dc-api-types/src/models/GraphQLTypeDefinitions.ts
  dc-agents/dc-api-types/src/models/ScalarTypeCapabilities.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/capabilities.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/capabilities.ts
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/lib/test-harness/src/Harness/Test/BackendType.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

pro: do not apply time limits for Hasura EE edition
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Limits.hs
Owners: @hasura/hge-server

console: enabled cockroachdb as beta
  console/src/features/DataSource/cockroach/index.ts
Owners: @hasura/hge-console-owners

ci: tag release v2.13.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: add catalog version for v2.14.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.14.0-beta.2
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.13.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console: refactor browse rows to decouple redux
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/TableBrowseRows/TableBrowseRowsContainer.tsx
  console/src/components/Services/Data/index.ts
  console/src/components/Services/RemoteSchema/Permissions/utils.ts
Owners: @hasura/hge-console-owners

cli: port `pkg/metadata` to use `internal/errors`
  cli/pkg/metadata/mode_handlers.go
  cli/pkg/metadata/project_metadata.go
  cli/pkg/metadata/project_metadata_test.go
Owners: @hasura/hge-cli-owners

console: Analytics cleanup in Neon Components
  console/src/features/OnboardingWizard/components/NeonConnectBanner/NeonBanner.tsx
  console/src/features/OnboardingWizard/components/QueryDialog/QueryDialog.tsx
Owners: @hasura/hge-console-owners

cli: port `statestore/settings` to use `internal/errors`
  cli/internal/statestore/settings/catalogstate.go
  cli/internal/statestore/settings/hdbtable.go
  cli/internal/statestore/statestore.go
  cli/internal/statestore/statestore_test.go
Owners: @hasura/hge-cli-owners

server: deduplicate Postgres function names with HashSet (close #8888)
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
Owners: @hasura/hge-server

cli: refactor `util` package to use `internal/errors`
  cli/util/copy.go
  cli/util/filesystem.go
  cli/util/flags.go
  cli/util/git.go
  cli/util/prompt.go
  cli/util/server.go
  cli/util/zip.go
Owners: @hasura/hge-cli-owners

cli: refactor `version` package to use `internal/errors`
  cli/version/feature_flags.go
  cli/version/server.go
Owners: @hasura/hge-cli-owners

ci: tag release v2.13.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server: do not apply default tenant time limits to Hasura EE
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Limits.hs
Owners: @hasura/hge-server

fix (console): submitting GQL table customisation fails to merge correctly for root fields
  console/src/components/Services/Data/Schema/tableTrackCustomization/utils.ts
  console/src/features/ConnectDB/EditConnection.tsx
  console/src/features/Data/ModifyTable/components/EditTableColumnDialog/EditTableColumnDialog.tsx
  console/src/features/Data/ModifyTable/components/TableRootFields.tsx
  console/src/features/Data/ModifyTable/hooks/useUpdateTableConfiguration.ts
Owners: @hasura/hge-console-owners

console: Prevent using analytics-related props on React components
  console/.eslintrc
  frontend/.eslintrc.json
  frontend/apps/console-ce/.eslintrc.json
  frontend/apps/console-ee/.eslintrc.json
  frontend/libs/console/legacy-ce/.eslintrc.json
  frontend/libs/console/legacy-ee/.eslintrc.json
Owners: @hasura/hge-console-owners, @hasura/hge-changelog-owners

docs: fix MS SQL connection string
  docs/docs/databases/ms-sql-server/getting-started/cloud.mdx
  docs/docs/faq.mdx
Owners: @hasura/hge-docs-owners

Wiki fixes
  docs/wiki/page-structure.mdx
  docs/wiki/rst-vs-mdx-guide/index.mdx
Owners: @hasura/hge-docs-owners

Wiki headings fixes
  docs/wiki/docusaurus-mdx-guide/headings.mdx
Owners: @hasura/hge-docs-owners

fix (console): issue with opening create relationship form
  console/src/features/DataRelationships/components/DatabaseRelationshipsContainer/DatabaseRelationshipsContainer.tsx
Owners: @hasura/hge-console-owners

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners

Generate cabal2nix > default.nix + overlays for subpackages
  .gitignore
  flake.nix
  nix/overlays/packages.nix
  server/default.nix
  server/lib/aeson-ordered/default.nix
  server/lib/api-tests/default.nix
  server/lib/dc-api/default.nix
  server/lib/error-message/default.nix
  server/lib/graphql-parser-hs/default.nix
  server/lib/hasura-prelude/default.nix
  server/lib/pg-client-hs/default.nix
  server/lib/schema-parsers/default.nix
  server/lib/test-harness/default.nix
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Almost compiling graphql-engine
  nix/overlays/packages.nix
  server/default.nix
  server/lib/aeson-ordered/default.nix
  server/lib/common.yaml
  server/lib/dc-api/dc-api.cabal
  server/lib/error-message/hasura-error-message.cabal
  server/lib/schema-parsers/hasura-schema-parsers.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

resource-pool misery
  flake.nix
  nix/overlays/packages.nix
  server/CURRENT_VERSION
  server/default.nix
  server/graphql-engine.cabal
  server/lib/pg-client-hs/stack.yaml.lock
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

building pg-client-hs
  flake.nix
  nix/overlays/packages.nix
  server/default.nix
  server/lib/pg-client-hs/.gitignore
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add hasura-odbc
  nix/overlays/packages.nix
Owners: @hasura/hge-changelog-owners

1 step away from Nix compiling gql-engine
  server/CURRENT_VERSION
  server/graphql-engine.cabal
  server/src-lib/GHC/AssertNF/CPP.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
Owners: @hasura/hge-server

Fix ghc-heap-view missing include
  flake.nix
  nix/overlays/packages.nix
  server/default.nix
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

working nix run .
  nix/overlays/packages.nix
Owners: @hasura/hge-changelog-owners

cli: refactor `pkg/console` package to use `internal/errors`
  cli/pkg/console/apiserver.go
  cli/pkg/console/consoleserver.go
  cli/pkg/console/serve.go
  cli/pkg/console/template.go
Owners: @hasura/hge-cli-owners

cli: port `internal/hausra/sourceops/citus` to use `internal/errors`
  cli/internal/hasura/sourceops/citus/citus.go
  cli/internal/hasura/sourceops/citus/run_sql.go
  cli/internal/hasura/sourceops/citus/run_sql_test.go
Owners: @hasura/hge-cli-owners

ci: tag release v2.14.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.14.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

cli: port `internal/hausra/sourceops/mssql` to use `internal/errors`
  cli/internal/hasura/sourceops/mssql/mssql.go
  cli/internal/hasura/sourceops/mssql/run_sql.go
  cli/internal/hasura/sourceops/mssql/run_sql_test.go
Owners: @hasura/hge-cli-owners

cli: port `internal/hasura/v1metadata` package to use `internal/errors`
  cli/internal/hasura/v1metadata/v1metadata.go
Owners: @hasura/hge-cli-owners

console: quickfix for missing redux prop props
  console/src/components/Services/Data/DataSubSidebar.js
Owners: @hasura/hge-console-owners

cli: refactor `migrate/source` package to use `internal/errors`
  cli/migrate/source/driver.go
  cli/migrate/source/migration.go
  cli/migrate/source/parse.go
  cli/migrate/source/parse_test.go
Owners: @hasura/hge-cli-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
