Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Fix #3635
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: provide checkbox to remove body in rest connectors v2
  CHANGELOG.md
  console/cypress/helpers/webhookTransformHelpers.ts
  console/cypress/integration/actions/spec.ts
  console/cypress/integration/actions/test.ts
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  console/src/components/Common/ConfigureTransformation/PayloadOptionsTransforms.tsx
  console/src/components/Common/ConfigureTransformation/requestTransformState.ts
  console/src/components/Common/ConfigureTransformation/stateDefaults.ts
  console/src/components/Common/ConfigureTransformation/utils.ts
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Modify.tsx
  console/src/metadata/types.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Only overwrite expectations if the flag is actually set
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

Traverse variables in action remote joins
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Data/List/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/RQL/IR/Action.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-test/Hasura/RQL/IR/Generator.hs
  server/src-test/Hasura/RQL/IR/Postgres.hs
  server/src-test/Hasura/RQL/IR/SelectSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: pass only current schema table to local table relationships
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
Owners: @hasura/hge-console-owners

Migrate all HSpec tests to unified setup/teardown
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Test/Schema.hs
  server/tests-hspec/Test/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsLimitSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/OrderingSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/tests-hspec/Test/RequestHeadersSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
  server/tests-hspec/Test/WhereSpec.hs
Owners: @hasura/hge-server

console: fixed an issue where db to db relationship where not removed from the list after deletion [CON-64]
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/AddManualRelationship.tsx
Owners: @hasura/hge-console-owners

cloud-docs: bump preview app github action version in cloud docs
  docs/graphql/cloud/preview-apps.rst
Owners: @hasura/hge-docs-owners

Improve remote joins collect
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/IR/RemoteSchema.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
Owners: @hasura/hge-server

server: parallelize buildGQLContext to improve replace_metadata perfo…
  server/graphql-engine.cabal
  server/src-lib/Control/Concurrent/Extended.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-test/Control/Concurrent/ExtendedSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

pro, multitenant: remove broken process-level ekg stats
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

Reduce the size of SelectSpec test to reduce memory usage.
  server/src-test/Hasura/RQL/IR/SelectSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

Bump parser version.
  cabal.project
Owners: @hasura/hge-changelog-owners

Feature/improved webhook debug endpoint errors
  CHANGELOG.md
  console/src/components/Common/ConfigureTransformation/utils.ts
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Class.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Headers.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Method.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/QueryParams.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Url.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Validation.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_eval.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_parse.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_custom_functions.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_success_form_urlencoded.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-server

ci: tag release v2.2.2 and v2.2.2-pro.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update cloud response caching docs
  docs/graphql/cloud/response-caching.rst
Owners: @hasura/hge-docs-owners

add jsonb to string cast support for postgres (fix #6577, #2602)
  CHANGELOG.md
  docs/graphql/core/api-reference/graphql-api/query.rst
  docs/graphql/core/databases/ms-sql-server/queries/query-filters.rst
  docs/graphql/core/databases/postgres/queries/query-filters.rst
  server/src-lib/Hasura/Backends/Postgres/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/tests-py/queries/graphql_query/boolexp/jsonb/query_cast_jsonb_to_string.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

Adds a warning about downgrading with v2 webhook schemas
  docs/graphql/core/api-reference/syntax-defs.rst
Owners: @hasura/hge-docs-owners

server/mssql: Implement column presets
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Insert.hs
  server/tests-hspec/Test/ColumnPresetsSpec.hs
  server/tests-py/queries/graphql_mutation/insert/basic/insert_invalid_datetime_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_numeric_value_fail_mssql.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Add the Relationships list component in the Remote Schema section
  console/src/features/RelationshipsTable/RemoteSchemaRelationShipTable.stories.tsx
  console/src/features/RelationshipsTable/RemoteSchemaRelationshipsTable.tsx
Owners: @hasura/hge-console-owners

Cleanup post #3810
  server/src-lib/Data/HashMap/Strict/NonEmpty.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
Owners: @hasura/hge-server

server/postgres: improve fetching tables' and functions' metadata (from database)
  CHANGELOG.md
  server/src-lib/Data/List/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Function.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/pg_function_metadata.sql
  server/src-rsr/pg_table_metadata.sql
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Clean `RemoteJoin.Join` by introducing `RemoteJoin.Source`
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Source.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Types.hs
Owners: @hasura/hge-server

Enable remote joins from remote schemas in the execution engine.
  server/documentation/README.md
  server/documentation/remote_joins_execution.md
  server/src-lib/Data/HashMap/Strict/NonEmpty.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/RemoteSchema.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Types.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/IR/RemoteSchema.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
Owners: @hasura/hge-server

server: testing guidelines
  server/CONTRIBUTING.md
  server/testing-guidelines.md
Owners: @hasura/hge-server

Webhook Transform Cleanup / Refactor
  CHANGELOG.md
  docs/graphql/core/api-reference/syntax-defs.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Class.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Headers.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Method.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/QueryParams.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Url.hs
  server/src-lib/Hasura/RQL/DDL/WebhookTransforms.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-test/Hasura/RQL/WebhookTransformsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server: add metric for the metadata resource version
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Metrics.hs
  server/src-lib/Hasura/Server/SchemaCacheRef.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests/integration/Hasura/Test/App.hs
Owners: @hasura/hge-server

server/tests: unify HASURA_BIGQUERY_SERVICE_KEY and HASURA_BIGQUERY_SERVICE_ACCOUNT env vars
  .circleci/test-server.sh
  scripts/bigquery.sh
  scripts/data-sources-util.sh
  scripts/parse-pytest-backend
  scripts/verify-bigquery-creds.sh
  server/documentation/data-sources/bigquery.md
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-py/README.md
  server/tests-py/queries/graphql_query/bigquery/teardown_bigquery.yaml
  server/tests-py/queries/v1/metadata/bigquery/replace_metadata_no_tables.yaml
  server/tests-py/queries/v1/metadata/set_table_customization_bigquery.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: create a hook to fetch all remote schema relationship
  console/src/features/MetadataAPI/__tests__/useGetAllRemoteSchema.test.tsx
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useGetAllRemoteSchemaRelationships.ts
  console/src/hooks/__tests__/common/decorator.tsx
Owners: @hasura/hge-console-owners

Tidy up `MSSQL.FromIr`
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/MutationResponse.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Constants.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Expression.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/MutationResponse.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/SelectIntoTempTable.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

Remove MonadTableInfo and MonadRole.
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
Owners: @hasura/hge-server

Use an enum for `EndpointMethod` and fix incorrect response aggregation.
  server/src-lib/Hasura/RQL/DDL/Endpoint.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Endpoint.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/tests-py/queries/openapi/openapi_endpoint_with_multiple_methods.yaml
Owners: @hasura/hge-server

console: add remoteSchemaTree component
  console/package-lock.json
  console/package.json
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTreeWrapper.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTreeWrapper.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/__tests__/__snapshots__/utils.test.ts.snap
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/__tests__/utils.test.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgFieldTitle.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgValueForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/FieldLabel.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/RootFieldTitle.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/SubFieldTitle.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/fixtures/constants.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/fixtures/countries.json
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/fixtures/hasura_schema.json
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/types.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/utils.tsx
Owners: @hasura/hge-console-owners

server/bigquery: apply 'order by' to 'array_agg' projection inside an array relationship join sub-query
  CHANGELOG.md
  server/src-lib/Data/List/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/tests-py/queries/explain/author_articles_orderby_bigquery.yaml
  server/tests-py/queries/explain/schema_setup_bigquery.yaml
  server/tests-py/queries/explain/schema_teardown_bigquery.yaml
  server/tests-py/queries/explain/setup_bigquery.yaml
  server/tests-py/queries/explain/teardown_bigquery.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/docs: add bigquery "quickstart"
  server/documentation/data-sources/bigquery.md
Owners: @hasura/hge-server

server: split the Postgres Connection module
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/MonadTx.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/Settings.hs
Owners: @hasura/hge-server

Fetch only events of the ETs which exist in the metadata
  docs/graphql/core/deployment/graphql-engine-flags/reference.rst
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server: add validation for query collections
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/query-collections.rst
  docs/graphql/core/api-reference/schema-metadata-api/query-collections.rst
  docs/graphql/core/deployment/allow-list.rst
  server/src-lib/Hasura/GraphQL/Analyse.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types/Allowlist.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/tests-py/queries/endpoints/endpoint_query_validation.yaml
  server/tests-py/queries/endpoints/setup.yaml
  server/tests-py/queries/graphql_query/allowlist_role_based/teardown.yaml
  server/tests-py/queries/openapi/openapi_inconsistent_schema.yaml
  server/tests-py/queries/v1/metadata_order/setup.yaml
  server/tests-py/queries/v1/metadata_order/teardown.yaml
  server/tests-py/test_openapi.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

docs: Minor editions on python-flask codegen page
  docs/graphql/core/actions/codegen/python-flask.rst
Owners: @hasura/hge-docs-owners

Document ActionFieldsG
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/RQL/IR/Action.hs
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
