Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

tooling: add coreutils to macos install docs
  server/COMPILING-ON-MACOS.md
Owners: @hasura/hge-server

server/postgres: fix non-latin text elements in array literals (copy). close hasura/graphql-engine#8961
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
  server/src-test/Hasura/Backends/Postgres/SQL/ValueSpec.hs
  server/tests-hspec/Test/Regression/ArrayLiteralTextEncodingSpec.hs
Owners: @hasura/hge-server

console: enable disabled tests
  console/src/features/BrowseRows/FiltersSection/FiltersSection.stories.tsx
Owners: @hasura/hge-console-owners

feature (console): update gdc methods to fetch config schema from metadata API
  console/package-lock.json
  console/package.json
  console/src/components/Services/ApiExplorer/Rest/Form/index.tsx
  console/src/components/Services/Data/Common/tsUtils.ts
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/GDCTree/hooks/useGDCTreeItemClick.ts
  console/src/components/Services/Data/GDCTree/index.ts
  console/src/components/Services/Data/Schema/components/GDCDatabaseListItem.tsx
  console/src/components/Services/Data/index.ts
  console/src/features/Data/ManageContainer.tsx
  console/src/features/Data/ManageDatabase/ManageDatabase.tsx
  console/src/features/Data/ManageTable/ManageTable.tsx
  console/src/features/Data/TrackTables/hooks/useMetadataSource.ts
  console/src/features/Data/TrackTables/hooks/useTables.ts
  console/src/features/Data/TrackTables/hooks/useTrackSelectedTables.ts
  console/src/features/Data/TrackTables/hooks/useTrackTable.ts
  console/src/features/Data/TrackTables/hooks/useUntrackTable.ts
  console/src/features/Data/hooks/index.ts
  console/src/features/Data/hooks/useDatabaseHierarchy.ts
  console/src/features/DataSource/common/createZodSchema.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/gdc/introspection/getDatabaseConfiguration.ts
  console/src/features/DataSource/gdc/introspection/index.ts
  console/src/features/DataSource/index.ts
Owners: @hasura/hge-console-owners

cli: [rfc] improve error handling
  cli/internal/errors/errors.go
  cli/internal/errors/errors_test.go
  cli/pkg/errors/kind.go
  cli/pkg/errors/kind_test.go
Owners: @hasura/hge-cli-owners

server: bump CockroachDB image and un-skip fixed tests
  docker-compose.yml
  server/tests-hspec/Test/Postgres/JsonbSpec.hs
  server/tests-hspec/Test/Queries/Simple/NoQueriesAvailableSpec.hs
  server/tests-hspec/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/tests-hspec/Test/Queries/Simple/OperationNameSpec.hs
  server/tests-hspec/Test/Queries/Simple/PrimaryKeySpec.hs
  server/tests-hspec/Test/Schema/CustomFieldNames/MutationSpec.hs
  server/tests-hspec/Test/Schema/CustomFieldNames/QuerySpec.hs
  server/tests-hspec/Test/Schema/EnumSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/ViewsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/postgres: implement execution of aggregation predicates (permissions)
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/RQL/IR/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/AggregationPredicates.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Test/Queries/AggregationPredicatesSpec.hs
Owners: @hasura/hge-server

server/tests-hspec: Simplifying the steps required to run these on macOS on aarch64.
  docker-compose.yml
  docker-compose/sqlserver-init/init.sh
  docker-compose/sqlserver-init/init.sql
  docker-compose/sqlserver/Dockerfile
  docker-compose/sqlserver/entrypoint.sh
  docker-compose/sqlserver/run-init.sh
  scripts/make/test-infrastructure.mk
  server/tests-hspec/README.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add auto clean form on events tab
  console/src/components/Services/AllowList/AllowListDetail.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/EventTriggers/Add/CreateETForm.tsx
  console/src/components/Services/Events/EventTriggers/Common/AutoCleanupForm.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/state.ts
  console/src/components/Services/Events/ServerIO.ts
  console/src/components/Services/Events/types.ts
  console/src/features/AllowLists/components/AllowListSidebar/AllowListSidebarHeader.tsx
  console/src/metadata/queryUtils.ts
  console/src/metadata/selector.ts
  console/src/metadata/types.ts
  console/src/new-components/DropdownButton/DropdownButton.stories.tsx
  console/src/new-components/DropdownButton/DropdownButton.tsx
  console/src/new-components/DropdownButton/index.ts
  console/src/new-components/DropdownMenu/Dropdown.stories.mdx
  console/src/new-components/InputSetionWithoutForm/InputSection.tsx
  console/src/new-components/InputSetionWithoutForm/index.tsx
  console/src/new-components/Switch/Switch.tsx
Owners: @hasura/hge-console-owners

server: Rename AltJ to ViaJSON
  server/lib/pg-client-hs/src/Database/PG/Query/Class.hs
  server/lib/pg-client-hs/test/Jsonb.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Prepare.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Subscription.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Catalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/Server/Migrate/Internal.hs
Owners: @hasura/hge-server

server: fix bug when streaming subscription cursor has custom name
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/tests-py/queries/subscriptions/streaming/setup.yaml
  server/tests-py/queries/subscriptions/streaming/teardown.yaml
  server/tests-py/test_subscriptions.py
Owners: @hasura/hge-server

server/docs: event trigger log cleanup | remove default for `clear_older_than`
  docs/docs/api-reference/metadata-api/event-triggers.mdx
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/event-triggers/clean-up/auto-cleanup.mdx
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

docs: event trigger auto cleanup usage docs
  docs/docs/event-triggers/clean-up/auto-cleanup.mdx
  docs/docs/event-triggers/clean-up/index.mdx
  docs/docs/event-triggers/index.mdx
  docs/static/img/event-triggers/auto-cleanup.png
Owners: @hasura/hge-docs-owners

docs: add heroku migration page to cloud db guides
  docs/docs/databases/connect-db/cloud-databases/heroku.mdx
  docs/docs/databases/connect-db/cloud-databases/railway.mdx
  docs/docs/databases/connect-db/cloud-databases/render.mdx
  docs/docs/databases/connect-db/cloud-databases/timescale-cloud.mdx
  docs/docs/databases/connect-db/cloud-databases/yugabyte.mdx
  docs/docs/projects/heroku-url-sync.mdx
Owners: @hasura/hge-docs-owners

fix (console): update @hasura/dc-agents-types dependency to 0.6.0
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/DataSources/DataSourceFormWrapper.tsx
  console/src/features/ConnectDB/hooks/useAvailableDrivers.ts
  console/src/features/DataSource/cockroach/index.ts
  console/src/features/DataSource/gdc/introspection/getDatabaseConfiguration.ts
  console/src/features/DataSource/types.ts
Owners: @hasura/hge-console-owners

docs: Adds observability best practices 1.0 to own branch
  docs/docs/guides/best-practices-for-production/index.mdx
  docs/docs/guides/best-practices-for-production/observability.mdx
  docs/docs/guides/best-practices-for-production/observability.mdx.wip
Owners: @hasura/hge-docs-owners

docs: event trigger log cleanup | update image
  docs/docs/event-triggers/clean-up/auto-cleanup.mdx
  docs/static/img/event-triggers/auto-cleanup.png
Owners: @hasura/hge-docs-owners

console: add neon banner for onboarding wizard
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.stories.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/features/OnboardingWizard/components/NeonConnectBanner/NeonBanner.stories.tsx
  console/src/features/OnboardingWizard/components/NeonConnectBanner/NeonBanner.tsx
  console/src/features/OnboardingWizard/components/NeonConnectBanner/NeonIcon.tsx
Owners: @hasura/hge-console-owners

docs: event trigger auto cleanup api docs
  docs/docs/api-reference/metadata-api/event-triggers.mdx
  docs/docs/api-reference/metadata-api/index.mdx
  docs/docs/api-reference/syntax-defs.mdx
Owners: @hasura/hge-docs-owners

console docs: add docs for role based allow list
  docs/docs/security/allow-list.mdx
  docs/static/img/api-explorer/allowlist-manager.png
  docs/static/img/api-explorer/role-based-allow-list.png
  docs/static/img/api-explorer/upload-operation.png
  docs/static/img/api-explorer/write-operation.png
Owners: @hasura/hge-docs-owners

docs: remove custom-docker-images from deployment and references
  docs/docs/deployment/custom-docker-images.mdx
  docs/docs/deployment/deployment-guides/index.mdx
  docs/docs/deployment/index.mdx
Owners: @hasura/hge-docs-owners

Rename DataConnector cross_table capability to subquery
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/index.ts
  dc-agents/dc-api-types/src/models/ComparisonCapabilities.ts
  dc-agents/dc-api-types/src/models/SubqueryComparisonCapabilities.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/capabilities.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/capabilities.ts
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
  server/tests-dc-api/Test/QuerySpec.hs
  server/tests-dc-api/Test/QuerySpec/FilteringSpec.hs
  server/tests-dc-api/Test/QuerySpec/RelationshipsSpec.hs
  server/tests-hspec/Harness/Backend/DataConnector/MockAgent.hs
  server/tests-hspec/Harness/Test/BackendType.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: import local Postgres modules as Postgres
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Node.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DML/Types.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-test/Hasura/Backends/Postgres/RQLGenerator/GenAssociatedTypes.hs
Owners: @hasura/hge-server

docs: add support for showing section local TOC
  docs/docs/actions/create.mdx
  docs/docs/actions/rest-connectors.mdx
  docs/docs/api-reference/cloud-api-reference.mdx
  docs/docs/auth/authorization/permission-rules.mdx
  docs/docs/deployment/deployment-guides/heroku.mdx
  docs/docs/deployment/production-checklist.mdx
  docs/docs/event-triggers/create-trigger.mdx
  docs/docs/event-triggers/rest-connectors.mdx
  docs/docs/migrations-metadata-seeds/legacy-configs/config-v2/reference/metadata-format.mdx
  docs/docs/mutations/postgres/update.mdx
  docs/src/theme/TOCItems/index.js
  docs/wiki/rst-vs-mdx-guide/table-of-contents.mdx
Owners: @hasura/hge-docs-owners

docs: Clarify Cloud project time limit note
  docs/docs/security/api-limits.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.13.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console: add quick add to query collections modal
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/QueryCollectionOperationDialog.tsx
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/QuickAdd.tsx
Owners: @hasura/hge-console-owners

docs: remove beta references for ee
  docs/docs/enterprise/getting-started/index.mdx
  docs/docs/enterprise/getting-started/quickstart-aws-ecs.mdx
  docs/docs/enterprise/getting-started/quickstart-docker.mdx
  docs/docs/enterprise/getting-started/quickstart-google-cloud-run.mdx
  docs/docs/enterprise/getting-started/quickstart-kubernetes.mdx
  docs/docs/enterprise/upgrade-ce-to-ee.mdx
Owners: @hasura/hge-docs-owners

server: event trigger log cleanup | rename `start_event_trigger_cleanups` API
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
Owners: @hasura/hge-server

console: add hidden database creation flow for Neon integration
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/utils.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/ConnectDBScreen/ConnectDBScreen.stories.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.stories.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/assets/neon_banner.png
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraDatasource.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonDatabase.test.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonDatabase.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonOAuth.test.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonOAuth.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/index.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/utils.ts
  console/src/components/Services/Data/DataSources/tabs.tsx
  console/src/features/TracingTools/sentry/core/captureException.ts
  console/src/features/TracingTools/sentry/sentry.ts
Owners: @hasura/hge-console-owners

Docs: Improve Permission rules including disable root fields doc
  docs/docs/auth/authorization/disabling-root-fields.mdx
  docs/docs/auth/authorization/index.mdx
  docs/docs/auth/authorization/permission-rules.mdx
  docs/static/img/auth/allow-backends-only_console_2.10.1.png
  docs/static/img/auth/disable-all-root-fields_console_2.11.1.png
  docs/static/img/auth/disable-root-fields_console_2.11.1.png
  docs/static/img/auth/disable-select-root-fields_console_2.11.1.png
  docs/static/img/auth/disable-subscription-root-fields_console_2.11.1.png
  docs/static/img/auth/set_column_preset_console_2.10.1.png
Owners: @hasura/hge-docs-owners

Replace `Hasura.RQL.Types.Numeric` with `refined`
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Base/Instances.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Options.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-lib/Hasura/RQL/Types/Numeric.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-test/Data/NumericSpec.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: add supabase and enterprisedb guides
  docs/docs/databases/connect-db/cloud-databases/enterprisedb.mdx
  docs/docs/databases/connect-db/cloud-databases/gcp.mdx
  docs/docs/databases/connect-db/cloud-databases/heroku.mdx
  docs/docs/databases/connect-db/cloud-databases/index.mdx
  docs/docs/databases/connect-db/cloud-databases/railway.mdx
  docs/docs/databases/connect-db/cloud-databases/render.mdx
  docs/docs/databases/connect-db/cloud-databases/supabase.mdx
  docs/docs/databases/connect-db/cloud-databases/timescale-cloud.mdx
  docs/docs/databases/connect-db/cloud-databases/yugabyte.mdx
  docs/static/img/cloud-dbs/big-animal/big-animal-cluster-name-password.png
  docs/static/img/cloud-dbs/big-animal/big-animal-cluster-ready.png
  docs/static/img/cloud-dbs/big-animal/big-animal-cluster-type-provider.png
  docs/static/img/cloud-dbs/big-animal/big-animal-cluster-type-region.png
  docs/static/img/cloud-dbs/big-animal/big-animal-connect-db.png
  docs/static/img/cloud-dbs/big-animal/big-animal-connection-parameters.png
  docs/static/img/cloud-dbs/big-animal/big-animal-create-new-cluster.png
  docs/static/img/cloud-dbs/big-animal/big-animal-provisioning.png
  docs/static/img/cloud-dbs/big-animal/big-animal-storage-networking.png
  docs/static/img/cloud-dbs/big-animal/big-animal-test-drive.png
  docs/static/img/cloud-dbs/logos/enterprisedb.png
  docs/static/img/cloud-dbs/logos/supabase.png
  docs/static/img/cloud-dbs/supabase/supabase-connected-db.png
  docs/static/img/cloud-dbs/supabase/supabase-copy-uri.png
  docs/static/img/cloud-dbs/supabase/supabase-create-new-organization.png
  docs/static/img/cloud-dbs/supabase/supabase-create-new-project-confirm.png
  docs/static/img/cloud-dbs/supabase/supabase-create-new-project.png
  docs/static/img/cloud-dbs/supabase/supabase-dashboard-provisioning.png
  docs/static/img/cloud-dbs/supabase/supabase-dashboard-ready.png
  docs/static/img/cloud-dbs/supabase/supabase-dashboard-settings.png
  docs/static/img/cloud-dbs/supabase/supabase-database-view.png
  docs/static/img/cloud-dbs/supabase/supabase-new-organization-name.png
  docs/static/img/getting-started/project-manage.png
Owners: @hasura/hge-docs-owners

Docs: Fix dedicated VPC available on (Small)
  docs/docs/deployment/hasura-cloud/dedicated-vpc.mdx
Owners: @hasura/hge-docs-owners

console: GQL Customization while tracking a table
  console/.eslintrc
  console/console.code-workspace
  console/src/components/Common/utils/delayAsyncAction.ts
  console/src/components/Services/Data/Schema/tableTrackCustomization/TableTrackingCustomizationContainer.tsx
  console/src/components/Services/Data/Schema/tableTrackCustomization/TableTrackingCustomizationForm.tsx
  console/src/components/Services/Data/Schema/tableTrackCustomization/TableTrackingCustomizationModal.tsx
  console/src/components/Services/Data/Schema/tableTrackCustomization/__tests__/utils.spec.ts
  console/src/components/Services/Data/Schema/tableTrackCustomization/types.d.ts
  console/src/components/Services/Data/Schema/tableTrackCustomization/utils.ts
  console/src/features/Data/TrackTables/components/RenderTableRow.tsx
  console/src/features/Data/TrackTables/components/TableRow.tsx
  console/src/features/Data/TrackTables/components/TrackedTables.tsx
  console/src/features/Data/TrackTables/components/UntrackedTables.tsx
  console/src/features/Data/TrackTables/hooks/buildTrackingQuery.ts
  console/src/features/Data/TrackTables/hooks/useTables.ts
  console/src/features/Data/TrackTables/hooks/useTrackSelectedTables.ts
  console/src/features/Data/TrackTables/hooks/useTrackTable.ts
  console/src/features/Data/TrackTables/hooks/useUntrackTable.ts
  console/src/features/Data/TrackTables/types.ts
  console/src/features/Data/index.tsx
  console/src/features/DataSource/index.ts
  console/src/features/MetadataAPI/metadataTypes/source/table.ts
  console/src/new-components/DropdownMenu/DropdownMenu.tsx
  dc-agents/reference/src/data/index.ts
  frontend/libs/console/legacy-oss/src/lib/features/DataSource/index.ts
Owners: @hasura/hge-console-owners, @hasura/hge-changelog-owners

console: integrate redux into the new filters section component
  console/src/components/Services/Data/TableBrowseRows/FilterActions.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/utils.ts
  console/src/dataSources/index.ts
  console/src/features/BrowseRows/FiltersSection/FilterRows.tsx
  console/src/features/BrowseRows/FiltersSection/FiltersSection.tsx
  console/src/features/BrowseRows/FiltersSection/FiltersSectionContainer.tsx
  console/src/features/BrowseRows/FiltersSection/FiltersSectionContainer.utils.test.ts
  console/src/features/BrowseRows/FiltersSection/FiltersSectionContainer.utils.ts
  console/src/features/BrowseRows/FiltersSection/SortRows.tsx
  console/src/features/BrowseRows/FiltersSection/hooks/useFilterRows.ts
  console/src/features/BrowseRows/FiltersSection/hooks/useSortRows.ts
  console/src/features/BrowseRows/FiltersSection/hooks/useTableColumns.ts
  console/src/features/BrowseRows/FiltersSection/hooks/useTableName.ts
  console/src/features/BrowseRows/FiltersSection/hooks/useTableSchema.ts
  console/src/features/BrowseRows/FiltersSection/types.ts
  console/src/features/BrowseRows/index.tsx
  console/src/features/Data/index.tsx
  console/src/new-components/PaginationWithOnlyNav/PaginationWithOnlyNavContainer.tsx
Owners: @hasura/hge-console-owners

server/tests-py: Support MSSQL and Citus with run.sh and run-new.sh.
  server/tests-py/docker-compose.yml
  server/tests-py/run-new.sh
  server/tests-py/run.sh
Owners: @hasura/hge-server

console: introduce a generalised useNeonIntegration hook
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.stories.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonIntegration.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/index.tsx
  console/src/features/OnboardingWizard/components/NeonConnectBanner/NeonBanner.stories.tsx
  console/src/features/OnboardingWizard/components/NeonConnectBanner/NeonBanner.tsx
Owners: @hasura/hge-console-owners

console: fix export to CSV
  console/src/components/Common/utils/jsUtils.test.ts
  console/src/components/Common/utils/jsUtils.tsx
Owners: @hasura/hge-console-owners

docs: add data source config explanation for local dev
  docs/docs/projects/environments.mdx
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
