Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Add documentation for `bulk_keep_going`
  docs/docs/api-reference/metadata-api/index.mdx
Owners: @hasura/hge-docs-owners

Document `concurrent_bulk`
  docs/docs/api-reference/metadata-api/index.mdx
Owners: @hasura/hge-docs-owners

Update documentation for main.
  server/haddock/main/Hasura-RQL-DDL-Schema-Source.html
  server/haddock/main/src/Hasura.App.html
  server/haddock/main/src/Hasura.Backends.BigQuery.Execute.html
  server/haddock/main/src/Hasura.Backends.BigQuery.Instances.Execute.html
  server/haddock/main/src/Hasura.Backends.BigQuery.Meta.html
  server/haddock/main/src/Hasura.Backends.BigQuery.Parser.Scalars.html
  server/haddock/main/src/Hasura.Backends.MSSQL.Meta.html
  server/haddock/main/src/Hasura.GraphQL.Execute.RemoteJoin.RemoteSchema.html
  server/haddock/main/src/Hasura.GraphQL.Schema.NamingCase.html
  server/haddock/main/src/Hasura.LogicalModel.Metadata.html
  server/haddock/main/src/Hasura.Metadata.DTO.Placeholder.html
  server/haddock/main/src/Hasura.RQL.DDL.DataConnector.html
  server/haddock/main/src/Hasura.RQL.DDL.FeatureFlag.html
  server/haddock/main/src/Hasura.RQL.DDL.Metadata.Types.html
  server/haddock/main/src/Hasura.RQL.DDL.QueryCollection.html
  server/haddock/main/src/Hasura.RQL.DDL.Relationship.Suggest.html
  server/haddock/main/src/Hasura.RQL.DDL.Schema.Source.html
  server/haddock/main/src/Hasura.RQL.DDL.SourceKinds.html
  server/haddock/main/src/Hasura.RQL.DDL.Warnings.html
  server/haddock/main/src/Hasura.RQL.DDL.Webhook.Transform.Request.html
  server/haddock/main/src/Hasura.RQL.DDL.Webhook.Transform.Response.html
  server/haddock/main/src/Hasura.RQL.DDL.Webhook.Transform.html
  server/haddock/main/src/Hasura.RQL.Types.EECredentials.html
  server/haddock/main/src/Hasura.RQL.Types.Metadata.Serialization.html
  server/haddock/main/src/Hasura.RQL.Types.OpenTelemetry.html
  server/haddock/main/src/Hasura.SQL.BackendMap.html
  server/haddock/main/src/Hasura.SQL.Value.html
  server/haddock/main/src/Hasura.Server.CheckUpdates.html
  server/haddock/main/src/Hasura.Server.Init.Config.html
  server/haddock/main/src/Hasura.Server.Init.Env.html
  server/haddock/main/src/Hasura.Server.Init.Logging.html
  server/haddock/main/src/Hasura.Server.Migrate.Internal.html
  server/haddock/main/src/Hasura.Server.Migrate.Version.html
  server/haddock/main/src/Hasura.Server.Migrate.html
  server/haddock/main/src/Hasura.Server.Telemetry.Counters.html
  server/haddock/main/src/Hasura.Server.Telemetry.Types.html
  server/haddock/main/src/Hasura.Server.Telemetry.html
Owners: @hasura/hge-server

docs: fix versionedlink on homepage
  docs/docs/index.mdx
Owners: @hasura/hge-docs-owners

frontend: remove clientID check for cloud users
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
Owners: @hasura/hge-changelog-owners

ci: update latest stable release as v2.24.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

console: Track/Untrack functions (postgres only) from the new tracking UI
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/components/FunctionDisplayName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/components/UntrackedFunctions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/components/UntrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/hooks/useTrackFunction.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/FunctionDisplayName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/ManageTrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/UntrackedFunctions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/UntrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/hooks/useTrackedFunctions.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/hooks/useUntrackedFunctions.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/PageSizeDropdown.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackableListMenu.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackableResourceTabs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/UntrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/buildTrackingQuery.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/useCheckRows.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/usePaginatedSearchableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/components/DisplayErrorMessage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/errorUtils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useDriverCapabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackFunction.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackableFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/capabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/types.ts
  frontend/package.json
Owners: @hasura/hge-changelog-owners

frontend: remove clientID check for cloud users
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
Owners: @hasura/hge-changelog-owners

fix: turn off window refocus queries on surveys
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/hooks/useSurveysData.ts
Owners: @hasura/hge-changelog-owners

hotfix: consistent mysql gdc connector name
  frontend/docker/default_metadata.json
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDatabase.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SetupConnector/hooks/useSuperConnectorAgents.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/mocks/data.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/export_metadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/introspection.ts
  install-manifests/enterprise/mysql/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

chore(server): skeleton Postgres GDC agent
  cabal.project
Owners: @hasura/hge-changelog-owners

console: : e2e snapshot testing for cron triggers
  frontend/apps/console-ce-e2e/src/e2e/cron-triggers/__snapshots__/cron.test.ts.snap
  frontend/apps/console-ce-e2e/src/e2e/cron-triggers/cron.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/CronTriggers/Landing.tsx
Owners: @hasura/hge-changelog-owners

chore(server): copy pasta Stored Procedures
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Helpers.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/IR/Select/From.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/StoredProcedure/API.hs
  server/src-lib/Hasura/StoredProcedure/Cache.hs
  server/src-lib/Hasura/StoredProcedure/IR.hs
  server/src-lib/Hasura/StoredProcedure/Metadata.hs
  server/src-lib/Hasura/StoredProcedure/Schema.hs
  server/src-lib/Hasura/StoredProcedure/Types.hs
Owners: @hasura/hge-server

chore(server): make native queries pro-only
  scripts/make/tests.mk
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Queries/NativeQueriesSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Services/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Subscriptions.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Config.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add breadcrumbs component
  frontend/libs/console/legacy-ce/src/lib/new-components/Breadcrumbs/BreadcrumbItemView.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Breadcrumbs/Breadcrumbs.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Breadcrumbs/Breadcrumbs.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Breadcrumbs/index.ts
Owners: @hasura/hge-changelog-owners

console: add debug prop to form to access dev tools
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/SimpleForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/hooks/form.types.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/hooks/useConsoleForm.tsx
Owners: @hasura/hge-changelog-owners

console: fix missing 3rd-party sso login buttons (#8985)
  frontend/libs/console/legacy-ee/src/lib/components/Login/AdminSecretLogin.js
  frontend/libs/console/legacy-ee/src/lib/components/Login/Login.js
  frontend/libs/console/legacy-ee/src/lib/components/Login/SSOLogin.js
  frontend/libs/console/legacy-ee/src/lib/components/Login/SSOLoginButton.tsx
Owners: @hasura/hge-changelog-owners

chore(tooling): fix make test-integration-mssql
  scripts/make/tests.mk
Owners: @hasura/hge-changelog-owners

console: fix missing 3rd-party sso login buttons (#8985)
  frontend/libs/console/legacy-ee/src/lib/components/Login/AdminSecretLogin.js
  frontend/libs/console/legacy-ee/src/lib/components/Login/Login.js
  frontend/libs/console/legacy-ee/src/lib/components/Login/SSOLogin.js
  frontend/libs/console/legacy-ee/src/lib/components/Login/SSOLoginButton.tsx
Owners: @hasura/hge-changelog-owners

Remove `RQL.Types` -> `RQL.DDL` dependencies
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Class.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Headers.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Method.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/QueryParams.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Request.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Url.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Validation.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/Class.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/Headers.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/Method.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/QueryParams.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/Request.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/Url.hs
  server/src-lib/Hasura/RQL/Types/Webhook/Transform/WithOptional.hs
Owners: @hasura/hge-server

multitenant: fix to dynamically update the metrics endpoint
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

multitenant: fix to dynamically update the metrics endpoint
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

ci: tag release v2.24.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

docs: add pointers on mysql and mariadb index pages
  docs/docs/databases/mariadb/cloud.mdx
  docs/docs/databases/mariadb/docker.mdx
  docs/docs/databases/mariadb/index.mdx
  docs/docs/databases/mysql/cloud.mdx
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/mysql/index.mdx
  docs/docs/databases/oracle/cloud.mdx
  docs/docs/databases/oracle/docker.mdx
  docs/docs/databases/oracle/index.mdx
  docs/docs/databases/snowflake/index.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.24.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

chore(server): add Logical Models count to telemetry
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Telemetry/Types.hs
Owners: @hasura/hge-server

server/upgrade-tests: Tests that ensure that HGE upgrades successfully.
  cabal.project.freeze
  scripts/make/tests.mk
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Http.hs
  server/lib/upgrade-tests/introspection.gql
  server/lib/upgrade-tests/src/Hasura/UpgradeTests/Database.hs
  server/lib/upgrade-tests/src/Hasura/UpgradeTests/Dataset.hs
  server/lib/upgrade-tests/src/Hasura/UpgradeTests/Options.hs
  server/lib/upgrade-tests/src/Hasura/UpgradeTests/Server.hs
  server/lib/upgrade-tests/src/Main.hs
  server/lib/upgrade-tests/upgrade-tests.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Stored procedures api commands
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadatautil/testdata/json/t2/metadata.json
  cli/internal/metadatautil/testdata/json/t2/want.metadata.yaml
  metadata.openapi.json
  scripts/make/tests.mk
  server/lib/test-harness/src/Harness/Schema.hs
  server/lib/test-harness/src/Harness/Schema/NativeQuery.hs
  server/lib/test-harness/src/Harness/Schema/StoredProcedure.hs
  server/lib/test-harness/src/Harness/Schema/Table.hs
  server/lib/test-harness/test-harness.cabal
  server/src-lib/Hasura/Backends/MSSQL/Instances/API.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata/Types.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/StoredProcedure/API.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
Owners: @hasura/hge-cli-owners, @hasura/hge-changelog-owners, @hasura/hge-server

chore(server): remove Template Haskell from Hasura.Function
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/DDL/Function.hs
  server/src-lib/Hasura/Function/Cache.hs
  server/src-lib/Hasura/Function/Common.hs
  server/src-lib/Hasura/Function/Lenses.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
Owners: @hasura/hge-server

chore(server): add telemetry for Stored Procedures
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Telemetry/Types.hs
Owners: @hasura/hge-server

ci: update latest stable release as v2.24.1
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

chore(server): remove TH aeson, separate lenses, in Hasura.RQL.DDL
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/Action/Lenses.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/QueryTags.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

chore(server): move template haskell out of more Hasura.RQL folders
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DML/Types.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/BoolExp/Lenses.hs
Owners: @hasura/hge-server

refactor(cleanup): extract nullablescalartype
  server/graphql-engine.cabal
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/LogicalModel/NullableScalarType.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-lib/Hasura/StoredProcedure/Types.hs
Owners: @hasura/hge-server

chore(server): add link-type to Logical Model references
  server/lib/test-harness/src/Harness/Schema/LogicalModel.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Types.hs
Owners: @hasura/hge-server

ci: update latest stable release as v2.24.1
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

Remove reference to custom types
  server/src-lib/Hasura/LogicalModel/API.hs
Owners: @hasura/hge-server

CI: Use "12345" for the server version instead of generating one.
  cli/version/version_test.go
  scripts/get-version.sh
Owners: @hasura/hge-cli-owners, @hasura/hge-changelog-owners

Update documentation for main.
  server/haddock/main/src/Hasura.LogicalModel.API.html
Owners: @hasura/hge-server

chore(server): split Logical Model lenses into files
  server/graphql-engine.cabal
  server/src-lib/Hasura/LogicalModel/Cache.hs
  server/src-lib/Hasura/LogicalModel/Lenses.hs
  server/src-lib/Hasura/NativeQuery/Cache.hs
  server/src-lib/Hasura/NativeQuery/Lenses.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/StoredProcedure/Cache.hs
  server/src-lib/Hasura/StoredProcedure/Lenses.hs
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
