Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Move `CompatibilityConfig` into own crate (#994)
  v3/crates/compatibility/Cargo.toml
  v3/crates/compatibility/src/compatibility_date.rs
  v3/crates/compatibility/src/config.rs
  v3/crates/compatibility/src/lib.rs
Owners: @hasura/hge-changelog-owners

More compatibility validation types (#996)
  v3/crates/compatibility/Cargo.toml
  v3/crates/compatibility/src/config.rs
  v3/crates/compatibility/src/lib.rs
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.43.0-beta.1 and v2.36.8
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release for v2.43.0-beta.1 and v2.36.8
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.43.0-beta.1
  releases/v2.43
Owners: @hasura/hge-changelog-owners

ci: release v2.43.0-beta.1-ce
  releases/v2.43-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.43.0-beta.1-cloud.1
  releases/v2.43-cloud.1
Owners: @hasura/hge-changelog-owners

Use v3.0.0 as the version number. (#999)
  v3/Cargo.lock
  v3/Cargo.toml
Owners: @hasura/hge-changelog-owners

Update to Rust v1.80.1. (#1002)
  v3/Cargo.lock
  v3/Dockerfile
  v3/custom-connector.Dockerfile
  v3/dev-auth-webhook.Dockerfile
  v3/flake.lock
  v3/rust-toolchain.toml
Owners: @hasura/hge-changelog-owners

console: fix docs link for OTEL exporter
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Form/Form.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Header/Hero/HeroDisabled.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Header/Hero/HeroEnabled.tsx
Owners: @hasura/hge-changelog-owners

Release v2024.08.22 (#1004)
  v3/changelog.md
Owners: @hasura/hge-changelog-owners

Optional CompatibilityConfig for `v3-engine` (#998)
  v3/Cargo.lock
  v3/changelog.md
  v3/crates/compatibility/Cargo.toml
  v3/crates/compatibility/src/config.rs
  v3/crates/compatibility/src/error.rs
  v3/crates/compatibility/src/lib.rs
  v3/crates/compatibility/src/types.rs
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/tests/common.rs
  v3/crates/metadata-resolve/src/types/configuration.rs
  v3/crates/metadata-resolve/tests/metadata_golden_tests.rs
  v3/justfile
  v3/static/compatibility/compatibility_config.json
Owners: @hasura/hge-changelog-owners

Docs: Fix favicon
  docs/docusaurus.config.js
Owners: @hasura/hge-docs-owners

Revert "Optional CompatibilityConfig for `v3-engine`" (#1006)
  v3/Cargo.lock
  v3/changelog.md
  v3/crates/compatibility/Cargo.toml
  v3/crates/compatibility/src/config.rs
  v3/crates/compatibility/src/error.rs
  v3/crates/compatibility/src/lib.rs
  v3/crates/compatibility/src/types.rs
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/tests/common.rs
  v3/crates/metadata-resolve/src/types/configuration.rs
  v3/crates/metadata-resolve/tests/metadata_golden_tests.rs
  v3/justfile
  v3/static/compatibility/compatibility_config.json
Owners: @hasura/hge-changelog-owners

user facing span for plugin execution (#1008)
  v3/crates/plugins/pre-execution-plugin/src/execute.rs
Owners: @hasura/hge-changelog-owners

Pass `Configuration` by reference, for clearer intent (#1010)
  v3/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/build.rs
  v3/crates/engine/tests/common.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/relationships/mod.rs
  v3/crates/metadata-resolve/src/types/configuration.rs
  v3/crates/metadata-resolve/tests/metadata_golden_tests.rs
  v3/crates/schema/src/lib.rs
Owners: @hasura/hge-changelog-owners

Promote warnings to errors based on flags (#1011)
  v3/crates/metadata-resolve/src/stages/data_connectors/error.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/types/error.rs
  v3/crates/metadata-resolve/src/types/warning.rs
  v3/crates/metadata-resolve/tests/failing/data_connector_link/invalid_ndc_v01_capabilities_version_failing_with_error/metadata.json
  v3/crates/metadata-resolve/tests/failing/data_connector_link/invalid_ndc_v01_capabilities_version_failing_with_error/resolve_error.snap
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/flags.rs
Owners: @hasura/hge-changelog-owners

Add support order by nested fields (#1001)
  v3/crates/custom-connector/src/query.rs
  v3/crates/engine/tests/execute/models/select_many/order_by/nested/expected.json
  v3/crates/engine/tests/execute/models/select_many/order_by/nested/metadata.json
  v3/crates/engine/tests/execute/models/select_many/order_by/nested/request.gql
  v3/crates/engine/tests/execute/models/select_many/order_by/nested/session_variables.json
  v3/crates/engine/tests/execute/models/select_many/order_by/with_model_v2/expected.json
  v3/crates/engine/tests/execute/models/select_many/order_by/with_model_v2/metadata.json
  v3/crates/engine/tests/execute/models/select_many/order_by/with_model_v2/request.gql
  v3/crates/engine/tests/execute/models/select_many/order_by/with_model_v2/session_variables.json
  v3/crates/engine/tests/execution.rs
  v3/crates/execute/src/query_usage.rs
  v3/crates/ir/src/order_by.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/models_graphql/graphql.rs
  v3/crates/metadata-resolve/src/stages/models_graphql/types.rs
  v3/crates/metadata-resolve/src/stages/order_by_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/order_by_expressions/types.rs
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/relationship/resolved.snap
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/root_field/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/nested_object/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
  v3/crates/metadata-resolve/tests/passing/missing_subgraph_when_ignoring_unknown_subgraphs/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/all_args_are_set_including_connector_link_presets/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/issue_when_not_all_arguments_defined/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v1_upgrade/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_with_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/nested/resolved.snap
  v3/crates/schema/src/lib.rs
  v3/crates/schema/src/model_order_by.rs
  v3/crates/schema/src/types.rs
Owners: @hasura/hge-changelog-owners

server: compress OTLP export transport
  server/src-lib/Hasura/Server/Compression.hs
Owners: @hasura/hge-server

ci: tag release v2.43.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Abstract over the binaries in flake.nix. (#1012)
  v3/flake.nix
  v3/justfile
  v3/nix/docker.nix
Owners: @hasura/hge-changelog-owners

ci: tag release v2.43.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.43.0
  releases/v2.43.0
Owners: @hasura/hge-changelog-owners

ci: release v2.43.0-ce
  releases/v2.43.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.43.0-cloud.1
  releases/v2.43.0-cloud.1
Owners: @hasura/hge-changelog-owners

Use ndc-models 0.1.6 (#1013)
  v3/Cargo.lock
  v3/Cargo.toml
Owners: @hasura/hge-changelog-owners

Build Cloud services with Nix. (#1019)
  v3/flake.nix
  v3/nix/app.nix
Owners: @hasura/hge-changelog-owners

[PACHA-25] Aggregate pushdown for COUNT (#1021)
  v3/crates/engine/tests/sql.rs
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines/expected.json
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines/plan.json
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines/query.sql
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines/session_variables.json
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines_aliased/expected.json
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines_aliased/plan.json
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines_aliased/query.sql
  v3/crates/engine/tests/sql/aggregate/count_all_invoice_lines_aliased/session_variables.json
  v3/crates/engine/tests/sql/aggregate/count_distinct/expected.json
  v3/crates/engine/tests/sql/aggregate/count_distinct/plan.json
  v3/crates/engine/tests/sql/aggregate/count_distinct/query.sql
  v3/crates/engine/tests/sql/aggregate/count_distinct/session_variables.json
  v3/crates/engine/tests/sql/aggregate/count_invoice_lines/expected.json
  v3/crates/engine/tests/sql/aggregate/count_invoice_lines/plan.json
  v3/crates/engine/tests/sql/aggregate/count_invoice_lines/query.sql
  v3/crates/engine/tests/sql/aggregate/count_nested_field/expected.json
  v3/crates/engine/tests/sql/aggregate/count_nested_field/plan.json
  v3/crates/engine/tests/sql/aggregate/count_nested_field/query.sql
  v3/crates/engine/tests/sql/aggregate/count_nested_field/session_variables.json
  v3/crates/engine/tests/sql/aggregate/count_no_pushdown/expected.json
  v3/crates/engine/tests/sql/aggregate/count_no_pushdown/plan.json
  v3/crates/engine/tests/sql/aggregate/count_no_pushdown/query.sql
  v3/crates/engine/tests/sql/aggregate/count_no_pushdown/session_variables.json
  v3/crates/engine/tests/sql/introspection/columns/expected.json
  v3/crates/engine/tests/sql/introspection/hasura_table_metadata/expected.json
  v3/crates/engine/tests/sql/introspection/struct_types/expected.json
  v3/crates/engine/tests/sql/introspection/tables/expected.json
  v3/crates/engine/tests/sql/metadata.json
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/execute/optimizer.rs
  v3/crates/sql/src/execute/optimizer/aggregate_pushdown.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: @hasura/hge-changelog-owners

nix/ci: checking if adding bash/sh helps with multitenant docker (#1022)
  v3/nix/docker.nix
Owners: @hasura/hge-changelog-owners

Add graceful shutdown to all cloud servers (#1023)
  v3/Cargo.lock
  v3/crates/auth/dev-auth-webhook/Cargo.toml
  v3/crates/auth/dev-auth-webhook/src/main.rs
  v3/crates/custom-connector/Cargo.toml
  v3/crates/custom-connector/src/main.rs
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/utils/axum-ext/Cargo.toml
  v3/crates/utils/axum-ext/README.md
  v3/crates/utils/axum-ext/src/lib.rs
Owners: @hasura/hge-changelog-owners

OpenDD: add GraphQL API configuration for subscriptions (#1020)
  v3/crates/metadata-resolve/src/stages/graphql_config/mod.rs
  v3/crates/metadata-resolve/src/stages/graphql_config/types.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/model_permission.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/types.rs
  v3/crates/metadata-resolve/src/stages/models_graphql/graphql.rs
  v3/crates/metadata-resolve/src/stages/models_graphql/types.rs
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/relationship/resolved.snap
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/root_field/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/basic/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/nested_object/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/no_graphql/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/two_data_sources/resolved.snap
  v3/crates/metadata-resolve/tests/passing/commands/functions/all_args_are_set_including_connector_link_presets/resolved.snap
  v3/crates/metadata-resolve/tests/passing/commands/functions/issue_when_not_all_arguments_defined/resolved.snap
  v3/crates/metadata-resolve/tests/passing/commands/procedures/all_args_are_set_including_connector_link_presets/resolved.snap
  v3/crates/metadata-resolve/tests/passing/commands/procedures/issue_when_not_all_arguments_defined/resolved.snap
  v3/crates/metadata-resolve/tests/passing/data_connector_link/invalid_ndc_v01_capabilities_version_passing_with_issue/resolved.snap
  v3/crates/metadata-resolve/tests/passing/missing_subgraph_when_ignoring_unknown_subgraphs/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/all_args_are_set_including_connector_link_presets/resolved.snap
  v3/crates/metadata-resolve/tests/passing/models/issue_when_not_all_arguments_defined/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v1_upgrade/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_no_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/model_v2_with_order_by/resolved.snap
  v3/crates/metadata-resolve/tests/passing/order_by_expressions/nested/resolved.snap
  v3/crates/metadata-resolve/tests/passing/simple/resolved.snap
  v3/crates/metadata-resolve/tests/passing/subgraph_valid_name/resolved.snap
  v3/crates/metadata-resolve/tests/passing/supergraph/config_object_in_subgraph/resolved.snap
  v3/crates/metadata-resolve/tests/passing/supergraph/missing/resolved.snap
  v3/crates/metadata-resolve/tests/passing/supergraph/no_subgraphs/metadata.json
  v3/crates/metadata-resolve/tests/passing/supergraph/no_subgraphs/resolved.snap
  v3/crates/metadata-resolve/tests/passing/supergraph/present/resolved.snap
  v3/crates/open-dds/src/graphql_config.rs
  v3/crates/open-dds/src/models.rs
  v3/crates/open-dds/src/permissions.rs
Owners: @hasura/hge-changelog-owners

Expose request type in multitenant metrics (#1009)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/tests/common.rs
  v3/crates/execute/src/explain.rs
  v3/crates/execute/src/lib.rs
Owners: @hasura/hge-changelog-owners

Keep special `SIGTERM` handling for Windows (#1024)
  v3/crates/utils/axum-ext/src/lib.rs
Owners: @hasura/hge-changelog-owners

Make sleep available in Docker images (#1026)
  v3/nix/docker.nix
Owners: @hasura/hge-changelog-owners

Add Exists in Nested Collection to `Expression` type (#1027)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/custom-connector/src/query.rs
  v3/crates/custom-connector/src/schema.rs
  v3/crates/execute/src/explain/predicate.rs
  v3/crates/execute/src/plan/filter.rs
  v3/crates/execute/src/plan/ndc_request/v01.rs
  v3/crates/execute/src/plan/ndc_request/v02.rs
  v3/crates/ir/src/filter/expression.rs
  v3/crates/metadata-resolve/src/ndc_migration/v02.rs
Owners: @hasura/hge-changelog-owners

[PACHA-24] Metrics in the SQL layer (#1029)
  v3/crates/sql/src/execute.rs
  v3/crates/sql/src/execute/planner/command.rs
  v3/crates/sql/src/execute/planner/command/physical.rs
  v3/crates/sql/src/execute/planner/command/physical/function.rs
  v3/crates/sql/src/execute/planner/command/physical/procedure.rs
  v3/crates/sql/src/execute/planner/model.rs
Owners: @hasura/hge-changelog-owners

Docs: Update README
  README.md
Owners: @hasura/hge-changelog-owners

Update rfcs/v3/rest_json_api.md
  rfcs/v3/rest_json_api.md
Owners: @hasura/hge-changelog-owners

Construct empty sql catalog if feature switched off (#1034)
  v3/crates/engine/bin/engine/main.rs
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/introspection.rs
  v3/crates/sql/src/catalog/introspection/foreign_keys.rs
  v3/crates/sql/src/catalog/introspection/struct_type.rs
  v3/crates/sql/src/catalog/introspection/table_metadata.rs
  v3/crates/sql/src/catalog/introspection/table_valued_function.rs
Owners: @hasura/hge-changelog-owners

Make subscriptions unstable feature (#1025)
  v3/crates/engine/src/internal_flags.rs
  v3/crates/engine/tests/common.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/models_graphql/graphql.rs
  v3/crates/metadata-resolve/src/stages/models_graphql/mod.rs
  v3/crates/metadata-resolve/src/types/configuration.rs
  v3/crates/metadata-resolve/src/types/error.rs
  v3/crates/metadata-resolve/tests/metadata_golden_tests.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
