Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @marionschleifer, @rikinsk

Enable elm on homepage
  community/learn/graphql-tutorials/backend-services/homepage/src/components/AllState.js
Owners: @shahidhk

Remove docker-compose file
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/docker-compose.yml
Owners: @shahidhk

move table comments in API explorer
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
Owners: @0x777

fix handling missing columns field
  console/src/components/Services/Data/TablePermissions/Actions.js
Owners: @rikinsk

move add table validation funcs
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/AddWarning.js
  console/src/components/Services/Data/Common/GraphQLValidation.js
Owners: @rikinsk

fix react warning
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Owners: @rikinsk

add missing ;
  console/src/components/Services/Data/Add/utils.js
Owners: @rikinsk

display table triggers
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/Add/utils.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/TriggerList.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

getting-started-schema-queries
  docs/graphql/manual/getting-started/docker-simple.rst
  docs/graphql/manual/getting-started/first-event-trigger.rst
  docs/graphql/manual/getting-started/first-graphql-query.rst
  docs/graphql/manual/getting-started/heroku-simple.rst
  docs/graphql/manual/how-it-works/index.rst
  docs/graphql/manual/index.rst
  docs/graphql/manual/queries/custom-functions.rst
  docs/graphql/manual/queries/derived-data.rst
  docs/graphql/manual/queries/distinct-queries.rst
  docs/graphql/manual/queries/multiple-queries.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/queries/sorting.rst
  docs/graphql/manual/schema/basics.rst
  docs/graphql/manual/schema/default-values/column-presets.rst
  docs/graphql/manual/schema/default-values/index.rst
  docs/graphql/manual/schema/default-values/postgres-defaults.rst
  docs/graphql/manual/schema/default-values/sql-functions.rst
  docs/graphql/manual/schema/enums.rst
  docs/graphql/manual/schema/index.rst
  docs/graphql/manual/schema/relationships/create.rst
  docs/graphql/manual/schema/relationships/database-modelling/many-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-one.rst
  docs/graphql/manual/schema/using-existing-database.rst
  docs/graphql/manual/schema/views.rst
Owners: @marionschleifer

mutations-subscriptions-remote-schemas
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/multiple-mutations.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/mutations/upsert.rst
  docs/graphql/manual/remote-schemas/index.rst
  docs/graphql/manual/subscriptions/index.rst
  docs/graphql/manual/subscriptions/use-cases.rst
Owners: @marionschleifer

fix: correct typo in 'Idea #2' section.
  architecture/live-queries.md
Owners: @shahidhk

add -N1 to test console job
  .circleci/config.yml
Owners: @shahidhk

Revert "update manifests to v1.0.0-beta.3"
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/Dockerfile
Owners: @shahidhk

use all available cpu cores by default (#2511)
  .circleci/config.yml
  server/graphql-engine.cabal
Owners: @shahidhk, @0x777

update manifests to v1.0.0-beta.3
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/Dockerfile
Owners: @shahidhk

fix: correct typo in 'Idea #2' section (close#2513) (#2514)
  architecture/live-queries.md
Owners: @shahidhk

event-triggers-authentication-authorization-migrations-metadata
  docs/graphql/manual/auth/authentication/index.rst
  docs/graphql/manual/auth/authentication/jwt.rst
  docs/graphql/manual/auth/authentication/webhook.rst
  docs/graphql/manual/auth/authorization/basics.rst
  docs/graphql/manual/auth/authorization/common-roles-auth-examples.rst
  docs/graphql/manual/auth/authorization/index.rst
  docs/graphql/manual/auth/authorization/permission-rules.rst
  docs/graphql/manual/auth/authorization/roles-variables.rst
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/event-triggers/create-trigger.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/event-triggers/invoke-trigger-console.rst
  docs/graphql/manual/event-triggers/payload.rst
  docs/graphql/manual/event-triggers/samples.rst
  docs/graphql/manual/event-triggers/serverless.rst
  docs/graphql/manual/migrations/advanced/rolling-back-migrations.rst
  docs/graphql/manual/migrations/advanced/writing-migrations-manually.rst
  docs/graphql/manual/migrations/auto-apply-migrations.rst
  docs/graphql/manual/migrations/existing-database.rst
  docs/graphql/manual/migrations/index.rst
  docs/graphql/manual/migrations/manage-metadata.rst
  docs/graphql/manual/migrations/manage-migrations.rst
  docs/graphql/manual/migrations/new-database.rst
  docs/graphql/manual/migrations/reference/how-it-works.rst
  docs/graphql/manual/migrations/reference/metadata-file-format.rst
  docs/graphql/manual/migrations/reference/migration-file-format.rst
Owners: @marionschleifer

Use the event object in trigger payload (#2500)
  docs/graphql/manual/event-triggers/serverless.rst
Owners: @marionschleifer

make no unique key consistent with no fkey
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Owners: @rikinsk

enable reintrospection on header value change
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
Owners: @rikinsk

add Postgres comments to function description
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_17_to_18.sql
Owners: @0x777

show table comment in browse rows
  console/src/components/Common/FilterQuery/FilterQuery.scss
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/EventTrigger/PendingEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/RunningEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewTable.js
Owners: @rikinsk

document v2 track_table API in reference
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/table-view.rst
Owners: @marionschleifer

allow trigger delete
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/TriggerEditorList.js
  console/src/components/Services/Data/TableModify/TriggerList.js
Owners: @rikinsk

fix bug in tic-tac-toe where it displayed a wrong turn
  community/sample-apps/tic-tac-toe-react/client/src/components/Game/Play.js
Owners: @shahidhk

community: fix tic-tac-toe wrong turn bug (#2524)
  community/sample-apps/tic-tac-toe-react/client/src/components/Game/Play.js
Owners: @shahidhk

.
  console/src/components/Services/Data/TableModify/TriggerEditorList.js
Owners: @rikinsk

server: Bump dependencies to allow Haddock to run successfully
  server/stack.yaml
Owners: @0x777

Support casting between PostGIS geometry and geography types in filters
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/queries/query-filters.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geography_to_geometry.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geometry_to_geography.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/teardown.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_cast_geography_to_geometry.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_cast_geometry_to_geography.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/setup.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/teardown.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Owners: @marionschleifer, @0x777

Just finish updating, found some tweaks
  docs/graphql/manual/deployment/heroku/updating.rst
Owners: @marionschleifer

fix grammar
  console/src/components/App/App.js
Owners: @rikinsk

Support casting between PostGIS geometry and geography types in `where` expressions (close #1983) (#2495)
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/queries/query-filters.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/stack.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geography_to_geometry.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geometry_to_geography.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/teardown.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_cast_geography_to_geometry.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_cast_geometry_to_geography.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/setup.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/teardown.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Owners: @marionschleifer, @0x777

update trigger info
  console/src/components/Services/Data/TableModify/TriggerEditorList.js
Owners: @rikinsk

quote updated_at trigger procedure name
  console/src/components/Services/Data/Add/utils.js
Owners: @rikinsk

fix re-introspection on header change in console graphiql (#2522)
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
Owners: @rikinsk

fix valid typecast logicc
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Owners: @rikinsk

add manifests
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
  community/learn/graphql-tutorials/manifests/reason-react-apollo.yaml
  community/learn/graphql-tutorials/remote-hasura.yaml.sample
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/apollo-client.md
Owners: @shahidhk

add metaTitle and metaDescription to tutorial content
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/1-architecture.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/graphiql.gif
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/graphql-api.gif
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/graphql-on-http.png
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/rest-api.png
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/schema.png
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/mutations-variables.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/queries.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/queries/3-handle-errors.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/realtime-feed.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/realtime-feed/1-fetch-public-todos.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/realtime-feed/2-detect-new-todos.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/realtime-feed/3-sync-todos.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/subscriptions/2-apollo-subscription.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/update-delete-mutations.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/update-delete-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/update-delete-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/update-delete-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/update-delete-mutations/4-remove-todos-integration.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/what-next.md
Owners: @shahidhk

fix column valid typecasts logic in console (close #2519) (#2543)
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Owners: @rikinsk

allow adding frequently used columns while creating tables + show table triggers on modify page (closes #1462) (#2240)
  console/src/components/Common/Common.scss
  console/src/components/Common/Dropdown/Dropdown.js
  console/src/components/Common/Dropdown/Dropdown.scss
  console/src/components/Common/FilterQuery/FilterQuery.scss
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/AddWarning.js
  console/src/components/Services/Data/Add/utils.js
  console/src/components/Services/Data/Common/GraphQLValidation.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/TriggerEditorList.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/PendingEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/RunningEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewTable.js
Owners: @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @marionschleifer
/cli/      @shahidhk
/console/  @rikinsk
