Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

fix (console): breaking modify tab for mssql
  console/src/components/Services/Data/TableModify/ModifyTable.js
Owners: @hasura/hge-console-owners

fix: fixed isolated solution to failed bootstrap migration dropdown
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Owners: @hasura/hge-console-owners

console: add new table relationships tab to console
  CHANGELOG.md
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/features/Data/components/DatabaseSelector/DatabaseSelector.tsx
  console/src/features/DataRelationships/DatabaseRelationshipsTab.stories.tsx
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/DataRelationships/__mocks__/constants.ts
  console/src/features/DataRelationships/__mocks__/countries_schema.ts
  console/src/features/DataRelationships/__mocks__/handlers.mock.ts
  console/src/features/DataRelationships/__mocks__/index.ts
  console/src/features/DataRelationships/__mocks__/metadata.ts
  console/src/features/DataRelationships/__mocks__/schema.ts
  console/src/features/DataRelationships/__mocks__/schema_list.ts
  console/src/features/DataRelationships/__mocks__/tables.ts
  console/src/features/DataRelationships/components/Form/Form.stories.tsx
  console/src/features/DataRelationships/components/Form/Form.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/LocalRelationshipWidget.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/RemoteDBRelationshipWidget.tsx
  console/src/features/Datasources/__tests__/__snapshots__/useTableRelationships.test.tsx.snap
  console/src/features/Datasources/__tests__/useTableRelationships.test.tsx
  console/src/features/Datasources/bigquery/hooks/useTableRelationshipsQuery.ts
  console/src/features/Datasources/bigquery/types.ts
  console/src/features/Datasources/citus/types.ts
  console/src/features/Datasources/mssql/types.ts
  console/src/features/Datasources/mysql/types.ts
  console/src/features/Datasources/postgres/types.ts
  console/src/features/Datasources/useTableRelationships.ts
  console/src/features/FeatureFlags/availableFeatureFlags.ts
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useArrayRelationships.ts
  console/src/features/MetadataAPI/hooks/useObjectRelationships.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/DatabaseRelationshipTable.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/DbToRsForm.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/FormElementDbToRs.tsx
  console/src/features/RemoteRelationships/index.ts
  console/src/metadata/queryUtils.ts
  console/src/metadata/types.ts
  console/src/new-components/CardRadioGroup/CardRadioGroup.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Nix: Use `nixpkgs-fmt` to format everything.
  Makefile
  server/STYLE.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Fix up the instructions on testing against BigQuery.
  scripts/verify-bigquery-creds.sh
  server/tests-hspec/README.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: cloud OpenTelemetry integration
  docs/docs/graphql/cloud/metrics/integrations/index.mdx
  docs/docs/graphql/cloud/metrics/integrations/opentelemetry.mdx
  docs/static/img/graphql/cloud/metrics/configure-opentelemetry-done.png
  docs/static/img/graphql/cloud/metrics/configure-opentelemetry-fail.png
  docs/static/img/graphql/cloud/metrics/configure-opentelemetry.png
  docs/static/img/graphql/cloud/metrics/integrate-opentelemetry.png
  docs/static/img/graphql/cloud/metrics/jaeger-trace-flame-graph.png
Owners: @hasura/hge-docs-owners

server: vendor used bits of 'ip' package to cut dependencies
  cabal.project
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Net/IPv4.hs
  server/src-lib/Net/IPv6.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.8.1 and v2.9.0-beta.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/docs: remove references to distinct_on in MSSQL docs
  docs-old/graphql/core/databases/ms-sql-server/queries/index.rst
  docs/docs/graphql/core/databases/ms-sql-server/queries/index.mdx
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

Fix zendesk-5146. Add check for empty columns in unique constraints g…
  CHANGELOG.md
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: Minor update to include traces in the context of logs and metrics in Metrics/Integration section, rectify typo
  docs/docs/graphql/cloud/metrics/integrations/azure-monitor.mdx
  docs/docs/graphql/cloud/metrics/integrations/datadog.mdx
  docs/docs/graphql/cloud/metrics/integrations/index.mdx
Owners: @hasura/hge-docs-owners

server: fix incorrectly ignoring the experimental feature `naming_convention`
  server/src-lib/Hasura/GraphQL/Schema.hs
Owners: @hasura/hge-server

Remove `resolveUnpreparedValue`
  server/src-lib/Hasura/Backends/Postgres/Execute/Prepare.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
Owners: @hasura/hge-server

Add Makefile targets to run `hlint` on all and changed files.
  Makefile
Owners: @hasura/hge-changelog-owners

tooling: add test commands to Makefile
  Makefile
  Makefile.tests
Owners: @hasura/hge-changelog-owners

Update MacOS setup instructions
  server/COMPILING-ON-MACOS.md
Owners: @hasura/hge-server

Flesh out capabilities types
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/src-dc-api/Hasura/Backends/DataConnector/Agent/Server.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
  server/tests-dc-api/Command.hs
  server/tests-dc-api/Test/QuerySpec.hs
Owners: @hasura/hge-server

cli: fix perfomance regression with large metadata in `metadata apply`
  CHANGELOG.md
  cli/commands/metadata_diff.go
  cli/commands/metadata_handlers.go
  cli/internal/metadatautil/testdata/yaml/t1/metadata.yaml
  cli/internal/metadatautil/yaml.go
  cli/internal/metadatautil/yaml_test.go
  cli/internal/projectmetadata/handler.go
  cli/pkg/metadata/mode_handlers.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

server/telemetry: support multiple sources
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Telemetry/Types.hs
  server/src-lib/Hasura/Server/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Halt collecting the E2E tests code coverage CON-203
  console/cypress/support/index.js
Owners: @hasura/hge-console-owners

server/bigquery: apply LIMIT to computed field subqueries
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/tests-hspec/Test/BigQuery/ComputedFieldSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Replace `ParseT` with `Parse`
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
Owners: @hasura/hge-server

server: Refactor `TByteString` to `SerializableBlob`
  server/graphql-engine.cabal
  server/src-lib/Data/SerializableBlob.hs
  server/src-lib/Data/TByteString.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Eventing.hs
  server/src-lib/Hasura/Server/Logging.hs
Owners: @hasura/hge-server

server: add `update_source` API and extend `add_source` to edit source customization
  CHANGELOG.md
  docs/docs/graphql/core/api-reference/metadata-api/index.mdx
  docs/docs/graphql/core/api-reference/metadata-api/source.mdx
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/tests-py/test_metadata.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

Remove `Data.Set.Extended`
  server/graphql-engine.cabal
  server/src-lib/Data/Set/Extended.hs
  server/src-lib/Hasura/RQL/Types/Endpoint/Trie.hs
Owners: @hasura/hge-server

console: fix storybook interaction tests
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/LocalRelationshipWidget.stories.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/RemoteDBRelationshipWidget.stories.tsx
Owners: @hasura/hge-console-owners

console: Unify the Mutation Action E2E tests
  console/cypress/integration/actions/mutation/mutationAction.e2e.test.ts
  console/cypress/integration/actions/mutation/utils/requests/logMetadataRequests.ts
  console/cypress/integration/actions/mutation/utils/services/createLoginAction.ts
  console/cypress/integration/actions/mutation/utils/services/deleteHakunaMatataPermission.ts
  console/cypress/integration/actions/mutation/utils/testState/hakunaMatataPermissionMustNotExist.ts
  console/cypress/integration/actions/mutation/utils/testState/loginActionMustExist.ts
  console/cypress/integration/actions/mutation/utils/testState/loginActionMustNotExist.ts
  console/cypress/integration/actions/mutation/utils/testState/mustBeOnTheActionsPage.ts
  console/cypress/tsconfig.json
  console/package-lock.json
  console/package.json
Owners: @hasura/hge-console-owners

server: runParse returns QErr
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
Owners: @hasura/hge-server

ci: tag release v2.8.0 and v2.8.0-pro.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

tooling: Opt-in shared tooling
  .envrc.local.example
  server/COMPILING-ON-MACOS.md
  server/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: avoid some imports in `Hasura.GraphQL.Parser.Class`
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
Owners: @hasura/hge-server

console: Refactoring the Mutation Actions-related E2E tests
  console/.gitignore
  console/README.md
  console/cypress-local.json
  console/cypress.json
  console/cypress/README.md
  console/cypress/helpers/common.ts
  console/cypress/helpers/core/testMode.ts
  console/cypress/integration/actions/mutation/mutationAction.e2e.test.ts
  console/cypress/integration/actions/mutation/utils/checkRequestBodies.ts
  console/cypress/integration/actions/mutation/utils/requests/logMetadataRequests.ts
  console/cypress/integration/actions/mutation/utils/services/createLoginAction.ts
  console/cypress/integration/actions/mutation/utils/services/deleteHakunaMatataPermission.ts
  console/cypress/integration/actions/mutation/utils/services/deleteLoginAction.ts
  console/cypress/integration/actions/mutation/utils/services/readMetadata.ts
  console/cypress/integration/actions/mutation/utils/testState/hakunaMatataPermissionMustNotExist.ts
  console/cypress/integration/actions/mutation/utils/testState/loginActionMustExist.ts
  console/cypress/integration/actions/mutation/utils/testState/loginActionMustNotExist.ts
  console/cypress/integration/actions/mutation/utils/testState/mustBeOnTheActionsPage.ts
  console/cypress/integration/actions/spec.ts
  console/cypress/integration/actions/test.ts
  console/cypress/support/clearConsoleTextarea.ts
  console/cypress/support/commands.ts
  console/cypress/support/index.d.ts
  console/cypress/support/index.js
  console/cypress/support/visitEmptyPage.ts
  console/cypress/tsconfig.json
  console/package-lock.json
  console/package.json
  console/src/docs/dev/tooling.stories.mdx
Owners: @hasura/hge-console-owners

style (console): migrate settings page to tailwind [CON-261]
  console/src/components/Services/Settings/About/About.tsx
  console/src/components/Services/Settings/AllowedQueries/AddAllowedQuery.tsx
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.scss
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.tsx
  console/src/components/Services/Settings/AllowedQueries/AllowedQueriesList.tsx
  console/src/components/Services/Settings/AllowedQueries/AllowedQueriesNotes.tsx
  console/src/components/Services/Settings/InheritedRoles/InheritedRoles.tsx
  console/src/components/Services/Settings/InheritedRoles/InheritedRolesEditor.tsx
  console/src/components/Services/Settings/InheritedRoles/InheritedRolesStyles.scss
  console/src/components/Services/Settings/InheritedRoles/InheritedRolesTable.tsx
  console/src/components/Services/Settings/InheritedRoles/TableBody.tsx
  console/src/components/Services/Settings/InheritedRoles/TableHeader.tsx
  console/src/components/Services/Settings/InheritedRoles/TableRow.tsx
  console/src/components/Services/Settings/InsercureDomains/AddDomain.tsx
  console/src/components/Services/Settings/InsercureDomains/AllowInsecureDomain.scss
  console/src/components/Services/Settings/InsercureDomains/AllowInsecureDomains.tsx
  console/src/components/Services/Settings/Logout/ClearAdminSecret.js
  console/src/components/Services/Settings/Logout/Logout.js
  console/src/components/Services/Settings/MetadataOptions/ExportMetadata.js
  console/src/components/Services/Settings/MetadataOptions/ImportMetadata.js
  console/src/components/Services/Settings/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Settings/MetadataOptions/ReloadRemoteSchema.js
  console/src/components/Services/Settings/MetadataOptions/ResetMetadata.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/components/Services/Settings/Settings.scss
  console/src/components/Services/Settings/constants.ts
Owners: @hasura/hge-console-owners

docs: restructure cron trigger create section
  docs/docs/graphql/core/scheduled-triggers/create-cron-trigger.mdx
  docs/docs/graphql/core/scheduled-triggers/create-one-off-scheduled-event.mdx
Owners: @hasura/hge-docs-owners

console: disable edit, delete and select row from browse rows for mssql db
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/citus/index.tsx
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/types.ts
Owners: @hasura/hge-console-owners

docs: add info to server error message when env var missing in webhook preview
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
Owners: @hasura/hge-server

server: Fix a bunch of HLint suggestions
  .hlint.yaml
  server/src-lib/Data/Sequence/NonEmpty.hs
  server/src-lib/Data/Text/NonEmpty.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/SQL/Time.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Migrate/Version.hs
  server/src-lib/Network/HTTP/Client/Restricted.hs
  server/src-test/Hasura/AppSpec.hs
  server/src-test/Hasura/RQL/Types/TableSpec.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/tests-hspec/Test/RemoteRelationship/MetadataAPI/Common.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Replace `ValidationT` with `ExceptT` in `ParseT` (close #3641)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: build/run unit tests faster
  server/CONTRIBUTING.md
  server/graphql-engine.cabal
Owners: @hasura/hge-server

console: Hide timescaledb internal schema from data tab
  CHANGELOG.md
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
  server/src-rsr/pg_function_metadata.sql
  server/src-rsr/table_meta.sql
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
