Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

update manifests to v1.0.0-alpha44
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/Dockerfile
Owners: @shahidhk

fix sql to fetch table comment
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableModify/TableCommentEditor.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

fix view comment edit section
  console/src/components/Services/Data/TableModify/ModifyView.js
Owners: @rikinsk

fix sql to fetch column comments
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

change api to take options
  server/src-lib/Hasura/Server/PGDump.hs
  server/src-rsr/run_pg_dump.sh
Owners: @0x777

add pgdump to enabled apis
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
Owners: @0x777

fix tests
  server/tests-py/pgdump/pg_dump_public.yaml
Owners: @0x777

Fixing tests for create table
  console/cypress.json
  console/cypress/helpers/dataHelpers.js
  console/cypress/integration/data/create-table/spec.js
  console/package.json
  console/src/components/Common/SearchableSelect/SearchableSelect.js
  console/src/components/Services/Data/Add/TableColumn.js
  console/src/components/Services/Data/Add/utils.js
Owners: @rikinsk

update queries docs
  docs/graphql/manual/queries/aggregation-queries.rst
  docs/graphql/manual/queries/control-access.rst
  docs/graphql/manual/queries/derived-data.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/queries/pagination.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/queries/simple-object-queries.rst
  docs/graphql/manual/queries/sorting.rst
Owners: @rikinsk

update TrueExp usage
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/queries/query-filters.rst
Owners: @rikinsk

update postgis terminology
  docs/graphql/manual/queries/query-filters.rst
Owners: @rikinsk

update docs (#2033)
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/queries/aggregation-queries.rst
  docs/graphql/manual/queries/control-access.rst
  docs/graphql/manual/queries/derived-data.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/queries/pagination.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/queries/simple-object-queries.rst
  docs/graphql/manual/queries/sorting.rst
Owners: @rikinsk

All tests passing, begin work on adding all types to modify table section
  console/cypress.json
  console/cypress/helpers/dataHelpers.js
  console/cypress/integration/api-explorer/graphql/spec.js
  console/cypress/integration/data/create-table/spec.js
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/permissions/spec.js
  console/cypress/integration/data/relationships/spec.js
  console/cypress/integration/data/views/spec.js
  console/cypress/integration/events/create-trigger/spec.js
  console/package.json
  console/src/components/Services/Data/Add/AddActions.js
Owners: @rikinsk

add double quotes around constraint names in SQL
  console/src/components/Services/Data/TableModify/ModifyActions.js
Owners: @rikinsk

Add ability to override server timeout
  scripts/cli-migrations/docker-entrypoint.sh
Owners: @shahidhk

add column properties
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Owners: @rikinsk

refactor
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/utils.js
  console/src/constants.js
Owners: @rikinsk

Add example for using Apollo CLI to export schema
  docs/graphql/manual/schema/export-graphql-schema.rst
Owners: @rikinsk

added support for schema dump in cli
  cli/commands/migrate_create.go
  cli/migrate/cmd/commands.go
  cli/migrate/database/driver.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/metadata.go
  cli/migrate/database/hasuradb/schema_dump.go
  cli/migrate/database/hasuradb/settings.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/schema_dump.go
  cli/migrate/migrate.go
Owners: @shahidhk

Updates tutorial section.
  community/learn/graphql-tutorials/tutorials/react-apollo/app-final/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/app-final/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/assets/boilerplate-after-login.png
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/assets/graphiql-after-login.png
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/basic-todo-app.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/schema.png
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.2-bulk-delete-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/3-handle-errors.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup/1-react.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup/2-auth0.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/2-apollo-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/codeBlock.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/config.js
Owners: @shahidhk

Removes stray files
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/README.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/fragment.md
Owners: @shahidhk

add sql to fetch event triggers info
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/EventState.js
  console/src/components/Services/EventTrigger/Modify/Actions.js
  console/src/components/Services/EventTrigger/Modify/Connector.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/utils.js
Owners: @rikinsk

use commentEditor for views
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableModify/TableCommentEditor.js
Owners: @rikinsk

add headers at request level in console
  console/src/utils/requestAction.js
Owners: @rikinsk

handle a case with custom headers
  console/src/utils/requestAction.js
Owners: @rikinsk

fix docs dependency vulnerability
  docs/requirements.txt
Owners: @rikinsk

update deps, docsLocation
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/layout.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
Owners: @shahidhk

update header link
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/Header.js
Owners: @shahidhk

syntax fixes
  docs/graphql/manual/schema/export-graphql-schema.rst
Owners: @rikinsk

add example for using Apollo CLI to export schema (#2037)
  docs/graphql/manual/schema/export-graphql-schema.rst
Owners: @rikinsk

content updates
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.2-bulk-delete-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/3-handle-errors.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
Owners: @shahidhk

fix timestamp displayed as text
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Common/DataTypes.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

update urls
  community/learn/graphql-tutorials/backend-services/auth0/auth0_post_user_registration_hook.js
  community/learn/graphql-tutorials/backend-services/auth0/auth0_rule_insert_user.js
  community/learn/graphql-tutorials/backend-services/graphiql/Dockerfile
  community/learn/graphql-tutorials/backend-services/graphiql/package.json
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/Auth/constants.js
  community/learn/graphql-tutorials/backend-services/hasura/README.md
  community/learn/graphql-tutorials/backend-services/hasura/config.yaml
  community/learn/graphql-tutorials/tutorials/vue-apollo/app-final/src/apollo.js
Owners: @shahidhk

update dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

add descriptions to flags
  cli/commands/migrate_create.go
Owners: @shahidhk

fix tests
  console/cypress/helpers/dataHelpers.js
  console/src/components/Services/EventTrigger/Common/DataTypes.js
Owners: @rikinsk

add title values to TryItOut links
  console/src/components/Services/CommonLanding/TryItOut.js
Owners: @rikinsk

fix dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

handle multiple schema options
  cli/commands/migrate_create.go
  cli/migrate/cmd/commands.go
  cli/migrate/database/hasuradb/schema_dump.go
  cli/migrate/database/schema_dump.go
  cli/migrate/migrate.go
Owners: @shahidhk

update dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk
