Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

add deprecated config for opendd metadata (#372)
  v3/crates/engine/src/metadata/resolved/command.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/relationship.rs
  v3/crates/engine/src/metadata/resolved/types.rs
  v3/crates/engine/src/schema.rs
  v3/crates/engine/src/schema/commands.rs
  v3/crates/engine/src/schema/mutation_root.rs
  v3/crates/engine/src/schema/query_root.rs
  v3/crates/engine/src/schema/query_root/select_many.rs
  v3/crates/engine/src/schema/query_root/select_one.rs
  v3/crates/engine/src/schema/types/output_type.rs
  v3/crates/engine/tests/execute/deprecated/introspection_expected.json
  v3/crates/engine/tests/execute/deprecated/introspection_request.gql
  v3/crates/engine/tests/execute/deprecated/metadata.json
  v3/crates/engine/tests/execute/deprecated/session_variables.json
  v3/crates/engine/tests/introspection.rs
  v3/crates/open-dds/examples/reference.json
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/commands.rs
  v3/crates/open-dds/src/models.rs
  v3/crates/open-dds/src/relationships.rs
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

Deny unknown fields while deserializing Deprecated (#374)
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

Reference correct folder for auth hook (#375)
  v3/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

fix: remote joins bug with nested selections (#371)
  v3/crates/custom-connector/data/actors.json
  v3/crates/custom-connector/src/types/actor.rs
  v3/crates/engine/src/execute/remote_joins.rs
  v3/crates/engine/src/execute/remote_joins/types.rs
  v3/crates/engine/tests/db_definition.sql
  v3/crates/engine/tests/execute/common_metadata/two_connectors_schema.json
  v3/crates/engine/tests/execute/models/select_many/select_with_args/expected.json
  v3/crates/engine/tests/execute/models/select_many/select_with_args/with_graphql_config/expected.json
  v3/crates/engine/tests/execute/relationships/across_namespace/expected.json
  v3/crates/engine/tests/execute/relationships/array/expected.json
  v3/crates/engine/tests/execute/relationships/multi_mapping/expected.json
  v3/crates/engine/tests/execute/relationships/permissions/source_type_permission/expected.json
  v3/crates/engine/tests/execute/relationships/permissions/target_model_type_permission/expected.json
  v3/crates/engine/tests/execute/remote_relationships/array/expected.json
  v3/crates/engine/tests/execute/remote_relationships/array/metadata.json
  v3/crates/engine/tests/execute/remote_relationships/from_nested/metadata.json
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/custom_ndc_and_pg_ndc/expected.json
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/custom_ndc_and_pg_ndc/metadata.json
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/custom_ndc_and_pg_ndc/request.gql
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/custom_ndc_and_pg_ndc/session_variables.json
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/two_pg_ndc/expected.json
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/two_pg_ndc/metadata.json
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/two_pg_ndc/request.gql
  v3/crates/engine/tests/execute/remote_relationships/remote_in_local/local_array_remote_object/two_pg_ndc/session_variables.json
  v3/crates/engine/tests/relationship.rs
Owners: @hasura/hge-changelog-owners

remove accidentally duplicated files (#378)
  v3/crates/engine/src/execute/query_plan.rs
  v3/crates/engine/src/execute/query_plan/commands.rs
  v3/crates/engine/src/execute/query_plan/model_selection.rs
  v3/crates/engine/src/execute/query_plan/relationships.rs
  v3/crates/engine/src/execute/query_plan/selection_set.rs
Owners: @hasura/hge-changelog-owners

avoid using deprecated field in json schema examples (#379)
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/commands.rs
  v3/crates/open-dds/src/relationships.rs
Owners: @hasura/hge-changelog-owners

ci: tag release v2.38.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.38.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Revert Bump serde_with from 2.3.3 to 3.7.0 (#381)
  v3/Cargo.lock
  v3/crates/hasura-authn-core/Cargo.toml
  v3/crates/hasura-authn-jwt/Cargo.toml
  v3/crates/hasura-authn-webhook/Cargo.toml
  v3/crates/lang-graphql/Cargo.toml
Owners: @hasura/hge-changelog-owners

downgrade opentelemetry versions (#380)
  v3/Cargo.lock
  v3/crates/tracing-util/Cargo.toml
Owners: @hasura/hge-changelog-owners

Automate the inclusion of packages in the Justfile package selector. (#382)
  v3/justfile
Owners: @hasura/hge-changelog-owners

Guard against empty selection sets (#377)
  v3/crates/engine/tests/execute/models/select_many/empty_select/expected.json
  v3/crates/engine/tests/execute/models/select_many/empty_select/metadata.json
  v3/crates/engine/tests/execute/models/select_many/empty_select/request.gql
  v3/crates/engine/tests/execute/models/select_many/empty_select/session_variables.json
  v3/crates/engine/tests/execution.rs
  v3/crates/lang-graphql/src/validation/error.rs
  v3/crates/lang-graphql/src/validation/selection_set.rs
Owners: @hasura/hge-changelog-owners

Disable benchmarks in unit tests. (#376)
  v3/crates/custom-connector/Cargo.toml
  v3/crates/engine/Cargo.toml
  v3/crates/hasura-authn-core/Cargo.toml
  v3/crates/hasura-authn-jwt/Cargo.toml
  v3/crates/hasura-authn-webhook/Cargo.toml
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.toml
  v3/crates/lang-graphql/Cargo.toml
  v3/crates/open-dds/Cargo.toml
  v3/crates/opendds-derive/Cargo.toml
  v3/crates/tracing-util/Cargo.toml
Owners: @hasura/hge-changelog-owners

docs: add automated persisted queries env var documentation
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

accept JSON strings for ID values (#384)
  v3/crates/engine/src/metadata/resolved/typecheck.rs
Owners: @hasura/hge-changelog-owners

Various improvements to the Docker Compose services. (#383)
  v3/ci.docker-compose.yaml
  v3/crates/custom-connector/Cargo.toml
  v3/crates/custom-connector/src/main.rs
  v3/docker-compose.yaml
  v3/flake.nix
Owners: @hasura/hge-changelog-owners

ci: update latest stable release as v2.38.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/clickhouse/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mongodb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/redshift/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

update to Rust 1.77.0 (#388)
  v3/Dockerfile
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Dockerfile
  v3/flake.lock
  v3/flake.nix
  v3/rust-toolchain.toml
Owners: @hasura/hge-changelog-owners

cli: use go install instead of go get
  cli/Makefile
Owners: @hasura/hge-cli-owners

add exports to `tracing-util` (#387)
  v3/Cargo.lock
  v3/crates/tracing-util/Cargo.toml
  v3/crates/tracing-util/src/lib.rs
  v3/crates/tracing-util/src/tracer.rs
Owners: @hasura/hge-changelog-owners

cli: upgrade go-git to v5.4.2 and go version to 1.18
  cli/.golangci.yaml
  cli/build/builder.dockerfile
  cli/go.mod
  cli/go.sum
  cli/util/git.go
Owners: @hasura/hge-cli-owners

Docs: add not for mongo filtering capabilities
  docs/docs/databases/mongodb/index.mdx
Owners: @hasura/hge-docs-owners

Break `GraphqlConfigError` out of large `Error` type (#396)
  v3/crates/engine/src/metadata/resolved/error.rs
  v3/crates/engine/src/metadata/resolved/graphql_config.rs
  v3/crates/engine/src/metadata/resolved/model.rs
Owners: @hasura/hge-changelog-owners

split up resolving metadata into functions (#398)
  v3/crates/engine/src/metadata/resolved/metadata.rs
Owners: @hasura/hge-changelog-owners

Fix json schema description spelling errors (#399)
  v3/crates/hasura-authn-jwt/src/jwt.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/permissions.rs
Owners: @hasura/hge-changelog-owners

gardening: split remote joins into smaller modules (#400)
  v3/crates/engine/src/execute/remote_joins.rs
  v3/crates/engine/src/execute/remote_joins/collect.rs
  v3/crates/engine/src/execute/remote_joins/join.rs
Owners: @hasura/hge-changelog-owners

better name for `resolve_data_connector_type_mappings` in metadata resolver (#401)
  v3/crates/engine/src/metadata/resolved/metadata.rs
Owners: @hasura/hge-changelog-owners

ci: tag release v2.10.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

hotfix (console): set extensions schema on one click heroku database connections
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/DBCreation.tsx
  console/src/components/Services/Data/DataSources/state.ts
Owners: @hasura/hge-console-owners

ci: update ubuntu base to latest focal release
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

Server: Enable streaming subscriptions by default
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/Server/Types.hs
Owners: @hasura/hge-server

server: add active_livequeries, active_streaming_subscriptions EKG metrics (cherry-pick #5627)
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/Server/Metrics.hs
Owners: @hasura/hge-server

ci: tag release v2.11.0 and v2.12.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server/postgres: fix string literals in arrays
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
  server/src-test/Hasura/Backends/Postgres/SQL/ValueSpec.hs
  server/tests-hspec/Test/Regression/ArrayLiteralTextEncodingSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.11.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console: Patch GraphiQL show lint error on v2.11
  console/package-lock.json
  console/package.json
Owners: @hasura/hge-console-owners

fixed checkbox logic for other types than select on permissions pages
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Owners: @hasura/hge-console-owners

Merge pull request #5477 from hasura/gil/fix_ulls_first
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/tests-hspec/Test/Regression/NullsOrderParsing8780Spec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.11.2 and v2.12.0
  scripts/tag-release.sh
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: hotfix hasura familiarity survey to v2.11
  console/exports/main.js
  console/src/features/GrowthExperiments/growthExperimentsConfigClient.ts
  console/src/features/GrowthExperiments/index.ts
  console/src/features/OnboardingWizard/Root.stories.tsx
  console/src/features/OnboardingWizard/Root.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.stories.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/features/OnboardingWizard/hooks/useWizardState.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.stories.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/familiaritySurveyOptionDetails.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/index.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/index.ts
  console/src/features/Surveys/constants.ts
  console/src/features/Surveys/index.ts
  console/src/features/Surveys/types.ts
  console/src/features/Surveys/utils.ts
  console/src/hooks/cloudDataServiceApiClient.ts
  console/src/new-components/IconCardGroup/IconCardGroup.stories.tsx
  console/src/new-components/IconCardGroup/IconCardGroup.tsx
  console/src/new-components/IconCardGroup/index.tsx
Owners: @hasura/hge-console-owners
