Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

docs: Removing duplicate reference to session variables in the Access control page
  docs/graphql/core/auth/authorization/basics.rst
Owners: @hasura/hge-docs-owners

Fixed HeaderValue title, missing ResponseTransformation anchor in docs
  docs/graphql/core/api-reference/syntax-defs.rst
Owners: @hasura/hge-docs-owners

Stable sort of extracted notes
  scripts/extract-notes.sh
  server/src-lib/Hasura/RQL/DDL/Action.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/mssql: improve database exception handling and better API errors
  CHANGELOG.md
  cabal.project
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/SQL/Error.hs
  server/src-test/Database/MSSQL/TransactionSpec.hs
  server/src-test/Hasura/Backends/MSSQL/ErrorSpec.hs
  server/src-test/Main.hs
  server/tests-py/queries/graphql_mutation/insert/basic/constraint_violation_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_invalid_datetime_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_numeric_value_fail_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/setup_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/create_author_table_fail.yaml
  server/tests-py/queries/v2/mssql/run_sql/create_index_fail.yaml
  server/tests-py/queries/v2/mssql/run_sql/invalid_sql_query.yaml
  server/tests-py/queries/v2/mssql/run_sql/schema_setup_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_add_column_fail.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_drop_column_fail.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_select_query_fail.yaml
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_v2_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update CHANGELOG with more info for next release
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

docs: Docs for email change on Hasura Cloud
  docs/graphql/cloud/account-management/email-change.rst
  docs/graphql/cloud/account-management/index.rst
  docs/graphql/cloud/index.rst
  docs/img/graphql/cloud/account-settings/account-settings-tab.png
  docs/img/graphql/cloud/account-settings/edit-email-input.png
  docs/img/graphql/cloud/account-settings/forgot-password.png
  docs/img/graphql/cloud/account-settings/login-screen.png
Owners: @hasura/hge-docs-owners

cli: skip tls verfication for all API requests when `insecure-skip-tls-verify` flag is set
  CHANGELOG.md
  cli/cli.go
  cli/commands/init.go
  cli/internal/httpc/httpc.go
  cli/migrate/database/driver.go
  cli/migrate/database/driver_test.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/schema_dump.go
  cli/migrate/database/migration.go
  cli/migrate/migrate.go
  cli/migrate/util.go
  cli/util/server.go
  cli/version/server.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

docs: update pg_untrack_function args in metadata api index
  docs/graphql/core/api-reference/metadata-api/custom-functions.rst
  docs/graphql/core/api-reference/metadata-api/index.rst
Owners: @hasura/hge-docs-owners

console: add hooks for useRemoteSchemaRelationships
  console/src/features/MetadataAPI/__tests__/useRemoteSchemaRelationships.test.tsx
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useMetadataTables.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/stories/createRemoteDatabaseRelationships.stories.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/stories/updateRemoteDatabaseRelationship.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/hooks/index.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/hooks/stories/createRemoteSchemaRelationships.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/hooks/stories/deleteRemoteSchemaRelationships.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/hooks/stories/updateRemoteSchemaRelationships.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/hooks/stories/useRemoteSchemaRelationships.stories.tsx
  console/src/storybook/HookStatusWrapperWithMetadataVersion.tsx
Owners: @hasura/hge-console-owners

console: display version update banner only for oss
  console/src/components/Main/components/UpdateVersion.tsx
Owners: @hasura/hge-console-owners

docs: Minor editions on the Read replicas page
  docs/graphql/cloud/read-replicas.rst
  docs/graphql/core/api-reference/syntax-defs.rst
Owners: @hasura/hge-docs-owners

console: Fix typo in Session Argument label
  console/src/components/Services/Data/TableModify/ComputedFieldsEditor.tsx
Owners: @hasura/hge-console-owners

Derive a few instances for `PGMetadataStorageAppT`
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

Updates metadata api Event and Scheduled Trigger docs
  docs/graphql/core/api-reference/metadata-api/event-triggers.rst
  docs/graphql/core/api-reference/metadata-api/scheduled-triggers.rst
Owners: @hasura/hge-docs-owners

server: add a note about experimental features
  server/src-lib/Hasura/Server/Init/Config.hs
Owners: @hasura/hge-server

Replace "identity column" with "column mutability" data for all backends
  CHANGELOG.md
  scripts/dev.sh
  server/documentation/tips.md
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/mssql_table_metadata.sql
  server/src-rsr/pg_metadata_lib.sql
  server/src-rsr/pg_table_metadata.sql
  server/tests-py/queries/graphql_mutation/insert/basic/float_variable_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_multiple_objects_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_various_mssql_types.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/values_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/article_if_matched_no_update.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/article_if_matched_update.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/values_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author_returning.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles_empty.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles_null.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/article_if_matched_restricted_role_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/article_if_matched_user_role_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/setup_mssql.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: enable inherited roles by default
  CHANGELOG.md
  console/src/components/Services/Settings/InheritedRoles/InheritedRoles.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server/tests: run Haskell integration tests in CI
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
Owners: @hasura/hge-server

Try to make JWK refresh integration tests more reliable in CI
  server/tests-py/test_jwk.py
Owners: @hasura/hge-server

docs: update heroku deploy guide
  docs/graphql/core/deployment/deployment-guides/heroku.rst
  docs/img/graphql/core/deployment/heroku-database-access-url.png
  docs/img/graphql/core/deployment/heroku_connect_db.png
  docs/img/graphql/core/deployment/heroku_database_env.png
Owners: @hasura/hge-docs-owners

First attempt at deduplicating permission filters
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Data/HashMap/Strict/Extended.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Data/HashMap/Strict/ExtendedSpec.hs
  server/src-test/Main.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests/integration/Hasura/Test/App.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Customization of table GraphQL schema descriptions
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/table-view.rst
  docs/graphql/core/api-reference/syntax-defs.rst
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/tests-py/queries/graphql_introspection/descriptions/automatic_comment_in_db.yaml
  server/tests-py/queries/graphql_introspection/descriptions/automatic_no_comment_in_db.yaml
  server/tests-py/queries/graphql_introspection/descriptions/explicit_comment_in_metadata.yaml
  server/tests-py/queries/graphql_introspection/descriptions/explicit_no_comment_in_metadata.yaml
  server/tests-py/queries/graphql_introspection/descriptions/schema_setup.yaml
  server/tests-py/queries/graphql_introspection/descriptions/schema_teardown.yaml
  server/tests-py/queries/graphql_introspection/descriptions/setup.yaml
  server/tests-py/queries/graphql_introspection/descriptions/teardown.yaml
  server/tests-py/test_graphql_introspection.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

tag release v2.2.0
  CHANGELOG.md
  cli/README.md
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

docs: Updating Caddyfile v2 config in Enable HTTPS file
  docs/graphql/core/deployment/enable-https.rst
Owners: @hasura/hge-docs-owners

Add `Note` explaining type collection
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
Owners: @hasura/hge-server

Add default User-Agent header for Action requests
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/HTTP.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update caddy example to use v2 format in digital ocean guide
  docs/graphql/core/deployment/deployment-guides/digital-ocean-one-click.rst
Owners: @hasura/hge-docs-owners

Migrate Dropdown to typescript
  console/src/components/Common/Dropdown/Dropdown.js
  console/src/components/Common/Dropdown/Dropdown.scss
  console/src/components/Common/Dropdown/Dropdown.tsx
  console/src/components/Services/Data/Common/Components/FrequentlyUsedColumnSelector.tsx
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Events/Common/Components/FrequentlyUsedCrons.tsx
Owners: @hasura/hge-console-owners

server: fix multiple calls to database on startup
  .circleci/server-test-names.txt
  .circleci/test-server.sh
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/tests-py/conftest.py
  server/tests-py/test_startup_db_calls.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: move FAQ section to top-level in sidebar + update metadata catalogue details
  docs/graphql/core/faq/index.rst
  docs/graphql/core/guides/faq/index.rst
  docs/graphql/core/guides/index.rst
  docs/graphql/core/how-it-works/metadata-schema.rst
  docs/graphql/core/index.rst
  docs/graphql/core/troubleshooting/index.rst
Owners: @hasura/hge-docs-owners

docs: add response caching scope
  docs/graphql/cloud/response-caching.rst
Owners: @hasura/hge-docs-owners

multitenant: remove stale multitenant-test (fixes #3652)
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

server/bigquery: fix parsing timestamp input values
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/tests-py/queries/graphql_query/bigquery/timestamp_filter.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Bumps Kriti Version
  CHANGELOG.md
  cabal.project
  cabal.project.freeze
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/WebhookTransforms.hs
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_eval.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_parse.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Metadata code cleanups
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/tests/integration/Hasura/Test/App.hs
Owners: @hasura/hge-server

docs: update the hasura sample apps links
  README.md
  community/sample-apps/realtime-chat-vue/README.md
  community/sample-apps/realtime-chat-vue/src/views/Home.vue
  community/sample-apps/realtime-chat/README.md
  docs/graphql/core/event-triggers/samples.rst
  docs/graphql/core/guides/sample-apps/index.rst
  event-triggers.md
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.greek.md
  translations/README.indonesian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
  translations/event-triggers.french.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

Use 429 error code when rate limit exceeded
  server/src-lib/Hasura/Base/Error.hs
Owners: @hasura/hge-server

server: remove an unused type and export
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
Owners: @hasura/hge-server

Add backoff for BigQuery calls
  server/src-lib/Hasura/Backends/BigQuery/Connection.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
  server/tests-hspec/Harness/Backend/BigQuery.hs
Owners: @hasura/hge-server

server/mssql: source catalog initialization for event triggers (Incremental PR - I)
  server/graphql-engine.cabal
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source/Version.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-rsr/drop_mssql_source.sql
  server/src-rsr/init_mssql_source.sql
  server/src-rsr/init_pg_source.sql
Owners: @hasura/hge-server
