Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

bugfix (console): fix alignment issue in manage database section
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-changelog-owners

rename naqi to logimo part 3 - data types
  cli/internal/metadatautil/testdata/json/t2/metadata.json
  cli/internal/metadatautil/testdata/json/t2/want.metadata.yaml
  metadata.openapi.json
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/LogicalModelsQueriesSpec.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/LogicalModels.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Helpers.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/API.hs
  server/src-lib/Hasura/LogicalModel/IR.hs
  server/src-lib/Hasura/LogicalModel/Metadata.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Server/Init/FeatureFlag.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-test/Hasura/Backends/Postgres/LogicalModels/LogicalModelsSpec.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
Owners: @hasura/hge-cli-owners, @hasura/hge-changelog-owners, @hasura/hge-server

console: filter view from event trigger while selecting table
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableInsertItem/hooks/useSchemas.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Add/CreateETForm.tsx
Owners: @hasura/hge-changelog-owners

console: add insert handling for permissions
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/createSelectArgs.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/BackendOnly.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/ColumnPresets.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/RowPermissionBuilder.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createDefaultValues/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/useFormData.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/PermissionsTable.tsx
Owners: @hasura/hge-changelog-owners

harmonize network manager handling
  server/graphql-engine.cabal
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-emit-metadata-openapi/Main.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/RQL/DDL/DataConnector.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RemoteSchema/MetadataAPI/Core.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Services.hs
  server/src-lib/Hasura/Services/Network.hs
  server/src-lib/Hasura/Tracing.hs
  server/src-lib/Network/HTTP/Client/Manager.hs
  server/test-postgres/Main.hs
  server/test-postgres/Test/Hasura/Server/MigrateSuite.hs
Owners: @hasura/hge-server

add rfc file
  rfcs/reuse-table-enums-in-action.md
Owners: @hasura/hge-changelog-owners

Add tests for delete mutations to the Data Connector agent test suite
  dc-agents/sqlite/README.md
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Mutations.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec/DeleteSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

update the heading of third approach
  rfcs/reuse-table-enums-in-action.md
Owners: @hasura/hge-changelog-owners

ci: tag release v2.20.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: add jobs to scan images
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: add jobs to scan images
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

console: suggested relationships respect the user naming convention while generating the relationship name [DSF-126]
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenameRelationship/RenameRelationship.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationshipTrackModal/SuggestedRelationshipTrackModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/SuggestedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/CardedTable/CardedTable.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/SimpleForm.tsx
Owners: @hasura/hge-changelog-owners

ci: tag release v2.20.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.20.0-beta.1
  releases/v2.20.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.20.0-beta.1-ce
  releases/v2.20.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.20.0-beta.1-cloud.1
  releases/v2.20.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

add rfc
  rfcs/import-rest-endpoint-as-action.md
Owners: @hasura/hge-changelog-owners

chore(ci): Drop a message in GitHub when Chromatic fails
  frontend/libs/console/legacy-ce/project.json
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/AdvancedSelectField.stories.tsx
  frontend/libs/nx/internal-plugin/executors.json
  frontend/libs/nx/internal-plugin/src/executors/build-server-assets/executor.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/chromatic.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/executorPreFlightCheck.spec.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/executorPreFlightCheck.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/generateCommentStrategy.spec.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/generateCommentStrategy.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/githubApis.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/utils.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/executor.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/schema.d.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/schema.json
  frontend/libs/nx/internal-plugin/src/executors/chromatic/types.ts
  frontend/libs/nx/internal-plugin/src/generators/migrate-path-to-relative/generator.ts
  frontend/libs/nx/internal-plugin/tsconfig.json
  frontend/package.json
Owners: @hasura/hge-changelog-owners

Add scaling & load balancer related docs
  docs/docs/deployment/performance-tuning.mdx
  docs/docs/deployment/production-checklist.mdx
Owners: @hasura/hge-docs-owners

Additional tests for mutations in the Data Connector agent test suite
  dc-agents/sqlite/README.md
  dc-agents/sqlite/src/mutation.ts
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec/DeleteSpec.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec/InsertSpec.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec/UpdateSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/AggregatesSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/OrderBySpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/RelationshipsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: centralize various application state (introducing `AppContext` and `AppEnv`)
  server/graphql-engine.cabal
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/test-postgres/Constants.hs
  server/test-postgres/Main.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-server

first draft - wip
  rfcs/input-validations.md
Owners: @hasura/hge-changelog-owners

chore(ci, console): Prioritize the Chromatic diagnostic file over the CLI error
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/generateCommentStrategy.spec.ts
  frontend/libs/nx/internal-plugin/src/executors/chromatic/core/generateCommentStrategy.ts
Owners: @hasura/hge-changelog-owners

CI: Disable Python integration test groups covered by the new job.
  .circleci/server-test-names.txt
Owners: @hasura/hge-changelog-owners

refactor(hlint): Demote Environment-from-OS to a suggestion
  .hlint.yaml
  server/src-exec/Main.hs
  server/src-lib/Data/Environment.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update documentation for main.
  server/haddock/main/Data-Environment.html
  server/haddock/main/src/Data.Environment.html
Owners: @hasura/hge-server

NDAT-519-wrong-indexes-listed-when-multiple-schemas-have-tables-with-the-same-name-9420
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/cockroach/sqlUtils.ts
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/__tests__/__snapshots__/postgresql.test.ts.snap
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-changelog-owners

fix(console): Disable the DropDown trigger when the disabled flag is passed
  frontend/libs/console/legacy-ce/src/lib/new-components/DropdownButton/DropdownButton.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/DropdownButton/DropdownButton.tsx
Owners: @hasura/hge-changelog-owners

console: fix browse rows page UI glitches
  frontend/libs/console/legacy-ce/src/lib/components/Common/EditableHeading/TryOperation.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/PaginationWithOnlyNav/PaginationWithOnlyNav.tsx
Owners: @hasura/hge-changelog-owners

Revert "server: centralize various application state (introducing `AppContext` and `AppEnv`)"
  server/graphql-engine.cabal
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/test-postgres/Constants.hs
  server/test-postgres/Main.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-server

console: fix operations filters
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Metrics.module.scss
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/DropdownComponent.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/DropdownComponent.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/FilterInputComponent.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/Filters.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/GenerateFilters.tsx
Owners: @hasura/hge-changelog-owners

Boolean expressions should talk about fields, not tables
  server/src-lib/Hasura/Backends/BigQuery/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-server

console: add create "delete" permissions
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/api.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/createSelectArgs.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createDefaultValues/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useDeletePermission.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useSubmitForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/useScrollIntoView.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/mocks/createPermissionsData.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTab/PermissionsTab.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/PermissionsTable.tsx
Owners: @hasura/hge-changelog-owners

Console fix operations filters v2.19
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Metrics.module.scss
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/DropdownComponent.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/DropdownComponent.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/FilterInputComponent.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/Filters.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/GenerateFilters.tsx
Owners: @hasura/hge-changelog-owners

console: support for relationship array handling for permissions builder
  frontend/libs/console/legacy-ce/src/lib/dataSources/common/getTableFromRelationshipChain.mocks.ts
  frontend/libs/console/legacy-ce/src/lib/dataSources/common/getTableFromRelationshipChain.test.ts
  frontend/libs/console/legacy-ce/src/lib/dataSources/common/index.ts
Owners: @hasura/hge-changelog-owners

server: centralize various application state (introducing `AppContext` and `AppEnv`)
  server/graphql-engine.cabal
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/test-postgres/Constants.hs
  server/test-postgres/Main.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-server

Plat 473
  frontend/libs/console/legacy-ce/src/lib/components/Services/Common/Notifications.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/LegacyNotifications.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/hasuraToast.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/hasuraToast.tsx
Owners: @hasura/hge-changelog-owners

Optimize typescript compiler performance
  console/package-lock.json
  console/package.json
  console/src/components/Services/RemoteSchema/Permissions/Field.tsx
  console/src/features/Analytics/components/Analytics.tsx
  console/src/features/ControlPlane/client.ts
  console/src/hooks/createFetchControlPlaneData.ts
  console/tsconfig.json
Owners: @hasura/hge-console-owners

console: fix operations filters
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Metrics.module.scss
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/DropdownComponent.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/DropdownComponent.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/FilterInputComponent.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/Filters.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/StatsPanel/Filter/GenerateFilters.tsx
Owners: @hasura/hge-changelog-owners

Upgrade sqlite3 in SQLite agent, upgrade deps with security flaws, remove Sequelize dep
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/index.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/datasets.ts
  dc-agents/sqlite/src/db.ts
  dc-agents/sqlite/src/index.ts
  dc-agents/sqlite/src/mutation.ts
  dc-agents/sqlite/src/query.ts
  dc-agents/sqlite/src/raw.ts
  dc-agents/sqlite/src/schema.ts
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
