Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

server/tests-py: Remove "new".
  server/tests-py/README.md
  server/tests-py/run.sh
Owners: @hasura/hge-server

feature(server): basic array relationships on Native Queries
  server/lib/api-tests/src/Test/API/Metadata/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/NativeQueries/NativeQueriesSpec.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Owners: @hasura/hge-server

add HTTP webhook specification
  rfcs/input-validations.md
Owners: @hasura/hge-changelog-owners

fix: remove cached badge for non-cached queries with warning response header
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Actions.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  frontend/libs/console/legacy-ce/src/lib/utils/requestAction.ts
Owners: @hasura/hge-changelog-owners

Docs: Replace GraphQL Federation Video
  docs/docs/data-federation/overview.mdx
Owners: @hasura/hge-docs-owners

console : Randomize use case options (hotfix v2.23)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
Owners: @hasura/hge-changelog-owners

Extract `hasura-extras` from `graphql-engine`
  server/graphql-engine.cabal
  server/lib/api-tests/api-tests.cabal
  server/lib/hasura-extras/hasura-extras.cabal
  server/lib/hasura-extras/src/Data/Aeson/Extended.hs
  server/lib/hasura-extras/src/Data/Environment.hs
  server/lib/hasura-extras/src/Data/HashMap/Strict/Extended.hs
  server/lib/hasura-extras/src/Data/HashMap/Strict/InsOrd/Autodocodec.hs
  server/lib/hasura-extras/src/Data/HashMap/Strict/InsOrd/Extended.hs
  server/lib/hasura-extras/src/Data/HashMap/Strict/Multi.hs
  server/lib/hasura-extras/src/Data/HashMap/Strict/NonEmpty.hs
  server/lib/hasura-extras/src/Data/List/Extended.hs
  server/lib/hasura-extras/src/Data/Parser/CacheControl.hs
  server/lib/hasura-extras/src/Data/Parser/Expires.hs
  server/lib/hasura-extras/src/Data/Parser/JSONPath.hs
  server/lib/hasura-extras/src/Data/SerializableBlob.hs
  server/lib/hasura-extras/src/Data/Text/Casing.hs
  server/lib/hasura-extras/src/Data/Text/Extended.hs
  server/lib/hasura-extras/src/Data/Text/NonEmpty.hs
  server/lib/hasura-extras/src/Data/Trie.hs
  server/lib/hasura-extras/src/Data/URL/Template.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

cleanup(sqlserver): throw an error when native queries not supported
  scripts/make/tests.mk
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

chore(server): break out `Hasura.Base` into own package
  server/graphql-engine.cabal
  server/lib/hasura-base/hasura-base.cabal
  server/lib/hasura-base/src/Hasura/Base/Error.hs
  server/lib/hasura-base/src/Hasura/Base/Instances.hs
  server/lib/hasura-base/src/Hasura/Base/README.md
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

docs: remove out-of-date roadmap for mssql
  docs/docs/databases/ms-sql-server/index.mdx
Owners: @hasura/hge-docs-owners

Move both `Autodocodec.Extended` modules into `hasura-extras`
  server/graphql-engine.cabal
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/src/Autodocodec/Extended.hs
  server/lib/hasura-base/hasura-base.cabal
  server/lib/hasura-base/src/Hasura/Base/Instances.hs
  server/lib/hasura-extras/hasura-extras.cabal
  server/lib/hasura-extras/src/Autodocodec/Extended.hs
  server/lib/hasura-extras/src/Data/Text/Extended.hs
Owners: @hasura/hge-server

Docs: Fix Caching Gif
  docs/docs/caching/quickstart.mdx
  docs/static/img/caching/caching_quickstart-demo_2-21-0.mp4
Owners: @hasura/hge-docs-owners

docs: Update log types
  docs/docs/deployment/logging.mdx
Owners: @hasura/hge-docs-owners

Log the backend source kind in telemetry so we can see which data connector agent is in use
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Telemetry/Types.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
Owners: @hasura/hge-server

console: fix create rest endpoint url label
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Form/RestEndpointForm.tsx
Owners: @hasura/hge-changelog-owners

Server: add `hasura_active_subscription_pollers_in_error_state` metric [Subscriptions observability - 2]
  docs/docs/enterprise/metrics.mdx
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/Common.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/Server/Prometheus.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server: process event triggers with a timeout
  server/src-lib/Hasura/Eventing/EventTrigger.hs
Owners: @hasura/hge-server

Remove the server upgrade/downgrade tests.
  .circleci/server-upgrade-downgrade/.gitignore
  .circleci/server-upgrade-downgrade/run-dev.sh
  .circleci/server-upgrade-downgrade/run.sh
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/pytest.ini
  server/tests-py/test_events.py
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_graphql_read_only_source.py
  server/tests-py/test_query_cache.py
  server/tests-py/test_schema_stitching.py
  server/tests-py/validate.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Extract `Network` and `Net` into `hasura-extras`
  server/graphql-engine.cabal
  server/lib/hasura-extras/hasura-extras.cabal
  server/lib/hasura-extras/src/Autodocodec/Extended.hs
  server/lib/hasura-extras/src/Net/IPv4.hs
  server/lib/hasura-extras/src/Net/IPv6.hs
  server/lib/hasura-extras/src/Network/HTTP/Client/Blocklisting.hs
  server/lib/hasura-extras/src/Network/HTTP/Client/CreateManager.hs
  server/lib/hasura-extras/src/Network/HTTP/Client/DynamicTlsPermissions.hs
  server/lib/hasura-extras/src/Network/HTTP/Client/Restricted.hs
  server/lib/hasura-extras/src/Network/HTTP/Client/Transformable.hs
  server/lib/hasura-extras/src/Network/Types/Extended.hs
  server/lib/hasura-extras/src/Network/URI/Extended.hs
  server/lib/hasura-extras/src/Network/Wai/Extended.hs
  server/lib/hasura-extras/src/Network/Wai/Handler/WebSockets/Custom.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/Metadata/DTO/Utils.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Network.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Endpoint.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/API/Metadata/Types.hs
  server/src-lib/Hasura/Server/AppStateRef.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
Owners: @hasura/hge-server

server: make event trigger inconsistent for read-only source
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/tests-py/queries/event_triggers/data_format/mssql/geojson/create_geojson_event_trigger.yaml
Owners: @hasura/hge-server

Move `Hasura.SQL.Tag` into `RQL.Types`
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Function/API.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/GraphQL/Logging/ExecutionLog.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/Metadata/DTO/Utils.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/RQL/DDL/QueryTags.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/BackendTag.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/RQL/Types/SourceConfiguration.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/SQL/BackendMap.hs
  server/src-lib/Hasura/Server/Telemetry.hs
Owners: @hasura/hge-server

Add `tags` to `.gitignore`
  .gitignore
Owners: @hasura/hge-changelog-owners

Remove ODBC dependency in `hasura-extras`
  server/lib/hasura-extras/hasura-extras.cabal
Owners: @hasura/hge-server

chore(server): inline helpers from Hasura.Server.Utils into RQL.Types
  server/src-lib/Hasura/RQL/Types/ApiLimit.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
Owners: @hasura/hge-server

Remove`Hasura.RQL.Types` dependency on `Backends.Postgres.Execute.Types`
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/ClientCredentials.hs
  server/src-lib/Hasura/RQL/Types/EECredentials.hs
Owners: @hasura/hge-server

docs: update hasura federation sidebar title
  docs/docs/data-federation/hasura-graphql-federation-architectures.mdx
Owners: @hasura/hge-docs-owners

console: fix UI issue with buttons on RS edit permission page
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Permissions/PermissionEditor.tsx
Owners: @hasura/hge-changelog-owners

Split Hasura.RQL.DDL.Headers to put types in Hasura.RQL.Types.Headers
  server/graphql-engine.cabal
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Headers.hs
  server/src-lib/Hasura/RQL/DDL/OpenTelemetry.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/IR/Action.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing.hs
  server/src-lib/Hasura/RQL/Types/Headers.hs
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/Core.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Types.hs
Owners: @hasura/hge-server

Move the `GHC` directory into `hasura-extras`
  server/graphql-engine.cabal
  server/lib/hasura-extras/hasura-extras.cabal
  server/lib/hasura-extras/src/GHC/AssertNF/CPP.hs
  server/lib/hasura-extras/src/GHC/Generics/Extended.hs
  server/lib/hasura-extras/src/GHC/Stats/Extended.hs
Owners: @hasura/hge-server

ci: sleep 3 seconds after allowlist adhoc operation benchmark
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/allowlist.sh
Owners: @hasura/hge-server

server/tests-py: Extract Apollo servers into fixtures.
  server/tests-py/test_apollo_federation.py
Owners: @hasura/hge-server

server: check for event triggers before throwing `source-cleanup-failed` warnings
  server/lib/api-tests/src/Test/API/Metadata/InconsistentSpec.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
Owners: @hasura/hge-server

Add Mongo icon to Connect DB DSF-203
  frontend/docker/DataSources/mongo/init.js
  frontend/docker/README.md
  frontend/docker/docker-compose.yml
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/mongodb.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
Owners: @hasura/hge-changelog-owners

console: storybook components for list native query and list logical models
  frontend/libs/console/legacy-ce/src/lib/features/LogicalModels/components/CardedTableFromReactTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/LogicalModels/components/ListLogicalModels.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/LogicalModels/components/ListLogicalModels.tsx
  frontend/libs/console/legacy-ce/src/lib/features/LogicalModels/components/ListNativeQueries.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/LogicalModels/components/ListNativeQueries.tsx
  frontend/libs/console/legacy-ce/src/lib/features/LogicalModels/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/LogicalModels/mocks.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
Owners: @hasura/hge-changelog-owners

console: Show use case popup post onboarding
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/hooks/useWizardState.ts
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
  frontend/libs/console/legacy-ee/src/lib/components/Main/ExploreUseCasePopup.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
Owners: @hasura/hge-changelog-owners

console: Show use case popup post onboarding (hotfix v2.23)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/hooks/useWizardState.ts
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
  frontend/libs/console/legacy-ee/src/lib/components/Main/ExploreUseCasePopup.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
Owners: @hasura/hge-changelog-owners

install-manifests: comment ee license key in enterprise docker-compose files (#8901)
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

install-manifests: comment empty license key from enterprise docker-compose
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

Separate `Hasura.EncJSON` into its own package
  server/graphql-engine.cabal
  server/lib/hasura-json-encoding/hasura-json-encoding.cabal
  server/lib/hasura-json-encoding/src/Hasura/EncJSON.hs
Owners: @hasura/hge-server

Break `Metadata.DTO.Utils` into `Autodocodec.Extended` and `RQL.Types.BackendTag`
  server/graphql-engine.cabal
  server/lib/hasura-extras/src/Autodocodec/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Function/Metadata.hs
  server/src-lib/Hasura/LogicalModel/API.hs
  server/src-lib/Hasura/LogicalModel/Metadata.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV1.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV2.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/Metadata/DTO/Utils.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Allowlist.hs
  server/src-lib/Hasura/RQL/Types/BackendTag.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/HealthCheck.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Local.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
Owners: @hasura/hge-server
