Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

server: fix bug when streaming subscription cursor has custom name
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/tests-py/queries/subscriptions/streaming/setup.yaml
  server/tests-py/queries/subscriptions/streaming/teardown.yaml
  server/tests-py/test_subscriptions.py
Owners: @hasura/hge-server

ci: release v2.13.0-beta.1
  releases/v2.13.0-beta.1-ce
  releases/v2.13.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

ci: release v2.13.0-beta.1-ce
  releases/v2.13.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.13.0-beta.1-cloud.1
  releases/v2.13.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

console: fix few UI glitches (hotfix v2.13)
  console/src/components/Main/Main.module.scss
  console/src/components/Main/Main.utils.ts
  console/src/components/Services/Data/Schema/Schema.js
Owners: @hasura/hge-console-owners

server: Permit strings for numerical input fields
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Parser/Scalars.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Options.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Main.hs
  server/src-test/Test/Parser/Monad.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Test/BigQuery/TypeInterpretationSpec.hs
Owners: @hasura/hge-server

console: fix local object relationship deletion
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/__test__/mocks.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/hooks/useListAllRelationshipsFromMetadata/utils.ts
Owners: @hasura/hge-console-owners

ci: fix console builds for v2.13
  console/Makefile
  console/package.json
Owners: @hasura/hge-console-owners

server,pro: fix `batch_size` behaviour for auto event trigger log cleanup (cherry-pick)
  docs/docs/api-reference/metadata-api/event-triggers.mdx
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/event-triggers/clean-up/auto-cleanup.mdx
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Eventing/Common.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-test/Hasura/EventTriggerCleanupSuite.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

ci: catalog version update for v2.13.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.13.0
  releases/v2.13.0
Owners: @hasura/hge-changelog-owners

ci: release v2.13.0-ce
  releases/v2.13.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.13.0-cloud.1
  releases/v2.13.0-cloud.1
Owners: @hasura/hge-changelog-owners

console: hotfix neon UI changes to v2.13
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/components/NeonOnboarding.tsx
  console/src/features/OnboardingWizard/constants.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
Owners: @hasura/hge-console-owners

server: remove default `+RTS -qn2` setting
  server/graphql-engine.cabal
Owners: @hasura/hge-server

multitenant: make ourIdleGC parameters tunable, and with better defaults (SRE-191)
  server/src-lib/Hasura/GC.hs
  server/src-lib/Hasura/Server/Init/Env.hs
Owners: @hasura/hge-server

tests: force remove BigQuery datasets and don't bother manually removing tables
  cabal/dev-sh.project.local
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: clarify env var instructions for cockroach using ssl
  docs/docs/databases/postgres/cockroachdb/getting-started/cloud.mdx
Owners: @hasura/hge-docs-owners

docs: add docs to connect ms sql server on azure to hasura
  docs/docs/databases/connect-db/cloud-databases/index.mdx
  docs/docs/databases/connect-db/cloud-databases/mssql.mdx
  docs/static/img/cloud-dbs/logos/mssql.png
  docs/static/img/cloud-dbs/mssql/add-ip-and-save.png
  docs/static/img/cloud-dbs/mssql/click-on-create-db-step-6.png
  docs/static/img/cloud-dbs/mssql/click-on-create-step-2.png
  docs/static/img/cloud-dbs/mssql/configure-network-and-create-step-4.png
  docs/static/img/cloud-dbs/mssql/connect-to-hasura-step-8.png
  docs/static/img/cloud-dbs/mssql/copy-server-name.png
  docs/static/img/cloud-dbs/mssql/create-db-step-7.png
  docs/static/img/cloud-dbs/mssql/existing-mssql-setup.png
  docs/static/img/cloud-dbs/mssql/fill-required-fields-step-3.png
  docs/static/img/cloud-dbs/mssql/review-and-create-step-4.png
  docs/static/img/cloud-dbs/mssql/select-sql-server-step-1.png
  docs/static/img/cloud-dbs/mssql/server-created-go-to-network.png
Owners: @hasura/hge-docs-owners

Chrism/docs/api allowed methods
  docs/docs/deployment/securing-graphql-endpoint.mdx
  docs/docs/guides/best-practices-for-production/security.mdx
Owners: @hasura/hge-docs-owners

[documentation] add more details to remote joins engineering documentation
  server/documentation/deep-dives/remote-joins-execution.md
Owners: @hasura/hge-server

Update documentation for main.
  server/deep-dives/remote-joins-execution.md
Owners: @hasura/hge-server

console: disable connection parameters field for cockroachdb
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
  console/src/dataSources/services/cockroach/index.tsx
  console/src/features/DataSource/index.ts
Owners: @hasura/hge-console-owners

Docs: improve Console contributing instructions
  console/docs/console-generic-info.md
  server/CONTRIBUTING.md
Owners: @hasura/hge-console-owners, @hasura/hge-server

server/tests: Add ability to test subscriptions in test-harness
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Subscriptions/LiveQueriesSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

removed dependency of needing gdc to be enabled to reach connect db page
  console/src/components/Services/Data/DataSources/DataSourceFormWrapper.tsx
Owners: @hasura/hge-console-owners

simplify type collection for introspection
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
Owners: @hasura/hge-server

feature (console): allow user to edit column comments and custom GQL field names for GDC tables
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/features/BrowseRows/components/BrowseRowsContainer/BrowseRowsContainer.tsx
  console/src/features/BrowseRows/components/DataGrid/DataGrid.tsx
  console/src/features/BrowseRows/components/DataGrid/parts/DataTableOptions.tsx
  console/src/features/BrowseRows/components/DataGrid/useTableColumns.ts
  console/src/features/Data/ModifyTable/components/EditTableColumnDialog/EditTableColumnDialog.tsx
  console/src/features/Data/ModifyTable/components/EditTableColumnDialog/index.ts
  console/src/features/Data/ModifyTable/components/EditTableColumnDialog/schema.ts
  console/src/features/Data/ModifyTable/components/TableColumnDescription.tsx
  console/src/features/Data/ModifyTable/components/TableColumns.tsx
  console/src/features/Data/ModifyTable/hooks/useListAllTableColumns.ts
  console/src/features/Data/ModifyTable/hooks/useUpdateTableColumn.ts
  console/src/features/Data/ModifyTable/types.ts
  console/src/new-components/Dialog/Dialog.tsx
Owners: @hasura/hge-console-owners

server: Add an ExperimentalFeatureFlag for Aggregation Predicates
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Options.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

console: added ssl mode information to cockroach db
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
Owners: @hasura/hge-console-owners

docs: update clouds screenshots throughout docs
  docs/static/img/cloud-dbs/existing-db-setup.png
  docs/static/img/cloud-dbs/hasura-console.png
  docs/static/img/databases/read-replicas/connect-db-with-replica.png
  docs/static/img/getting-started/connect-db-console.png
  docs/static/img/getting-started/create-profile-table.png
  docs/static/img/getting-started/profile-query.png
  docs/static/img/getting-started/project-manage.png
  docs/static/img/observability/monitoring-tab-overview.png
Owners: @hasura/hge-docs-owners

remove cyclic dependencies in 'Hasura.GraphQL.Schema' module
  server/lib/schema-parsers/hasura-schema-parsers.cabal
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema.hs-boot
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema/Collect.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema/Convert.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema/Convert.hs-boot
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema/Definition.hs
Owners: @hasura/hge-server

console: fix API explorer headers action icons alignment
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
Owners: @hasura/hge-console-owners

Aggregation Predicates conflict avoidance and feature flag
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Regression/AggregateBoolExpConflictSpec.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Options.hs
  server/src-lib/Hasura/Name.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

feature (console): allow user to add/update/delete local relationships for GDC sources
  console/src/features/Data/ManageTable/ManageTable.tsx
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsContainer/DatabaseRelationshipsContainer.stories.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsContainer/DatabaseRelationshipsContainer.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsContainer/index.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/DatabaseRelationshipTable.stories.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/DatabaseRelationshipTable.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/Legends.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/__test__/mocks.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/__test__/utils.test.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/hooks/useFindRelationship.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/hooks/useListAllRelationshipsFromMetadata/index.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/hooks/useListAllRelationshipsFromMetadata/useListAllRelationshipsFromMetadata.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/hooks/useListAllRelationshipsFromMetadata/utils.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/index.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/mocks/index.ts
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/types.ts
  console/src/features/DataRelationships/components/Form/Form.stories.tsx
  console/src/features/DataRelationships/components/Form/Form.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/ManualLocalRelationshipWidget.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/__mocks__/localrelationships.mock.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/hooks/useCreateManualLocalRelationship.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/MapColumns.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/RelationshipType.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/SourceTable.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/TargetTable.stories.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/TargetTable.tsx
  console/src/features/DataRelationships/hooks/useDeleteRelationships.ts
  console/src/features/DataRelationships/index.ts
  console/src/features/DataSource/types.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/mocks/index.ts
  console/src/features/RelationshipsTable/index.ts
  console/src/new-components/CardedTable/CardedTable.tsx
  console/src/new-components/Form/Form.tsx
  console/src/theme/tailwind.css
Owners: @hasura/hge-console-owners

Update cloud.mdx
  docs/docs/databases/ms-sql-server/getting-started/cloud.mdx
Owners: @hasura/hge-docs-owners

Docs: Update Screenshots
  docs/docs/databases/bigquery/getting-started/docker.mdx
Owners: @hasura/hge-docs-owners

Docs: Update Screenshots
  docs/docs/databases/ms-sql-server/getting-started/docker.mdx
Owners: @hasura/hge-docs-owners

Docs: Update Screenshots
  docs/static/img/databases/bigquery/bigquery-add-service-account_console_2.12.1.png
Owners: @hasura/hge-docs-owners

Docs: Update Thumbnail src
  docs/docs/databases/postgres/citus-hyperscale-postgres/getting-started/docker.mdx
Owners: @hasura/hge-docs-owners
