Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server: Add warning log for no admin secret
  .circleci/test-server-flags.sh
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Remove `PostgresTypesSpec`, create `Test.Postgres.TimestampSpec`
  server/graphql-engine.cabal
  server/tests-hspec/Test/Postgres/TimestampSpec.hs
  server/tests-hspec/Test/PostgresTypesSpec.hs
Owners: @hasura/hge-server

Create and organise `OffsetSpec`, remove `LimitOffsetSpec`
  server/graphql-engine.cabal
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/Queries/Paginate/OffsetSpec.hs
Owners: @hasura/hge-server

server: split metadata serialization helpers into new module
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
Owners: @hasura/hge-server

refactor (console): modify file structure for the Datasource feature
  console/src/components/Services/Data/DataSources/SampleDatabase/index.ts
  console/src/features/ConnectDB/Configuration.tsx
  console/src/features/DataSource/bigquery/index.ts
  console/src/features/DataSource/bigquery/introspection/__tests__/utils.spec.ts
  console/src/features/DataSource/bigquery/introspection/index.ts
  console/src/features/DataSource/bigquery/introspection/utils.ts
  console/src/features/DataSource/citus/index.ts
  console/src/features/DataSource/common/__tests__/utils.spec.ts
  console/src/features/DataSource/common/utils.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/mssql/index.ts
  console/src/features/DataSource/postgres/index.ts
  console/src/features/DataSource/postgres/introspection/getDatabaseConfiguration.ts
  console/src/features/DataSource/postgres/introspection/getTrackableTables.ts
  console/src/features/DataSource/postgres/introspection/index.ts
  console/src/features/Datasources/bigquery/index.ts
  console/src/features/Datasources/citus/index.ts
  console/src/features/Datasources/index.ts
  console/src/features/Datasources/mssql/index.ts
  console/src/features/Datasources/mysql/index.ts
  console/src/features/Datasources/postgres/index.ts
  console/src/new-components/MapSelector/index.tsx
Owners: @hasura/hge-console-owners

tests: `interpolateYaml` quasiquoter for string interpolation
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Quoter/Yaml.hs
  server/tests-hspec/Harness/Quoter/Yaml/InterpolateYaml.hs
  server/tests-hspec/Test/Quoter/YamlSpec.hs
Owners: @hasura/hge-server

console: show correct GQL query when user click on "Open In GraphQL" from REST endpoints
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
Owners: @hasura/hge-console-owners

console: Link the most important resources in the README
  console/README.md
  console/docs/console-generic-info.md
Owners: @hasura/hge-console-owners

console: upgrade to node 16 and npm 8
  console/.eslintrc
  console/.nvmrc
  console/package-lock.json
  console/package.json
  console/src/components/Services/ApiExplorer/Rest/Details.tsx
  console/src/features/PermissionsForm/components/RowPermissions.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/index.tsx
  console/src/new-components/RequestHeadersSelector/RequestHeadersSelector.stories.tsx
Owners: @hasura/hge-console-owners

Move and refactor the `Directives` tests
  server/graphql-engine.cabal
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeAndSkipSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeSpec.hs
  server/tests-hspec/Test/Queries/Directives/SkipSpec.hs
  server/tests-hspec/Test/Queries/DirectivesSpec.hs
Owners: @hasura/hge-server

server: Support min/max aggregates on string-type columns [GDW-206]
  dc-agents/reference/src/query.ts
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/tests-dc-api/Test/QuerySpec/AggregatesSpec.hs
  server/tests-hspec/Test/DataConnector/AggregateQuerySpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Rename prefix Raw options to suffix for consistency
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

Introduce WithEnvT transformer for OSS/Pro Env Parsing
  server/src-lib/Hasura/Server/Init/Env.hs
Owners: @hasura/hge-server

console: add horizontal variants for form fields wrapper CON-403
  console/package-lock.json
  console/src/docs/design-system/input-fields.stories.mdx
  console/src/features/CronTriggers/components/Form/components/CronPayloadInput.tsx
  console/src/new-components/Form/Checkbox.tsx
  console/src/new-components/Form/CodeEditorField.tsx
  console/src/new-components/Form/FieldWrapper.stories.mdx
  console/src/new-components/Form/FieldWrapper.tsx
  console/src/new-components/Form/Form.stories.mdx
  console/src/new-components/Form/InputField.tsx
  console/src/new-components/Form/Radio.tsx
  console/src/new-components/Form/Select.tsx
  console/src/new-components/Form/Textarea.tsx
  console/tailwind.config.js
Owners: @hasura/hge-console-owners

server: Automate generation and verification of Cabal files from hpack.
  scripts/hpack.sh
  scripts/make/build.mk
  scripts/make/lint.mk
  server/CONTRIBUTING.md
  server/VERSIONS.json
  server/lib/aeson-ordered/aeson-ordered.cabal
  server/lib/error-message/hasura-error-message.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update tests-hspec readme with m1 and docker compose troubleshooting
  server/tests-hspec/README.md
Owners: @hasura/hge-server

Refactor the `NestedRelationshipsSpec` into the new structure
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Test/NestedRelationshipsSpec.hs
  server/tests-hspec/Test/Queries/NestedObjectSpec.hs
Owners: @hasura/hge-server

server/tests: Porting Context to Fixture - add custom options
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/DataConnector.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Test/Context.hs
  server/tests-hspec/Harness/Test/CustomOptions.hs
  server/tests-hspec/Harness/Test/Fixture.hs
  server/tests-hspec/Test/GatheringUniqueConstraintsSpec.hs
  server/tests-hspec/Test/InsertOnConflictSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeAndSkipSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeSpec.hs
  server/tests-hspec/Test/Queries/Directives/SkipSpec.hs
  server/tests-hspec/Test/Queries/DirectivesSpec.hs
  server/tests-hspec/Test/Queries/FilterSearchSpec.hs
  server/tests-hspec/Test/Queries/Paginate/LimitSpec.hs
  server/tests-hspec/Test/Queries/Paginate/OffsetSpec.hs
  server/tests-hspec/Test/Queries/Simple/OperationNameSpec.hs
  server/tests-hspec/Test/Queries/Simple/PrimaryKeySpec.hs
  server/tests-hspec/Test/Queries/SortSpec.hs
Owners: @hasura/hge-server

console/heap: redact user sensitive data from title html tag
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Modify/Modify.tsx
  console/src/components/Services/Actions/Permissions/Permissions.js
  console/src/components/Services/Actions/Relationships/Relationships.js
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.js
  console/src/components/Services/Data/Function/Permission/Permission.tsx
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Events/EventTriggers/TableCommon/TableHeader.js
  console/src/components/Services/RemoteSchema/Edit/Edit.js
  console/src/components/Services/RemoteSchema/Permissions/Permissions.tsx
Owners: @hasura/hge-console-owners

Docs: updates Lux installation docs to include PV storage amounts (closes #5160)
  docs/docs/enterprise/control-plane/installation.mdx
Owners: @hasura/hge-docs-owners

Only require `MkRootFieldName` in top-level functions (that make root fields)
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/src-test/Test/Parser/Internal.hs
Owners: @hasura/hge-server

Resolve a variety of smaller TODOs in the OSS Arg/Env Parser
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Downgrade.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
  server/src-lib/Hasura/Server/Types.hs
Owners: @hasura/hge-server

Add the `HelloWorldSpec` link back in the README
  server/tests-hspec/README.md
Owners: @hasura/hge-server

cli: add support for `health_check` metadata object in sources
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/sources/sources_test.go
  cli/internal/metadataobject/sources/testdata/build_test/t1/metadata/databases/databases.yaml
  cli/internal/metadataobject/sources/testdata/build_test/t1/want.golden.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/metadata.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/want/databases/databases.yaml
Owners: @hasura/hge-cli-owners

server: Improve test failure error message in Data Connector agent test suite
  cabal.project.freeze
  server/graphql-engine.cabal
  server/tests-dc-api/Test/CapabilitiesSpec.hs
  server/tests-dc-api/Test/Expectations.hs
  server/tests-dc-api/Test/HealthSpec.hs
  server/tests-dc-api/Test/QuerySpec/AggregatesSpec.hs
  server/tests-dc-api/Test/QuerySpec/BasicSpec.hs
  server/tests-dc-api/Test/QuerySpec/RelationshipsSpec.hs
  server/tests-dc-api/Test/SchemaSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/tests-py: Update README with more recent links.
  server/tests-py/README.md
Owners: @hasura/hge-server

schema-parsers: Duplicate `scientificToFoo` to break a dependency.
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
  server/src-lib/Hasura/GraphQL/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/tests-py/queries/graphql_mutation/insert/basic/insert_integer_overflow.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_integer_overflow_mssql.yaml
Owners: @hasura/hge-server

Console: jest tests files regexp + refactoring
  console/jest.config.js
Owners: @hasura/hge-console-owners

tooling: Add `make ghcid-test-x` commands
  scripts/make/ghcid.mk
  scripts/make/tests.mk
Owners: @hasura/hge-changelog-owners

Monomorphize AuthHookG
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

console: Define a testing strategy
  console/README.md
  console/docs/console-generic-info.md
  console/src/components/Common/utils/__tests__/urlUtils.spec.ts
  console/src/components/Main/Main.utils.ts
  console/src/components/Main/__tests__/Main.utils.spec.ts
  console/src/components/Services/Data/Schema/tableTrackCustomization/__tests__/utils.spec.ts
  console/src/components/Services/Data/Schema/tableTrackCustomization/utils.ts
  console/src/docs/dev/testing/1-home.stories.mdx
  console/src/docs/dev/testing/2-test-tooling.stories.mdx
  console/src/docs/dev/testing/3-testing-best-practices.stories.mdx
  console/src/docs/dev/testing/4-components-driven-develpoment-concept.stories.mdx
  console/src/docs/dev/testing/5-components-driven-develpoment-workflow.stories.mdx
  console/src/docs/dev/testing/assets/error-message.png
  console/src/docs/dev/testing/assets/example-form.png
  console/src/docs/dev/testing/assets/success-message.png
  console/src/docs/dev/testing/assets/testing-grid.png
  console/src/docs/dev/testing/assets/user-info1.png
  console/src/docs/dev/testing/assets/user-info2.png
  console/src/docs/dev/tooling.stories.mdx
Owners: @hasura/hge-console-owners

multitenant: fix dubious config status updates during tenant start
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
Owners: @hasura/hge-server

tests: Convert more Context -> Fixture in hspec tests
  server/tests-hspec/Test/ArrayParamPermissionSpec.hs
  server/tests-hspec/Test/InsertCheckPermissionSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsLimitSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ArrayRelationshipsSpec.hs
Owners: @hasura/hge-server

server/nada: test mkUpdateCTE
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-test/Hasura/Backends/Postgres/Translate/UpdateSpec.hs
  server/src-test/Test/Backend/Postgres/Update.hs
  server/src-test/Test/Parser/Expectation.hs
  server/src-test/Test/SIString.hs
  server/tests-hspec/Harness/Quoter/Sql.hs
  server/tests-hspec/Test/SQLServer/InsertVarcharColumnSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
Owners: @hasura/hge-server

test(platform): Add a script to automatically export the E2E test request and responses
  console/cypress-local.config.ts
  console/cypress.config.ts
  console/cypress/plugins/index.js
  console/cypress/support/commands.ts
  console/cypress/support/contractIntercept/contractIntercept.ts
  console/cypress/support/contractIntercept/helpers/checkAndGetTestInfo.ts
  console/cypress/support/contractIntercept/helpers/generateDescribesTitle.ts
  console/cypress/support/contractIntercept/helpers/generateDescribesTitle.unit.test.ts
  console/cypress/support/contractIntercept/helpers/generateEmptyTestState.ts
  console/cypress/support/contractIntercept/helpers/generateTestTitle.ts
  console/cypress/support/contractIntercept/helpers/generateTestTitle.unit.test.ts
  console/cypress/support/contractIntercept/helpers/splitPathTask.unit.test.ts
  console/cypress/support/contractIntercept/helpers/throwIfCalledInTestHooks.ts
  console/cypress/support/contractIntercept/helpers/throwIfCalledInTestHooks.unit.test.ts
  console/cypress/support/contractIntercept/helpers/throwIfCalledInsideArrowFunction.ts
  console/cypress/support/contractIntercept/helpers/throwIfCalledInsideArrowFunction.unit.test.ts
  console/cypress/support/contractIntercept/index.ts
  console/cypress/support/contractIntercept/types.ts
  console/cypress/support/index.d.ts
  console/cypress/support/tasks/index.ts
  console/cypress/support/tasks/joinPath.ts
  console/cypress/support/tasks/mkdirSync.ts
  console/cypress/support/tasks/splitPath.ts
  console/cypress/support/tasks/writeFileSync.ts
  console/src/docs/dev/testing/6-export-contract-from-e2e-test.stories.mdx
Owners: @hasura/hge-console-owners

feature (console): add DAL method to fetch columns for a particular table
  console/src/features/DataSource/api.ts
  console/src/features/DataSource/bigquery/index.ts
  console/src/features/DataSource/bigquery/introspection/getTableColumns.ts
  console/src/features/DataSource/bigquery/introspection/getTrackableTables.ts
  console/src/features/DataSource/bigquery/introspection/index.ts
  console/src/features/DataSource/citus/index.ts
  console/src/features/DataSource/citus/introspection/getTableColumns.ts
  console/src/features/DataSource/citus/introspection/index.ts
  console/src/features/DataSource/common/__tests__/utils.spec.ts
  console/src/features/DataSource/common/utils.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/mssql/index.ts
  console/src/features/DataSource/mssql/introspection/getTableColumns.ts
  console/src/features/DataSource/mssql/introspection/index.ts
  console/src/features/DataSource/postgres/index.ts
  console/src/features/DataSource/postgres/introspection/getTableColumns.ts
  console/src/features/DataSource/postgres/introspection/index.ts
  console/src/features/DataSource/types.ts
  console/src/features/TrackTables/hooks/__tests__/useTables.spec.tsx
  console/src/features/TrackTables/hooks/useTables.ts
Owners: @hasura/hge-console-owners

feature (console): disable query and subscription root fields
  CHANGELOG.md
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/PermissionsConfirmationModal.stories.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/PermissionsConfirmationModal.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/PermissionsConfirmationModal.utils.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/RootFieldPermissions.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/RootFieldsPermissionsTitle.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/SelectPermissionFields.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/SelectPermissionSectionHeader.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/SelectPermissionsRow.tsx
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/__tests__/utils.spec.ts
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/types.ts
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/useRootFieldPermissions.ts
  console/src/components/Services/Data/TablePermissions/RootFieldPermissions/utils.ts
  console/src/components/Services/Data/TablePermissions/utils.spec.tsx
  console/src/components/Services/Data/TablePermissions/utils.tsx
  console/src/hooks/useServerConfig.ts
  console/src/new-components/Dialog/Dialog.stories.tsx
  console/src/new-components/Dialog/Dialog.tsx
  console/src/utils/localStorage.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Migrate `CustomFieldNamesSpec` to the new structure
  server/graphql-engine.cabal
  server/tests-hspec/Test/CustomFieldNamesSpec.hs
  server/tests-hspec/Test/Schema/CustomFieldNames/MutationSpec.hs
  server/tests-hspec/Test/Schema/CustomFieldNames/QuerySpec.hs
Owners: @hasura/hge-server

server: accept `extensions_schema` while adding a source
  CHANGELOG.md
  docs/docs/api-reference/metadata-api/source.mdx
  docs/docs/api-reference/syntax-defs.mdx
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/MonadTx.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/Settings.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-test/Hasura/StreamingSubscriptionSuite.hs
  server/src-test/Main.hs
  server/tests-hspec/Test/EventTrigger/EventTriggersExtensionSchemaSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

refactor (console/gdc): clean up the connect DB components + hooks
  console/src/features/ConnectDB/Connect.stories.tsx
  console/src/features/ConnectDB/Connect.tsx
  console/src/features/ConnectDB/components/Fields/RenderProperty.tsx
  console/src/features/ConnectDB/hooks/useDefaultValues.tsx
  console/src/features/ConnectDB/hooks/useLoadSchemas.tsx
  console/src/features/ConnectDB/hooks/useSubmit.tsx
  console/src/features/ConnectDB/mocks/handlers.mock.ts
Owners: @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
