Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk

move images to cdn
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/assets/after-logging-in.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/assets/boilerplate-after-login.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/assets/boilerplate-initial-ui.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/assets/graphiql-after-login.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/assets/realtime-feed.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/assets/vue-mutation-console-log.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/1-architecture.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/graphiql.gif
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/graphql-api.gif
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/graphql-on-http.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/rest-api.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/schema.png
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/setup.md
Owners: @shahidhk

add readinessProbe
  community/learn/graphql-tutorials/manifests/hasura-backend.yaml
  community/learn/graphql-tutorials/manifests/hasura.yaml
  community/learn/graphql-tutorials/manifests/homepage.yaml
  community/learn/graphql-tutorials/manifests/react-apollo.yaml
Owners: @shahidhk

update manifest
  community/learn/graphql-tutorials/manifests/hasura-backend.yaml
  community/learn/graphql-tutorials/manifests/homepage.yaml
  community/learn/graphql-tutorials/manifests/react-apollo.yaml
Owners: @shahidhk

add schema create/delete options in console (WIP)
  console/src/components/Services/Data/Schema/Schema.js
Owners: @rikinsk

reuse the pg connection during startup
  server/src-exec/Main.hs
Owners: @0x777

move event trigger related code
  server/src-exec/Main.hs
Owners: @0x777

add manual trigger options
  console/src/components/Services/EventTrigger/Add/AddState.js
  console/src/components/Services/EventTrigger/Add/Operations.js
  console/src/components/Services/EventTrigger/TableCommon/EventTable.scss
Owners: @rikinsk

fix refs
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/schema/basics.rst
Owners: @rikinsk

unique key state wired up
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddState.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/Tooltips.js
  console/src/components/Services/Data/Add/UniqueKeyWrapper.js
Owners: @rikinsk

update circleci server builder image
  .circleci/config.yml
  .circleci/server-builder.dockerfile
Owners: @shahidhk

reset to master
  server/graphql-engine.cabal
  server/src-exec/Migrate.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/RQL/Misc/Config.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Query.hs
Owners: @0x777

add word-break to inline-literals
  docs/_static/hasura-custom.css
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
Owners: @rikinsk

remove some conflicts
  console/src/components/Services/ApiExplorer/utils.js
  console/src/helpers/semver.js
Owners: @rikinsk

document subscriptions related config parameters (#2126)
  docs/_static/hasura-custom.css
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/schema/basics.rst
Owners: @rikinsk

fix relationship rename for non-public schemas (close #1777) (#2127)
  console/src/components/Services/Data/TableRelationships/Actions.js
Owners: @rikinsk

fetch foreign keys with table filters while defining relationships
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
Owners: @0x777

change the api to v1alpha1/config
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Config.hs
Owners: @0x777

formatting fixes
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Config.hs
Owners: @0x777

final manual trigger UI
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Add/Operations.js
  console/src/components/Services/EventTrigger/Add/Tooltips.js
  console/src/components/Services/EventTrigger/TableCommon/EventTable.scss
Owners: @rikinsk

close websocket connection on JWT expiry, fix #578
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Utils.hs
Owners: @0x777

update modify trigger UI
  console/src/components/Services/EventTrigger/Add/Operations.js
  console/src/components/Services/EventTrigger/Modify/Actions.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/utils.js
Owners: @rikinsk

change craete text for event trigger
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/EventSubSidebar.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
Owners: @rikinsk

update docs
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/event-triggers/create-trigger.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/event-triggers/invoke-trigger-console.rst
  docs/img/graphql/manual/event-triggers/create-event-trigger-advanced-settings.png
  docs/img/graphql/manual/event-triggers/create-event-trigger.png
  docs/img/graphql/manual/event-triggers/run-manual-trigger.png
  docs/img/graphql/manual/event-triggers/select-manual-trigger.png
Owners: @rikinsk

fix dropdown arrow inconsistency among browsers, fixes #1878
  docs/_static/hasura-custom.css
Owners: @rikinsk

content updates
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/1-remote-schemas.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/3-write-event-webhook.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/4-create-event-trigger.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/3-todos-table.md
Owners: @shahidhk

optimise server startup time (close #1430) (#2120)
  .circleci/config.yml
  .circleci/server-builder.dockerfile
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-exec/Migrate.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/function_info.sql
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_13_to_14.sql
  server/stack.yaml
Owners: @shahidhk, @0x777

update content
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations/1-create-relationship-from-view.md
Owners: @shahidhk

update image cdn
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/1-create-auth0-app.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/2-custom-jwt-claims-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/3-setup-env-vars-hasura.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/4-user-sync-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/1-todos-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/2-users-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/3-online-users-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/2-add-remote-schema.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/4-create-event-trigger.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/1-users-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/2-try-user-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/3-todos-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/4-try-todos-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations/1-create-relationship-from-view.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/1-create-foreign-key.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/2-create-relationship.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/3-try-out-relationship-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/setup.md
Owners: @shahidhk

update image cdn
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/1-create-auth0-app.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/2-custom-jwt-claims-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/3-setup-env-vars-hasura.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/4-user-sync-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/1-todos-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/2-users-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/3-online-users-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/2-add-remote-schema.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/4-create-event-trigger.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/1-users-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/2-try-user-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/3-todos-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/4-try-todos-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations/1-create-relationship-from-view.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/1-create-foreign-key.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/2-create-relationship.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/3-try-out-relationship-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/setup.md
Owners: @shahidhk

update image cdn
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/1-create-auth0-app.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/2-custom-jwt-claims-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/3-setup-env-vars-hasura.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/4-user-sync-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/1-todos-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/2-users-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/3-online-users-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/2-add-remote-schema.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/4-create-event-trigger.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/1-users-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/2-try-user-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/3-todos-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/4-try-todos-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations/1-create-relationship-from-view.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/1-create-foreign-key.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/2-create-relationship.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/3-try-out-relationship-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/setup.md
Owners: @shahidhk

update images for react tutorial
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/1-architecture.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup.md
Owners: @shahidhk

update cdn
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/1-architecture.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/setup.md
Owners: @shahidhk

allow setting unique columns through console
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddState.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/UniqueKeyWrapper.js
  console/src/components/Services/Data/Common/ReusableComponents/UniqueKeySelector.js
  console/src/components/Services/Data/Common/ReusableComponents/utils.js
Owners: @rikinsk

fix image links
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/1-create-auth0-app.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/2-custom-jwt-claims-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/3-setup-env-vars-hasura.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/4-user-sync-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/1-todos-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/2-users-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/3-online-users-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/2-add-remote-schema.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/4-create-event-trigger.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/1-users-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/2-try-user-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/3-todos-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/4-try-todos-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations/1-create-relationship-from-view.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/1-create-foreign-key.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/2-create-relationship.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/3-try-out-relationship-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/setup.md
Owners: @shahidhk

Resolve already merged conflicts, update config fetch url, change add-header, remove-header action creators
  console/src/Endpoints.js
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/Main/Actions.js
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/ApiRequest/utils.js
  console/src/components/Services/ApiExplorer/utils.js
Owners: @rikinsk

fix state sharing bug
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/UniqueKeyWrapper.js
Owners: @rikinsk

Remove dead code
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
Owners: @rikinsk

fix review comments and test
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/tests-py/test_graphql_queries.py
Owners: @0x777

wire up unique constraint removal
  console/src/components/Services/Data/Common/ReusableComponents/UniqueKeySelector.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Owners: @rikinsk

update youtube videos
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/what-next.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/1-create-auth0-app.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/2-custom-jwt-claims-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/3-setup-env-vars-hasura.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/4-user-sync-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/1-todos-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/2-users-table-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization/3-online-users-permissions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/1-users-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/2-try-user-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/3-todos-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/4-try-todos-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations/1-create-relationship-from-view.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/1-create-foreign-key.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/2-create-relationship.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships/3-try-out-relationship-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/setup.md
Owners: @shahidhk
