Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

[server] Add GraphQL query in the payload for Synchronous Actions
  CHANGELOG.md
  docs/graphql/core/actions/action-handlers.rst
  docs/graphql/core/actions/debugging.rst
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/tests-py/queries/actions/sync/expecting_array_response.yaml
  server/tests-py/queries/actions/sync/expecting_object_response.yaml
  server/tests-py/queries/actions/sync/invalid_webhook_response.yaml
  server/tests-py/queries/actions/sync/mirror_action_no_field.yaml
  server/tests-py/queries/actions/sync/mirror_action_not_null.yaml
  server/tests-py/queries/actions/sync/mirror_action_unexpected_field.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server: remove identity notion from table columns
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MySQL/Meta.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
  server/tests-py/queries/graphql_mutation/insert/insert_table_identity_column.yaml
  server/tests-py/test_graphql_mutations.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: remove ApplicativeDo from default extensions
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Data/Parser/CacheControl.hs
  server/src-lib/Data/Parser/JSONPath.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/Init.hs
Owners: @hasura/hge-server

Change kriti-lang repo protocol from ssh to https
  cabal.project
Owners: @hasura/hge-changelog-owners

server: generalize the event triggers codepath for all backends
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Table.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Eventing/Common.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-test/Hasura/EventingSpec.hs
Owners: @hasura/hge-server

MSSQL: custom-check based permissions _exists uses wrong table graphql-engine#7429
  CHANGELOG.md
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/tests-py/queries/graphql_query/permissions/inherited_roles_mssql/basic_inherited_roles.yaml
  server/tests-py/queries/graphql_query/permissions/inherited_roles_mssql/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_query/permissions/inherited_roles_mssql/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_query/permissions/inherited_roles_mssql/setup_mssql.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

build: use shared root cabal.project for ci-build targets
  cabal.project.ci
  cabal.project.ci.freeze
  cabal.project.ci.local
  server/Makefile
  server/cabal.project.ci
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: API Headers Checkbox > reverting to `legacy-input-fix`
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
Owners: @hasura/hge-console-owners

server: enable StrictData by default (fix hasura/graphql-engine#3941)
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute/Inline.hs
  server/src-lib/Hasura/GraphQL/Parser/Collect.hs
  server/src-lib/Hasura/GraphQL/Parser/Column.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Types.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
Owners: @hasura/hge-server

server: improve event trigger logging
  CHANGELOG.md
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add Execute part for the MySQL data loader
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/MySQL/DataLoader/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/DataLoader/Plan.hs
  server/src-lib/Hasura/Backends/MySQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MySQL/Types/Internal.hs
Owners: @hasura/hge-server

server: Document the Postgres.Translate.Select module
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
Owners: @hasura/hge-server

server/misc: fix formatting with ormolu
  server/src-lib/Hasura/Backends/MySQL/DataLoader/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/DataLoader/Plan.hs
  server/src-lib/Hasura/Backends/MySQL/Types/Instances.hs
Owners: @hasura/hge-server

cli: init --endpoint intializes the project with metadata and migrations from HGE
  CHANGELOG.md
  cli/commands/init.go
  cli/commands/init_test.go
  cli/commands/migrate_create.go
  cli/go.mod
  cli/go.sum
  cli/integration_test/v2/init.go
  cli/integration_test/v2/metadata.go
  cli/integration_test/v3/init.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

console: loading spinner position change for GraphiQL
  console/src/theme/tailwind.css
Owners: @hasura/hge-console-owners

Ignore unexpected fields in action responses
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/mirror_action_unexpected_field.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: fix storybook build
  console/.gitignore
  console/.storybook/main.js
  console/package.json
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryModal.stories.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryTable.stories.tsx
  console/src/docs/dev/storybook.stories.mdx
  console/src/storybook/Testing.stories.tsx
  console/tailwind.config.js
Owners: @hasura/hge-console-owners

server/tests: improve pytest error message where `execute_query` responds with `500`
  server/tests-py/context.py
Owners: @hasura/hge-server

Add support for customising function root field names
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/custom-functions.rst
  docs/graphql/core/api-reference/metadata-api/index.rst
  docs/graphql/core/api-reference/syntax-defs.rst
  server/src-lib/Hasura/Backends/Postgres/DDL/Function.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/tests-py/queries/graphql_query/functions/track_customised_names.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

ci: add server test jobs in buildkite
  .circleci/server-upgrade-downgrade/run.sh
  server/Makefile
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: fix docs on debug mode and internal key
  docs/graphql/core/deployment/graphql-engine-flags/config-examples.rst
Owners: @hasura/hge-docs-owners

Revise function-root-field-customisation.md
  rfcs/function-root-field-customisation.md
Owners: @hasura/hge-changelog-owners

[server] Allow Nullable action response
  CHANGELOG.md
  docs/graphql/core/actions/debugging.rst
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/expecting_array_response_got_null.yaml
  server/tests-py/queries/actions/sync/expecting_object_response_got_null.yaml
  server/tests-py/queries/actions/sync/null_response.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

console: make schema mendatory and used for form values
  console/src/new-components/Form/Form.stories.tsx
  console/src/new-components/Form/Form.tsx
Owners: @hasura/hge-console-owners

TestWebhookTransform shouldn't increment Resource Version
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

Fixes update_action transform bug and updates Kriti pin
  cabal.project
  cabal.project.freeze
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/v1/metadata/validate_webhook_transform_bad_parse.yaml
  server/tests-py/test_events.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: Segment Analytics Implementation
  docs/_static/scripts/hdocs.js
  docs/_theme/djangodocs/basic/layout.html
  docs/conf.py
Owners: @hasura/hge-docs-owners

ci: complete the CLI pipeline in buildkite
  cli/Makefile
Owners: @hasura/hge-cli-owners

server/bigquery: allow empty tables in `replace_metadata`. Default BigQueryField `mode` to Nullable
  scripts/data-sources-util.sh
  scripts/dev.sh
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Meta.hs
  server/tests-py/queries/v1/metadata/bigquery/replace_metadata_no_tables.yaml
  server/tests-py/queries/v1/metadata/replace_metadata_no_tables.yaml
  server/tests-py/test_metadata.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cli: support absolute paths in --envfile
  CHANGELOG.md
  cli/cli.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

server: skip `TestScheduledEvent` due to flakiness
  server/tests-py/test_scheduled_triggers.py
Owners: @hasura/hge-server

Update Kriti to support field lookup by string literal in webhook transformations
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

cli: support query_tags in metadata
  CHANGELOG.md
  cli/internal/metadataobject/query_tags/query_tags.go
  cli/internal/metadataobject/query_tags/query_tags_test.go
  cli/internal/metadataobject/query_tags/testdata/metadata.json
  cli/internal/metadataobject/query_tags/testdata/metadata/query_tags.yaml
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/sources/sources_test.go
  cli/internal/metadataobject/sources/testdata/metadata.json
  cli/internal/metadataobject/sources/testdata/metadata/databases/databases.yaml
  cli/internal/metadataobject/sources/yaml_test.go
  cli/internal/projectmetadata/objects.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

server: operation timeout with postgres cancelling
  cabal.project
  docs/graphql/cloud/security/api-limits.rst
  rfcs/operation-timeout-api-limits-braindump.md
  rfcs/operation-timeout-api-limits.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/Types/ApiLimit.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Limits.hs
  server/src-lib/Hasura/Server/Rest.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

console: fix v2 metadata imports
  CHANGELOG.md
  console/src/components/Services/Data/Schema/TemplateGallery/Actions.ts
  console/src/metadata/actions.ts
  console/src/metadata/queryUtils.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

RFC: limit over join optimization
  rfcs/limit-over-join-optimization.md
Owners: @hasura/hge-changelog-owners

RFC: Customisability of function root field names
  rfcs/function-root-field-customisation.md
Owners: @hasura/hge-changelog-owners

Rename session variable binder for webhook transforms
  server/src-lib/Hasura/RQL/DDL/RequestTransform.hs
Owners: @hasura/hge-server

cli: add deploy command (close #7349)
  CHANGELOG.md
  cli/commands/deploy.go
  cli/commands/deploy_test.go
  cli/commands/help.go
  cli/commands/metadata_reload.go
  cli/commands/root.go
  cli/integration_test/cli_test.go
  cli/integration_test/v3/deploy.go
  cli/internal/fsm/fsm.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

console: fix missing cross-schema computed fields in permission builder
  CHANGELOG.md
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/dataSources/index.ts
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
