Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Fix `a /= []` and add hint.
  .hlint.yaml
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: do not serialize env vars in logs or errors: PR III - Event Triggers
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add Weeder, begin weeding (1/?)
  server/graphql-engine.cabal
  server/src-lib/Data/Tuple/Extended.hs
  server/src-lib/Hasura/Base/Error.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/SQL/BackendMap.hs
  weeder.dhall
Owners: @hasura/hge-server, @hasura/hge-changelog-owners

server: extend backend_only setting for update and delete permissions
  CHANGELOG.md
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/features/PermissionsForm/PermissionsForm.tsx
  docs/docs/graphql/core/actions/derive.mdx
  docs/docs/graphql/core/api-reference/syntax-defs.mdx
  docs/docs/graphql/core/auth/authorization/permission-rules.mdx
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-test/Test/Parser/Internal.hs
  server/tests-hspec/Test/BackendOnlyPermissionsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-docs-owners, @hasura/hge-server

cli: support multiple admin secrets
  CHANGELOG.md
  cli/cli.go
  cli/cli_test.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

console: integrate relationships table component to Data tab
  console/src/features/DataRelationships/DatabaseRelationshipsTab.stories.tsx
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/MetadataAPI/__tests__/metadataTransformers/__fixtures__/dbToRemoteSchemaRelationships.ts
  console/src/features/MetadataAPI/__tests__/metadataTransformers/metadataTransformers.test.ts
  console/src/features/MetadataAPI/hooks/metadataTransformers.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/RelationshipsCell.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/TableRowIcon.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/index.ts
  console/src/metadata/types.ts
Owners: @hasura/hge-console-owners

fix (console): fixes broken alignment in manage database table
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

CON-185-Remove any icons left in the CE codebase
  console/src/components/Common/Headers/Headers.tsx
  console/src/components/Main/components/UpdateVersion.tsx
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
  console/src/components/Services/ApiExplorer/Analyzer/RootFields.tsx
  console/src/components/Services/ApiExplorer/ApiCollectionPanel/ApiCollectionPanel.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/ApiResponse/ApiResponse.js
  console/src/components/Services/ApiExplorer/ApiResponse/generateSuggestionBox.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/Rest/List.tsx
  console/src/components/Services/ApiExplorer/Rest/LivePreview/CollapsibleToggle.tsx
  console/src/components/Services/ApiExplorer/Rest/LivePreview/Headers.tsx
  console/src/components/Services/ApiExplorer/Rest/LivePreview/index.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsTable.tsx
  console/src/components/Services/ApiExplorer/Security/utils.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/StatusIcon.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryModal.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryTable.tsx
  console/src/components/Services/Data/TreeView.tsx
Owners: @hasura/hge-console-owners

CON-190-add tooltip message to header section of remote schema
  console/src/features/RemoteSchema/components/Create/Create.tsx
Owners: @hasura/hge-console-owners

server/tests: fix `Bigquery HTTP request failed with status code 400 and status message "Bad Request"`
  server/tests-hspec/Test/SerializationSpec.hs
Owners: @hasura/hge-server

server: Data Connector IR refactor, support for column boolean comparison expressions [GDW-114]
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Expression.hs
  server/src-dc-api/Hasura/Backends/DataConnector/Agent/Query.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Export.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Expression.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Name.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Query.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Scalar/Value.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ExpressionSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/QuerySpec.hs
  server/tests-dc-api/Test/QuerySpec/BasicSpec.hs
  server/tests-dc-api/Test/QuerySpec/RelationshipsSpec.hs
Owners: @hasura/hge-server

console: migrate action tab to tailwind
  console/src/components/Error/ErrorPage.scss
  console/src/components/Error/PageNotFound.tsx
  console/src/components/Error/RuntimeError.js
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Codegen/CodeTabs.js
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Codegen/DerivedFrom.js
  console/src/components/Services/Actions/Common/components/ActionEditor.tsx
  console/src/components/Services/Actions/Common/components/CloneTypeModal.js
  console/src/components/Services/Actions/Common/components/GraphQLEditor.tsx
  console/src/components/Services/Actions/Common/components/HandlerEditor.tsx
  console/src/components/Services/Actions/Common/components/HeaderConfEditor.tsx
  console/src/components/Services/Actions/Common/components/NameEditor.js
  console/src/components/Services/Actions/Common/components/Styles.scss
  console/src/components/Services/Actions/Containers/ActionContainer.js
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Actions/Modify/Modify.tsx
  console/src/components/Services/Actions/Permissions/PermissionEditor.js
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Actions/Sidebar/LeftSidebar.js
  console/src/components/Services/Actions/Types/Manage/Main.js
  console/src/components/Services/Actions/constants.js
  console/src/components/Services/Common/Landing/TopicDescription.tsx
  console/src/theme/tailwind.css
  console/tailwind.config.js
Owners: @hasura/hge-console-owners

ci: tag release v2.7.0
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add recommendation note to add remote schema via env vars
  console/src/features/RemoteSchema/components/Create/GraphQLServiceUrl.tsx
Owners: @hasura/hge-console-owners

[gh-pages] Remove broken haddock links from hasura.github.io
  server/documentation/README.md
Owners: @hasura/hge-server

Specialize `RQL.DML` to postgres.
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
Owners: @hasura/hge-server

docs: fix pg requirements page
  docs/docs/graphql/core/deployment/postgres-requirements.mdx
Owners: @hasura/hge-docs-owners

Structural updates to the server's engineering documentation
  server/documentation/README.md
  server/documentation/deep-dives/migration-guidelines.md
  server/documentation/deep-dives/multiple-backends-architecture.md
  server/documentation/deep-dives/remote-joins-execution.md
  server/documentation/deep-dives/schema.md
  server/documentation/glossary.md
  server/documentation/overview.md
  server/documentation/tips.md
Owners: @hasura/hge-server

docs: correct Hasura ASCII logo
  docs/docs/graphql/core/hasura-cli/hasura.mdx
Owners: @hasura/hge-docs-owners

console: remote schema relationships improvements
  console/src/components/Services/RemoteSchema/RemoteSchemaSubSidebar.js
  console/src/features/RelationshipsTable/RemoteSchemaRelationshipsTable.tsx
  console/src/features/RelationshipsTable/components/ToRsCell.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/FormElements.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/FormElements.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.tsx
  console/src/new-components/CardRadioGroup/CardRadioGroup.tsx
Owners: @hasura/hge-console-owners

console: Automatically install node_modules.
  console/Makefile
Owners: @hasura/hge-console-owners

console: add support for application/x-www-form-urlencoded in rest connectors
  CHANGELOG.md
  console/cypress/integration/actions/spec.ts
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/TemplateEditor.tsx
  console/src/components/Common/ConfigureTransformation/PayloadOptionsTransforms.tsx
  console/src/components/Common/ConfigureTransformation/SampleContextTransforms.tsx
  console/src/components/Common/ConfigureTransformation/requestTransformState.ts
  console/src/components/Common/ConfigureTransformation/stateDefaults.ts
  console/src/components/Common/ConfigureTransformation/utils.ts
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Modify.tsx
  console/src/metadata/types.ts
  docs/docs/graphql/core/actions/rest-connectors.mdx
  docs/docs/graphql/core/api-reference/syntax-defs.mdx
  docs/docs/graphql/core/event-triggers/rest-connectors.mdx
  docs/static/img/graphql/core/actions/transform-body-application-json.png
  docs/static/img/graphql/core/actions/transform-body-disable.png
  docs/static/img/graphql/core/actions/transform-body-xurl-formencoded.png
  docs/static/img/graphql/core/event-triggers/transform-body-application-json.png
  docs/static/img/graphql/core/event-triggers/transform-body-disable.png
  docs/static/img/graphql/core/event-triggers/transform-body-xurl-formencoded.png
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-docs-owners

server: add support for custom scalar in action output types
  CHANGELOG.md
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/expecting_custom_scalar_array_response_success.yaml
  server/tests-py/queries/actions/sync/expecting_custom_scalar_response_success.yaml
  server/tests-py/queries/actions/sync/expecting_jsonb_response_success.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/bigquery: computed fields SQL generation and execution
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Test/BigQuery/ComputedFieldSpec.hs
  server/tests-hspec/Test/BigQuery/Metadata/ComputedFieldSpec.hs
  server/tests-py/queries/explain/author_articles_orderby_bigquery.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: hotfix for default naming convention issue
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/tests-py/queries/naming_conventions/default_global_naming_convention.yaml
Owners: @hasura/hge-server

CON-151-create-db-to-local-relationship-hook-for-object-and-array-relationships
  console/src/features/MetadataAPI/__tests__/metadataTransformers/__fixtures__/dbToLocalDbRelationship.ts
  console/src/features/MetadataAPI/__tests__/metadataTransformers/__fixtures__/index.ts
  console/src/features/MetadataAPI/__tests__/metadataTransformers/metadataTransformers.test.ts
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/metadataTransformers.ts
  console/src/features/MetadataAPI/hooks/useMetadata.ts
  console/src/features/MetadataAPI/hooks/useMetadataTables.ts
  console/src/features/MetadataAPI/stories/mocks/handlers.mock.ts
  console/src/features/MetadataAPI/stories/mocks/metadata.ts
  console/src/features/MetadataAPI/stories/mocks/querydata.ts
  console/src/features/MetadataAPI/stories/useExistingRelationships.stories.tsx
  console/src/features/MetadataAPI/stories/useMetadata.stories.tsx
  console/src/features/MetadataAPI/types.ts
Owners: @hasura/hge-console-owners

docs: fix allowed_skew is described as a string, but needs to be a number
  docs/docs/graphql/core/auth/authentication/jwt.mdx
Owners: @hasura/hge-docs-owners

server: add infrastructure to write runit tests for update parsers
  cabal.project
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Types/Update.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-test/Hasura/GraphQL/Schema/Build/UpdateSpec.hs
  server/src-test/Main.hs
  server/src-test/Test/Parser/Expectation.hs
  server/src-test/Test/Parser/Field.hs
  server/src-test/Test/Parser/Internal.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

remove font awesome and fix the setting gears
  console/.storybook/preview-body.html
  console/Makefile
  console/package-lock.json
  console/package.json
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.scss
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Services/Data/TreeView.tsx
  console/src/theme/font-awesome.config.js
  console/src/theme/font-awesome.config.less
  console/src/theme/font-awesome.config.prod.js
  console/webpack/dev.config.js
Owners: @hasura/hge-console-owners

docs: update authz docs
  docs/docs/graphql/core/auth/authorization/index.mdx
Owners: @hasura/hge-docs-owners

server: Adds support to return array of scalars in Actions
  CHANGELOG.md
  docs/docs/graphql/core/actions/index.mdx
  docs/docs/graphql/core/actions/types.mdx
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/expecting_array_response.yaml
  server/tests-py/queries/actions/sync/expecting_object_response.yaml
  server/tests-py/queries/actions/sync/get_null_field_expecting_non_nullable_field_array.yaml
  server/tests-py/queries/actions/sync/get_string_scalar_array_action_output_type_expecting_number_array.yaml
  server/tests-py/queries/actions/sync/get_string_scalar_array_action_output_type_success.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server/docs: add error message to troubleshooting.md
  server/tests-hspec/README.md
Owners: @hasura/hge-server

Remove circular dependency in schema building code
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs-boot
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
  server/src-test/Test/Parser/Internal.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

Remove unrelated functions from `GraphQL.Schema.Common`
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Owners: @hasura/hge-server

Add `unless`/`when` related hints
  .hlint.yaml
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/SchemaCacheRef.hs
  server/tests-hspec/Harness/Http.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Create troubleshooting.md
  server/CONTRIBUTING.md
  server/troubleshooting.md
Owners: @hasura/hge-server

server/bigquery: add a reference to github ticket for computed field limit issue
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
Owners: @hasura/hge-server

docs: update datadog docs for new regions support and UI change
  docs/docs/graphql/cloud/metrics/integrations/datadog.mdx
  docs/static/img/graphql/cloud/metrics/configure-datadog.png
Owners: @hasura/hge-docs-owners

feat (console): setup a simple data abstraction layer
  console/package-lock.json
  console/package.json
  console/src/features/DataSource/bigquery/connectDB/getUISchema.ts
  console/src/features/DataSource/bigquery/connectDB/getValidationSchema.ts
  console/src/features/DataSource/bigquery/index.ts
  console/src/features/DataSource/citus/connectDB/getUISchema.ts
  console/src/features/DataSource/citus/connectDB/getValidationSchema.ts
  console/src/features/DataSource/citus/index.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/mssql/connectDB/getUISchema.ts
  console/src/features/DataSource/mssql/connectDB/getValidationSchema.ts
  console/src/features/DataSource/mssql/index.ts
  console/src/features/DataSource/postgres/connectDB/getUISchema.ts
  console/src/features/DataSource/postgres/connectDB/getValidationSchema.ts
  console/src/features/DataSource/postgres/index.ts
Owners: @hasura/hge-console-owners

ci: updates base image for ubuntu and centos flavours
  packaging/graphql-engine-base/centos.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners
