Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

ci: Fix Benchmark regression reporting for empty reports (exposed after #5517)
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server/benchmarks: report response body size changes in PR regression comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server/ci/benchmarks: incorporate ad-hoc queries into benchmark reports
  server/benchmarks/README.md
  server/benchmarks/bench.sh
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: fix division-by-zero in report generation, after e09406170e1
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: remove mem_in_use AFTER from regression report comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: add higher-load variants for huge_schema
  server/benchmarks/benchmark_sets/huge_schema/config.query.yaml
Owners: @hasura/hge-server

ci/benchmarks: skip low_load, omit min for regression report comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: don't measure decompression in k6 (NOT REAL PERFORMANCE IMPROVEMENT)
  server/benchmarks/README.md
  server/benchmarks/benchmark_sets/chinook/config.query.yaml
  server/benchmarks/benchmark_sets/huge_schema/config.query.yaml
  server/benchmarks/benchmark_sets/remote_schema/config.query.yaml
Owners: @hasura/hge-server

ci/benchmarks: more compact regression report comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: fix copypaste bug affecting regression report highlighting in #5942
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

benchmarks: resource_calibration.sh and CI throughput benchmarks
  scripts/containers/postgres
  server/benchmarks/benchmark_sets/chinook_throughput/README.md
  server/benchmarks/benchmark_sets/chinook_throughput/config.query.yaml
  server/benchmarks/benchmark_sets/chinook_throughput/dump.sql.gz
  server/benchmarks/benchmark_sets/chinook_throughput/replace_metadata.json
  server/benchmarks/fabfile.py
  server/benchmarks/resource_calibration.sh
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/benchmarks/ci: benchmark graphql-engine-pro instead of oss
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci: tweak regression report view, tune highlighting of throughput benchmarks
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server/benchmarks: remove introspection from throughput benchmarks
  server/benchmarks/benchmark_sets/chinook_throughput/config.query.yaml
Owners: @hasura/hge-server

server benchmarks: fix reversed highlighting of max throughput
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server benchmarks: comment about way forward if we continue to have capacity issues
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server/benchmarks: Add repro case for #9447
  server/benchmarks/benchmark_sets/9447_repro/README.md
  server/benchmarks/benchmark_sets/9447_repro/SKIP_CI
  server/benchmarks/benchmark_sets/9447_repro/SKIP_PR_REPORT
  server/benchmarks/benchmark_sets/9447_repro/config.query.yaml
  server/benchmarks/benchmark_sets/9447_repro/dump.sql.gz
  server/benchmarks/benchmark_sets/9447_repro/replace_metadata.json
Owners: @hasura/hge-server

server/benchmarks: properly benchmark pro container in EE mode
  server/benchmarks/bench.sh
  server/benchmarks/benchmark_sets/chinook/adhoc_operations/replace_metadata.sh
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/replace_metadata.sh
Owners: @hasura/hge-server

server/benchmarks: configurable pause after each adhoc benchmark, bef…
  server/benchmarks/bench.sh
  server/benchmarks/benchmark_sets/chinook/adhoc_operations/replace_metadata.sh
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/replace_metadata.sh
Owners: @hasura/hge-server

dev.sh: enable grafana metrics API
  scripts/dev.sh
Owners: @hasura/hge-changelog-owners

server/benchmarks: try to remove some possible sources of non-determi…
  server/benchmarks/bench.sh
Owners: @hasura/hge-server

dev.sh: support running pro binary in non-pro mode
  scripts/dev.sh
Owners: @hasura/hge-changelog-owners

bench fixup
  server/benchmarks/bench.sh
Owners: @hasura/hge-server

hardcode 10720 as baseline for regression report comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server: remove default `+RTS -qn2` setting
  server/graphql-engine.cabal
Owners: @hasura/hge-server

server: switch to ghc 9.2 (2nd try)
  cabal.project
  cabal.project.freeze
  server/VERSIONS.json
  server/graphql-engine.cabal
  server/lib/schema-parsers/src/Data/GADT/Compare/Extended.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Directives.hs
  server/src-lib/Data/Text/NonEmpty.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Base/Instances.hs
  server/src-lib/Hasura/GraphQL/ApolloFederation.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-lib/Hasura/Incremental/Select.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Value.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/SQL/TH.hs
  server/src-lib/Hasura/SQL/Tag.hs
  server/src-lib/Hasura/Server/Utils.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: add INLINE to some schema-parsers functions
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Directives.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Input.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
Owners: @hasura/hge-server

server: force some thunks
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
Owners: @hasura/hge-server

server: fix a leak in schema construction for role
  server/src-lib/Hasura/GraphQL/Schema.hs
Owners: @hasura/hge-server

ghc 9.2.5
  .ghcversion
  cabal.project
  cabal.project.freeze
  scripts/cabal-freeze-update.sh
  server/COMPILING-ON-MACOS.md
  server/CONTRIBUTING.md
  server/VERSIONS.json
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/ConfigSchema.hs
  server/src-lib/Control/Monad/Circular.hs
  server/src-lib/Data/HashMap/Strict/Extended.hs
  server/src-lib/Data/HashMap/Strict/InsOrd/Extended.hs
  server/src-lib/Data/HashMap/Strict/Multi.hs
  server/src-lib/Data/HashMap/Strict/NonEmpty.hs
  server/src-lib/Data/List/Extended.hs
  server/src-lib/Data/Trie.hs
  server/src-lib/Hasura/Base/Instances.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/TMap.hs
  server/src-lib/Hasura/Incremental/Internal/Rule.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Allowlist.hs
  server/src-lib/Hasura/RQL/Types/Endpoint/Trie.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-test/Hasura/Generator/Common.hs
  server/src-test/Hasura/QuickCheck/Instances.hs
  server/src-test/Hasura/RQL/IR/Generator.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
  server/src-test/Hasura/RQL/Types/EndpointSpec.hs
  server/tests-hspec/Harness/Yaml.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: memoize in tableSelectColumnsEnum and mkNumericAggFields for more sharing
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
Owners: @hasura/hge-server

server: define instance Functor InputFieldsParser by hand to lower memory usage slightly
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Input.hs
Owners: @hasura/hge-server

server: -O1 + -funfolding-use-threshold=640, for memory residency
  server/graphql-engine.cabal
Owners: @hasura/hge-server

server: refactor Hasura.Server.Compression for clarity/correctness
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Compression.hs
  server/src-test/Hasura/Server/CompressionSpec.hs
Owners: @hasura/hge-server

server: don't compress small responses
  server/src-lib/Hasura/Server/Compression.hs
  server/src-test/Hasura/Server/CompressionSpec.hs
  server/tests-py/queries/compression/graphql_query.yaml
  server/tests-py/queries/compression/setup.yaml
  server/tests-py/queries/compression/v1_query.yaml
  server/tests-py/test_compression.py
Owners: @hasura/hge-server

server: use lighter GC in ourIdleGC when idle
  server/src-lib/Hasura/GC.hs
Owners: @hasura/hge-server

server: Vendored mimalloc v2.1.1
  preload-mimalloc/mimalloc/LICENSE
  preload-mimalloc/mimalloc/include/mimalloc-new-delete.h
  preload-mimalloc/mimalloc/include/mimalloc-override.h
  preload-mimalloc/mimalloc/include/mimalloc.h
  preload-mimalloc/mimalloc/include/mimalloc/atomic.h
  preload-mimalloc/mimalloc/include/mimalloc/internal.h
  preload-mimalloc/mimalloc/include/mimalloc/prim.h
  preload-mimalloc/mimalloc/include/mimalloc/track.h
  preload-mimalloc/mimalloc/include/mimalloc/types.h
  preload-mimalloc/mimalloc/readme.md
  preload-mimalloc/mimalloc/src/alloc-aligned.c
  preload-mimalloc/mimalloc/src/alloc-override.c
  preload-mimalloc/mimalloc/src/alloc-posix.c
  preload-mimalloc/mimalloc/src/alloc.c
  preload-mimalloc/mimalloc/src/arena.c
  preload-mimalloc/mimalloc/src/bitmap.c
  preload-mimalloc/mimalloc/src/bitmap.h
  preload-mimalloc/mimalloc/src/heap.c
  preload-mimalloc/mimalloc/src/init.c
  preload-mimalloc/mimalloc/src/options.c
  preload-mimalloc/mimalloc/src/os.c
  preload-mimalloc/mimalloc/src/page-queue.c
  preload-mimalloc/mimalloc/src/page.c
  preload-mimalloc/mimalloc/src/prim/osx/alloc-override-zone.c
  preload-mimalloc/mimalloc/src/prim/osx/prim.c
  preload-mimalloc/mimalloc/src/prim/prim.c
  preload-mimalloc/mimalloc/src/prim/readme.md
  preload-mimalloc/mimalloc/src/prim/unix/prim.c
  preload-mimalloc/mimalloc/src/prim/wasi/prim.c
  preload-mimalloc/mimalloc/src/prim/windows/etw-mimalloc.wprp
  preload-mimalloc/mimalloc/src/prim/windows/etw.h
  preload-mimalloc/mimalloc/src/prim/windows/etw.man
  preload-mimalloc/mimalloc/src/prim/windows/prim.c
  preload-mimalloc/mimalloc/src/prim/windows/readme.md
  preload-mimalloc/mimalloc/src/random.c
  preload-mimalloc/mimalloc/src/region.c
  preload-mimalloc/mimalloc/src/segment-cache.c
  preload-mimalloc/mimalloc/src/segment.c
  preload-mimalloc/mimalloc/src/static.c
  preload-mimalloc/mimalloc/src/stats.c
Owners: @hasura/hge-changelog-owners

server: Use mimalloc in executables
  cabal.project
  preload-mimalloc/README.md
  preload-mimalloc/update-sources.sh
  server/graphql-engine.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: compress response bodies with libdeflate, using level 6 for l…
  cabal.project
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/Compression.hs
  server/src-test/Hasura/Server/CompressionSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cli: update go-git to v5.11
  cli/go.mod
  cli/go.sum
Owners: @hasura/hge-cli-owners
