Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Bug Fix for missing --admin-secret result in final admin secret hashset
  server/src-lib/Hasura/Server/Init/Config.hs
Owners: @hasura/hge-server

console: update relationships forms
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/DataRelationships/components/Form/CreateRelationshipForm.tsx
  console/src/features/DataRelationships/components/Form/EditRelationshipForm.tsx
  console/src/features/DataRelationships/components/Form/Form.stories.tsx
  console/src/features/DataRelationships/components/Form/Form.tsx
  console/src/features/DataRelationships/components/Form/FormLayout.tsx
  console/src/features/DataRelationships/components/Form/utils.ts
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/FormElements.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/LocalRelationshipWidget.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/RemoteDBRelationshipWidget.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/hooks/index.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/DatabaseRelationshipTable.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/Legends.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/RelationshipsCell.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/types.ts
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/DbToRsForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgValueForm.tsx
  console/src/new-components/ListMap/ListMap.stories.tsx
  console/src/new-components/ListMap/ListMap.tsx
Owners: @hasura/hge-console-owners

server: Replace `forkIO` with `async` in the DC mock agent.
  server/tests-hspec/Harness/Backend/DataConnector.hs
Owners: @hasura/hge-server

server/pro: log when rate limits and time limits are hit
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Limits.hs
Owners: @hasura/hge-server

server/docs: BigQuery Schema > Data Validation
  docs/docs/databases/index.mdx
  docs/docs/schema/bigquery/data-validations.mdx
  docs/static/img/graphql/core/schema/bq-author-own-articles.png
  docs/static/img/graphql/core/schema/bq-validation-not-empty.png
Owners: @hasura/hge-docs-owners

Remove `HelloWorldSpec`
  server/graphql-engine.cabal
  server/tests-hspec/README.md
  server/tests-hspec/Test/HelloWorldSpec.hs
Owners: @hasura/hge-server

fix (console): allow table customisation for BigQuery
  console/src/components/Services/Common/Notification.tsx
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/mergeData.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/bigquery/utils.ts
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/types.ts
  console/src/metadata/reducer.ts
Owners: @hasura/hge-console-owners

server: Use `make` to simplify tests-py venv generation.
  Makefile
  scripts/dev.sh
  scripts/make/legacy-tests.mk
  server/tests-py/requirements-top-level.txt
  server/tests-py/requirements.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: fix `desc` `order_by` for dataconnector
  server/src-lib/Hasura/Backends/DataConnector/IR/OrderBy.hs
  server/tests-hspec/Test/DataConnector/QuerySpec.hs
Owners: @hasura/hge-server

Update redis connection string sample
  docs/docs/enterprise/data-plane/caching.mdx
Owners: @hasura/hge-docs-owners

server/bigquery: test row level permissions
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Test/Schema/DataValidation/PermissionSpec.hs
Owners: @hasura/hge-server

server: refactor `ActionWebhookResponse` type
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
Owners: @hasura/hge-server

server: delete hasura SQL triggers when tables are untracked
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/tests-hspec/Test/EventTrigger/EventTriggerDropSourceCleanupSpec.hs
  server/tests-hspec/Test/EventTrigger/EventTriggersMSSQLUntrackTableCleanupSpec.hs
  server/tests-hspec/Test/EventTrigger/EventTriggersPGUntrackTableCleanupSpec.hs
  server/tests-hspec/Test/EventTrigger/EventTriggersRecreationSpec.hs
  server/tests-hspec/Test/EventTrigger/EventTriggersRunSQLSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Refactor/extract pro arg parser and add tests
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
Owners: @hasura/hge-server

Nix: Upgrade Python to the latest version.
  scripts/dev.sh
Owners: @hasura/hge-changelog-owners

Increase timeout for DC Agents
  dc-agents/sdk/docker-compose.yaml
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Agent/Client.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Move `ErrorMessage` to its own package.
  sample.hie.yaml
  server/graphql-engine.cabal
  server/lib/error-message/hasura-error-message.cabal
  server/lib/error-message/package.yaml
  server/lib/error-message/src/Hasura/Base/ErrorMessage.hs
  server/lib/error-message/src/Hasura/Base/ErrorValue.hs
  server/lib/error-message/src/Hasura/Base/ToErrorValue.hs
  server/lib/error-message/test/Hasura/Base/ErrorMessageSpec.hs
  server/lib/error-message/test/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: improve storybook folder structure
  console/src/components/Services/ApiExplorer/Rest/Form/RestEndpointForm.stories.mdx
  console/src/features/DataRelationships/DatabaseRelationshipsTab.stories.tsx
  console/src/features/DataRelationships/components/Form/Form.stories.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/LocalRelationshipWidget.stories.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/RemoteDBRelationshipWidget.stories.tsx
  console/src/features/DataRelationships/hooks/stories/UseSuggestedRelationships.stories.tsx
  console/src/features/FeatureFlags/components/FeatureFlagFloatingButton/FeatureFlagFloatingButton.stories.tsx
  console/src/features/FeatureFlags/components/FeatureFlagToast/FeatureFlagsToast.stories.tsx
  console/src/features/FeatureFlags/components/FeatureFlags/FeatureFlags.stories.tsx
  console/src/features/PermissionsForm/BulkDelete.stories.tsx
  console/src/features/PermissionsForm/PermissionsForm.stories.tsx
  console/src/features/PermissionsForm/components/Aggregation.stories.tsx
  console/src/features/PermissionsForm/components/BackendOnly.stories.tsx
  console/src/features/PermissionsForm/components/ClonePermissions.stories.tsx
  console/src/features/PermissionsForm/components/ColumnPermissions.stories.tsx
  console/src/features/PermissionsForm/components/ColumnPresets.stories.tsx
  console/src/features/PermissionsForm/components/JSONEditor.stories.tsx
  console/src/features/PermissionsForm/components/RowPermissions.stories.tsx
  console/src/features/PermissionsForm/hooks/dataFetchingHooks/useDefaultValues.stories.tsx
  console/src/features/PermissionsForm/hooks/dataFetchingHooks/useFormData.stories.tsx
  console/src/features/PermissionsForm/hooks/submitHooks/useUpdatePermissions.stories.tsx
  console/src/features/PermissionsTab/PermissionsTab.stories.tsx
  console/src/features/PermissionsTable/PermissionsTable.stories.tsx
  console/src/features/PermissionsTable/components/Cells.stories.tsx
  console/src/features/PermissionsTable/components/PermissionsLegend.stories.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/DatabaseRelationshipTable.stories.tsx
  console/src/features/RelationshipsTable/RemoteSchemaRelationShipTable.stories.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/DbtoRsForm.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RefRsSelector/RefRsSelector.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/RemoteDatabaseWidget.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/RemoteSchemaToRemoteSchemaForm.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RsSourceTypeSelector/RsSourceTypeSelector.stories.tsx
  console/src/features/RemoteSchema/components/Create/Create.stories.tsx
Owners: @hasura/hge-console-owners

console: implement clone permissions
  console/src/features/MetadataAPI/hooks/metadataTransformers.ts
  console/src/features/MetadataAPI/hooks/useMetadataTablePermissions.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/PermissionsForm/BulkDelete.stories.tsx
  console/src/features/PermissionsForm/BulkDelete.tsx
  console/src/features/PermissionsForm/PermissionsForm.stories.tsx
  console/src/features/PermissionsForm/PermissionsForm.tsx
  console/src/features/PermissionsForm/api/__tests__/createInsertArgs.test.ts
  console/src/features/PermissionsForm/api/api.ts
  console/src/features/PermissionsForm/api/utils.ts
  console/src/features/PermissionsForm/components/BackendOnly.tsx
  console/src/features/PermissionsForm/components/ClonePermissions.tsx
  console/src/features/PermissionsForm/components/ColumnPermissions.tsx
  console/src/features/PermissionsForm/components/RowPermissions.stories.tsx
  console/src/features/PermissionsForm/components/RowPermissions.tsx
  console/src/features/PermissionsForm/hooks/__tests__/useBulkDelete.test.tsx
  console/src/features/PermissionsForm/hooks/__tests__/useDefaultValues.test.tsx
  console/src/features/PermissionsForm/hooks/__tests__/useFormData.test.tsx
  console/src/features/PermissionsForm/hooks/__tests__/useUpdatePermissions.test.tsx
  console/src/features/PermissionsForm/hooks/dataFetchingHooks/useDefaultValues.stories.tsx
  console/src/features/PermissionsForm/hooks/dataFetchingHooks/useDefaultValues.tsx
  console/src/features/PermissionsForm/hooks/dataFetchingHooks/useFormData.stories.tsx
  console/src/features/PermissionsForm/hooks/dataFetchingHooks/useFormData.tsx
  console/src/features/PermissionsForm/hooks/submitHooks/useBulkDelete.tsx
  console/src/features/PermissionsForm/hooks/submitHooks/useDeletePermission.tsx
  console/src/features/PermissionsForm/hooks/submitHooks/useSubmitForm.tsx
  console/src/features/PermissionsForm/hooks/submitHooks/useUpdatePermissions.stories.tsx
  console/src/features/PermissionsForm/hooks/submitHooks/useUpdatePermissions.tsx
  console/src/features/PermissionsTab/PermissionsTab.stories.tsx
  console/src/features/PermissionsTab/PermissionsTab.tsx
  console/src/features/PermissionsTab/types/types.ts
  console/src/features/PermissionsTab/types/useDataSource.ts
  console/src/features/PermissionsTable/PermissionsTable.stories.tsx
  console/src/features/PermissionsTable/PermissionsTable.tsx
  console/src/features/PermissionsTable/components/Cells.tsx
  console/src/features/PermissionsTable/hooks/usePermissions.tsx
Owners: @hasura/hge-console-owners

console: create a hook to fetch table definition from URL
  console/src/features/Data/hooks/__tests__/useTableDefinition.test.ts
  console/src/features/Data/hooks/index.ts
  console/src/features/Data/hooks/useTableDefinition.ts
  console/src/features/Data/index.ts
Owners: @hasura/hge-console-owners

Add unit tests for Pro Env Var parsing
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Init/Config.hs
Owners: @hasura/hge-server

Absorb `SelectSpec` into `ObjectQueriesSpec`
  server/graphql-engine.cabal
  server/tests-hspec/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/tests-hspec/Test/SelectSpec.hs
Owners: @hasura/hge-server

Run both integration test suites against PostgresSQL v14 with Postgis.
  docker-compose.yml
  scripts/containers/postgres
  server/tests-hspec/Test/EventTriggersRecreationSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: Adds reverted docs changes for #5018
  docs/docs/deployment/logging.mdx
Owners: @hasura/hge-docs-owners

docs: apollo federation
  docs/docs/api-reference/metadata-api/table-view.mdx
  docs/docs/api-reference/schema-metadata-api/table-view.mdx
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/data-federation/apollo-federation.mdx
  docs/docs/data-federation/index.mdx
  docs/docs/enterprise/control-plane/upgrade-to-0.2.mdx
Owners: @hasura/hge-docs-owners

feature (console): Single Table Tracking Customization
  console/exports/reducers.js
  console/package-lock.json
  console/package.json
  console/src/components/Services/Common/Notification.tsx
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/Schema/tableTrackCustomization/TableTrackCustomization.stories.tsx
  console/src/components/Services/Data/Schema/tableTrackCustomization/TableTrackingCustomizationContainer.tsx
  console/src/components/Services/Data/Schema/tableTrackCustomization/TableTrackingCustomizationForm.tsx
  console/src/components/Services/Data/Schema/tableTrackCustomization/TableTrackingCustomizationModal.tsx
  console/src/components/Services/Data/Schema/tableTrackCustomization/__tests__/utils.spec.ts
  console/src/components/Services/Data/Schema/tableTrackCustomization/utils.ts
  console/src/dataSources/index.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/types.ts
  console/src/features/MetadataAPI/types.ts
  console/src/new-components/Collapse/Collapse.tsx
  console/src/new-components/Dialog/Dialog.stories.tsx
  console/src/new-components/Dialog/Dialog.tsx
  console/src/new-components/Dialog/index.tsx
  console/src/reducer.ts
  console/src/store/modal/modal.actions.ts
  console/src/store/modal/modal.constants.ts
  console/src/store/modal/modal.reducer.ts
  console/src/store/modal/modal.selectors.ts
Owners: @hasura/hge-console-owners

Restructure Pro Parser modules to align with the OSS Parser
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/tests-py/.devsh_version
Owners: @hasura/hge-server

server: Simplify FieldValue in Data Connector query responses for agents
  dc-agents/README.md
  dc-agents/reference/src/query.ts
  dc-agents/reference/src/types/agent.openapi.json
  dc-agents/reference/src/types/index.ts
  dc-agents/reference/src/types/models/FieldValue.ts
  dc-agents/reference/src/types/models/NullColumnFieldValue.ts
  dc-agents/reference/src/types/models/QueryResponse.ts
  dc-agents/reference/src/types/models/RelationshipFieldValue.ts
  server/graphql-engine.cabal
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Query.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/QuerySpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0Spec.hs
  server/tests-dc-api/Test/Data.hs
  server/tests-dc-api/Test/QuerySpec/RelationshipsSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Factor tool versions out into server/VERSIONS.json.
  .github/workflows/hlint.yml
  scripts/make/lint.mk
  server/CONTRIBUTING.md
  server/VERSIONS.json
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add the basic limit query
  server/graphql-engine.cabal
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/Queries/Paginate/LimitSpec.hs
Owners: @hasura/hge-server

server/postgres: prefix identifiers longer than 63 characters with their md5 hash
  .circleci/server-upgrade-downgrade/run.sh
  CHANGELOG.md
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/IdentifierUniqueness.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/RenameIdentifiers.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aggregate.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Helpers.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Simple.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/src-test/Hasura/Backends/Postgres/SQL/EDSL.hs
  server/src-test/Hasura/Backends/Postgres/SQL/Select/RenameIdentifiersSpec.hs
  server/tests-hspec/Test/LongIdentifiersSpec.hs
  server/tests-py/queries/explain/docs_query.yaml
  server/tests-py/queries/explain/docs_subscription.yaml
  server/tests-py/queries/explain/limit_offset_orderby_relationship_query.yaml
  server/tests-py/queries/explain/limit_orderby_column_query.yaml
  server/tests-py/queries/explain/limit_orderby_relationship_query.yaml
  server/tests-py/queries/explain/limit_query.yaml
  server/tests-py/queries/explain/orderby_array_relationship_query.yaml
  server/tests-py/queries/explain/permissions_query.yaml
  server/tests-py/queries/explain/simple_query.yaml
  server/tests-py/queries/graphql_query/citus/select_query_disaster_functions.yaml
  server/tests-py/queries/graphql_query/citus/select_query_disaster_relationships_reference.yaml
  server/tests-py/queries/v1/select/boolexp/ltree/select_path_where_matches_ltxtquery.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Replace `Data.Text.Extended` with `ErrorMessage` in a few more places.
  server/src-lib/Hasura/Base/ErrorMessage.hs
  server/src-lib/Hasura/Base/ToErrorValue.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/RemoteSchema.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/tests-py/queries/graphql_query/functions/track_customised_names.yaml
  server/tests-py/queries/schema/duplication/create_action_and_track_table_fail.yaml
  server/tests-py/queries/schema/duplication/track_table_and_create_action_fail.yaml
  server/tests-py/queries/schema/duplication/track_table_with_conflicting_custom_root_node_names_fail.yaml
  server/tests-py/queries/v1/set_table_configuration/fail_conflicting_custom_table_name.yaml
Owners: @hasura/hge-server

Add the `Schema.TableRelationshipsSpec` tests
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Test/BackendType.hs
  server/tests-hspec/Test/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ObjectRelationshipsSpec.hs
Owners: @hasura/hge-server

console: add new suggested relationships hook
  console/src/features/DataRelationships/hooks/__tests__/useSuggestedRelationships.test.tsx
  console/src/features/DataRelationships/hooks/index.ts
  console/src/features/DataRelationships/hooks/mocks/dataStubs.ts
  console/src/features/DataRelationships/hooks/mocks/handlers.mock.ts
  console/src/features/DataRelationships/hooks/stories/UseSuggestedRelationships.stories.tsx
  console/src/features/DataRelationships/hooks/useMutations.ts
  console/src/features/DataRelationships/hooks/useSuggestedRelationships.ts
  console/src/features/MetadataAPI/hooks/useLocalRelationships.ts
  console/src/features/MetadataAPI/hooks/useMetadataTables.ts
  console/src/features/MetadataAPI/stories/useExistingRelationships.stories.tsx
  console/src/features/MetadataAPI/types.ts
Owners: @hasura/hge-console-owners

Moving kriti function references into a single module for coordination of availability
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Data/Aeson/Kriti/Functions.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/ConfigTransform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Class.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: common track table hook
  console/package-lock.json
  console/package.json
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/features/DataSource/__tests__/utils.spec.ts
  console/src/features/DataSource/api.ts
  console/src/features/DataSource/bigquery/__tests__/utils.spec.ts
  console/src/features/DataSource/bigquery/index.ts
  console/src/features/DataSource/bigquery/utils.ts
  console/src/features/DataSource/citus/index.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/mssql/index.ts
  console/src/features/DataSource/postgres/index.ts
  console/src/features/DataSource/types.ts
  console/src/features/DataSource/utils.ts
  console/src/features/TrackTables/hooks/__tests__/useTables.spec.tsx
  console/src/features/TrackTables/hooks/useTables.ts
Owners: @hasura/hge-console-owners

Update autodocodec
  cabal.project.freeze
  dc-agents/reference/src/types/agent.openapi.json
  dc-agents/reference/src/types/index.ts
  dc-agents/reference/src/types/models/Aggregate.ts
  dc-agents/reference/src/types/models/ApplyBinaryArrayComparisonOperator.ts
  dc-agents/reference/src/types/models/ComparisonValue.ts
  dc-agents/reference/src/types/models/Expression.ts
  dc-agents/reference/src/types/models/Field.ts
  server/graphql-engine.cabal
  server/src-dc-api/Autodocodec/Extended.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Aggregate.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Expression.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/OrderBy.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Query.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Relationships.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Scalar/Type.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Scalar/Value.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Expression.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Query.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ExpressionSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/QuerySpec.hs
  server/src-test/Test/Autodocodec/Extended.hs
  server/tests-dc-api/Test/QuerySpec/BasicSpec.hs
  server/tests-dc-api/Test/QuerySpec/RelationshipsSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Remove the `BasicFieldsSpec` module, reorganise its contents
  server/graphql-engine.cabal
  server/tests-hspec/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/tests-hspec/Test/Queries/Simple/OperationNameSpec.hs
Owners: @hasura/hge-server

server: Re-freeze tests-py/requirements.txt.
  scripts/dev.sh
  server/tests-py/requirements-top-level.txt
  server/tests-py/requirements.txt
  server/tests-py/validate.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fun improvements to Makefiles, with the intent of re-using test-infrastructure.mk.
  Makefile
  scripts/make/test-infrastructure.mk
  scripts/make/tests.mk
Owners: @hasura/hge-changelog-owners
