Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

dockerfile update
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

update dockerfile
  community/learn/graphql-tutorials/backend-services/homepage/Dockerfile
Owners: @shahidhk

fix column comment fetching from old state
  console/src/components/Services/Data/TableModify/ModifyActions.js
Owners: @rikinsk

update ingress
  community/learn/graphql-tutorials/manifests/ingress-resource.yaml
Owners: @shahidhk

update graphiql prefix
  community/learn/graphql-tutorials/backend-services/graphiql/src/client.js
Owners: @shahidhk

update robots.txt, graphiql urls
  community/learn/graphql-tutorials/backend-services/graphiql/static/index.html
  community/learn/graphql-tutorials/backend-services/homepage/gatsby-config.js
  community/learn/graphql-tutorials/backend-services/homepage/package-lock.json
  community/learn/graphql-tutorials/backend-services/homepage/package.json
  community/learn/graphql-tutorials/manifests/ingress-resource.yaml
Owners: @shahidhk

update gatsby-config
  community/learn/graphql-tutorials/backend-services/homepage/gatsby-config.js
Owners: @shahidhk

update gatsby-config
  community/learn/graphql-tutorials/backend-services/homepage/gatsby-config.js
Owners: @shahidhk

update gatsby-config
  community/learn/graphql-tutorials/backend-services/homepage/gatsby-config.js
Owners: @shahidhk

ingress update
  community/learn/graphql-tutorials/manifests/ingress-resource.yaml
Owners: @shahidhk

remove dead code
  server/src-lib/Hasura/GraphQL/Execute.hs
Owners: @0x777

update deployment
  community/learn/graphql-tutorials/manifests/graphiql-deployment.yaml
  community/learn/graphql-tutorials/manifests/hasura-deployment.yaml
Owners: @shahidhk

show pkey and unique constraint name
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Owners: @rikinsk

add examples
  cli/commands/migrate_create.go
Owners: @shahidhk

replace string with show bool
  server/src-lib/Hasura/Server/PGDump.hs
Owners: @0x777

remove unnecessary lines
  server/src-lib/Hasura/Server/Utils.hs
Owners: @0x777

update to github btn
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/Header.js
Owners: @shahidhk

Fix typos. GitHub not Github.
  community/boilerplates/auth-servers/passportjs-jwt-roles/README.md
  community/sample-apps/react-apollo-todo/src/components/Home/Home.js
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Main/Github.svg
  console/src/components/Main/Main.js
Owners: @shahidhk, @rikinsk

reorganise auth docs
  docs/graphql/manual/auth/basics.rst
  docs/graphql/manual/auth/common-roles-auth-examples.rst
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/auth/modeling-roles.rst
  docs/graphql/manual/auth/reference-permissions.rst
  docs/graphql/manual/auth/use-cases.rst
  docs/img/graphql/manual/auth/aggregation-query-permissions.png
  docs/img/graphql/manual/auth/auth-high-level-overview.png
  docs/img/graphql/manual/auth/auth-jwt-overview.png
  docs/img/graphql/manual/auth/auth-webhook-overview.png
  docs/img/graphql/manual/auth/boolean-operators.png
  docs/img/graphql/manual/auth/column-level-permissions.png
  docs/img/graphql/manual/auth/composite-boolean-expression.png
  docs/img/graphql/manual/auth/fetch-authors.png
  docs/img/graphql/manual/auth/github-org-hierarchical-roles.png
  docs/img/graphql/manual/auth/limit-rows-for-select.png
  docs/img/graphql/manual/auth/operators-for-integer-types.png
  docs/img/graphql/manual/auth/operators-for-text-types.png
  docs/img/graphql/manual/auth/permission-basics-query-with-access-control.png
  docs/img/graphql/manual/auth/permission-basics-simple-example.png
  docs/img/graphql/manual/auth/permissions-rule-analogy.png
  docs/img/graphql/manual/auth/session-variables-in-permissions-simple-example.png
  docs/img/graphql/manual/auth/simple-boolean-expression.png
Owners: @rikinsk

github btn css fix
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/Header.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
Owners: @shahidhk

test manifest
  community/learn/graphql-tutorials/manifests/ingress-resource.yaml
Owners: @shahidhk

test manifest
  community/learn/graphql-tutorials/manifests/ingress-resource.yaml
Owners: @shahidhk

add ingress
  community/learn/graphql-tutorials/manifests/ingress-resource-1.yaml
  community/learn/graphql-tutorials/manifests/ingress-resource.yaml
Owners: @shahidhk

update ingress
  community/learn/graphql-tutorials/manifests/ingress-resource-1.yaml
Owners: @shahidhk

update ingress
  community/learn/graphql-tutorials/manifests/ingress-resource-1.yaml
Owners: @shahidhk

update ingress
  community/learn/graphql-tutorials/manifests/ingress-resource-1.yaml
Owners: @shahidhk

update ingress
  community/learn/graphql-tutorials/manifests/ingress-resource-2.yaml
Owners: @shahidhk

update static
  community/learn/graphql-tutorials/backend-services/graphiql/package-lock.json
  community/learn/graphql-tutorials/backend-services/graphiql/static/index.html
Owners: @shahidhk

graphiql auth update
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/Auth/Auth.js
Owners: @shahidhk

test graphiql
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/Auth/Auth.js
Owners: @shahidhk

test graphiql
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/Auth/Auth.js
Owners: @shahidhk

test graphiql
  community/learn/graphql-tutorials/backend-services/graphiql/Dockerfile
Owners: @shahidhk

nav bar alignment and twitter icon update
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/Header.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/images/twitter.svg
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
Owners: @shahidhk

update docs
  docs/Makefile
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/api-reference/pgdump.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
Owners: @rikinsk

fix docs dependency vulnerability
  docs/requirements.txt
Owners: @rikinsk

fix docs dependency vulnerability (#2048)
  docs/requirements.txt
Owners: @rikinsk

refactor kubernetes manifests
  community/learn/graphql-tutorials/manifests/.gitignore
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
  community/learn/graphql-tutorials/manifests/caddy.yaml
  community/learn/graphql-tutorials/manifests/graphiql-svc.yaml
  community/learn/graphql-tutorials/manifests/graphiql.yaml
  community/learn/graphql-tutorials/manifests/hasura-deployment.yaml
  community/learn/graphql-tutorials/manifests/hasura-secret.yaml
  community/learn/graphql-tutorials/manifests/hasura-svc.yaml
  community/learn/graphql-tutorials/manifests/hasura.yaml
  community/learn/graphql-tutorials/manifests/homepage-svc.yaml
  community/learn/graphql-tutorials/manifests/homepage.yaml
  community/learn/graphql-tutorials/manifests/ingress-deployment.yaml
  community/learn/graphql-tutorials/manifests/ingress-resource-1.yaml
  community/learn/graphql-tutorials/manifests/ingress-resource-2.yaml
  community/learn/graphql-tutorials/manifests/ingress-resource.yaml
  community/learn/graphql-tutorials/manifests/ingress-svc.yaml
  community/learn/graphql-tutorials/manifests/postgres-pvc.yaml
  community/learn/graphql-tutorials/manifests/postgres-svc.yaml
  community/learn/graphql-tutorials/manifests/postgres.yaml
  community/learn/graphql-tutorials/manifests/react-apollo-svc.yaml
  community/learn/graphql-tutorials/manifests/react-apollo.yaml
Owners: @shahidhk

update config
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
Owners: @shahidhk

update ref key
  docs/graphql/manual/api-reference/index.rst
Owners: @rikinsk

update table heading
  docs/graphql/manual/api-reference/index.rst
Owners: @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk
