Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Separate `model_permissions` resolve step (#526)
  v3/crates/engine/src/metadata/resolved.rs
  v3/crates/engine/src/metadata/resolved/argument.rs
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/permission.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/model_permissions/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/model_permissions/types.rs
  v3/crates/engine/src/metadata/resolved/stages/models/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/models/types.rs
  v3/crates/engine/src/metadata/resolved/stages/roles/mod.rs
  v3/crates/engine/src/schema/apollo_federation.rs
  v3/crates/engine/src/schema/boolean_expression.rs
  v3/crates/engine/src/schema/model_arguments.rs
  v3/crates/engine/src/schema/model_order_by.rs
  v3/crates/engine/src/schema/permissions.rs
  v3/crates/engine/src/schema/query_root.rs
  v3/crates/engine/src/schema/query_root/apollo_federation.rs
  v3/crates/engine/src/schema/query_root/node_field.rs
  v3/crates/engine/src/schema/query_root/select_many.rs
  v3/crates/engine/src/schema/query_root/select_one.rs
  v3/crates/engine/src/schema/relay.rs
  v3/crates/engine/src/schema/types/output_type.rs
  v3/crates/engine/src/schema/types/output_type/relationship.rs
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.39.0-beta.1
  releases/v2.39.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.39.0-beta.1-ce
  releases/v2.39.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.39.0-beta.1-cloud.1
  releases/v2.39.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

opendds-derive: Avoid panicking when unknown properties are encountered. (#528)
  v3/Cargo.lock
  v3/crates/opendds-derive/Cargo.toml
  v3/crates/opendds-derive/src/container.rs
  v3/crates/opendds-derive/src/lib.rs
Owners: @hasura/hge-changelog-owners

create auth and utils subdirectories in crates, and move architecture information to a separate doc. (#534)
  v3/CONTRIBUTING.md
  v3/Cargo.toml
  v3/crates/auth/dev-auth-webhook/Cargo.toml
  v3/crates/auth/dev-auth-webhook/src/main.rs
  v3/crates/auth/hasura-authn-core/Cargo.toml
  v3/crates/auth/hasura-authn-core/src/lib.rs
  v3/crates/auth/hasura-authn-jwt/Cargo.toml
  v3/crates/auth/hasura-authn-jwt/src/auth.rs
  v3/crates/auth/hasura-authn-jwt/src/jwt.rs
  v3/crates/auth/hasura-authn-jwt/src/lib.rs
  v3/crates/auth/hasura-authn-webhook/Cargo.toml
  v3/crates/auth/hasura-authn-webhook/src/lib.rs
  v3/crates/auth/hasura-authn-webhook/src/webhook.rs
  v3/crates/engine/Cargo.toml
  v3/crates/lang-graphql/Cargo.toml
  v3/crates/open-dds/Cargo.toml
  v3/crates/utils/opendds-derive/Cargo.toml
  v3/crates/utils/opendds-derive/README.md
  v3/crates/utils/opendds-derive/src/container.rs
  v3/crates/utils/opendds-derive/src/enum_derive.rs
  v3/crates/utils/opendds-derive/src/helpers.rs
  v3/crates/utils/opendds-derive/src/lib.rs
  v3/crates/utils/opendds-derive/src/struct_derive.rs
  v3/crates/utils/recursion_limit_macro/Cargo.toml
  v3/crates/utils/recursion_limit_macro/src/lib.rs
  v3/crates/utils/tracing-util/Cargo.toml
  v3/crates/utils/tracing-util/src/http.rs
  v3/crates/utils/tracing-util/src/lib.rs
  v3/crates/utils/tracing-util/src/request.rs
  v3/crates/utils/tracing-util/src/setup.rs
  v3/crates/utils/tracing-util/src/traceable.rs
  v3/crates/utils/tracing-util/src/tracer.rs
  v3/dev-auth-webhook.Dockerfile
  v3/docker-compose.yaml
  v3/docs/architecture.md
  v3/justfile
Owners: @hasura/hge-changelog-owners

Include `data_connector_type_mappings` along with object_types. (#532)
  v3/crates/engine/src/metadata/resolved/helpers/argument.rs
  v3/crates/engine/src/metadata/resolved/helpers/type_mappings.rs
  v3/crates/engine/src/metadata/resolved/stages/boolean_expressions/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/command_permissions/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/commands/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connector_type_mappings/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connector_type_mappings/types.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/model_permissions/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/models/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/relationships/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/relationships/types.rs
  v3/crates/engine/src/metadata/resolved/stages/type_permissions/mod.rs
  v3/crates/engine/src/metadata/resolved/types/error.rs
Owners: @hasura/hge-changelog-owners

Fix `dev-auth-webhook` Docker image, build all in CI (#535)
  v3/dev-auth-webhook.Dockerfile
Owners: @hasura/hge-changelog-owners

rename `data_connector_type_mappings` stage to `object_types` (#533)
  v3/crates/engine/src/metadata/resolved.rs
  v3/crates/engine/src/metadata/resolved/helpers/argument.rs
  v3/crates/engine/src/metadata/resolved/helpers/ndc_validation.rs
  v3/crates/engine/src/metadata/resolved/helpers/type_mappings.rs
  v3/crates/engine/src/metadata/resolved/stages/boolean_expressions/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/boolean_expressions/types.rs
  v3/crates/engine/src/metadata/resolved/stages/commands/types.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/model_permissions/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/models/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/models/types.rs
  v3/crates/engine/src/metadata/resolved/stages/object_types/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/object_types/types.rs
  v3/crates/engine/src/metadata/resolved/stages/relationships/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/relationships/types.rs
  v3/crates/engine/src/metadata/resolved/stages/type_permissions/mod.rs
Owners: @hasura/hge-changelog-owners

docs: fix inherited role select permission example
  docs/docs/auth/authorization/inherited-roles.mdx
Owners: @hasura/hge-docs-owners

Refactor errors, and split execute and explain code path (#525)
  v3/crates/engine/src/execute.rs
  v3/crates/engine/src/execute/error.rs
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/src/execute/explain/types.rs
  v3/crates/engine/src/execute/ir.rs
  v3/crates/engine/src/execute/ir/arguments.rs
  v3/crates/engine/src/execute/ir/commands.rs
  v3/crates/engine/src/execute/ir/error.rs
  v3/crates/engine/src/execute/ir/filter.rs
  v3/crates/engine/src/execute/ir/model_selection.rs
  v3/crates/engine/src/execute/ir/mutation_root.rs
  v3/crates/engine/src/execute/ir/order_by.rs
  v3/crates/engine/src/execute/ir/permissions.rs
  v3/crates/engine/src/execute/ir/query_root.rs
  v3/crates/engine/src/execute/ir/query_root/apollo_federation.rs
  v3/crates/engine/src/execute/ir/query_root/node_field.rs
  v3/crates/engine/src/execute/ir/query_root/select_many.rs
  v3/crates/engine/src/execute/ir/query_root/select_one.rs
  v3/crates/engine/src/execute/ir/relationship.rs
  v3/crates/engine/src/execute/ir/selection_set.rs
  v3/crates/engine/src/execute/ndc.rs
  v3/crates/engine/src/execute/ndc/client.rs
  v3/crates/engine/src/execute/ndc/response.rs
  v3/crates/engine/src/execute/plan.rs
  v3/crates/engine/src/execute/plan/commands.rs
  v3/crates/engine/src/execute/plan/error.rs
  v3/crates/engine/src/execute/plan/model_selection.rs
  v3/crates/engine/src/execute/plan/relationships.rs
  v3/crates/engine/src/execute/plan/selection_set.rs
  v3/crates/engine/src/execute/process_response.rs
  v3/crates/engine/src/execute/remote_joins.rs
  v3/crates/engine/src/execute/remote_joins/collect.rs
  v3/crates/engine/src/execute/remote_joins/join.rs
  v3/crates/engine/tests/execute/models/select_many/order_by/order_by_validation_check/expected.json
  v3/crates/lang-graphql/src/validation/error.rs
Owners: @hasura/hge-changelog-owners

add format step after update goldenfiles (#541)
  v3/justfile
Owners: @hasura/hge-changelog-owners

Move annotation type back into metadata resolve (#540)
  v3/crates/engine/src/execute/ir/relationship.rs
  v3/crates/engine/src/metadata/resolved.rs
  v3/crates/engine/src/metadata/resolved/stages/model_permissions/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/model_permissions/types.rs
  v3/crates/engine/src/schema/boolean_expression.rs
  v3/crates/engine/src/schema/model_order_by.rs
  v3/crates/engine/src/schema/types/output_type.rs
  v3/crates/engine/src/schema/types/output_type/relationship.rs
Owners: @hasura/hge-changelog-owners

docs: fix inherited role select permission example
  docs/docs/auth/authorization/inherited-roles.mdx
Owners: @hasura/hge-docs-owners

add some code comments to resolved stage (#537)
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/mod.rs
  v3/crates/metadata-resolve/src/stages/graphql_config/mod.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/graphql_config.rs
Owners: @hasura/hge-changelog-owners

Remove unused `Display` implementations and fix a broken one. (#545)
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/metadata-resolve/src/stages/relationships/types.rs
  v3/crates/metadata-resolve/src/stages/scalar_types/types.rs
  v3/crates/metadata-resolve/src/stages/type_permissions/mod.rs
  v3/crates/metadata-resolve/src/types/subgraph.rs
  v3/crates/open-dds/src/permissions.rs
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

Build `dev-auth-webhook` Docker image with Nix (#544)
  v3/crates/custom-connector/Cargo.toml
  v3/flake.nix
  v3/justfile
  v3/nix/app.nix
Owners: @hasura/hge-changelog-owners

Use Postgres in readme (#546)
  v3/README.md
  v3/crates/open-dds/examples/reference.json
  v3/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

Boolean expressions in command argument presets (#539)
  v3/crates/custom-connector/src/functions.rs
  v3/crates/custom-connector/src/functions/get_actors_by_bool_exp.rs
  v3/crates/engine/src/execute/ir/arguments.rs
  v3/crates/engine/src/execute/ir/commands.rs
  v3/crates/engine/src/execute/ir/permissions.rs
  v3/crates/engine/src/execute/ir/query_root.rs
  v3/crates/engine/src/execute/ir/query_root/select_many.rs
  v3/crates/engine/src/execute/ir/query_root/select_one.rs
  v3/crates/engine/src/execute/ir/relationship.rs
  v3/crates/engine/tests/execute/commands/functions/boolean_expression_command_argument/expected.json
  v3/crates/engine/tests/execute/commands/functions/boolean_expression_command_argument/request.gql
  v3/crates/engine/tests/execution.rs
Owners: @hasura/hge-changelog-owners

use a newtype for data connector object type (#542)
  v3/Cargo.lock
  v3/crates/metadata-resolve/Cargo.toml
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/helpers/ndc_validation.rs
  v3/crates/metadata-resolve/src/helpers/type_mappings.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/stages/commands/mod.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/metadata-resolve/src/types/error.rs
  v3/crates/open-dds/Cargo.toml
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/data_connector.rs
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

Remove Option from ModelWithPermissions (#529)
  v3/crates/engine/src/schema/model_arguments.rs
  v3/crates/engine/src/schema/permissions.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/mod.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/types.rs
  v3/crates/metadata-resolve/src/stages/roles/mod.rs
Owners: @hasura/hge-changelog-owners

Explicitly export types from `schema` module (#548)
  v3/crates/engine/src/execute.rs
  v3/crates/engine/src/execute/error.rs
  v3/crates/engine/src/execute/ir/arguments.rs
  v3/crates/engine/src/execute/ir/commands.rs
  v3/crates/engine/src/execute/ir/error.rs
  v3/crates/engine/src/execute/ir/filter.rs
  v3/crates/engine/src/execute/ir/mutation_root.rs
  v3/crates/engine/src/execute/ir/order_by.rs
  v3/crates/engine/src/execute/ir/permissions.rs
  v3/crates/engine/src/execute/ir/query_root.rs
  v3/crates/engine/src/execute/ir/query_root/apollo_federation.rs
  v3/crates/engine/src/execute/ir/query_root/node_field.rs
  v3/crates/engine/src/execute/ir/query_root/select_many.rs
  v3/crates/engine/src/execute/ir/query_root/select_one.rs
  v3/crates/engine/src/execute/ir/relationship.rs
  v3/crates/engine/src/execute/ir/selection_set.rs
  v3/crates/engine/src/execute/process_response.rs
  v3/crates/engine/src/schema.rs
  v3/crates/engine/src/schema/commands.rs
  v3/crates/engine/src/schema/types/output_type.rs
Owners: @hasura/hge-changelog-owners

RFC for OpenDD expression type changes (#511)
  v3/rfcs/open-dd-expression-type-changes.md
Owners: @hasura/hge-changelog-owners

fix permission builder dropdowns with single value (cherry-pick v2.38)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
Owners: @hasura/hge-changelog-owners

catalog version v2.39.0 stable release
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release for v2.39.0-cloud.1
  releases/v2.39.0-cloud.1
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.39.0-ce
  releases/v2.39.0-ce
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.39.0
  releases/v2.39.0
Owners: @hasura/hge-changelog-owners

fix permission builder dropdowns with single value (cherry-pick v2.37)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
Owners: @hasura/hge-changelog-owners

initial draft of the RFC
  rfcs/v3/authorization-rules.md
Owners: @hasura/hge-changelog-owners

Update Subscription.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Subscription.hs
Owners: @hasura/hge-server

add some stuff about commands
  rfcs/v3/authorization-rules.md
Owners: @hasura/hge-changelog-owners

[cherry-pick] fix: deregister relevant connection pool metrics when part of the source config is modified
  docker-compose/databases.yaml
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Http.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/test-postgres/Test/Hasura/EventTriggerCleanupSuite.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.39.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release for v2.39.1
  releases/v2.39.1
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.39.1-ce
  releases/v2.39.1-ce
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.39.1-cloud.1
  releases/v2.39.1-cloud.1
Owners: @hasura/hge-changelog-owners

add FAQs and relationship predicate inheritance
  rfcs/v3/authorization-rules.md
Owners: @hasura/hge-changelog-owners

Add instructions for using the Nix Flake (#547)
  v3/.envrc
  v3/.envrc.local.example
  v3/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners

Resolve relationships in type predicates (#536)
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/stages/command_permissions/mod.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/metadata-resolve/src/types/error.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners
