Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

ci: release v2.11.4
  releases/v2.11.4
Owners: @hasura/hge-changelog-owners

ci: release v2.11.4-cloud.1
  releases/v2.11.4-cloud.1
Owners: @hasura/hge-changelog-owners

ci: testing again if shadowing is stopped
  cli/README.md
Owners: @hasura/hge-cli-owners

fix(server): error handling for serving console assets: 2.11 backport
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

ci: tag multiple releases
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: update ubuntu image to focal-20230412
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

cli: increase max wait time for docker images to 5 minutes
  cli/internal/testutil/testutil.go
Owners: @hasura/hge-cli-owners

chore(api-tests): Pin Citus to v11.2.1.
  .circleci/config.yml
  cli/internal/testutil/testutil.go
  docker-compose.yml
  scripts/containers/citus
  server/tests-py/queries/graphql_query/citus/select_query_disaster_functions.yaml
  server/tests-py/queries/graphql_query/citus/select_query_disaster_relationships_reference.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-server

server: backport caching bug fixes to LTS release
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-server

cherry pick omit_request_id flag for query tags to v2.11
  docs/docs/observability/query-tags.mdx
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/QueryTags.hs
  server/src-lib/Hasura/RQL/Types/QueryTags.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

ci: tag release from v2.21 to v2.27
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.11.7
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

packaging: update graphql-engine-base to use latest ubuntu focal update
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.28.0 and v2.11.8
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

packaging: update base image to use 20230624 ubuntu focal update
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: tag release v2.11.9
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.11.9
  releases/v2.11.9
Owners: @hasura/hge-changelog-owners

ci: release v2.11.9-pro.1
  releases/v2.11.9-pro.1
Owners: @hasura/hge-changelog-owners

ci: tag release v2.11.10
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

upgrade packages in dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: release v2.11.10
  releases/v2.11.10
Owners: @hasura/hge-changelog-owners

ci: release v2.11.10-pro.1
  releases/v2.11.10-pro.1
Owners: @hasura/hge-changelog-owners

check null valued variables for non-null variables
  server/src-lib/Hasura/GraphQL/Execute/Resolve.hs
  server/tests-hspec/Test/RunSQLSpec.hs
  server/tests-py/queries/graphql_validation/null_variable_value.yaml
Owners: @hasura/hge-server

ci: tag release v2.11.11
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

update ubuntu base image to get security patches
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

server: introduce option to log query only on errors
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

ci: tag release v2.11.12
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server: `HASURA_GRAPHQL_HTTP_LOG_QUERY_ONLY_ON_ERROR` - add query to `http-log` irrespective of `query-log` enabled
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

ci: tag release v2.11.13
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: add --nonmoving-gc RTS flag for pro image
  packaging/graphql-engine/Dockerfile
Owners: @hasura/hge-changelog-owners

build: update ubuntu base image to latest version
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

Revert "ci: add --nonmoving-gc RTS flag for pro image"
  packaging/graphql-engine/Dockerfile
Owners: @hasura/hge-changelog-owners

build: update ubuntu base image to latest version
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: Fix Benchmark regression reporting for empty reports (exposed after #5517)
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server/benchmarks: report response body size changes in PR regression comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

server/ci/benchmarks: incorporate ad-hoc queries into benchmark reports
  server/benchmarks/README.md
  server/benchmarks/bench.sh
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: fix division-by-zero in report generation, after e09406170e1
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: remove mem_in_use AFTER from regression report comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci/benchmarks: add higher-load variants for huge_schema
  server/benchmarks/benchmark_sets/huge_schema/config.query.yaml
Owners: @hasura/hge-server

ci/benchmarks: skip low_load, omit min for regression report comment
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
