Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

fix editing a Foreign Key which is referenced to a untracked table doesn't show the reference column
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataPageContainer.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/autoRelations.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

Fix manual invocation modal, import connect
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/EventTrigger/Common/InvokeManualTrigger/InvokeManualTrigger.js
  console/src/components/Services/EventTrigger/Common/InvokeManualTrigger/InvokeManualTriggerAction.js
  console/src/components/Services/EventTrigger/Common/InvokeManualTrigger/State.js
Owners: @rikinsk

Update hasura-arch.svg
  assets/hasura-arch.svg
Owners: @shahidhk

fix sql to return empty array on NULL
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

add tests
  server/src-rsr/run_pg_dump.sh
  server/stack.yaml
  server/tests-py/pgdump/pg_dump_public.yaml
  server/tests-py/test_pg_dump.py
Owners: @0x777

add different response for pg 9
  server/tests-py/pgdump/pg_dump_public.yaml
  server/tests-py/test_pg_dump.py
Owners: @0x777

fix key error
  server/tests-py/test_pg_dump.py
Owners: @0x777

minor refactor
  server/src-lib/Hasura/Server/PGDump.hs
Owners: @0x777

add missing column troubleshooting
  docs/graphql/manual/troubleshooting/index.rst
Owners: @rikinsk

update subscriptions headers code block
  docs/graphql/manual/subscriptions/index.rst
Owners: @rikinsk

debug test failuer
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/validators/validators.js
Owners: @rikinsk

remove logs, add more wait time
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/validators/validators.js
Owners: @rikinsk

switch to hasura's pg-client-hs
  server/stack.yaml
Owners: @0x777

revert changes to docker compose yaml
  install-manifests/docker-compose/docker-compose.yaml
Owners: @shahidhk

increase wait time
  console/cypress/integration/data/modify/spec.js
Owners: @rikinsk

update migration docs, cli changes pending
  docs/graphql/manual/migrations/existing-database.rst
Owners: @rikinsk

fix sql to return primay_key as NULL if not present
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

remove unwanted dispatch action
  console/src/components/Services/Data/Add/AddExistingTableViewActions.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
Owners: @rikinsk

remove unwanted props
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/EventTrigger/Schema/Schema.js
Owners: @rikinsk

add docs for using {} expression
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/queries/query-filters.rst
Owners: @rikinsk

load inconsistent objects when loading schema
  console/src/components/Services/Data/DataActions.js
Owners: @rikinsk

load inconsistent objects while loading triggers
  console/src/components/Services/EventTrigger/EventActions.js
Owners: @rikinsk

remove unwanted dispatch action
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Schema/Schema.js
Owners: @rikinsk

update create foreign-key section of relationship docs
  docs/graphql/manual/schema/relationships/create.rst
  docs/img/graphql/manual/schema/add-foreign-key.png
Owners: @rikinsk

reset wait time in console tests
  console/cypress/integration/data/modify/spec.js
Owners: @rikinsk

update docs (#2023)
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/schema/relationships/create.rst
  docs/graphql/manual/subscriptions/index.rst
  docs/graphql/manual/troubleshooting/index.rst
  docs/img/graphql/manual/schema/add-foreign-key.png
Owners: @rikinsk

dd /healthz GET endpoint to check server health & warn level for inconsistent objects log
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
Owners: @0x777

reduce test wait time
  console/cypress/integration/data/modify/spec.js
Owners: @rikinsk

add manual to configuration
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
Owners: @0x777

check manual conf before invoke
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
Owners: @0x777

update manifests to v1.0.0-alpha43
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/Dockerfile
Owners: @shahidhk

fix typo in the field name for accessing headers
  console/src/components/Services/Data/Metadata/Actions.js
Owners: @rikinsk

fix typo in the field name for accessing headers (#2026)
  console/src/components/Services/Data/Metadata/Actions.js
Owners: @rikinsk

do not account permission limit for aggregates, fix #1837
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
Owners: @0x777

update a test case to reflect #1837 fix
  server/tests-py/queries/graphql_query/agg_perm/author_agg_articles.yaml
  server/tests-py/queries/graphql_query/agg_perm/setup.yaml
  server/tests-py/queries/graphql_query/agg_perm/teardown.yaml
Owners: @0x777

candidate id shouldn't be part of the plan in multiplexed subscriptions
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Multiplexed.hs
  server/src-lib/Hasura/SQL/Value.hs
Owners: @0x777

Fix test-server.sh
  .circleci/test-server.sh
Owners: @shahidhk

candidate id shouldn't be part of the plan in multiplexed subscriptions (#2029)
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Multiplexed.hs
  server/src-lib/Hasura/SQL/Value.hs
Owners: @0x777

Use ByteString to cache introspection response
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
Owners: @0x777

Use ByteString to cache introspection response, closes #1942 (#2028)
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
Owners: @0x777

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk
