Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

feature (console): enable table tracking for GDC sources
  console/src/features/ConnectDB/hooks/useSubmit.tsx
  console/src/features/Data/TrackTables/components/RenderTableRow.tsx
  console/src/features/Data/TrackTables/components/TrackedTables.tsx
  console/src/features/Data/TrackTables/components/UntrackedTables.tsx
  console/src/features/Data/TrackTables/hooks/useMetadataSource.ts
  console/src/features/Data/TrackTables/hooks/useTables.ts
  console/src/features/Data/TrackTables/hooks/useTrackSelectedTables.ts
  console/src/features/Data/TrackTables/hooks/useTrackTable.ts
  console/src/features/Data/TrackTables/hooks/useUntrackTable.ts
  console/src/features/DataSource/api.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/gdc/introspection/getTableColumns.ts
  console/src/features/DataSource/gdc/introspection/getTrackableTables.ts
  console/src/features/DataSource/gdc/introspection/index.ts
  console/src/features/DataSource/gdc/introspection/utils.tsx
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/types.ts
Owners: @hasura/hge-console-owners

console: fix loading state while modifying/creating rest endpoint
  console/src/components/Services/ApiExplorer/Rest/Form/index.tsx
  console/src/components/utils.tsx
Owners: @hasura/hge-console-owners

console: Add Sentry
  console/cypress/global.d.ts
  console/exports/main.js
  console/package-lock.json
  console/package.json
  console/src/Globals.ts
  console/src/client.js
  console/src/features/AnalyticsToolsUtils/heap.ts
  console/src/features/AnalyticsToolsUtils/index.ts
  console/src/features/TracingTools/heap.ts
  console/src/features/TracingTools/index.ts
  console/src/features/TracingTools/sentry/core/getSentryEnvironment.test.ts
  console/src/features/TracingTools/sentry/core/getSentryEnvironment.ts
  console/src/features/TracingTools/sentry/core/getSentryTags.ts
  console/src/features/TracingTools/sentry/core/isSentryAlreadyStarted.ts
  console/src/features/TracingTools/sentry/core/logSentryInfo.ts
  console/src/features/TracingTools/sentry/core/parseSentryDsn.test.ts
  console/src/features/TracingTools/sentry/core/parseSentryDsn.ts
  console/src/features/TracingTools/sentry/core/startTracing.ts
  console/src/features/TracingTools/sentry/index.ts
  console/src/features/TracingTools/sentry/sentry.ts
  console/src/features/TracingTools/sentry/types.ts
  console/src/helpers/localDev.js
  server/src-lib/Hasura/App.hs
  server/src-rsr/console.html
Owners: @hasura/hge-console-owners, @hasura/hge-server

console: show cache button in EE console
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/utils/permissions.ts
Owners: @hasura/hge-console-owners

pro-console: integrate survey form in pro console
  console/exports/main.js
  console/src/features/GrowthExperiments/growthExperimentsConfigClient.ts
  console/src/features/GrowthExperiments/index.ts
  console/src/features/OnboardingWizard/Root.stories.tsx
  console/src/features/OnboardingWizard/Root.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.stories.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/features/OnboardingWizard/hooks/useWizardState.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey.stories.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.stories.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/familiaritySurveyOptionDetails.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/index.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/index.ts
  console/src/features/Surveys/constants.ts
  console/src/features/Surveys/index.ts
  console/src/features/Surveys/types.ts
  console/src/features/Surveys/utils.ts
  console/src/hooks/cloudDataServiceApiClient.ts
  console/src/new-components/IconCardGroup/IconCardGroup.stories.tsx
  console/src/new-components/IconCardGroup/IconCardGroup.tsx
  console/src/new-components/IconCardGroup/index.tsx
Owners: @hasura/hge-console-owners

console: remove CockroachDB from the connect db form
  console/src/components/Services/Data/DataSources/DataSourceFormWrapper.tsx
Owners: @hasura/hge-console-owners

console: set big query as GA release type
  console/src/features/DataSource/bigquery/index.ts
Owners: @hasura/hge-console-owners

server/tests-py: Make HGECtxGQLServer a fixture.
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/docker-compose.yml
  server/tests-py/graphql_server.py
  server/tests-py/requirements-top-level.txt
  server/tests-py/requirements.txt
  server/tests-py/test_heterogeneous.py
  server/tests-py/test_metadata.py
  server/tests-py/test_schema_stitching.py
  server/tests-py/test_webhook_request_context.py
Owners: @hasura/hge-server

docs: update Kriti reference
  docs/docs/actions/rest-connectors.mdx
  docs/docs/api-reference/kriti-templating.mdx
  docs/docs/api-reference/metadata-api/scheduled-triggers.mdx
  docs/docs/event-triggers/rest-connectors.mdx
  docs/docs/scheduled-triggers/create-cron-trigger.mdx
  docs/docs/scheduled-triggers/index.mdx
Owners: @hasura/hge-docs-owners

console: create new form component without using forwardRef
  console/src/new-components/Form/Form.tsx
  console/src/new-components/Form/InputField.tsx
  console/src/new-components/Form/UpdatedForm.stories.tsx
  console/src/new-components/Form/__tests__/InputField.spec.tsx
Owners: @hasura/hge-console-owners

server, pro: event trigger auto cleanup (increment 2)
  cabal.project
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source/Version.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source/Version.hs
  server/src-lib/Hasura/Eventing/Common.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-rsr/drop_pg_source.sql
  server/src-rsr/init_pg_source.sql
  server/src-rsr/mssql/drop_mssql_source.sql
  server/src-rsr/mssql/event_logs_cleanup_sqls/mssql_delete_event.sql.shakespeare
  server/src-rsr/mssql/event_logs_cleanup_sqls/mssql_delete_event_invocations.sql.shakespeare
  server/src-rsr/mssql/event_logs_cleanup_sqls/mssql_lock_events.sql.shakespeare
  server/src-rsr/mssql/event_logs_cleanup_sqls/mssql_null_event_invocations.sql.shakespeare
  server/src-rsr/mssql/init_mssql_source.sql
  server/src-rsr/mssql/mssql_source_migrations/2_to_3.sql
  server/src-rsr/pg_source_migrations/2_to_3.sql
  server/tests-hspec/Test/EventTrigger/PG/EventTriggersRecreationSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: use Postgres 15 for local testing
  docker-compose.yml
Owners: @hasura/hge-changelog-owners

allow exporting dc-agent test descriptions
  server/graphql-engine.cabal
  server/tests-dc-api/Command.hs
  server/tests-dc-api/Main.hs
Owners: @hasura/hge-server

server/tests-py: Support running BigQuery tests with run.sh.
  server/tests-py/context.py
  server/tests-py/docker-compose.yml
  server/tests-py/queries/graphql_query/bigquery/schema_setup_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/search/schema_setup_bigquery.yaml
Owners: @hasura/hge-server

server: graphql-ws: stop sending pings in response to pongs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/tests-py/context.py
Owners: @hasura/hge-server

server: support 128-bit trace ids
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/DataConnector/Logging.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Class.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Tracing.hs
  server/src-lib/Hasura/Tracing/TraceId.hs
  server/src-test/Hasura/Tracing/TraceIdSpec.hs
Owners: @hasura/hge-server

console: filter manual trigger via source name
  console/src/features/RelationshipsTable/index.ts
  console/src/metadata/selector.ts
Owners: @hasura/hge-console-owners

Docs: Change some Citus Hyperscale references to Postgres and amend info to specify Postgres flavours
  docs/docs/databases/index.mdx
  docs/docs/databases/postgres/index.mdx
  docs/docs/mutations/postgres/_category_.json
  docs/docs/mutations/postgres/index.mdx
  docs/docs/queries/postgres/_category_.json
  docs/docs/queries/postgres/index.mdx
  docs/docs/schema/postgres/_category_.json
  docs/docs/schema/postgres/index.mdx
  docs/docs/subscriptions/postgres/_category_.json
  docs/docs/subscriptions/postgres/index.mdx
Owners: @hasura/hge-docs-owners

server: Add test cases for inconsistencies upon reloading or replacing the metadata.
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Quoter/Yaml/InterpolateYaml.hs
  server/tests-hspec/Test/Metadata/InconsistentSpec.hs
Owners: @hasura/hge-server

Remove duplicated Data Connector API types
  server/graphql-engine.cabal
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Column.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Expression.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Query.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Scalar.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Table.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Aggregate.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Column.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Expression.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Function.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Name.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/OrderBy.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Query.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Relationships.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Scalar/Type.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Scalar/Value.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Table.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan.hs
  server/src-lib/Hasura/Backends/DataConnector/Schema/Column.hs
  server/src-lib/Hasura/Backends/DataConnector/Schema/Table.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ColumnSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ScalarSpec.hs
  server/src-test/Hasura/Backends/DataConnector/RQLGenerator.hs
  server/src-test/Hasura/Backends/DataConnector/RQLGenerator/GenAnnSelectG.hs
  server/src-test/Hasura/Backends/DataConnector/RQLGenerator/GenCommon.hs
  server/src-test/Hasura/Backends/DataConnector/RQLGenerator/GenSelectArgsG.hs
  server/src-test/Hasura/Backends/DataConnector/RQLGenerator/GenSelectFromG.hs
  server/src-test/Hasura/Backends/DataConnector/RQLGenerator/GenTablePermG.hs
Owners: @hasura/hge-server

server/tests: add `permissionRows` field and `Permission` constructor
  server/tests-hspec/Harness/Test/Permissions.hs
  server/tests-hspec/Test/Regression/DropColumnWithPermissions8415Spec.hs
  server/tests-hspec/Test/Regression/InsertOnConflict8260Spec.hs
Owners: @hasura/hge-server

server: event trigger cleanup | fix `query_timeout` field name
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-test/Hasura/EventTriggerCleanupSuite.hs
Owners: @hasura/hge-server

console: remove allow list feature flag
  console/src/components/Services/ApiExplorer/TopNav.tsx
  console/src/components/Services/Settings/AllowedQueries/AddAllowedQuery.tsx
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.tsx
  console/src/components/Services/Settings/AllowedQueries/AllowedQueriesList.tsx
  console/src/components/Services/Settings/AllowedQueries/AllowedQueriesNotes.tsx
  console/src/components/Services/Settings/Sidebar.tsx
  console/src/components/Services/Settings/index.ts
  console/src/features/AllowLists/components/AllowListPermissions/AllowListPermissions.tsx
  console/src/features/FeatureFlags/availableFeatureFlags.ts
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/GraphQLFileUpload.tsx
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/__snapshots__/settings.test.ts.snap
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/fixtures.ts
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/settings.test.ts
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/utils.ts
  console/src/routes.js
  frontend/libs/console/legacy-oss/src/lib/components/Services/Settings/__tests__/__snapshots__/settings.test.ts.snap
  frontend/libs/console/legacy-oss/src/lib/components/Services/Settings/__tests__/fixtures/allow-list.ts
  frontend/libs/console/legacy-oss/src/lib/components/Services/Settings/__tests__/settings.test.ts
Owners: @hasura/hge-console-owners, @hasura/hge-changelog-owners

cli: fix bug when exporting metadata to remote_schemas.yaml
  cli/internal/metadataobject/remoteschemas/remote_schemas.go
  cli/internal/metadataobject/remoteschemas/remote_schemas_test.go
  cli/internal/metadataobject/remoteschemas/testdata/export_test/t3/want.remote_schemas.yaml
  cli/internal/metadataobject/remoteschemas/testdata/export_test/t4/want.remote_schemas.yaml
Owners: @hasura/hge-cli-owners

server: event trigger log cleanup | change metedata API field name
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-test/Hasura/EventTriggerCleanupSuite.hs
Owners: @hasura/hge-server

console: new remote schema preview tab
  console/src/components/Services/RemoteSchema/Edit/View.js
  console/src/components/Services/RemoteSchema/RemoteSchemaRouter.js
  console/src/components/Services/RemoteSchema/index.ts
  console/src/components/Services/Settings/MetadataOptions/ReloadRemoteSchema.js
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.tsx
  console/src/features/RemoteRelationships/index.ts
  console/src/features/RemoteSchema/components/Details/RemoteSchemaDetails.tsx
  console/src/features/RemoteSchema/components/Details/RemoteSchemaDetailsHeaders.tsx
  console/src/features/RemoteSchema/components/Details/RemoteSchemaDetailsNavigation.tsx
  console/src/features/RemoteSchema/components/Details/SchemaPreview.tsx
  console/src/new-components/IndicatorCard/IndicatorCard.tsx
Owners: @hasura/hge-console-owners

docs: update ERD for security best practices
  docs/static/img/guides/best-practices-security-apihasura-diagram.png
Owners: @hasura/hge-docs-owners

Docs: update feedback component
  docs/src/components/PageHelpful/index.tsx
  docs/src/components/PageHelpful/styles.module.scss
  docs/static/img/mascot-hand.png
Owners: @hasura/hge-docs-owners

Add X-Forwarded-Origin header
  server/src-lib/Hasura/Server/Utils.hs
Owners: @hasura/hge-server

install manifests: add offline console assets env var to docker-compose files
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-mysql-preview/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

Remove cron_trigger/scheduled_events using scheduled_time field
  docs/docs/scheduled-triggers/clean-up.mdx
Owners: @hasura/hge-docs-owners

server/postgres: Implement execution of aggregation predicates
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Expression.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aggregate.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/RQL/IR/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/AggregationPredicates.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/tests-hspec/Test/Queries/AggregationPredicatesSpec.hs
Owners: @hasura/hge-server

console: adds hidden oauth flow for Neon Integration
  console/src/Globals.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/LoginButton.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/TempCallback.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/utils.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/TempCallback.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/ConnectDBScreen/ConnectDBScreen.stories.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/ConnectDBScreen/assets/neon_banner.png
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.stories.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useIsUnmounted.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonOAuth.test.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonOAuth.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/index.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/utils.ts
  console/src/components/Services/Data/DataSources/tabs.tsx
  console/src/declaration.d.ts
  console/src/helpers/localDev.js
  console/src/hooks/createFetchControlPlaneData.ts
  console/src/routes.js
  console/src/utils/cloudConsole.ts
  console/src/utils/localStorage.ts
Owners: @hasura/hge-console-owners

server: optimise CockroachDB metadata fetch
  server/src-rsr/cockroach_table_metadata.sql
Owners: @hasura/hge-server

fix(#8904): Make BigQuery Computed Fields arguments optional
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/tests-hspec/Test/BigQuery/ComputedFieldSpec.hs
Owners: @hasura/hge-server

Implement aggregation tests for hspec
  server/graphql-engine.cabal
  server/tests-hspec/Test/Queries/AggregationSpec.hs
Owners: @hasura/hge-server

ci/benchmarks: don't measure decompression in k6 (NOT REAL PERFORMANCE IMPROVEMENT)
  server/benchmarks/README.md
  server/benchmarks/benchmark_sets/chinook/config.query.yaml
  server/benchmarks/benchmark_sets/huge_schema/config.query.yaml
  server/benchmarks/benchmark_sets/remote_schema/config.query.yaml
Owners: @hasura/hge-server

tests-hspec readme: update m1 workaround fix
  server/tests-hspec/README.md
Owners: @hasura/hge-server

Docs: Add Hasura Cloud section in deployment. Add disaster recovery information
  docs/docs/deployment/compression.mdx
  docs/docs/deployment/custom-docker-images.mdx
  docs/docs/deployment/deployment-guides/_category_.json
  docs/docs/deployment/downgrading.mdx
  docs/docs/deployment/enable-https.mdx
  docs/docs/deployment/graphql-engine-flags/_category_.json
  docs/docs/deployment/hasura-cloud/_category_.json
  docs/docs/deployment/hasura-cloud/dedicated-vpc.mdx
  docs/docs/deployment/hasura-cloud/disaster-recovery.mdx
  docs/docs/deployment/hasura-cloud/github-integration.mdx
  docs/docs/deployment/hasura-cloud/index.mdx
  docs/docs/deployment/hasura-cloud/preview-apps.mdx
  docs/docs/deployment/hasura-cloud/regression-tests.mdx
  docs/docs/deployment/health-checks/_category_.json
  docs/docs/deployment/logging.mdx
  docs/docs/deployment/postgres-requirements.mdx
  docs/docs/deployment/production-checklist.mdx
  docs/docs/deployment/securing-graphql-endpoint.mdx
  docs/docs/deployment/updating-graphql-engine.mdx
  docs/docs/index.mdx
  docs/docs/projects/environments.mdx
  docs/src/css/_custom-dark.scss
  docs/static/img/deployment/select-cloud-region_console_2.11.1.png
Owners: @hasura/hge-docs-owners

refactor (console/browse-rows): useRows hook that fetches table rows for a pg tables
  console/src/components/Services/Data/TableBrowseRows/Hooks/index.ts
  console/src/components/Services/Data/TableBrowseRows/Hooks/useRows.spec.ts
  console/src/components/Services/Data/TableBrowseRows/Hooks/useRows.tsx
  console/src/components/Services/Data/TableBrowseRows/mocks/handlers.mock.ts
  console/src/features/BrowseRows/components/DataGrid/types.tsx
  console/src/features/DataSource/api.ts
  console/src/features/DataSource/bigquery/index.ts
  console/src/features/DataSource/citus/index.ts
  console/src/features/DataSource/cockroach/index.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/postgres/index.ts
  console/src/features/DataSource/postgres/query/getTableRows.ts
  console/src/features/DataSource/postgres/query/index.ts
  console/src/features/DataSource/types.ts
Owners: @hasura/hge-console-owners
