Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

server: add active multiplexed subscriptions metrics
  docs/docs/enterprise/metrics.mdx
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/Server/Metrics.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

bugfix(NativeQueries): fix validation failed on name with uppercase on postgres
  server/lib/api-tests/src/Test/API/Metadata/NativeQueries/ValidationSpec.hs
  server/lib/api-tests/src/Test/Queries/NativeQueries/NativeQueriesSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
  server/src-test/Hasura/Backends/Postgres/NativeQueries/NativeQueriesSpec.hs
Owners: @hasura/hge-server

benchmarks: resource_calibration.sh and CI throughput benchmarks
  scripts/containers/postgres
  server/benchmarks/benchmark_sets/chinook_throughput/README.md
  server/benchmarks/benchmark_sets/chinook_throughput/config.query.yaml
  server/benchmarks/benchmark_sets/chinook_throughput/dump.sql.gz
  server/benchmarks/benchmark_sets/chinook_throughput/replace_metadata.json
  server/benchmarks/fabfile.py
  server/benchmarks/resource_calibration.sh
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Properly return schema information about views and PK mutability from the Super Connector
  dc-agents/sqlite/src/schema.ts
  server/lib/api-tests/src/Test/DataConnector/MetadataApiSpec.hs
  server/lib/dc-api/test/Test/Data/schema-tables.json
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: update ubuntu image to focal-20230412
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

Dsf 248 permissions add view checks to permissions
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useIsTableView.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/alloydb/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/alloydb/introspection/getIsTableView.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/citus/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/citus/introspection/getIsTableView.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/citus/introspection/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/introspection/getIsTableView.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/introspection/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/defaultDatabaseProps.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mssql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mssql/introspection/getIsTableView.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mssql/introspection/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mysql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getIsTableView.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getTableColumns.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/PermissionsTable.tsx
Owners: @hasura/hge-changelog-owners

server/tests-py: Parallelize JWT tests.
  .circleci/server-test-names.txt
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/fixtures/jwt.py
  server/tests-py/pytest.ini
  server/tests-py/test_config_api.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_jwt.py
  server/tests-py/test_jwt_claims_map.py
  server/tests-py/validate.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/pro: remote schema queries should not be cached when forward client headers are set
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-server

ci: tag release v2.24.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: update ubuntu image to focal-20230412
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

console: minor bug fixes (Tracking UI, Connect DB)
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDbBody/parts/Cloud.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectGDCSourceWidget/ConnectGDCSourceWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectMssqlWidget/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/hooks/useTrackedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/introspection/useDatabaseSchemas.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/MultipleJWTSecrets/MultipleJWTSecretsPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/configuration.ts
  frontend/libs/console/legacy-ce/src/lib/utils/getDataRoute.ts
Owners: @hasura/hge-changelog-owners

console (feature): component to introspect and track functions in the new data tab UI
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/components/FunctionDisplayName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/components/UntrackedFunctions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/components/UntrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/hooks/useTrackFunction.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackFunctions/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/reactQueryUtils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/alloydb/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/citus/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/defaultDatabaseProps.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mssql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mysql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getTrackableFunctions.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCheckRows.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
Owners: @hasura/hge-changelog-owners

docs: improve docs for auth-hook session variable caching
  docs/docs/auth/authentication/webhook.mdx
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/enterprise/overview.mdx
Owners: @hasura/hge-docs-owners

Remove code display in notification when useless
  frontend/libs/console/legacy-ce/src/lib/components/Services/Common/Notification.tsx
Owners: @hasura/hge-changelog-owners

ci: tag release v2.24.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.24.0-beta.1
  releases/v2.24.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.24.0-beta.1-ce
  releases/v2.24.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.24.0-beta.1-cloud.1
  releases/v2.24.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

sqlserver: implement native queries as CTEs
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/Databases/SQLServer/NativeQueriesSpec.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/tests-py: Remove test_startup_db_calls.py.
  .circleci/server-test-names.txt
  server/tests-py/test_startup_db_calls.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: set default service.name in opentelemetry exporter
  docs/docs/enterprise/opentelemetry.mdx
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: randomise options in use case onboarding
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
Owners: @hasura/hge-changelog-owners

Docs: Small Changes 4
  docs/docs/auth/authentication/webhook.mdx
  docs/docs/resources/use-case/gql-backend.mdx
  docs/static/img/data-federation/data-federation_multi-protocol-federation-capabilities.png
Owners: @hasura/hge-docs-owners

docs: configurable log types
  docs/docs/deployment/logging.mdx
Owners: @hasura/hge-docs-owners

hotfix[v2.33]: remove code display in notification when useless
  frontend/libs/console/legacy-ce/src/lib/components/Services/Common/Notification.tsx
Owners: @hasura/hge-changelog-owners

console: fix UI bug in "inspect modal" in operations tab (under monitoring)
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/Modal.js
Owners: @hasura/hge-changelog-owners

server/tests-py: Remove test_horizontal_scale.py.
  .circleci/server-test-names.txt
  server/tests-py/test_horizontal_scale.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cleanup(sqlserver): remove QueryWithDDL
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

server: integration tests for zero-downtime env vars update on cloud
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

docs: update docs for enabling EE rate limiting
  docs/docs/security/api-limits.mdx
Owners: @hasura/hge-docs-owners

Add an alias for `EXISTS` clauses in queries
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Regression/RootExistElementAliasing9457Spec.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
Owners: @hasura/hge-server

Docs: Update Apollo Subscriptions
  docs/docs/subscriptions/integrations/apollo-subscriptions.mdx
Owners: @hasura/hge-docs-owners

console: show warning notification while replacing metadata, clearing metadata and setting time_limt
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Security/actions.ts
  frontend/libs/console/legacy-ce/src/lib/metadata/actions.ts
  frontend/libs/console/legacy-ce/src/lib/metadata/hyperlinkErrorMessageLink.tsx
Owners: @hasura/hge-changelog-owners

server/tests-py: Remove the old local and CI runners.
  server/tests-py/docker-compose.yml
  server/tests-py/run.sh
Owners: @hasura/hge-server

Hide HasuraCon'22 banner
  docs/src/components/HasuraConBanner/styles.module.scss
Owners: @hasura/hge-docs-owners

console: port template gallery to new ui / tracked tables as links / code gardening
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataRouter.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TemplateGallery/Actions.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TemplateGallery/TemplateGallery.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TemplateGallery/TemplateGalleryTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.Route.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/components/TrackableResourceTabs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/components/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/BreadCrumbs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/CollapsibleResource.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/SchemaDropdown.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/SourceName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/ManageTrackedTables.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/ManageTrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/TableDisplayName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/parts/Link.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/index.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Tabs/Tabs.tsx
Owners: @hasura/hge-changelog-owners

Use bulk_keep_going for tracking actions
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/UntrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useAllSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
  frontend/libs/console/legacy-ce/src/lib/metadata/queryUtils.ts
Owners: @hasura/hge-changelog-owners

cli-ext: Upgrade the node.js version to 16 when packaging.
  cli-ext/build.sh
  cli-ext/package.json
Owners: @hasura/hge-changelog-owners

docs: Add use case overview doc
  docs/docs/resources/use-case/api-gateway.mdx
  docs/docs/resources/use-case/data-api.mdx
  docs/docs/resources/use-case/data-federation.mdx
  docs/docs/resources/use-case/gql-backend.mdx
  docs/docs/resources/use-case/overview.mdx
  docs/static/img/use-case-overview/api-gateway.svg
  docs/static/img/use-case-overview/data-api.svg
  docs/static/img/use-case-overview/data-federation.svg
  docs/static/img/use-case-overview/gql-backend.svg
Owners: @hasura/hge-docs-owners

console: fix issue with table names not being displayed property in the Metatadata Status page
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/utils.ts
Owners: @hasura/hge-changelog-owners
