Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

server/tests-py: Fix up the Redis tests so they run.
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Types.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/docker-compose.yml
  server/tests-py/fixtures/hge.py
  server/tests-py/fixtures/postgres.py
  server/tests-py/queries/query_cache/setup.yaml
  server/tests-py/queries/query_cache/simple_cached.yaml
  server/tests-py/queries/query_cache/teardown.yaml
  server/tests-py/queries/query_cache/test_action_query.yaml
  server/tests-py/queries/query_cache/test_action_query_with_forward_client_headers_set.yaml
  server/tests-py/queries/query_cache/test_action_query_with_forward_client_headers_unset.yaml
  server/tests-py/queries/query_cache/test_cache_clear.yaml
  server/tests-py/queries/query_cache/test_cache_clear_family.yaml
  server/tests-py/queries/query_cache/test_cache_clear_key.yaml
  server/tests-py/queries/query_cache/test_metrics_one.yaml
  server/tests-py/queries/query_cache/test_metrics_two.yaml
  server/tests-py/queries/query_cache/test_no_variables_in_query_key.yaml
  server/tests-py/run.sh
  server/tests-py/test_endpoints.py
  server/tests-py/test_query_cache.py
  server/tests-py/test_remote_schema_permissions.py
  server/tests-py/validate.py
Owners: @hasura/hge-server

Use `DataConnectorScalarType` everywhere (#628)
  v3/crates/metadata-resolve/src/helpers/model.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/types.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
  v3/crates/metadata-resolve/src/types/error.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

Use `OperatorName` newtype (#631)
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
  v3/crates/schema/src/boolean_expression.rs
Owners: @hasura/hge-changelog-owners

Fix key lookup bugs in the Redis admin APIs.
  server/tests-py/queries/query_cache/test_cache_clear.yaml
  server/tests-py/queries/query_cache/test_cache_clear_family.yaml
  server/tests-py/queries/query_cache/test_cache_clear_key.yaml
Owners: @hasura/hge-server

CI: Pass `--pro-tests` to pytests when testing HGE Pro.
  server/tests-py/test_allowlist_queries.py
  server/tests-py/test_endpoints.py
  server/tests-py/test_graphql_introspection.py
  server/tests-py/test_remote_schema_permissions.py
Owners: @hasura/hge-server

move serializable http types to a separate module (#633)
  v3/crates/metadata-resolve/src/helpers/http.rs
  v3/crates/metadata-resolve/src/helpers/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
Owners: @hasura/hge-changelog-owners

Upgrade GHC to v9.6.5.
  .envrc
  .ghcversion
  cabal.project
  cabal.project.freeze
  flake.lock
  server/VERSIONS.json
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Removed unused field (#637)
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
Owners: @hasura/hge-changelog-owners

Updating readme for V3 beta
  README.md
Owners: @hasura/hge-changelog-owners

Avoid cloning data connector URL and headers. (#635)
  v3/crates/execute/src/explain.rs
  v3/crates/execute/src/ndc.rs
  v3/crates/execute/src/ndc/client.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
Owners: @hasura/hge-changelog-owners

expose traceresponse header in CORS (#644)
  v3/crates/engine/bin/engine/cors.rs
Owners: @hasura/hge-changelog-owners

Add a `DataConnectorColumnName` newtype (#639)
  v3/crates/execute/src/ir/arguments.rs
  v3/crates/execute/src/ir/filter.rs
  v3/crates/execute/src/ir/order_by.rs
  v3/crates/execute/src/ir/permissions.rs
  v3/crates/execute/src/ir/query_root/apollo_federation.rs
  v3/crates/execute/src/ir/query_root/node_field.rs
  v3/crates/execute/src/ir/query_root/select_one.rs
  v3/crates/execute/src/ir/relationship.rs
  v3/crates/execute/src/ir/selection_set.rs
  v3/crates/execute/src/plan/relationships.rs
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/metadata-resolve/src/helpers/ndc_validation.rs
  v3/crates/metadata-resolve/src/helpers/types.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/types.rs
  v3/crates/metadata-resolve/src/stages/models/types.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/stages/object_types/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/data_connector.rs
  v3/crates/open-dds/src/types.rs
  v3/crates/schema/src/permissions.rs
  v3/crates/schema/src/types.rs
Owners: @hasura/hge-changelog-owners

Add a before / after comparison
  rfcs/v3/authorization-rules.md
Owners: @hasura/hge-changelog-owners

Store NDC capabilities in the resolved metadata. (#641)
  v3/crates/engine/tests/execute/multiple_root_fields/successful_execution/metadata.json
  v3/crates/execute/src/explain.rs
  v3/crates/execute/src/lib.rs
  v3/crates/execute/src/ndc.rs
  v3/crates/execute/src/ndc/client.rs
  v3/crates/execute/tests/generate_ir/get_by_id/expected.json
  v3/crates/execute/tests/generate_ir/get_many/expected.json
  v3/crates/execute/tests/generate_ir/get_many_model_count/expected.json
  v3/crates/execute/tests/generate_ir/get_many_user_2/expected.json
  v3/crates/execute/tests/generate_ir/get_many_where/expected.json
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/stages/commands/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
Owners: @hasura/hge-changelog-owners

Avoid cloning headers when making an NDC request if possible. (#646)
  v3/crates/execute/src/explain.rs
  v3/crates/execute/src/ndc.rs
  v3/crates/execute/src/ndc/client.rs
Owners: @hasura/hge-changelog-owners

Use Clippy to help simplify conditions. (#648)
  v3/Cargo.toml
  v3/crates/auth/hasura-authn-jwt/src/jwt.rs
  v3/crates/custom-connector/src/query.rs
  v3/crates/engine/build.rs
  v3/crates/execute/src/ir/order_by.rs
  v3/crates/execute/src/ndc/response.rs
  v3/crates/execute/src/plan/relationships.rs
  v3/crates/lang-graphql/src/validation/selection_set.rs
  v3/crates/metadata-resolve/src/helpers/ndc_validation.rs
  v3/crates/metadata-resolve/src/helpers/type_mappings.rs
  v3/crates/metadata-resolve/src/stages/graphql_config/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/mod.rs
  v3/crates/metadata-resolve/src/stages/relationships/mod.rs
  v3/crates/utils/recursion_limit_macro/src/lib.rs
  v3/crates/utils/tracing-util/src/http.rs
Owners: @hasura/hge-changelog-owners

Allow arbitrary arguments to the justfile test commands. (#650)
  v3/justfile
Owners: @hasura/hge-changelog-owners

Merge `match` branches to reduce duplication. (#649)
  v3/Cargo.toml
  v3/crates/auth/hasura-authn-jwt/src/jwt.rs
  v3/crates/execute/src/explain.rs
  v3/crates/execute/src/ir/permissions.rs
  v3/crates/execute/src/model_tracking.rs
  v3/crates/execute/src/plan.rs
  v3/crates/execute/src/plan/relationships.rs
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/lang-graphql/src/introspection.rs
  v3/crates/lang-graphql/src/parser.rs
  v3/crates/lang-graphql/src/schema/build.rs
  v3/crates/lang-graphql/src/validation/input/source.rs
  v3/crates/lang-graphql/src/validation/input/value.rs
  v3/crates/metadata-resolve/src/helpers/typecheck.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
  v3/crates/schema/src/types.rs
  v3/crates/schema/src/types/output_type.rs
  v3/crates/utils/opendds-derive/src/container.rs
  v3/crates/utils/opendds-derive/src/enum_derive.rs
Owners: @hasura/hge-changelog-owners

add filter expressions for Album and Artist schemas for ndc-postgres (#643)
  v3/crates/engine/tests/schema.json
Owners: @hasura/hge-changelog-owners

SDL schema generation improvements (#642)
  v3/crates/engine/tests/execute/apollo_federation_fields/service_sdl/expected.json
  v3/crates/lang-graphql/src/generate_sdl.rs
  v3/crates/schema/Cargo.toml
  v3/crates/schema/bin/build-schema-from-metadata/main.rs
Owners: @hasura/hge-changelog-owners

Add UNSTABLE_FEATURES env var (#652)
  v3/CONTRIBUTING.md
  v3/crates/engine/benches/execute.rs
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/build.rs
  v3/crates/engine/src/internal_flags.rs
  v3/crates/engine/src/lib.rs
  v3/crates/engine/tests/common.rs
  v3/crates/engine/tests/execute/models/select_one/simple_select/filter_new_boolean_expression/expected.json
  v3/crates/engine/tests/execute/models/select_one/simple_select/filter_new_boolean_expression/metadata.json
  v3/crates/engine/tests/execute/models/select_one/simple_select/filter_new_boolean_expression/request.gql
  v3/crates/engine/tests/execute/models/select_one/simple_select/filter_new_boolean_expression/session_variables.json
  v3/crates/engine/tests/execution.rs
  v3/crates/engine/tests/validate_metadata.rs
  v3/crates/execute/benches/generate_ir.rs
  v3/crates/execute/src/lib.rs
  v3/crates/schema/bin/build-schema-from-metadata/main.rs
  v3/crates/schema/src/lib.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners

Defer resolving field mappings (#651)
  v3/crates/execute/src/ir/error.rs
  v3/crates/execute/src/ir/filter.rs
  v3/crates/execute/src/ir/model_selection.rs
  v3/crates/execute/src/ir/order_by.rs
  v3/crates/execute/src/ir/query_root/select_many.rs
  v3/crates/execute/src/ir/relationship.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
  v3/crates/schema/src/boolean_expression.rs
  v3/crates/schema/src/types.rs
  v3/crates/schema/src/types/output_type/relationship.rs
Owners: @hasura/hge-changelog-owners

Move a couple of lint suppressions closer to the code. (#658)
  v3/Cargo.toml
  v3/crates/lang-graphql/benches/schema_serde.rs
  v3/crates/lang-graphql/src/ast/value.rs
  v3/crates/lang-graphql/src/normalized_ast.rs
  v3/crates/lang-graphql/src/parser.rs
  v3/crates/lang-graphql/src/parser/selection_set.rs
Owners: @hasura/hge-changelog-owners

Resolve `boolean_expression_type` metadata (#630)
  v3/Cargo.lock
  v3/crates/metadata-resolve/Cargo.toml
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/object.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/scalar.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/stages/check_boolean_expressions_flag/mod.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/metadata-resolve/src/stages/types.rs
  v3/crates/metadata-resolve/src/types/error.rs
  v3/crates/metadata-resolve/tests/examples/boolean_expression/new-metadata.json
  v3/crates/metadata-resolve/tests/examples/boolean_expression/old-metadata.json
  v3/crates/metadata-resolve/tests/examples/boolean_expression/old-metadata.json.old
  v3/crates/metadata-resolve/tests/examples/boolean_expression/readme.md
  v3/crates/metadata-resolve/tests/examples/boolean_expression/shared-metadata.json
  v3/crates/metadata-resolve/tests/examples/postgres-metadata.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression_missing_object_type/example.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression_missing_object_type/expected_error.txt
  v3/crates/metadata-resolve/tests/failing/boolean_expression_missing_scalar_type/example.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression_missing_scalar_type/expected_error.txt
  v3/crates/metadata-resolve/tests/failing/boolean_expression_no_data_connector/example.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression_no_data_connector/expected_error.txt
  v3/crates/metadata-resolve/tests/failing/boolean_expression_scalars_not_defined_for_data_connector/example.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression_scalars_not_defined_for_data_connector/expected_error.txt
  v3/crates/metadata-resolve/tests/failing/boolean_expression_type_not_known_to_data_connector/example.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression_type_not_known_to_data_connector/expected_error.txt
  v3/crates/metadata-resolve/tests/matching.rs
  v3/crates/metadata-resolve/tests/passing/boolean_expression_types/example.json
  v3/crates/metadata-resolve/tests/passing/boolean_expression_types_no_graphql/example.json
  v3/crates/metadata-resolve/tests/passing/boolean_expression_types_two_data_sources/example.json
  v3/crates/open-dds/src/boolean_expression.rs
  v3/crates/open-dds/src/types.rs
  v3/crates/schema/src/model_filter.rs
Owners: @hasura/hge-changelog-owners

Break up `schema/boolean-expressions` ready for new bool exps (#659)
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/schema/src/boolean_expression.rs
Owners: @hasura/hge-changelog-owners

Apply a few lints to make it struct construction clearer. (#661)
  v3/Cargo.toml
  v3/crates/custom-connector/src/collections/institutions.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/object_types/mod.rs
  v3/crates/open-dds/src/identifier.rs
Owners: @hasura/hge-changelog-owners

Add ability to override interpretations of roles (#660)
  v3/Cargo.lock
  v3/crates/engine/benches/execute.rs
  v3/crates/execute/benches/generate_ir.rs
  v3/crates/execute/src/lib.rs
  v3/crates/execute/src/plan.rs
  v3/crates/lang-graphql/benches/validation.rs
  v3/crates/lang-graphql/src/generate_graphql_schema.rs
  v3/crates/lang-graphql/src/generate_sdl.rs
  v3/crates/lang-graphql/src/introspection.rs
  v3/crates/lang-graphql/src/schema.rs
  v3/crates/lang-graphql/src/schema/sdl.rs
  v3/crates/lang-graphql/src/validation.rs
  v3/crates/lang-graphql/src/validation/collect.rs
  v3/crates/lang-graphql/src/validation/input/const_value.rs
  v3/crates/lang-graphql/src/validation/input/json_value.rs
  v3/crates/lang-graphql/src/validation/input/normalize.rs
  v3/crates/lang-graphql/src/validation/input/source.rs
  v3/crates/lang-graphql/src/validation/input/value.rs
  v3/crates/lang-graphql/src/validation/selection_set.rs
  v3/crates/schema/Cargo.toml
  v3/crates/schema/bin/build-schema-from-metadata/main.rs
  v3/crates/schema/src/lib.rs
  v3/crates/schema/tests/metadata_with_presets.json
  v3/crates/schema/tests/metadata_with_select_permissions.json
  v3/crates/schema/tests/snapshots/schema__tests__role_agnostic_schemas_have_all_permissions.snap
  v3/crates/schema/tests/snapshots/schema__tests__role_agnostic_schemas_have_no_presets.snap
  v3/crates/schema/tests/snapshots/schema__tests__roled_schemas_have_some_permissions.snap
  v3/crates/schema/tests/snapshots/schema__tests__roled_schemas_have_some_presets.snap
Owners: @hasura/hge-changelog-owners

Use Nix to build and publish Docker images. (#664)
  v3/flake.nix
  v3/justfile
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.40.0-beta.1 and v2.40.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Remove `scalar_type_name` where not needed (#663)
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/object.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
  v3/crates/schema/src/boolean_expression.rs
  v3/crates/schema/src/lib.rs
  v3/crates/schema/src/types.rs
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.40.0-beta.1 and v2.40.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.40.0-beta.1
  releases/v2.40.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.40.0-beta.1-ce
  releases/v2.40.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.40.0-beta.1-cloud.1
  releases/v2.40.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

Use "dev" as the version in development for Nix builds. (#665)
  v3/.prettierignore
  v3/flake.lock
  v3/flake.nix
  v3/nix/version
Owners: @hasura/hge-changelog-owners

Enable a few lint warnings around conditions, and fix the highlighted areas. (#662)
  v3/Cargo.toml
  v3/crates/execute/src/error.rs
  v3/crates/execute/src/ndc/client.rs
  v3/crates/lang-graphql/src/lexer/string.rs
  v3/crates/lang-graphql/src/schema/build.rs
  v3/crates/metadata-resolve/src/helpers/typecheck.rs
  v3/crates/metadata-resolve/src/stages/graphql_config/mod.rs
  v3/crates/schema/src/commands.rs
  v3/crates/utils/opendds-derive/src/lib.rs
  v3/crates/utils/opendds-derive/src/struct_derive.rs
Owners: @hasura/hge-changelog-owners

gardening: tidy up data connector resolve types (#668)
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
Owners: @hasura/hge-changelog-owners

server/pro/opentelemetry: Fix missing overflow bucket in OTLP histogr…
  server/lib/ekg-prometheus/System/Metrics/Prometheus/Export.hs
  server/lib/ekg-prometheus/System/Metrics/Prometheus/Histogram.hs
  server/lib/ekg-prometheus/ekg-prometheus.cabal
  server/lib/ekg-prometheus/test/Histogram.hs
  server/lib/ekg-prometheus/test/Spec.hs
Owners: @hasura/hge-server

Be more explicit about clones, and remove a few. (#671)
  v3/Cargo.toml
  v3/crates/execute/src/plan.rs
  v3/crates/execute/src/remote_joins/collect.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/object.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/scalar.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/relationships/mod.rs
  v3/crates/metadata-resolve/src/stages/type_permissions/mod.rs
  v3/crates/metadata-resolve/src/types/subgraph.rs
  v3/crates/schema/src/types/output_type.rs
Owners: @hasura/hge-changelog-owners

Use newtypes for operator names (#672)
  v3/crates/execute/src/ir/filter.rs
  v3/crates/execute/src/ir/permissions.rs
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/types.rs
  v3/crates/schema/src/model_filter.rs
  v3/crates/schema/src/types.rs
Owners: @hasura/hge-changelog-owners
