Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk

update title tag
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/config.js
Owners: @shahidhk

update auth0 guide
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Owners: @rikinsk

update authentication content
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/1-create-auth0-app.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/5-test-with-headers.md
Owners: @shahidhk

fix content
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/config.js
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/5-test-with-headers.md
Owners: @shahidhk

finish unique constraint functionality
  console/src/components/Services/Data/Common/ReusableComponents/utils.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Owners: @rikinsk

comment code
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Owners: @rikinsk

comment code
  console/src/components/Services/Data/Add/UniqueKeyWrapper.js
  console/src/components/Services/Data/Common/ReusableComponents/UniqueKeySelector.js
Owners: @rikinsk

update auth0 guide (#2145)
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Owners: @rikinsk

wip: server assets from local server
  console/src/Globals.js
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Services/CustomResolver/Landing/CustomResolver.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  server/src-lib/Hasura/Server/Init.hs
  server/src-rsr/console.html
  server/stack.yaml
Owners: @rikinsk, @0x777

update videos, content fix
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/introduction.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/5-test-with-headers.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/1-remote-schemas.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/2-add-remote-schema.md
Owners: @shahidhk

cleanup unique key state on modifytable unmount
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Owners: @rikinsk

show 'no unique keys' in modify section if there arent any unique constraints
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Owners: @rikinsk

Updated the Boilerplate link to point to community/boilerplates/remote-schemas/ and removed the line about "Interfaces are not supported"
  remote-schemas.md
Owners: @shahidhk

update remote schema doc (#2149)
  remote-schemas.md
Owners: @shahidhk

update videos
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/Dockerfile
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/3-write-event-webhook.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic/4-create-event-trigger.md
Owners: @shahidhk

update dockerfile
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/Dockerfile
Owners: @shahidhk

update dockerfile
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/Dockerfile
Owners: @shahidhk

integrate allow-list apis
  console/src/components/Services/Metadata/Actions.js
  console/src/components/Services/Metadata/AllowedQueries/AddAllowedQuery.js
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueries.js
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueriesList.js
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueriesNotes.js
  console/src/components/Services/Metadata/Container.js
  console/src/components/Services/Metadata/State.js
  console/src/helpers/semver.js
Owners: @rikinsk

update add allowed query ui
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.js
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.scss
  console/src/components/Services/Metadata/Actions.js
  console/src/components/Services/Metadata/AllowedQueries/AddAllowedQuery.js
Owners: @rikinsk

add allowlist metadata api
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/hdb_metadata.yaml
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_14_to_15.sql
  server/src-rsr/migrate_metadata_from_14_to_15.yaml
  server/tests-py/queries/graphql_query/allowlist/setup.yaml
  server/tests-py/queries/v1/metadata/clear_metadata.yaml
  server/tests-py/queries/v1/metadata/export_metadata.yaml
  server/tests-py/queries/v1/metadata/setup.yaml
  server/tests-py/queries/v1/metadata/teardown.yaml
Owners: @0x777

bootstrap custom login ui
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Login.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Signup.js
Owners: @shahidhk

update metadata api reference docs with allowlist apis
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/query-collections.rst
Owners: @rikinsk

fix table comment edit not to fetch all schema information
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
Owners: @rikinsk

fix dn table perm url
  console/src/components/Services/Data/Function/Permission/Permission.js
Owners: @rikinsk

add auth server and webhook v1
  community/learn/graphql-tutorials/backend-services/auth-server/.dockerignore
  community/learn/graphql-tutorials/backend-services/auth-server/.gitignore
  community/learn/graphql-tutorials/backend-services/auth-server/README.md
  community/learn/graphql-tutorials/backend-services/auth-server/app.js
  community/learn/graphql-tutorials/backend-services/auth-server/config/passport.js
  community/learn/graphql-tutorials/backend-services/auth-server/controllers/user.js
  community/learn/graphql-tutorials/backend-services/auth-server/db/migrations/20180917160913_users.js
  community/learn/graphql-tutorials/backend-services/auth-server/db/schema.js
  community/learn/graphql-tutorials/backend-services/auth-server/package-lock.json
  community/learn/graphql-tutorials/backend-services/auth-webhook/.dockerignore
  community/learn/graphql-tutorials/backend-services/auth-webhook/.gitignore
  community/learn/graphql-tutorials/backend-services/auth-webhook/Dockerfile
  community/learn/graphql-tutorials/backend-services/auth-webhook/README.md
  community/learn/graphql-tutorials/backend-services/auth-webhook/server.js
Owners: @shahidhk

fix tests
  .circleci/test-server.sh
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/stack.yaml
  server/tests-py/test_remote_subscriptions.py
  server/tests-py/validate.py
Owners: @shahidhk, @0x777

update auth manifests
  community/learn/graphql-tutorials/hasura-secret.yaml.sample
  community/learn/graphql-tutorials/manifests/auth-jwt-server.yaml
  community/learn/graphql-tutorials/manifests/auth-webhook.yaml
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
Owners: @shahidhk

add new password column
  community/learn/graphql-tutorials/backend-services/hasura/migrations/1557464861534_alter_table_public_users_add_column_password.down.yaml
  community/learn/graphql-tutorials/backend-services/hasura/migrations/1557464861534_alter_table_public_users_add_column_password.up.yaml
Owners: @shahidhk

update vue videos
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3.2-bulk-delete-mutation.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/queries/3-handle-errors.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/what-next.md
Owners: @shahidhk

update content
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/introduction.md
Owners: @shahidhk

fix cli test
  cli/commands/migrate_test.go
Owners: @shahidhk

change default for enableManual to False
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/tests-py/queries/event_triggers/create-delete/create_trigger_operation_specs_not_provided_err.yaml
Owners: @0x777

fix function table permission url (#2152)
  console/src/components/Services/Data/Function/Permission/Permission.js
Owners: @rikinsk

update semver check
  console/src/helpers/semver.js
Owners: @rikinsk

serialize client messages to remote servers
  .circleci/test-server.sh
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Client.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Connection.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
Owners: @shahidhk, @0x777

add tests, cleanup code with more utils
  console/cypress/integration/data/create-table/spec.js
  console/cypress/integration/data/create-table/test.js
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/modify/test.js
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/Add/UniqueKeyWrapper.js
  console/src/components/Services/Data/Common/ReusableComponents/UniqueKeySelector.js
  console/src/components/Services/Data/Common/ReusableComponents/utils.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Owners: @rikinsk

fix manualTrigger filter logic
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Owners: @rikinsk

add github links
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
Owners: @shahidhk

change default slection of via console
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/utils.js
Owners: @rikinsk

revert to v1alpha1
  community/learn/graphql-tutorials/backend-services/graphiql/README.md
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/state.js
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
  community/learn/graphql-tutorials/tutorials/react-apollo/app-boilerplate/CONTRIBUTING.md
  community/learn/graphql-tutorials/tutorials/react-apollo/app-final/CONTRIBUTING.md
Owners: @shahidhk
