Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server/tests-py: Run test_websocket_init_cookie.py in parallel.
  .circleci/server-test-names.txt
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/test_websocket_init_cookie.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

chore(server): logical models, remove unused arg
  server/src-lib/Hasura/CustomReturnType/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
Owners: @hasura/hge-server

console: Add a confirm dialog when removing a data source
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/ListConnectedDatabases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/AccelerateProject.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/Details.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/LatencyBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/index.ts
Owners: @hasura/hge-changelog-owners

Allow CE users to attempt GDC requests
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/DataConnector/Agent/Client.hs
Owners: @hasura/hge-server

Data Connectors: Fix track_table not working if the table was created after schema cache was built
  server/lib/api-tests/src/Test/API/Metadata/TablesSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/BigQuery/Schema/Introspection.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/ConfigTransform.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/Introspection.hs
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Schema/Introspection.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

docs: add MariaDB
  docs/docs/databases/athena/getting-started/cloud.mdx
  docs/docs/databases/mariadb/_category_.json
  docs/docs/databases/mariadb/cloud.mdx
  docs/docs/databases/mariadb/docker.mdx
  docs/docs/databases/mariadb/index.mdx
  docs/docs/databases/mysql/index.mdx
  docs/docs/databases/oracle/cloud.mdx
  docs/docs/databases/oracle/docker.mdx
  docs/docs/databases/oracle/index.mdx
  docs/docs/databases/overview.mdx
  docs/docs/databases/snowflake/getting-started/cloud.mdx
  docs/static/img/databases/logos/mariadb.png
  install-manifests/enterprise/mariadb/docker-compose.yaml
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

Allow CE users to attempt GDC requests
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/DataConnector/Agent/Client.hs
Owners: @hasura/hge-server

hotfix: Add a confirm dialog when removing a data source
  frontend/libs/console/legacy-ce/.storybook/preview.tsx
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/ListConnectedDatabases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/AccelerateProject.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/Details.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/LatencyBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/Alert.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/Alert.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/AlertProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/component-types.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/types.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Button/Button.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Button/Button.tsx
  frontend/package.json
  frontend/tailwind.config.js
Owners: @hasura/hge-changelog-owners

Create a schema dependency from logical models to their types
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Owners: @hasura/hge-server

console: optimise the network calls made by the new tracking UI
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDB/hooks/useAvailableDrivers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/ManageTrackedTables.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/ManageTrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/TableDisplayName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/hooks/useCheckRows.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/SearchBar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/selectors.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/__test__/useTables.spec.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/UntrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/useTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/useTrackTable.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useIntrospectedTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCheckRows.ts
  frontend/libs/console/legacy-ce/src/lib/features/MetadataAPI/hooks/useMetadataMigration.ts
  frontend/libs/console/legacy-ce/src/lib/features/MetadataAPI/hooks/useMetadataSource.ts
Owners: @hasura/hge-changelog-owners

make the separate validate_input as preferred approach
  rfcs/input-validations.md
Owners: @hasura/hge-changelog-owners

Docs: EE to Enterprise Edition replace
  docs/docs/api-reference/metadata-api/event-triggers.mdx
  docs/docs/caching/overview.mdx
  docs/docs/databases/athena/getting-started/index.mdx
  docs/docs/databases/athena/index.mdx
  docs/docs/databases/database-config/dynamic-db-connection.mdx
  docs/docs/databases/database-config/read-replicas.mdx
  docs/docs/databases/mariadb/docker.mdx
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/oracle/docker.mdx
  docs/docs/databases/snowflake/getting-started/index.mdx
  docs/docs/databases/snowflake/index.mdx
  docs/docs/deployment/best-practices/metadata.mdx
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/enterprise/caching.mdx
  docs/docs/enterprise/dependencies.mdx
  docs/docs/enterprise/getting-started/index.mdx
  docs/docs/enterprise/getting-started/quickstart-aws-ecs.mdx
  docs/docs/enterprise/getting-started/quickstart-docker.mdx
  docs/docs/enterprise/getting-started/quickstart-google-cloud-run.mdx
  docs/docs/enterprise/getting-started/quickstart-kubernetes.mdx
  docs/docs/enterprise/getting-started/start-using-hasura-ee.mdx
  docs/docs/enterprise/metrics.mdx
  docs/docs/enterprise/overview.mdx
  docs/docs/enterprise/release-notes.mdx
  docs/docs/enterprise/try-hasura-enterprise-edition.mdx
  docs/docs/enterprise/upgrade-ce-to-ee.mdx
  docs/docs/faq.mdx
  docs/docs/glossary.mdx
  docs/docs/hasura-cli/config-reference.mdx
  docs/docs/hasura-cloud/sso.mdx
  docs/docs/index.mdx
  docs/docs/policies/sla.mdx
  docs/docs/security/api-limits.mdx
  docs/docs/security/disable-graphql-introspection.mdx
  docs/docs/security/multiple-admin-secrets.mdx
  docs/docs/security/multiple-jwt-secrets.mdx
  docs/docs/security/overview.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.23.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

docs: add restified directory
  docs/docs/restified/_category_.json
  docs/docs/restified/overview.mdx
  docs/docs/restified/quickstart.mdx
  docs/docs/restified/restified-config.mdx
  docs/static/icons/features/restified.svg
  docs/static/img/restified/restified-endpoints_click-create-2.21-cloud.1.png
  docs/static/img/restified/restified-endpoints_click-rest-2.21-cloud.1.png
Owners: @hasura/hge-docs-owners

ci: tag release v2.23.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Remove app state reference in pro context
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/AppStateRef.hs
Owners: @hasura/hge-server

Docs: Oracle into Alpha with mutations
  docs/docs/databases/oracle/cloud.mdx
  docs/docs/databases/oracle/docker.mdx
  docs/docs/databases/oracle/index.mdx
  docs/src/css/badges.scss
Owners: @hasura/hge-docs-owners

`bulk_keep_going`
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/Metadata/BulkKeepGoingSpec.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
Owners: @hasura/hge-server

Docs: Data federation rework
  docs/docs/actions/action-relationships.mdx
  docs/docs/data-federation/_category_.json
  docs/docs/data-federation/hasura-graphql-federation-architectures.mdx
  docs/docs/data-federation/overview.mdx
  docs/static/img/actions/actions-to-actions-joins.png
  docs/static/img/data-federation/federation-layer.png
  docs/static/img/data-federation/multi-protocol-federation-capabilities.png
  docs/static/img/data-federation/multi-protocol-federation-with-hasura.png
  docs/static/img/data-federation/rest-api-federation.png
  docs/static/img/data-federation/third-party-federation-layer.png
Owners: @hasura/hge-docs-owners

Add a Query Cache Max TTL, Bucket Size, and Bucket Rate Arg/Env options in HasuraPro
  server/src-lib/Hasura/Server/Init/Env.hs
Owners: @hasura/hge-server

Enable automatic layout with collision detection in browse rows dropdown DSF-236
  frontend/libs/console/legacy-ce/src/lib/new-components/DropdownMenu/DropdownMenu.tsx
Owners: @hasura/hge-changelog-owners

server: remove cache specific headers when response is not cached
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/Server/Middleware.hs
Owners: @hasura/hge-server

Docs: Hasura EE console SSO
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/enterprise/sso/_category_.json
  docs/docs/enterprise/sso/azure-ad.mdx
  docs/docs/enterprise/sso/config.mdx
  docs/docs/enterprise/sso/index.mdx
  docs/static/img/enterprise/sso-animated-demo.gif
  docs/static/img/enterprise/sso-azure-assign-role.jpg
  docs/static/img/enterprise/sso-azure-create-admin-role.jpg
  docs/static/img/enterprise/sso-azure-endpoints.jpg
  docs/static/img/enterprise/sso-azure-register-app.jpg
  docs/static/img/enterprise/sso-azure-saml-ca.jpg
Owners: @hasura/hge-docs-owners

fix: Too many API calls fired from the suggested relationships component
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedRelationshipsContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationshipsContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/UntrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/hooks/useTrackedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useAllSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useListAllDatabaseRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/utils/tableRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/hooks/usePermissionTables.tsx
Owners: @hasura/hge-changelog-owners

build: update manifests with latest version
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/post-release.sh
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

chore(server): metadata changes for array relationships for Native Queries
  metadata.openapi.json
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/Metadata/CustomReturnTypeSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/NativeQueries/TypeCheckingSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/NativeQueries/ValidationSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Databases/BigQuery/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Databases/Postgres/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Databases/SQLServer/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/NativeQueries/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/NativeQueries/SubscriptionsSpec.hs
  server/lib/test-harness/src/Harness/Schema.hs
  server/lib/test-harness/src/Harness/Schema/CustomReturnType.hs
  server/lib/test-harness/src/Harness/Schema/Table.hs
  server/lib/test-harness/test-harness.cabal
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
  server/src-lib/Hasura/CustomReturnType/API.hs
  server/src-lib/Hasura/CustomReturnType/Cache.hs
  server/src-lib/Hasura/CustomReturnType/Common.hs
  server/src-lib/Hasura/CustomReturnType/IR.hs
  server/src-lib/Hasura/CustomReturnType/Metadata.hs
  server/src-lib/Hasura/CustomReturnType/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/Metadata/DTO/Placeholder.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Cache.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Local.hs
  server/src-test/Hasura/Backends/Postgres/NativeQueries/NativeQueriesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

chore(server): replace Metadata.hs-boot with 3 orphan instances
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Instances/API.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata/Instances.hs
  server/src-lib/Hasura/Server/API/Metadata/Types.hs
Owners: @hasura/hge-server

docs: add note for cloud upgrades
  docs/docs/hasura-cloud/projects/index.mdx
Owners: @hasura/hge-docs-owners

server/tests-py: Parallelize test_logging.py.
  .circleci/server-test-names.txt
  server/tests-py/conftest.py
  server/tests-py/fixtures/hge.py
  server/tests-py/pytest.ini
  server/tests-py/queries/logging/teardown.yaml
  server/tests-py/test_jwk.py
  server/tests-py/test_logging.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

chore(server): break down Hasura.RQL.IR.Select somewhat
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Select/AnnSelectG.hs
  server/src-lib/Hasura/RQL/IR/Select/Args.hs
  server/src-lib/Hasura/RQL/IR/Select/From.hs
  server/src-lib/Hasura/RQL/IR/Select/OrderBy.hs
  server/src-lib/Hasura/RQL/IR/Select/RelationSelect.hs
  server/src-lib/Hasura/RQL/IR/Select/TablePerm.hs
Owners: @hasura/hge-server

docs: add a note on supported from version for ee console sso
  docs/docs/enterprise/sso/index.mdx
Owners: @hasura/hge-docs-owners

Satisfy `get_table_info` from cached DBObjectsIntrospection for Data Connectors
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Table.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
Owners: @hasura/hge-server

console: fix fallback dataype operators and filterable input
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Comparator.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/getDataTypeOperators.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/sourceDataTypes.ts
Owners: @hasura/hge-changelog-owners

console: Fix use case experiment screen
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/images/data-api.svg
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/images/data-sources.svg
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/images/gateway.svg
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/images/gql-backend.svg
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/images/hasura-illustration.svg
Owners: @hasura/hge-changelog-owners

frontend: remove vendor source maps (2.23 hotfix)
  frontend/libs/nx/internal-plugin/src/executors/validate-javascript-bundle-output/executor.ts
  frontend/tools/webpack/withConsoleTweaks.js
Owners: @hasura/hge-changelog-owners

frontend: remove vendor source maps (2.22 hotfix)
  frontend/tools/webpack/withConsoleTweaks.js
Owners: @hasura/hge-changelog-owners

console: add comment about cloud console local storage behaviour
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
Owners: @hasura/hge-changelog-owners

Docs: Update diagrams in GraphQL federation
  docs/docs/actions/action-relationships.mdx
  docs/docs/data-federation/hasura-graphql-federation-architectures.mdx
  docs/static/img/actions/actions-to-actions-joins.png
  docs/static/img/actions/data-federation_action-to-action-joins.png
  docs/static/img/data-federation/data-federation_federation-layer.png
  docs/static/img/data-federation/data-federation_multi-protocol-federation-capabilities.png
  docs/static/img/data-federation/data-federation_multi-protocol-federation.png
  docs/static/img/data-federation/data-federation_rest-api-federation.png
  docs/static/img/data-federation/data-federation_third-party-federation-layer.png
  docs/static/img/data-federation/federation-layer.png
  docs/static/img/data-federation/multi-protocol-federation-capabilities.png
  docs/static/img/data-federation/multi-protocol-federation-with-hasura.png
  docs/static/img/data-federation/rest-api-federation.png
  docs/static/img/data-federation/third-party-federation-layer.png
Owners: @hasura/hge-docs-owners

login: Fix console crash when retrieving null value from local storage
  frontend/libs/console/legacy-ee/src/lib/components/Login/localStorage.js
Owners: @hasura/hge-changelog-owners

fix: data type handling for mysql
  frontend/jest.preset.js
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/GraphQLCustomization/utils/generateRequest.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SetupConnector/hooks/useSuperConnectorAgents.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/prototypes/ConnectDatabaseSidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowFormContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/DateTimeInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/TimeInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
