Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

ci: release v2.15.0-ce
  releases/v2.15.0-ce
Owners: @hasura/hge-changelog-owners

console(v2.15): fix export to CSV and JSON when no filter conditions are present
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
Owners: @hasura/hge-console-owners

console: Fix the broken GraphiQL REST button
  console/cypress/e2e/tracing/api-graphiql/heap.api-graphiql.integration.test.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Owners: @hasura/hge-console-owners

Mgoodwin/hotfix athena ddl for 2.15
  console/src/components/Services/Data/DataSources/DataSourceFormWrapper.tsx
  console/src/features/ConnectDB/components/Driver.tsx
Owners: @hasura/hge-console-owners

console: ui improvement for total max connection
  console/src/components/Services/Data/DataSources/ConnectionSettings/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettings/parts/CumulativeMaxConnections.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

console: show total max connection for cloud only and some UX improvements
  console/src/components/Services/Data/DataSources/ConnectionSettings/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

cli: fix `response_transform` field missing from actions metadata object
  cli/internal/metadataobject/actions/actions.go
  cli/internal/metadataobject/actions/actions_test.go
  cli/internal/metadataobject/actions/testdata/build/t1/metadata/actions.yaml
  cli/internal/metadataobject/actions/testdata/build/t1/want.json
  cli/internal/metadataobject/actions/testdata/export/t1/metadata.json
  cli/internal/metadataobject/actions/testdata/export/t1/want.actions.yaml
  cli/internal/metadataobject/actions/types/types.go
Owners: @hasura/hge-cli-owners

Merge pull request #6845 from hasura/manas/NDAT-320-2-15-backport
  console/src/components/Services/Data/TableBrowseRows/TableBrowseRowsContainer.tsx
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.tsx
Owners: @hasura/hge-console-owners

Hotfix v2.15 browser rows filters and pagination
  console/src/components/Services/Data/TableBrowseRows/TableBrowseRowsContainer.tsx
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/features/BrowseRows/components/RunQuery/Filter/FilterRows.tsx
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQuery.tsx
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.tsx
  console/src/features/BrowseRows/components/RunQuery/Sort/SortRows.tsx
  console/src/features/BrowseRows/components/RunQuery/types.ts
  console/src/new-components/Form/Select.tsx
Owners: @hasura/hge-console-owners

ci: tag release v2.15.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.1
  releases/v2.15.1
Owners: @hasura/hge-changelog-owners

ci: release v2.15.1-ce
  releases/v2.15.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.15.1-cloud.1
  releases/v2.15.1-cloud.1
Owners: @hasura/hge-changelog-owners

fix(console): fix condition to show the custom table tracking modal
  console/src/components/Services/Common/Notification.tsx
Owners: @hasura/hge-console-owners

ci: tag release v2.15.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Upgrade the beta version of CockroachDB used in testing.
  docker-compose.yml
Owners: @hasura/hge-changelog-owners

hotfix (console): fix button margin handling
  console/src/new-components/Button/Button.tsx
Owners: @hasura/hge-console-owners

hotfix (console): `view database` launches wrong route
  console/src/components/Services/Data/Schema/components/GDCDatabaseListItem.tsx
Owners: @hasura/hge-console-owners

console: globally add missing <!DOCTYPE html>
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  server/src-rsr/console.html
Owners: @hasura/hge-cli-owners, @hasura/hge-server

ci: v2.15.0 catalog version update
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.0
  releases/v2.15.0
Owners: @hasura/hge-changelog-owners

ci: release v2.15.0-ce
  releases/v2.15.0-ce
Owners: @hasura/hge-changelog-owners

console(v2.15): fix export to CSV and JSON when no filter conditions are present
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
Owners: @hasura/hge-console-owners

console: Fix the broken GraphiQL REST button
  console/cypress/e2e/tracing/api-graphiql/heap.api-graphiql.integration.test.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Owners: @hasura/hge-console-owners

Mgoodwin/hotfix athena ddl for 2.15
  console/src/components/Services/Data/DataSources/DataSourceFormWrapper.tsx
  console/src/features/ConnectDB/components/Driver.tsx
Owners: @hasura/hge-console-owners

console: ui improvement for total max connection
  console/src/components/Services/Data/DataSources/ConnectionSettings/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettings/parts/CumulativeMaxConnections.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

console: show total max connection for cloud only and some UX improvements
  console/src/components/Services/Data/DataSources/ConnectionSettings/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

cli: fix `response_transform` field missing from actions metadata object
  cli/internal/metadataobject/actions/actions.go
  cli/internal/metadataobject/actions/actions_test.go
  cli/internal/metadataobject/actions/testdata/build/t1/metadata/actions.yaml
  cli/internal/metadataobject/actions/testdata/build/t1/want.json
  cli/internal/metadataobject/actions/testdata/export/t1/metadata.json
  cli/internal/metadataobject/actions/testdata/export/t1/want.actions.yaml
  cli/internal/metadataobject/actions/types/types.go
Owners: @hasura/hge-cli-owners

Merge pull request #6845 from hasura/manas/NDAT-320-2-15-backport
  console/src/components/Services/Data/TableBrowseRows/TableBrowseRowsContainer.tsx
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.tsx
Owners: @hasura/hge-console-owners

Hotfix v2.15 browser rows filters and pagination
  console/src/components/Services/Data/TableBrowseRows/TableBrowseRowsContainer.tsx
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/features/BrowseRows/components/RunQuery/Filter/FilterRows.tsx
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQuery.tsx
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.tsx
  console/src/features/BrowseRows/components/RunQuery/Sort/SortRows.tsx
  console/src/features/BrowseRows/components/RunQuery/types.ts
  console/src/new-components/Form/Select.tsx
Owners: @hasura/hge-console-owners

ci: tag release v2.15.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.1
  releases/v2.15.1
Owners: @hasura/hge-changelog-owners

ci: release v2.15.1-ce
  releases/v2.15.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.15.1-cloud.1
  releases/v2.15.1-cloud.1
Owners: @hasura/hge-changelog-owners

fix(console): fix condition to show the custom table tracking modal
  console/src/components/Services/Common/Notification.tsx
Owners: @hasura/hge-console-owners

console: fix the condition to show the custom table tracking modal
  console/src/components/Services/Common/Notification.tsx
Owners: @hasura/hge-console-owners

console: fallback for editing expanded text fields
  console/src/components/Services/Data/TableCommon/DataTableRowItem.types.ts
  console/src/components/Services/Data/TableEditItem/TableEditItemContainer.tsx
  console/src/components/Services/Data/TableInsertItem/TableInsertItemContainer.tsx
Owners: @hasura/hge-console-owners

cli: port `migrate create` `migrate apply` to use `internal/errors`
  cli/commands/migrate_apply.go
  cli/commands/migrate_create.go
Owners: @hasura/hge-cli-owners

Release v2.15 fix custom table tracking and edit insert expanded
  console/src/components/Services/Common/Notification.tsx
  console/src/components/Services/Data/TableCommon/DataTableRowItem.types.ts
  console/src/components/Services/Data/TableEditItem/TableEditItemContainer.tsx
  console/src/components/Services/Data/TableInsertItem/TableInsertItemContainer.tsx
Owners: @hasura/hge-console-owners

Server/Test and document Azure Cosmos DB support
  docs/docs/databases/index.mdx
  docs/docs/databases/postgres/index.mdx
Owners: @hasura/hge-docs-owners
