Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

NDC response size limit (#439)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/engine/benches/execute.rs
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/execute.rs
  v3/crates/engine/src/execute/error.rs
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/src/execute/ndc.rs
  v3/crates/engine/src/execute/ndc/client.rs
  v3/crates/engine/src/execute/ndc/response.rs
  v3/crates/engine/src/execute/plan.rs
  v3/crates/engine/src/execute/remote_joins.rs
  v3/crates/engine/tests/common.rs
Owners: @hasura/hge-changelog-owners

Allow nulls when expecting object or array in response (#440)
  v3/crates/custom-connector/data/institutions.json
  v3/crates/engine/src/execute/process_response.rs
  v3/crates/engine/src/execute/remote_joins/collect.rs
  v3/crates/engine/tests/execute/models/select_many/nested_select/expected.json
  v3/crates/engine/tests/execute/models/select_many/nested_select/no_explicit_type_mapping/expected.json
  v3/crates/engine/tests/execute/remote_relationships/from_nested/expected.json
Owners: @hasura/hge-changelog-owners

fix bug with multiple fields in boolean expressions (#442)
  v3/crates/engine/src/execute/ir/filter.rs
  v3/crates/engine/src/execute/ir/model_selection.rs
  v3/crates/engine/src/execute/ir/query_root/apollo_federation.rs
  v3/crates/engine/src/execute/ir/query_root/node_field.rs
  v3/crates/engine/src/execute/ir/query_root/select_many.rs
  v3/crates/engine/src/execute/ir/query_root/select_one.rs
  v3/crates/engine/src/execute/ir/relationship.rs
  v3/crates/engine/src/execute/plan/model_selection.rs
  v3/crates/engine/tests/execute/models/select_many/where/multiple_fields/expected.json
  v3/crates/engine/tests/execute/models/select_many/where/multiple_fields/metadata.json
  v3/crates/engine/tests/execute/models/select_many/where/multiple_fields/request.gql
  v3/crates/engine/tests/execute/models/select_many/where/multiple_fields/session_variables.json
  v3/crates/engine/tests/execution.rs
  v3/crates/engine/tests/generate_ir/get_by_id/expected.json
  v3/crates/engine/tests/generate_ir/get_many/expected.json
  v3/crates/engine/tests/generate_ir/get_many_model_count/expected.json
  v3/crates/engine/tests/generate_ir/get_many_user_2/expected.json
  v3/crates/engine/tests/generate_ir/get_many_where/expected.json
Owners: @hasura/hge-changelog-owners

use clippy settings in Cargo workspace (#441)
  v3/Cargo.toml
  v3/crates/custom-connector/Cargo.toml
  v3/crates/custom-connector/src/collections/actors.rs
  v3/crates/custom-connector/src/functions/latest_actor_id.rs
  v3/crates/custom-connector/src/main.rs
  v3/crates/custom-connector/src/query.rs
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/hasura-authn-core/Cargo.toml
  v3/crates/hasura-authn-jwt/Cargo.toml
  v3/crates/hasura-authn-webhook/Cargo.toml
  v3/crates/hasura-authn-webhook/src/webhook.rs
  v3/crates/lang-graphql/Cargo.toml
  v3/crates/lang-graphql/src/lexer.rs
  v3/crates/open-dds/Cargo.toml
  v3/crates/open-dds/src/permissions.rs
  v3/crates/open-dds/src/types.rs
  v3/crates/opendds-derive/Cargo.toml
  v3/crates/opendds-derive/src/container.rs
  v3/crates/opendds-derive/src/struct_derive.rs
  v3/crates/recursion_limit_macro/Cargo.toml
  v3/crates/tracing-util/Cargo.toml
  v3/justfile
Owners: @hasura/hge-changelog-owners

split out RelationshipError (#445)
  v3/crates/engine/src/metadata/resolved/error.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/relationship.rs
Owners: @hasura/hge-changelog-owners

Docs: Update announcement bar Dev Day
  docs/docusaurus.config.js
  docs/src/theme/AnnouncementBar/index.js
  docs/src/theme/AnnouncementBar/styles.module.css
  docs/src/theme/Navbar/index.js
  docs/static/icons/x-close-dark.svg
  docs/static/icons/x-close.svg
Owners: @hasura/hge-docs-owners

Docs: Add admonition for db waitlist
  docs/docs/databases/overview.mdx
Owners: @hasura/hge-docs-owners

Default reason for field deprecation (#448)
  v3/crates/engine/src/schema.rs
  v3/crates/engine/tests/execute/deprecated/introspection_expected.json
Owners: @hasura/hge-changelog-owners

break out `graphql_config` resolving step (#450)
  v3/crates/engine/src/metadata/resolved.rs
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/stages/graphql_config/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/schema.rs
Owners: @hasura/hge-changelog-owners

break out BooleanExpressionError from Error (#449)
  v3/crates/engine/src/metadata/resolved/error.rs
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/types.rs
  v3/crates/engine/tests/validate_metadata.rs
Owners: @hasura/hge-changelog-owners

Remove beta badge from InputValidation feature in console
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.tsx
Owners: @hasura/hge-changelog-owners

docs: update-rewards-for-disclosures.
  docs/docs/policies/security-disclosure.mdx
  yarn.lock
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

Add a binary for generating the OpenAPI schema for the metadata type. (#453)
  v3/Cargo.lock
  v3/crates/metadata-schema-generator/Cargo.toml
  v3/crates/metadata-schema-generator/README.md
  v3/crates/metadata-schema-generator/src/main.rs
Owners: @hasura/hge-changelog-owners

remove a stray file (#455)
  v3/crates/open-dds/src/Notes.md
Owners: @hasura/hge-changelog-owners

docs: attempt to document roles / annotations (#358)
  v3/docs/roles-and-annotations.md
Owners: @hasura/hge-changelog-owners

Inject trace context headers into requests to the auth hook. (#458)
  v3/.dockerignore
  v3/crates/engine/bin/engine/main.rs
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.lock
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.toml
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Dockerfile
  v3/crates/hasura-authn-webhook/dev-auth-webhook/src/main.rs
  v3/crates/hasura-authn-webhook/src/webhook.rs
  v3/crates/tracing-util/src/lib.rs
  v3/crates/tracing-util/src/request.rs
  v3/crates/tracing-util/src/setup.rs
  v3/dev-auth-webhook.Dockerfile
  v3/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

break out `data_connectors` resolving step (#457)
  v3/crates/engine/src/metadata/resolved/command.rs
  v3/crates/engine/src/metadata/resolved/data_connector.rs
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/relationship.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connectors/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connectors/types.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/metadata/resolved/types.rs
Owners: @hasura/hge-changelog-owners

Add `/metadata` endpoint which serves the initial, raw metadata (#459)
  v3/crates/engine/bin/engine/main.rs
Owners: @hasura/hge-changelog-owners

remove `TypeRepresentation` (#456)
  v3/crates/engine/src/metadata/resolved/argument.rs
  v3/crates/engine/src/metadata/resolved/command.rs
  v3/crates/engine/src/metadata/resolved/error.rs
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/types.rs
  v3/crates/engine/src/schema/types/input_type.rs
  v3/crates/engine/src/schema/types/output_type.rs
  v3/crates/engine/src/schema/types/scalar_type.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners

Add `/metadata` and `/metadata-hash` endpoints (#461)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
Owners: @hasura/hge-changelog-owners

Put human readable span name in display.name and add context (#464)
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/execute.rs
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/src/execute/ir/mutation_root.rs
  v3/crates/engine/src/execute/ndc.rs
  v3/crates/engine/src/execute/ndc/client.rs
  v3/crates/engine/src/execute/plan.rs
  v3/crates/engine/src/execute/process_response.rs
  v3/crates/engine/src/execute/remote_joins.rs
  v3/crates/hasura-authn-jwt/src/auth.rs
  v3/crates/hasura-authn-jwt/src/jwt.rs
  v3/crates/hasura-authn-webhook/src/webhook.rs
  v3/crates/tracing-util/src/http.rs
  v3/crates/tracing-util/src/tracer.rs
Owners: @hasura/hge-changelog-owners

revert ndc-pg port to match metadata for local tests (#465)
  v3/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

support OpenTelemetry zipkin propagator (#466)
  v3/Cargo.lock
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.lock
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.toml
  v3/crates/hasura-authn-webhook/dev-auth-webhook/src/main.rs
  v3/crates/tracing-util/Cargo.toml
  v3/crates/tracing-util/src/setup.rs
  v3/dev-auth-webhook.Dockerfile
  v3/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

add rfc for remote relationships in predicates
  rfcs/v3/remote-relationships-in-predicates.md
Owners: @hasura/hge-changelog-owners

render the link properly
  rfcs/v3/remote-relationships-in-predicates.md
Owners: @hasura/hge-changelog-owners

server: support env template for otel status
  community/boilerplates/observability/enterprise/docker-compose.yml
  community/boilerplates/observability/enterprise/dotenv
  community/boilerplates/observability/enterprise/examples/hasura/metadata/opentelemetry.yaml
  docs/docs/observability/opentelemetry.mdx
  docs/static/img/enterprise/open-telemetry-exporter_config-ui_2-18.png
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/OpenTelemetry.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/OpenTelemetry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Form/Form.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Form/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/utils/openTelemetryToFormValues.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/utils/openTelemetryToFormValues.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/openTelemetry/types.ts
  metadata.openapi.json
  scripts/make/tests.mk
  server/lib/hasura-extras/src/Data/URL/Template.hs
  server/src-lib/Hasura/RQL/DDL/OpenTelemetry.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
  server/src-lib/Hasura/Server/API/Metadata/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

Deserialize the NDC response once, not twice. (#467)
  v3/crates/engine/src/execute/ndc/client.rs
  v3/crates/engine/src/execute/ndc/response.rs
Owners: @hasura/hge-changelog-owners

Enable `redundant_closure_for_method_calls` clippy rule and fix (#468)
  v3/Cargo.toml
  v3/crates/engine/src/metadata/resolved/stages/graphql_config/mod.rs
  v3/crates/engine/src/schema.rs
  v3/crates/lang-graphql/src/normalized_ast.rs
  v3/crates/lang-graphql/src/parser/executable.rs
  v3/crates/lang-graphql/src/parser/schema.rs
  v3/crates/lang-graphql/src/parser/selection_set.rs
  v3/crates/lang-graphql/src/parser/value.rs
  v3/crates/lang-graphql/src/schema.rs
  v3/crates/lang-graphql/src/validation/error.rs
Owners: @hasura/hge-changelog-owners

Expose error caused by negative limit and offset values in the API response (#471)
  v3/crates/engine/src/execute/error.rs
  v3/crates/engine/src/execute/ir/query_root/apollo_federation.rs
  v3/crates/engine/src/execute/ir/query_root/select_many.rs
  v3/crates/engine/src/execute/ir/relationship.rs
  v3/crates/engine/tests/execute/models/select_many/limit_offset/unexpected_value/expected.json
  v3/crates/engine/tests/execute/models/select_many/limit_offset/unexpected_value/metadata.json
  v3/crates/engine/tests/execute/models/select_many/limit_offset/unexpected_value/request.gql
  v3/crates/engine/tests/execute/models/select_many/limit_offset/unexpected_value/session_variables.json
  v3/crates/engine/tests/execution.rs
  v3/crates/lang-graphql/src/normalized_ast.rs
Owners: @hasura/hge-changelog-owners

add deserialize trait to `AuthConfig` (#474)
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/authentication.rs
  v3/crates/hasura-authn-jwt/src/auth.rs
  v3/crates/hasura-authn-webhook/src/webhook.rs
Owners: @hasura/hge-changelog-owners

Use the `json!` macro to build JSON in JWT tests. (#473)
  v3/Cargo.lock
  v3/crates/hasura-authn-jwt/Cargo.toml
  v3/crates/hasura-authn-jwt/src/auth.rs
  v3/crates/hasura-authn-jwt/src/jwt.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners

Use `anyhow` in tests instead of unwrapping everywhere. (#475)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/hasura-authn-jwt/Cargo.toml
  v3/crates/hasura-authn-jwt/src/auth.rs
  v3/crates/hasura-authn-jwt/src/jwt.rs
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.toml
  v3/crates/open-dds/src/session_variables.rs
Owners: @hasura/hge-changelog-owners

Separate `data_connector_type_mappings` resolve stage (#469)
  v3/crates/engine/src/metadata/resolved/command.rs
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connector_type_mappings/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connector_type_mappings/types.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/metadata/resolved/types.rs
Owners: @hasura/hge-changelog-owners

Separate `scalar_types` into discreet metadata resolve stage (#470)
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/scalar_types/mod.rs
Owners: @hasura/hge-changelog-owners

fix permission builder dropdowns with single value
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
Owners: @hasura/hge-changelog-owners

fix permission builder dropdowns with single value (cherry-pick 2.36)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
Owners: @hasura/hge-changelog-owners

Separate `data_connector_scalar_types` into discreet metadata resolve stage (#472)
  v3/crates/engine/src/metadata/resolved/command.rs
  v3/crates/engine/src/metadata/resolved/data_connector.rs
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/relationship.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connector_scalar_types/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connector_scalar_types/types.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connectors/mod.rs
  v3/crates/engine/src/metadata/resolved/stages/data_connectors/types.rs
  v3/crates/engine/src/metadata/resolved/stages/mod.rs
  v3/crates/engine/src/metadata/resolved/types.rs
Owners: @hasura/hge-changelog-owners

Set trace headers when making HTTP requests during JWT auth. (#477)
  v3/crates/hasura-authn-jwt/src/jwt.rs
Owners: @hasura/hge-changelog-owners

Run benchmarks in Github Actions (#476)
  v3/benchmark.sh
  v3/crates/engine/benches/execute.rs
Owners: @hasura/hge-changelog-owners

Bundle custom connector data with the binary. (#480)
  v3/Cargo.lock
  v3/crates/custom-connector/Cargo.toml
  v3/crates/custom-connector/src/main.rs
  v3/crates/custom-connector/src/state.rs
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
