Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server: log query in http-log/ws-log only if query-log is enabled
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Logging.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

bigquery: 'global_select_limit' is now optional and defaults to 1000
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: misc remote schema permissions printing and parsing fixes
  server/cabal.project
Owners: @hasura/hge-server

MySQL: Initial connection and corresponding types
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/MySQL/Types.hs
Owners: @hasura/hge-server

server/citus: run tests in CI
  .circleci/test-server.sh
  scripts/data-sources-util.sh
  scripts/dev.sh
Owners: @hasura/hge-changelog-owners

server: fix MySQL dependencies in Pro Dockerfile
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

pro-console/security features: add support for api limits
  console/.eslintrc
  console/exports/main.js
  console/src/components/Common/Layout/CommonTabLayout/CommonTabLayout.tsx
  console/src/components/Common/Table/Table.scss
  console/src/components/Common/Table/Table.tsx
  console/src/components/Common/Table/hooks.tsx
  console/src/components/Common/Table/index.tsx
  console/src/components/Services/ApiExplorer/Security/ApiLimits.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsForm.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsFormWrapper.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsTable.tsx
  console/src/components/Services/ApiExplorer/Security/Security.scss
  console/src/components/Services/ApiExplorer/Security/SecurityTabs.tsx
  console/src/components/Services/ApiExplorer/Security/__tests__/__snapshots__/utils.test.ts.snap
  console/src/components/Services/ApiExplorer/Security/__tests__/utils.test.ts
  console/src/components/Services/ApiExplorer/Security/actions.ts
  console/src/components/Services/ApiExplorer/Security/index.tsx
  console/src/components/Services/ApiExplorer/Security/state.ts
  console/src/components/Services/ApiExplorer/Security/utils.tsx
  console/src/components/Services/ApiExplorer/TopNav.tsx
  console/src/metadata/__tests__/__snapshots__/utils.test.ts.snap
  console/src/metadata/__tests__/fixtures/input.ts
  console/src/metadata/__tests__/utils.test.ts
  console/src/metadata/actions.ts
  console/src/metadata/selector.ts
  console/src/metadata/types.ts
  console/src/metadata/utils.ts
Owners: @hasura/hge-console-owners

server/eventing: clean-up around logging configuration
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/Common.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
Owners: @hasura/hge-server

[gardening] remove all traverse functions from RQL.IR
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
Owners: @hasura/hge-server

cli: fix inconsistent metadata object list rendering
  CHANGELOG.md
  cli/CONTRIBUTING.md
  cli/commands/help.go
  cli/commands/metadata_apply.go
  cli/commands/metadata_diff.go
  cli/commands/metadata_export.go
  cli/commands/metadata_inconsistency_list.go
  cli/commands/metadata_inconsistency_list_test.go
  cli/commands/migrate_status.go
  cli/commands/plugins_list.go
  cli/commands/version.go
  cli/go.mod
  cli/go.sum
  cli/internal/metadataobject/handler.go
  cli/internal/metadataobject/handler_test.go
  cli/util/tablewriter.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

tag release v2.0.4
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: remove thin banner strip
  docs/_theme/djangodocs/layout.html
Owners: @hasura/hge-docs-owners

Committed choice in ReplaceMetadata parsing based on Version
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add/remove database persist in metadata
  CHANGELOG.md
  console/cypress/integration/data/manage-database/spec.ts
  console/src/components/Services/Data/DataActions.js
  console/src/metadata/actions.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server/mysql: integrate MySQL tests into dev.sh workflow
  scripts/containers/mysql.sh
  scripts/data-sources-util.sh
  scripts/dev.sh
  scripts/parse-pytest-backend
  server/src-lib/Hasura/Backends/MySQL/Types.hs
  server/tests-py/queries/graphql_query/mysql/replace_metadata.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: show error message on inconsistent objects table
  CHANGELOG.md
  console/cypress/integration/settings/metadata/spec.ts
  console/cypress/integration/settings/metadata/test.ts
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

bigquery: pass the location when fetching a job's status
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Meta.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add template gallery
  CHANGELOG.md
  console/src/components/Services/Data/DataReducer.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/Schema/SchemaSharing/SchemaGallery.tsx
  console/src/components/Services/Data/Schema/SchemaSharing/SchemaGalleryTable.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/Actions.ts
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGallery.scss
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGallery.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryModal.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryTable.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/Actions.test.ts
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/TemplateGallery.test.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/TemplateGalleryModal.test.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/TemplateGalleryTable.test.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/__snapshots__/Actions.test.ts.snap
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/stubs/schemaSharingNetworkStubs.ts
  console/src/components/Services/Data/Schema/TemplateGallery/templateGalleryConfig.ts
  console/src/components/Services/Data/Schema/TemplateGallery/types.ts
  console/src/components/Services/Data/SourceView.tsx
  console/src/components/Services/Data/TabbedSchema.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: add IR support for DB-to-DB joins
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Postgres.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
Owners: @hasura/hge-server

server: remove remnants of query plan caching (fix #1795)
  CHANGELOG.md
  docs/graphql/core/databases/ms-sql-server/queries/performance.rst
  docs/graphql/core/databases/ms-sql-server/queries/variables-aliases-fragments-directives.rst
  docs/graphql/core/databases/postgres/queries/performance.rst
  docs/graphql/core/databases/postgres/queries/variables-aliases-fragments-directives.rst
  docs/graphql/core/guides/faq/index.rst
  server/graphql-engine.cabal
  server/src-bench-cache/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Cache/Bounded.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
  server/src-lib/Hasura/GraphQL/Parser/Class/Parse.hs
  server/src-lib/Hasura/GraphQL/Parser/Column.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/TypeChecking.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Telemetry/Counters.hs
  server/src-test/Hasura/CacheBoundedSpec.hs
  server/src-test/Hasura/GraphQL/Parser/TestUtils.hs
  server/src-test/Hasura/Server/TelemetrySpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server/postgres: support computed fields in order by
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/tests-py/queries/graphql_query/order_by/Track_order_by_size.yaml
  server/tests-py/queries/graphql_query/order_by/author_order_by_get_articles_aggregate.yaml
  server/tests-py/queries/graphql_query/order_by/setup.yaml
  server/tests-py/queries/graphql_query/order_by/teardown.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: push cli-ext binary to cdn on tag release
  .circleci/deploy.sh
Owners: @hasura/hge-changelog-owners

Enforce that backends use the properly resolved environment variables.
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Test customization with update_remote_schema
  docs/graphql/core/api-reference/metadata-api/remote-schemas.rst
  server/tests-py/queries/remote_schemas/basic_query_customized.yaml
  server/tests-py/test_schema_stitching.py
Owners: @hasura/hge-docs-owners, @hasura/hge-server

update docker install manifest for simpler PG getting started
  docs/graphql/core/getting-started/docker-simple.rst
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

mysql: runSql implementation and python tests leveraging it to enhance the metadata test
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/SQL.hs
  server/src-lib/Hasura/Backends/MySQL/Types.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/tests-py/queries/graphql_query/mysql/replace_metadata.yaml
  server/tests-py/queries/graphql_query/mysql/schema_setup_mysql.yaml
  server/tests-py/queries/graphql_query/mysql/schema_teardown_mysql.yaml
  server/tests-py/queries/graphql_query/mysql/setup_mysql.yaml
  server/tests-py/queries/graphql_query/mysql/teardown_mysql.yaml
Owners: @hasura/hge-server

docs: add cloud references
  docs/graphql/cloud/getting-started/index.rst
  docs/graphql/core/auth/authorization/index.rst
  docs/graphql/core/auth/index.rst
  docs/graphql/core/databases/connect-db.rst
  docs/graphql/core/deployment/allow-list.rst
  docs/graphql/core/deployment/deployment-guides/docker.rst
  docs/graphql/core/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/core/deployment/logging.rst
  docs/graphql/core/deployment/production-checklist.rst
  docs/graphql/core/deployment/updating-graphql-engine.rst
  docs/graphql/core/getting-started/index.rst
  docs/graphql/core/guides/monitoring/index.rst
  docs/graphql/core/remote-schemas/index.rst
  docs/graphql/core/troubleshooting/index.rst
Owners: @hasura/hge-docs-owners

console: make specifying unique params for rate limits optional
  console/src/components/Services/ApiExplorer/Security/LimitsForm.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsFormWrapper.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsTable.tsx
  console/src/components/Services/ApiExplorer/Security/Security.scss
  console/src/components/Services/ApiExplorer/Security/actions.ts
  console/src/components/Services/ApiExplorer/Security/state.ts
  console/src/components/Services/ApiExplorer/Security/utils.tsx
  console/src/metadata/types.ts
  console/src/metadata/utils.ts
Owners: @hasura/hge-console-owners

server: build graphql schema without arrows
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
Owners: @hasura/hge-server

docs: Remove Intercom
  docs/_static/scripts/hdocs.js
  docs/_theme/djangodocs/layout.html
Owners: @hasura/hge-docs-owners

console: pro console build fails
  console/package-lock.json
  console/package.json
Owners: @hasura/hge-console-owners

console: use escape string constants for text fields
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

server: SQL query tags for GQL operations (closes #400)
  docs/graphql/cloud/index.rst
  docs/graphql/cloud/query-tags.rst
  rfcs/query-tags.md
  server/graphql-engine.cabal
  server/src-lib/Data/SqlCommenter.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Common.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/QueryTags.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/QueryTags.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Server/Rest.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners, @hasura/hge-server

server: fix erroneous Eq instance on Metadata Object
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/tests-py/queries/endpoints/endpoint_conflicting.yaml
  server/tests-py/queries/endpoints/endpoint_duplicate_param.yaml
  server/tests-py/queries/endpoints/endpoint_empty_path_param.yaml
  server/tests-py/queries/endpoints/endpoint_empty_path_segment.yaml
  server/tests-py/queries/endpoints/endpoint_subscription.yaml
  server/tests-py/queries/endpoints/endpoint_trailing_slash.yaml
Owners: @hasura/hge-server

Revert "ci: push cli-ext binary to cdn on tag release"
  .circleci/deploy.sh
Owners: @hasura/hge-changelog-owners

docs: refactor API security docs
  docs/graphql/cloud/index.rst
  docs/graphql/cloud/security/allow-lists.rst
  docs/graphql/cloud/security/api-limits.rst
  docs/graphql/cloud/security/disable-graphql-introspection.rst
  docs/graphql/cloud/security/index.rst
  docs/img/graphql/cloud/security/disable-introspection.png
  docs/img/graphql/cloud/security/security.png
Owners: @hasura/hge-docs-owners

pro-console/bug: fixes broken form layout
  console/src/components/Services/ApiExplorer/Security/Security.scss
Owners: @hasura/hge-console-owners

console: add schema sharnig template version check
  console/package-lock.json
  console/src/components/Services/Data/Schema/SchemaSharing/Actions.ts
  console/src/components/Services/Data/Schema/SchemaSharing/SchemaGalleryModal.tsx
  console/src/components/Services/Data/Schema/SchemaSharing/SchemaGalleryTable.tsx
  console/src/components/Services/Data/Schema/SchemaSharing/__tests__/Actions.test.ts
  console/src/components/Services/Data/Schema/SchemaSharing/__tests__/SchemaGallery.test.tsx
  console/src/components/Services/Data/Schema/SchemaSharing/__tests__/SchemaGalleryModal.test.tsx
  console/src/components/Services/Data/Schema/SchemaSharing/__tests__/SchemaGalleryTable.test.tsx
  console/src/components/Services/Data/Schema/SchemaSharing/__tests__/__snapshots__/Actions.test.ts.snap
  console/src/components/Services/Data/Schema/SchemaSharing/__tests__/stubs/schemaSharingNetworkStubs.ts
  console/src/components/Services/Data/Schema/SchemaSharing/schemaSharingConfig.ts
  console/src/components/Services/Data/Schema/SchemaSharing/types.ts
Owners: @hasura/hge-console-owners

Clean some instances
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Types.hs
  server/src-lib/Hasura/Base/Instances.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
Owners: @hasura/hge-server

docs/api-limits: Update 3x security information
  docs/graphql/cloud/api-limits.rst
  docs/img/graphql/cloud/security/pro-tab-apilimit-config.png
  docs/img/graphql/cloud/security/pro-tab-apilimits.png
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
