Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

ci: add pro server jobs to buildkite
  scripts/cli-migrations/Makefile
Owners: @hasura/hge-changelog-owners

Cleans up Request Transform JSON
  server/src-lib/Hasura/RQL/DDL/RequestTransform.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
Owners: @hasura/hge-server

cli: make `--database-name` optional in `migrate` subcommands when using a single database
  CHANGELOG.md
  cli/commands/migrate.go
  cli/commands/migrate_delete_test.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

console: add time limits setting to security settings
  CHANGELOG.md
  console/src/components/Common/Table/Table.tsx
  console/src/components/Services/ApiExplorer/Security/ApiLimits.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsFormWrapper.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsTable.tsx
  console/src/components/Services/ApiExplorer/Security/__tests__/__snapshots__/utils.test.ts.snap
  console/src/components/Services/ApiExplorer/Security/actions.ts
  console/src/components/Services/ApiExplorer/Security/state.ts
  console/src/components/Services/ApiExplorer/Security/utils.tsx
  console/src/metadata/types.ts
  console/src/metadata/utils.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server/postgres: add test case to test computed field with session argument in where expression
  server/tests-py/queries/graphql_query/computed_fields/setup.yaml
  server/tests-py/queries/graphql_query/computed_fields/table_computed_field_filter_session_argument.yaml
  server/tests-py/queries/graphql_query/computed_fields/teardown.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

[server] add openapi support
  CHANGELOG.md
  cabal.project.freeze
  docs/graphql/core/api-reference/restified.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/Types/Endpoint.hs
  server/src-lib/Hasura/RQL/Types/Endpoint/Trie.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/tests-py/queries/openapi/openapi_empty.yaml
  server/tests-py/queries/openapi/openapi_endpoint_with_multiple_methods.yaml
  server/tests-py/queries/openapi/openapi_get_endpoint_test_simple.yaml
  server/tests-py/queries/openapi/openapi_multiple_endpoints_test.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_args.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_args_url.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_default_arg.yaml
  server/tests-py/queries/openapi/setup.yaml
  server/tests-py/queries/openapi/teardown.yaml
  server/tests-py/test_openapi.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

console: add form library components
  console/.eslintrc
  console/.storybook/main.js
  console/.storybook/preview.js
  console/jest.config.js
  console/package-lock.json
  console/package.json
  console/src/docs/design-system/02-spacing.stories.mdx
  console/src/docs/design-system/badges.stories.mdx
  console/src/docs/design-system/buttons.stories.mdx
  console/src/docs/design-system/cards.stories.mdx
  console/src/docs/design-system/input-fields.stories.mdx
  console/src/docs/design-system/nav/breadcrumb.stories.mdx
  console/src/docs/design-system/nav/tabs.stories.mdx
  console/src/docs/design-system/table.stories.mdx
  console/src/docs/dev/storybook.stories.mdx
  console/src/new-components/Form/FieldWrapper.stories.tsx
  console/src/new-components/Form/FieldWrapper.tsx
  console/src/new-components/Form/Form.stories.tsx
  console/src/new-components/Form/Form.tsx
  console/src/new-components/Form/InputField.tsx
  console/src/new-components/Form/__tests__/InputField.spec.tsx
  console/src/new-components/Form/index.ts
  console/src/new-components/IndicatorCard/IndicatorCard.stories.tsx
  console/src/new-components/IndicatorCard/IndicatorCard.tsx
  console/src/new-components/IndicatorCard/index.ts
  console/src/new-components/Tooltip/Tooltip.stories.tsx
  console/src/new-components/Tooltip/Tooltip.tsx
  console/src/new-components/Tooltip/index.ts
  console/src/theme/tailwind.css
  console/tailwind.config.js
  console/tsconfig.json
  console/webpack/bundle.config.js
  console/webpack/common.config.js
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Owners: @hasura/hge-console-owners

Fixes Aeson instances for UpdateAction
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/tests-py/queries/actions/sync/schema_setup.yaml
Owners: @hasura/hge-server

cli: allow specifiying a "to" version on `migrate squash` command
  CHANGELOG.md
  cli/commands/migrate_squash.go
  cli/commands/migrate_squash_test.go
  cli/commands/testdata/migrate-squash-test/want_from.down.sql
  cli/commands/testdata/migrate-squash-test/want_from.up.sql
  cli/commands/testdata/migrate-squash-test/want_from_to.down.sql
  cli/commands/testdata/migrate-squash-test/want_from_to.up.sql
  cli/migrate/api/squash.go
  cli/migrate/cmd/commands.go
  cli/migrate/migrate.go
  cli/migrate/util.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

server: drop dependency on ghc-heap-view again for profiling builds (close #2554)
  server/CONTRIBUTING.md
  server/graphql-engine.cabal
  server/src-lib/GHC/AssertNF/CPP.hs
Owners: @hasura/hge-server

Temp fix for pipes in URIs
  server/src-lib/Hasura/RQL/DDL/RequestTransform.hs
Owners: @hasura/hge-server

cli: throw user friendly errors when server is unreachable
  cli/cli.go
  cli/internal/httpc/httpc.go
  cli/util/server.go
  cli/version/server.go
Owners: @hasura/hge-cli-owners

server: enable inherited roles by default
  .circleci/test-server.sh
  CHANGELOG.md
  console/cypress/integration/data/template-gallery/test.ts
  docs/graphql/core/auth/authorization/inherited-roles.rst
  server/src-lib/Hasura/RQL/DDL/InheritedRoles.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/tests-py/context.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-docs-owners, @hasura/hge-server

cli: improve error/log messages
  cli/commands/metadata_handlers.go
  cli/commands/metadata_inconsistency_drop_test.go
  cli/commands/metadata_inconsistency_status.go
  cli/commands/metadata_inconsistency_status_test.go
  cli/commands/metadata_reload.go
  cli/commands/metadata_reload_test.go
  cli/internal/scripts/update-project-v3.go
Owners: @hasura/hge-cli-owners

ci: fix benchmark job for obsolete github auth
  server/benchmarks/utils/pr-merge-bases.sh
Owners: @hasura/hge-server

tag release v2.1.0-beta.1
  CHANGELOG.md
  cli/README.md
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

move pro rfcs to pro namespace
  rfcs/multiple-admin-secrets.md
  rfcs/operation-timeout-api-limits-braindump.md
  rfcs/operation-timeout-api-limits.md
  rfcs/pg-client-certs.md
  rfcs/query-tags.md
  rfcs/role-based-allow-list.md
Owners: @hasura/hge-changelog-owners

Move Request Transform into the Action Definition
  CHANGELOG.md
  docs/graphql/core/api-reference/syntax-defs.rst
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/tests-py/queries/actions/async/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

console: fix permissions builder bug
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
Owners: @hasura/hge-console-owners

Add backend modules for MySQL
  server/src-lib/Hasura/Backends/MySQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/Plan.hs
Owners: @hasura/hge-server

console: fix console crash on giving action definition
  console/src/shared/utils/__tests__/common.test.ts
  console/src/shared/utils/sdlUtils.js
Owners: @hasura/hge-console-owners

console: allow adding read replicas to existing datasources
  console/src/components/Services/Data/DataSources/ConnectDatabase.tsx
  console/src/components/Services/Data/DataSources/DataSources.scss
  console/src/components/Services/Data/DataSources/ReadReplicaForm.tsx
  console/src/components/Services/Data/DataSources/__tests__/utils.test.ts
  console/src/components/Services/Data/DataSources/state.ts
  console/src/components/Services/Data/DataSources/utils.ts
Owners: @hasura/hge-console-owners

server: drop HasVersion implicit parameter (closes #2236)
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/RemoteSchema.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Hasura/Server/Version.hs
  server/src-lib/Hasura/Server/Version/TH.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

Include transformed request in errors
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/tests-py/queries/actions/sync/expecting_array_response.yaml
  server/tests-py/queries/actions/sync/expecting_array_response_got_null.yaml
  server/tests-py/queries/actions/sync/expecting_object_response.yaml
  server/tests-py/queries/actions/sync/expecting_object_response_got_null.yaml
  server/tests-py/queries/actions/sync/invalid_webhook_response.yaml
  server/tests-py/queries/actions/sync/mirror_action_no_field.yaml
  server/tests-py/queries/actions/sync/mirror_action_not_null.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/mysql: Implement MySQL explain API
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/MySQL/DataLoader/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Meta.hs
  server/src-lib/Hasura/Backends/MySQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MySQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MySQL/Types/Internal.hs
  server/tests-py/queries/explain/permissions_query_mysql.yaml
  server/tests-py/queries/explain/schema_setup_mysql.yaml
  server/tests-py/queries/explain/schema_teardown_mysql.yaml
  server/tests-py/queries/explain/setup_mysql.yaml
  server/tests-py/queries/explain/simple_query_mysql.yaml
  server/tests-py/queries/explain/teardown_mysql.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

ci: add ci builder images jobs to buildkite
  .circleci/base.dockerfile
  .circleci/console-builder.dockerfile
  .circleci/mssql-server-2019-CU10-ubuntu-20.04/Dockerfile
  .circleci/server-builder.dockerfile
Owners: @hasura/hge-changelog-owners

docs: add examples for regex operators (closes #6919)
  docs/graphql/core/databases/postgres/queries/query-filters.rst
Owners: @hasura/hge-docs-owners

server/tests: initial work on a test suite for DB-to-DB joins
  cabal.project.freeze
  sample.hie.yaml
  server/Makefile
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/tests/integration/Backend/Postgres.hs
  server/tests/integration/Hasura/Test/App.hs
  server/tests/integration/Hasura/Test/Requests.hs
  server/tests/integration/Main.hs
  server/tests/integration/Tests/RemoteSourceSpec.hs
  server/tests/integration/Tests/RemoteSourceSql.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Apply Tailwind styles to Connect Datasource table
  console/src/components/Services/Data/Schema/CollapsibleToggle.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

server/mssql: add cascade to mssql_run_sql
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/Deps.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/QueryTags.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/tests-py/queries/v2/mssql/run_sql/drop_article_table_with_cascade.yaml
  server/tests-py/queries/v2/mssql/run_sql/drop_article_table_without_cascade.yaml
  server/tests-py/queries/v2/mssql/run_sql/schema_setup_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/schema_teardown_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/setup_mssql.yaml
  server/tests-py/test_v2_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: skip flaky test to unblock PRs
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

tag release v2.0.10 (#2646)
  CHANGELOG.md
  cli/README.md
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

pro-console: Make caching discoverable on console
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQL.css
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/state.js
  console/src/shared/utils/sdlUtils.js
  console/src/utils/requestAction.ts
Owners: @hasura/hge-console-owners

ci: stabilize server-upgrade-downgrade test on buildkite
  .circleci/server-upgrade-downgrade/run.sh
Owners: @hasura/hge-changelog-owners

console/mssql: enable custom graphQL fields to modify tab
  CHANGELOG.md
  console/src/components/Services/Data/mergeData.ts
  console/src/dataSources/common/graphqlUtil.ts
  console/src/dataSources/services/mssql/index.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Using escaped string for URL transform
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/RequestTransform.hs
  server/src-lib/Network/HTTP/Client/Transformable.hs
  server/src-test/Network/HTTP/Client/TransformableSpec.hs
Owners: @hasura/hge-server

Wrap string interpolations with double quotes on the backend
  server/src-lib/Hasura/RQL/DDL/RequestTransform.hs
  server/src-test/Hasura/RQL/RequestTransformSpec.hs
  server/tests-py/queries/event_triggers/transform/basic_transform.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_success.yaml
  server/tests-py/test_metadata.py
Owners: @hasura/hge-server

server: call auth webhook even if the request fails to parse
  CHANGELOG.md
  docs/graphql/core/auth/authentication/webhook.rst
  server/src-lib/Hasura/Server/App.hs
  server/tests-py/test_webhook_request_context.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

docs: Fix typo in server config reference page
  docs/graphql/core/deployment/graphql-engine-flags/reference.rst
Owners: @hasura/hge-docs-owners

update brand assets
  assets/brand/README.md
  assets/brand/hasura_icon_colour.svg
  assets/brand/hasura_icon_darkbg.svg
  assets/brand/hasura_icon_lightbg.svg
  assets/brand/hasura_logo_horizontal_black.svg
  assets/brand/hasura_logo_horizontal_blue.svg
  assets/brand/hasura_logo_horizontal_white.svg
  assets/brand/hasura_logo_mono_darkbg.svg
  assets/brand/hasura_logo_mono_lightbg.svg
  assets/brand/hasura_logo_primary_darkbg.svg
  assets/brand/hasura_logo_primary_lightbg.svg
  assets/brand/hasura_mascot.svg
  assets/brand/hasura_mascot_logo_horizontal.svg
  assets/brand/hasura_mascot_logo_vertical.svg
  assets/brand/powered_by_hasura_black.svg
  assets/brand/powered_by_hasura_blue.svg
  assets/brand/powered_by_hasura_mono_darkbg.svg
  assets/brand/powered_by_hasura_mono_lightbg.svg
  assets/brand/powered_by_hasura_primary_darkbg.svg
  assets/brand/powered_by_hasura_primary_lightbg.svg
  assets/brand/powered_by_hasura_white.svg
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
