Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Update 28_to_29.sql
  server/src-rsr/migrations/28_to_29.sql
Owners: @hasura/hge-server

[server] generate the correct type for single-row returning functions
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/tests-py/queries/actions/introspection/function_return_type/function_return_type.yaml
  server/tests-py/queries/actions/introspection/function_return_type/setup.yaml
  server/tests-py/queries/actions/introspection/function_return_type/teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Remote schema execution logic
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Data/Aeson/Ordered.hs
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/RemoteSchema.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Types.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
  server/tests-py/queries/remote_schemas/remote_relationships/basic_relationship_alias.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/query_with_errors_arr.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/query_with_errors_obj.yaml
  server/tests-py/test_remote_relationships.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fix/remote nested field customization
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/tests-py/queries/remote_schemas/remote_relationships/schema_customization/basic_nested_fields.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: add keywords for better search
  docs/graphql/core/databases/ms-sql-server/schema/custom-field-names.rst
  docs/graphql/core/databases/postgres/schema/custom-field-names.rst
  docs/graphql/core/deployment/graphql-engine-flags/reference.rst
  docs/graphql/core/hasura-cli/config-reference.rst
Owners: @hasura/hge-docs-owners

server: Uses GraphQL type in remote variable cache key
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: fix mutations bug when inherited roles is enabled
  .circleci/test-server.sh
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Revert "Disable TLS checks for actions services with self-signed certificates"
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Network.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: clarify many-to-many foreign key section
  docs/graphql/core/guides/data-modelling/many-to-many.rst
Owners: @hasura/hge-docs-owners

docs: dedicated VPC docs
  docs/graphql/cloud/dedicated-vpc.rst
  docs/graphql/cloud/index.rst
  docs/img/graphql/cloud/dedicated-vpc/create-peering-request.png
  docs/img/graphql/cloud/dedicated-vpc/create-vpc-projects.png
  docs/img/graphql/cloud/dedicated-vpc/customer-to-hasura-peering.png
  docs/img/graphql/cloud/dedicated-vpc/hasura-to-customer-peering.png
  docs/img/graphql/cloud/dedicated-vpc/view-vpc-list.png
  docs/img/graphql/cloud/dedicated-vpc/vpc-create-request.png
  docs/img/graphql/cloud/dedicated-vpc/vpc-details.png
  docs/img/graphql/cloud/dedicated-vpc/vpc-projects-list.png
Owners: @hasura/hge-docs-owners

scripts: avoid premature release tagging
  scripts/tag-release.sh
Owners: @hasura/hge-changelog-owners

tag release v2.0.7 (#2118)
  CHANGELOG.md
  cli/README.md
  cli/get.sh
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

server: support for `graphql-ws` protocol
  CHANGELOG.md
  docs/graphql/core/databases/ms-sql-server/subscriptions/index.rst
  docs/graphql/core/databases/postgres/subscriptions/index.rst
  docs/graphql/core/deployment/graphql-engine-flags/reference.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/test_subscriptions.py
  server/tests-py/validate.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

readme: use cloud signup endpoint for "Deploy to Hasura" CTA
  README.md
  community/sample-apps/firebase-jwt/README.md
  community/sample-apps/gatsby-postgres-graphql/README.md
  community/sample-apps/gridsome-postgres-graphql/README.md
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/README.md
  community/sample-apps/nextjs-8-serverless/with-apollo/README.md
  community/sample-apps/nextjs-postgres-graphql/README.md
  community/sample-apps/nuxtjs-postgres-graphql/README.md
  community/sample-apps/quasar-framework-vue-graphql/README.md
  community/sample-apps/react-relay/README.md
  community/sample-apps/react-static-graphql/README.md
  community/sample-apps/realtime-location-tracking/README.md
  community/sample-apps/realtime-poll/README.md
  community/sample-apps/serverless-etl/README.md
  community/sample-apps/serverless-push/README.md
  community/sample-apps/svelte-apollo/README.md
  community/sample-apps/todo-auth0-jwt/README.md
  community/sample-apps/vuejs-auth0-graphql/app/README.md
  community/sample-apps/vuetify-vuex-todo-graphql/README.md
  community/sample-apps/whatsapp-clone-typescript-react/README.md
Owners: @hasura/hge-changelog-owners

docs: add db current feature support sections
  docs/graphql/core/databases/bigquery/index.rst
  docs/graphql/core/databases/index.rst
  docs/graphql/core/databases/ms-sql-server/index.rst
  docs/graphql/core/getting-started/index.rst
Owners: @hasura/hge-docs-owners

server: remove stray comment
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
Owners: @hasura/hge-server

console: oss test optimisation
  console/cypress/helpers/constants.ts
  console/cypress/integration/_onboarding/spec.ts
  console/cypress/integration/_onboarding/test.ts
  console/cypress/integration/actions/spec.ts
  console/cypress/integration/actions/test.ts
  console/cypress/integration/api-explorer/graphql/test.ts
  console/cypress/integration/data/404/test.ts
  console/cypress/integration/data/computed-fields/test.ts
  console/cypress/integration/data/create-table/test.ts
  console/cypress/integration/data/custom-functions/test.ts
  console/cypress/integration/data/insert-browse/test.ts
  console/cypress/integration/data/materialized-views/test.ts
  console/cypress/integration/data/migration-mode/test.ts
  console/cypress/integration/data/modify/test.ts
  console/cypress/integration/data/permissions/test.ts
  console/cypress/integration/data/raw-sql/test.ts
  console/cypress/integration/data/relationships/test.ts
  console/cypress/integration/data/views/test.ts
  console/cypress/integration/events/create-trigger/spec.ts
  console/cypress/integration/events/create-trigger/test.ts
  console/cypress/integration/events/one-off-trigger/test.ts
  console/cypress/integration/remote-schemas/create-remote-schema/test.ts
  console/cypress/integration/settings/metadata/test.ts
  console/src/components/Common/Onboarding/index.tsx
Owners: @hasura/hge-console-owners

Add fancier trace debugging functions to Hasura.Prelude
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/Prelude.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: remove redux-logger
  console/package-lock.json
  console/package.json
  console/src/store.ts
Owners: @hasura/hge-console-owners

benchmarks: add a utility for viewing performance of a branch over time
  scripts/performance_report.sh
Owners: @hasura/hge-changelog-owners

console: fix remote schema permission spacing
  console/src/components/Services/RemoteSchema/Permissions/Tree.tsx
Owners: @hasura/hge-console-owners

server: don't inline some text helper functions
  server/src-lib/Data/Text/Extended.hs
Owners: @hasura/hge-server

server/postgres: optimize SQL query generation with LIMITs
  CHANGELOG.md
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/tests-py/queries/explain/limit_orderby_column_query.yaml
  server/tests-py/queries/explain/limit_orderby_relationship_query.yaml
  server/tests-py/queries/explain/limit_query.yaml
  server/tests-py/queries/explain/setup.yaml
  server/tests-py/queries/explain/teardown.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

community: fix sample apps metadata for v3 config
  community/sample-apps/gatsby-contentful-auth0/README.md
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/actions.graphql
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/databases/databases.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/databases/default/tables/public_album.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/databases/default/tables/public_playlist.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/databases/default/tables/public_playlist_track.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/databases/default/tables/public_track.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/databases/default/tables/public_users.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/databases/default/tables/tables.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/metadata/rest_endpoints.yaml
  community/sample-apps/gatsby-postgres-graphql/hasura/metadata/databases/databases.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/README.md
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/actions.graphql
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/databases/databases.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/databases/default/tables/public_article.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/databases/default/tables/public_role.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/databases/default/tables/public_user.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/databases/default/tables/public_user_role.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/databases/default/tables/tables.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/metadata/rest_endpoints.yaml
  community/sample-apps/react-apollo-todo/hasura/metadata/databases/databases.yaml
  community/sample-apps/realtime-chat/hasura/metadata/databases/databases.yaml
  community/sample-apps/realtime-location-tracking/README.md
  community/sample-apps/realtime-location-tracking/hasura/metadata/databases/databases.yaml
  community/sample-apps/realtime-poll/README.md
  community/sample-apps/realtime-poll/hasura/metadata/databases/databases.yaml
  community/sample-apps/serverless-etl/hasura/metadata/databases/databases.yaml
  community/sample-apps/serverless-push/hasura/metadata/databases/databases.yaml
  community/sample-apps/tic-tac-toe-react/hasura/metadata/databases/databases.yaml
  community/sample-apps/todo-auth0-jwt/hasura/metadata/databases/databases.yaml
  community/sample-apps/vuejs-auth0-graphql/app/README.md
  community/sample-apps/vuejs-auth0-graphql/hasura/metadata/databases/databases.yaml
  community/sample-apps/whatsapp-clone-typescript-react/README.md
  community/sample-apps/whatsapp-clone-typescript-react/hasura/metadata/databases/databases.yaml
Owners: @hasura/hge-changelog-owners

[rfc] MySQL relationships
  rfcs/mysql-relationships.md
Owners: @hasura/hge-changelog-owners

server: update non-existent object error messages
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: reduce memory usage during type collection by using a more concrete effect stack
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
Owners: @hasura/hge-server

server: fix the nullability of object relationships (fix hasura/graphql-engine#7201)
  CHANGELOG.md
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/Types/Relationship.hs
  server/tests-py/queries/graphql_introspection/nullable_object_relationship/nullability.yaml
  server/tests-py/queries/graphql_introspection/nullable_object_relationship/setup.yaml
  server/tests-py/queries/graphql_introspection/nullable_object_relationship/teardown.yaml
  server/tests-py/queries/v1/relationships/array_relationship_col_not_foreign_key_error.yaml
  server/tests-py/queries/v1/relationships/object_relationship_col_not_foreign_key_error.yaml
  server/tests-py/test_graphql_introspection.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[pro, server] Allow response when cache limits are hit
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/HTTP.hs
Owners: @hasura/hge-server

console: add quotes to column names
  console/src/dataSources/services/postgresql/__tests__/postgresql.test.ts
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

ci: add job to build and push base image
  .circleci/base.dockerfile
  server/packaging/build/Dockerfile
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update cloud project transfer guide
  docs/graphql/cloud/projects/details.rst
  docs/graphql/cloud/projects/env-vars.rst
  docs/graphql/cloud/projects/index.rst
  docs/graphql/cloud/projects/move-project-manual.rst
  docs/graphql/cloud/projects/secure.rst
  docs/graphql/core/deployment/securing-graphql-endpoint.rst
  docs/img/graphql/cloud/projects/new-envvars.png
  docs/img/graphql/cloud/projects/secure-add-envvar.png
  docs/img/graphql/cloud/projects/secure-admin-envvar.png
  docs/img/graphql/cloud/projects/secure-update-envvar.png
Owners: @hasura/hge-docs-owners

server/bigquery: run tests in CI
  .circleci/config.yml
Owners: @hasura/hge-changelog-owners

server/rfc: mutations on MSSQL backend
  rfcs/mutations-mssql.md
Owners: @hasura/hge-changelog-owners

pro-console: fix pro console ui and revert package locks
  console/package-lock.json
Owners: @hasura/hge-console-owners

docs: add cloud manging envs guide
  docs/graphql/cloud/projects/environments.rst
  docs/graphql/cloud/projects/index.rst
Owners: @hasura/hge-docs-owners

bq: test table customization features
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/index.rst
  docs/graphql/core/api-reference/metadata-api/table-view.rst
  docs/graphql/core/databases/bigquery/index.rst
  docs/graphql/core/databases/bigquery/schema/custom-field-names.rst
  docs/graphql/core/databases/bigquery/schema/index.rst
  server/tests-py/queries/graphql_query/bigquery/replace_metadata.yaml
  server/tests-py/queries/graphql_query/bigquery/replace_metadata_with_customization_and_test_query.yaml
  server/tests-py/queries/graphql_query/bigquery/set_table_customization_and_test_query.yaml
  server/tests-py/queries/graphql_query/bigquery/setup_bigquery.yaml
  server/tests-py/queries/graphql_query/bigquery/teardown_bigquery.yaml
  server/tests-py/queries/graphql_query/bigquery/track_table_with_customization_and_test_query.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server: fix regressions on invoking manual trigger
  console/src/components/Services/Events/EventTriggers/InvokeManualTrigger/InvokeManualTriggerAction.js
  server/src-lib/Data/Aeson/Extended.hs
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/tests-py/test_events.py
Owners: @hasura/hge-console-owners, @hasura/hge-server

docs: add getTenantId API to cloud api ref
  docs/graphql/cloud/api-reference.rst
Owners: @hasura/hge-docs-owners

server: add a short note clarifying order of teardown functions
  server/CONTRIBUTING.md
Owners: @hasura/hge-server
