Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server: add metadata origin in streaming subscription field parser
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
Owners: @hasura/hge-server

Reload sources when applying metadata.
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/tests-hspec/Test/Metadata/InconsistentSpec.hs
Owners: @hasura/hge-server

console: integrate the generalised hook useNeonIntegration hook to render Neon integration in the onboarding wizard
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonIntegration.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/utils.test.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/NeonOnboarding.tsx
Owners: @hasura/hge-console-owners

server/tests-py: Declaratively state the HGE environment variables.
  .circleci/test-server.sh
  server/tests-py/auth_webhook_server.py
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/docker-compose.yml
  server/tests-py/fixtures/hge.py
  server/tests-py/graphql_server.py
  server/tests-py/jwk_server.py
  server/tests-py/pytest.ini
  server/tests-py/run-new.sh
  server/tests-py/test_actions.py
  server/tests-py/test_apollo_federation.py
  server/tests-py/test_cors.py
  server/tests-py/test_events.py
  server/tests-py/test_graphql_introspection.py
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_metadata.py
  server/tests-py/test_naming_conventions.py
  server/tests-py/test_remote_relationships.py
  server/tests-py/test_remote_schema_permissions.py
  server/tests-py/test_scheduled_triggers.py
  server/tests-py/test_schema_duplication.py
  server/tests-py/test_v1_queries.py
  server/tests-py/utils.py
  server/tests-py/webserver.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: update the bigquery label
  console/src/features/DataSource/bigquery/index.ts
Owners: @hasura/hge-console-owners

console: add `Try it` button on table view to try operations from graphiql tab
  console/src/components/Common/EditableHeading/EditableHeading.js
  console/src/components/Common/EditableHeading/TryOperation.tsx
  console/src/components/Common/EditableHeading/generateGqlQueryFromTable.test.tsx
  console/src/components/Common/EditableHeading/utils.ts
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Events/EventTriggers/Common/AutoCleanupForm.tsx
  console/src/features/Data/ManageTable/ManageTable.tsx
  console/src/features/QueryCollections/components/QueryCollectionHeader/QueryCollectionHeaderMenu.tsx
  console/src/features/QueryCollections/components/QueryCollectionOperationDialog/QuickAdd.tsx
  console/src/features/QueryCollections/components/QueryCollectionOperations/QueryCollectionOperationsHeader.tsx
  console/src/new-components/DropdownButton/DropdownButton.tsx
  console/src/new-components/DropdownMenu/DropdownMenu.tsx
  console/src/utils/localStorage.ts
Owners: @hasura/hge-console-owners

Reverse `stringifyNumbers` assertions
  server/tests-hspec/Harness/Yaml.hs
  server/tests-hspec/Test/DataConnector/MetadataApiSpec.hs
  server/tests-hspec/Test/Queries/AggregationSpec.hs
Owners: @hasura/hge-server

streaming subscriptions architecture: fix hash tags
  architecture/streaming-subscriptions.md
Owners: @hasura/hge-changelog-owners

docs: restructure heroku page and add migration links
  docs/docs/databases/connect-db/cloud-databases/heroku.mdx
Owners: @hasura/hge-docs-owners

console: BigQuery filters not working
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/dataSources/common/graphqlUtil.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/bigquery/utils.ts
  console/src/dataSources/services/citus/utils.ts
  console/src/dataSources/services/cockroach/utils.ts
  console/src/dataSources/services/mssql/utils.ts
  console/src/features/BrowseRows/FiltersSection/FiltersSectionContainer.tsx
  console/src/features/BrowseRows/FiltersSection/FiltersSectionContainer.utils.ts
  console/src/features/BrowseRows/FiltersSection/hooks/useTableSchema.ts
  console/src/features/BrowseRows/FiltersSection/hooks/useTableSchema.utils.test.ts
  console/src/features/BrowseRows/FiltersSection/hooks/useTableSchema.utils.ts
  console/src/features/BrowseRows/index.tsx
  console/src/features/DataSource/bigquery/introspection/getTableColumns.ts
  console/src/features/DataSource/types.ts
  console/src/features/SqlQueries/datasources/bigquery.ts
  console/src/new-components/PaginationWithOnlyNav/PaginationWithOnlyNavContainer.tsx
Owners: @hasura/hge-console-owners

streaming subscriptions architecture: update try it out instructions
  architecture/streaming-subscriptions.md
Owners: @hasura/hge-changelog-owners

run bigquery with retry in test-harness
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Test/BigQuery/ComputedFieldSpec.hs
  server/tests-hspec/Test/BigQuery/Metadata/ComputedFieldSpec.hs
Owners: @hasura/hge-server

server/tests-py: Run the auth hook inside the test harness.
  .circleci/test-server.sh
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/docker-compose.yml
  server/tests-py/run-new.sh
  server/tests-py/run.sh
  server/tests-py/test_allowlist_queries.py
  server/tests-py/test_apis_disabled.py
  server/tests-py/test_auth_webhook_cookie.py
  server/tests-py/test_dev_endpoints.py
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_remote_schema_permissions.py
  server/tests-py/test_roles_inheritance.py
  server/tests-py/test_websocket_init_cookie.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: update Neon Banner and adjust button
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/assets/neon_banner.png
Owners: @hasura/hge-console-owners

Nix: Get the Nix shell working on macOS/aarch64.
  .envrc.local.example
  scripts/make/ghcid.mk
Owners: @hasura/hge-changelog-owners

console: fix local object relationship deletion
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/__test__/mocks.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/hooks/useListAllRelationshipsFromMetadata/utils.ts
Owners: @hasura/hge-console-owners

docs: Correct histogram buckets for event queue time
  docs/docs/enterprise/metrics.mdx
Owners: @hasura/hge-docs-owners

Streaming subscriptions introduction update (#6004)
  architecture/streaming-subscriptions.md
Owners: @hasura/hge-changelog-owners

server/tests-py: Provide the admin secret to the HGE server.
  .circleci/test-server.sh
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/docker-compose.yml
  server/tests-py/fixtures/hge.py
  server/tests-py/pytest.ini
  server/tests-py/run-new.sh
  server/tests-py/run.sh
  server/tests-py/test_apis_disabled.py
  server/tests-py/test_apollo_federation.py
  server/tests-py/test_auth_webhook_cookie.py
  server/tests-py/test_compat.py
  server/tests-py/test_dev_endpoints.py
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_jwt.py
  server/tests-py/test_remote_schema_permissions.py
  server/tests-py/test_roles_inheritance.py
  server/tests-py/test_subscriptions.py
  server/tests-py/test_webhook.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: New Getting Started > How it Works page (WIP)
  docs/docs/getting-started/how-it-works/index.mdx
  docs/docs/index.mdx
Owners: @hasura/hge-docs-owners

docs: Fix minor typo
  docs/docs/migrations-metadata-seeds/manage-migrations.mdx
Owners: @hasura/hge-docs-owners

server: remove default `+RTS -qn2` setting
  server/graphql-engine.cabal
Owners: @hasura/hge-server

fixed faulty JSON inserts for cockroach and citus
  console/package-lock.json
  console/package.json
  console/src/dataSources/common/index.ts
  console/src/dataSources/services/citus/utils.ts
  console/src/dataSources/services/cockroach/utils.ts
Owners: @hasura/hge-console-owners

console: add onboarding events to neon integration; misc onboarding changes
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonIntegration.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/NeonOnboarding.tsx
  console/src/features/OnboardingWizard/components/QueryDialog/TemplateSummary.tsx
  console/src/features/OnboardingWizard/constants.ts
  console/src/features/OnboardingWizard/hooks/index.ts
  console/src/features/OnboardingWizard/hooks/useEmitOnboardingEvents.ts
  console/src/features/OnboardingWizard/hooks/useInstallTemplate.ts
  console/src/features/OnboardingWizard/hooks/usePrefetchNeonOnboardingTemplateData.ts
  console/src/features/OnboardingWizard/utils.ts
Owners: @hasura/hge-console-owners

server: Permit strings for numerical input fields
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Parser/Scalars.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Options.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Main.hs
  server/src-test/Test/Parser/Monad.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Test/BigQuery/TypeInterpretationSpec.hs
Owners: @hasura/hge-server

console: UI changes for the `Try it` feature
  console/src/components/Common/EditableHeading/TryOperation.tsx
Owners: @hasura/hge-console-owners

console: query auto population and usage
  console/package-lock.json
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/utils.js
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
  console/src/components/Services/ApiExplorer/OneGraphExplorer/utils.js
  console/src/components/Services/ApiExplorer/state.js
  console/src/features/OnboardingWizard/Root.tsx
  console/src/features/OnboardingWizard/components/QueryDialog/TemplateSummary.tsx
  console/src/features/OnboardingWizard/utils.ts
Owners: @hasura/hge-console-owners

pro/multitenant: remove vault token from vault error logs
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

update-digital-ocean-one-click-droplet-link
  docs/docs/deployment/deployment-guides/digital-ocean-one-click.mdx
Owners: @hasura/hge-docs-owners

console: rollback remote schema permission edition buttons migration
  console/src/components/Common/Button/Button.tsx
  console/src/components/Common/Button/index.tsx
  console/src/components/Services/RemoteSchema/Permissions/ArgSelect.tsx
  console/src/components/Services/RemoteSchema/Permissions/BulkSelect.tsx
  console/src/components/Services/RemoteSchema/Permissions/CollapsedField.tsx
  console/src/components/Services/RemoteSchema/Permissions/Field.tsx
  console/src/components/Services/RemoteSchema/Permissions/PermissionEditor.tsx
  console/src/components/Services/RemoteSchema/Permissions/RSPInput.tsx
  console/src/components/Services/RemoteSchema/Permissions/Tree.tsx
Owners: @hasura/hge-console-owners

Remove spaces before colons in error messages and descriptions
  docs-old/graphql/core/api-reference/schema-api/run-sql.rst
  docs-old/graphql/core/api-reference/schema-metadata-api/run-sql.rst
  docs/docs/api-reference/schema-api/run-sql.mdx
  docs/docs/api-reference/schema-metadata-api/index.mdx
  docs/docs/api-reference/schema-metadata-api/run-sql.mdx
  server/lib/pg-client-hs/src/Database/PG/Query/Class.hs
  server/lib/pg-client-hs/src/Database/PG/Query/Connection.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-hspec/Test/EventTrigger/PG/EventTriggersRunSQLSpec.hs
  server/tests-hspec/Test/Regression/DropColumnWithPermissions8415Spec.hs
  server/tests-py/queries/actions/nested-relation/create_async_action_with_nested_output_and_relation.yaml
  server/tests-py/queries/v1/computed_fields/create_permissions.yaml
  server/tests-py/queries/v1/computed_fields/run_sql.yaml
  server/tests-py/queries/v1/count/basic/count_distinct_col_not_present_err.yaml
  server/tests-py/queries/v1/insert/onconflict/article_on_conflict_error_missing_article_constraint.yaml
  server/tests-py/queries/v1/run_sql/sql_alter_test_bool_col.yaml
  server/tests-py/queries/v1/track_table/track_untrack_materialized_view.yaml
  server/tests-py/queries/v1/track_table/track_untrack_table.yaml
  server/tests-py/queries/v1/track_table/track_untrack_table_deps.yaml
  server/tests-py/queries/v2/mssql/run_sql/drop_article_table_without_cascade.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

console: show onboarding wizard only for cloud console
  console/src/features/OnboardingWizard/Root.stories.tsx
  console/src/features/OnboardingWizard/Root.test.tsx
  console/src/features/OnboardingWizard/Root.tsx
Owners: @hasura/hge-console-owners

fix type name generation for aggregation predicate functions
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
Owners: @hasura/hge-server

console: allow skipping notification display while adding datasource
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataSources/state.ts
  console/src/metadata/actions.ts
Owners: @hasura/hge-console-owners

docs: add db-migration links to providers
  docs/docs/databases/connect-db/cloud-databases/aiven.mdx
  docs/docs/databases/connect-db/cloud-databases/aws-aurora.mdx
  docs/docs/databases/connect-db/cloud-databases/aws-postgres.mdx
  docs/docs/databases/connect-db/cloud-databases/azure.mdx
  docs/docs/databases/connect-db/cloud-databases/crunchy.mdx
  docs/docs/databases/connect-db/cloud-databases/digital-ocean.mdx
  docs/docs/databases/connect-db/cloud-databases/enterprisedb.mdx
  docs/docs/databases/connect-db/cloud-databases/gcp.mdx
  docs/docs/databases/connect-db/cloud-databases/railway.mdx
  docs/docs/databases/connect-db/cloud-databases/render.mdx
  docs/docs/databases/connect-db/cloud-databases/supabase.mdx
  docs/docs/databases/connect-db/cloud-databases/timescale-cloud.mdx
  docs/docs/databases/connect-db/cloud-databases/yugabyte.mdx
Owners: @hasura/hge-docs-owners

tests: NoQueriesAvailable fix for CockroachDB
  server/tests-hspec/Test/Queries/Simple/NoQueriesAvailableSpec.hs
Owners: @hasura/hge-server

console: enhance onboarding query dialog UI
  console/src/features/OnboardingWizard/components/QueryDialog/QueryDialog.tsx
  console/src/new-components/Dialog/Dialog.tsx
Owners: @hasura/hge-console-owners

console: show template summary in a modal after sample template has been installed in Neon onboarding
  console/src/features/OnboardingWizard/Root.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.stories.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/NeonOnboarding.tsx
  console/src/features/OnboardingWizard/components/QueryDialog/QueryDialog.stories.tsx
  console/src/features/OnboardingWizard/components/QueryDialog/QueryDialog.tsx
  console/src/features/OnboardingWizard/components/QueryDialog/TemplateSummary.tsx
  console/src/features/OnboardingWizard/components/index.ts
  console/src/features/OnboardingWizard/constants.ts
  console/src/features/OnboardingWizard/hooks/useInstallMetadata.ts
  console/src/features/OnboardingWizard/hooks/useInstallMigration.ts
  console/src/features/OnboardingWizard/hooks/useInstallTemplate.ts
  console/src/features/OnboardingWizard/hooks/usePrefetchNeonOnboardingTemplateData.ts
  console/src/features/OnboardingWizard/hooks/useWizardState.ts
  console/src/features/OnboardingWizard/hooks/utils.ts
  console/src/features/OnboardingWizard/utils.ts
  console/src/features/TracingTools/sentry/core/captureException.ts
Owners: @hasura/hge-console-owners

console: removing the existing onboarding with neon launch
  console/src/components/Common/Onboarding/index.tsx
Owners: @hasura/hge-console-owners

console: disable url field on view remote schema page
  console/src/features/RemoteSchema/components/Details/RemoteSchemaDetails.tsx
Owners: @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
