Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server: streaming subscriptions v1 (docs only)
  CHANGELOG.md
  docs-old/graphql/core/databases/postgres/subscriptions/index.rst
  docs-old/graphql/core/deployment/graphql-engine-flags/reference.rst
  docs/graphql/core/databases/postgres/subscriptions/livequery/execution-and-performance.rst
  docs/graphql/core/databases/postgres/subscriptions/livequery/index.rst
  docs/graphql/core/databases/postgres/subscriptions/livequery/use-cases.rst
  docs/graphql/core/databases/postgres/subscriptions/streaming/index.rst
  docs/graphql/core/databases/postgres/subscriptions/streaming/use-cases.rst
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

Remove `HasSystemDefined`.
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/Server/Migrate.hs
Owners: @hasura/hge-server

console: add db to local relationship widget
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/ManualRelationshipSelector.js
  console/src/features/Data/components/DatabaseSelector/DatabaseSelector.tsx
  console/src/features/Data/components/DatabaseSelector/Select.tsx
  console/src/features/DataRelationships/DatabaseRelationshipsTab.stories.tsx
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/DataRelationships/components/Form/Form.stories.tsx
  console/src/features/DataRelationships/components/Form/Form.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/FormElements.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/LocalRelationshipWidget.stories.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/LocalRelationshipWidget.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/hooks/index.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/index.tsx
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/schema.ts
  console/src/features/DataRelationships/hooks/index.ts
  console/src/features/DataRelationships/hooks/stories/createRemoteDatabaseRelationships.stories.tsx
  console/src/features/DataRelationships/hooks/stories/deleteRemoteDatabaseRelationship.stories.tsx
  console/src/features/DataRelationships/hooks/stories/updateRemoteDatabaseRelationship.stories.tsx
  console/src/features/DataRelationships/hooks/stories/useRemoteDatabaseRelationships.stories.tsx
  console/src/features/DataRelationships/index.ts
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/handlers.mock.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/metadata.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/tables.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/FormElements.tsx
  console/src/features/SqlQueries/index.ts
Owners: @hasura/hge-console-owners

Update hspec documentation for TestEnvironment
  server/tests-hspec/README.md
Owners: @hasura/hge-server

Cut ties with `RQL.DML.Internal`
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Prepare.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Column.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
Owners: @hasura/hge-server

cli: avoid exporting hasura-specific schemas during hasura init
  CHANGELOG.md
  cli/Makefile
  cli/cli.go
  cli/commands/init.go
  cli/commands/init_test.go
  cli/commands/migrate_create.go
  cli/migrate/database/driver_test.go
  cli/migrate/database/hasuradb/schema_dump.go
  cli/migrate/database/schema_dump.go
  cli/migrate/migrate.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

Simplify `getRolePermInfo`
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
Owners: @hasura/hge-server

console: bug fixes for RS-to-RS relationships
  CHANGELOG.md
  console/src/components/Services/RemoteSchema/Relationships/RemoteSchemaRelationRenderer.tsx
  console/src/features/MetadataAPI/hooks/useMetadataMigration.ts
  console/src/features/MetadataAPI/hooks/utils.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/RelationshipsTable/RemoteSchemaRelationshipsTable.tsx
  console/src/features/RelationshipsTable/components/FromRsCell.tsx
  console/src/features/RelationshipsTable/components/RelationshipDestinationCell.tsx
  console/src/features/RelationshipsTable/components/SourceColumnCell.tsx
  console/src/features/RelationshipsTable/components/TableCell.tsx
  console/src/features/RelationshipsTable/components/ToRsCell.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/FormElements.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/FormElements.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/RemoteSchemaToRemoteSchemaForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server/mssql: avoid encoding varchar values while generating SQL
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Constants.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/SQL/Value.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/tests-hspec/Harness/Quoter/Yaml.hs
  server/tests-hspec/Test/SQLServer/InsertVarcharColumnSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Added BackendConfig to allow sources to share configuration of Data Connectors [GDW-78]
  server/graphql-engine.cabal
  server/src-lib/Data/Aeson/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/API.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Types.hs
  server/src-lib/Hasura/Backends/DataWrapper/Agent/Client.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Base/Error.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/SQL/Backend.hs
  server/src-lib/Hasura/SQL/BackendMap.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/Migrate.hs
Owners: @hasura/hge-server

Implements TestGraphQLBasicCommon tests using hspec
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Test/Schema.hs
  server/tests-hspec/Test/BasicFieldsSpec.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/NestedRelationshipsSpec.hs
  server/tests-hspec/Test/RequestHeadersSpec.hs
  server/tests-hspec/Test/SelectSpec.hs
  server/tests-hspec/Test/WhereSpec.hs
Owners: @hasura/hge-server

docs: add multiple admin secrets and multiple jwt secrets pages
  docs/docs/graphql/cloud/security/index.mdx
  docs/docs/graphql/cloud/security/multiple-admin-secrets.mdx
  docs/docs/graphql/cloud/security/multiple-jwt-secrets.mdx
  docs/docs/graphql/cloud/security/mutiple-jwt-secrets.mdx.wip
  docs/docs/graphql/cloud/security/rotating-admin-secrets.mdx.wip
Owners: @hasura/hge-docs-owners

Data Connector Agent Configuration Schema [GDW-103]
  server/graphql-engine.cabal
  server/src-dc-api/Hasura/Backends/DataConnector/API.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/API.hs
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/ConfigSchema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ConfigSchemaSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0Spec.hs
  server/tests-dc-api/Main.hs
  server/tests-dc-api/Test/ConfigSchemaSpec.hs
Owners: @hasura/hge-server

console: new "add remote schema" page (with GQL customization)
  CHANGELOG.md
  console/package-lock.json
  console/package.json
  console/src/components/Services/RemoteSchema/Add/Add.js
  console/src/features/FeatureFlags/availableFeatureFlags.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/RemoteSchema/components/Create/Create.stories.tsx
  console/src/features/RemoteSchema/components/Create/Create.tsx
  console/src/features/RemoteSchema/components/Create/index.ts
  console/src/features/RemoteSchema/components/Create/mocks/handlers.mock.ts
  console/src/features/RemoteSchema/components/Create/schema.ts
  console/src/features/RemoteSchema/components/Create/utils.ts
  console/src/features/RemoteSchema/components/Headers/Headers.tsx
  console/src/features/RemoteSchema/components/Headers/index.ts
  console/src/features/RemoteSchema/components/Headers/schema.ts
  console/src/features/RemoteSchema/index.ts
  console/src/new-components/Button/Button.tsx
  console/src/new-components/Form/InputField.tsx
  console/src/theme/legacy-boostrap.css
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

console: fix console crash on adding pg sources with connection params
  CHANGELOG.md
  console/src/components/Services/Data/DataSources/ConnectDatabase.tsx
  console/src/components/Services/Data/DataSources/state.ts
  console/src/components/Services/Data/DataSources/utils.ts
  console/src/metadata/actions.ts
  console/src/metadata/selector.ts
  console/src/metadata/sourcesUtils.ts
  console/src/metadata/types.ts
  console/src/metadata/utils.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

ci: avoid build failure when short commit SHA contains only numbers
  scripts/get-version.sh
Owners: @hasura/hge-changelog-owners

server: update pg-client-hs version
  cabal.project
Owners: @hasura/hge-changelog-owners

Remove unused `schema.graphql` resource
  server/src-rsr/schema.graphql
Owners: @hasura/hge-server

CON-125-update-the-relationships-table-component-to-use-the-metadata-selector
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/RemoteDbRelationships.tsx
  console/src/features/DataRelationships/hooks/stories/useRemoteDatabaseRelationships.stories.tsx
  console/src/features/MetadataAPI/__tests__/metadataTransformers/__fixtures__/dbToRemoteSchemaRelationships.ts
  console/src/features/MetadataAPI/__tests__/metadataTransformers/metadataTransformers.test.tsx
  console/src/features/MetadataAPI/__tests__/useRemoteDatabaseRelationships.test.tsx
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/metadataTransformers.ts
  console/src/features/MetadataAPI/hooks/useMetadataRemoteRelationships.ts
  console/src/features/MetadataAPI/hooks/useMetadataTables.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/DatabaseRelationshipTable.stories.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/DatabaseRelationshipTable.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/DestinationRelationshipCell.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/ModifyActions.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/SourceRelationshipsCell.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/TableRowIcon.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/components/index.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/index.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/mocks/index.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/types.ts
  console/src/features/RelationshipsTable/RelationshipsTable.stories.tsx
  console/src/features/RelationshipsTable/RelationshipsTable.tsx
  console/src/features/RelationshipsTable/components/RelationshipSourceCell.tsx
  console/src/features/RelationshipsTable/index.ts
Owners: @hasura/hge-console-owners

server/postgres + server/mssql: Insert empty objects with default values
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/tests-hspec/Test/InsertDefaultsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Default SourceMetadata's kind to Postgres Vanilla
  CHANGELOG.md
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/tests-py/test_metadata.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

move action IR types to IR.Actions module
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/IR/Action.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
Owners: @hasura/hge-server

Remove explicit case on the backend tag in Cache
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-server

docs: add SSL setup to cloud GCP Postgres guide
  docs/docs/graphql/cloud/getting-started/cloud-databases/gcp.mdx
  docs/static/img/graphql/cloud/cloud-dbs/gcp/cloud-gcp-env-vars.png
  docs/static/img/graphql/cloud/cloud-dbs/gcp/ssl-config-setup.png
  docs/static/img/graphql/cloud/cloud-dbs/gcp/update-connection-button.png
Owners: @hasura/hge-docs-owners

server: Clean up some `deriving` statements
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Tracing.hs
Owners: @hasura/hge-server

replace SQLOperator with ScalarSelectionArguments
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
Owners: @hasura/hge-server

docs: add another FAQ to project hibernation
  docs/docs/graphql/cloud/projects/hibernation.mdx
Owners: @hasura/hge-docs-owners

CON-161-Swap to react icons in the events + actions tab
  console/src/components/Services/Actions/Common/components/ActionEditor.tsx
  console/src/components/Services/Actions/Common/components/Tooltip.js
  console/src/components/Services/Actions/Permissions/Permissions.js
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Actions/Sidebar/LeftSidebar.js
  console/src/components/Services/Events/Common/Components/EventsTable.tsx
  console/src/components/Services/Events/Common/Components/ExpanderButton.tsx
  console/src/components/Services/Events/EventTriggers/InvokeManualTrigger/InvokeManualTrigger.js
Owners: @hasura/hge-console-owners

docs: Add Debugging section for hspec
  server/tests-hspec/README.md
Owners: @hasura/hge-server

server: further improve anybackend module docs
  server/src-lib/Hasura/SQL/AnyBackend.hs
Owners: @hasura/hge-server

ci: tag release for v2.6.2 and v2.7.0-beta.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Unify hspec test for SelectSpec and DirectiveSpec
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Yaml.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/PrimaryKeySpec.hs
Owners: @hasura/hge-server

Fix Postgres not padding timestamps correctly (fix hasura/graphql-engine#8096)
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
  server/tests-hspec/Test/PostgresTypesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: Added DataDog trace documentation for Cloud
  docs/docs/graphql/cloud/metrics/integrations/datadog.mdx
  docs/static/img/graphql/cloud/metrics/datadog-trace-flame-graph.png
Owners: @hasura/hge-docs-owners

CON-160-Swap to react icons in the data tab
  console/src/components/Common/Tooltip/Tooltip.tsx
  console/src/components/Services/Data/Add/TableColumn.js
  console/src/components/Services/Data/Common/Components/ForeignKeySelector.js
  console/src/components/Services/Data/Common/Components/PrimaryKeySelector.js
  console/src/components/Services/Data/Common/Components/UniqueKeySelector.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/DBCreation.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/StatusIcon.tsx
  console/src/components/Services/Data/DataSources/ReadReplicaForm.tsx
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/FeatureDisabled.tsx
  console/src/components/Services/Data/Function/Modify/FunctionCommentEditor.tsx
  console/src/components/Services/Data/Function/Permission/PermissionsEditor/index.tsx
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/PermissionsSummary/RolesHeader.tsx
  console/src/components/Services/Data/Schema/CollapsibleToggle.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryModal.tsx
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryTable.tsx
  console/src/components/Services/Data/SourceView.tsx
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableModify/IndexFieldsEditor.tsx
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/PartitionInfo.tsx
  console/src/components/Services/Data/TableModify/TableCommentEditor.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/ManualRelationshipSelector.js
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/ManualRelationshipSelector.js
  console/src/components/Services/Data/TreeView.tsx
Owners: @hasura/hge-console-owners

CON-128-filter out scalar type from source type for RS-to-RS relationships
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__tests__/utils.test.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/utils.ts
Owners: @hasura/hge-console-owners

server: do not serialize env vars in logs or errors: PR II - Actions
  .circleci/test-server.sh
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/IR/Action.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/tests-py/queries/actions/timeout/schema_setup.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[docs] Document the hibernation of free projects that are unused
  docs/docs/graphql/cloud/projects/hibernation.mdx
  docs/static/img/graphql/cloud/projects/reactivation-collaborator.png
  docs/static/img/graphql/cloud/projects/reactivation-owner.png
Owners: @hasura/hge-docs-owners

CON-162-Swap to react icons in the remote schemas + settings + feature flag
  console/src/components/Services/RemoteSchema/Common/Common.js
  console/src/components/Services/RemoteSchema/Common/GraphQLCustomization/FieldNames.tsx
  console/src/components/Services/RemoteSchema/Common/GraphQLCustomization/GraphQLCustomizationEdit.tsx
  console/src/components/Services/RemoteSchema/Common/GraphQLCustomization/TypeMapping.tsx
  console/src/components/Services/RemoteSchema/Permissions/PermissionsTable.tsx
  console/src/components/Services/RemoteSchema/RemoteSchemaSubSidebar.js
  console/src/components/Services/Settings/About/About.tsx
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/features/FeatureFlags/components/FeatureFlagToast/FeatureFlagToast.tsx
Owners: @hasura/hge-console-owners

[CON-209] Fix regression with ExpandButton icon on Browse rows
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Owners: @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
