Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

refactor(cleanup): extract interpolated query
  server/graphql-engine.cabal
  server/src-lib/Hasura/NativeQuery/InterpolatedQuery.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/StoredProcedure/API.hs
  server/src-lib/Hasura/StoredProcedure/Cache.hs
  server/src-lib/Hasura/StoredProcedure/IR.hs
  server/src-lib/Hasura/StoredProcedure/Metadata.hs
  server/src-lib/Hasura/StoredProcedure/Schema.hs
Owners: @hasura/hge-server

Stored Procedures schema parsers and codegen
  scripts/make/tests.mk
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add documentation for `*_get_source_tables`
  docs/docs/api-reference/metadata-api/index.mdx
  docs/docs/api-reference/metadata-api/source.mdx
Owners: @hasura/hge-docs-owners

docs: add mariadb to ee overview
  docs/docs/enterprise/overview.mdx
Owners: @hasura/hge-docs-owners

Docs: Credential Security
  docs/docs/deployment/production-checklist.mdx
  docs/docs/policies/overview.mdx
  docs/docs/policies/privacy.mdx
Owners: @hasura/hge-docs-owners

server: respect `X-B3-Sampled` header when `X-B3-TraceId` is not present
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

docs: change in usecase title
  docs/docs/resources/use-case/api-gateway.mdx
  docs/docs/resources/use-case/data-api.mdx
  docs/docs/resources/use-case/overview.mdx
Owners: @hasura/hge-docs-owners

Docs: Add a guide on subscriptions multiplexing
  docs/docs/subscriptions/postgres/livequery/execution-and-performance.mdx
Owners: @hasura/hge-docs-owners

docs: add admonition for db-access to use cases
  docs/docs/resources/use-case/data-api.mdx
Owners: @hasura/hge-docs-owners

console: Remove Data Federation from usecase onboarding
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
Owners: @hasura/hge-changelog-owners

chore(refactor): rename NativeQueryArgumentName to ArgumentName
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Cache.hs
  server/src-lib/Hasura/NativeQuery/IR.hs
  server/src-lib/Hasura/NativeQuery/InterpolatedQuery.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/StoredProcedure/API.hs
  server/src-lib/Hasura/StoredProcedure/Cache.hs
  server/src-lib/Hasura/StoredProcedure/IR.hs
  server/src-lib/Hasura/StoredProcedure/Metadata.hs
  server/src-lib/Hasura/StoredProcedure/Schema.hs
  server/src-test/Hasura/Backends/Postgres/NativeQueries/NativeQueriesSpec.hs
Owners: @hasura/hge-server

Update documentation for main.
  server/haddock/main/Hasura-NativeQuery-API.html
  server/haddock/main/Hasura-NativeQuery-Cache.html
  server/haddock/main/Hasura-NativeQuery-IR.html
  server/haddock/main/Hasura-NativeQuery-InterpolatedQuery.html
  server/haddock/main/Hasura-NativeQuery-Lenses.html
  server/haddock/main/Hasura-NativeQuery-Metadata.html
  server/haddock/main/Hasura-StoredProcedure-API.html
  server/haddock/main/Hasura-StoredProcedure-Cache.html
  server/haddock/main/Hasura-StoredProcedure-IR.html
  server/haddock/main/Hasura-StoredProcedure-Lenses.html
  server/haddock/main/Hasura-StoredProcedure-Metadata.html
  server/haddock/main/doc-index-A.html
  server/haddock/main/doc-index-All.html
  server/haddock/main/doc-index-G.html
  server/haddock/main/doc-index-N.html
  server/haddock/main/doc-index.json
  server/haddock/main/graphql-engine.haddock
  server/haddock/main/graphql-engine.txt
  server/haddock/main/src/Hasura.Backends.BigQuery.FromIr.html
  server/haddock/main/src/Hasura.Backends.Postgres.Instances.NativeQueries.html
  server/haddock/main/src/Hasura.NativeQuery.API.html
  server/haddock/main/src/Hasura.NativeQuery.Cache.html
  server/haddock/main/src/Hasura.NativeQuery.IR.html
  server/haddock/main/src/Hasura.NativeQuery.InterpolatedQuery.html
  server/haddock/main/src/Hasura.NativeQuery.Metadata.html
  server/haddock/main/src/Hasura.NativeQuery.Schema.html
  server/haddock/main/src/Hasura.RQL.DDL.Schema.Cache.html
  server/haddock/main/src/Hasura.Server.Telemetry.html
  server/haddock/main/src/Hasura.StoredProcedure.API.html
  server/haddock/main/src/Hasura.StoredProcedure.Cache.html
  server/haddock/main/src/Hasura.StoredProcedure.IR.html
  server/haddock/main/src/Hasura.StoredProcedure.Metadata.html
  server/haddock/main/src/Hasura.StoredProcedure.Schema.html
Owners: @hasura/hge-server

Refer to a stored procedure by name in commands interface
  metadata.openapi.json
  server/lib/test-harness/src/Harness/Schema/StoredProcedure.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/StoredProcedure/API.hs
  server/src-lib/Hasura/StoredProcedure/Cache.hs
  server/src-lib/Hasura/StoredProcedure/IR.hs
  server/src-lib/Hasura/StoredProcedure/Lenses.hs
  server/src-lib/Hasura/StoredProcedure/Metadata.hs
  server/src-lib/Hasura/StoredProcedure/Schema.hs
  server/src-lib/Hasura/StoredProcedure/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/multitenant: accept connection parameters for introspection storage database
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
Owners: @hasura/hge-server

console: use metadata api to fetch event trigger
  frontend/libs/console/legacy-ce/src/lib/components/Common/FilterQuery/state.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/Common/Components/EventsSubTable.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/Common/Components/EventsTable.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/Common/Components/InvocationLogsTable.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/Common/Components/RedeliverEvent.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Add/CreateETForm.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/utils.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/ServerIO.ts
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/mssql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/__tests__/__snapshots__/postgresql.test.ts.snap
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/__tests__/postgresql.test.ts
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/sqlUtils.ts
  frontend/libs/console/legacy-ce/src/lib/metadata/queryUtils.ts
Owners: @hasura/hge-changelog-owners

Reimplement MySQL/MariaDB dataset support in the Super Connector and enable mutation API tests in CI
  server/lib/dc-api/test/Test/AgentDatasets.hs
Owners: @hasura/hge-server

console: Remove Data Federation from usecase onboarding
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
Owners: @hasura/hge-changelog-owners

console: Add use case fields in ee trial registration form
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ActivateEEForm/Form/Form.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ActivateEEForm/Form/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ActivateEEForm/Form/useRegisterEETrial.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/constants.ts
Owners: @hasura/hge-changelog-owners

server: improve logging around HTTP Exception errors for Actions and Remote Schemas
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/HTTP.hs
Owners: @hasura/hge-server

ci: tag release v2.25.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Update docs for rotating admin secret for Cloud
  docs/docs/glossary.mdx
  docs/docs/security/multiple-admin-secrets.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.25.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

chore(refactor): extract common functionality between stored procedures and native queries
  server/graphql-engine.cabal
  server/src-lib/Hasura/LogicalModelResolver/Codec.hs
  server/src-lib/Hasura/LogicalModelResolver/Schema.hs
  server/src-lib/Hasura/LogicalModelResolver/Types.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/InterpolatedQuery.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-lib/Hasura/StoredProcedure/API.hs
  server/src-lib/Hasura/StoredProcedure/Metadata.hs
  server/src-lib/Hasura/StoredProcedure/Schema.hs
  server/src-lib/Hasura/StoredProcedure/Types.hs
Owners: @hasura/hge-server

fix: Properly scope root-table references in relations
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Queries/Relationship/PermissionRootReferenceSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/Common.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Expression.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-test/Hasura/RQL/IR/Generator.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/column_comparison_across_tables.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/values_setup.yaml
Owners: @hasura/hge-server

console: : e2e testing for one-off scheduled triggers
  frontend/apps/console-ce-e2e/src/e2e/one-off-scheduled-triggers/scheduled-event.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/FilterQuery/FilterQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Common/FilterQuery/state.ts
Owners: @hasura/hge-changelog-owners

Docs: Add user ID for upcoming chatbot
  docs/package.json
  docs/src/components/CustomFooter/index.tsx
  docs/yarn.lock
Owners: @hasura/hge-docs-owners

console: Add use case fields in ee trial registration form (hotfix v2.24)
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ActivateEEForm/Form/Form.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ActivateEEForm/Form/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ActivateEEForm/Form/useRegisterEETrial.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/constants.ts
Owners: @hasura/hge-changelog-owners

console: Show use case popup post onboarding (hotfix v2.24)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/hooks/useWizardState.ts
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
  frontend/libs/console/legacy-ee/src/lib/components/Main/ExploreUseCasePopup.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
Owners: @hasura/hge-changelog-owners

console: fix scheduled events event log table (hotfix v2.25)
  frontend/apps/console-ce-e2e/src/e2e/one-off-scheduled-triggers/scheduled-event.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/FilterQuery/FilterQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Common/FilterQuery/state.ts
Owners: @hasura/hge-changelog-owners

Docs: Small Changes 5
  docs/docs/actions/overview.mdx
  docs/docs/api-reference/overview.mdx
  docs/docs/auth/overview.mdx
  docs/docs/caching/overview.mdx
  docs/docs/data-federation/overview.mdx
  docs/docs/databases/athena/_category_.json
  docs/docs/databases/overview.mdx
  docs/docs/databases/snowflake/_category_.json
  docs/docs/deployment/overview.mdx
  docs/docs/enterprise/overview.mdx
  docs/docs/event-triggers/overview.mdx
  docs/docs/getting-started/overview.mdx
  docs/docs/hasura-cli/overview.mdx
  docs/docs/hasura-cloud/overview.mdx
  docs/docs/index.mdx
  docs/docs/migrations-metadata-seeds/overview.mdx
  docs/docs/mutations/overview.mdx
  docs/docs/observability/overview.mdx
  docs/docs/queries/overview.mdx
  docs/docs/remote-schemas/overview.mdx
  docs/docs/restified/overview.mdx
  docs/docs/scheduled-triggers/overview.mdx
  docs/docs/schema/overview.mdx
  docs/docs/security/overview.mdx
  docs/docs/subscriptions/overview.mdx
Owners: @hasura/hge-docs-owners

api-tests: Fix the error messages to match those reported by Citus v11.3.0.
  .circleci/config.yml
  cli/internal/testutil/testutil.go
  docker-compose/databases.yaml
  scripts/containers/citus
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/PortedFromPytest/TestGraphQLQueryBasicCitus.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-server

docs: refactor metrics table for EE
  docs/docs/enterprise/metrics.mdx
Owners: @hasura/hge-docs-owners

Docs: New What's New Notification
  docs/docusaurus.config.js
  docs/src/components/HasuraReleaseNotification/HasuraReleaseNotification.tsx
  docs/src/components/HasuraReleaseNotification/styles.css
  docs/src/theme/DocItem/Footer/index.js
Owners: @hasura/hge-docs-owners

feat(postgres data connector): Adding initial support for /Schema
  scripts/make/run.mk
  scripts/make/test-infrastructure.mk
  scripts/make/tests.mk
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Add IDs for tracking clicks on buttons during one click deploy
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/ErrorBox.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/LinkButton.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/CustomFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.tsx
Owners: @hasura/hge-changelog-owners

Upgrade Citus to v11.3.0 in tests.
  .circleci/config.yml
  cli/internal/testutil/testutil.go
  docker-compose/databases.yaml
  scripts/containers/citus
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-server

console: Add IDs for tracking clicks on buttons during one click deploy (hotfix v2.25)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/ErrorBox.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/LinkButton.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/CustomFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.tsx
Owners: @hasura/hge-changelog-owners

Update documentation for main.
  server/haddock/main/Hasura-Backends-Postgres-Instances-Metadata.html
  server/haddock/main/Hasura-RQL-Types-Metadata-Backend.html
  server/haddock/main/src/Hasura.Backends.Postgres.Instances.Metadata.html
Owners: @hasura/hge-server

Remove feature flag on logical models
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/NativeQueriesSpec.hs
  server/src-lib/Hasura/LogicalModel/API.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
Owners: @hasura/hge-server

console: Add IDs for tracking clicks on buttons during one click deploy (hotfix v2.24)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/ErrorBox.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/LinkButton.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/CustomFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.tsx
Owners: @hasura/hge-changelog-owners
