Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk

fix sql to check for FK constraint ref_table is tracked or not
  console/src/components/Services/Data/TableRelationships/autoRelations.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

evaluate dependencies for column operators in permissions, fix #2054
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
Owners: @0x777

WIP
  console/src/components/Services/Data/Add/TableColumn.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyTable.scss
Owners: @rikinsk

add tests
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/graphql_query/permissions/teardown.yaml
  server/tests-py/queries/graphql_query/permissions/user_query_auction.yaml
  server/tests-py/queries/v1/select/permissions/setup.yaml
  server/tests-py/queries/v1/select/permissions/teardown.yaml
  server/tests-py/queries/v1/select/permissions/user_query_auction.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Owners: @0x777

add google analytics
  community/learn/graphql-tutorials/backend-services/graphiql/static/index.html
  community/learn/graphql-tutorials/backend-services/homepage/gatsby-config.js
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

removes ga for gatsby
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

update ga
  community/learn/graphql-tutorials/backend-services/homepage/gatsby-config.js
  community/learn/graphql-tutorials/backend-services/homepage/package-lock.json
  community/learn/graphql-tutorials/backend-services/homepage/package.json
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

add link to homepage
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Twist.js
Owners: @shahidhk

merges new ga code
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
Owners: @shahidhk

Redirects learn.hasura.io to learn.hasura.io/graphql/react/introduction
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
Owners: @shahidhk

removes / redirect rule
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
Owners: @shahidhk

testing: adds redirect rule for / again
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
Owners: @shahidhk

add variable name to the path when there is an error, closes #2050 (#2051)
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_area_less_than_4_points_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_geometry_unexpected_type_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_landmark_single_position_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_linear_ring_last_point_not_equal_to_first_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_road_single_point_err.yaml
Owners: @0x777

fix validation of null values, closes #1981
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/tests-py/queries/graphql_validation/null_value_err.yaml
  server/tests-py/queries/graphql_validation/null_variable_value_err.yaml
  server/tests-py/queries/graphql_validation/setup.yaml
  server/tests-py/queries/graphql_validation/teardown.yaml
  server/tests-py/super_classes.py
  server/tests-py/test_validation.py
Owners: @0x777

add order by clause in unnest sub query
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
Owners: @0x777

make log level to 'info' when no inconsistent metadata objects, fix #2053
  server/src-lib/Hasura/Server/Init.hs
Owners: @0x777

log inconsistent metadata objects only when there are
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/Init.hs
Owners: @0x777

fix console bugs (close #2030, #2032, #226) (#2044)
  console/cypress/helpers/dataHelpers.js
  console/src/components/Services/CommonLanding/TryItOut.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Common/DataTypes.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/Common/DataTypes.js
  console/src/constants.js
Owners: @rikinsk

twitter card, content and link fixes
  community/learn/graphql-tutorials/backend-services/homepage/assets/gatsby-postgres-graphql.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/hasura-dumbledore.png
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/twitter-share.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/Header.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

fix validation of null values, closes #1981 (#2057)
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/tests-py/queries/graphql_validation/null_value_err.yaml
  server/tests-py/queries/graphql_validation/null_variable_value_err.yaml
  server/tests-py/queries/graphql_validation/setup.yaml
  server/tests-py/queries/graphql_validation/teardown.yaml
  server/tests-py/super_classes.py
  server/tests-py/test_validation.py
Owners: @0x777

add business logic page
  docs/graphql/manual/business-logic/index.rst
  docs/graphql/manual/index.rst
Owners: @rikinsk

update twitter tag
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

clarify permission rule granularity and simplify nested object rule content in permissions reference
  docs/graphql/manual/auth/common-roles-auth-examples.rst
  docs/graphql/manual/auth/reference-permissions.rst
  docs/img/graphql/manual/auth/nested-object-permission-simple-example.png
  docs/img/graphql/manual/auth/permission-rule-granularity.png
Owners: @rikinsk

added layout component
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
Owners: @shahidhk

update api refernce docs
  docs/graphql/manual/api-reference/graphql-api/index.rst
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/api-reference/pgdump.rst
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
Owners: @rikinsk

added pgdump sample response
  docs/graphql/manual/api-reference/pgdump.rst
Owners: @rikinsk

add rolling update and fix initial load flickr
  community/learn/graphql-tutorials/manifests/caddy.yaml
  community/learn/graphql-tutorials/manifests/graphiql.yaml
  community/learn/graphql-tutorials/manifests/homepage.yaml
  community/learn/graphql-tutorials/manifests/react-apollo.yaml
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
Owners: @shahidhk

compute dependencies for column operators in permissions (close #2054) (#2055)
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/graphql_query/permissions/teardown.yaml
  server/tests-py/queries/graphql_query/permissions/user_query_auction.yaml
  server/tests-py/queries/v1/select/permissions/setup.yaml
  server/tests-py/queries/v1/select/permissions/teardown.yaml
  server/tests-py/queries/v1/select/permissions/user_query_auction.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Owners: @0x777

update brand assets
  README.md
  assets/brand/README.md
  assets/brand/hasura_icon_black_200px.png
  assets/brand/hasura_icon_blue.svg
  assets/brand/hasura_icon_white_200px.png
  assets/brand/hasura_logo_horizontal_black_200px.png
  assets/brand/hasura_logo_horizontal_blue.svg
  assets/brand/hasura_logo_horizontal_white_200px.png
  assets/brand/hasura_logo_vertical_black_200px.png
  assets/brand/hasura_logo_vertical_blue.svg
  assets/brand/hasura_logo_vertical_white_200px.png
  assets/brand/hasura_mascot_200px.png
  assets/brand/hasura_mascot_logo_horizontal_200px.png
  assets/brand/hasura_mascot_logo_vertical_200px.png
  assets/brand/powered_by_hasura_black_200px.png
  assets/brand/powered_by_hasura_blue.svg
  assets/brand/powered_by_hasura_white_200px.png
  scripts/generate_brand_assets_readme.sh
Owners: @shahidhk

update access-key and readme
  community/learn/graphql-tutorials/README.md
  community/learn/graphql-tutorials/backend-services/auth0/auth0_post_user_registration_hook.js
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/ApiRequest.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/ChooseTechnology.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/TopBanner.js
Owners: @shahidhk

update readme
  community/learn/graphql-tutorials/tutorials/react-apollo/app-boilerplate/README.md
  community/learn/graphql-tutorials/tutorials/react-apollo/app-final/README.md
Owners: @shahidhk

update readme
  community/learn/graphql-tutorials/README.md
Owners: @shahidhk

Update README.md
  community/learn/graphql-tutorials/README.md
Owners: @shahidhk

update readme
  community/README.md
Owners: @shahidhk

Move fetch column list to table reducer
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/utils.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

update readme and remove metadata
  community/learn/graphql-tutorials/backend-services/graphiql/README.md
  community/learn/graphql-tutorials/backend-services/hasura/README.md
  community/learn/graphql-tutorials/backend-services/hasura/migrations/metadata.yaml
  community/learn/graphql-tutorials/backend-services/homepage/README.md
Owners: @shahidhk

Move fetch column type casts info to redux
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/utils.js
Owners: @rikinsk

content fixes v1
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
Owners: @shahidhk

Change modify table tests to work with the SearchableInputBox
  console/cypress/helpers/dataHelpers.js
  console/cypress/integration/data/modify/spec.js
Owners: @rikinsk

fix content right sidebar
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/rightSidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
Owners: @shahidhk
