Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

console: update connection settings UI on connect db page [CON-273]
  console/src/components/Common/LabeledInput/index.tsx
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/DataSources/DataSources.scss
Owners: @hasura/hge-console-owners

console: hide hdb_catalog from data section sidebar for SQL Server DB
  console/src/dataSources/services/mssql/index.tsx
Owners: @hasura/hge-console-owners

server: Use plain assertions in pytest.
  scripts/dev.sh
  server/tests-py/conftest.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console, pro-console: allow trying sample read-only database in cloud console
  console/exports/main.js
  console/src/Globals.ts
  console/src/components/App/Actions.js
  console/src/components/Common/Onboarding/index.tsx
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Main/State.ts
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
  console/src/components/Services/Data/DataSources/ConnectDatabase.tsx
  console/src/components/Services/Data/DataSources/SampleDatabase/ReduxState.ts
  console/src/components/Services/Data/DataSources/SampleDatabase/SampleDBBanner.tsx
  console/src/components/Services/Data/DataSources/SampleDatabase/SampleDBButton.tsx
  console/src/components/Services/Data/DataSources/SampleDatabase/SampleDBSection.tsx
  console/src/components/Services/Data/DataSources/SampleDatabase/__tests__/service.test.ts
  console/src/components/Services/Data/DataSources/SampleDatabase/index.ts
  console/src/components/Services/Data/DataSources/SampleDatabase/serverIO.ts
  console/src/components/Services/Data/DataSources/SampleDatabase/service.ts
  console/src/utils/requestAction.ts
  console/tailwind.config.js
Owners: @hasura/hge-console-owners

docs : add debug steps for version check error in github integration
  docs/docs/graphql/cloud/projects/github-integration.mdx
Owners: @hasura/hge-docs-owners

docs: Public GraphiQL docs
  docs/docs/graphql/cloud/graphql-api-explorer.mdx
  docs/docs/graphql/cloud/index.mdx
  docs/static/img/graphql/cloud/api-explorer/add-headers_graphql-api-explorer_v1.png
  docs/static/img/graphql/cloud/api-explorer/admin-secret-header_graphql-api-explorer_v1.png
  docs/static/img/graphql/cloud/api-explorer/connect-to-api_graphql-api-explorer_v1.png
  docs/static/img/graphql/cloud/api-explorer/connect-to-existing-api_graphql-api-explorer_v1.png
  docs/static/img/graphql/cloud/api-explorer/share-link_graphql-api-explorer_v1.png
Owners: @hasura/hge-docs-owners

tooling: provide optional `use_ghcup` in `.envrc`
  .envrc.local.example
  .ghcversion
Owners: @hasura/hge-changelog-owners

docs: add hasuracon22 banner
  docs/docusaurus.config.js
  docs/src/css/custom.scss
Owners: @hasura/hge-docs-owners

Docs: move preview apps page from "deployment" section to cloud root
  docs/docs/graphql/cloud/deployment/_category_.json
  docs/docs/graphql/cloud/deployment/index.mdx
  docs/docs/graphql/cloud/deployment/preview-apps-api.mdx
  docs/docs/graphql/cloud/preview-apps.mdx
Owners: @hasura/hge-docs-owners

server: Change `withPath` to take a single pathItem in `MonadParse`
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Parser/Class/Parse.hs
  server/src-lib/Hasura/GraphQL/Parser/Directives.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Relay.hs
  server/src-test/Hasura/GraphQL/Parser/MonadParseTest.hs
  server/src-test/Hasura/GraphQL/Parser/TestUtils.hs
  server/src-test/Main.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

Fixes `asyncActionsFetchIntervalEnv` help message.
  server/src-lib/Hasura/Server/Init.hs
Owners: @hasura/hge-server

feat (console): add connect db UI that works via the data abstraction layer
  console/src/features/ConnectDB/Configuration.tsx
  console/src/features/ConnectDB/Connect.stories.tsx
  console/src/features/ConnectDB/Connect.tsx
  console/src/features/ConnectDB/Driver.tsx
  console/src/features/ConnectDB/Name.tsx
  console/src/features/DataSource/bigquery/connectDB/getUISchema.ts
  console/src/features/DataSource/bigquery/connectDB/getValidationSchema.ts
  console/src/features/DataSource/bigquery/index.ts
  console/src/features/DataSource/citus/connectDB/getUISchema.ts
  console/src/features/DataSource/citus/connectDB/getValidationSchema.ts
  console/src/features/DataSource/citus/index.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/mssql/connectDB/getUISchema.ts
  console/src/features/DataSource/mssql/connectDB/getValidationSchema.ts
  console/src/features/DataSource/mssql/index.ts
  console/src/features/DataSource/postgres/connectDB/getConfigSchema.ts
  console/src/features/DataSource/postgres/connectDB/getUISchema.ts
  console/src/features/DataSource/postgres/connectDB/getValidationSchema.ts
  console/src/features/DataSource/postgres/index.ts
  console/src/features/DataSource/types.ts
  console/src/features/DataSource/utils.ts
  console/src/new-components/Form/InputField.tsx
Owners: @hasura/hge-console-owners

Docs: fix broken link in cloud index
  docs/docs/graphql/cloud/index.mdx
Owners: @hasura/hge-docs-owners

docs: add white space on auth webhook page
  docs/docs/graphql/core/auth/authentication/webhook.mdx
Owners: @hasura/hge-docs-owners

docs: fix typo in event trigger docs
  docs/docs/graphql/core/event-triggers/create-trigger.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.8.3
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: fix tracking items failed error when creating a BigQuery table via the console
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/mergeData.ts
  console/src/dataSources/services/bigquery/index.tsx
Owners: @hasura/hge-console-owners

Support composite primary keys for Data Connector [GDW-127]
  dc-agents/README.md
  dc-agents/reference/src/data/index.ts
  dc-agents/reference/src/types/agent.openapi.json
  dc-agents/reference/src/types/models/TableInfo.ts
  dc-agents/sdk/metadata/metadata-api.json
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Table.hs
  server/src-lib/Data/Sequence/NonEmpty.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/TableSpec.hs
  server/tests-dc-api/Test/Data/schema-tables.json
  server/tests-hspec/Harness/Backend/DataConnector/MockAgent.hs
  server/tests-hspec/Test/DataConnector/QuerySpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Monomorphize Some Hge Options
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
Owners: @hasura/hge-server

Break up `class BackendSchema` in two
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Relay.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
Owners: @hasura/hge-server

server: fix unlockEventsInSource bug
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

tooling: Add `make build...` commands
  Makefile
  scripts/make/build.mk
  scripts/make/lint.mk
  scripts/make/tests.mk
Owners: @hasura/hge-changelog-owners

ci: avoid building centos flavour for oss images
  CHANGELOG.md
  packaging/README.md
  packaging/graphql-engine-base/centos.dockerfile
Owners: @hasura/hge-changelog-owners

server: Remove the Show instance from QErr and anything that touches it.
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Base/Error.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger/Types.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-test/Data/Parser/RemoteRelationshipSpec.hs
  server/src-test/Hasura/Backends/Postgres/Execute/PrepareSpec.hs
  server/src-test/Hasura/Backends/Postgres/SQL/ValueSpec.hs
  server/src-test/Hasura/Base/Error/TestInstances.hs
  server/src-test/Hasura/GraphQL/Parser/MonadParseTest.hs
  server/src-test/Hasura/RQL/Types/CommonSpec.hs
  server/src-test/Hasura/SQL/WKTSpec.hs
  server/src-test/Hasura/StreamingSubscriptionSpec.hs
Owners: @hasura/hge-server

docs: Rename Metrics to Observability
  docs/docs/graphql/cloud/metrics/_category_.json
  docs/docs/graphql/cloud/metrics/index.mdx
Owners: @hasura/hge-docs-owners

console: fix supported features tracking flag not disabling tracking
  console/src/components/Services/Data/RawSQL/RawSQL.js
Owners: @hasura/hge-console-owners

server: Recreate event trigger tests
  server/graphql-engine.cabal
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Harness/Webhook.hs
  server/tests-hspec/Test/EventTriggersRecreationSpec.hs
Owners: @hasura/hge-server

Implement HLint suggestions and turn warnings into errors
  .hlint.yaml
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/ConfigSchema.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship/Validate.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-test/Control/Monad/CircularSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Move postgres specific schema into the Postgres namespace
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
Owners: @hasura/hge-server

server: fix mssql_redeliver_event API
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
Owners: @hasura/hge-server

server: fix `typename` for custom table name with `graphql-default` naming convention
  CHANGELOG.md
  server/src-lib/Data/Text/Casing.hs
  server/tests-py/queries/naming_conventions/field_name_precedence.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: fix mssql getMaintenanceModeTx
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
Owners: @hasura/hge-server

server: respect experimental flag for naming convention of table column names
  .circleci/test-server.sh
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/tests-py/queries/naming_conventions/naming_convention_without_feature_turned_on.yaml
  server/tests-py/test_naming_conventions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Data Connectors: Fixed multiple relationships on the same table not generating correct query
  dc-agents/reference/src/data/index.ts
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/DataConnector/IR/Export.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Relationships.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan.hs
  server/tests-hspec/Harness/Backend/DataConnector/MockAgent.hs
  server/tests-hspec/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: fix missing/wrong `graphql-default` field name transformations
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
Owners: @hasura/hge-server

Added a healthcheck endpoint to the Data Connector Agent API spec
  dc-agents/README.md
  dc-agents/reference/src/index.ts
  dc-agents/reference/src/types/agent.openapi.json
  server/graphql-engine.cabal
  server/src-dc-api/Hasura/Backends/DataConnector/API.hs
  server/tests-dc-api/Main.hs
  server/tests-dc-api/Test/Data/schema-tables.json
  server/tests-dc-api/Test/HealthSpec.hs
  server/tests-hspec/Harness/Backend/DataConnector.hs
  server/tests-hspec/Harness/Backend/DataConnector/MockAgent.hs
  server/tests-hspec/Harness/Http.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Bump version of Kriti to support optional variable lookup in string interpolation - TODO: Remove Cache Workaround
  CHANGELOG.md
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

ci: tag release v2.8.2 and v2.8.2-pro.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add CORS support to the reference agent
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/index.ts
Owners: @hasura/hge-changelog-owners

console: implement new design for naming convention and edit functionality for Graphql Field Customization
  CHANGELOG.md
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/FormRow.tsx
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/GraphQLFieldCustomization.tsx
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/GraphQLFieldCustomizationContainer.tsx
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/NamingConvention.tsx
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/types.ts
  console/src/components/Services/Data/DataSources/__tests__/GraphQLFieldCustomization.spec.tsx
  console/src/components/Services/Data/DataSources/__tests__/GraphQLFieldCustomizationContainer.spec.tsx
  console/src/components/Services/Data/DataSources/state.ts
  console/src/metadata/sourcesUtils.ts
  console/src/metadata/types.ts
  console/src/new-components/CardRadioGroup/CardRadioGroup.tsx
  docs/docs/graphql/core/databases/postgres/schema/naming-convention.mdx
  docs/static/img/graphql/core/schema/naming-convention.png
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
