Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

add `-fsolve-constant-dicts` to local environment
  cabal/dev-sh.project.local
Owners: @hasura/hge-changelog-owners

console: Remove Read Replicas for BigQuery Connections DSF-109
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/ConnectDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/utils/permissions.ts
Owners: @hasura/hge-changelog-owners

chore(server): stricter GHC warnings for libraries
  cabal/dev-sh.project.local
Owners: @hasura/hge-changelog-owners

chore(server): various code cleanups
  server/lib/pg-client/pg-client.cabal
  server/lib/pg-client/src/Database/PG/Query/Class.hs
  server/lib/pg-client/src/Database/PG/Query/Connection.hs
  server/lib/pg-client/src/Database/PG/Query/Listen.hs
  server/lib/pg-client/src/Database/PG/Query/Pool.hs
  server/lib/pg-client/src/Database/PG/Query/Transaction.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/MonadTx.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Server/Migrate/Internal.hs
Owners: @hasura/hge-server

server: webhook auth token caching
  docs/docs/auth/authentication/webhook.mdx
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Hasura/Session.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: add dynamic db routing
  docs/docs/databases/connect-db/dynamic-db-connection.mdx
  docs/static/img/databases/postgres/dynamic-db-routing/add-connection.png
  docs/static/img/databases/postgres/dynamic-db-routing/edit-connection-template.png
  frontend/apps/console-ee-e2e/cypress.config.ts
  frontend/apps/console-ee-e2e/src/e2e/data/dynamicDbRouting/__snapshots__/dynamicDbRouting.e2e.cy.ts.snap
  frontend/apps/console-ee-e2e/src/e2e/data/dynamicDbRouting/dynamicDbRouting.e2e.cy.ts
  frontend/apps/console-ee-e2e/src/support/commands.ts
  frontend/apps/console-ee-e2e/src/support/index.d.ts
  frontend/apps/console-ee-e2e/src/support/tasks/index.ts
  frontend/apps/console-ee-e2e/src/support/tasks/readFileMaybe.ts
  frontend/apps/console-ee-e2e/src/utils/checkMetadataPayload.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/ConnectDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/DynamicDBRouting/ConnectPostgresModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/DynamicDBRouting/DynamicDBRouting.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/DynamicDBRouting/DynamicDBRouting.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/DynamicDBRouting/DynamicDBRoutingForm.tsx
  frontend/libs/console/legacy-ce/src/lib/utils/proConsole.ts
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

console: improving cloud onboarding for non-PG users
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/ConnectDBScreen/components/NeonOnboarding.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/ConnectDBScreen/components/OnboardingAnimation.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/NeonConnectBanner/NeonBanner.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/SelectDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/SelectDatabase.tsx
Owners: @hasura/hge-changelog-owners

console: Support X-Hasura-User-Id for number inputs DSF-162
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInputType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/helpers.ts
Owners: @hasura/hge-changelog-owners

server: codecs for api limits
  metadata.openapi.json
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/RQL/Types/ApiLimit.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: codecs for open telemetry configuration
  metadata.openapi.json
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

super-connector: Mutations support for MySQL
  server/lib/api-tests/src/Test/DataConnector/MetadataApiSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Reference.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Sqlite.hs
Owners: @hasura/hge-server

Fixed queries with no column fields and only introspection fields in Data Connectors
  dc-agents/sqlite/src/query.ts
  server/lib/dc-api/test/Test/Specs/QuerySpec/BasicSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/RelationshipsSpec.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/Common.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/RemoteRelationshipPlan.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: fix bug with `untrack table` option for GDC sources
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/ManageTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/hooks/useUntrackTable.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableName.tsx
Owners: @hasura/hge-changelog-owners

docs: add note on admin secret for cloud one-click-deploy
  docs/docs/hasura-cloud/one-click-deploy/create-one-click-to-deploy-apps.mdx
Owners: @hasura/hge-docs-owners

server: move apollo-federation to GA
  .circleci/test-server.sh
  docs/docs/data-federation/apollo-federation.mdx
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/GraphQL/ApolloFederation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/test-postgres/Constants.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

chore(tests): logical model test helper
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/LogicalModelsQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/SubscriptionsSpec.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
Owners: @hasura/hge-server

multitenant: enhancements to resize pools logs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/ResizePool.hs
Owners: @hasura/hge-server

ci: update base image
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: tag release v2.21.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

chore(server): split new statistics log from QueryLog
  docs/docs/deployment/logging.mdx
  scripts/make/run.mk
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Transport.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Logging/ExecutionLog.hs
  server/src-lib/Hasura/GraphQL/Logging/QueryLog.hs
  server/src-lib/Hasura/GraphQL/Transport/Backend.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Rest.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners, @hasura/hge-server

feat(server): optional `args` GQL argument for computed field if none is mandatory for an SQL function
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
Owners: @hasura/hge-server

console: permissions make default value for is null true
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInputType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/helpers.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/helpers.ts
Owners: @hasura/hge-changelog-owners

Fix the unit test `ghcid` `make` command
  scripts/make/ghcid.mk
Owners: @hasura/hge-changelog-owners

console: disable auto generated columns in the insert row form
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useGraphQLMutation.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTableInfo.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/getTrackableTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowFormContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/utils/getPlaceholder.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/utils/getPlaceholder.ts
Owners: @hasura/hge-changelog-owners

feature(server): allow untracking Logical Model when feature is off
  server/src-lib/Hasura/LogicalModel/API.hs
Owners: @hasura/hge-server

Generalise 'setupPermissionsAction'
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/DefaultRootFieldsSpec.hs
  server/lib/api-tests/src/Test/Queries/FilterSearch/AggregationPredicatesSpec.hs
  server/lib/api-tests/src/Test/Regression/DropColumnWithPermissions8415Spec.hs
  server/lib/api-tests/src/Test/Regression/InsertOnConflict8260Spec.hs
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
  server/lib/test-harness/src/Harness/Test/SetupAction.hs
Owners: @hasura/hge-server

server: use ekg-prometheus v0.3.0.0
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

Logical models: check that specified named columns are returned from query
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/LogicalModels.hs
  server/src-test/Hasura/Backends/Postgres/LogicalModels/LogicalModelsSpec.hs
Owners: @hasura/hge-server

chore(pg-client): don't explode test if we can't stop all the running Postgres jobs
  server/lib/pg-client/test/Timeout.hs
Owners: @hasura/hge-server

Remove `postMetadata` permission command calls
  server/lib/api-tests/src/Test/Regression/RemoteRelationshipStringifyNum8387Spec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
  server/lib/test-harness/src/Harness/Test/SetupAction.hs
Owners: @hasura/hge-server

docs: securing your api with hasura post webinar updates
  docs/src/components/HasuraConBanner/index.tsx
Owners: @hasura/hge-docs-owners

console: driver specific query type support for permissions
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/mocks/dataStubs.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/mocks/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/PermissionsTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/components/Cells.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/utils/getDriversSupportedQueryTypes.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/utils/getDriversSupportedQueryTypes.ts
Owners: @hasura/hge-changelog-owners

console: fix error notification handling for slowly running queries
  frontend/libs/console/legacy-ce/src/lib/components/Services/Common/Notification.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataActions.js
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/hasuraToast.tsx
Owners: @hasura/hge-changelog-owners

chore(api-tests): Move `withPermissions` out of `Permissions`
  server/lib/api-tests/src/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
Owners: @hasura/hge-server

chore(server/tests): use more Logical Model test helpers
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
Owners: @hasura/hge-server

Split permissions into `Types` and `Metadata`
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/DefaultRootFieldsSpec.hs
  server/lib/api-tests/src/Test/Queries/FilterSearch/AggregationPredicatesSpec.hs
  server/lib/api-tests/src/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/lib/api-tests/src/Test/Regression/DropColumnWithPermissions8415Spec.hs
  server/lib/api-tests/src/Test/Regression/InsertOnConflict8260Spec.hs
  server/lib/api-tests/src/Test/Regression/RemoteRelationshipStringifyNum8387Spec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/test-harness/src/Harness/Permissions.hs
  server/lib/test-harness/src/Harness/Permissions/Metadata.hs
  server/lib/test-harness/src/Harness/Permissions/Types.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/Test/SetupAction.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

chore(api-tests): talk about permissions, not explicit roles
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Permissions/Types.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
Owners: @hasura/hge-server

Docs: Small Fixes 02
  docs/docs/actions/overview.mdx
  docs/docs/api-reference/overview.mdx
  docs/docs/auth/overview.mdx
  docs/docs/data-federation/overview.mdx
  docs/docs/databases/overview.mdx
  docs/docs/deployment/overview.mdx
  docs/docs/enterprise/overview.mdx
  docs/docs/event-triggers/overview.mdx
  docs/docs/getting-started/overview.mdx
  docs/docs/hasura-cli/overview.mdx
  docs/docs/hasura-cloud/overview.mdx
  docs/docs/hasura-cloud/projects/vercel-integration.mdx
  docs/docs/index.mdx
  docs/docs/migrations-metadata-seeds/legacy-configs/config-v2/migrations-setup.mdx
  docs/docs/migrations-metadata-seeds/legacy-configs/config-v2/upgrade-v2.mdx
  docs/docs/migrations-metadata-seeds/legacy-configs/upgrade-v3.mdx
  docs/docs/migrations-metadata-seeds/migrations-metadata-setup.mdx
  docs/docs/migrations-metadata-seeds/overview.mdx
  docs/docs/mutations/overview.mdx
  docs/docs/observability/overview.mdx
  docs/docs/queries/overview.mdx
  docs/docs/queries/quickstart.mdx
  docs/docs/remote-schemas/adding-schema.mdx
  docs/docs/remote-schemas/auth/remote-schema-permissions.mdx
  docs/docs/remote-schemas/overview.mdx
  docs/docs/remote-schemas/remote-relationships/remote-schema-db-relationships.mdx
  docs/docs/remote-schemas/remote-relationships/remote-schema-relationships.mdx
  docs/docs/scheduled-triggers/overview.mdx
  docs/docs/schema/bigquery/remote-relationships/remote-schema-relationships.mdx
  docs/docs/schema/bigquery/remote-relationships/remote-source-relationships.mdx
  docs/docs/schema/ms-sql-server/remote-relationships/remote-schema-relationships.mdx
  docs/docs/schema/ms-sql-server/remote-relationships/remote-source-relationships.mdx
  docs/docs/schema/overview.mdx
  docs/docs/schema/postgres/remote-relationships/action-relationships.mdx
  docs/docs/schema/postgres/remote-relationships/remote-schema-relationships.mdx
  docs/docs/schema/postgres/remote-relationships/remote-source-relationships.mdx
  docs/docs/security/overview.mdx
  docs/docs/subscriptions/overview.mdx
  docs/src/components/CustomDocItem/index.tsx
  docs/src/css/overview-page.scss
Owners: @hasura/hge-docs-owners

Fix SQLite agent hard crashing if db file does not exist
  dc-agents/sqlite/src/db.ts
Owners: @hasura/hge-changelog-owners

Docs: Oracle
  docs/docs/databases/oracle/_category_.json
  docs/docs/databases/oracle/cloud.mdx
  docs/docs/databases/oracle/docker.mdx
  docs/docs/databases/oracle/index.mdx
  docs/docs/databases/overview.mdx
  docs/static/img/databases/logos/oracle.png
  install-manifests/enterprise/oracle/docker-compose.yaml
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
