Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server: Fix the Analyze feature for SQL Server.
  docs/docs/queries/ms-sql-server/performance.mdx
  scripts/make/test-infrastructure.mk
  server/lib/api-tests/src/Test/API/ExplainSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners, @hasura/hge-server

Mongo Permissions: Support nested objects
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/QueryDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ModifyTable/components/TableColumnDescription.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowFormContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/ArrayEntry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/ColumnComparatorEntry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/ObjectOrArrayEntry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Key.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Operator.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/TableProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/mongo/export_metadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/mongo/get_source_kind_capabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/mongo/get_table_info.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/mongo/handlers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/mongo/introspection.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/nestedObjects.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/typeProviderHelpers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTab/PermissionsTab.stories.tsx
Owners: @hasura/hge-changelog-owners

Initial advanced config for data connectors
  docs/docs/api-reference/kriti-templating.mdx
  docs/docs/databases/database-config/data-connector-config.mdx
  docs/static/img/databases/data-connector-config.png
Owners: @hasura/hge-docs-owners

Initial Clickhouse documentation
  docs/docs/databases/clickhouse/_category_.json
  docs/docs/databases/clickhouse/getting-started/_category_.json
  docs/docs/databases/clickhouse/getting-started/cloud.mdx
  docs/docs/databases/clickhouse/getting-started/docker.mdx
  docs/docs/databases/clickhouse/getting-started/index.mdx
  docs/docs/databases/clickhouse/index.mdx
  docs/docs/databases/overview.mdx
  docs/static/img/databases/clickhouse/add-agent.png
  docs/static/img/databases/clickhouse/choose-clickhouse.png
  docs/static/img/databases/clickhouse/configure-agent.png
  docs/static/img/databases/clickhouse/database-config.png
  docs/static/img/databases/clickhouse/query.png
  docs/static/img/databases/clickhouse/track-tables-1.png
  docs/static/img/databases/clickhouse/track-tables-2.png
  docs/static/img/databases/logos/clickhouse.png
  install-manifests/enterprise/clickhouse/docker-compose.yaml
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

chore(server): Table -> Native Query object relationships
  metadata.openapi.json
  server/lib/test-harness/src/Harness/Schema.hs
  server/lib/test-harness/src/Harness/Schema/Table.hs
  server/lib/test-harness/src/Harness/Services/Database/Postgres.hs
  server/lib/test-harness/src/Harness/Services/Source/Postgres.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Local.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: update latest stable release as v2.32.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mongodb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

Docs: Fix incorrect column operators
  docs/docs/auth/authorization/permissions/permissions-operators.mdx
Owners: @hasura/hge-docs-owners

Add table/function filtering and detail level to schema introspection for Data Connectors to improve performance
  dc-agents/DOCUMENTATION.md
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/index.ts
  dc-agents/dc-api-types/src/models/DetailLevel.ts
  dc-agents/dc-api-types/src/models/FunctionInfo.ts
  dc-agents/dc-api-types/src/models/SchemaFilters.ts
  dc-agents/dc-api-types/src/models/SchemaRequest.ts
  dc-agents/dc-api-types/src/models/TableInfo.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/data/index.ts
  dc-agents/reference/src/index.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/index.ts
  dc-agents/sqlite/src/schema.ts
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Function.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Schema.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Table.hs
  server/lib/dc-api/test/Main.hs
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Specs/FunctionsSpec.hs
  server/lib/dc-api/test/Test/Specs/SchemaSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Agent/Client.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/SchemaSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Fix tree view not being updated after a datasource name change
  frontend/libs/console/legacy-ce/src/lib/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.module.scss
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSubSidebar.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TreeView.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/custom.css
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/getTablesListAsTree.tsx
  frontend/libs/console/legacy-ce/src/lib/hooks/useCustomCompareEffect.ts
Owners: @hasura/hge-changelog-owners

console: scale rs-to-db relationship to support GDC table types
  frontend/apps/console-ce-e2e/src/e2e/remote-schemas/rs-to-db-relationships/rs-to-db-relationship.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/RemoteDatabaseWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/SourceSelect.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/index.css
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/FormElements.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/hooks/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/schema.ts
Owners: @hasura/hge-changelog-owners

Describe minimum role permissions for MSSQL
  docs/docs/databases/ms-sql-server/index.mdx
Owners: @hasura/hge-docs-owners

Describe minimum role permissions for Postgres
  docs/docs/databases/postgres/index.mdx
Owners: @hasura/hge-docs-owners

Describe the minimum IAM permissions for BigQuery
  docs/docs/databases/bigquery/index.mdx
Owners: @hasura/hge-docs-owners

console: Allow GDC sources as an option while creating Logical Models/Native Queries
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataPageContainer.js
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/hook.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/capabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/tests/getDriverCapabilities.test.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

docs: update ee page to indicate metrics are also available over otel
  docs/docs/enterprise/overview.mdx
Owners: @hasura/hge-docs-owners

docs: updates to quickstarts after sample app schema change
  docs/docs/restified/quickstart.mdx
  docs/docs/subscriptions/quickstart.mdx
  docs/static/img/event-triggers/event-triggers_insert-user-dummy-data_2-19-0.png
  docs/static/img/subscriptions/subscriptions-empty_quickstart-cloud2.20.0.png
  docs/static/img/subscriptions/subscriptions_quickstart-cloud2.20.0.gif
Owners: @hasura/hge-docs-owners

cli: Adding support for Snowflake UDF
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/sources/testdata/build_test/t1/metadata/databases/s 3/functions/functions.yaml
  cli/internal/metadataobject/sources/testdata/build_test/t1/metadata/databases/s 3/functions/public_get_t3.yaml
  cli/internal/metadataobject/sources/testdata/build_test/t1/want.golden.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/metadata.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/want/databases/default/functions/functions.yaml
  cli/internal/metadataobject/sources/testdata/export_test/t1/want/databases/default/functions/public_get_t3.yaml
Owners: @hasura/hge-cli-owners

console: better error handling for GDC table permissions + minor fixes on Logical Model permissions
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/InheritedRoles/InheritedRoles.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/LogicalModelPermissions/LogicalModelPermissions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/LogicalModelPermissions/LogicalModelPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/LogicalModelPermissions/LogicalModelPermissionsPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/LogicalModelPermissions/components/LogicalModelPermissionsFormProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/LogicalModelPermissions/hooks/useCreateLogicalModelsPermissions.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/LogicalModelPermissions/hooks/usePermissionForm.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useDeletePermission.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useSubmitForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/hooks/usePermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-api/selectors.ts
Owners: @hasura/hge-changelog-owners

feature: improve UI of remote schema permissions
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Permissions/BulkSelect.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Permissions/CollapsedField.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Permissions/Field.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Permissions/PermissionEditor.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Permissions/RSPInput.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Permissions/Tree.tsx
Owners: @hasura/hge-changelog-owners

docs: add azure dvpc & peering docs
  docs/docs/databases/postgres/cockroachdb/getting-started/cloud.mdx
  docs/docs/hasura-cloud/dedicated-vpc.mdx
  docs/docs/hasura-cloud/dedicated-vpc/aws-network-peering.mdx
  docs/docs/hasura-cloud/dedicated-vpc/azure-network-peering.mdx
  docs/docs/hasura-cloud/dedicated-vpc/gcp-network-peering.mdx
  docs/docs/hasura-cloud/dedicated-vpc/index.mdx
  docs/static/img/deployment/dedicated-vpc/azure-grant-access.png
  docs/static/img/deployment/dedicated-vpc/azure-initiate-peering.png
Owners: @hasura/hge-docs-owners

docs: update vpc peering
  docs/docs/hasura-cloud/dedicated-vpc/aws-network-peering.mdx
Owners: @hasura/hge-docs-owners

docs: update observability best practices
  docs/docs/observability/observability-best-practices.mdx
Owners: @hasura/hge-docs-owners

docs: update produce review request email
  docs/docs/scheduled-triggers/recipes/product-review.mdx
  docs/src/components/SampleAppBlock/index.jsx
Owners: @hasura/hge-docs-owners

Mongo onboarding create connect logical models
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TrackTablesContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/CustomFieldNames/CustomFieldNamesForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/ManageTrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/GraphQLCustomizations.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/MongoTrackCollectionModal.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/MongoTrackCollectionModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/MongoTrackCollectionModalWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/components/JSONValidationSchemaBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/components/LogicalModelsBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/components/SuccessLogicalModelsInferBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/utils/inferLogicalModel.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/utils/inferLogicalModel.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useIntrospectedTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackLogicalModel.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackTables.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/CardedTable/CardedTable.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.tsx
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

docs: get started with kubernetes and helm
  docs/docs/deployment/deployment-guides/index.mdx
  docs/docs/deployment/deployment-guides/kubernetes-helm.mdx
Owners: @hasura/hge-docs-owners

console: fix typo
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/PgDatabaseField/InputWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/constants.ts
Owners: @hasura/hge-changelog-owners

Fix permission string column numeric value
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInputType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/query.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/helpers.ts
Owners: @hasura/hge-changelog-owners

console: update docs to match the new relationships UI
  docs/docs/schema/bigquery/table-relationships/create.mdx
  docs/docs/schema/ms-sql-server/remote-relationships/remote-schema-relationships.mdx
  docs/docs/schema/ms-sql-server/remote-relationships/remote-source-relationships.mdx
  docs/docs/schema/ms-sql-server/table-relationships/create.mdx
  docs/docs/schema/ms-sql-server/table-relationships/rename.mdx
  docs/docs/schema/postgres/remote-relationships/remote-schema-relationships.mdx
  docs/docs/schema/postgres/remote-relationships/remote-source-relationships.mdx
  docs/docs/schema/postgres/table-relationships/create.mdx
  docs/docs/schema/postgres/table-relationships/rename.mdx
  docs/static/img/schema/add-1-1-relationship.png
  docs/static/img/schema/add-1-many-relationship.png
  docs/static/img/schema/add-manual-rel-add-name-pick-source.png
  docs/static/img/schema/add-manual-rel-create-final-step.png
  docs/static/img/schema/add-manual-rel-fill-details.png
  docs/static/img/schema/add-manual-rel-open-widget.png
  docs/static/img/schema/add-remote-db-rel-step-1.png
  docs/static/img/schema/add-remote-db-rel-step-2.png
  docs/static/img/schema/add-remote-schema-rel.png
  docs/static/img/schema/bigquery-add-array-rel-step-1.png
  docs/static/img/schema/bigquery-add-array-rel-step-2.png
  docs/static/img/schema/bigquery-add-object-rel-step-1.png
  docs/static/img/schema/bigquery-add-object-rel-step-2.png
  docs/static/img/schema/rename-local-rel-step-1.png
  docs/static/img/schema/rename-local-rel-step-2.png
Owners: @hasura/hge-docs-owners

MongoDB Track Collection Flow
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TrackTablesContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/CustomFieldNames/CustomFieldNamesForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/ManageTrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/GraphQLCustomizations.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/MongoTrackCollectionModal.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/MongoTrackCollectionModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/MongoTrackCollectionModalWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/components/JSONValidationSchemaBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/components/LogicalModelsBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/components/SuccessLogicalModelsInferBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/utils/inferLogicalModel.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/utils/inferLogicalModel.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useIntrospectedTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackLogicalModel.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackTables.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/CardedTable/CardedTable.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.tsx
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

cli: Adding support for Snowflake UDF (cherry-pick v2.32)
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/sources/testdata/build_test/t1/metadata/databases/s 3/functions/functions.yaml
  cli/internal/metadataobject/sources/testdata/build_test/t1/metadata/databases/s 3/functions/public_get_t3.yaml
  cli/internal/metadataobject/sources/testdata/build_test/t1/want.golden.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/metadata.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/want/databases/default/functions/functions.yaml
  cli/internal/metadataobject/sources/testdata/export_test/t1/want/databases/default/functions/public_get_t3.yaml
Owners: @hasura/hge-cli-owners

docs: update daily summary recipe to match new schema
  docs/docs/scheduled-triggers/recipes/daily-summary-email.mdx
Owners: @hasura/hge-docs-owners

docs: udpate otel admonitions
  docs/docs/observability/cloud/azure-monitor.mdx
  docs/docs/observability/cloud/datadog.mdx
  docs/docs/observability/cloud/newrelic.mdx
Owners: @hasura/hge-docs-owners

chore(server): add Table -> NQ array relationships
  server/lib/test-harness/src/Harness/Schema.hs
  server/lib/test-harness/src/Harness/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
Owners: @hasura/hge-server

docs: update abandoned cart recipe to match new schema
  docs/docs/scheduled-triggers/recipes/abandoned-cart.mdx
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
Owners: @hasura/hge-docs-owners

docs: update csv import docs
  docs/docs/schema/postgres/postgres-guides/import-data-from-csv.mdx
Owners: @hasura/hge-docs-owners

docs: update expiration recipe to match new schema
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
Owners: @hasura/hge-docs-owners

Docs: update image width specification in wiki
  docs/wiki/style/images.mdx
Owners: @hasura/hge-docs-owners

Fix permission input box issue
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/ArrayEntry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/ColumnComparatorEntry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/ObjectOrArrayEntry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Key.tsx
Owners: @hasura/hge-changelog-owners

Docs: Remove Docker mentions from Scheduled Triggers recipes using Docs Sample App
  docs/docs/scheduled-triggers/recipes/abandoned-cart.mdx
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
  docs/docs/scheduled-triggers/recipes/daily-summary-email.mdx
  docs/docs/scheduled-triggers/recipes/product-review.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.32.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
