Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

ci: use curlimages/curl docker image instead of appropriate/curl
  scripts/cli-migrations/v2/test/test-upgrade-from-latest-release.sh
Owners: @hasura/hge-changelog-owners

Prevent uses of `unsafeMkName` whenever possible.
  .hlint.yaml
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/RemoteSchema.hs
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
  server/src-lib/Hasura/RQL/Types/ResultCustomization.hs
  server/src-lib/Hasura/Session.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fix REST endpoints with path segments not showing correctly in the OpenAPI spec
  CHANGELOG.md
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/tests-py/queries/openapi/openapi_multiple_endpoints_with_path_segments.yaml
  server/tests-py/test_openapi.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Reorganize Harness.Quoter.Yaml and add shouldReturnOneOfYaml
  server/tests-hspec/Harness/Quoter/Yaml.hs
Owners: @hasura/hge-server

server: bump pytest version
  scripts/dev.sh
  server/tests-py/requirements-top-level.txt
  server/tests-py/requirements.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/mssql: expand transactions to GraphQL queries and `mssql_run_sql` API
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Database/MSSQL/Pool.hs
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-test/Database/MSSQL/TransactionSpec.hs
  server/tests-py/queries/v2/mssql/run_sql/create_author_table_fail.yaml
  server/tests-py/queries/v2/mssql/run_sql/invalid_sql_query.yaml
  server/tests-py/test_v2_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: add a new metadata API to return all the cron triggers
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/index.rst
  docs/graphql/core/api-reference/metadata-api/scheduled-triggers.rst
  docs/graphql/core/api-reference/schema-metadata-api/index.rst
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/tests-py/test_scheduled_triggers.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server/mssql: restrict "count" aggregate query on multiple columns
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Experimental/Adapter/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/tests-py/queries/graphql_query/basic/nodes_aggregates_conditions_mssql.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: document python integration test suite
  .circleci/test-server.sh
  scripts/data-sources-util.sh
  scripts/dev.sh
  scripts/verify-bigquery-creds.sh
  server/CONTRIBUTING.md
  server/tests-py/README.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: add `analyzeGraphqlQuery`
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Analyse.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/tests-py/queries/openapi/openapi_get_endpoint_test_duplicate_field_name.yaml
  server/tests-py/queries/openapi/setup.yaml
  server/tests-py/test_openapi.py
Owners: @hasura/hge-server

tests: break out flag tests into separate step
  .circleci/server-test-names.txt
  .circleci/test-server.sh
Owners: @hasura/hge-changelog-owners

rename webhook transforms to REST Connectors
  CHANGELOG.md
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  docs/graphql/core/actions/index.rst
  docs/graphql/core/actions/rest-connectors.rst
  docs/img/graphql/core/actions/configure-rest-connectors.png
  docs/img/graphql/core/actions/configure-transformation.png
  docs/img/graphql/core/actions/payload-transform.png
  docs/img/graphql/core/actions/payload-transformation.png
  docs/img/graphql/core/actions/request-method-transform.png
  docs/img/graphql/core/actions/request-options-transform.png
  docs/img/graphql/core/actions/request-options-transformation.png
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-docs-owners

console: fixes failing tests on modify page for tables
  console/src/components/Services/Data/TableModify/ColumnCreator.tsx
Owners: @hasura/hge-console-owners

server/mssql: move mssql_run_sql test cases from v1/run_sql to v2/mssql/run_sql
  server/tests-py/queries/v1/run_sql/schema_setup_mssql.yaml
  server/tests-py/queries/v1/run_sql/schema_teardown_mssql.yaml
  server/tests-py/queries/v1/run_sql/setup_mssql.yaml
  server/tests-py/queries/v1/run_sql/teardown_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/schema_setup_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_add_column_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_drop_column_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_drop_table_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_rename_column_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_rename_table_mssql.yaml
  server/tests-py/queries/v2/mssql/run_sql/sql_select_query_mssql.yaml
  server/tests-py/test_v1_queries.py
  server/tests-py/test_v2_queries.py
Owners: @hasura/hge-server

tests: drop stale coverage-related functionality from test-server.sh
  .circleci/test-server.sh
Owners: @hasura/hge-changelog-owners

Hlint all Haskell code
  .github/workflows/hlint.yml
  .hlint.yaml
  scripts/dev.sh
  server/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

update contributing and compiling on m1
  server/COMPILING-ON-M1.md
  server/CONTRIBUTING.md
Owners: @hasura/hge-server

cli: fix regression with `--address` flag of `hasura console` command
  CHANGELOG.md
  cli/commands/console.go
  cli/integration_test/v2/console.go
  cli/integration_test/v3/console.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

Fix for customized remote schema input object types in query variables
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/tests-py/graphql_server.py
  server/tests-py/queries/remote_schemas/validation/type_prefix_validation.yaml
  server/tests-py/test_schema_stitching.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

multitenant tests: reduce reliance on env vars, use fake cabal run
  cabal.project.freeze
  scripts/cabal-run.sh
Owners: @hasura/hge-changelog-owners

server: add tests for transaction commit/rollback
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-test/Database/MSSQL/TransactionSpec.hs
Owners: @hasura/hge-server

tests: wait for children (graphql-engine in particular) before exiting
  .circleci/test-server.sh
Owners: @hasura/hge-changelog-owners

server/tests: ephemeral BigQuery projects for CI test jobs
  .circleci/test-server.sh
  scripts/bigquery.sh
  scripts/data-sources-util.sh
  scripts/parse-pytest-backend
Owners: @hasura/hge-changelog-owners

docs: add sql server default values and column presets docs
  docs/graphql/core/databases/ms-sql-server/mutations/insert.rst
  docs/graphql/core/databases/ms-sql-server/schema/default-values/index.rst
  docs/graphql/core/databases/ms-sql-server/schema/default-values/mssql-column-presets.rst
  docs/graphql/core/databases/ms-sql-server/schema/default-values/mssql-defaults.rst
  docs/graphql/core/databases/ms-sql-server/schema/index.rst
  docs/img/graphql/core/schema/mssql-add-default-value.png
Owners: @hasura/hge-docs-owners

BigQuery operators: like/nlike, geography
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/tests-py/queries/graphql_query/boolexp/search/schema_setup_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/search/select_city_where_like_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/search/select_city_where_nlike_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/search/setup_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/search/teardown_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/schema_setup_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_where_st_contains_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_where_st_d_within_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_where_st_dwithin_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_where_st_equals_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_where_st_intersects_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_where_st_touches_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/select_query_spatial_types_where_st_within_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/setup_bigquery.yaml
  server/tests-py/queries/graphql_query/boolexp/spatial/teardown_bigquery.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add documentation scaffolding for first sync-up.
  server/documentation/README.md
  server/documentation/glossary.md
  server/documentation/tips.md
Owners: @hasura/hge-server

console: add CardedTable component
  console/src/new-components/CardedTable/CardedTable.stories.tsx
  console/src/new-components/CardedTable/CardedTable.tsx
  console/src/new-components/CardedTable/index.ts
Owners: @hasura/hge-console-owners

Fixed schema & table dropdowns being unsorted on 'create event trigger' page
  CHANGELOG.md
  console/src/components/Services/Events/EventTriggers/Add/CreateETForm.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Update README.turkish.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

Add README.md to tests-hspec and reorganize module namespace
  docker-compose.yml
  docker-compose/sqlserver/Dockerfile
  docker-compose/sqlserver/run-init.sh
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/Quoter/Graphql.hs
  server/tests-hspec/Harness/Quoter/Sql.hs
  server/tests-hspec/Harness/Quoter/Yaml.hs
  server/tests-hspec/Harness/Test/Feature.hs
  server/tests-hspec/README.md
  server/tests-hspec/Test/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/BasicFieldsSpec.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/HelloWorldSpec.hs
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/NestedRelationshipsSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/OrderingSpec.hs
  server/tests-hspec/Test/ServiceLivenessSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
  server/tests-hspec/Test/WhereSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Factor backends' metadata in hspec tests.
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Test/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/BasicFieldsSpec.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/NestedRelationshipsSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/OrderingSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
  server/tests-hspec/Test/WhereSpec.hs
Owners: @hasura/hge-server

server: cleanup references to "pgCol" in common and non-postgres backend code
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/Meta.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Table.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
Owners: @hasura/hge-server

server/mssql: update odbc to 0.2.5
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

Feature/webhook response transforms
  CHANGELOG.md
  cabal.project
  docs/graphql/core/api-reference/syntax-defs.rst
  server/graphql-engine.cabal
  server/src-lib/Data/TByteString.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/DDL/WebhookTransforms.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/Migrate/Internal.hs
  server/src-test/Hasura/RQL/WebhookTransformsSpec.hs
  server/src-test/Main.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/get_user_by_email_nested_success.yaml
  server/tests-py/queries/actions/sync/mirror_action_transformed_output_success.yaml
  server/tests-py/queries/actions/sync/results_list_transformed_output_success.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/queries/event_triggers/transform/bad_header_transform.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_eval.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_parse.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server/mssql: update odbc git reference to the commit which has error message fix
  CHANGELOG.md
  cabal.project
  server/src-test/Database/MSSQL/TransactionSpec.hs
  server/tests-py/queries/v2/mssql/run_sql/create_author_table_fail.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cli: misc changes
  CHANGELOG.md
  cli/commands/metadata_diff.go
  cli/commands/seed_apply.go
  cli/internal/metadataobject/metadataobject.go
  cli/pkg/metadata/mode_handlers.go
  docs/graphql/core/hasura-cli/hasura_seed_apply.rst
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners

test: have dev.sh pass through CLI options for unit tests
  scripts/dev.sh
  server/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Refresh JWKs maximum once per second
  .circleci/test-server.sh
  CHANGELOG.md
  docs/graphql/core/auth/authentication/jwt.rst
  server/graphql-engine.cabal
  server/src-lib/Data/Parser/CacheControl.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-test/Data/Parser/CacheControlSpec.hs
  server/src-test/Hasura/Server/Auth/JWTSpec.hs
  server/src-test/Main.hs
  server/tests-py/jwk_server.py
  server/tests-py/test_jwk.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

Use hspec-discover for hspec-tests
  cabal.project.freeze
  server/graphql-engine.cabal
  server/tests-hspec/Spec.hs
  server/tests-hspec/SpecHook.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

BigQuery: fix support for joins in nodes of aggregate queries
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/tests-py/queries/graphql_query/bigquery/agg_nodes.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server
