Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

server/mssql support delete mutations (close hasura/graphql-engine#7626)
  CHANGELOG.md
  cabal.project
  docs/graphql/core/databases/ms-sql-server/index.rst
  docs/graphql/core/databases/ms-sql-server/mutations/delete.rst
  docs/graphql/core/databases/ms-sql-server/mutations/index.rst
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/tests-py/context.py
  server/tests-py/queries/graphql_mutation/delete/basic/article_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/basic/author_returning_empty_articles_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/basic/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/basic/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/basic/setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/basic/teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/basic/test_types_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/constraints/author_foreign_key_violation_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/constraints/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/constraints/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/constraints/setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/constraints/teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/user_delete_author.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/user_delete_author_by_pk.yaml
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server/rfc: memorialise internal discussions in upserts RFC
  rfcs/mssql-upsert-mutations.md
Owners: @hasura/hge-changelog-owners

Permissions Component Showcase stories (close #2863)
  console/src/features/PermissionsForm/components/Aggregation.stories.tsx
  console/src/features/PermissionsForm/components/BackendOnly.stories.tsx
  console/src/features/PermissionsForm/components/ClonePermissions.stories.tsx
  console/src/features/PermissionsForm/components/ColumnPermissions.stories.tsx
  console/src/features/PermissionsForm/components/ColumnPresets.stories.tsx
  console/src/features/PermissionsForm/components/RowPermissions.stories.tsx
  console/src/features/PermissionsTable/components/Cells.stories.tsx
  console/src/features/PermissionsTable/components/PermissionsLegend.stories.tsx
Owners: @hasura/hge-console-owners

Adding ColumnMutability to column metadata
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MySQL/Meta.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
  server/src-test/Hasura/RQL/IR/Generator.hs
Owners: @hasura/hge-server

Fixing REST Enpoints list variable bug
  CHANGELOG.md
  server/src-lib/Hasura/Server/Rest.hs
  server/tests-py/context.py
  server/tests-py/queries/endpoints/endpoint_with_list_arg.yaml
  server/tests-py/queries/endpoints/setup.yaml
  server/tests-py/queries/endpoints/teardown.yaml
  server/tests-py/test_endpoints.py
  server/tests-py/validate.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: add Hasura Cloud caveat in configuring metadata db example
  docs/graphql/core/deployment/graphql-engine-flags/config-examples.rst
Owners: @hasura/hge-docs-owners

Defining the MSSQL update schema using said components
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Update.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
Owners: @hasura/hge-server

Breaking up the Postgres implementation of the update-schema into reusable components
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-lib/Hasura/Backends/Postgres/Types/Update.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/tests-py/queries/graphql_mutation/update/basic/article_column_multiple_operators.yaml
Owners: @hasura/hge-server

Use transformed request body in event invocation logs
  CHANGELOG.md
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Remove `Unique` from `Definition`
  server/documentation/schema.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Types.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Tracing.hs
  server/src-test/Hasura/GraphQL/Parser/TestUtils.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
Owners: @hasura/hge-server

Parse session variables to their correct type in mssql
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/tests-py/queries/graphql_query/basic/author_with_permission_mssql.yaml
  server/tests-py/queries/graphql_query/basic/setup_mssql.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

docs: header links updated
  docs/_theme/djangodocs/layout.html
Owners: @hasura/hge-docs-owners

community: fix type in event-triggers.md
  event-triggers.md
Owners: @hasura/hge-changelog-owners

Create integration testing environment (close hasura/graphql-engine#7752)
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/Feature.hs
  server/tests-hspec/Harness/Graphql.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Harness/Http.hs
  server/tests-hspec/Harness/Mysql.hs
  server/tests-hspec/Harness/Postgres.hs
  server/tests-hspec/Harness/Sql.hs
  server/tests-hspec/Harness/Yaml.hs
  server/tests-hspec/HelloWorldSpec.hs
  server/tests-hspec/SanityCheckSpec.hs
  server/tests-hspec/Spec.hs
Owners: @hasura/hge-server

Excise query tags from backend schema
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
Owners: @hasura/hge-server

tests: simplify command line of Haskell test suite
  server/CONTRIBUTING.md
  server/src-test/Main.hs
Owners: @hasura/hge-server

Skip test if databases are not distinct
  server/tests-py/test_metadata.py
Owners: @hasura/hge-server

server: make /healthz action clearer
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/tests/integration/Hasura/Test/App.hs
Owners: @hasura/hge-server

console: request transformations for events
  CHANGELOG.md
  console/cypress/helpers/webhookTransformHelpers.ts
  console/cypress/integration/actions/spec.ts
  console/cypress/integration/events/create-trigger/spec.ts
  console/cypress/integration/events/create-trigger/test.ts
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/RequestUrlEditor.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/TemplateEditor.tsx
  console/src/components/Common/ConfigureTransformation/PayloadOptionsTransforms.tsx
  console/src/components/Common/ConfigureTransformation/RequestOptionsTransforms.tsx
  console/src/components/Common/ConfigureTransformation/requestTransformState.ts
  console/src/components/Common/ConfigureTransformation/stateDefaults.ts
  console/src/components/Common/ConfigureTransformation/utils.ts
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Modify/Modify.tsx
  console/src/components/Services/Actions/Modify/utils.js
  console/src/components/Services/Events/Common/Components/RetryConfEditor.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/EventTriggers/Add/CreateETForm.tsx
  console/src/components/Services/Events/EventTriggers/Add/FormLabel.tsx
  console/src/components/Services/Events/EventTriggers/Common/ColumnList.tsx
  console/src/components/Services/Events/EventTriggers/Common/DropdownWrapper.tsx
  console/src/components/Services/Events/EventTriggers/Common/Operations.tsx
  console/src/components/Services/Events/EventTriggers/Common/Tooltips.js
  console/src/components/Services/Events/EventTriggers/Common/Tooltips.ts
  console/src/components/Services/Events/EventTriggers/Modify/HeadersEditor.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Info.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/Modify/OperationEditor.tsx
  console/src/components/Services/Events/EventTriggers/Modify/RetryConfEditor.tsx
  console/src/components/Services/Events/EventTriggers/Modify/WebhookEditor.tsx
  console/src/components/Services/Events/EventTriggers/utils.ts
  console/src/components/Services/Events/ServerIO.ts
  console/src/components/Services/Events/types.ts
  console/src/metadata/queryUtils.ts
  console/src/metadata/selector.ts
  console/src/metadata/types.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

cli: codesign the cli binaries
  .circleci/cli-builder.dockerfile
  .circleci/extension-cli-builder.dockerfile
  CHANGELOG.md
  cli/Makefile
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

cloud-docs: explain arguments in preview app creation api reference
  docs/graphql/cloud/api-reference.rst
  docs/graphql/cloud/preview-apps.rst
Owners: @hasura/hge-docs-owners

Do not check name of unique key constraint when suggesting autorelations (closes #7525)
  console/src/components/Services/Data/TableRelationships/autoRelations.js
Owners: @hasura/hge-console-owners

server/mssql: refine and generalize mssql OUTPUT clause and temporary table syntax AST
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

multitenant: support for event disabling
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Main.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

Refactor type name customization
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Namespace.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/ResultCustomization.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
Owners: @hasura/hge-server

Rename tables in metadata tests to avoid conflicts.
  server/tests-py/queries/v1/metadata/pg_remote_source_customized_query.yaml
  server/tests-py/queries/v1/metadata/pg_source_customization.yaml
  server/tests-py/queries/v1/metadata/pg_source_customization_custom_name.yaml
  server/tests-py/queries/v1/metadata/pg_source_namespace_query.yaml
Owners: @hasura/hge-server

ci: add release graphql-engine-heroku pipeline
  .circleci/deploy.sh
Owners: @hasura/hge-changelog-owners

console: create permissions table components
  console/.eslintrc
  console/package-lock.json
  console/package.json
  console/src/features/PermissionsTable/PermissionsTable.stories.tsx
  console/src/features/PermissionsTable/PermissionsTable.tsx
  console/src/features/PermissionsTable/components/Cells.stories.tsx
  console/src/features/PermissionsTable/components/Cells.tsx
  console/src/features/PermissionsTable/components/PermissionsIcons.tsx
  console/src/features/PermissionsTable/components/PermissionsLegend.stories.tsx
  console/src/features/PermissionsTable/components/PermissionsLegend.tsx
  console/src/features/PermissionsTable/hooks/usePermissions.tsx
  console/src/features/PermissionsTable/index.ts
  console/src/features/PermissionsTable/mocks/handlers.mock.tsx
Owners: @hasura/hge-console-owners

server: belatedly address #2889 feedback
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-lib/Hasura/Backends/Postgres/Types/Update.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
Owners: @hasura/hge-server

Add tip for writing unit tests for SQL generation
  server/documentation/tips.md
Owners: @hasura/hge-server

server: deduplicate some pytests
  server/tests-py/queries/graphql_query/mysql/select_query_non_tracked_table_err.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

ci: increase golang linter timeout
  cli/Makefile
Owners: @hasura/hge-cli-owners

docs: add note on computed fields not being part of event trigger payload
  docs/graphql/core/event-triggers/payload.rst
Owners: @hasura/hge-docs-owners

Add MySQL basic tests (close hasura/graphql-engine#7753)
  server/graphql-engine.cabal
  server/tests-hspec/ArrayRelationshipsSpec.hs
  server/tests-hspec/BasicFieldsSpec.hs
  server/tests-hspec/DirectivesSpec.hs
  server/tests-hspec/Harness/Yaml.hs
  server/tests-hspec/LimitOffsetSpec.hs
  server/tests-hspec/ObjectRelationshipsSpec.hs
  server/tests-hspec/OrderingSpec.hs
  server/tests-hspec/ServiceLivenessSpec.hs
  server/tests-hspec/Spec.hs
  server/tests-hspec/ViewsSpec.hs
  server/tests-hspec/WhereSpec.hs
Owners: @hasura/hge-server

changelog: update Relay dead link
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

docs: segment track event naming adjustment
  docs/_static/scripts/hdocs.js
Owners: @hasura/hge-docs-owners

console: vpc banner improvements
  console/src/components/Common/VPCBanner/VPCBanner.stories.tsx
  console/src/components/Common/VPCBanner/VPCBanner.tsx
  console/src/components/Services/Data/DataSources/TabbedDataSourceConnection.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
  console/src/components/Services/Data/Schema/utils.ts
  console/src/utils/localStorage.ts
Owners: @hasura/hge-console-owners

Use left join instead of lateral join to fetch foreign key constraints
  server/src-rsr/pg_table_metadata.sql
Owners: @hasura/hge-server

docs: fix typo in config examples page
  docs/graphql/core/deployment/graphql-engine-flags/config-examples.rst
Owners: @hasura/hge-docs-owners

Changed RemoteSchemaIntrospection's internal representation from a list to a hashmap.
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema/Permission.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-test/Hasura/Generator.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server
