Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

fix parsing remote relationship json definition from 1.x server catalog on migration
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fix BigDecimal/BigNumeric serialization for BigQuery backend
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/tests-hspec/Test/SerializationSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

multitenant: update shutdown logic
  server/src-lib/Hasura/App.hs
  server/src-test/Hasura/AppSpec.hs
Owners: @hasura/hge-server

console: CON-135 add remote db relationships for views
  CHANGELOG.md
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

ci: use pg_dump from postgres 14
  CHANGELOG.md
  packaging/graphql-engine-base/centos.dockerfile
  packaging/graphql-engine-base/debian.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/packaging/build/Dockerfile
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

don't drop nested typed null fields in actions (fix #8237)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/expecting_object_response_with_nested_null.yaml
  server/tests-py/queries/actions/sync/get_user_by_email_nested_success.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add a reusable list map component
  console/src/new-components/ListMap/ListMap.stories.tsx
  console/src/new-components/ListMap/ListMap.tsx
  console/src/new-components/ListMap/Select.tsx
  console/src/new-components/ListMap/index.tsx
Owners: @hasura/hge-console-owners

Fix Decimal serialization for BigQuery backend
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/GraphQL/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Test/SerializationSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fixes remote relationships on actions
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/relationships/basic/query_with_relationships.yaml
  server/tests-py/queries/actions/relationships/basic/setup.yaml
  server/tests-py/queries/actions/relationships/basic/teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Additional primitives for the hspec test suite
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Test/Schema.hs
Owners: @hasura/hge-server

docs: add cloud docs for billing owner
  docs/docs/graphql/cloud/billing/billing-owner.mdx
  docs/docs/graphql/cloud/billing/credits.mdx
  docs/docs/graphql/cloud/billing/index.mdx
  docs/docs/graphql/cloud/billing/payment-methods.mdx
  docs/docs/graphql/cloud/billing/receipts.mdx
  docs/docs/graphql/cloud/projects/collaborators.mdx
  docs/scripts/pandoc-auto-transform.sh
  docs/static/img/graphql/cloud/billing/add-bm-privilege.png
  docs/static/img/graphql/cloud/billing/click-bm-collab.png
  docs/static/img/graphql/cloud/billing/collab-view.png
  docs/static/img/graphql/cloud/billing/invite-bm-collab.png
  docs/static/img/graphql/cloud/billing/project-bm-invitation.png
  docs/static/img/graphql/cloud/billing/remove-bm-privilege.png
  docs/static/img/graphql/cloud/billing/remove-bm.png
  docs/static/img/graphql/cloud/billing/resend-bm-invitation.png
  docs/static/img/graphql/cloud/billing/revoke-bm-invitation.png
  docs/static/img/graphql/cloud/projects/add-collaborator.png
  docs/static/img/graphql/cloud/projects/remove-collaborator.png
Owners: @hasura/hge-docs-owners

Move `HasServerConfigCtx` to `Hasura.Server.Types`.
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
Owners: @hasura/hge-server

cli: fix performance regression in v2.5.0
  CHANGELOG.md
  cli/go.mod
  cli/go.sum
  cli/internal/metadatautil/json.go
  cli/internal/metadatautil/json_test.go
  cli/internal/metadatautil/sources.go
  cli/internal/metadatautil/sources_test.go
  cli/internal/metadatautil/testdata/json/t1/want.metadata.yaml
  cli/internal/metadatautil/testdata/json/t2/metadata.json
  cli/internal/metadatautil/testdata/json/t2/want.metadata.yaml
  cli/internal/projectmetadata/handler.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

console: create a reusable database selector widget
  console/src/features/Data/components/DatabaseSelector/DataSelector.stories.tsx
  console/src/features/Data/components/DatabaseSelector/DatabaseSelector.tsx
  console/src/features/Data/components/DatabaseSelector/Select.tsx
  console/src/features/Data/components/DatabaseSelector/hooks/useSourceTree.ts
  console/src/features/Data/components/DatabaseSelector/index.ts
  console/src/features/Data/components/DatabaseSelector/mocks/handlers.mock.ts
  console/src/features/Data/components/index.ts
  console/src/features/Data/index.ts
  console/src/new-components/Form/index.ts
Owners: @hasura/hge-console-owners

Rename State to TestEnvironment in hspec test suite
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Harness/RemoteServer.hs
  server/tests-hspec/Harness/Test/Context.hs
  server/tests-hspec/Harness/Test/Schema.hs
  server/tests-hspec/Harness/TestEnvironment.hs
  server/tests-hspec/SpecHook.hs
  server/tests-hspec/Test/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/BasicFieldsSpec.hs
  server/tests-hspec/Test/ColumnPresetsSpec.hs
  server/tests-hspec/Test/CustomFieldNamesSpec.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/HelloWorldSpec.hs
  server/tests-hspec/Test/InsertCheckPermissionSpec.hs
  server/tests-hspec/Test/InsertEnumColumnSpec.hs
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/NestedRelationshipsSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsLimitSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/OrderingSpec.hs
  server/tests-hspec/Test/RemoteRelationship/FromRemoteSchemaSpec.hs
  server/tests-hspec/Test/RemoteRelationship/MetadataAPI/ClearMetadataSpec.hs
  server/tests-hspec/Test/RemoteRelationship/MetadataAPI/Common.hs
  server/tests-hspec/Test/RemoteRelationship/MetadataAPI/DropSource/DBtoDBRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/MetadataAPI/DropSource/RSToDBRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/tests-hspec/Test/RequestHeadersSpec.hs
  server/tests-hspec/Test/RunSQLSpec.hs
  server/tests-hspec/Test/SerializationSpec.hs
  server/tests-hspec/Test/ServiceLivenessSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
  server/tests-hspec/Test/WhereSpec.hs
Owners: @hasura/hge-server

docs: add matrix for db support
  docs/docs/graphql/core/databases/index.mdx
Owners: @hasura/hge-docs-owners

console: add remote db relationship widget
  console/src/features/DataRelationships/components/Form/Form.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/FormElements.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/RemoteDBRelationshipWidget.stories.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/RemoteDBRelationshipWidget.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/hooks/index.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/index.tsx
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/schema.ts
  console/src/features/DataRelationships/components/RemoteDBRelationshipWidget/utils.ts
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/DbtoRsForm.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/metadata.ts
Owners: @hasura/hge-console-owners

Split up module `Hasura.Backend.Postgres.Translate.Select` into sub-modules
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aggregate.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aliases.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/AnnotatedFieldJSON.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aux1.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Extractor.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/GenerateSelect.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/JoinTree.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/OrderBy.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Query.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
Owners: @hasura/hge-server

ci: tag release v2.6.0
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add database to remote schema form component
  console/cypress/integration/remote-schemas/rs-to-rs-relationships/test.ts
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/DbToRsForm.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/DbtoRsForm.stories.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/FormElementDbToRs.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/schema.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgValueForm.tsx
Owners: @hasura/hge-console-owners

console: improvements to ListMap component
  console/src/features/DataRelationships/components/LocalDBRelationshipWidget/FormElements.tsx
  console/src/new-components/ListMap/ListMap.stories.tsx
  console/src/new-components/ListMap/ListMap.tsx
  console/src/new-components/ListMap/Select.tsx
Owners: @hasura/hge-console-owners

server/bigquery: internal types and function to fetch routine information from BigQuery
  server/src-lib/Hasura/Backends/BigQuery/Meta.hs
Owners: @hasura/hge-server

Remove all functions from `RQL.Types.hs`
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/tests-py/queries/inconsistent_objects/test.yaml
Owners: @hasura/hge-server

server/tests: Fix `BigQuery test failure Job exceeded rate limits` error in CI
  .circleci/test-server.sh
  server/tests-py/test_events.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_metadata.py
  server/tests-py/test_subscriptions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

changelog: update for v2.6.0 release
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

Enhance pytest expectation overwriting via `--accept` flag
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

update README.md with pgAdmin password for connection settings
  install-manifests/docker-compose-pgadmin/README.md
Owners: @hasura/hge-changelog-owners

server/tests: add hspec test case to parse legacy remote relationship definition json
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-test/Data/Parser/RemoteRelationshipSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

docs: document remote relationship metadata APIs
  docs/docs/graphql/core/api-reference/metadata-api/index.mdx
  docs/docs/graphql/core/api-reference/metadata-api/remote-relationships.mdx
  docs/docs/graphql/core/api-reference/syntax-defs.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.5.1 and v2.6.0-beta.2
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: minor nit-picks for the Postgres Select module split
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aggregate.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/AnnotatedFieldJSON.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Aliases.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Extractor.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/GenerateSelect.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Helpers.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/JoinTree.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Simple.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
Owners: @hasura/hge-server

docs: add Azure trace integration
  docs-old/graphql/cloud/metrics/integrations/azure-monitor.rst
  docs/docs/graphql/cloud/metrics/integrations/azure-monitor.mdx
  docs/graphql/core/databases/postgres/subscriptions/livequery/execution-and-performance.rst
  docs/graphql/core/databases/postgres/subscriptions/livequery/index.rst
  docs/graphql/core/databases/postgres/subscriptions/livequery/use-cases.rst
  docs/static/img/graphql/cloud/metrics/azure-instrumentation-key.png
  docs/static/img/graphql/cloud/metrics/azure-monitor-trace-flame-graph.png
  docs/static/img/graphql/cloud/metrics/azure-monitor-view-logs.png
  docs/static/img/graphql/cloud/metrics/azure-monitor-view-metrics.png
  docs/static/img/graphql/cloud/metrics/azure-monitor-view-traces.png
  docs/static/img/graphql/cloud/metrics/configure-azure-monitor-done.png
  docs/static/img/graphql/cloud/metrics/configure-azure-monitor-fail.png
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

docs: fix mssql event trigger apis
  docs/docs/graphql/core/api-reference/metadata-api/event-triggers.mdx
Owners: @hasura/hge-docs-owners

docs: add chinese translation for live-queries.md
  architecture/live-queries.md
  translations/live-queries.chinese.md
Owners: @hasura/hge-changelog-owners

server: refactor MaintenanceMode datatype
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Server/Types.hs
Owners: @hasura/hge-server

server: support query tags for MSSQL data sources
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/QueryTags.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/QueryTags.hs
  server/src-lib/Hasura/RQL/Types/QueryTags.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
Owners: @hasura/hge-server

Feature/gdw execute array literals GDW-82
  server/graphql-engine.cabal
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Expression.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Types.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Column.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Export.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Expression.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Function.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Name.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/OrderBy.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Query.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Scalar/Type.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Scalar/Value.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Table.hs
  server/src-lib/Hasura/Backends/DataWrapper/Plan.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/ExpressionSpec.hs
  server/tests-gdw-api/Test/QuerySpec/BasicSpec.hs
Owners: @hasura/hge-server

Refactor insert mutations IR use of "default values"
  server/src-lib/Data/HashMap/Strict/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataWrapper/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/tests-py/queries/graphql_mutation/insert/basic/insert_invalid_datetime_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_numeric_value_fail_mssql.yaml
Owners: @hasura/hge-server

docs: refactor streaming subscription docs
  docs/docs/graphql/core/databases/postgres/subscriptions/index.mdx
  docs/docs/graphql/core/databases/postgres/subscriptions/livequery/execution-and-performance.mdx
  docs/docs/graphql/core/databases/postgres/subscriptions/livequery/index.mdx
  docs/docs/graphql/core/databases/postgres/subscriptions/livequery/use-cases.mdx
  docs/docs/graphql/core/databases/postgres/subscriptions/streaming/index.mdx
  docs/docs/graphql/core/databases/postgres/subscriptions/streaming/use-cases.mdx
  docs/docs/graphql/core/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

docs: add feature docs for federation
  docs/docs/graphql/core/data-federation.mdx
  docs/docs/graphql/core/databases/bigquery/_category_.json
  docs/docs/graphql/core/databases/citus-hyperscale-postgres/_category_.json
  docs/docs/graphql/core/databases/connect-db.mdx
  docs/docs/graphql/core/databases/ms-sql-server/_category_.json
  docs/docs/graphql/core/databases/ms-sql-server/schema/remote-relationships/_category_.json
  docs/docs/graphql/core/databases/ms-sql-server/schema/remote-relationships/index.mdx
  docs/docs/graphql/core/databases/ms-sql-server/schema/remote-relationships/remote-schema-relationships.mdx
  docs/docs/graphql/core/databases/ms-sql-server/schema/remote-relationships/remote-source-relationships.mdx
  docs/docs/graphql/core/databases/postgres/_category_.json
  docs/docs/graphql/core/databases/postgres/schema/remote-relationships/action-relationships.mdx
  docs/docs/graphql/core/faq.mdx
  docs/docs/graphql/core/guides/_category_.json
  docs/docs/graphql/core/remote-schemas/adding-schema.mdx
  docs/docs/graphql/core/remote-schemas/auth/_category_.json
  docs/docs/graphql/core/remote-schemas/index.mdx
  docs/docs/graphql/core/remote-schemas/remote-relationships/_category_.json
  docs/docs/graphql/core/remote-schemas/remote-relationships/index.mdx
  docs/docs/graphql/core/remote-schemas/remote-relationships/remote-schema-db-relationships.mdx
  docs/docs/graphql/core/remote-schemas/remote-relationships/remote-schema-relationships.mdx
  docs/docs/graphql/core/remote-schemas/remote-schema-relationships.mdx
  docs/docs/graphql/core/troubleshooting.mdx
  docs/static/img/graphql/core/databases/ms-sql-server/schema/create-remote-source-relationship.png
  docs/static/img/graphql/core/databases/postgres/schema/create-remote-source-relationship.png
  docs/static/img/graphql/core/schema/configure-relationship-rs-to-db-mssql.png
  docs/static/img/graphql/core/schema/configure-relationship-rs-to-db.png
  docs/static/img/graphql/core/schema/configure-relationship-rs-to-rs.png
  docs/static/img/graphql/core/schema/create-relationship-from-remote-schema.png
  docs/static/img/graphql/core/schema/define-remote-schema-relationship.png
Owners: @hasura/hge-docs-owners
