Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

docs: add Citus and BigQuery content
  docs/graphql/core/databases/bigquery/getting-started.rst
  docs/graphql/core/databases/bigquery/index.rst
  docs/graphql/core/databases/citus-hyperscale-postgres/getting-started/cloud.rst
  docs/graphql/core/databases/citus-hyperscale-postgres/getting-started/docker.rst
  docs/graphql/core/databases/citus-hyperscale-postgres/getting-started/index.rst
  docs/graphql/core/databases/citus-hyperscale-postgres/hasura-citus-compatibility.rst
  docs/graphql/core/databases/citus-hyperscale-postgres/index.rst
  docs/graphql/core/databases/index.rst
  docs/graphql/core/databases/ms-sql-server/getting-started/cloud.rst
  docs/graphql/core/databases/ms-sql-server/getting-started/index.rst
  docs/graphql/core/databases/postgres/index.rst
  docs/img/graphql/core/databases/bigquery/1-service-account.png
  docs/img/graphql/core/databases/bigquery/2-service-account-details.png
  docs/img/graphql/core/databases/bigquery/3-connect-bigquery.png
  docs/img/graphql/core/databases/citus-hyperscale-postgres/1-add-source.png
Owners: @hasura/hge-docs-owners

server: update the logging strategy for inconsistent metadata
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Owners: @hasura/hge-server

cli: enhance e2e tests
  cli/Makefile
  cli/commands/actions_codegen_test.go
  cli/commands/actions_create_test.go
  cli/commands/actions_use_codegen_test.go
  cli/commands/commands_test.go
  cli/commands/metadata_apply_test.go
  cli/commands/metadata_clear_test.go
  cli/commands/metadata_diff.go
  cli/commands/metadata_diff_test.go
  cli/commands/metadata_export_test.go
  cli/commands/metadata_inconsistency_drop_test.go
  cli/commands/metadata_inconsistency_list_test.go
  cli/commands/metadata_inconsistency_status_test.go
  cli/commands/metadata_reload_test.go
  cli/commands/migrate_apply_test.go
  cli/commands/migrate_create_test.go
  cli/commands/migrate_delete_test.go
  cli/commands/migrate_squash_test.go
  cli/commands/migrate_status_test.go
  cli/commands/plugins_list.go
  cli/commands/scripts_update_config_v3_test.go
  cli/commands/seed_apply_test.go
  cli/commands/seed_create_test.go
  cli/internal/testutil/e2e.go
  cli/internal/testutil/testutil.go
  cli/util/tablewriter.go
Owners: @hasura/hge-cli-owners

cli: add VERSION env to pin cli version
  cli/README.md
  cli/get.sh
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  scripts/tag-release.sh
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

server: Check session variables for subscriptions
  CHANGELOG.md
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/LiveQuery.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Prepare.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/leads_upsert_check_with_headers.yaml
  server/tests-py/queries/graphql_query/permissions/artist_select_query_Track_fail.yaml
  server/tests-py/queries/graphql_query/permissions/select_articles_without_required_headers.yaml
  server/tests-py/queries/subscriptions/basic/negative_test.yaml
  server/tests-py/queries/subscriptions/basic/setup.yaml
  server/tests-py/queries/subscriptions/basic/setup_mssql.yaml
  server/tests-py/test_subscriptions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

pro-console: fix error message alignment on api limits form
  console/src/components/Services/ApiExplorer/Security/Introspection/IntrospectionForm.tsx
  console/src/components/Services/ApiExplorer/Security/Security.scss
Owners: @hasura/hge-console-owners

cli: add support for query_tags metadata object
  CHANGELOG.md
  cli/internal/metadataobject/cron_triggers/cron_triggers.go
  cli/internal/metadataobject/metadataobject.go
  cli/internal/metadataobject/query_tags/query_tags.go
  cli/internal/metadataobject/query_tags/query_tags_test.go
  cli/internal/metadataobject/query_tags/testdata/metadata.json
  cli/internal/metadataobject/query_tags/testdata/metadata/query_tags.yaml
  cli/internal/projectmetadata/objects.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

pro, server: improve parameterised query hash handling for batched requests (fix #1767)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Rest.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add pagination on rawsql results page
  CHANGELOG.md
  console/cypress/integration/data/raw-sql/spec.ts
  console/cypress/integration/data/raw-sql/test.ts
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/RawSQL/ResultTable.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

docs: remove feedback section
  docs/_static/scripts/hdocs.js
  docs/_static/styles/main.css
  docs/_theme/djangodocs/layout.html
Owners: @hasura/hge-docs-owners

docs: misc fixes
  docs/_static/scripts/hdocs.js
  docs/graphql/cloud/projects/create.rst
  docs/graphql/core/api-reference/index.rst
  docs/graphql/core/api-reference/metadata-api/index.rst
  docs/graphql/core/api-reference/schema-api/index.rst
  docs/graphql/core/api-reference/schema-metadata-api/index.rst
  docs/graphql/core/databases/bigquery/getting-started.rst
  docs/graphql/core/databases/citus-hyperscale-postgres/index.rst
  docs/graphql/core/databases/postgres/schema/tables.rst
Owners: @hasura/hge-docs-owners

server/citus: pin docker image tag
  scripts/containers/citus
Owners: @hasura/hge-changelog-owners

docs: update auth0 integration guide
  docs/graphql/core/guides/integrations/auth0-jwt.rst
Owners: @hasura/hge-docs-owners

docs: update db getting started guides
  docs/graphql/cloud/security/index.rst
  docs/graphql/core/databases/bigquery/getting-started.rst
  docs/graphql/core/databases/bigquery/index.rst
  docs/graphql/core/databases/citus-hyperscale-postgres/getting-started/cloud.rst
  docs/graphql/core/databases/ms-sql-server/getting-started/cloud.rst
  docs/graphql/core/getting-started/index.rst
Owners: @hasura/hge-docs-owners

server: fix `pg_invoke_event_trigger` regression
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/tests-py/queries/event_triggers/manual_events/disabled.yaml
  server/tests-py/queries/event_triggers/manual_events/enabled.yaml
  server/tests-py/test_events.py
Owners: @hasura/hge-server

server: fix failing citus test
  server/tests-py/queries/graphql_query/citus/select_query_disaster_functions.yaml
Owners: @hasura/hge-server

MSSQL: `__typename` error and json based aggregates (graphql-engine#7130)
  CHANGELOG.md
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/tests-py/queries/graphql_query/basic/nodes_aggregates_conditions_mssql.yaml
  server/tests-py/queries/graphql_query/basic/nodes_aggregates_mssql.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[gardening] fix schema cache type instances
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Owners: @hasura/hge-server

server: add metadata for DB-DB remote joins
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship/Validate.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
Owners: @hasura/hge-server

kill Arbitrary (fix #1736)
  server/graphql-engine.cabal
  server/src-lib/Data/Text/NonEmpty.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Types/CitusExtraTableMetadata.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/Types/ApiLimit.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/Endpoint.hs
  server/src-lib/Hasura/RQL/Types/Endpoint/Trie.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/Session.hs
  server/src-lib/Test/QuickCheck/Arbitrary/Partial.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

server/postgres: Support computed fields in permission check/filter
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/tests-py/queries/graphql_query/permissions/reader_author.yaml
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/graphql_query/permissions/teardown.yaml
  server/tests-py/queries/graphql_query/permissions/tutor_get_students.yaml
  server/tests-py/queries/graphql_query/permissions/tutor_get_students_session.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: enable bigquery in connect db form for cloud console
  console/src/dataSources/services/bigquery/index.tsx
Owners: @hasura/hge-console-owners

console: fix issues with replacing invalid graphql identifiers in table and column names
  CHANGELOG.md
  console/src/dataSources/common/index.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Clean metadata arguments
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Rename.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Types.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
  server/src-lib/Hasura/RQL/Types/Relationship.hs
  server/src-lib/Hasura/RQL/Types/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

server: log post drop-source hook errors instead of throwing
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Logging.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

pro-console/security-features: add ability to enable/disable GraphQL introspection per role
  console/exports/main.js
  console/src/components/Common/Table/Table.scss
  console/src/components/Common/Table/Table.tsx
  console/src/components/Services/ApiExplorer/Security/Introspection/IntrospectionForm.tsx
  console/src/components/Services/ApiExplorer/Security/Introspection/IntrospectionTable.tsx
  console/src/components/Services/ApiExplorer/Security/Introspection/index.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsTable.tsx
  console/src/components/Services/ApiExplorer/Security/Security.scss
  console/src/components/Services/ApiExplorer/Security/SecurityTabs.tsx
  console/src/components/Services/ApiExplorer/Security/actions.ts
  console/src/metadata/__tests__/fixtures/input.ts
  console/src/metadata/__tests__/utils.test.ts
  console/src/metadata/selector.ts
  console/src/metadata/utils.ts
  console/tsconfig.json
Owners: @hasura/hge-console-owners

server: relax unique operation name constraint in a query collection
  CHANGELOG.md
  docs/graphql/core/deployment/allow-list.rst
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/tests-py/queries/graphql_query/allowlist/duplicate_operation_names.yaml
  server/tests-py/queries/graphql_query/allowlist/setup.yaml
  server/tests-py/test_allowlist_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

docs: GitHub integration docs
  docs/graphql/cloud/projects/github-integration.rst
  docs/graphql/cloud/projects/index.rst
  docs/img/graphql/cloud/projects/automatic-commit-deployment.png
  docs/img/graphql/cloud/projects/deployment-log.png
  docs/img/graphql/cloud/projects/edit-github-integration.png
  docs/img/graphql/cloud/projects/github-deployment-status.png
  docs/img/graphql/cloud/projects/github-grant-access.png
  docs/img/graphql/cloud/projects/github-integration-details.png
  docs/img/graphql/cloud/projects/github-link-account.png
  docs/img/graphql/cloud/projects/manual-commit-deployment.png
  docs/img/graphql/cloud/projects/setup-github-integration.png
Owners: @hasura/hge-docs-owners

docs: add additional resources for getting started
  docs/graphql/cloud/getting-started/index.rst
  docs/graphql/core/databases/index.rst
  docs/graphql/core/getting-started/docker-simple.rst
  docs/graphql/core/getting-started/index.rst
Owners: @hasura/hge-docs-owners

Server: Index `RawFunctionInfo` by backend
  server/src-lib/Hasura/Backends/BigQuery/DDL.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Field.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Function.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-server

cli: refactor metadata object interface
  cli/commands/metadata_apply.go
  cli/commands/metadata_clear.go
  cli/commands/metadata_diff.go
  cli/commands/metadata_export.go
  cli/commands/metadata_inconsistency_drop.go
  cli/commands/metadata_inconsistency_list.go
  cli/commands/metadata_inconsistency_status.go
  cli/commands/metadata_reload.go
  cli/commands/migrate_create.go
  cli/commands/scripts_update_config_v2.go
  cli/internal/metadataobject/actions/actions.go
  cli/internal/metadataobject/allowlist/allow_list.go
  cli/internal/metadataobject/api_limits/api_limits.go
  cli/internal/metadataobject/cron_triggers/cron_triggers.go
  cli/internal/metadataobject/errors/errors.go
  cli/internal/metadataobject/functions/functions.go
  cli/internal/metadataobject/functions/v3metadata.go
  cli/internal/metadataobject/graphql_schema_introspection/graphql_schema_introspection.go
  cli/internal/metadataobject/inherited_roles/inherited_roles.go
  cli/internal/metadataobject/metadataobject.go
  cli/internal/metadataobject/querycollections/query_collections.go
  cli/internal/metadataobject/remoteschemas/remote_schemas.go
  cli/internal/metadataobject/rest_endpoints/rest_endpoints.go
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/tables/tables.go
  cli/internal/metadataobject/tables/v3metadata.go
  cli/internal/metadataobject/version/v3metadata.go
  cli/internal/metadataobject/version/version.go
  cli/internal/projectmetadata/handler.go
  cli/internal/projectmetadata/handler_test.go
  cli/internal/projectmetadata/objects.go
  cli/internal/scripts/update-project-v3.go
  cli/migrate/api/metadata.go
  cli/migrate/api/migrate.go
  cli/pkg/metadata/project_metadata.go
  cli/util/server.go
Owners: @hasura/hge-cli-owners

ci: small formatting improvements to the benchmark output
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

Remove several outdated backend constraints
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/OrderBy.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
Owners: @hasura/hge-server

docs: fix typo in MSSQL docs
  docs/graphql/core/databases/ms-sql-server/index.rst
Owners: @hasura/hge-docs-owners

console: fix untracked foreign-key relationships suggestion across schemas
  CHANGELOG.md
  console/src/components/Services/Data/DataActions.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

console/inherited-roles: allow resolution of conflicting permissions
  CHANGELOG.md
  console/src/components/Main/Main.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Settings/Container.tsx
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/components/Services/Settings/Sidebar.tsx
  console/src/components/Services/Settings/State.js
  console/src/metadata/reducer.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: revert the relaxing of unique name constraint in allow-lists
  CHANGELOG.md
  docs/graphql/core/deployment/allow-list.rst
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/tests-py/queries/graphql_query/allowlist/add_duplicate_query.yaml
  server/tests-py/queries/graphql_query/allowlist/duplicate_operation_names.yaml
  server/tests-py/queries/graphql_query/allowlist/setup.yaml
  server/tests-py/test_allowlist_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

cli-migrations-v2: use env variable to start temporary hasura instance
  CHANGELOG.md
  scripts/cli-migrations/Makefile
  scripts/cli-migrations/v2/docker-entrypoint.sh
  scripts/cli-migrations/v2/test/validation/metadata.json
Owners: @hasura/hge-changelog-owners

cli: fix query endpoint construction
  cli/cli.go
  cli/commands/migrate_apply_test.go
Owners: @hasura/hge-cli-owners

console/tests: add manage db tests for mssql
  console/cypress-local.json
  console/cypress.json
  console/cypress/integration/data/manage-database/common.spec.ts
  console/cypress/integration/data/manage-database/mssql.spec.ts
  console/cypress/integration/data/manage-database/postgres.spec.ts
  console/cypress/integration/data/manage-database/spec.ts
  console/cypress/integration/data/manage-database/test.ts
  console/cypress/integration/events/one-off-trigger/spec.ts
  console/cypress/integration/events/one-off-trigger/test.ts
Owners: @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
