Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

docs: add rest connectors to action transform docs
  docs/graphql/core/actions/transforms.rst
Owners: @hasura/hge-docs-owners

cli: wrap errors
  cli/cli.go
  cli/commands/actions_create.go
  cli/commands/metadata_handlers.go
  cli/commands/metadata_inconsistency_list.go
  cli/commands/metadata_reload.go
  cli/commands/migrate_apply.go
  cli/internal/diff/diff.go
  cli/internal/metadataobject/metadataobject.go
  cli/migrate/cmd/commands.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/util.go
  cli/pkg/metadata/project_metadata_test.go
  cli/pkg/migrate/project_migrate_test.go
  cli/util/server.go
  cli/util/server_test.go
Owners: @hasura/hge-cli-owners

Refactor `InputFieldInfo`
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/TypeChecking.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-test/Hasura/GraphQL/Parser/TestUtils.hs
Owners: @hasura/hge-server

ci: add build and test job for arm64 oss cli migrations
  scripts/cli-migrations/Makefile
  scripts/cli-migrations/v2/Dockerfile
  scripts/cli-migrations/v2/build.sh
  scripts/cli-migrations/v2/test/docker-compose.yaml
  scripts/cli-migrations/v2/test/test.sh
  scripts/cli-migrations/v3/Dockerfile
  scripts/cli-migrations/v3/build.sh
  scripts/cli-migrations/v3/test/docker-compose.yaml
  scripts/cli-migrations/v3/test/test.sh
Owners: @hasura/hge-changelog-owners

tag release v2.1.1
  CHANGELOG.md
  cli/README.md
  cli/get.sh
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

server: add more MSSQL tests to CI
  server/tests-py/queries/explain/docs_subscription_mssql.yaml
  server/tests-py/queries/explain/permissions_query_mssql.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

docs: expose hasura on https on GCP using kubernetes (close #2956)
  docs/graphql/core/deployment/deployment-guides/google-kubernetes-engine-cloud-sql.rst
Owners: @hasura/hge-docs-owners

ci: add support for linux/arm64 docker image
  CHANGELOG.md
  server/Makefile
  server/packaging/build/Dockerfile
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

tag release v2.1.0-beta.3
  CHANGELOG.md
  cli/README.md
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

fixes remote relationships format in metadata (fixes graphql-engine-mono/issues/3108)
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Remote.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

tag release v2.1.0
  CHANGELOG.md
  cli/README.md
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

Refactor XOnConflict and ExtraInsertData
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Types/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Conflict.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/IR/Conflict.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
Owners: @hasura/hge-server

server: fallback to unauthorised role when JWT is not found in cookie
  .circleci/server-test-names.txt
  .circleci/test-server.sh
  CHANGELOG.md
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/tests-py/conftest.py
  server/tests-py/queries/unauthorized_role/cookie_header_absent_unauth_role_not_set.yaml
  server/tests-py/queries/unauthorized_role/cookie_header_absent_unauth_role_set.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Bumps 'network' to a version that supports M1 ARM
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

console/hotfix: use legacy create_remote_relationship for pg
  console/src/metadata/queryUtils.ts
Owners: @hasura/hge-console-owners

Use proxy if env vars set (close #7781)
  cli/cli.go
Owners: @hasura/hge-cli-owners

make pg_table_metadata CockroachDB compatible
  server/src-rsr/pg_table_metadata.sql
Owners: @hasura/hge-server

community: update sample realtime-chat dependencies
  community/sample-apps/realtime-chat/Dockerfile
  community/sample-apps/realtime-chat/README.md
  community/sample-apps/realtime-chat/docker-compose.yml
  community/sample-apps/realtime-chat/hasura/metadata/databases/databases.yaml
  community/sample-apps/realtime-chat/package-lock.json
  community/sample-apps/realtime-chat/package.json
  community/sample-apps/realtime-chat/src/App.css
  community/sample-apps/realtime-chat/src/components/Banner.js
  community/sample-apps/realtime-chat/src/components/Chat.js
  community/sample-apps/realtime-chat/src/components/ChatWrapper.js
  community/sample-apps/realtime-chat/src/components/LandingPage.js
  community/sample-apps/realtime-chat/src/components/Main.js
  community/sample-apps/realtime-chat/src/components/MessageList.js
  community/sample-apps/realtime-chat/src/components/OnlineUsers.js
  community/sample-apps/realtime-chat/src/components/RenderMessages.js
  community/sample-apps/realtime-chat/src/components/Textbox.js
  community/sample-apps/realtime-chat/src/components/TypingIndicator.js
  community/sample-apps/realtime-chat/src/hooks/useInterval.js
  community/sample-apps/realtime-chat/src/index.js
  community/sample-apps/realtime-chat/src/registerServiceWorker.js
  community/sample-apps/realtime-chat/src/reportWebVitals.js
  community/sample-apps/realtime-chat/yarn.lock
Owners: @hasura/hge-changelog-owners

dev: add ci build flags that improved compile times to dev.sh cabal c…
  cabal.project.dev-sh.local
Owners: @hasura/hge-changelog-owners

console: add sample context section to request transforms
  CHANGELOG.md
  console/cypress/helpers/webhookTransformHelpers.ts
  console/cypress/integration/actions/spec.ts
  console/cypress/integration/events/create-trigger/spec.ts
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/KeyValueInput.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/NumberedSidebar.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/RequestUrlEditor.tsx
  console/src/components/Common/ConfigureTransformation/PayloadOptionsTransforms.tsx
  console/src/components/Common/ConfigureTransformation/RequestOptionsTransforms.tsx
  console/src/components/Common/ConfigureTransformation/SampleContextTransforms.tsx
  console/src/components/Common/ConfigureTransformation/requestTransformState.ts
  console/src/components/Common/ConfigureTransformation/stateDefaults.ts
  console/src/components/Common/ConfigureTransformation/utils.ts
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Modify.tsx
  console/src/utils/localStorage.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

benchmarks: add to interpretation guide docs
  server/benchmarks/README.md
Owners: @hasura/hge-server

Fix support for multiple array relationships in BigQuery
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/tests-py/queries/graphql_query/bigquery/nested_array_relationships.yaml
  server/tests-py/queries/graphql_query/bigquery/schema_setup_bigquery.yaml
  server/tests-py/queries/graphql_query/bigquery/setup_bigquery.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/gardening: change BackendInsert's kind to PostgresKind
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Types/Insert.hs
Owners: @hasura/hge-server

cli: add All option for `migrate` sub-commands (apply, delete and status) and `seed apply` command
  CHANGELOG.md
  cli/cli.go
  cli/commands/deploy.go
  cli/commands/migrate.go
  cli/commands/migrate_apply.go
  cli/commands/migrate_apply_test.go
  cli/commands/migrate_delete.go
  cli/commands/migrate_status.go
  cli/commands/seed.go
  cli/commands/seed_apply.go
  cli/commands/seed_create.go
  cli/integration_test/v2/migrate.go
  cli/integration_test/v3/deploy.go
  cli/integration_test/v3/migrate.go
  cli/internal/metadatautil/sources.go
  cli/pkg/migrate/apply.go
  cli/pkg/migrate/status.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

Experimental backend adapter
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/Experimental/Adapter/API.hs
  server/src-lib/Hasura/Experimental/Adapter/Backend.hs
  server/src-lib/Hasura/Experimental/Adapter/Execute.hs
  server/src-lib/Hasura/Experimental/Adapter/Metadata.hs
  server/src-lib/Hasura/Experimental/Adapter/Schema.hs
  server/src-lib/Hasura/Experimental/Adapter/Transport.hs
  server/src-lib/Hasura/Experimental/IR/Column.hs
  server/src-lib/Hasura/Experimental/IR/Expression.hs
  server/src-lib/Hasura/Experimental/IR/Function.hs
  server/src-lib/Hasura/Experimental/IR/Name.hs
  server/src-lib/Hasura/Experimental/IR/OrderBy.hs
  server/src-lib/Hasura/Experimental/IR/Query.hs
  server/src-lib/Hasura/Experimental/IR/Scalar/Type.hs
  server/src-lib/Hasura/Experimental/IR/Scalar/Value.hs
  server/src-lib/Hasura/Experimental/IR/Table.hs
  server/src-lib/Hasura/Experimental/Schema/Column.hs
  server/src-lib/Hasura/Experimental/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Execute/Instances.hs
  server/src-lib/Hasura/GraphQL/Schema/Instances.hs
  server/src-lib/Hasura/GraphQL/Transport/Instances.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/Instances.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Instances.hs
  server/src-lib/Hasura/SQL/Backend.hs
  server/src-lib/Hasura/Server/API/Instances.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: increase parallelism for console and server tests
  .circleci/server-test-names.txt
  .circleci/test-server.sh
Owners: @hasura/hge-changelog-owners

server/mssql: fix pytest class names for update mutations
  server/CONTRIBUTING.md
  server/tests-py/test_graphql_mutations.py
Owners: @hasura/hge-server

console: enable oss auth layer
  console/src/components/Services/Auth/useAuthContext.tsx
  console/src/hooks/useEnvVars.ts
  console/src/utils/featureFlags.ts
Owners: @hasura/hge-console-owners

docs: remove duplicated screenshot from dedicated vpc
  docs/graphql/cloud/dedicated-vpc.rst
Owners: @hasura/hge-docs-owners

console: add oss auth layer
  console/src/components/Services/Auth/AuthContainer.tsx
  console/src/components/Services/Auth/AuthService.ts
  console/src/components/Services/Auth/OSSAuthService.ts
  console/src/components/Services/Auth/useAuthContext.tsx
  console/src/hooks/useEnvVars.ts
  console/src/routes.js
  console/src/utils/featureFlags.ts
Owners: @hasura/hge-console-owners

docs: add steps to create remote schema permissions + fix adding remote schema docs
  docs/graphql/core/databases/postgres/schema/remote-relationships/remote-schema-relationships.rst
  docs/graphql/core/remote-schemas/adding-schema.rst
  docs/graphql/core/remote-schemas/auth/remote-schema-permissions.rst
  docs/img/graphql/core/remote-schemas/remote-schemas-user-role.png
  docs/img/graphql/core/remote-schemas/role-based-schema.png
Owners: @hasura/hge-docs-owners

ci: misc. cleanup, naming
  server/Makefile
Owners: @hasura/hge-server

Update README.md
  cli/README.md
Owners: @hasura/hge-cli-owners

mssql: Test upserts with permissions
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/article_if_matched_restricted_role_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/article_if_matched_user_role_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/values_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/values_teardown_mssql.yaml
  server/tests-py/test_graphql_mutations.py
Owners: @hasura/hge-server

server/mssql: use temporary tables for insert mutation execution
  CHANGELOG.md
  rfcs/mutations-mssql.md
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/tests-py/queries/graphql_mutation/insert/basic/insert_table_no_pk_mssql.yaml
  server/tests-py/test_graphql_mutations.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

simplified schema cache representation of remote relationships
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs-boot
  server/src-lib/Hasura/GraphQL/Schema/RemoteSource.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteSource.hs-boot
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship/Validate.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Relationships/FromSource.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Remote.hs
  server/src-lib/Hasura/RQL/Types/Relationships/ToSchema.hs
  server/src-lib/Hasura/RQL/Types/Relationships/ToSource.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/tests-py/queries/remote_schemas/remote_relationships/setup_invalid_remote_rel_type.yaml
  server/tests-py/test_remote_relationships.py
Owners: @hasura/hge-server

console: fix remote schema permissions default args
  console/src/components/Services/RemoteSchema/Permissions/__tests__/__snapshots__/utils.test.ts.snap
  console/src/components/Services/RemoteSchema/Permissions/__tests__/fixtures/roles.json
  console/src/components/Services/RemoteSchema/Permissions/__tests__/fixtures/schema2.json
  console/src/components/Services/RemoteSchema/Permissions/__tests__/fixtures/schema3.json
  console/src/components/Services/RemoteSchema/Permissions/__tests__/utils.test.ts
  console/src/components/Services/RemoteSchema/Permissions/utils.ts
Owners: @hasura/hge-console-owners

hspec: Tests for MySQL equivalent to the ones from the Python suite. close hasura/graphql-engine#7757
  server/graphql-engine.cabal
  server/tests-hspec/DirectivesSpec.hs
  server/tests-hspec/LimitOffsetSpec.hs
  server/tests-hspec/NestedRelationshipsSpec.hs
  server/tests-hspec/OrderingSpec.hs
  server/tests-hspec/Spec.hs
Owners: @hasura/hge-server

ci: automatically computes SHA for dockerfiles
  .circleci/cli-builder.dockerfile
  .circleci/deployer.dockerfile
  .circleci/extension-cli-builder.dockerfile
Owners: @hasura/hge-changelog-owners

docs: add note on using session variables with the unauthenticated role
  docs/graphql/core/auth/authentication/unauthenticated-access.rst
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
