Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

NDAT-295 Cleanup Tests.Subscriptions structure
  docs/docs/databases/index.mdx
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Schema/CustomFieldsSpec.hs
  server/lib/api-tests/test/Test/Subscriptions/RowUpdatesSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server: version command should be independent of any other flags
  server/src-exec/Main.hs
Owners: @hasura/hge-server

CockroachDB version check
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Connection/Connect.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/VersionCheck.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-test/Hasura/Backends/Postgres/Connection/VersionCheckSpec.hs
Owners: @hasura/hge-server

server: fix template validation behaviour
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Validation.hs
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_eval.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_parse.yaml
  server/tests-py/queries/v1/metadata/test_webhook_transform_custom_functions.yaml
Owners: @hasura/hge-server

server,pro: add metrics related to event trigger runtime
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Server/Metrics.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-server

Fix flaky round-trip unit tests
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ColumnSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ExpressionSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ScalarSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/SchemaSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/TableSpec.hs
  server/src-test/Hasura/Generator/Common.hs
Owners: @hasura/hge-server

Fix ambiguous ordering in Data Connector agent test
  server/lib/dc-api/test/Test/QuerySpec/AggregatesSpec.hs
Owners: @hasura/hge-server

[tooling] add install manifest for testing Yugabyte
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

server: reduce schema contexts to the bare minimum
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Node.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Postgres.hs
  server/src-lib/Hasura/GraphQL/Schema/Relay.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Schema/Typename.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
  server/src-test/Test/Parser/Internal.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

NDAT-295 Add Tests.Databases directory
  server/lib/api-tests/README.md
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Databases/BigQuery/Queries/SpatialTypesSpec.hs
  server/lib/api-tests/test/Test/Databases/BigQuery/Queries/TypeInterpretationSpec.hs
  server/lib/api-tests/test/Test/Databases/Postgres/BackendOnlyPermissionsSpec.hs
  server/lib/api-tests/test/Test/Databases/Postgres/DataValidation/PermissionSpec.hs
  server/lib/api-tests/test/Test/Databases/Postgres/DefaultValuesSpec.hs
  server/lib/api-tests/test/Test/Databases/Postgres/JsonbSpec.hs
  server/lib/api-tests/test/Test/Databases/Postgres/TimestampSpec.hs
  server/lib/api-tests/test/Test/Databases/Postgres/UniqueConstraintsSpec.hs
  server/lib/api-tests/test/Test/Databases/SQLServer/DefaultValuesSpec.hs
  server/lib/api-tests/test/Test/Databases/SQLServer/InsertVarcharColumnSpec.hs
  server/lib/api-tests/test/Test/Databases/SQLServer/VarcharLiteralsSpec.hs
Owners: @hasura/hge-server

server: Split the integration tests out into their own directories.
  .circleci/server-test-names.txt
  .circleci/test-server.sh
  scripts/make/ghcid.mk
  scripts/make/test-infrastructure.mk
  scripts/make/tests.mk
  server/CONTRIBUTING.md
  server/documentation/tips.md
  server/graphql-engine.cabal
  server/src-test/Discover.hs
  server/test-mssql/Database/MSSQL/TransactionSpec.hs
  server/test-mssql/Hasura/Backends/MSSQL/ErrorSpec.hs
  server/test-mssql/Main.hs
  server/test-mssql/SpecHook.hs
  server/test-postgres/Hasura/EventTriggerCleanupSuite.hs
  server/test-postgres/Hasura/Server/MigrateSuite.hs
  server/test-postgres/Hasura/StreamingSubscriptionSuite.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update documentation for main.
  server/tips.md
Owners: @hasura/hge-server

CI: Use the same PostgreSQL base images where possible.
  .circleci/server-upgrade-downgrade/run.sh
  docker-compose/databases.yaml
  nix/overlays/graphql-parser.nix
  nix/shell.nix
  server/tests-py/queries/graphql_query/boolexp/raster/query_st_intersects_geom_nband.yaml
  server/tests-py/queries/graphql_query/boolexp/raster/query_st_intersects_rast.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cli: refactor `migrate/source/file`, `migrate/source/stub` and `migrate/stub/testing` to use `internal/errors`
  cli/migrate/migrate.go
  cli/migrate/source/file/file.go
  cli/migrate/source/stub/stub.go
  cli/migrate/source/testing/testing.go
Owners: @hasura/hge-cli-owners

Revert rfcs/transforms.md to previous
  rfcs/transforms.md
Owners: @hasura/hge-changelog-owners

String interpolation for `Cockroach` backend module
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
Owners: @hasura/hge-server

Fix `EventTrigger` tests for the compatibility matrix
  server/lib/api-tests/test/Test/EventTriggers/PG/EventTriggersExtensionSchemaSpec.hs
  server/lib/api-tests/test/Test/EventTriggers/PG/EventTriggersRunSQLSpec.hs
  server/lib/api-tests/test/Test/EventTriggers/PG/EventTriggersUniqueNameSpec.hs
  server/lib/api-tests/test/Test/EventTriggers/PG/EventTriggersUntrackTableCleanupSpec.hs
Owners: @hasura/hge-server

console: E2E test to verify DB compatibility
  console/.gitignore
  console/cypress/e2e/db-compatibility/db-compatibility.e2e.test.ts
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

String interpolation for Postgres backend module
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
Owners: @hasura/hge-server

NDAT-293 Cleanup `Test.Databases.Postgres`
  scripts/make/tests.mk
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Databases/SQLServer/DefaultValues/OnConflictSpec.hs
  server/lib/api-tests/test/Test/Schema/DefaultValues/DefaultValuesSpec.hs
  server/lib/api-tests/test/Test/Schema/DefaultValues/OnConflictSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: link to DB matrix to individual DB sections
  docs/docs/databases/connect-db/cloud-databases/aiven.mdx
  docs/docs/databases/connect-db/cloud-databases/alloy.mdx
  docs/docs/databases/connect-db/cloud-databases/aws-aurora.mdx
  docs/docs/databases/connect-db/cloud-databases/aws-postgres.mdx
  docs/docs/databases/connect-db/cloud-databases/azure-cosmos.mdx
  docs/docs/databases/connect-db/cloud-databases/azure.mdx
  docs/docs/databases/connect-db/cloud-databases/crunchy.mdx
  docs/docs/databases/connect-db/cloud-databases/digital-ocean.mdx
  docs/docs/databases/connect-db/cloud-databases/elephant.mdx
  docs/docs/databases/connect-db/cloud-databases/enterprisedb.mdx
  docs/docs/databases/connect-db/cloud-databases/gcp.mdx
  docs/docs/databases/connect-db/cloud-databases/heroku.mdx
  docs/docs/databases/connect-db/cloud-databases/mssql.mdx
  docs/docs/databases/connect-db/cloud-databases/neon.mdx
  docs/docs/databases/connect-db/cloud-databases/railway.mdx
  docs/docs/databases/connect-db/cloud-databases/render.mdx
  docs/docs/databases/connect-db/cloud-databases/supabase.mdx
  docs/docs/databases/connect-db/cloud-databases/timescale-cloud.mdx
  docs/docs/databases/connect-db/cloud-databases/yugabyte.mdx
Owners: @hasura/hge-docs-owners

[GDC] Add explicit ordering to distinct, paginated, and filtered test
  server/lib/dc-api/test/Test/QuerySpec/AggregatesSpec.hs
Owners: @hasura/hge-server

Add `display_name`, `release_name` fields to MD Agent APIs - GDC-626
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/models/CapabilitiesResponse.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/capabilities.ts
  server/lib/api-tests/src/Test/DataConnector/MetadataApiSpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/lib/test-harness/src/Harness/Test/BackendType.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/RQL/DDL/DataConnector.hs
  server/src-lib/Hasura/RQL/DDL/SourceKinds.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fixed filtering not being applied across object relations in SQLite agent
  dc-agents/sqlite/src/query.ts
  server/lib/dc-api/test/Test/QuerySpec/RelationshipsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[server/tests] new Citus DB per test
  docker-compose/databases.yaml
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/Schema/EnumsSpec.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/tests: Avoid schema aliasing
  server/lib/api-tests/src/Test/Regression/UsingTheSameFunctionForRootFieldAndComputedField8643Spec.hs
  server/lib/api-tests/src/Test/Schema/ViewsSpec.hs
Owners: @hasura/hge-server

console: prevent react-ace to use a service worker
  console/src/components/Common/AceEditor/BaseEditor.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/JsonEditor.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/TemplateEditor.tsx
  console/src/components/Common/ConfigureTransformation/PayloadOptionsTransforms.tsx
  console/src/components/Common/CustomInputTypes/JsonInput.js
  console/src/components/Common/CustomInputTypes/TextInput.js
  console/src/components/Services/Actions/Codegen/CodeTabs.js
  console/src/components/Services/Actions/Codegen/DerivedFrom.js
  console/src/components/Services/Actions/Common/components/GlobalTypesViewer.tsx
  console/src/components/Services/Actions/Common/components/GraphQLEditor.tsx
  console/src/components/Services/ApiExplorer/Rest/Details.tsx
  console/src/components/Services/ApiExplorer/Rest/List.tsx
  console/src/components/Services/Common/Notification.tsx
  console/src/components/Services/Data/Common/Components/ConstraintExpandedContent.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryModal.tsx
  console/src/components/Services/Data/TableModify/ComputedFieldsEditor.tsx
  console/src/components/Services/Data/TableModify/TriggerEditorList.js
  console/src/components/Services/Data/TablePermissions/JSONEditor.tsx
  console/src/components/Services/Events/AdhocEvents/Add/Add.tsx
  console/src/components/Services/Events/Common/Components/CronTriggerForm.tsx
  console/src/components/Services/Events/Common/Components/InvocationLogDetails.tsx
  console/src/components/Services/Events/Common/Components/RedeliverEvent.tsx
  console/src/components/Services/Events/EventTriggers/InvokeManualTrigger/InvokeManualTrigger.js
  console/src/features/PermissionsForm/components/RowPermissions.tsx
  console/src/features/PermissionsForm/components/RowPermissionsBuilder/RowPermissionBuilder.tsx
  console/src/new-components/Form/CodeEditorField.tsx
Owners: @hasura/hge-console-owners

Reordered the prereq for getting started with Athena.
  docs/docs/databases/athena/getting-started/cloud.mdx
Owners: @hasura/hge-docs-owners

platform: introduce nx docs
  frontend/.prettierignore
  frontend/README.md
  frontend/apps/console-ce/project.json
  frontend/apps/console-ee/project.json
  frontend/docs/from-previous-console.md
  frontend/docs/generic-info.md
  frontend/jest.preset.js
  frontend/libs/console/legacy-ce/jest.config.ts
  frontend/libs/console/legacy-ce/src/setupTests.ts
  frontend/libs/console/legacy-ee/src/lib/components/Main/Actions.js
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.module.scss
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/MetricsV1.module.scss
  frontend/package-lock.json
  frontend/package.json
  frontend/tools/test-setup/setupTests.ts
Owners: @hasura/hge-changelog-owners

server: add default naming convention to `ServerConfig`
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

server: rename event trigger metric `hasura_event_processing_time_seconds` to `hasura_event_webhook_processing_time_seconds`
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Server/Metrics.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-server

Update documentation for main.
  server/haddock/main/Hasura-Server-Metrics.html
  server/haddock/main/Hasura-Server-Prometheus.html
  server/haddock/main/doc-index-All.html
  server/haddock/main/doc-index-E.html
  server/haddock/main/doc-index-S.html
  server/haddock/main/doc-index.json
  server/haddock/main/graphql-engine.haddock
  server/haddock/main/graphql-engine.txt
  server/haddock/main/src/Hasura.Eventing.EventTrigger.html
  server/haddock/main/src/Hasura.Server.Metrics.html
  server/haddock/main/src/Hasura.Server.Prometheus.html
Owners: @hasura/hge-server

docs: add event trigger metrics
  docs/docs/enterprise/metrics.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.15.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Upgrade the beta version of CockroachDB used in testing.
  docker-compose.yml
Owners: @hasura/hge-changelog-owners

hotfix (console): fix button margin handling
  console/src/new-components/Button/Button.tsx
Owners: @hasura/hge-console-owners

hotfix (console): `view database` launches wrong route
  console/src/components/Services/Data/Schema/components/GDCDatabaseListItem.tsx
Owners: @hasura/hge-console-owners

console: globally add missing <!DOCTYPE html>
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  server/src-rsr/console.html
Owners: @hasura/hge-cli-owners, @hasura/hge-server

ci: v2.15.0 catalog version update
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.0
  releases/v2.15.0
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
