Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

refactor: newtype alias for action checking feature flags
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/LogicalModel/API.hs
  server/src-lib/Hasura/RQL/DDL/FeatureFlag.hs
  server/src-lib/Hasura/Server/Init/FeatureFlag.hs
  server/src-lib/Hasura/Server/Types.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-server

console: change dynamic db label
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/ConnectDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/DynamicDBRouting/DynamicDBRoutingForm.tsx
Owners: @hasura/hge-changelog-owners

feature(server): ordered columns in Logical Model return type
  metadata.openapi.json
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/LogicalModels.hs
  server/src-lib/Hasura/CustomReturnType.hs
  server/src-lib/Hasura/CustomReturnType/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

feature(server): metadata for SQLServer logical model
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/API.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

frontend: setup buid validator executor
  frontend/apps/console-ce/project.json
  frontend/apps/console-ee/project.json
  frontend/libs/nx/internal-plugin/executors.json
  frontend/libs/nx/internal-plugin/src/executors/validate-javascript-bundle-output/executor.ts
  frontend/libs/nx/internal-plugin/src/executors/validate-javascript-bundle-output/schema.d.ts
  frontend/libs/nx/internal-plugin/src/executors/validate-javascript-bundle-output/schema.json
  frontend/package.json
Owners: @hasura/hge-changelog-owners

Partial cleanup of `Hasura/App`, refactor of `GlobalCtx`
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-server

console: add comment while creating remote schema
  frontend/libs/console/legacy-ce/src/lib/features/RemoteSchema/components/Create/utils.ts
Owners: @hasura/hge-changelog-owners

ci: tag release v2.22.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console: fix bug with new relationships UI and native views
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableRelationships/Relationships.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableRelationships/RelationshipsView.js
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/DatabaseRelationshipsTab.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
Owners: @hasura/hge-changelog-owners

frontend: update surveys after backend schema changes
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/hooks/useWizardState.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/mocks/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/mocks/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/components/IconCardGroup/IconCardGroup.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/components/IconCardGroup/IconCardGroup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/components/IconCardGroup/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/hooks/familiaritySurveyOptionDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/__mocks__/surveys.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/Common/RadioQuestion/FaOptionIcon.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/Common/RadioQuestion/IconCardGroup/IconCardGroup.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/Common/RadioQuestion/IconCardGroup/IconCardGroup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/Common/RadioQuestion/IconCardGroup/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/Common/RadioQuestion/RadioQuestion.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/FamiliaritySurveyTheme/FamiliaritySurveyTheme.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/FamiliaritySurveyTheme/HasuraFamiliaritySurvey.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/FamiliaritySurveyTheme/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/Survey.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/SurveyQuestion.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/components/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/hooks/useSurveysData.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/utils.ts
Owners: @hasura/hge-changelog-owners

server: consolidate schema cache and app context into a single `IORef`
  server/src-lib/Hasura/Server/AppStateRef.hs
Owners: @hasura/hge-server

chore(tests): move postgres-specific queries to own Logical Model tests
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Databases/Postgres/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/LogicalModelsQueriesSpec.hs
Owners: @hasura/hge-server

Allow running read-only run_sql queries in read-only mode
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
Owners: @hasura/hge-server

docs: add webm component and webm for openapi
  docs/docs/actions/open-api.mdx
  docs/src/components/Player/index.tsx
  docs/src/components/Player/styles.module.scss
  docs/static/img/actions/actions_import_openapi_spec.webm
  docs/wiki/style/images.mdx
Owners: @hasura/hge-docs-owners

docs: add support policy page
  docs/docs/policies/security-disclosure.mdx
  docs/docs/policies/sla.mdx
  docs/docs/policies/support.mdx
  docs/docs/policies/telemetry.mdx
Owners: @hasura/hge-docs-owners

pro, server: fix event trigger log cleanup regression in Postgres event triggers
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
Owners: @hasura/hge-server

Update documentation for main.
  server/haddock/main/src/Hasura.Backends.Postgres.DDL.EventTrigger.html
Owners: @hasura/hge-server

server: pass a partially applied function instead of passing `AppStateRef` to http handlers
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

make: Add make targets for formatting and linting frontend code.
  Makefile
  scripts/make/build.mk
  scripts/make/frontend.mk
  scripts/make/lint.mk
Owners: @hasura/hge-changelog-owners

Rename and clean CE app monad.
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-server

Split catalog migration and cache build, and solve the manager chicken-egg problem.
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/AppStateRef.hs
Owners: @hasura/hge-server

Refactor permissions string test DSF-225
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
Owners: @hasura/hge-changelog-owners

nix: Add a couple of LSP servers to shell.nix.
  nix/shell.nix
Owners: @hasura/hge-changelog-owners

Fix typo in remote-schemas overview
  docs/docs/remote-schemas/overview.mdx
Owners: @hasura/hge-docs-owners

console: UI improvements to snowflake & Athena tracking section
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/TrackTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/components/SearchBar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/components/TrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/components/UntrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/stories/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/utils.ts
Owners: @hasura/hge-changelog-owners

console: fixed stale permissions UI after failed mutation
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useSubmitForm.tsx
Owners: @hasura/hge-changelog-owners

server: improve schema-sync logs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Owners: @hasura/hge-server

Add dataset support to Oracle in the Super Connector
  server/lib/dc-api/test/Command.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Data/schema-tables.json
  server/lib/dc-api/test/Test/DataExport.hs
Owners: @hasura/hge-server

Logical Models for BigQuery
  scripts/make/tests.mk
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Databases/BigQuery/LogicalModelsSpec.hs
  server/lib/graphql-parser/src/Language/GraphQL/Draft/Syntax/Name.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Plan.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/LogicalModel/Metadata.hs
  server/src-lib/Hasura/LogicalModel/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Reset track tables search on input clear button [dsf-231]
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/TrackTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/components/SearchBar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/components/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/components/UntrackedTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/stories/TrackedTables.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/stories/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackTables/utils.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/InputField.tsx
Owners: @hasura/hge-changelog-owners

nix: Switch to nixpkgs-unstable.
  flake.lock
  flake.nix
  nix/overlays/dc-api.nix
  nix/shell.nix
  server/CONTRIBUTING.md
  server/VERSIONS.json
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

nix: Upgrade msodbcsql18 to the latest minor version.
  nix/msodbcsql18-darwin.nix
  nix/msodbcsql18-linux.nix
Owners: @hasura/hge-changelog-owners

nix: Bake the ODBC configuration path into unixODBC.
  nix/shell.nix
Owners: @hasura/hge-changelog-owners

Fix non-determinism in expected ordering in agent test suite test
  server/lib/dc-api/test/Test/Specs/MutationSpec/DeleteSpec.hs
Owners: @hasura/hge-server

cli: add support for `sources.logical_models` in metadata
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/sources/testdata/build_test/t1/metadata/databases/databases.yaml
  cli/internal/metadataobject/sources/testdata/build_test/t1/want.golden.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/metadata.json
  cli/internal/metadataobject/sources/testdata/export_test/t1/want/databases/databases.yaml
Owners: @hasura/hge-cli-owners

Fix MySQL mutations
  frontend/libs/console/legacy-ce/src/lib/dataSources/index.ts
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/TextInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/utils/getPlaceholder.ts
Owners: @hasura/hge-changelog-owners

console: move update columns out of advance setting on create ET form
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Add/CreateETForm.tsx
Owners: @hasura/hge-changelog-owners

Build the first schema cache in the app monad.
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-server

console: Set the new relationships UI as the default UI
  frontend/libs/console/legacy-ce/src/lib/features/FeatureFlags/availableFeatureFlags.ts
Owners: @hasura/hge-changelog-owners

feature(server): add Logical Models support for CockroachDB
  docker-compose/databases.yaml
  server/lib/api-tests/docker-compose.yaml
  server/lib/api-tests/src/Test/API/Metadata/LogicalModels/ValidationSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Databases/Postgres/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/LogicalModelsQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/SubscriptionsSpec.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/API.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server
