Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

console: fix ui for template gallery when there is no image
  console/cypress/helpers/dataHelpers.ts
  console/cypress/integration/data/template-gallery/test.ts
  console/src/components/Services/Data/Schema/TemplateGallery/Actions.ts
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/Actions.test.ts
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/__snapshots__/Actions.test.ts.snap
  console/src/components/Services/Data/Schema/TemplateGallery/__tests__/stubs/schemaSharingNetworkStubs.ts
Owners: @hasura/hge-console-owners

cli-ext: add docs for compiling cli-ext for new targets
  cli-ext/README.md
Owners: @hasura/hge-changelog-owners

tag release v2.0.6
  CHANGELOG.md
  cli/README.md
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

docs: improve computed field related docs
  docs/graphql/core/api-reference/graphql-api/query.rst
  docs/graphql/core/api-reference/syntax-defs.rst
  docs/graphql/core/databases/postgres/queries/query-filters.rst
  docs/graphql/core/databases/postgres/queries/sorting.rst
Owners: @hasura/hge-docs-owners

server: correctly generate remote relationship field type
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/tests-py/queries/remote_schemas/remote_relationships/remote_relationship_field_type.yaml
  server/tests-py/test_remote_relationships.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: enable aggregate permission toggle for Big Query sources
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/dataSources/index.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/mysql/index.tsx
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/types.ts
Owners: @hasura/hge-console-owners

Jberryman/1993 skip just report mode
  server/benchmarks/README.md
  server/benchmarks/benchmark_sets/remote_schema/SKIP_PR_REPORT
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

ci: don't build non-release with enable_coverage, so perf is comparable
  .circleci/config.yml
  server/Makefile
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

tag release v2.0.5
  CHANGELOG.md
  cli/README.md
  cli/get.sh
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

server benchmarks: Link directly to graphs in regression report, other style tweaks (#1720)
  server/benchmarks/README.md
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

Combine oss and pro server configuration
  .circleci/config.yml
  cabal.project
  cabal.project.dev
  cabal.project.dev-sh.local
  cabal.project.freeze
  sample.hie.yaml
  scripts/dev.sh
  server/CONTRIBUTING.md
  server/Makefile
  server/sample.hie.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/bigquery: implement `_in` and `_nin` operators. (close #7343)
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/tests-py/queries/graphql_query/bigquery/nested_select_query_article_author_where_on_relationship.yaml
  server/tests-py/queries/graphql_query/bigquery/select_query_author_where.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: add support for tagged and dynamic metrics
  scripts/ekg/ekg.html
  scripts/ekg/monitor.js
  server/cabal.project
  server/cabal.project.freeze
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Metrics.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fix telemetry unit test by sorting before comparing
  server/src-lib/Hasura/Server/Telemetry/Counters.hs
  server/src-test/Hasura/Server/TelemetrySpec.hs
Owners: @hasura/hge-server

console: remove "UIKit" components from the console codebase
  console/src/components/UIKit/atoms/AlertBox/AlertBox.ts
  console/src/components/UIKit/atoms/AlertBox/index.tsx
  console/src/components/UIKit/atoms/Button/Button.ts
  console/src/components/UIKit/atoms/Button/index.tsx
  console/src/components/UIKit/atoms/Checkbox/Checkbox.ts
  console/src/components/UIKit/atoms/Checkbox/index.tsx
  console/src/components/UIKit/atoms/RadioButton/RadioButton.ts
  console/src/components/UIKit/atoms/RadioButton/index.tsx
  console/src/components/UIKit/atoms/Spinner/Spinner.ts
  console/src/components/UIKit/atoms/Spinner/index.tsx
  console/src/components/UIKit/atoms/SwitchButton/SwitchButton.ts
  console/src/components/UIKit/atoms/SwitchButton/index.tsx
  console/src/components/UIKit/atoms/Tabs/Tabs.js
  console/src/components/UIKit/atoms/Tabs/index.js
  console/src/components/UIKit/atoms/Tooltip/Tooltip.js
  console/src/components/UIKit/atoms/Tooltip/index.js
  console/src/components/UIKit/atoms/index.js
  console/src/components/UIKit/demo/Components.js
  console/src/components/UIKit/demo/StyleGuide.js
  console/src/components/UIKit/demo/styles/index.ts
  console/src/components/UIKit/index.tsx
  console/src/components/index.js
  console/src/routes.js
Owners: @hasura/hge-console-owners

Update GraphQL Parser version to fix text encoding issue (fix #1965)
  CHANGELOG.md
  server/cabal.project
  server/src-test/Hasura/Generator.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Kill Arbitrary, take 2 (fix #1736)
  server/graphql-engine.cabal
  server/src-lib/Test/QuickCheck/Arbitrary/Extended.hs
  server/src-lib/Test/QuickCheck/Arbitrary/Partial.hs
  server/src-test/Hasura/Generator.hs
  server/src-test/Hasura/GraphQL/RemoteServerSpec.hs
Owners: @hasura/hge-server

server: fine tune cron triggers behaviour in replace metadata API call
  CHANGELOG.md
  server/src-lib/Data/HashMap/Strict/InsOrd/Extended.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Adds PG Client Cert Metadata API Documentation
  docs/graphql/core/api-reference/syntax-defs.rst
Owners: @hasura/hge-docs-owners

Fix getCustomizer test case
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-test/Hasura/GraphQL/RemoteServerSpec.hs
Owners: @hasura/hge-server

console: support creation of indexes on the console for postgres sources
  CHANGELOG.md
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableModify/IndexFields.tsx
  console/src/components/Services/Data/TableModify/IndexFieldsEditor.tsx
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyTable.scss
  console/src/dataSources/index.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/citus/index.tsx
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/mysql/index.tsx
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
  console/src/dataSources/types.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: make LazyTxT less lazy
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
Owners: @hasura/hge-server

cli-ext: fix sdl formatting
  CHANGELOG.md
  console/src/shared/utils/sdlUtils.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

console: fix remote schema permission bugs
  console/src/components/Services/RemoteSchema/Permissions/CollapsedField.tsx
  console/src/components/Services/RemoteSchema/Permissions/__tests__/__snapshots__/utils.test.ts.snap
  console/src/components/Services/RemoteSchema/Permissions/__tests__/utils.test.ts
  console/src/components/Services/RemoteSchema/Permissions/utils.ts
Owners: @hasura/hge-console-owners

Move symbolically linked cabal files for dev.sh from server directory to root directory
  cabal.project.dev-sh
  cabal.project.dev-sh.freeze
Owners: @hasura/hge-changelog-owners

console: change HEROKU_DATABASE_URL to PG_DATABASE_URL while creating datasource on cloud
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/utils.ts
  docs/graphql/cloud/projects/heroku-url-sync.rst
Owners: @hasura/hge-console-owners, @hasura/hge-docs-owners

server: support EdDSA keys for JWT
  .circleci/server-upgrade-downgrade/run.sh
  .circleci/test-server.sh
  CHANGELOG.md
  docs/graphql/core/auth/authentication/jwt.rst
  scripts/dev.sh
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/JWT/Internal.hs
  server/tests-py/.gitignore
  server/tests-py/context.py
  server/tests-py/requirements.txt
  server/tests-py/test_jwt.py
  server/tests-py/test_jwt_claims_map.py
  server/tests-py/validate.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

console: auto suggest `gen_random_uuid()` while adding a default value to UUID type column in schema other than public
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

ci: add mssql config to test_console job
  .circleci/config.yml
Owners: @hasura/hge-changelog-owners

console: export metadata before tracking new table (fix #6805) (fix #7221) (fix #7233)
  CHANGELOG.md
  console/src/components/Services/Data/Add/AddActions.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: document metadata versioning
  server/src-lib/Hasura/RQL/Types/Metadata.hs
Owners: @hasura/hge-server

Disable TLS checks for actions services with self-signed certificates
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Network.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/bigquery: run tests in CI
  .circleci/server-builder.dockerfile
  .circleci/test-server.sh
  scripts/data-sources-util.sh
  scripts/parse-pytest-backend
  server/CONTRIBUTING.md
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_metadata.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: hide old benchmark reports on Github
  server/benchmarks/fabfile.py
  server/benchmarks/utils/hide-benchmark-reports.sh
Owners: @hasura/hge-server

docs: update getting started guide
  docs/graphql/cloud/getting-started/index.rst
  docs/graphql/core/databases/index.rst
  docs/graphql/core/getting-started/docker-simple.rst
  docs/graphql/core/getting-started/index.rst
Owners: @hasura/hge-docs-owners

Mysql: Simple graphql queries along with offset/limits
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MySQL/Connection.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Meta.hs
  server/src-lib/Hasura/Backends/MySQL/Plan.hs
  server/src-lib/Hasura/Backends/MySQL/SQL.hs
  server/src-lib/Hasura/Backends/MySQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MySQL/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MySQL/Types/Internal.hs
  server/tests-py/queries/graphql_query/mysql/basic.yaml
  server/tests-py/queries/graphql_query/mysql/schema_setup_mysql.yaml
  server/tests-py/queries/graphql_query/mysql/select_query_author.yaml
  server/tests-py/queries/graphql_query/mysql/select_query_author_col_not_present_err.yaml
  server/tests-py/queries/graphql_query/mysql/select_query_author_limit.yaml
  server/tests-py/queries/graphql_query/mysql/select_query_author_limit_offset.yaml
  server/tests-py/queries/graphql_query/mysql/select_query_author_offset.yaml
  server/tests-py/queries/graphql_query/mysql/select_query_author_quoted_col.yaml
  server/tests-py/queries/graphql_query/mysql/select_query_non_tracked_table_err.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

console: use the data host passed by lux to contact lux data service
  console/src/Endpoints.ts
  console/src/Globals.ts
  console/src/components/App/Actions.js
  console/src/components/Main/Actions.js
  console/src/components/Main/State.ts
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/utils.ts
  console/src/helpers/localDev.js
Owners: @hasura/hge-console-owners

console: fix splitgraph console issue
  console/src/components/Services/Data/TreeView.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

server benchmarks: minor fixup of afbdb8d74
  server/benchmarks/benchmark_sets/remote_schema/SKIP_CI
Owners: @hasura/hge-server

Skip remote_schema benchmark in CI
  server/benchmarks/benchmark_sets/remote_schema/SKIP_CI
  server/benchmarks/fabfile.py
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
