Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

console: globally add missing <!DOCTYPE html>
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  server/src-rsr/console.html
Owners: @hasura/hge-cli-owners, @hasura/hge-server

ci: v2.15.0 catalog version update
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.0
  releases/v2.15.0
Owners: @hasura/hge-changelog-owners

ci: release v2.15.0-ce
  releases/v2.15.0-ce
Owners: @hasura/hge-changelog-owners

console: Fix the broken GraphiQL REST button
  console/cypress/e2e/tracing/api-graphiql/heap.api-graphiql.integration.test.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Owners: @hasura/hge-console-owners

cli: refactor `metadata inconsistency status` and `metadata reload` to use `internal/errors`
  cli/commands/metadata_inconsistency_status.go
  cli/commands/metadata_reload.go
Owners: @hasura/hge-cli-owners

ci: tag release v2.15.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Upgrade the beta version of CockroachDB used in testing.
  docker-compose.yml
Owners: @hasura/hge-changelog-owners

hotfix (console): fix button margin handling
  console/src/new-components/Button/Button.tsx
Owners: @hasura/hge-console-owners

hotfix (console): `view database` launches wrong route
  console/src/components/Services/Data/Schema/components/GDCDatabaseListItem.tsx
Owners: @hasura/hge-console-owners

console: globally add missing <!DOCTYPE html>
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  server/src-rsr/console.html
Owners: @hasura/hge-cli-owners, @hasura/hge-server

ci: v2.15.0 catalog version update
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.0
  releases/v2.15.0
Owners: @hasura/hge-changelog-owners

ci: release v2.15.0-ce
  releases/v2.15.0-ce
Owners: @hasura/hge-changelog-owners

fix(export-csv): fix export csv when no filter conditions are present
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
Owners: @hasura/hge-console-owners

cli: refactor `metadata apply` and `metadata clear` commands to use `internal/errors`
  cli/commands/metadata_apply.go
  cli/commands/metadata_clear.go
Owners: @hasura/hge-cli-owners

console(v2.15): fix export to CSV and JSON when no filter conditions are present
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
Owners: @hasura/hge-console-owners

console: Fix the broken GraphiQL REST button (close #9189)
  console/cypress/e2e/tracing/api-graphiql/heap.api-graphiql.integration.test.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Owners: @hasura/hge-console-owners

console (v2.14): fix export to CSV and JSON when no filter conditions are present
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
  docker-compose.yml
Owners: @hasura/hge-console-owners, @hasura/hge-changelog-owners

Merge branch 'release/v2.15' into release/v2.15-fix-graphiql-rest-button
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
Owners: @hasura/hge-console-owners

Console: fix export to CSV and JSON when no filter conditions are present
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
Owners: @hasura/hge-console-owners

console: Fix the broken GraphiQL REST button
  console/cypress/e2e/tracing/api-graphiql/heap.api-graphiql.integration.test.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Owners: @hasura/hge-console-owners

server: add jwk-refresh-log type to default enabled logs
  .circleci/test-server.sh
  docs/docs/deployment/logging.mdx
  server/src-lib/Hasura/Logging.hs
  server/tests-py/test_logging.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

Docs: Fix a missing image in the Athena PR
  docs/docs/databases/athena/getting-started/cloud.mdx
  docs/static/img/databases/athena/make-graphql-query.png
Owners: @hasura/hge-docs-owners

ci: tag release v2.15.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Upgrade the beta version of CockroachDB used in testing.
  docker-compose.yml
Owners: @hasura/hge-changelog-owners

hotfix (console): fix button margin handling
  console/src/new-components/Button/Button.tsx
Owners: @hasura/hge-console-owners

hotfix (console): `view database` launches wrong route
  console/src/components/Services/Data/Schema/components/GDCDatabaseListItem.tsx
Owners: @hasura/hge-console-owners

console: globally add missing <!DOCTYPE html>
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  server/src-rsr/console.html
Owners: @hasura/hge-cli-owners, @hasura/hge-server

ci: v2.15.0 catalog version update
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.0
  releases/v2.15.0
Owners: @hasura/hge-changelog-owners

ci: release v2.15.0-ce
  releases/v2.15.0-ce
Owners: @hasura/hge-changelog-owners

console(v2.15): fix export to CSV and JSON when no filter conditions are present
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
Owners: @hasura/hge-console-owners

console: Fix the broken GraphiQL REST button
  console/cypress/e2e/tracing/api-graphiql/heap.api-graphiql.integration.test.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Owners: @hasura/hge-console-owners

[server/tests] - fresh CockroachDB per test
  server/lib/api-tests/test/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/lib/api-tests/test/Test/Schema/EnumSpec.hs
  server/lib/api-tests/test/Test/Schema/ViewsSpec.hs
  server/lib/api-tests/test/Test/Subscriptions/DerivedDataSpec.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
Owners: @hasura/hge-server

docs: remove best practice references
  docs/docs/deployment/best-practices-for-production/index.mdx
  docs/docs/deployment/best-practices/_category_.json
  docs/docs/deployment/best-practices/db-observability.mdx
  docs/docs/deployment/best-practices/index.mdx
  docs/docs/deployment/best-practices/metadata.mdx
  docs/docs/deployment/best-practices/observability.mdx
  docs/docs/deployment/best-practices/performance.mdx.wip
  docs/docs/deployment/best-practices/security.mdx
  docs/docs/deployment/health-checks/_category_.json
  docs/docs/deployment/postgres-requirements.mdx
  docs/docs/deployment/securing-graphql-endpoint.mdx
Owners: @hasura/hge-docs-owners

replace `athena` with `Amazon Athena` for agent name in ddl
  console/src/components/Services/Data/DataSources/DataSourceFormWrapper.tsx
  console/src/features/ConnectDB/components/Driver.tsx
Owners: @hasura/hge-console-owners

Refactor DataConnector FixtureName constructors
  server/lib/api-tests/test/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/ErrorSpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Reference.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock.hs
  server/lib/test-harness/src/Harness/Test/BackendType.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
  server/lib/test-harness/src/Harness/Test/SchemaName.hs
Owners: @hasura/hge-server

server: do not apply default tenant time limits to Hasura EE
  .circleci/test-server.sh
  .dockerignore
  scripts/dev.sh
  scripts/make/legacy-tests.mk
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Limits.hs
  server/tests-py/.gitignore
  server/tests-py/package-lock.json
  server/tests-py/package.json
  server/tests-py/remote_schemas/nodejs/package.json
  server/tests-py/test_version.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add support for ordering by related tables and aggregates to the SQLite agent [GDC-313]
  dc-agents/sqlite/README.md
  dc-agents/sqlite/src/query.ts
  dc-agents/sqlite/src/raw.ts
  dc-agents/sqlite/src/schema.ts
  dc-agents/sqlite/src/util.ts
  server/lib/api-tests/test/Test/DataConnector/QuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/SelectPermissionsSpec.hs
  server/lib/dc-api/test/Test/QuerySpec/AggregatesSpec.hs
  server/lib/dc-api/test/Test/QuerySpec/OrderBySpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server
