Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

docs: update logs in delpoyment
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/deployment/logging.mdx
Owners: @hasura/hge-docs-owners

console (fix): add missing introspection SQL to get `is_identity` status for a column
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-changelog-owners

server: introduce option to log query only on errors
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

ci: tag release v2.11.12
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.11.12
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console: fix wildcard issue for columns in legacy permissions editor
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/utils.tsx
Owners: @hasura/hge-changelog-owners

docs: add note to hashing action
  docs/docs/getting-started/use-case/gql-backend.mdx
Owners: @hasura/hge-docs-owners

docs: update missing opentelemetry logs config
  community/boilerplates/observability/enterprise/examples/hasura/metadata/opentelemetry.yaml
  docs/docs/api-reference/metadata-api/observability.mdx
  docs/docs/observability/opentelemetry.mdx
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

server: `HASURA_GRAPHQL_HTTP_LOG_QUERY_ONLY_ON_ERROR` - add query to `http-log` irrespective of `query-log` enabled
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

ci: tag release v2.11.13
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.11.13
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

webhook handler in Python
  docs/docs/scheduled-triggers/recipes/daily-summary-email.mdx
Owners: @hasura/hge-docs-owners

docs: add et recipe for new user
  docs/docs/event-triggers/recipes/index.mdx
  docs/docs/event-triggers/recipes/new-user-welcome.mdx
  docs/docs/event-triggers/recipes/product-description-chatgpt-seo.mdx
Owners: @hasura/hge-docs-owners

code fix and review comment resolution
  docs/docs/scheduled-triggers/recipes/daily-summary-email.mdx
Owners: @hasura/hge-docs-owners

docs: fix mysql, mariadb, and oracle pages
  docs/docs/databases/mariadb/index.mdx
  docs/docs/databases/mysql/index.mdx
  docs/docs/databases/oracle/index.mdx
Owners: @hasura/hge-docs-owners

console: add schema registry note for data retention
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
Owners: @hasura/hge-changelog-owners

docs: added example webhook handler in Python
  docs/docs/scheduled-triggers/recipes/daily-summary-email.mdx
Owners: @hasura/hge-docs-owners

fix: escape SQL column names in MSSQL's event trigger
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
Owners: @hasura/hge-server

feat: covert js example to python
  docs/docs/event-triggers/recipes/new-user-welcome.mdx
Owners: @hasura/hge-docs-owners

feat: create a python version of ET Recipe for Welcoming New Users
  docs/docs/event-triggers/recipes/new-user-welcome.mdx
Owners: @hasura/hge-docs-owners

console: cherry pick for sr data retention note for 2.33
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
Owners: @hasura/hge-changelog-owners

console: cherry pick for sr data retention note for 2.34
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
Owners: @hasura/hge-changelog-owners

console: cherry pick for sr data retention note for 2.31
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
Owners: @hasura/hge-changelog-owners

console (hotfix): add missing introspection SQL to get is_identity status for a column
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-changelog-owners

Docs: Create a Python version of our ET Recipe for Content Moderation [Fixes #9909]
  docs/docs/event-triggers/recipes/moderate-user-content-with-gpt.mdx
Owners: @hasura/hge-docs-owners

Enclose config dict keys in ' '
  docs/docs/event-triggers/recipes/moderate-user-content-with-gpt.mdx
Owners: @hasura/hge-docs-owners

feat: python Recipe for Coupon Expiration
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
Owners: @hasura/hge-docs-owners

Most of the code done/mdx test
  docs/docs/scheduled-triggers/recipes/abandoned-cart.mdx
Owners: @hasura/hge-docs-owners

mdx part done
  docs/docs/scheduled-triggers/recipes/abandoned-cart.mdx
Owners: @hasura/hge-docs-owners

docs: add python example for product description chatgpt seo handler
  docs/docs/event-triggers/recipes/product-description-chatgpt-seo.mdx
Owners: @hasura/hge-docs-owners

feat: Adding Elestio as one-click deployment option
  README.md
  docs/docs/deployment/deployment-guides/elestio-one-click.mdx
  docs/docs/deployment/deployment-guides/index.mdx
  docs/static/img/deployment/elestio-choose-provider.png
  docs/static/img/deployment/elestio-dashboard.png
  docs/static/img/deployment/elestio-hasura-dashboard.png
  docs/static/img/deployment/elestio-support-level.png
  docs/static/img/deployment/elestio-version-upgrade.png
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

GT-721-change-schema-regsitry-tab-position
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/TopNav.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/Sidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/NavigationSidebar/NavigationSidebar.tsx
  frontend/libs/console/legacy-ee/src/lib/routes.js
Owners: @hasura/hge-changelog-owners

pr review fixes
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
Owners: @hasura/hge-docs-owners

extract coupon list from res
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
Owners: @hasura/hge-docs-owners

feat: Python example for ST Recipe for Coupon Expiration [Fixes #9911]
  docs/docs/scheduled-triggers/recipes/check-expiration.mdx
Owners: @hasura/hge-docs-owners

Docs: Create a Python version of our ET Recipe for Content Moderation [Fixes #9909]
  docs/docs/event-triggers/recipes/moderate-user-content-with-gpt.mdx
Owners: @hasura/hge-docs-owners

docs: add python example for product description chatgpt seo handler (close #9908)
  docs/docs/event-triggers/recipes/new-user-welcome.mdx
  docs/docs/event-triggers/recipes/product-description-chatgpt-seo.mdx
Owners: @hasura/hge-docs-owners

add python webhook for product-review
  docs/docs/scheduled-triggers/recipes/product-review.mdx
Owners: @hasura/hge-docs-owners

Change to increase ease of use
  docs/docs/scheduled-triggers/recipes/abandoned-cart.mdx
Owners: @hasura/hge-docs-owners

console: Schema Registry DX improvements(cherrypick v2.33)
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/TopNav.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/Sidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/NavigationSidebar/NavigationSidebar.tsx
  frontend/libs/console/legacy-ee/src/lib/routes.js
Owners: @hasura/hge-changelog-owners
