Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

docs: reformat links
  docs/docs/guides/best-practices-for-production/observability.mdx
  docs/docs/guides/best-practices-for-production/security.mdx
Owners: @hasura/hge-docs-owners

Update docs/docs/schema/postgres/computed-fields.mdx
  docs/docs/schema/postgres/computed-fields.mdx
Owners: @hasura/hge-docs-owners

Update docs/docs/schema/postgres/default-values/column-presets.mdx
  docs/docs/schema/postgres/default-values/column-presets.mdx
Owners: @hasura/hge-docs-owners

Update docs/docs/security/allow-list.mdx
  docs/docs/security/allow-list.mdx
Owners: @hasura/hge-docs-owners

Update docs/docs/schema/postgres/default-values/postgres-defaults.mdx
  docs/docs/schema/postgres/default-values/postgres-defaults.mdx
Owners: @hasura/hge-docs-owners

Dispatch JSON serialization by BackendType for Table Names in Test Suite
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/Mysql.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
Owners: @hasura/hge-server

server: deduplicate Postgres function names with HashSet
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
Owners: @hasura/hge-server

docs: update region migration docs
  docs/docs/projects/regions.mdx
Owners: @hasura/hge-docs-owners

Webhook Transforms: Move RequestCtx into a type family
  server/graphql-engine.cabal
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Class.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Headers.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Method.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/QueryParams.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Request.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Response.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Url.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/WithOptional.hs
Owners: @hasura/hge-server

server/multitenant: resize sources' connection pools when a cloud project is scaled, global connection pooling
  docs/docs/api-reference/syntax-defs.mdx
  server/src-lib/Database/MSSQL/Pool.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/Settings.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/EventTriggerCleanupSuite.hs
  server/src-test/Hasura/StreamingSubscriptionSuite.hs
  server/src-test/Main.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

feature (console): use `list_source_kinds` to get available drivers for the connect DB page
  console/src/features/DataSource/common/getAllSourceKinds/getAllSourceKinds.ts
  console/src/features/DataSource/gdc/introspection/getTablesListAsTree.tsx
  console/src/features/DataSource/index.ts
Owners: @hasura/hge-console-owners

console: fix frequently used columns dropdown (release/v2.14)
  console/src/components/Common/Dropdown/Dropdown.tsx
Owners: @hasura/hge-console-owners

cli: use `github.com/stretchr/testify/require` assertions in `internal/hasura/catalogstate` tests
  cli/internal/hasura/catalogstate/catalogstate_test.go
Owners: @hasura/hge-cli-owners

console: show `total max connections` in pool settings fields for CE/EE/Cloud
  console/src/components/Common/LabeledInput/index.tsx
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettings/ConnectionSettingsForm.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettings/parts/CumulativeMaxConnections.tsx
  console/src/components/Services/Data/DataSources/ConnectionSettings/parts/MaxConnections.tsx
  console/src/components/Services/Data/DataSources/state.ts
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
  console/src/metadata/types.ts
Owners: @hasura/hge-console-owners

server/tests-py: Make run.sh work on aarch64.
  server/tests-py/docker-compose.yml
  server/tests-py/run-new.sh
  server/tests-py/run.sh
Owners: @hasura/hge-server

console: Implemented `batch_size` API limit to tackle GraphQL batching attacks
  console/src/components/Services/ApiExplorer/Security/ApiLimits.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsForm.tsx
  console/src/components/Services/ApiExplorer/Security/LimitsFormWrapper.tsx
  console/src/components/Services/ApiExplorer/Security/__tests__/__snapshots__/utils.test.ts.snap
  console/src/components/Services/ApiExplorer/Security/actions.ts
  console/src/components/Services/ApiExplorer/Security/state.ts
  console/src/components/Services/ApiExplorer/Security/utils.tsx
  console/src/features/MetadataAPI/metadataTypes/apiLimits/apiLimits.ts
  console/src/metadata/__tests__/__snapshots__/utils.test.ts.snap
  console/src/metadata/__tests__/fixtures/input.ts
  console/src/metadata/__tests__/utils.test.ts
  console/src/metadata/actions.ts
  console/src/metadata/types.ts
  console/src/metadata/utils.ts
Owners: @hasura/hge-console-owners

tests: Docker Compose healthchecks
  docker-compose.yml
  docker-compose/sqlserver-init/init.sh
  scripts/make/test-infrastructure.mk
  scripts/make/tests.mk
  server/tests-py/docker-compose.yml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add (failing) remote relationship test for CockroachDB
  server/lib/api-tests/test/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
Owners: @hasura/hge-server

console: refactor the data pages edit tab
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableCommon/DataTableRowItem.tsx
  console/src/components/Services/Data/TableCommon/DataTableRowItem.types.ts
  console/src/components/Services/Data/TableEditItem/EditActions.js
  console/src/components/Services/Data/TableEditItem/TableEditItemContainer.tsx
  console/src/components/Services/Data/TableEditItem/TableEditItems.tsx
  console/src/components/Services/Data/index.ts
Owners: @hasura/hge-console-owners

cli: port `internal/hasura/v1graphql` package to use `internal/errors`
  cli/internal/hasura/v1graphql/v1graphql.go
  cli/internal/hasura/v1graphql/v1graphql_test.go
Owners: @hasura/hge-cli-owners

cli: port `internal/hausra/sourceops/postgres` to use `internal/errors`
  cli/internal/hasura/sourceops/postgres/pg.go
  cli/internal/hasura/sourceops/postgres/run_sql.go
  cli/internal/hasura/sourceops/postgres/run_sql_test.go
Owners: @hasura/hge-cli-owners

cli: port `internal/hasura/v2query` package to use `internal/errors`
  cli/internal/hasura/v2query/v2_query_test.go
  cli/internal/hasura/v2query/v2query.go
Owners: @hasura/hge-cli-owners

console: UI fixes for neon banner in connect db page
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/components/NeonOnboarding.tsx
  console/src/features/OnboardingWizard/constants.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
Owners: @hasura/hge-console-owners

update docs
  docs/docs/api-reference/graphql-api/query.mdx
Owners: @hasura/hge-docs-owners

Update query.mdx - fixes #9056
  docs/docs/api-reference/graphql-api/query.mdx
Owners: @hasura/hge-docs-owners

Mutable Sqlite GDC Fixture - GDC-455
  dc-agents/sqlite/test/db.sqlite
  docker-compose.yml
  server/lib/api-tests/test/Test/DataConnector/AggregateQuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/MetadataApiSpec.hs
  server/lib/api-tests/test/Test/DataConnector/QuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/SelectPermissionsSpec.hs
  server/lib/api-tests/test/Test/HelloWorldSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/PrimaryKeySpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Agent.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
  server/lib/test-harness/src/Harness/Test/SchemaName.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Adds GDC Fixture to query specs
  server/lib/api-tests/test/Test/HelloWorldSpec.hs
  server/lib/api-tests/test/Test/Queries/AggregationPredicatesSpec.hs
  server/lib/api-tests/test/Test/Queries/Directives/IncludeAndSkipSpec.hs
  server/lib/api-tests/test/Test/Queries/Directives/IncludeSpec.hs
  server/lib/api-tests/test/Test/Queries/Directives/SkipSpec.hs
  server/lib/api-tests/test/Test/Queries/DirectivesSpec.hs
  server/lib/api-tests/test/Test/Queries/FilterSearchSpec.hs
  server/lib/api-tests/test/Test/Queries/MultiColumnObjectRelationshipsSpec.hs
  server/lib/api-tests/test/Test/Queries/Paginate/LimitSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/NoQueriesAvailableSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/OperationNameSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/PrimaryKeySpec.hs
  server/lib/api-tests/test/Test/Queries/SortSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector.hs
Owners: @hasura/hge-server

cli: use `github.com/stretchr/testify/require` assertions in `internal/hasura/pgdump` tests
  cli/internal/hasura/pgdump/pgdump_test.go
Owners: @hasura/hge-cli-owners

Fix conflicting data connector comparison exp GraphQL types
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/RQL/DDL/DataConnector.hs
  server/src-lib/Hasura/RQL/DDL/SourceKinds.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/SQL/Backend.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
Owners: @hasura/hge-server

feature (console): add storybook components for local relationships for GDC
  console/src/features/BrowseRows/components/DataGrid/QueryDialog.tsx
  console/src/features/Data/ManageTable/ManageTable.tsx
  console/src/features/Data/hooks/useDatabaseHierarchy.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/ManualLocalRelationshipWidget.stories.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/ManualLocalRelationshipWidget.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/__mocks__/localrelationships.mock.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/hooks/useCreateManualLocalRelationship.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/hooks/useGetTargetOptions.test.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/hooks/useGetTargetOptions.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/hooks/useTableColumns.ts
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/LinkBlockHorizontal.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/LinkBlockVertical.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/MapColumns.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/Name.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/RelationshipType.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/SourceTable.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/TargetTable.stories.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/parts/TargetTable.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/schema.ts
  console/src/features/DataSource/common/utils.tsx
  console/src/features/DataSource/gdc/introspection/getTableColumns.ts
  console/src/features/MetadataAPI/stories/mocks/handlers.mock.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/DatabaseRelationshipTable.tsx
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/__test__/mocks.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/__test__/utils.spec.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/hooks/useListAllRelationshipsFromMetadata/useListAllRelationshipsFromMetadata.ts
  console/src/features/RelationshipsTable/DatabaseRelationshipsTable/hooks/useListAllRelationshipsFromMetadata/utils.ts
  console/src/new-components/Form/Form.tsx
  console/src/new-components/Form/Select.tsx
Owners: @hasura/hge-console-owners

console: hotfix neon UI changes to v2.13
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/components/NeonOnboarding.tsx
  console/src/features/OnboardingWizard/constants.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
Owners: @hasura/hge-console-owners

console: hotfix neon UI changes to v2.14
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/components/Neon/NeonBanner.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/index.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/components/NeonOnboarding.tsx
  console/src/features/OnboardingWizard/constants.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
Owners: @hasura/hge-console-owners

Refactor GDC Fixture Modules for Hspec Tests
  server/lib/api-tests/test/Test/DataConnector/AggregateQuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/MetadataApiSpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/ErrorSpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/lib/api-tests/test/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
  server/lib/api-tests/test/Test/DataConnector/QuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/SelectPermissionsSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/NoQueriesAvailableSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/OperationNameSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/PrimaryKeySpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Reference.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

Updated Read.me file to make more understandable
  README.md
Owners: @hasura/hge-changelog-owners

Add tests for query aliases
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Queries/AliasesSpec.hs
Owners: @hasura/hge-server

fix: Disable subscriptions in CockroachDB
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
Owners: @hasura/hge-server

Add tests for query fragments
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Queries/FragmentsSpec.hs
Owners: @hasura/hge-server

server: Update the contributing guide.
  server/CONTRIBUTING.md
Owners: @hasura/hge-server

docs: update role-based allow list version for console support
  docs/docs/security/allow-list.mdx
Owners: @hasura/hge-docs-owners

packaging: Rebuild the base images to get PostgreSQL Client 15.
  nix/shell.nix
  packaging/graphql-engine-base/debian.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
