Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

adding server/documentation/tips.md
  server/documentation/tips.md
Owners: @hasura/hge-server

Add a test of tests in common via persistent #2872
  cabal.project.freeze
  server/graphql-engine.cabal
  server/tests-hspec/BasicFieldsSpec.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/Mysql.hs
  server/tests-hspec/Harness/Postgres.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Refactor remote schema customization
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Namespace.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/src-test/Hasura/GraphQL/RemoteServerSpec.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
  server/src-test/Main.hs
  server/tests-py/queries/remote_schemas/validation/customize_all_the_things.yaml
  server/tests-py/queries/remote_schemas/validation/field_prefix_validation.yaml
  server/tests-py/queries/remote_schemas/validation/namespace_validation.yaml
  server/tests-py/queries/remote_schemas/validation/type_prefix_validation.yaml
  server/tests-py/test_schema_stitching.py
Owners: @hasura/hge-server

BigQuery remote joins
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/permission.rst
  docs/graphql/core/api-reference/schema-metadata-api/permission.rst
  scripts/data-sources-util.sh
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/API.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/tests-py/queries/graphql_query/bigquery/basic_remote_joins.yaml
  server/tests-py/queries/graphql_query/bigquery/schema_setup_bigquery.yaml
  server/tests-py/queries/graphql_query/bigquery/setup_bigquery.yaml
  server/tests-py/queries/graphql_query/bigquery/teardown_bigquery.yaml
  server/tests-py/queries/graphql_query/permissions/artist_select_query_Track.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

Bumps the Kriti Pin to 0.2.2
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

pass MSSQL_SA_PASSWORD to mssql container, and add MSSQL_HOST
  scripts/containers/mssql.sh
  server/documentation/tips.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: add update note for large event/cron logs
  docs/graphql/cloud/projects/move-project-v2.rst
  docs/graphql/core/guides/upgrade-hasura-v2.rst
Owners: @hasura/hge-docs-owners

console (chore): upgrade typescript to 4.5.2
  console/package-lock.json
  console/package.json
  console/src/components/Common/Button/Button.tsx
  console/src/components/Common/utils/jsUtils.tsx
  console/src/components/Services/Actions/Common/components/GraphQLEditor.tsx
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Settings/AllowedQueries/AddAllowedQuery.tsx
  console/src/dataSources/services/citus/utils.ts
  console/src/metadata/actions.ts
Owners: @hasura/hge-console-owners

docs: remove duplicate text
  docs/graphql/core/auth/authorization/inherited-roles.rst
Owners: @hasura/hge-docs-owners

community: fix typo in auth boilerplate
  community/boilerplates/auth-webhooks/lambda-cognito/tokenDecoder.js
Owners: @hasura/hge-changelog-owners

Add instructions for compiling graphql-engine natively on M1
  scripts/containers/mssql.sh
  scripts/containers/mysql.sh
  scripts/containers/postgres
  scripts/dev.sh
  server/COMPILING-ON-M1.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: throw broken invariant on data loader error
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MySQL/DataLoader/Execute.hs
  server/src-test/Hasura/Backends/MySQL/DataLoader/ExecuteTests.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

Auto-launch graphql-engine (close hasura/graphql-engine#7801, hasura/graphql-engine#7827 )
  docker-compose.yml
  docker-compose/postgres/init.sh
  server/graphql-engine.cabal
  server/tests-hspec/ArrayRelationshipsSpec.hs
  server/tests-hspec/BasicFieldsSpec.hs
  server/tests-hspec/DirectivesSpec.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/Feature.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Harness/Spec.hs
  server/tests-hspec/Harness/State.hs
  server/tests-hspec/HelloWorldSpec.hs
  server/tests-hspec/LimitOffsetSpec.hs
  server/tests-hspec/ObjectRelationshipsSpec.hs
  server/tests-hspec/OrderingSpec.hs
  server/tests-hspec/ServiceLivenessSpec.hs
  server/tests-hspec/Spec.hs
  server/tests-hspec/ViewsSpec.hs
  server/tests-hspec/WhereSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Allows for env var use in test_webhook_transform mock request url
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/manage-metadata.rst
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

server: Improve code readability around OnConflict clauses
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Types/Insert.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/IR/Conflict.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
Owners: @hasura/hge-server

server benchmarks: add introspection queries
  server/benchmarks/benchmark_sets/chinook/config.query.yaml
  server/benchmarks/benchmark_sets/huge_schema/config.query.yaml
Owners: @hasura/hge-server

Fix several issues with remote relationships.
  CHANGELOG.md
  console/src/metadata/queryUtils.ts
  docs/graphql/core/api-reference/metadata-api/index.rst
  docs/graphql/core/api-reference/metadata-api/remote-relationships.rst
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-docs-owners, @hasura/hge-server

cli: stop parsing unnecessary fields from config API
  cli/cli.go
Owners: @hasura/hge-cli-owners

Avoid `NonNullableType`
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-test/Hasura/GraphQL/Parser/TestUtils.hs
Owners: @hasura/hge-server

Avoid overlapping legacy/unified formats when parsing RemoteRelationshipDefinition (closes #3171)
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Remote.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
Owners: @hasura/hge-server

server: add support for nested object type in action
  CHANGELOG.md
  docs/graphql/core/actions/types/index.rst
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Postgres.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/CustomTypes.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/async/schema_setup.yaml
  server/tests-py/queries/actions/async/schema_teardown.yaml
  server/tests-py/queries/actions/nested-relation/create_async_action_with_nested_output_and_relation.yaml
  server/tests-py/queries/actions/nested-relation/create_sync_action_with_nested_output_and_nested_relation.yaml
  server/tests-py/queries/actions/nested-relation/schema_setup.yaml
  server/tests-py/queries/actions/nested-relation/schema_teardown.yaml
  server/tests-py/queries/actions/sync/get_user_by_email_nested_success.yaml
  server/tests-py/queries/actions/sync/query_action_recursive_output.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

ci: misc fixes and backports
  cli/get.sh
Owners: @hasura/hge-cli-owners

Allows for mock env vars in test-webhook-transform endpoint
  CHANGELOG.md
  server/src-lib/Data/Environment.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

pytest: fix nondeterminism in bigquery/nested_array_relationships.yaml
  server/tests-py/queries/graphql_query/bigquery/nested_array_relationships.yaml
Owners: @hasura/hge-server

utils: fix scripts/performance_report.sh
  scripts/performance_report.sh
Owners: @hasura/hge-changelog-owners

console: request transform bugfixes
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/RequestUrlEditor.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/TemplateEditor.tsx
  console/src/components/Common/ConfigureTransformation/PayloadOptionsTransforms.tsx
  console/src/components/Common/ConfigureTransformation/utils.ts
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/utils.ts
Owners: @hasura/hge-console-owners

server/mssql: update mutation, SQL generation and execution
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Update.hs
  server/tests-py/queries/graphql_mutation/update/basic/article_column_multiple_operators_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/article_inc_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/author_by_pk_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/author_by_pk_null_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/author_no_operator_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/author_set_name_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/numerics_inc_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/values_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/basic/values_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_can_update_unpublished_article_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_cannot_publish_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_cannot_update_another_users_article_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_cannot_update_id_col_article_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_cannot_update_published_article_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_update_author_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_update_author_other_userid_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/values_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/values_teardown_mssql.yaml
  server/tests-py/test_graphql_mutations.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: introspection cleanups
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Introspect.hs
Owners: @hasura/hge-server

server/mssql: Generate upsert mutation schema
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/GraphQL/Schema/Conflict.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
Owners: @hasura/hge-server

console: fix console crash while selecting columns in event trigger
  console/src/components/Services/Events/EventTriggers/Add/CreateETForm.tsx
  console/src/components/Services/Events/EventTriggers/Common/Operations.tsx
  console/src/components/Services/Events/EventTriggers/Modify/Modify.tsx
  console/src/components/Services/Events/EventTriggers/Modify/ModifyEvent.scss
  console/src/components/Services/Events/EventTriggers/Modify/OperationEditor.tsx
  console/src/components/Services/Events/EventTriggers/state.ts
Owners: @hasura/hge-console-owners

Fix interpreting urls from environment in the TestWebhookTransform endpoint
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/tests-py/queries/v1/metadata/test_webhook_transform_env_reference_success.yaml
  server/tests-py/test_metadata.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Include column mutability data in the schema generation code
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
Owners: @hasura/hge-server

Produce errors if permissions are set on non-mutable columns
  server/src-lib/Hasura/RQL/DDL/Permission.hs
Owners: @hasura/hge-server

cli: revert split remote schema permissions metadata into seperate files
  CHANGELOG.md
  cli/commands/testdata/config-v2-test-project/metadata/remote_schemas.yaml
  cli/commands/testdata/config-v3-test-project/metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata.go
  cli/integration_test/v2/metadata/latest/1_metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata/v1.1/1_metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata/v1.1/2_metadata/remote_schemas.yaml
  cli/integration_test/v3/metadata/latest/1_metadata/remote_schemas.yaml
  cli/integration_test/v3/metadata/latest/2_metadata/remote_schemas.yaml
  cli/integration_test/v3/metadata/v1.1/1_metadata/remote_schemas.yaml
  cli/integration_test/v3/metadata/v1.1/2_metadata/remote_schemas.yaml
  cli/internal/metadataobject/remoteschemas/remote_schemas.go
  cli/internal/metadataobject/remoteschemas/remote_schemas_test.go
  cli/internal/metadataobject/remoteschemas/testdata/metadata.json
  cli/internal/metadataobject/remoteschemas/testdata/metadata/remote_schemas/remote_schemas.yaml
  cli/internal/metadataobject/remoteschemas/testdata/metadata/remote_schemas/tt/permissions/permissions.yaml
  cli/internal/metadataobject/remoteschemas/testdata/metadata/remote_schemas/tt/permissions/schemas/manager.graphql
  cli/internal/metadataobject/remoteschemas/testdata/metadata/remote_schemas/tt/permissions/schemas/user.graphql
  cli/internal/projectmetadata/testdata/diff/t1/project/metadata/remote_schemas.yaml
  cli/internal/projectmetadata/testdata/diff/t1/project/metadata/remote_schemas/countries/permissions/permissions.yaml
  cli/internal/projectmetadata/testdata/diff/t1/project/metadata/remote_schemas/countries/permissions/schemas/manager.graphql
  cli/internal/projectmetadata/testdata/diff/t1/project/metadata/remote_schemas/remote_schemas.yaml
  cli/internal/projectmetadata/testdata/diff/t1/server/metadata/remote_schemas.yaml
  cli/internal/projectmetadata/testdata/diff/t1/server/metadata/remote_schemas/countries/permissions/permissions.yaml
  cli/internal/projectmetadata/testdata/diff/t1/server/metadata/remote_schemas/countries/permissions/schemas/foo.graphql
  cli/internal/projectmetadata/testdata/diff/t1/server/metadata/remote_schemas/countries/permissions/schemas/manager.graphql
  cli/internal/projectmetadata/testdata/diff/t1/server/metadata/remote_schemas/remote_schemas.yaml
  cli/internal/projectmetadata/testdata/diff/t1/want
  cli/pkg/metadata/testdata/projectv2/metadata/remote_schemas.yaml
  cli/pkg/metadata/testdata/projectv3/metadata/remote_schemas.yaml
  cli/pkg/migrate/testdata/projectv2/metadata/remote_schemas.yaml
  cli/pkg/migrate/testdata/projectv3/metadata/remote_schemas.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

ci: create draft release in oss repo
  .circleci/deploy.sh
  .circleci/release_notes.template.md
Owners: @hasura/hge-changelog-owners

Remove Identifier associated type family from Backend class (close #1758)
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-test/Hasura/RQL/IR/Generator.hs
  server/src-test/Hasura/RQL/IR/Postgres.hs
Owners: @hasura/hge-server

multitenant: support for starting multitenant in read only mode
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Main.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

Revert "Feature/multiple jwt secrets"
  docs/graphql/cloud/security/index.rst
  docs/graphql/cloud/security/mutiple-jwt-secrets.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-py/queries/unauthorized_role/cookie_header_absent_unauth_role_not_set.yaml
  server/tests-py/test_config_api.py
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: prepare for new loadschema hooks
  console/src/components/Common/ConfigureTransformation/CustomEditors/JsonEditor.tsx
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditor.tsx
  console/src/dataSources/index.ts
  console/src/dataSources/services/citus/utils.ts
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/types.ts
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useMetadata.ts
  console/src/features/MetadataAPI/hooks/useMetadataTables.ts
  console/src/features/MetadataAPI/hooks/useMetadataVersion.ts
  console/src/features/MetadataAPI/hooks/useRoles.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/PermissionsForm/PermissionBuilder/PermissionBuilder.tsx
  console/src/features/PermissionsTable/PermissionsTable.tsx
  console/src/features/PermissionsTable/hooks/usePermissions.tsx
  console/src/features/SqlQueries/datasources/__tests__/__snapshots__/common.test.ts.snap
  console/src/features/SqlQueries/datasources/__tests__/common.test.ts
  console/src/features/SqlQueries/datasources/bigquery.ts
  console/src/features/SqlQueries/datasources/citus.ts
  console/src/features/SqlQueries/datasources/common.ts
  console/src/features/SqlQueries/datasources/index.ts
  console/src/features/SqlQueries/datasources/mssql.ts
  console/src/features/SqlQueries/datasources/mysql.ts
  console/src/features/SqlQueries/datasources/postgres.ts
  console/src/features/SqlQueries/index.ts
  console/src/hooks/apiUtils.ts
  console/src/hooks/index.ts
  console/src/hooks/useMetadata.ts
  console/src/hooks/useTables.ts
  console/src/metadata/actions.ts
Owners: @hasura/hge-console-owners

Precedence Semantics for JWT/Admin Secrets
  docs/graphql/cloud/security/mutiple-jwt-secrets.rst
  docs/graphql/cloud/security/rotating-admin-secrets.rst
Owners: @hasura/hge-docs-owners
