Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

ci: release v2.16.1
  releases/v2.16.1
Owners: @hasura/hge-changelog-owners

ci: release v2.16.1-ce
  releases/v2.16.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.16.1-cloud.1
  releases/v2.16.1-cloud.1
Owners: @hasura/hge-changelog-owners

cli: fix CLI console not respecting offline mode configuration
  cli/cli.go
Owners: @hasura/hge-cli-owners

console: add control plane ws url to endpoints; minor refactor
  console/src/Endpoints.test.ts
  console/src/Endpoints.ts
  console/src/Globals.ts
  console/src/components/Main/Actions.js
  console/src/components/Main/State.ts
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/Data/Common/getMigrateUrl.ts
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/features/MetadataAPI/hooks/useMetadataMigration.ts
  console/src/features/MetadataAPI/hooks/utils.ts
  console/src/helpers/protocol.test.ts
  console/src/helpers/protocol.ts
  console/src/hooks/useConfig.ts
  console/src/routes.js
Owners: @hasura/hge-console-owners

console: refactor one-off scheduled event
  console/src/features/AdhocEvents/components/Form/Form.stories.tsx
  console/src/features/AdhocEvents/components/Form/Form.tsx
  console/src/features/AdhocEvents/components/Form/components/AdvancedSettings.tsx
  console/src/features/AdhocEvents/components/Form/components/RetryConfiguration.tsx
  console/src/features/AdhocEvents/components/Form/components/ScheduleEventPayloadInput.tsx
  console/src/features/AdhocEvents/components/Form/components/ScheduledTime.tsx
  console/src/features/AdhocEvents/components/Form/components/index.ts
  console/src/features/AdhocEvents/components/Form/hooks/index.tsx
  console/src/features/AdhocEvents/components/Form/hooks/useDefaultValues.tsx
  console/src/features/AdhocEvents/components/Form/hooks/useOneOffScheduledTriggerMigration.tsx
  console/src/features/AdhocEvents/components/Form/index.ts
  console/src/features/AdhocEvents/components/Form/mocks/metadata.mock.ts
  console/src/features/AdhocEvents/components/Form/schema.ts
  console/src/features/AdhocEvents/components/Form/utils.ts
  console/src/features/AdhocEvents/index.ts
  console/src/metadata/types.ts
  console/src/mocks/actions.ts
Owners: @hasura/hge-console-owners

Update neon.mdx
  docs/docs/databases/connect-db/cloud-databases/neon.mdx
Owners: @hasura/hge-docs-owners

docs: update cli install instructions
  docs/docs/hasura-cli/index.mdx
  docs/docs/hasura-cli/install-hasura-cli.mdx
Owners: @hasura/hge-docs-owners

Docs: Adds info about Monitoring > Operations enabling response body analysis and query variables
  docs/docs/observability/operations.mdx
  docs/static/img/observability/operations_capture-query-variables_2.16.0.png
  docs/static/img/observability/operations_empty-arrays-and-nulls_2.16.0.png
  docs/static/img/observability/operations_enable-extra-features_2.16.0.png
  docs/static/img/observability/operations_overview_2.16.0.png
Owners: @hasura/hge-docs-owners

frontend: upgrade to jest 27
  console/jest.config.js
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonDatabase.test.tsx
  console/src/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonOAuth.test.tsx
  console/src/hooks/__tests__/apiUtils.spec.ts
  frontend/libs/console/legacy-ce/src/lib/hooks/__tests__/apiUtils.spec.ts
  frontend/package-lock.json
  frontend/package.json
Owners: @hasura/hge-console-owners, @hasura/hge-changelog-owners

add run-new.sh docs
  server/CONTRIBUTING.md
  server/tests-py/README.md
Owners: @hasura/hge-server

server/tests-py: Remove a check for PostgreSQL 10.
  server/tests-py/conftest.py
  server/tests-py/fixtures/postgres.py
  server/tests-py/test_events.py
Owners: @hasura/hge-server

Remove `*Source` fields from API test permissions
  server/lib/api-tests/src/Test/Queries/FilterSearch/AggregationPredicatesSpec.hs
  server/lib/api-tests/src/Test/Regression/DropColumnWithPermissions8415Spec.hs
  server/lib/api-tests/src/Test/Regression/InsertOnConflict8260Spec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
Owners: @hasura/hge-server

pro/server: add user_id of the collaborator in http_log
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-lib/Hasura/Session.hs
Owners: @hasura/hge-server

add rfc file
  rfcs/database-connection-routing.md
Owners: @hasura/hge-changelog-owners

console: fix issues with MRAU feature(s)
  console/src/components/Services/Data/Schema/CollapsibleToggle.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
  console/src/features/ConnectDB/hooks/useCheckDatabaseLatency.tsx
  console/src/features/ConnectDB/hooks/useSubmit.tsx
  console/src/features/ConnectDB/hooks/useUpdateProjectRegionChangeStat.tsx
Owners: @hasura/hge-console-owners

console: integrate new one-off scheduled event form with console
  console/src/components/Services/Events/AdhocEvents/Add/Add.tsx
  console/src/components/Services/Events/AdhocEvents/Add/index.tsx
  console/src/components/Services/Events/AdhocEvents/Add/state.ts
  console/src/components/Services/Events/AdhocEvents/utils.ts
  console/src/components/Services/Events/ServerIO.ts
  console/src/features/AdhocEvents/components/Form/components/ScheduleEventPayloadInput.tsx
  console/src/metadata/queryUtils.ts
Owners: @hasura/hge-console-owners

add preview form
  rfcs/database-connection-routing.md
Owners: @hasura/hge-changelog-owners

Revert "server: fix MSSQL event trigger `next_retry_at`"
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
Owners: @hasura/hge-server

Implement permission checks in the API tests
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Queries/Simple/InvalidQuerySpec.hs
  server/lib/api-tests/src/Test/Queries/Simple/MissingTableSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

server/tests: Port TestGraphQLQueryFunctions
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/PortedFromPytest/TestGraphQLQueryFunctions.hs
  server/lib/api-tests/src/Test/Queries/CustomFunctions/PortedSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/PytestPortedCompat.hs
  server/tests-py/PortToHaskell.py
  server/tests-py/conftest.py
  server/tests-py/queries/graphql_query/functions/alter_function_error.yaml
  server/tests-py/queries/graphql_query/functions/overloading_function_error.yaml
  server/tests-py/queries/graphql_query/functions/query_get_session_var.yaml
  server/tests-py/queries/graphql_query/functions/query_get_test_session_id.yaml
  server/tests-py/queries/graphql_query/functions/query_get_test_uuid.yaml
  server/tests-py/queries/graphql_query/functions/query_get_users.yaml
  server/tests-py/queries/graphql_query/functions/query_get_users_arguments_error.yaml
  server/tests-py/queries/graphql_query/functions/query_get_users_default_arguments_error.yaml
  server/tests-py/queries/graphql_query/functions/query_my_add.yaml
  server/tests-py/queries/graphql_query/functions/query_search_author_mview.yaml
  server/tests-py/queries/graphql_query/functions/query_search_posts.yaml
  server/tests-py/queries/graphql_query/functions/query_search_posts_aggregate.yaml
  server/tests-py/queries/graphql_query/functions/setup.yaml
  server/tests-py/queries/graphql_query/functions/teardown.yaml
  server/tests-py/queries/graphql_query/functions/track_customised_names.yaml
  server/tests-py/queries/graphql_query/functions/track_function_v2_errors.yaml
  server/tests-py/queries/graphql_query/functions/track_non_base_function_arg_type.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/validate.py
Owners: @hasura/hge-server

server: codecs for remote schemas metadata
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Data/HashMap/Strict/InsOrd/Autodocodec.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/RQL/DDL/Headers.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Remote.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/Core.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/Customization.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/Permission.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/RemoteRelationship.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
Owners: @hasura/hge-server

Run the `DefaultRootFieldSpec` tests on all backends.
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/Common.hs
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/DefaultRootFieldsSpec.hs
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/SelectPermission/DisableAllRootFieldsSpec.hs
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/SelectPermission/EnableAggSpec.hs
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/SelectPermission/EnableAllRootFieldsSpec.hs
  server/lib/api-tests/src/Test/Auth/Authorization/DisableRootFields/SelectPermission/EnablePKSpec.hs
Owners: @hasura/hge-server

docs: add import from openAPI doc
  docs/docs/actions/open-api.mdx
  docs/package-lock.json
  docs/static/img/actions/create-openapi.png
  docs/static/img/actions/generate-openapi.png
  docs/static/img/actions/import-openapi.png
  docs/static/img/actions/openapi-feature-flag.png
  docs/yarn.lock
Owners: @hasura/hge-docs-owners

server: event trigger codecs
  server/graphql-engine.cabal
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Hasura/Base/Instances.hs
  server/src-lib/Hasura/Metadata/DTO/Utils.hs
  server/src-lib/Hasura/RQL/DDL/Headers.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Class.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Headers.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Method.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/QueryParams.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Url.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/WithOptional.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-test/Hasura/RQL/DDL/Webhook/TransformSpec.hs
Owners: @hasura/hge-server

console: Skip some flaky E2E tests
  console/cypress/e2e/data/computed-fields/test.ts
Owners: @hasura/hge-console-owners

server: remove a redundant argument passed to `replaceMetadataV2`
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
Owners: @hasura/hge-server

Docs: Remove response body analysis
  docs/docs/observability/operations.mdx
  docs/static/img/observability/operations_enable-extra-features_2.16.0.png
Owners: @hasura/hge-docs-owners

[server] newtypes for BigQuery projectId and dataset
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Connection.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Meta.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
Owners: @hasura/hge-server

fix (console): Invalidate metadata global hook cache after tracking/untracking GDC tables
  console/src/features/Data/TrackTables/hooks/useTrackTable.ts
Owners: @hasura/hge-console-owners

Docs: Switch to SWC
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Owners: @hasura/hge-docs-owners

docs: add docs devcontainer
  .devcontainer/docs/devcontainer.json
  docs/CODESPACES.md
  docs/static/img/wiki/codespaces-1.gif
  docs/static/img/wiki/codespaces-2.gif
  docs/wiki/contributions.mdx
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

Docker: Add explicit `platform`s for databases.
  docker-compose/databases.yaml
Owners: @hasura/hge-changelog-owners

Create the hook to fetch the table rows from the server and download as CSV/JSON
  console/src/components/Common/utils/export.utils.test.ts
  console/src/components/Common/utils/export.utils.ts
  console/src/components/Common/utils/jsUtils.tsx
  console/src/components/Services/Data/TableBrowseRows/FilterActions.js
  console/src/components/Services/Settings/MetadataOptions/ExportMetadata.js
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.tsx
  console/src/features/BrowseRows/hooks/useExportRows/useExportRows.test.ts
  console/src/features/BrowseRows/hooks/useExportRows/useExportRows.ts
  console/src/features/BrowseRows/hooks/useExportRows/useExportRows.utils.ts
  console/src/features/BrowseRows/hooks/useRows.tsx
  console/src/features/DatabaseRelationships/utils/helpers.test.ts
  console/src/features/DatabaseRelationships/utils/helpers.ts
Owners: @hasura/hge-console-owners

[GQL-19] #8537 Move the scroll/count of rows facility to a position that is above the table, not below as currently
  console/src/components/Common/Common.module.scss
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/new-components/PaginationWithOnlyNav/PaginationWithOnlyNav.tsx
Owners: @hasura/hge-console-owners

remove references to MSSQL_DOCKER in dev.sh
  scripts/dev.sh
Owners: @hasura/hge-changelog-owners

console: Unify all the Analytics stories
  console/src/features/Analytics/components/Analytics.stories.tsx
  console/src/features/Analytics/components/Analytics.stories/Analytics.stories.tsx
  console/src/features/Analytics/components/Analytics.stories/AnalyticsButton.story.tsx
  console/src/features/Analytics/components/Analytics.stories/HtmlElement.story.tsx
  console/src/features/Analytics/components/Analytics.stories/ReactComponent.story.tsx
  console/src/features/Analytics/components/Analytics.stories/ReactComponentThatAcceptHtmlAttributes.story.tsx
Owners: @hasura/hge-console-owners

[tooling] fix `ghcid` commands in Makefile
  scripts/make/ghcid.mk
Owners: @hasura/hge-changelog-owners

server: Destroy metadata database connection pools on shutdown.
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

server/fix: `stringify-numeric-types` option in remote database relationships (fix #8387)
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Regression/RemoteRelationshipStringifyNum8387Spec.hs
  server/lib/test-harness/src/Harness/Yaml.hs
  server/lib/test-harness/test-harness.cabal
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Source.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
Owners: @hasura/hge-server
