Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

update the docs to exclude distinct_on for cockroach
  docs/docs/databases/postgres/cockroachdb/hasura-cockroachdb-compatibility.mdx
Owners: @hasura/hge-docs-owners

Updated Screenshots In Docs (close #8883)
  docs/docs/databases/bigquery/getting-started/docker.mdx
  docs/docs/databases/connect-db/index.mdx
  docs/docs/databases/ms-sql-server/getting-started/cloud.mdx
  docs/docs/databases/ms-sql-server/getting-started/docker.mdx
  docs/docs/databases/postgres/citus-hyperscale-postgres/getting-started/cloud.mdx
  docs/docs/databases/postgres/citus-hyperscale-postgres/getting-started/docker.mdx
  docs/static/img/databases/api-explorer_step-4_console_2.10.1.png
  docs/static/img/databases/bigquery/3-connect-bigquery.png
  docs/static/img/databases/bigquery/bigquery-add-service-account_console_2.12.1.png
  docs/static/img/databases/bigquery/bigquery-connect-existing-database_console_2.12.0.png
  docs/static/img/databases/bigquery/connect-big-query-db_console_2.10.1.png
  docs/static/img/databases/citus-hyperscale-postgres/1-add-source.png
  docs/static/img/databases/citus-hyperscale-postgres/connect-citus-db_console_2.10.1.png
  docs/static/img/databases/connect-db_step-1_console_2.10.1.png
  docs/static/img/databases/connect-default-db.png
  docs/static/img/databases/ms-sql-server/1-manage-databases.png
  docs/static/img/databases/ms-sql-server/2-add-source.png
  docs/static/img/databases/ms-sql-server/3-manage-mydb.png
  docs/static/img/databases/ms-sql-server/4-track-tables.png
  docs/static/img/databases/ms-sql-server/5-track-rels.png
  docs/static/img/databases/ms-sql-server/6-make-graphql-query.png
  docs/static/img/databases/ms-sql-server/7-run-sql.png
  docs/static/img/databases/ms-sql-server/connect-ms-sql-db_console_2.10.1.png
  docs/static/img/databases/ms-sql-server/manage-databases_console_2.10.1.png
  docs/static/img/databases/ms-sql-server/manage-db_step-3_console_2.10.1.png
  docs/static/img/databases/ms-sql-server/run-sql_step-3_console_2.10.1.png
  docs/static/img/databases/ms-sql-server/track-foreign-key-rel_step-3_console_2.10.1.png
  docs/static/img/databases/ms-sql-server/track-tables_step-3_console_2.10.1.png
Owners: @hasura/hge-docs-owners

docs: add action response transform
  docs/docs/actions/rest-connectors.mdx
  docs/static/img/actions/configure-rest-connectors.png
  docs/static/img/actions/transform-response_actions_2.13.png
Owners: @hasura/hge-docs-owners

console: Avoid tracing some GraphiQL errors in Sentry
  console/cypress/e2e/tracing/api-graphiql/sentry.integration.test.ts
  console/src/features/Analytics/core/sentry/errorMustBeBlocked/errorMustBeBlocked.test.ts
  console/src/features/Analytics/core/sentry/errorMustBeBlocked/errorMustBeBlocked.ts
  console/src/features/Analytics/core/sentry/errorMustBeBlocked/index.ts
  console/src/features/Analytics/core/sentry/errorMustBeBlocked/isGraphiQlError.ts
  console/src/features/Analytics/core/sentry/startSentryTracing.ts
Owners: @hasura/hge-console-owners

console(fix, plaftorm): Fix the E2E tests lint process
  console/cypress/support/contractIntercept/helpers/generateDescribesTitle.unit.test.ts
  console/cypress/support/contractIntercept/helpers/generateTestTitle.unit.test.ts
  console/cypress/support/contractIntercept/helpers/splitPathTask.unit.test.ts
  console/cypress/support/contractIntercept/helpers/throwIfCalledInTestHooks.unit.test.ts
  console/cypress/support/contractIntercept/helpers/throwIfCalledInsideArrowFunction.unit.test.ts
  console/package-lock.json
  console/package.json
  frontend/package-lock.json
  frontend/package.json
Owners: @hasura/hge-console-owners, @hasura/hge-changelog-owners

Changed hex value of highlight box and arrow
  docs/static/img/getting-started/connect-database-docker_step-3_console_2-12-0.png
  docs/static/img/getting-started/connect-database-docker_step-4_console_2-12-0.png
  docs/static/img/schema/add-1-1-relationship.png
  docs/static/img/schema/add-1-many-relationship.png
  docs/static/img/schema/add-default-value.png
  docs/static/img/schema/add-foreign-key.png
  docs/static/img/schema/add-remote-schema-relationship.png
  docs/static/img/schema/column-presets-option.png
  docs/static/img/schema/created-at.png
  docs/static/img/schema/custom-field-name-column.png
  docs/static/img/schema/manual-relationship-btn.png
  docs/static/img/schema/modify-sql-fn-table.png
  docs/static/img/schema/relay.png
Owners: @hasura/hge-docs-owners

Update Screenshots
  docs/static/img/getting-started/connect-database-docker_step-3_2nd_console_2-12-0.png
  docs/static/img/getting-started/connect-database-docker_step-3_console_2-12-0.png
  docs/static/img/getting-started/connect-database-docker_step-4_2nd_console_2-12-0.png
  docs/static/img/getting-started/connect-database-docker_step-4_console_2-12-0.png
  docs/static/img/schema/add-1-1-relationship.png
  docs/static/img/schema/add-1-many-relationship.png
  docs/static/img/schema/add-default-value.png
  docs/static/img/schema/add-foreign-key.png
  docs/static/img/schema/add-remote-schema-relationship.png
  docs/static/img/schema/column-presets-option.png
  docs/static/img/schema/column-presets-value-options.png
  docs/static/img/schema/create-table-graphql.png
  docs/static/img/schema/create-trigger.png
  docs/static/img/schema/created-at.png
  docs/static/img/schema/custom-field-name-column.png
  docs/static/img/schema/custom-field-name-root-fields.png
  docs/static/img/schema/manual-relationship-btn.png
  docs/static/img/schema/modify-sql-fn-table.png
  docs/static/img/schema/naming-convention.png
  docs/static/img/schema/relay.png
  docs/static/img/schema/schema-track-functions.png
  docs/static/img/schema/schema-track-relationships.png
  docs/static/img/schema/schema-track-tables.png
  docs/static/img/schema/schema-track-views.png
  docs/static/img/schema/updated-at.png
  docs/static/img/schema/validation-add-check-constraint.png
Owners: @hasura/hge-docs-owners

More doc-sshts updates
  docs/docs/getting-started/docker-simple.mdx
  docs/docs/getting-started/getting-started-cloud.mdx
Owners: @hasura/hge-docs-owners

update feature matrix roach distinct
  docs/docs/databases/index.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.15.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.15.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Upgrade the beta version of CockroachDB used in testing.
  docker-compose.yml
Owners: @hasura/hge-changelog-owners

Upgrade the beta version of CockroachDB used in testing.
  docker-compose.yml
Owners: @hasura/hge-changelog-owners

ci: update latest stable release as v2.14.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

add liveness and readiness kubernetes probes
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-changelog-owners

fix (console): wrong UI form for editing local relationships
  console/src/features/DataRelationships/DatabaseRelationshipsTab.tsx
  console/src/features/DataRelationships/components/DatabaseRelationshipsTable/DatabaseRelationshipTable.tsx
  console/src/features/DataRelationships/components/Form/EditRelationshipForm.tsx
  console/src/features/DataRelationships/components/Form/Form.tsx
  console/src/features/DataRelationships/components/ManualLocalRelationshipWidget/ManualLocalRelationshipWidget.tsx
  console/src/features/DataRelationships/components/RenameRelationship/RenameRelationship.tsx
  console/src/features/DataRelationships/components/RenameRelationship/useRenameRelationship.tsx
  console/src/features/ManageAgents/hooks/useListAvailableAgentsFromMetadata.ts
Owners: @hasura/hge-console-owners

restore previous project-manage.png
  docs/static/img/getting-started/project-manage.png
Owners: @hasura/hge-docs-owners

Revert files which were clashing with other PR so both can merge
  docs/static/img/getting-started/connect-db-console.png
  docs/static/img/getting-started/create-profile-table.png
  docs/static/img/getting-started/profile-query.png
Owners: @hasura/hge-docs-owners

Revert monitoring-tab-overview.png
  docs/static/img/observability/monitoring-tab-overview.png
Owners: @hasura/hge-docs-owners

[tests] Add Yugabyte to docker compose
  docker-compose.yml
  docker-compose/yugabyte/init.sql
  scripts/make/ghcid.mk
  scripts/make/tests.mk
Owners: @hasura/hge-changelog-owners

Add benchmarks for allowlist operations
  server/benchmarks/benchmark_sets/deep_schema/adhoc_operations/clear_metadata.json
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/add_collection.json
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/allowlist.sh
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/remove_collection.json
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/track_table.json
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/untrack_table.json
  server/benchmarks/benchmark_sets/huge_schema/adhoc_operations/untrack_track_table.sh
Owners: @hasura/hge-server

docs : Updated screenshots in the docs fixes #8998
  docs/static/img/getting-started/connect-db-cloud.png
  docs/static/img/getting-started/connect-db-console.png
  docs/static/img/getting-started/create-profile-table.png
  docs/static/img/getting-started/create-project.png
  docs/static/img/getting-started/db-setup.png
  docs/static/img/getting-started/getting-started-cloud-aws-and-gcp-emphasis.png
  docs/static/img/getting-started/getting-started-cloud-create-project.png
  docs/static/img/getting-started/monitoring-tab-overview.png
  docs/static/img/getting-started/profile-query.png
  docs/static/img/observability/integrate-azure-monitor.png
  docs/static/img/observability/integrate-datadog.png
  docs/static/img/observability/integrate-newrelic.png
  docs/static/img/observability/integrate-opentelemetry.png
  docs/static/img/observability/integrate-prometheus.png
Owners: @hasura/hge-docs-owners

docs: add sla and update index
  docs/docs/policies/index.mdx
  docs/docs/policies/sla.mdx
Owners: @hasura/hge-docs-owners

Add a test for `Distinct` queries
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Queries/DistinctSpec.hs
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
Owners: @hasura/hge-server

[tests] - allow Postgres source DB port to be overwritten in `api-tests`
  server/lib/api-tests/README.md
  server/lib/api-tests/test/SpecHook.hs
  server/lib/api-tests/test/Test/EventTrigger/PG/EventTriggersExtensionSchemaSpec.hs
  server/lib/api-tests/test/Test/EventTrigger/PG/EventTriggersReplaceMetadataCleanupSpec.hs
  server/lib/api-tests/test/Test/EventTrigger/PG/EventTriggersUniqueNameSpec.hs
  server/lib/api-tests/test/Test/EventTrigger/PG/EventTriggersUntrackTableCleanupSpec.hs
  server/lib/api-tests/test/Test/Metadata/InconsistentSpec.hs
  server/lib/api-tests/test/Test/Regression/NullRemoteRelationship8345Spec.hs
  server/lib/api-tests/test/Test/Regression/UsingTheSameFunctionForRootFieldAndComputedField8643Spec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/FromRemoteSchemaSpec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/MetadataAPI/Common.hs
  server/lib/api-tests/test/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/lib/api-tests/test/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/lib/api-tests/test/Test/Schema/EnumSpec.hs
  server/lib/api-tests/test/Test/Schema/ViewsSpec.hs
  server/lib/api-tests/test/Test/ServiceLivenessSpec.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
Owners: @hasura/hge-server

ConfigSpec Data Connector Agent Test
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/test/Main.hs
  server/lib/dc-api/test/Test/ConfigSpec.hs
Owners: @hasura/hge-server

Fixes chinook table/column customizations to have consistent casing
  server/lib/api-tests/test/Test/DataConnector/QuerySpec.hs
  server/lib/api-tests/test/Test/DataConnector/SelectPermissionsSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook.hs
Owners: @hasura/hge-server

Source catalog migrations minor enhancements
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/Server/Migrate/Version.hs
  server/src-test/Database/MSSQL/TransactionSuite.hs
Owners: @hasura/hge-server

cli: refactor `migrate/database/hasuradb` package to use `internal/errors`
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/schema_dump.go
  cli/migrate/database/hasuradb/settings.go
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
Owners: @hasura/hge-cli-owners

console: fix gql try it button
  console/src/components/Common/EditableHeading/generateGqlQueryFromTable.test.tsx
  console/src/components/Common/EditableHeading/utils.ts
Owners: @hasura/hge-console-owners

cli: refactor `update` package to use `internal/errors`
  cli/update/auto_update.go
  cli/update/hide_windows.go
  cli/update/update.go
Owners: @hasura/hge-cli-owners

docs: fix typo in query tags docs
  docs/docs/observability/query-tags.mdx
Owners: @hasura/hge-docs-owners

Add multiplexed subscription testing
  server/lib/api-tests/test/Test/Subscriptions/LiveQueriesSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
Owners: @hasura/hge-server

console(platform): Respect the Heap custom events convention
  console/cypress/e2e/tracing/api-graphiql/heap.api-graphiql.integration.test.ts
  console/src/components/Services/ApiExplorer/customAnalyticsEvents/graphiQl/trackGraphiQlCodeExporterClick.ts
  console/src/components/Services/ApiExplorer/customAnalyticsEvents/graphiQl/trackGraphiQlToolbarButtonClick.ts
  console/src/components/Services/ApiExplorer/customAnalyticsEvents/graphiQl/types.ts
  console/src/features/Analytics/core/trackCustomEvent.ts
Owners: @hasura/hge-console-owners

Rename `relevantEq` to `(==~)` for Ormolu's sake.
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
Owners: @hasura/hge-server

cli: refactor `plugins` to use `internal/errors`
  cli/plugins/move.go
  cli/plugins/plugins.go
  cli/plugins/scanner.go
  cli/plugins/types.go
  cli/plugins/util.go
Owners: @hasura/hge-cli-owners

Update documentation for main.
  server/haddock/main/graphql-engine.haddock
  server/haddock/main/src/Hasura.RQL.Types.Roles.Internal.html
Owners: @hasura/hge-server

[server] Fix CockroachDB live queries
  server/lib/api-tests/test/Test/Subscriptions/LiveQueriesSpec.hs
  server/lib/pg-client-hs/src/Database/PG/Query/PTI.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Subscription.hs
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Plan.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-test/Hasura/EncJSONSpec.hs
Owners: @hasura/hge-server

cli: refactor `internal/projectmetadata` package to use `internal/errors`
  cli/internal/projectmetadata/diff_test.go
  cli/internal/projectmetadata/handler.go
  cli/internal/projectmetadata/handler_test.go
Owners: @hasura/hge-cli-owners

add a test for subscriptions with variables
  server/lib/api-tests/test/Test/Subscriptions/LiveQueriesSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
Owners: @hasura/hge-server
