Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

chore(server): respect logical model array nullability
  server/lib/test-harness/src/Harness/Schema/LogicalModel.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/StoredProcedure/Schema.hs
Owners: @hasura/hge-server

Add additional tracing spans to HGE GraphQL queries and the Super Connector
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/RemoteSchema.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Source.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/Types/SourceConfiguration.hs
  server/src-lib/Hasura/Tracing/Utils.hs
Owners: @hasura/hge-server

console: fix scheduled trigger e2e tests
  frontend/apps/console-ce-e2e/src/e2e/one-off-scheduled-triggers/scheduled-event.test.ts
Owners: @hasura/hge-changelog-owners

fix: fix cron trigger invocation logs status
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/Common/Components/InvocationLogsTable.tsx
Owners: @hasura/hge-changelog-owners

console: tree nav storybook component
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/NavTree.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/NavTree.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/DatabaseNodeItem.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/FunctionNodeItem.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/GetHighlightedText.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/TableNodeItem.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/TreeComponent.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/TreeComponent.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/mocks/handlers.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/mocks/mockData.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/selectors.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/types.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-api/useMetadata.ts
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/redux-decorator.tsx
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

ci: tag release v2.27.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Fix: user defined functions UX interactions
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackFunctionForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackedFunctions.tsx
Owners: @hasura/hge-changelog-owners

chore(server): allow non-nullable NQ -> NQ object relationships
  server/lib/test-harness/src/Harness/Schema/LogicalModel.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/GenerateSelect.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/IR/Select/Lenses.hs
  server/src-lib/Hasura/RQL/IR/Select/RelationSelect.hs
Owners: @hasura/hge-server

tooling(server): new .envrc.local.example items
  .envrc.local.example
Owners: @hasura/hge-changelog-owners

feat: add soft validation and 3.1 support
  frontend/.storybook/main.ts
  frontend/apps/console-ce/src/polyfills.ts
  frontend/apps/console-ee/src/polyfills.ts
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/OASGeneratorForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.ts
  frontend/libs/console/legacy-ce/tsconfig.json
  frontend/package.json
  frontend/tools/webpack/withNodejsFallbacks.js
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

refactor: Rename 'Provenance(Unknown)' to 'Provenance(FreshVar)'
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Prepare.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Relay.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/IR/Value.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Backend/Postgres/Misc.hs
Owners: @hasura/hge-server

fix(pg): Support aliased fields for Native Query object relations
  server/lib/hasura-extras/src/Data/Text/NonEmpty.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Aggregate.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Helpers.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Simple.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/RQL/IR/Value.hs
Owners: @hasura/hge-server

Integrating launch darkly sdk to console
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

console: Add edit/view for native queries
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataRouter.js
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.route.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/UpdateNativeQuery.route.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/components/ListNativeQueries.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/constants.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Button/Button.tsx
Owners: @hasura/hge-changelog-owners

docs: change quotes on getting started backend guide
  docs/docs/getting-started/use-case/gql-backend.mdx
Owners: @hasura/hge-docs-owners

NativeQueries: validate that there are no unused or undeclare arguments
  scripts/make/tests.mk
  server/graphql-engine.cabal
  server/lib/error-message/error-message.cabal
  server/lib/error-message/src/Hasura/Base/ErrorMessage.hs
  server/lib/error-message/src/Hasura/Base/ToErrorValue.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
  server/src-lib/Hasura/LogicalModelResolver/Types.hs
  server/src-lib/Hasura/NativeQuery/InterpolatedQuery.hs
  server/src-lib/Hasura/NativeQuery/Validation.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console (fix): fix issue with permissions tab when metadata is in loading state
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/Permissions.js
Owners: @hasura/hge-changelog-owners

cherry pick omit_request_id flag for query tags to v2.11
  docs/docs/observability/query-tags.mdx
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/QueryTags.hs
  server/src-lib/Hasura/RQL/Types/QueryTags.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

chore(tests): output hge stderr in api-tests
  server/lib/test-harness/src/Harness/Services/ExternalProcess/GraphqlEngine.hs
Owners: @hasura/hge-server

ci: tag release v2.11.7
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release from v2.21 to v2.27
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.11.7
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Launchdarkly integration cherrypick
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

frontend: ui for schema registry v1
  frontend/control-plane-graphql-codegen.yml
  frontend/libs/console/legacy-ce/src/index.ts
  frontend/libs/console/legacy-ce/src/lib/Endpoints.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/utils/routesUtils.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/Sidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/ChangeSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CountLabel.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/FeatureRequest.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useSubmitSchemaRegistryFeatureRequest.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/mocks/schemas.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Tabs/Tabs.tsx
  frontend/libs/console/legacy-ee/src/lib/routes.js
Owners: @hasura/hge-changelog-owners

schema-registry: fix lux endpoint and misc fixes
  frontend/control-plane-graphql-codegen.yml
  frontend/libs/console/legacy-ce/src/lib/Endpoints.ts
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/utils/routesUtils.ts
Owners: @hasura/hge-changelog-owners

frontend: v2.26 schema registry milestone 1 cherry pick
  frontend/libs/console/legacy-ce/src/index.ts
  frontend/libs/console/legacy-ce/src/lib/Endpoints.ts
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/Sidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/ChangeSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CountLabel.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/FeatureRequest.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useSubmitSchemaRegistryFeatureRequest.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/mocks/schemas.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Tabs/Tabs.tsx
  frontend/libs/console/legacy-ee/src/lib/routes.js
Owners: @hasura/hge-changelog-owners

server: collect remote schema and database introspections while building schema cache
  server/src-lib/Hasura/Backends/BigQuery/Meta.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Function/Cache.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Build.hs
  server/src-lib/Hasura/Table/API.hs
  server/src-lib/Hasura/Table/Cache.hs
  server/src-test/Hasura/RQL/Types/CommonSpec.hs
Owners: @hasura/hge-server

Docs: Feature Support Matrix Table for MySQL
  docs/docs/databases/mysql/index.mdx
  docs/src/css/custom.scss
  docs/src/css/tables.scss
Owners: @hasura/hge-docs-owners

Docs: Feature Support Matrix for Oracle
  docs/docs/databases/oracle/index.mdx
Owners: @hasura/hge-docs-owners

chore(server): use new version of sandwich
  cabal.project
  cabal.project.freeze
  server/lib/dc-api/dc-api.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console (hotfix): fix issue with permissions tab
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/Permissions.js
Owners: @hasura/hge-changelog-owners

Put the message property first when encoding error JSON
  cli/internal/hasura/v1graphql/v1graphql_test.go
  server/lib/hasura-base/src/Hasura/Base/Error.hs
  server/lib/hasura-json-encoding/src/Hasura/EncJSON.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-cli-owners, @hasura/hge-server

Add tests interaction unit for the new relationship UI
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/DatabaseRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/parts/MapRemoteSchemaFields/MapRemoteSchemaFields.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RemoteSchemaRelationship/RemoteSchemaFieldMapping.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/mocks/handler.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/mocks/mocks.ts
Owners: @hasura/hge-changelog-owners

Fix update_by_pk and delete_by_pk placeholders
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/RootFieldEditor.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableModify/ModifyTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/CustomFieldNames/utils.spec.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/CustomFieldNames/utils.ts
Owners: @hasura/hge-changelog-owners

server: Preserve ordering when possible, and sort when it's not.
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/GenerateSelect.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/JoinTree.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Hasura/GraphQL/Schema/Build/UpdateSpec.hs
  server/src-test/Test/Backend/Postgres/Misc.hs
  server/src-test/Test/Parser/Internal.hs
  server/tests-py/queries/explain/limit_orderby_column_query.yaml
  server/tests-py/queries/explain/orderby_array_relationship_query.yaml
  server/tests-py/queries/graphql_mutation/enums/insert_enum_field_bad_value.yaml
  server/tests-py/queries/graphql_query/enums/select_where_enum_eq_bad_value.yaml
  server/tests-py/queries/graphql_query/enums/select_where_enum_eq_variable_bad_value.yaml
  server/tests-py/queries/openapi/openapi_endpoint_with_multiple_methods.yaml
  server/tests-py/queries/openapi/openapi_multiple_endpoints_same_path.yaml
  server/tests-py/queries/openapi/openapi_multiple_endpoints_test.yaml
  server/tests-py/queries/openapi/openapi_multiple_endpoints_with_path_segments.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_args.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_args_url.yaml
  server/tests-py/queries/v1/set_table_configuration/fail_conflicting_custom_table_name.yaml
Owners: @hasura/hge-server

chore(server): allow recursive native queries
  scripts/make/tests.mk
  server/lib/test-harness/src/Harness/Schema.hs
  server/lib/test-harness/src/Harness/Schema/NativeQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Local.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata/Instances.hs
  server/src-lib/Hasura/Server/API/Metadata/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update operators
  docs/docs/api-reference/graphql-api/index.mdx
  docs/docs/api-reference/graphql-api/query.mdx
  docs/docs/queries/postgres/query-filters.mdx
Owners: @hasura/hge-docs-owners

server: remove "__" prefixed types for schema-registry in the GQL Introspection
  server/src-lib/Hasura/GraphQL/ApolloFederation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
Owners: @hasura/hge-server

Update documentation for main.
  server/haddock/main/Hasura-GraphQL-ApolloFederation.html
  server/haddock/main/doc-index-All.html
  server/haddock/main/doc-index-G.html
  server/haddock/main/doc-index.json
  server/haddock/main/graphql-engine.haddock
  server/haddock/main/graphql-engine.txt
  server/haddock/main/src/Hasura.GraphQL.ApolloFederation.html
  server/haddock/main/src/Hasura.GraphQL.Schema.html
Owners: @hasura/hge-server

console: Integrating LaunchDarkly client (cherrypick v2.27)
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
