Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

ci: release v2.36.7-ce
  releases/v2.36.7-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.36.7-cloud.1
  releases/v2.36.7-cloud.1
Owners: @hasura/hge-changelog-owners

add an OpenDD Query type (#911)
  v3/crates/open-dds/src/identifier.rs
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/query.rs
Owners: @hasura/hge-changelog-owners

Remove warnings about data connector scalar representation (#918)
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/types.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/types/warning.rs
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/relationship/resolved.snap
  v3/crates/metadata-resolve/tests/passing/aggregate_expressions/root_field/resolved.snap
  v3/crates/metadata-resolve/tests/passing/missing_subgraph_when_ignoring_unknown_subgraphs/resolved.snap
Owners: @hasura/hge-changelog-owners

Use warning/issue for nested array in bool exp to avoid breakage (#917)
  v3/changelog.md
  v3/crates/metadata-resolve/src/stages/boolean_expressions/error.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/object.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/types/warning.rs
  v3/crates/metadata-resolve/tests/failing/boolean_expression/nested_array_not_allowed/metadata.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression/nested_array_not_allowed/resolve_error.snap
Owners: @hasura/hge-changelog-owners

Fallback to ObjectBooleanExpressionType on Model correctly (#919)
  v3/crates/metadata-resolve/src/helpers/argument.rs
Owners: @hasura/hge-changelog-owners

Add docs entries for #10921
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/mutations/ms-sql-server/index.mdx
  docs/docs/mutations/postgres/index.mdx
Owners: @hasura/hge-docs-owners

Document the changes to `ActionDefinition`
  docs/docs/api-reference/syntax-defs.mdx
Owners: @hasura/hge-docs-owners

feat: upgrade apollo-server-azure-functions from 2.26.2 to 3.13.0
  community/boilerplates/remote-schemas/azure-functions/nodejs/graphql/package.json
Owners: @hasura/hge-changelog-owners

feat: upgrade graphqurl from 0.3.3 to 1.0.3
  community/boilerplates/event-triggers/google-cloud-functions/nodejs8/mutation/package.json
Owners: @hasura/hge-changelog-owners

[docs]: simplify native query docs
  docs/docs/schema/bigquery/native-queries.mdx
  docs/docs/schema/ms-sql-server/native-queries.mdx
  docs/docs/schema/postgres/native-queries.mdx
  docs/docs/schema/snowflake/native-queries.mdx
Owners: @hasura/hge-docs-owners

Add docs entries for #10921
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/mutations/ms-sql-server/index.mdx
  docs/docs/mutations/postgres/index.mdx
Owners: @hasura/hge-docs-owners

[docs]: simplify native query docs
  docs/docs/schema/bigquery/native-queries.mdx
  docs/docs/schema/ms-sql-server/native-queries.mdx
  docs/docs/schema/postgres/native-queries.mdx
  docs/docs/schema/snowflake/native-queries.mdx
Owners: @hasura/hge-docs-owners

Document the changes to `ActionDefinition`
  docs/docs/api-reference/syntax-defs.mdx
Owners: @hasura/hge-docs-owners

simplify the sql context that powers datafusion (#921)
  v3/Cargo.lock
  v3/crates/engine/bin/engine/main.rs
  v3/crates/execute/src/plan.rs
  v3/crates/ir/src/arguments.rs
  v3/crates/ir/src/model_selection.rs
  v3/crates/ir/src/query_root/select_many.rs
  v3/crates/ir/src/query_root/select_one.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/mod.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/model_permission.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/types.rs
  v3/crates/sql/Cargo.toml
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/introspection.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/catalog/schema.rs
  v3/crates/sql/src/catalog/subgraph.rs
  v3/crates/sql/src/catalog/table.rs
  v3/crates/sql/src/execute.rs
  v3/crates/sql/src/execute/optimizer.rs
  v3/crates/sql/src/execute/optimizer/replace_table_scan.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/plan.rs
Owners: @hasura/hge-changelog-owners

Re-enable ndc version validation backwards compatibly (#916)
  v3/changelog.md
  v3/crates/metadata-resolve/src/stages/data_connectors/error.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/types/warning.rs
  v3/crates/metadata-resolve/tests/failing/data_connector_link/incompatible_capabilities_version/metadata.json
  v3/crates/metadata-resolve/tests/passing/data_connector_link/invalid_ndc_v01_capabilities_version_passing_with_issue/metadata.json
  v3/crates/metadata-resolve/tests/passing/data_connector_link/invalid_ndc_v01_capabilities_version_passing_with_issue/resolved.snap
Owners: @hasura/hge-changelog-owners

Tidy boolean expression schema generation (#920)
  v3/crates/engine/tests/execute/models/select_many/where/relationships/object_boolean_expression_type/array/simple/introspection_expected.json
  v3/crates/engine/tests/execute/models/select_many/where/relationships/object_boolean_expression_type/array/simple/introspection_request.gql
  v3/crates/engine/tests/introspection.rs
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/graphql.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/basic/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/nested_object/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
  v3/crates/schema/src/boolean_expression.rs
  v3/crates/schema/src/model_filter.rs
  v3/crates/schema/src/model_filter_input.rs
Owners: @hasura/hge-changelog-owners

Fix NDC relationship collection for filter predicates in nested relationship selection. (#924)
  v3/changelog.md
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/array/nested/expected.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/array/nested/request.gql
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/array/nested_multiple_fields/expected.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/array/nested_multiple_fields/request.gql
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/array/simple/expected.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/array/simple/request.gql
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/object/nested/expected.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/object/nested/request.gql
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/object/simple/expected.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/object/simple/request.gql
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/object/two_relationship_fields/expected.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/object/two_relationship_fields/request.gql
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/on_two_fields/expected.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/on_two_fields/request.gql
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/array/nested/expected.json
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/array/nested/request.gql
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/array/nested_multiple_fields/expected.json
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/array/nested_multiple_fields/request.gql
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/array/simple/expected.json
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/array/simple/request.gql
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/object/nested/expected.json
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/object/nested/request.gql
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/object/simple/expected.json
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/object/simple/request.gql
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/object/two_relationship_fields/expected.json
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/object/two_relationship_fields/request.gql
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/on_two_fields/expected.json
  v3/crates/engine/tests/execute/models/select_many/remote_relationship_predicates/on_two_fields/request.gql
  v3/crates/execute/src/plan/commands.rs
  v3/crates/execute/src/plan/model_selection.rs
  v3/crates/execute/src/plan/relationships.rs
  v3/crates/execute/src/plan/selection_set.rs
Owners: @hasura/hge-changelog-owners

engine: add operation_name attribute to execute_query (#913)
  v3/crates/execute/src/lib.rs
Owners: @hasura/hge-changelog-owners

add a flag to log traces to stdout (#931)
  v3/Cargo.lock
  v3/changelog.md
  v3/crates/auth/dev-auth-webhook/Cargo.toml
  v3/crates/auth/dev-auth-webhook/src/main.rs
  v3/crates/auth/hasura-authn-jwt/src/jwt.rs
  v3/crates/engine/bin/engine/main.rs
  v3/crates/utils/tracing-util/src/lib.rs
  v3/crates/utils/tracing-util/src/setup.rs
Owners: @hasura/hge-changelog-owners

ci: stable release v2.42.0 catalogue update
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

catalogue update
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.42.0
  releases/v2.42.0
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-ce
  releases/v2.42.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-cloud.1
  releases/v2.42.0-cloud.1
Owners: @hasura/hge-changelog-owners

Query usage analytics | include deprecated info in field usage (#932)
  v3/crates/execute/src/query_usage.rs
  v3/crates/execute/tests/generate_ir/field_argument/expected.json
  v3/crates/execute/tests/generate_ir/get_by_id/expected.json
  v3/crates/execute/tests/generate_ir/get_many/expected.json
  v3/crates/execute/tests/generate_ir/get_many_model_count/expected.json
  v3/crates/execute/tests/generate_ir/get_many_user_2/expected.json
  v3/crates/execute/tests/generate_ir/get_many_where/expected.json
  v3/crates/execute/tests/query_usage_analytics/query_album_customer_admin/expected.json
  v3/crates/execute/tests/query_usage_analytics/query_album_customer_admin/request.gql
  v3/crates/execute/tests/query_usage_analytics/query_article_author_user/expected.json
  v3/crates/execute/tests/query_usage_analytics/query_invoice_order_by/expected.json
  v3/crates/execute/tests/query_usage_analytics/schema.json
  v3/crates/execute/tests/query_usage_analytics/update_article_title_id_admin/expected.json
  v3/crates/execute/tests/query_usage_analytics/update_article_title_id_user/expected.json
  v3/crates/execute/tests/query_usage_analytics/upsert_article_admin/expected.json
  v3/crates/execute/tests/query_usage_analytics/upsert_article_user/expected.json
  v3/crates/ir/src/arguments.rs
  v3/crates/ir/src/filter.rs
  v3/crates/ir/src/permissions.rs
  v3/crates/ir/src/selection_set.rs
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/types.rs
  v3/crates/metadata-resolve/src/stages/object_types/types.rs
  v3/crates/metadata-resolve/src/stages/type_permissions/mod.rs
  v3/crates/metadata-resolve/src/stages/type_permissions/types.rs
  v3/crates/metadata-resolve/tests/passing/missing_subgraph_when_ignoring_unknown_subgraphs/resolved.snap
  v3/crates/query-usage-analytics/query_usage_analytics.jsonschema
  v3/crates/query-usage-analytics/src/lib.rs
  v3/crates/schema/src/boolean_expression.rs
  v3/crates/schema/src/model_order_by.rs
  v3/crates/schema/src/permissions.rs
  v3/crates/schema/src/types.rs
  v3/crates/schema/src/types/input_type.rs
  v3/crates/schema/src/types/output_type.rs
Owners: @hasura/hge-changelog-owners

Refactor SQL layer to use OpenDD query IR (#925)
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/build.rs
  v3/crates/open-dds/src/query.rs
  v3/crates/schema/bin/build-schema-from-metadata/main.rs
  v3/crates/schema/src/lib.rs
  v3/crates/sql/readme.md
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/introspection.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/catalog/subgraph.rs
  v3/crates/sql/src/execute/analyzer.rs
  v3/crates/sql/src/execute/optimizer.rs
  v3/crates/sql/src/execute/optimizer/projection_pushdown.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/plan.rs
Owners: @hasura/hge-changelog-owners

Fix permission filter usage reporting in query analytics (#933)
  v3/crates/execute/src/query_usage.rs
  v3/crates/execute/tests/query_usage_analytics/query_article_author_user/expected.json
  v3/crates/execute/tests/query_usage_analytics/schema.json
  v3/crates/execute/tests/query_usage_analytics/update_article_title_id_user/expected.json
  v3/crates/query-usage-analytics/query_usage_analytics.jsonschema
  v3/crates/query-usage-analytics/src/lib.rs
Owners: @hasura/hge-changelog-owners

add B3 and W3C tracing headers to CORS exposed headers (#883)
  v3/crates/engine/bin/engine/cors.rs
Owners: @hasura/hge-changelog-owners

Native queries validation: use existing pool instead of creating a new one
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-server

Remove references to 'SmolStr's in QueryNode (#934)
  v3/crates/execute/src/plan/field.rs
  v3/crates/execute/src/plan/filter.rs
  v3/crates/execute/src/plan/mutation.rs
  v3/crates/execute/src/plan/ndc_request/v01.rs
  v3/crates/execute/src/plan/ndc_request/v02.rs
  v3/crates/execute/src/plan/query.rs
  v3/crates/ir/src/aggregates.rs
  v3/crates/ir/src/model_selection.rs
Owners: @hasura/hge-changelog-owners

fix failing test `actionWithTransform.e2e.test.ts`
  frontend/apps/console-ce-e2e/src/e2e/actions/withTransform/__snapshots__/actionWithTransform.e2e.test.ts.snap
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-cloud.1
  releases/v2.42.0-cloud.1
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-ce
  releases/v2.42.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0
  releases/v2.42.0
Owners: @hasura/hge-changelog-owners

console: update `actionWithTransform.e2e.test.ts` snapshot file
  frontend/apps/console-ce-e2e/src/e2e/actions/withTransform/__snapshots__/actionWithTransform.e2e.test.ts.snap
Owners: @hasura/hge-changelog-owners

add AuthConfig v2 example (#937)
  v3/README.md
  v3/crates/engine/src/authentication.rs
  v3/docker-compose.yaml
  v3/justfile
  v3/pre_plugins.json
  v3/static/auth/auth_config.json
  v3/static/auth/auth_config_v2.json
Owners: @hasura/hge-changelog-owners

Avoid some unnecessary cloning (#938)
  v3/crates/metadata-resolve/src/stages/apollo/mod.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/relay/mod.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/type_permissions/mod.rs
Owners: @hasura/hge-changelog-owners

Store graphql type names in boolean expressions stage (#939)
  v3/crates/metadata-resolve/src/stages/boolean_expressions/graphql.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/object.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/error.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/scalar.rs
Owners: @hasura/hge-changelog-owners

[changelog] release v2024.08.07 (#940)
  v3/changelog.md
Owners: @hasura/hge-changelog-owners
