Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Remove some TemplateHaskell from Hasura.Server
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Cors.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Telemetry/Counters.hs
  server/src-lib/Hasura/Server/Telemetry/Types.hs
Owners: @hasura/hge-server

console (hotfix): fix issue with field type input defaulting to "text" if nothing is selected
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/components/FieldsInput.tsx
Owners: @hasura/hge-changelog-owners

feat(server): native Postgres array support
  docs/docs/mutations/postgres/insert.mdx
  server/graphql-engine.cabal
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Databases/Postgres/ArraySpec.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Name.hs
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/cockroach_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
  server/src-test/Hasura/Backends/Postgres/PGScalarTypeSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

change traffic golden signal in event trigger observability
  docs/docs/event-triggers/observability-and-performance.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.28.1 and v2.29.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server/postgres: update input validation [experimental]
  metadata.openapi.json
  server/graphql-engine.cabal
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Mutations/Update/ValidationSpec.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/lib/test-harness/src/Harness/Permissions/Metadata.hs
  server/lib/test-harness/src/Harness/Permissions/Types.hs
  server/lib/test-harness/src/Harness/Webhook.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Update/Batch.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/Table/Cache.hs
  server/src-test/Test/Parser/Expectation.hs
  server/src-test/Test/Parser/Internal.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Remove some TemplateHaskell from `Hasura.GraphQL`
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
Owners: @hasura/hge-server

Remove some TemplateHaskell from `RQL.Types`
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Owners: @hasura/hge-server

Remove some TemplateHaskell from `Hasura.RemoteSchema`
  server/src-lib/Hasura/RemoteSchema/Metadata/Core.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/Customization.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/Permission.hs
  server/src-lib/Hasura/RemoteSchema/MetadataAPI/Core.hs
  server/src-lib/Hasura/RemoteSchema/MetadataAPI/Permission.hs
Owners: @hasura/hge-server

Remove some TemplateHaskell from `Postgres.Backends`
  server/src-lib/Hasura/Backends/Postgres/Execute/ConnectionTemplate.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
Owners: @hasura/hge-server

server/postgres: delete input validation [experimental]
  metadata.openapi.json
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Mutations/Delete/ValidationSpec.hs
  server/lib/test-harness/src/Harness/Permissions.hs
  server/lib/test-harness/src/Harness/Permissions/Metadata.hs
  server/lib/test-harness/src/Harness/Permissions/Types.hs
  server/lib/test-harness/src/Harness/Webhook.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Delete.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Delete.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/Table/Cache.hs
  server/src-test/Test/Parser/Delete.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: Add link to homepage on docs 404
  docs/src/theme/NotFound/index.js
  docs/src/theme/NotFound/styles.module.scss
Owners: @hasura/hge-docs-owners

fix navigation after removal of a data source
  frontend/libs/console/legacy-ce/src/lib/components/Main/Actions.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataPageContainer.js
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useDropSource.ts
Owners: @hasura/hge-changelog-owners

Remove the last of the obvious Aeson TemplateHaskell
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/QueryTags/Types.hs
Owners: @hasura/hge-server

ci: tag release v2.28.1 and v2.29.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

improve description for retry in pool settings
  docs/docs/api-reference/syntax-defs.mdx
Owners: @hasura/hge-docs-owners

console: storybook component and console integration for mutation input validation
  frontend/apps/console-ce-e2e/src/e2e/table-permission-input-validation/__snapshots__/input-validation.test.ts.snap
  frontend/apps/console-ce-e2e/src/e2e/table-permission-input-validation/input-validation.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/CollapsibleToggle/CollapsibleToggle.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableCommon/TableReducer.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/Actions.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/BooleanCheckbox.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/ReduxInputValidation.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/Permissions.js
  frontend/libs/console/legacy-ce/src/lib/metadata/types.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Collapsible/Collapsible.tsx
Owners: @hasura/hge-changelog-owners

Docs: change flow in caching docs
  docs/docs/caching/how-it-works.mdx
Owners: @hasura/hge-docs-owners

console (fix): Fix the redirect URL for partitions on the new tracking UI
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TrackTablesContainer.tsx
Owners: @hasura/hge-changelog-owners

chore(server): add tests/support for inserting JSON arrays
  scripts/make/ghcid.mk
  server/lib/api-tests/src/Test/Databases/Postgres/ArraySpec.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Remove some TemplateHaskell from `Hasura.SQL`
  server/src-lib/Hasura/SQL/GeoJSON.hs
  server/src-lib/Hasura/SQL/Types.hs
Owners: @hasura/hge-server

console: add doc link for view permissions
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/Permissions.js
Owners: @hasura/hge-changelog-owners

console: fix e2e tests for event and scheduled triggers
  frontend/apps/console-ce-e2e/src/e2e/event-triggers/event-trigger.test.ts
  frontend/apps/console-ce-e2e/src/e2e/one-off-scheduled-triggers/scheduled-event.test.ts
Owners: @hasura/hge-changelog-owners

fix: Soften validation requirements for nested inserts
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Mutations/Insert/NestedSpec.hs
  server/lib/api-tests/src/Test/Regression/LongIdentifiers3796Spec.hs
  server/lib/api-tests/src/Test/Regression/NullRemoteRelationship8345Spec.hs
  server/lib/api-tests/src/Test/Regression/RootExistElementAliasing9457Spec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/MetadataAPI/Common.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBObjectRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToRemoteSchemaRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/TableRelationships/CrossSchemaArrayRelationshipsSpec.hs
  server/lib/api-tests/src/Test/Schema/TableRelationships/CrossSchemaObjectRelationshipsSpec.hs
  server/lib/test-harness/src/Harness/Schema.hs
  server/lib/test-harness/src/Harness/Schema/Table.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
Owners: @hasura/hge-server

Wip
  CONTRIBUTING.md
  README.md
  docs/docs/auth/authentication/jwt.mdx
  docs/docs/event-triggers/samples.mdx
  docs/docs/resources/sample-apps.mdx
  docs/docs/schema/postgres/relay-schema.mdx
  event-triggers.md
  translations/CONTRIBUTING.french.md
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
  translations/event-triggers.french.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

fix(tests): Don't assert on error message
  server/lib/api-tests/src/Test/Mutations/Insert/NestedSpec.hs
Owners: @hasura/hge-server

docs: fix `sample-apps` URLs
  CONTRIBUTING.md
  README.md
  docs/docs/auth/authentication/jwt.mdx
  docs/docs/event-triggers/samples.mdx
  docs/docs/resources/sample-apps.mdx
  docs/docs/schema/postgres/relay-schema.mdx
  event-triggers.md
  translations/CONTRIBUTING.french.md
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
  translations/event-triggers.french.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

console: fixed false positives in redux syncing metadata to react-query
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/lib/reactQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/store.utils.ts
Owners: @hasura/hge-changelog-owners

console: fix broken storybook tests
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/InputValidation/InputValidation.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Form/Form.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/OpenTelemetryProvider.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/AdvancedDropDown/AdvancedDropDown.stories.tsx
Owners: @hasura/hge-changelog-owners

chore(server): Postgres array enums fix
  server/lib/api-tests/src/Test/Databases/Postgres/ArraySpec.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-test/Hasura/Backends/Postgres/PGScalarTypeSpec.hs
Owners: @hasura/hge-server

console: Schema Registry Tags
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AddSchemaRegistryTagDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CustomDialogFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useCreateSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useDeleteSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

chore(server): add tests/support for inserting JSON arrays
  scripts/make/ghcid.mk
  server/lib/api-tests/src/Test/Databases/Postgres/ArraySpec.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
  server/src-test/Hasura/Backends/Postgres/PGScalarTypeSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: improve truncated column names layout
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/TableRow.tsx
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

docs: add note for cloud users in auth-hook caching
  docs/docs/auth/authentication/webhook.mdx
Owners: @hasura/hge-docs-owners

console: cherry-pick for v2.29 for schema-registry tags
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AddSchemaRegistryTagDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CustomDialogFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useCreateSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useDeleteSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

server: fix poller error metric not decrementing when subscriptions are closed
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
Owners: @hasura/hge-server

console: cherry-pick for v2.28 for schema-registry tags
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AddSchemaRegistryTagDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CustomDialogFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useCreateSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useDeleteSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

console: cherry-pick for v2.27 for schema-registry tags
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AddSchemaRegistryTagDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CustomDialogFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useCreateSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useDeleteSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

console: cherry-pick for v2.26 for schema-registry tags
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AddSchemaRegistryTagDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CustomDialogFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useCreateSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useDeleteSchemaTag.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

server: update websocket to be `graphql-ws` protocol complaint in case of connection failure
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
