Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

test-harness: if server fails to start, throwTo main
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Http.hs
Owners: @hasura/hge-server

server: add total time, db exec time subscription metrics
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/enterprise/metrics.mdx
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/Common.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/TMap.hs
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Prometheus.hs
  server/src-lib/Hasura/Server/Types.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: remove old metadata hooks
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/utils/getMapQueryTypePermissions.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-api/metadataHooks.ts
Owners: @hasura/hge-changelog-owners

ci: tag release v2.26.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.26.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

docs: add a note on refresh argument for caching
  docs/docs/caching/caching-config.mdx
Owners: @hasura/hge-docs-owners

Docs: Data Connectors
  docs/docs/databases/data-connectors.mdx
  docs/static/img/databases/data-connector/data-connectors-agent-diagram.png
Owners: @hasura/hge-docs-owners

docs: update product badge on Import OAS feature doc page
  docs/docs/actions/open-api.mdx
Owners: @hasura/hge-docs-owners

console: Refactor duplicated logical model and add native query wrappers into one
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQueryRoute.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/components/PageWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
Owners: @hasura/hge-changelog-owners

Fixing the Trigger of Heap Event : Console Load Onboarding Wizard (cherry-pick v2.25)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/hooks/useWizardState.ts
Owners: @hasura/hge-changelog-owners

docs: update cta text for new product launch webinar banners
  docs/src/components/HasuraConBanner/index.tsx
Owners: @hasura/hge-docs-owners

console: use `_track_tables` and `_untrack_tables` in the new and old tracking section
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Add/AddExistingTableViewActions.js
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/ManageTrackedTables.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackTables.ts
  frontend/libs/console/legacy-ce/src/lib/metadata/queryUtils.ts
Owners: @hasura/hge-changelog-owners

server: fix event fetching API bugs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
Owners: @hasura/hge-server

docs: update jaeger info for ee
  docs/docs/enterprise/opentelemetry.mdx
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

docs: change sidebar behavior
  docs/docs/auth/_category_.json
  docs/docs/data-federation/_category_.json
  docs/docs/enterprise/_category_.json
  docs/docs/migrations-metadata-seeds/_category_.json
  docs/docs/policies/_category_.json
  docs/docs/resources/use-case/_category_.json
  docs/docs/restified/_category_.json
  docs/docs/schema/_category_.json
  docs/docs/security/_category_.json
  docs/src/theme/DocSidebarItem/index.js
Owners: @hasura/hge-docs-owners

Update documentation for main.
  server/haddock/main/src/Hasura.Backends.Postgres.DDL.EventTrigger.html
Owners: @hasura/hge-server

docs: add pointer to metadata best practices
  docs/docs/hasura-cloud/ci-cd/github-integration.mdx
Owners: @hasura/hge-docs-owners

server: fix event fetching API bugs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
Owners: @hasura/hge-server

native queries(mssql): support object relationships
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
Owners: @hasura/hge-server

docs: add documentation for stored procedures
  docs/docs/api-reference/metadata-api/actions.mdx
  docs/docs/api-reference/metadata-api/api-limits.mdx
  docs/docs/api-reference/metadata-api/computed-field.mdx
  docs/docs/api-reference/metadata-api/custom-functions.mdx
  docs/docs/api-reference/metadata-api/custom-types.mdx
  docs/docs/api-reference/metadata-api/event-triggers.mdx
  docs/docs/api-reference/metadata-api/inherited-roles.mdx
  docs/docs/api-reference/metadata-api/introspection.mdx
  docs/docs/api-reference/metadata-api/manage-metadata.mdx
  docs/docs/api-reference/metadata-api/native-queries.mdx
  docs/docs/api-reference/metadata-api/network.mdx
  docs/docs/api-reference/metadata-api/observability.mdx
  docs/docs/api-reference/metadata-api/permission.mdx
  docs/docs/api-reference/metadata-api/query-collections.mdx
  docs/docs/api-reference/metadata-api/relationship.mdx
  docs/docs/api-reference/metadata-api/remote-relationships.mdx
  docs/docs/api-reference/metadata-api/remote-schema-permissions.mdx
  docs/docs/api-reference/metadata-api/remote-schemas.mdx
  docs/docs/api-reference/metadata-api/restified-endpoints.mdx
  docs/docs/api-reference/metadata-api/scheduled-triggers.mdx
  docs/docs/api-reference/metadata-api/stored-procedures.mdx
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/schema/ms-sql-server/logical-models/index.mdx
  docs/docs/schema/ms-sql-server/logical-models/stored-procedures.mdx
Owners: @hasura/hge-docs-owners

chore(server): more expressive logical models
  metadata.openapi.json
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/test-harness/src/Harness/Schema/LogicalModel.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/LogicalModel/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fix: Create local relationships when source and destination dataSource match
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/utils.ts
Owners: @hasura/hge-changelog-owners

Rework Data Connector order by test to remove the need for the agent to support an additional capability
  server/lib/dc-api/test/Test/Specs/QuerySpec/OrderBySpec.hs
Owners: @hasura/hge-server

ci: tag release v2.25.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server: fix event fetching API bugs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
Owners: @hasura/hge-server

ci: tag release v2.26.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.25.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Fix: Create local relationships when source and destination dataSource match
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/utils.ts
Owners: @hasura/hge-changelog-owners

feat(tests): Add support for heartbeat monitoring
  scripts/make/tests.mk
  server/lib/hasura-extras/hasura-extras.cabal
  server/lib/hasura-extras/src/System/Monitor/Heartbeat.hs
  server/lib/test-harness/src/Harness/Services/ExternalProcess/DCPostgresAgent.hs
  server/lib/test-harness/src/Harness/Services/ExternalProcess/GraphqlEngine.hs
  server/src-exec/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: improve some basic docs on caching
  docs/docs/caching/caching-config.mdx
  docs/docs/caching/how-it-works.mdx
  docs/docs/caching/quickstart.mdx
Owners: @hasura/hge-docs-owners

console: fix for skipping onboarding through url params
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/utils.ts
Owners: @hasura/hge-changelog-owners

console: interaction test for allow-list storybook components
  frontend/libs/console/legacy-ce/src/lib/features/AllowLists/components/AllowListPermissions/AllowListPermissions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/AllowLists/components/AllowListPermissions/AllowListPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/AllowLists/components/AllowListSidebar/AllowListSidebar.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/QueryCollections/components/QueryCollectionHeader/QueryCollectionHeader.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/QueryCollections/components/QueryCollectionOperations/QueryCollectionOperations.stories.tsx
Owners: @hasura/hge-changelog-owners

docs: small fixes 05
  docs/docs/schema/postgres/computed-fields.mdx
  docs/docs/schema/postgres/postgres-guides/import-data-from-csv.mdx
Owners: @hasura/hge-docs-owners

make: Set an admin secret for the Pro server.
  scripts/make/run.mk
Owners: @hasura/hge-changelog-owners

ci: update latest stable release as v2.25.1
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

Nix: Wrap GHC and HLS, specifically, to provide `(DY)?LD_LIBRARY_PATH`.
  flake.nix
  nix/shell.nix
Owners: @hasura/hge-changelog-owners

INFRA-830: add prometheus metric corresponding to /healthz/sources
  docs/docs/enterprise/metrics.mdx
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

Update documentation for main.
  server/haddock/main/Hasura-RQL-Types-Metadata-Common.html
  server/haddock/main/graphql-engine.haddock
  server/haddock/main/graphql-engine.txt
  server/haddock/main/src/Hasura.RQL.DDL.Schema.Cache.html
  server/haddock/main/src/Hasura.RQL.Types.Metadata.Common.html
  server/notes/avoiding-graphql-schema-rebuilds-when-changing-irrelevant-metadata.md
  server/notes/keep-invalidation-keys-for-inconsistent-objects.md
Owners: @hasura/hge-server

storybook: fix lockup issue related to react-query invalidation
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/react-query.tsx
Owners: @hasura/hge-changelog-owners

docs: improve getting started
  docs/docs/deployment/overview.mdx
  docs/docs/faq.mdx
  docs/docs/getting-started/docker-simple.mdx
  docs/docs/getting-started/getting-started-cloud.mdx
  docs/docs/getting-started/overview.mdx
  docs/docs/getting-started/use-case/_category_.json
  docs/docs/getting-started/use-case/api-gateway.mdx
  docs/docs/getting-started/use-case/data-api.mdx
  docs/docs/getting-started/use-case/gql-backend.mdx
  docs/docs/getting-started/use-case/overview.mdx
  docs/docs/resources/use-case/_category_.json
Owners: @hasura/hge-docs-owners
