Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

docs: update getting started for 2.0
  docs/graphql/cloud/getting-started/cloud-databases/aiven.rst
  docs/graphql/cloud/getting-started/cloud-databases/aws-aurora.rst
  docs/graphql/cloud/getting-started/cloud-databases/aws-postgres.rst
  docs/graphql/cloud/getting-started/cloud-databases/azure.rst
  docs/graphql/cloud/getting-started/cloud-databases/digital-ocean.rst
  docs/graphql/cloud/getting-started/cloud-databases/gcp.rst
  docs/graphql/cloud/getting-started/cloud-databases/index.rst
  docs/graphql/cloud/getting-started/cloud-databases/timescale-cloud.rst
  docs/graphql/cloud/getting-started/cloud-databases/yugabyte.rst
  docs/graphql/cloud/getting-started/index.rst
  docs/graphql/cloud/index.rst
  docs/graphql/cloud/projects/move-project-v2.rst
  docs/graphql/core/databases/connect-db.rst
  docs/graphql/core/databases/ms-sql-server/index.rst
  docs/graphql/core/databases/postgres/index.rst
  docs/graphql/core/deployment/downgrading.rst
  docs/graphql/core/getting-started/docker-simple.rst
  docs/graphql/core/getting-started/index.rst
  docs/graphql/core/getting-started/using-existing-database.rst
  docs/graphql/core/guides/mysql-preview.rst
  docs/graphql/core/guides/upgrade-hasura-v2.rst
  docs/img/graphql/core/getting-started/connect-db.png
Owners: @hasura/hge-docs-owners

docs: add MS SQL server docs (#1568)
  docs/graphql/cloud/projects/create.rst
  docs/graphql/core/databases/ms-sql-server/getting-started/cloud.rst
  docs/graphql/core/databases/ms-sql-server/getting-started/docker.rst
  docs/graphql/core/databases/ms-sql-server/getting-started/index.rst
  docs/graphql/core/databases/ms-sql-server/index.rst
  docs/graphql/core/databases/ms-sql-server/mssql-types.rst.wip
  docs/graphql/core/databases/ms-sql-server/mssqltypes.csv
  docs/graphql/core/databases/ms-sql-server/queries/aggregation-queries.rst
  docs/graphql/core/databases/ms-sql-server/queries/index.rst
  docs/graphql/core/databases/ms-sql-server/queries/multiple-arguments.rst
  docs/graphql/core/databases/ms-sql-server/queries/multiple-queries.rst
  docs/graphql/core/databases/ms-sql-server/queries/nested-object-queries.rst
  docs/graphql/core/databases/ms-sql-server/queries/pagination.rst
  docs/graphql/core/databases/ms-sql-server/queries/performance.rst
  docs/graphql/core/databases/ms-sql-server/queries/query-filters.rst
  docs/graphql/core/databases/ms-sql-server/queries/simple-object-queries.rst
  docs/graphql/core/databases/ms-sql-server/queries/sorting.rst
  docs/graphql/core/databases/ms-sql-server/queries/variables-aliases-fragments-directives.rst
  docs/graphql/core/databases/ms-sql-server/schema/custom-field-names.rst
  docs/graphql/core/databases/ms-sql-server/schema/index.rst
  docs/graphql/core/databases/ms-sql-server/schema/table-relationships/create.rst
  docs/graphql/core/databases/ms-sql-server/schema/table-relationships/database-modelling.rst
  docs/graphql/core/databases/ms-sql-server/schema/table-relationships/index.rst
  docs/graphql/core/databases/ms-sql-server/schema/table-relationships/rename.rst
  docs/graphql/core/databases/ms-sql-server/schema/tables.rst
  docs/graphql/core/databases/ms-sql-server/schema/using-existing-database.rst
  docs/graphql/core/databases/ms-sql-server/schema/views.rst
  docs/graphql/core/databases/ms-sql-server/subscriptions/execution-and-performance.rst.wip
  docs/graphql/core/databases/ms-sql-server/subscriptions/index.rst
  docs/graphql/core/databases/ms-sql-server/subscriptions/use-cases.rst
  docs/graphql/core/databases/postgres/schema/index.rst
  docs/graphql/core/getting-started/index.rst
  docs/img/graphql/core/schema/add-foreign-key-mssql.png
  docs/img/graphql/core/schema/create-table-graphql-mssql.png
  docs/img/graphql/core/schema/schema-track-tables-mssql.png
Owners: @hasura/hge-docs-owners

docs: update docker guides with 2.0 changes
  docs/graphql/core/databases/ms-sql-server/getting-started/cloud.rst
  docs/graphql/core/deployment/deployment-guides/docker.rst
  docs/graphql/core/getting-started/docker-simple.rst
  docs/graphql/core/getting-started/index.rst
  docs/graphql/core/guides/upgrade-hasura-v2.rst
Owners: @hasura/hge-docs-owners

console/fix: changing primary key removes the existing PK when failing to create PK
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/dataSources/index.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/mssql/__tests__/__snapshots__/mssql.test.ts.snap
  console/src/dataSources/services/mssql/__tests__/mssql.test.ts
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/mysql/index.tsx
  console/src/dataSources/services/mysql/sqlUtils.ts
  console/src/dataSources/services/postgresql/__tests__/__snapshots__/postgresql.test.ts.snap
  console/src/dataSources/services/postgresql/__tests__/postgresql.test.ts
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

docs: add basic FAQs
  docs/graphql/core/faq/index.rst.wip
  docs/graphql/core/guides/faq/index.rst
  docs/graphql/core/guides/index.rst
  docs/graphql/core/index.rst
Owners: @hasura/hge-docs-owners

tag release v2.0.0-beta.2
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: wrap table name in quotes in add comment sql
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

console: hide postgres system schemas by default
  CHANGELOG.md
  console/src/dataSources/services/citus/sqlUtils.ts
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Add support for collapsing nulls across all PG expressions (close #1597)
  CHANGELOG.md
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cli: avoid race condition in cli-ext
  cli/Makefile
  cli/cli.go
  cli/internal/cliext/cli_ext.go
  cli/internal/metadataobject/actions/actions.go
  cli/internal/metadataobject/actions/cli_extension/cli_extension.go
Owners: @hasura/hge-cli-owners

docs: update sql server api reference
  docs/graphql/core/api-reference/metadata-api/index.rst
  docs/graphql/core/api-reference/metadata-api/permission.rst
  docs/graphql/core/api-reference/metadata-api/relationship.rst
  docs/graphql/core/api-reference/metadata-api/remote-schemas.rst
  docs/graphql/core/api-reference/metadata-api/source.rst
  docs/graphql/core/api-reference/metadata-api/table-view.rst
  docs/graphql/core/api-reference/schema-api/index.rst
  docs/graphql/core/api-reference/schema-metadata-api/remote-schemas.rst
  docs/graphql/core/databases/ms-sql-server/queries/performance.rst
  docs/graphql/core/databases/ms-sql-server/schema/custom-field-names.rst
  docs/graphql/core/databases/ms-sql-server/schema/table-relationships/create.rst
  docs/graphql/core/databases/ms-sql-server/schema/table-relationships/rename.rst
  docs/graphql/core/databases/ms-sql-server/schema/tables.rst
  docs/graphql/core/databases/ms-sql-server/schema/using-existing-database.rst
  docs/graphql/core/databases/ms-sql-server/schema/views.rst
  docs/graphql/core/migrations/reference/migration-file-format.rst
Owners: @hasura/hge-docs-owners

tag release v2.0.0
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cli: set default value for metadata_directory
  cli/cli.go
  cli/internal/metadataobject/metadataobject.go
Owners: @hasura/hge-cli-owners

docs: fix links in cloud maintenance mode page
  docs/graphql/cloud/projects/maintenance-mode.rst
Owners: @hasura/hge-docs-owners

console: update current source and schema in redux after importing metadata
  console/src/metadata/actions.ts
  console/src/metadata/queryUtils.ts
Owners: @hasura/hge-console-owners

cli: add `skip-execution` support for `up` and `down` flags in `migrate apply`
  CHANGELOG.md
  cli/commands/migrate_apply.go
  cli/commands/migrate_apply_test.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

cli: add `server` flag to `migrate delete` and modify the docs for resetting migrations
  CHANGELOG.md
  cli/commands/migrate_delete.go
  cli/commands/migrate_delete_test.go
  docs/graphql/core/migrations/advanced/resetting-migrations.rst
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners

server tests: refactor the `per_class_tests_db_state` fixture
  server/tests-py/conftest.py
  server/tests-py/test_graphql_introspection.py
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

cli: skip compression for macos x64 binary
  cli/Makefile
  cli/migrate/util.go
Owners: @hasura/hge-cli-owners

console: add default selected reference option to create table's foreign key editor
  console/jest.config.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Common/Components/ForeignKeySelector.js
  console/src/components/Services/Data/DataState.js
  console/tsconfig.test.json
Owners: @hasura/hge-console-owners

cli: enrich errors in metadata subcommands
  cli/internal/metadataobject/actions/actions.go
  cli/internal/metadataobject/allowlist/allow_list.go
  cli/internal/metadataobject/api_limits/api_limits.go
  cli/internal/metadataobject/cron_triggers/cron_triggers.go
  cli/internal/metadataobject/errors/errors.go
  cli/internal/metadataobject/functions/functions.go
  cli/internal/metadataobject/functions/v3metadata.go
  cli/internal/metadataobject/graphql_schema_introspection/graphql_schema_introspection.go
  cli/internal/metadataobject/handler.go
  cli/internal/metadataobject/inherited_roles/inherited_roles.go
  cli/internal/metadataobject/metadataobject.go
  cli/internal/metadataobject/querycollections/query_collections.go
  cli/internal/metadataobject/remoteschemas/remote_schemas.go
  cli/internal/metadataobject/rest_endpoints/rest_endpoints.go
  cli/internal/metadataobject/sources/sources.go
  cli/internal/metadataobject/sources/yaml.go
  cli/internal/metadataobject/tables/tables.go
  cli/internal/metadataobject/tables/v3metadata.go
  cli/internal/metadataobject/version/v3metadata.go
  cli/internal/metadataobject/version/version.go
Owners: @hasura/hge-cli-owners

server: fix caching for queries using remote schema permissions
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update migrations docs
  docs/graphql/core/migrations/reference/metadata-format.rst
  docs/graphql/core/migrations/reference/migration-file-format.rst
Owners: @hasura/hge-docs-owners

Implement refresh parameter for Cached Directive
  cli/internal/hasura/v1graphql/testdata/latest.golden
  docs/graphql/cloud/response-caching.rst
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Parser/Directives.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

tag release v2.0.1
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Updates 'pg-client-hs', fixes explicit conversions
  server/cabal.project
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
Owners: @hasura/hge-server

server: fix major issue with JSON instances of AnyBackend
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/SQL/TH.hs
  server/src-lib/Hasura/SQL/Tag.hs
Owners: @hasura/hge-server

console: add citus support
  CHANGELOG.md
  console/cypress/support/index.d.ts
  console/jest.config.js
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Services/Data/Common/getMigrateUrl.ts
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
  console/src/components/Services/Data/DataSources/ManageDBUtils.ts
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/RawSQL/molecules/NotesSection.tsx
  console/src/components/Services/Data/RawSQL/utils.js
  console/src/components/Services/Data/TableBrowseRows/EditActions.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/utils.ts
  console/src/components/Services/Data/TableInsertItem/InsertActions.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableRelationships/autoRelations.js
  console/src/components/Services/Data/__tests__/__snapshots__/mergeData.test.ts.snap
  console/src/components/Services/Data/__tests__/fixtures/input.ts
  console/src/components/Services/Data/__tests__/mergeData.test.ts
  console/src/components/Services/Data/mergeData.ts
  console/src/dataSources/common/graphqlUtil.ts
  console/src/dataSources/common/index.ts
  console/src/dataSources/index.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/citus/index.tsx
  console/src/dataSources/services/citus/sqlUtils.ts
  console/src/dataSources/services/citus/types.ts
  console/src/dataSources/services/citus/utils.ts
  console/src/dataSources/services/index.ts
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/mssql/utils.ts
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
  console/src/dataSources/services/postgresql/utils.ts
  console/src/dataSources/types.ts
  console/src/metadata/queryUtils.ts
  console/src/metadata/sourcesUtils.ts
  console/src/metadata/types.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

docs: update strip banner (hasuracon)
  docs/_theme/djangodocs/layout.html
Owners: @hasura/hge-docs-owners

console: catch api error, fix console getting stuck on loading screen (close #5774)
  console/src/routes.js
Owners: @hasura/hge-console-owners

Adds integration test for caching remote schema queries
  server/tests-py/queries/remote_schemas/permissions/execution_with_partial_fields_exposed_to_role_cached.yaml
  server/tests-py/test_remote_schema_permissions.py
Owners: @hasura/hge-server

docs: HasuraCon banner stripe updated
  docs/_static/scripts/hdocs.js
  docs/_static/styles/main.css
  docs/_theme/djangodocs/layout.html
  docs/img/layout/close-banner.svg
  docs/img/layout/hasura-con-banner-stripe.png
Owners: @hasura/hge-docs-owners

console: fix routes for hasura cloud console
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/Data/DataSourceContainer.tsx
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Events/CronTriggers/Landing.tsx
  console/src/components/Services/Events/EventTriggers/Landing/EventTrigger.tsx
  console/src/components/Services/Events/ServerIO.ts
Owners: @hasura/hge-console-owners

cli: add support for citus sources
  CHANGELOG.md
  cli/commands/migrate_apply_test.go
  cli/commands/seed_apply.go
  cli/commands/seed_apply_test.go
  cli/commands/seed_create.go
  cli/internal/hasura/client.go
  cli/internal/hasura/commonmetadata/commonmetadata.go
  cli/internal/hasura/pgdump/pgdump.go
  cli/internal/hasura/sourceops.go
  cli/internal/hasura/sourceops/citus/citus.go
  cli/internal/hasura/sourceops/citus/run_sql.go
  cli/internal/hasura/sourceops/citus/run_sql_test.go
  cli/internal/hasura/v2query/v2query.go
  cli/internal/testutil/http.go
  cli/internal/testutil/testutil.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/migration.go
  cli/migrate/util.go
  cli/seed/apply.go
  cli/seed/apply_test.go
  cli/seed/seed.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

server: fix regression in action responses where aliased fields are dropped
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
Owners: @hasura/hge-server

update install manifests to use metadata db url
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

ci: uploads ARM64 CLI binaries during deploy
  .circleci/deploy.sh
Owners: @hasura/hge-changelog-owners

server/fix: Remove explicit -developer flag in cabal.project.freeze,
  server/cabal.project.freeze
Owners: @hasura/hge-server

server/citus: run tests in CI (OSS changes)
  .circleci/config.yml
Owners: @hasura/hge-changelog-owners

server/bugfix: update server_builder_image tag
  .circleci/config.yml
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
