Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Fix cloneable permissions between query types
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/ClonePermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/ColumnPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createDefaultValues/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createDefaultValues/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/useFormData.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/useFormData.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/utils/getMapQueryTypePermissions.mocks.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/utils/getMapQueryTypePermissions.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/utils/getMapQueryTypePermissions.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTab/PermissionsTab.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/PermissionsTable.tsx
Owners: @hasura/hge-changelog-owners

server: rename `SchemaCacheRef` to `AppStateRef` and add `AppContext` to it
  server/graphql-engine.cabal
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/AppStateRef.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Middleware.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Network/HTTP/Client/CreateManager.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-server

chore(server): logical models in Citus
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/LogicalModelsQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/SubscriptionsSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/API.hs
Owners: @hasura/hge-server

chore(server): remove some unused function arguments
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RemoteSchema/MetadataAPI/Core.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Build.hs
Owners: @hasura/hge-server

console: add autocomplete ability to input field
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/FieldWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/Input.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/InputField.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/InputField.tsx
Owners: @hasura/hge-changelog-owners

docs: Wide numeric types
  docs/docs/schema/bigquery/bigquery-types.mdx
  docs/docs/schema/common-patterns/numeric-types.mdx
Owners: @hasura/hge-docs-owners

server: codecs for network config, graphql introspection
  metadata.openapi.json
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/RQL/Types/GraphqlSchemaIntrospection.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Network.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: Clarify the permissions necessary for `update_by_pk`
  docs/docs/mutations/postgres/update.mdx
Owners: @hasura/hge-docs-owners

Update wiki Contributor guide
  docs/wiki/contributions.mdx
Owners: @hasura/hge-docs-owners

Fix "limit" from permissions being incorrectly applied to aggregates in Data Connectors
  dc-agents/README.md
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/models/Query.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/query.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/query.ts
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/CustomScalarsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/DeleteMutationsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/ErrorSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/InsertMutationsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/OrderBySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/RemoteRelationshipsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/TestHelpers.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/UpdateMutationsSpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Query.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/AggregatesSpec.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/RemoteRelationshipPlan.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/QuerySpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: fix nitpicks in mysql and oracle docs
  docs/docs/databases/mysql/cloud.mdx
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/mysql/index.mdx
  docs/docs/databases/oracle/cloud.mdx
  docs/docs/databases/oracle/docker.mdx
  docs/docs/databases/oracle/index.mdx
  docs/docs/enterprise/overview.mdx
Owners: @hasura/hge-docs-owners

chore(server): revamp hlint config and add new `undefined` rule
  .hlint.yaml
Owners: @hasura/hge-changelog-owners

chore(ci): use ScalarType in LogicalModels tests
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/LogicalModelsQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/SubscriptionsSpec.hs
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Reference.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/Test/BackendType.hs
  server/lib/test-harness/src/Harness/Test/ScalarType.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

docs: update version API reference docs to include `server_type` info
  docs/docs/api-reference/version.mdx
Owners: @hasura/hge-docs-owners

Docs: Remove duplicated permissions example page in auth section
  docs/docs/auth/authorization/common-roles-auth-examples.mdx
Owners: @hasura/hge-docs-owners

docs: add auth-hook cache card in EE overview
  docs/docs/enterprise/overview.mdx
Owners: @hasura/hge-docs-owners

Permissions: Support jsonb columns DSF-157
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useListAllDatabaseRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/utils/tableRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/BooleanValueInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Comparator.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Entry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryTypes/ArrayEntry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/InputSuggestion.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ObjectValueInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/PermissionsInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/SelectTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInputType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/comparators.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/export_metadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/handlers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/introspection.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/query.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/tables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/columnsFromSchema.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/columnsFromSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/helpers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/jsonString.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/jsonString.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/hooks/usePermissionTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/hooks/useTablesFkConstraints.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/hooks/useTablesWithColumns.ts
Owners: @hasura/hge-changelog-owners

Docs: Update pg_create_remote_relationship Metadata API Reference
  docs/docs/api-reference/metadata-api/remote-relationships.mdx
Owners: @hasura/hge-docs-owners

server: always add query type in `http-log` logs (whenever available)
  server/src-lib/Hasura/Server/Logging.hs
  server/tests-py/test_logging.py
Owners: @hasura/hge-server

frontend :Removing Heroku Banner from Connect database page
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/index.tsx
Owners: @hasura/hge-changelog-owners

console: Only use json string editor for jsonb columns DSF-211
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInputType.tsx
Owners: @hasura/hge-changelog-owners

server: refactor `ConnectionTemplateResolver`
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/test-postgres/Test/Hasura/EventTriggerCleanupSuite.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-server

Initial PR for work on frontend docker compose [DSF-193]
  frontend/docker/DataSources/mssql/.gitignore
  frontend/docker/DataSources/mssql/mssql-setup.sql
  frontend/docker/DataSources/mssql/run-initialization.sh
  frontend/docker/DataSources/mysql.sql
  frontend/docker/DataSources/oracle.sql
  frontend/docker/DataSources/postgres.sql
  frontend/docker/DataSources/sqlite.db
  frontend/docker/README.md
  frontend/docker/default_metadata.json
  frontend/docker/docker-compose.yml
Owners: @hasura/hge-changelog-owners

docs: add missing comma in get_scheduled_events API example
  docs/docs/api-reference/metadata-api/scheduled-triggers.mdx
Owners: @hasura/hge-docs-owners

chore(tooling): Make command to run SQLServer repl
  Makefile
  scripts/make/repl.mk
Owners: @hasura/hge-changelog-owners

Clean `AppEnv` and `AppContext` passing, remove `RunT`, reduce `ServerConfigCtx` uses
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/test-postgres/Main.hs
  server/test-postgres/Test/Hasura/Server/MigrateSuite.hs
Owners: @hasura/hge-server

console: add support for specific data types (datetime / time) for gdc
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/ManageTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/introspection/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mssql/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/DateTimeInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/DateTimeInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/TextInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/TimeInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/TimeInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/date-input.css
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/Input.tsx
Owners: @hasura/hge-changelog-owners

server: improve logging around 'Internal Exception' errors
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/HTTP.hs
Owners: @hasura/hge-server

delete `ExecutionCtx` in favour of explicit argument passing
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Rest.hs
Owners: @hasura/hge-server

docs: update replace_metadata snippet
  docs/docs/migrations-metadata-seeds/manage-metadata.mdx
Owners: @hasura/hge-docs-owners

docs: add ref to discord for feedback component
  docs/src/components/Feedback/Feedback.tsx
  docs/src/components/Feedback/styles.module.scss
Owners: @hasura/hge-docs-owners

Further remove explicit `AppEnv` threading in favour of `askAppEnv`
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

Use `DerivingStrategies` in `BigQuery.Types`
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
Owners: @hasura/hge-server

frontend: fixup process env values
  frontend/custom-webpack.config.js
  frontend/tools/webpack/withNxEnvCleanup.js
Owners: @hasura/hge-changelog-owners

Generalise logical model test return types across backends
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
Owners: @hasura/hge-server

Implement logical models metadata commands for BigQuery
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/Metadata/LogicalModels/ValidationSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/api-tests/src/Test/Queries/LogicalModels/LogicalModelsQueriesSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/API.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
Owners: @hasura/hge-server

Simplify Transformable Requests Module
  server/src-lib/Hasura/Backends/DataConnector/Agent/Client.hs
  server/src-lib/Hasura/Backends/DataConnector/Logging.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Request.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-lib/Network/HTTP/Client/Transformable.hs
  server/src-test/Network/HTTP/Client/TransformableSpec.hs
  server/tests-py/queries/v1/metadata/test_webhook_transform_success_remove_body.yaml
Owners: @hasura/hge-server

Include SQLite agent in Remote Joins HSpec API tests
  server/lib/api-tests/src/Test/Regression/RemoteRelationshipStringifyNum8387Spec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBObjectRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToRemoteSchemaRelationshipSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/src/Harness/DataConnectorAgent.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
Owners: @hasura/hge-server

server: fix value of created_at for postgres event triggers
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersCreatedAtUTCSpec.hs
  server/lib/test-harness/src/Harness/Webhook.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source/Version.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/Server/Metrics.hs
  server/src-rsr/init_pg_source.sql
  server/src-rsr/pg_source_migrations/3_to_4.sql
Owners: @hasura/hge-server

refactor: Componentizing Fixture
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersReplaceMetadataCleanupSpec.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Logging/Messages.hs
  server/lib/test-harness/src/Harness/Services/Composed.hs
  server/lib/test-harness/src/Harness/Services/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Services/Metadata.hs
  server/lib/test-harness/src/Harness/Services/PostgresDb.hs
  server/lib/test-harness/src/Harness/Services/PostgresSource.hs
  server/lib/test-harness/src/Harness/Subscriptions.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
