Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

docs: update billing owner ux
  docs/docs/hasura-cloud/account-management/billing/billing-owner.mdx
  docs/static/img/account-management/billing/collab-view.png
  docs/static/img/account-management/billing/invite-bm-collab.png
Owners: @hasura/hge-docs-owners

docs: add section about container security
  docs/docs/security/container-security.mdx
Owners: @hasura/hge-docs-owners

docs: fix typo in data validations using hasura permissions section
  docs/docs/schema/postgres/data-validations.mdx
Owners: @hasura/hge-docs-owners

docs: fix typo in data validations using hasura permissions section
  docs/docs/schema/postgres/data-validations.mdx
Owners: @hasura/hge-docs-owners

console: fix extra subtitle in native query
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
Owners: @hasura/hge-changelog-owners

console: propose materialized views for tracking for postgres datasource
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getTrackableTables.ts
Owners: @hasura/hge-changelog-owners

docs: deprecate coud otel docs
  docs/docs/enterprise/overview.mdx
  docs/docs/observability/cloud/index.mdx
  docs/docs/observability/cloud/opentelemetry.mdx
  docs/docs/observability/enterprise-edition/index.mdx
  docs/docs/observability/opentelemetry.mdx
  docs/docs/observability/overview.mdx
Owners: @hasura/hge-docs-owners

Docs: Update unauthenticated access documentation with detailed steps and restructure content.
  docs/docs/auth/authentication/unauthenticated-access.mdx
Owners: @hasura/hge-docs-owners

Console should show a clear warning when a connection string is stored in metadata
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/Common/WarningCard.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectBigQueryWidget/ConnectBigQueryWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectBigQueryWidget/parts/Datasets.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectBigQueryWidget/parts/ProjectId.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectBigQueryWidget/parts/ServiceAccount.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectBigQueryWidget/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectMssqlWidget/ConnectMssqlWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectMssqlWidget/parts/ConnectionString.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectMssqlWidget/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/ConnectPostgresWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/Configuration.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ConnectPostgresForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ConnectionInfo.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/DatabaseUrl.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/DatabaseUrl.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/schema.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Card/Card.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Card/Card.tsx
Owners: @hasura/hge-changelog-owners

console: upgrade typescript to 5.x
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Security/LimitsForm.tsx
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

console: Fix react query decorator cache invalidation strategy
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/react-query.tsx
Owners: @hasura/hge-changelog-owners

Fix inherited roles leaking supposedly-hidden data via streaming subscriptions for Postgres
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/RQL/IR/Select/Args.hs
Owners: @hasura/hge-server

Fix inherited roles leaking supposedly-hidden data via native queries in Postgres
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/lib/test-harness/src/Harness/Permissions.hs
  server/lib/test-harness/src/Harness/Permissions/Metadata.hs
  server/lib/test-harness/src/Harness/Permissions/Types.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
Owners: @hasura/hge-server

Nested where
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/models/ComparisonColumn.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/query.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/query.ts
  server/lib/api-tests/src/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/CustomScalarsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/DeleteMutationsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/InsertMutationsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/UpdateMutationsSpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Expression.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/CustomOperatorsSpec.hs
  server/lib/dc-api/test/Test/Specs/UDFSpec.hs
  server/lib/hasura-extras/src/Autodocodec/Extended.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ExpressionSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

chore(server): add track/untrack stored procedure metadata commands to `bulk_atomic`
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/StoredProcedure/API.hs
Owners: @hasura/hge-server

Fix default value for array columns
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/TypedInput.js
Owners: @hasura/hge-changelog-owners

docs: add google cloud sql mysql guide
  docs/docs/databases/mysql/gcp.mdx
  docs/static/img/cloud-dbs/gcp/mysql/add-network.png
  docs/static/img/cloud-dbs/gcp/mysql/configure-instance.png
  docs/static/img/cloud-dbs/gcp/mysql/connections.png
  docs/static/img/cloud-dbs/gcp/mysql/existing-db-setup.png
  docs/static/img/cloud-dbs/gcp/mysql/gcp-complete.png
  docs/static/img/cloud-dbs/gcp/mysql/hasura-console.png
  docs/static/img/cloud-dbs/gcp/mysql/public-ip.png
  docs/static/img/cloud-dbs/gcp/mysql/select-MySQL.png
Owners: @hasura/hge-docs-owners

docs: add admonition for creating seed data
  docs/docs/migrations-metadata-seeds/manage-seeds.mdx
Owners: @hasura/hge-docs-owners

docs: fix apollo federation console steps
  docs/docs/data-federation/apollo-federation.mdx
Owners: @hasura/hge-docs-owners

docs: resolve prettier issues
  docs/.prettierignore
  docs/.prettierrc
Owners: @hasura/hge-docs-owners

docs: update data connector docs
  docs/docs/hasura-cli/connector-plugin/index.mdx
Owners: @hasura/hge-docs-owners

Fix inherited roles leaking supposedly-hidden data via aggregation predicates for Postgres
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/Services/Database/Postgres.hs
  server/lib/test-harness/src/Harness/Test/ScalarType.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/IR/BoolExp/AggregationPredicates.hs
Owners: @hasura/hge-server

Fix inherited roles leaking supposedly-hidden data via streaming subscriptions for Postgres
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/RQL/IR/Select/Args.hs
Owners: @hasura/hge-server

Fix inherited roles leaking supposedly-hidden data via native queries in Postgres
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/lib/test-harness/src/Harness/Permissions.hs
  server/lib/test-harness/src/Harness/Permissions/Metadata.hs
  server/lib/test-harness/src/Harness/Permissions/Types.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
Owners: @hasura/hge-server

Fix(Sqlserver): Apply Column Redaction to order_by and _where
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedaction/SqlserverSpec.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Expression.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

console: improvements to the stored procedure UI (error handling, empty states, prompts)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TrackTablesContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/StoredProcedures/StoredProcedureWidget.route.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/StoredProcedures/StoredProcedureWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/StoredProcedures/components/ArgumentsInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/StoredProcedures/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/constants.ts
Owners: @hasura/hge-changelog-owners

ci: tag release v2.31.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.31.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.31.0
  releases/v2.31.0
Owners: @hasura/hge-changelog-owners

ci: release v2.31.0-ce
  releases/v2.31.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.31.0-cloud.1
  releases/v2.31.0-cloud.1
Owners: @hasura/hge-changelog-owners

fix: Apply naming conventions in more places
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/NamingConventionsSpec.hs
  server/lib/test-harness/src/Harness/Services/GraphqlEngine/API.hs
  server/lib/test-harness/src/Harness/Services/Source/Postgres.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/src-lib/Hasura/Table/Cache.hs
Owners: @hasura/hge-server

chore(server): fix double precision in release 2.31
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
Owners: @hasura/hge-server

Fix Remote Relationship relation visualization
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/DatabaseRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/AvailableRelationshipsList/parts/RelationshipMapping.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/AvailableRelationshipsList/parts/RelationshipMapping.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/mocks/mocks.ts
Owners: @hasura/hge-changelog-owners

ci: update latest stable release as v2.31.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mongodb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/post-release.sh
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

fix: fix "Create Rest endpoint" feature for edge cases
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useRestEndpointDefinitions.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/utils.tsx
Owners: @hasura/hge-changelog-owners

docs: restore disable_postgres_arrays in experimental features list
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

Permission tests
  frontend/libs/console/legacy-ce/src/lib/features/Data/ModifyTable/ModifyTable.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ModifyTable/mock/data.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ModifyTable/mock/handlers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/BulkDelete.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/mocks/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/mocks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/mocks/dataStubs.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/mocks/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTab/PermissionsTab.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsTable/PermissionsTable.stories.tsx
Owners: @hasura/hge-changelog-owners

Display only local relationships in permissions builder
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/TableProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/many-dbs/export_metadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/many-dbs/get_table_info.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/many-dbs/handlers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/many-dbs/introspection.ts
Owners: @hasura/hge-changelog-owners

docs: SQL Server Stored Procedures are in beta.
  docs/docs/schema/ms-sql-server/logical-models/stored-procedures.mdx
Owners: @hasura/hge-docs-owners
