Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

console: fix issues with permission summary in new data tab UI
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/PermissionSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/SchemaDropdown.tsx
Owners: @hasura/hge-changelog-owners

console: fix issues with permission summary in new data tab UI
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/PermissionSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/SchemaDropdown.tsx
Owners: @hasura/hge-changelog-owners

fix #8600 : keyboard shortcut fix in sql runner
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/RawSQL/RawSQL.js
Owners: @hasura/hge-changelog-owners

fix: add medium z-index to for dropdown of header types option to show options appropriately
  frontend/libs/console/legacy-ce/src/lib/components/Common/DropdownButton/DropdownButton.tsx
Owners: @hasura/hge-changelog-owners

refactor: improve ui: increase edit header card width to occupy 9 out of 12 col, increase input witdh for header key-value attributes
  frontend/libs/console/legacy-ce/src/lib/components/Common/Headers/Headers.module.scss
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Modify/HeadersEditor.tsx
Owners: @hasura/hge-changelog-owners

fix: add appropriate padding for table-data with respect to table-header for existng headers tables
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Modify/HeadersEditor.tsx
Owners: @hasura/hge-changelog-owners

console: prettify variable json when clicking on the prettify button, close 9968
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Owners: @hasura/hge-changelog-owners

Allow reading data connector agent URLs from environment variables
  docs/docs/databases/data-connectors/adding-data-connectors.mdx
  docs/static/img/databases/data-connector/connect-final.png
  frontend/apps/console-ce/src/css/legacy-boostrap.css
  frontend/libs/console/legacy-ce/src/lib/features/ManageAgents/_test_/useListAvailableAgentsFromMetadata.spec.ts
  frontend/libs/console/legacy-ce/src/lib/features/ManageAgents/components/AddAgentForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ManageAgents/components/ManageAgentsTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ManageAgents/components/UrlInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ManageAgents/hooks/useAddAgent.ts
  frontend/libs/console/legacy-ce/src/lib/features/ManageAgents/hooks/useListAvailableAgentsFromMetadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/ManageAgents/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/backendConfigs/backendConfigs.ts
  metadata.openapi.json
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/RQL/DDL/DataConnector.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-test/Hasura/SQL/BackendMapSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners, @hasura/hge-server

Docs: refactor snowflake example for NQ
  docs/docs/schema/snowflake/native-queries.mdx
Owners: @hasura/hge-docs-owners

Relay node permissions refactor (#208)
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/ir/permissions.rs
  v3/engine/src/execute/ir/query_root.rs
  v3/engine/src/execute/ir/query_root/node_field.rs
  v3/engine/src/schema/permissions.rs
  v3/engine/src/schema/query_root.rs
  v3/engine/src/schema/query_root/node_field.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/schema/types/output_type.rs
  v3/engine/tests/execute/relay/article_metadata.json
  v3/engine/tests/execute/relay/relay_node_interface_permission/metadata.json
  v3/engine/tests/execute/relay/relay_node_model_select_permissions/no_select_permission_exists_for_role/expected.json
  v3/engine/tests/execute/relay/relay_node_model_select_permissions/no_select_permission_exists_for_role/metadata.json
  v3/engine/tests/execute/relay/relay_node_model_select_permissions/no_select_permission_exists_for_role/session_variables.json
  v3/engine/tests/execute/relay/relay_node_type_permissions/metadata.json
  v3/engine/tests/execution.rs
  v3/engine/tests/schema.json
Owners: @hasura/hge-changelog-owners

build `GDS` using `Metadata` struct directly (#259)
  v3/engine/benches/execute.rs
  v3/engine/benches/generate_ir.rs
  v3/engine/bin/engine/main.rs
  v3/engine/src/build.rs
  v3/engine/src/execute.rs
  v3/engine/src/schema.rs
  v3/engine/tests/common.rs
  v3/engine/tests/validate_metadata.rs
Owners: @hasura/hge-changelog-owners

generate IR for type to command local relationships (#251)
  v3/custom-connector/src/bin/agent/main.rs
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/ir/commands.rs
  v3/engine/src/execute/ir/relationship.rs
  v3/engine/src/execute/ir/root_field.rs
  v3/engine/src/execute/ir/selection_set.rs
  v3/engine/src/execute/ndc.rs
  v3/engine/src/execute/process_response.rs
  v3/engine/src/execute/query_plan.rs
  v3/engine/src/execute/remote_joins.rs
  v3/engine/src/schema.rs
  v3/engine/src/schema/commands.rs
  v3/engine/src/schema/permissions.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/schema/types/output_type.rs
  v3/engine/src/schema/types/output_type/relationship.rs
  v3/engine/tests/execute/common_metadata/command_metadata.json
  v3/engine/tests/execute/common_metadata/custom_connector_schema.json
  v3/engine/tests/execute/relationships/model_to_command/expected.json
  v3/engine/tests/execute/relationships/model_to_command/metadata.json
  v3/engine/tests/execute/relationships/model_to_command/request.gql
  v3/engine/tests/execute/relationships/model_to_command/session_variables.json
  v3/engine/tests/generate_ir/get_many_model_count/expected.json
  v3/engine/tests/relationship.rs
  v3/engine/tests/schema.json
Owners: @hasura/hge-changelog-owners

Fix serialization of the `NodeFieldTypeMappings` (#260)
  v3/engine/src/execute/ir/query_root/node_field.rs
  v3/engine/src/schema/query_root/node_field.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/utils.rs
  v3/engine/tests/common.rs
Owners: @hasura/hge-changelog-owners

refactor command schema and IR (#261)
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/ir/arguments.rs
  v3/engine/src/execute/ir/commands.rs
  v3/engine/src/execute/ir/mutation_root.rs
  v3/engine/src/execute/ir/query_root.rs
  v3/engine/src/execute/ir/relationship.rs
  v3/engine/src/execute/ir/root_field.rs
  v3/engine/src/execute/ir/selection_set.rs
  v3/engine/src/execute/model_tracking.rs
  v3/engine/src/execute/query_plan.rs
  v3/engine/src/metadata/resolved/command.rs
  v3/engine/src/metadata/resolved/error.rs
  v3/engine/src/metadata/resolved/ndc_validation.rs
  v3/engine/src/schema.rs
  v3/engine/src/schema/commands.rs
  v3/engine/src/schema/mutation_root.rs
  v3/engine/src/schema/query_root.rs
  v3/engine/src/schema/query_root/node_field.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/schema/types/output_type.rs
  v3/engine/src/schema/types/output_type/relationship.rs
  v3/engine/tests/generate_ir/get_many_model_count/expected.json
  v3/open-dds/metadata.jsonschema
  v3/open-dds/src/commands.rs
Owners: @hasura/hge-changelog-owners

fix: wrong return on empty rows in remote relationships (#267)
  v3/custom-connector/src/actors.csv
  v3/custom-connector/src/movies.csv
  v3/engine/src/execute/remote_joins.rs
  v3/engine/tests/execute/commands/functions/expected.json
  v3/engine/tests/execute/commands/functions/multiple_arguments/expected.json
  v3/engine/tests/execute/commands/functions/object_array_output_type/command_permissions/expected.json
  v3/engine/tests/execute/commands/functions/object_array_output_type/output_permissions/expected.json
  v3/engine/tests/execute/commands/functions/scalar_output_type/expected.json
  v3/engine/tests/execute/commands/procedures/object_array_output_type/command_permissions/expected.json
  v3/engine/tests/execute/commands/procedures/object_array_output_type/output_permissions/expected.json
  v3/engine/tests/execute/commands/procedures/scalar_array_output_type/expected.json
  v3/engine/tests/execute/relationships/command_to_model/across_namespace/expected.json
  v3/engine/tests/execute/relationships/command_to_model/expected.json
  v3/engine/tests/execute/relationships/model_to_command/expected.json
  v3/engine/tests/execute/remote_relationships/multi_field_mapping/expected.json
  v3/engine/tests/execute/remote_relationships/mutually_recursive/expected.json
  v3/engine/tests/execute/remote_relationships/mutually_recursive_with_where/expected.json
  v3/engine/tests/execute/remote_relationships/remote_in_local/expected.json
Owners: @hasura/hge-changelog-owners

add `/v1/explain` endpoint (#252)
  v3/engine/bin/engine/main.rs
  v3/engine/src/execute.rs
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/explain.rs
  v3/engine/src/execute/explain/types.rs
  v3/engine/src/execute/query_plan.rs
  v3/engine/src/execute/remote_joins/types.rs
  v3/engine/tests/common.rs
  v3/engine/tests/explain.rs
  v3/engine/tests/explain/field_with_local_relationship/expected.json
  v3/engine/tests/explain/field_with_local_relationship/request.gql
  v3/engine/tests/explain/field_with_multi_remote_relationship_subfields/expected.json
  v3/engine/tests/explain/field_with_multi_remote_relationship_subfields/request.gql
  v3/engine/tests/explain/field_with_nested_remote_relationship_1/expected.json
  v3/engine/tests/explain/field_with_nested_remote_relationship_1/request.gql
  v3/engine/tests/explain/field_with_nested_remote_relationship_2/expected.json
  v3/engine/tests/explain/field_with_nested_remote_relationship_2/request.gql
  v3/engine/tests/explain/field_with_remote_relationship/expected.json
  v3/engine/tests/explain/field_with_remote_relationship/request.gql
  v3/engine/tests/explain/introspection_query/expected.json
  v3/engine/tests/explain/introspection_query/request.gql
  v3/engine/tests/explain/metadata.json
  v3/engine/tests/explain/multi_root_field_queries/expected.json
  v3/engine/tests/explain/multi_root_field_queries/request.gql
Owners: @hasura/hge-changelog-owners

update ndc-spec dependency to v0.1.0-rc.13 (#275)
  v3/Cargo.lock
  v3/custom-connector/Cargo.toml
  v3/docker-compose.yaml
  v3/engine/Cargo.toml
  v3/engine/src/execute/error.rs
  v3/open-dds/Cargo.toml
  v3/open-dds/metadata.jsonschema
  v3/open-dds/src/data_connector.rs
Owners: @hasura/hge-changelog-owners

Forward NDC errors with status code 422 (#279)
  v3/engine/src/execute/error.rs
Owners: @hasura/hge-changelog-owners

Execute query root fields concurrently (#268)
  v3/Cargo.lock
  v3/engine/Cargo.toml
  v3/engine/src/execute/query_plan.rs
Owners: @hasura/hge-changelog-owners

Relay node permissions refactor (#208)
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/ir/permissions.rs
  v3/engine/src/execute/ir/query_root.rs
  v3/engine/src/execute/ir/query_root/node_field.rs
  v3/engine/src/schema/permissions.rs
  v3/engine/src/schema/query_root.rs
  v3/engine/src/schema/query_root/node_field.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/schema/types/output_type.rs
  v3/engine/tests/execute/relay/article_metadata.json
  v3/engine/tests/execute/relay/relay_node_interface_permission/metadata.json
  v3/engine/tests/execute/relay/relay_node_model_select_permissions/no_select_permission_exists_for_role/expected.json
  v3/engine/tests/execute/relay/relay_node_model_select_permissions/no_select_permission_exists_for_role/metadata.json
  v3/engine/tests/execute/relay/relay_node_model_select_permissions/no_select_permission_exists_for_role/session_variables.json
  v3/engine/tests/execute/relay/relay_node_type_permissions/metadata.json
  v3/engine/tests/execution.rs
  v3/engine/tests/schema.json
Owners: @hasura/hge-changelog-owners

build `GDS` using `Metadata` struct directly (#259)
  v3/engine/benches/execute.rs
  v3/engine/benches/generate_ir.rs
  v3/engine/bin/engine/main.rs
  v3/engine/src/build.rs
  v3/engine/src/execute.rs
  v3/engine/src/schema.rs
  v3/engine/tests/common.rs
  v3/engine/tests/validate_metadata.rs
Owners: @hasura/hge-changelog-owners

generate IR for type to command local relationships (#251)
  v3/custom-connector/src/bin/agent/main.rs
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/ir/commands.rs
  v3/engine/src/execute/ir/relationship.rs
  v3/engine/src/execute/ir/root_field.rs
  v3/engine/src/execute/ir/selection_set.rs
  v3/engine/src/execute/ndc.rs
  v3/engine/src/execute/process_response.rs
  v3/engine/src/execute/query_plan.rs
  v3/engine/src/execute/remote_joins.rs
  v3/engine/src/schema.rs
  v3/engine/src/schema/commands.rs
  v3/engine/src/schema/permissions.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/schema/types/output_type.rs
  v3/engine/src/schema/types/output_type/relationship.rs
  v3/engine/tests/execute/common_metadata/command_metadata.json
  v3/engine/tests/execute/common_metadata/custom_connector_schema.json
  v3/engine/tests/execute/relationships/model_to_command/expected.json
  v3/engine/tests/execute/relationships/model_to_command/metadata.json
  v3/engine/tests/execute/relationships/model_to_command/request.gql
  v3/engine/tests/execute/relationships/model_to_command/session_variables.json
  v3/engine/tests/generate_ir/get_many_model_count/expected.json
  v3/engine/tests/relationship.rs
  v3/engine/tests/schema.json
Owners: @hasura/hge-changelog-owners

Fix serialization of the `NodeFieldTypeMappings` (#260)
  v3/engine/src/execute/ir/query_root/node_field.rs
  v3/engine/src/schema/query_root/node_field.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/utils.rs
  v3/engine/tests/common.rs
Owners: @hasura/hge-changelog-owners

refactor command schema and IR (#261)
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/ir/arguments.rs
  v3/engine/src/execute/ir/commands.rs
  v3/engine/src/execute/ir/mutation_root.rs
  v3/engine/src/execute/ir/query_root.rs
  v3/engine/src/execute/ir/relationship.rs
  v3/engine/src/execute/ir/root_field.rs
  v3/engine/src/execute/ir/selection_set.rs
  v3/engine/src/execute/model_tracking.rs
  v3/engine/src/execute/query_plan.rs
  v3/engine/src/metadata/resolved/command.rs
  v3/engine/src/metadata/resolved/error.rs
  v3/engine/src/metadata/resolved/ndc_validation.rs
  v3/engine/src/schema.rs
  v3/engine/src/schema/commands.rs
  v3/engine/src/schema/mutation_root.rs
  v3/engine/src/schema/query_root.rs
  v3/engine/src/schema/query_root/node_field.rs
  v3/engine/src/schema/types.rs
  v3/engine/src/schema/types/output_type.rs
  v3/engine/src/schema/types/output_type/relationship.rs
  v3/engine/tests/generate_ir/get_many_model_count/expected.json
  v3/open-dds/metadata.jsonschema
  v3/open-dds/src/commands.rs
Owners: @hasura/hge-changelog-owners

fix: wrong return on empty rows in remote relationships (#267)
  v3/custom-connector/src/actors.csv
  v3/custom-connector/src/movies.csv
  v3/engine/src/execute/remote_joins.rs
  v3/engine/tests/execute/commands/functions/expected.json
  v3/engine/tests/execute/commands/functions/multiple_arguments/expected.json
  v3/engine/tests/execute/commands/functions/object_array_output_type/command_permissions/expected.json
  v3/engine/tests/execute/commands/functions/object_array_output_type/output_permissions/expected.json
  v3/engine/tests/execute/commands/functions/scalar_output_type/expected.json
  v3/engine/tests/execute/commands/procedures/object_array_output_type/command_permissions/expected.json
  v3/engine/tests/execute/commands/procedures/object_array_output_type/output_permissions/expected.json
  v3/engine/tests/execute/commands/procedures/scalar_array_output_type/expected.json
  v3/engine/tests/execute/relationships/command_to_model/across_namespace/expected.json
  v3/engine/tests/execute/relationships/command_to_model/expected.json
  v3/engine/tests/execute/relationships/model_to_command/expected.json
  v3/engine/tests/execute/remote_relationships/multi_field_mapping/expected.json
  v3/engine/tests/execute/remote_relationships/mutually_recursive/expected.json
  v3/engine/tests/execute/remote_relationships/mutually_recursive_with_where/expected.json
  v3/engine/tests/execute/remote_relationships/remote_in_local/expected.json
Owners: @hasura/hge-changelog-owners

add `/v1/explain` endpoint (#252)
  v3/engine/bin/engine/main.rs
  v3/engine/src/execute.rs
  v3/engine/src/execute/error.rs
  v3/engine/src/execute/explain.rs
  v3/engine/src/execute/explain/types.rs
  v3/engine/src/execute/query_plan.rs
  v3/engine/src/execute/remote_joins/types.rs
  v3/engine/tests/common.rs
  v3/engine/tests/explain.rs
  v3/engine/tests/explain/field_with_local_relationship/expected.json
  v3/engine/tests/explain/field_with_local_relationship/request.gql
  v3/engine/tests/explain/field_with_multi_remote_relationship_subfields/expected.json
  v3/engine/tests/explain/field_with_multi_remote_relationship_subfields/request.gql
  v3/engine/tests/explain/field_with_nested_remote_relationship_1/expected.json
  v3/engine/tests/explain/field_with_nested_remote_relationship_1/request.gql
  v3/engine/tests/explain/field_with_nested_remote_relationship_2/expected.json
  v3/engine/tests/explain/field_with_nested_remote_relationship_2/request.gql
  v3/engine/tests/explain/field_with_remote_relationship/expected.json
  v3/engine/tests/explain/field_with_remote_relationship/request.gql
  v3/engine/tests/explain/introspection_query/expected.json
  v3/engine/tests/explain/introspection_query/request.gql
  v3/engine/tests/explain/metadata.json
  v3/engine/tests/explain/multi_root_field_queries/expected.json
  v3/engine/tests/explain/multi_root_field_queries/request.gql
Owners: @hasura/hge-changelog-owners

update ndc-spec dependency to v0.1.0-rc.13 (#275)
  v3/Cargo.lock
  v3/custom-connector/Cargo.toml
  v3/docker-compose.yaml
  v3/engine/Cargo.toml
  v3/engine/src/execute/error.rs
  v3/open-dds/Cargo.toml
  v3/open-dds/metadata.jsonschema
  v3/open-dds/src/data_connector.rs
Owners: @hasura/hge-changelog-owners

Forward NDC errors with status code 422 (#279)
  v3/engine/src/execute/error.rs
Owners: @hasura/hge-changelog-owners

Execute query root fields concurrently (#268)
  v3/Cargo.lock
  v3/engine/Cargo.toml
  v3/engine/src/execute/query_plan.rs
Owners: @hasura/hge-changelog-owners

Aggregation limit fix for Snowflake
  docs/docs/databases/snowflake/index.mdx
Owners: @hasura/hge-docs-owners

console: update dependencies listed in `yarn` audit
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useGraphQLMutation.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/api.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

use git commit sha as version in traces (#287)
  v3/engine/Cargo.toml
  v3/engine/bin/engine/main.rs
  v3/engine/build.rs
Owners: @hasura/hge-changelog-owners

Redshift Feature Matrix
  docs/docs/databases/redshift/index.mdx
  docs/docs/databases/snowflake/index.mdx
Owners: @hasura/hge-docs-owners

console: update dependencies listed in `yarn` audit
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useGraphQLMutation.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/api.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

server/pro: support url encoded redis passwords
  server/forks/hedis/hedis.cabal
  server/forks/hedis/src/Database/Redis/URL.hs
Owners: @hasura/hge-server

cherry-picking PR #10603 into v2.36 release
  server/forks/hedis/hedis.cabal
  server/forks/hedis/src/Database/Redis/URL.hs
Owners: @hasura/hge-server

console: automatically select the $eq operator when filtering table rows, close 9970
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/RunQuery/Filter/FilterRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQuery.stories.tsx
Owners: @hasura/hge-changelog-owners

console (hotfix): rollback graphql package update
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.36.2 and v2.37.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release for v2.36.2 and v2.37.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server
