Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

console: fix re-render of console due to permission issue on schema registry diff_with_previous_schema
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/TopNav.tsx
Owners: @hasura/hge-changelog-owners

console (hotfix): enable monitoring tab for Enterprise Classic (Pro) when logging in with admin secret
  frontend/libs/console/legacy-ee/src/lib/components/AppState.js
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
Owners: @hasura/hge-changelog-owners

Upgrade pg_dump to v16.
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

server: fix websocket connection failure if hide_aggregation_predicates and hide_stream_fields experimental features are enabled
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
Owners: @hasura/hge-server

Upgrade nixpkgs, bump Haskell tool versions, and fix the new HLint errors.
  flake.lock
  nix/shell.nix
  server/VERSIONS.json
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/Settings.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Specify the GHC version in one place.
  nix/overlays/ghc.nix
  server/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Support computed fields in new permissions UI DSF-426
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/createSelectArgs.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/ColumnPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Operator.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/TableProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/tables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/helpers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/hooks/usePermissionTables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createDefaultValues/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createDefaultValues/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/createFormData/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/mock/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/dataFetchingHooks/useFormData/useFormData.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/mocks/createPermissionsData.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/schema/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/permissions/permissions.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/table.ts
Owners: @hasura/hge-changelog-owners

Allow for columns without known types in MS SQL Server.
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
Owners: @hasura/hge-server

fix: cherry-pick MSSQL fix
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
Owners: @hasura/hge-server

docs: improve live query docs
  docs/docs/subscriptions/postgres/index.mdx
  docs/docs/subscriptions/postgres/livequery/index.mdx
  docs/docs/subscriptions/postgres/streaming/index.mdx
Owners: @hasura/hge-docs-owners

ci: update latest stable release as v2.35.1
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/clickhouse/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

ci: update tag in install-manifests for all data connectors
  scripts/post-release.sh
Owners: @hasura/hge-changelog-owners

ci :add ubi9 based grapqhl-engine images
  packaging/graphql-engine-base/ubi.dockerfile
Owners: @hasura/hge-changelog-owners

console: fix typos for rest endpoints
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/RestEndpointDetailsPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointList/RestEndpointList.tsx
Owners: @hasura/hge-changelog-owners

console: create rest endpoint from table support in new data tab UI with customised table name in endpoint
  frontend/libs/console/legacy-ce/src/lib/components/Common/EditableHeading/CreateRestEndpoints.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Common/EditableHeading/EditableHeading.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/RestEndpointModal/RestEndpointModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useCreateRestEndpoints.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useCreateRestEndpoints.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useRestEndpointDefinitions.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/utils.tsx
Owners: @hasura/hge-changelog-owners

console (hotfix): rest endpoints feature for data tab perf. mode
  frontend/libs/console/legacy-ce/src/lib/components/Common/EditableHeading/CreateRestEndpoints.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Common/EditableHeading/EditableHeading.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/RestEndpointModal/RestEndpointModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/RestEndpointDetailsPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointList/RestEndpointList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useCreateRestEndpoints.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useCreateRestEndpoints.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useRestEndpointDefinitions.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/utils.tsx
Owners: @hasura/hge-changelog-owners

Add Amazon Redshift docs
  docs/docs/databases/redshift/_category_.json
  docs/docs/databases/redshift/getting-started/_category_.json
  docs/docs/databases/redshift/getting-started/cloud.mdx
  docs/docs/databases/redshift/getting-started/docker.mdx
  docs/docs/databases/redshift/getting-started/index.mdx
  docs/docs/databases/redshift/index.mdx
  docs/static/img/databases/redshift/make-graphql-query.png
  docs/static/img/databases/redshift/redshift-add-agent.png
  docs/static/img/databases/redshift/redshift-add-service1.png
  docs/static/img/databases/redshift/redshift-add-service2.png
  docs/static/img/databases/redshift/redshift-tracking-tables1.png
  docs/static/img/databases/redshift/redshift-tracking-tables2.png
  install-manifests/enterprise/redshift/docker-compose.yaml
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

ci: tag release for v2.36.0-beta.1 and v2.36.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release for v2.36.0-beta.1 and v2.36.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Docs: Add banner pointing to Hasura DDN
  docs/src/components/BannerDismissable/DDNBanner.css
  docs/src/components/BannerDismissable/DDNBanner.tsx
  docs/src/theme/Navbar/index.js
Owners: @hasura/hge-docs-owners

chore: change array lookup in introspection
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/cockroach_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
Owners: @hasura/hge-server

cherry-pick: change array lookup in introspection
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/cockroach_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
Owners: @hasura/hge-server

fix: community/sample-apps/whatsapp-clone-typescript-react/auth-server/Dockerfile to reduce vulnerabilities
  community/sample-apps/whatsapp-clone-typescript-react/auth-server/Dockerfile
Owners: @hasura/hge-changelog-owners

fix: community/sample-apps/whatsapp-clone-typescript-react/react-app/Dockerfile to reduce vulnerabilities
  community/sample-apps/whatsapp-clone-typescript-react/react-app/Dockerfile
Owners: @hasura/hge-changelog-owners

fix: community/boilerplates/remote-schemas/zeit-now/nodejs/Dockerfile to reduce vulnerabilities
  community/boilerplates/remote-schemas/zeit-now/nodejs/Dockerfile
Owners: @hasura/hge-changelog-owners

console: expose `max_connections` field on UI while connecting postgres databases
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/ConnectPostgresWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ConnectPostgresForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/PoolSettings.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/generateRequests.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/mocks/data.mock.ts
Owners: @hasura/hge-changelog-owners

fix: cli/build/builder.dockerfile to reduce vulnerabilities
  cli/build/builder.dockerfile
Owners: @hasura/hge-cli-owners

console: expose `max_connections` field on UI while connecting postgres
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/ConnectPostgresWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ConnectPostgresForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/PoolSettings.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/generateRequests.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/mocks/data.mock.ts
Owners: @hasura/hge-changelog-owners

update: update docs regarding insertion order in API ref page.
  docs/docs/api-reference/syntax-defs.mdx
Owners: @hasura/hge-docs-owners

docs: remove coming soon for mongo
  docs/docs/databases/data-connectors/index.mdx
Owners: @hasura/hge-docs-owners

docs: add ref docs for `--null-in-nonnullable-variables` server option
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

docs: backport hotfix for use case strings
  docs/docs/getting-started/use-case/data-api.mdx
Owners: @hasura/hge-docs-owners

server: fix condition to classify requests to Apollo persisted queries
  server/src-lib/Hasura/Server/Types.hs
  server/tests-py/queries/graphql_query/basic/select_query_with_extensions.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

server: fix condition to classify requests to Apollo persisted queries (cherry-pick)
  server/src-lib/Hasura/Server/Types.hs
  server/tests-py/queries/graphql_query/basic/select_query_with_extensions.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

Apply HLint's new proposed fixes.
  server/lib/api-tests/src/Test/DataConnector/MetadataApiSpec.hs
  server/lib/api-tests/src/Test/Mutations/Insert/ValidationSpec.hs
  server/lib/api-tests/src/Test/Mutations/Update/ValidationSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/RedactionSpec.hs
  server/lib/graphql-parser/bench/Benchmark.hs
  server/lib/graphql-parser/src/Language/GraphQL/Draft/Syntax.hs
  server/lib/graphql-parser/src/Language/GraphQL/Draft/Syntax/Internal.hs
  server/lib/pg-client/src/Database/PG/Query/Connection.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/MSSQL/SQL/Error.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/Server/API/PGDump.hs
  server/src-test/Control/Monad/MemoizationSpecDefinition.hs
Owners: @hasura/hge-server

docs: clarify how to disable schema introspection
  docs/docs/security/disable-graphql-introspection.mdx
  docs/static/img/security/disable-introspection.png
Owners: @hasura/hge-docs-owners

docs: fix typo in server ref
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

pass full request path to the post auth webhook
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

fix typing mismatch issue
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

update: update docs for add/update source health check for particular…
  docs/docs/deployment/health-checks/source-health-check.mdx
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
