Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Remove old Docker based building stuff (#876)
  v3/README.md
  v3/ci.docker-compose.yaml
  v3/crates/engine/src/build.rs
  v3/debug.Dockerfile
  v3/docker-compose.yaml
  v3/drill.yml
  v3/justfile
Owners: @hasura/hge-changelog-owners

Enable use of Otel baggage via tracing-util crate (#888)
  v3/crates/utils/tracing-util/src/lib.rs
  v3/crates/utils/tracing-util/src/setup.rs
Owners: @hasura/hge-changelog-owners

server: Remove headers from error details.
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Types.hs
  server/src-lib/Hasura/Server/Utils.hs
Owners: @hasura/hge-server

rename `NdcFieldName` to `NdcFieldAlias` (#882)
  v3/crates/execute/src/explain/predicate.rs
  v3/crates/execute/src/ir/aggregates.rs
  v3/crates/execute/src/ir/commands.rs
  v3/crates/execute/src/ir/selection_set.rs
  v3/crates/execute/src/plan/commands.rs
  v3/crates/execute/src/plan/filter.rs
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/execute/src/plan/types.rs
  v3/crates/sql/src/execute/analyzer.rs
  v3/crates/sql/src/plan.rs
Owners: @hasura/hge-changelog-owners

Remove empty subscription results
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/subscriptions/postgres/index.mdx
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Subscription.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/RenameIdentifiers.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Schema/Options.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Test/Parser/Monad.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

Update changelog links (#886)
  v3/changelog.md
Owners: @hasura/hge-changelog-owners

Add generated Elasticsearch schema to `range` test (#894)
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/metadata.json
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
Owners: @hasura/hge-changelog-owners

ci: tag release v2.40.3
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

resolves conflicts
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.40.3
  releases/v2.40.3
Owners: @hasura/hge-changelog-owners

ci: release v2.40.3-ce
  releases/v2.40.3-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.40.3-cloud.1
  releases/v2.40.3-cloud.1
Owners: @hasura/hge-changelog-owners

Return correct type when an update_many has no arguments
  server/lib/api-tests/src/Test/Mutations/Insert/MultipleSpec.hs
  server/lib/api-tests/src/Test/Mutations/MultiplePerRequest/UpdateManySpec.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
Owners: @hasura/hge-server

introduce AuthConfig v2, which removes role emulation (#891)
  v3/changelog.md
  v3/crates/auth/hasura-authn-jwt/src/auth.rs
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/authentication.rs
  v3/crates/engine/tests/auth_config.jsonschema
Owners: @hasura/hge-changelog-owners

server: add missing trace_id and span_id fields to OTEL logs for EE Classic mode
  community/boilerplates/observability/enterprise/docker-compose.yml
  community/boilerplates/observability/enterprise/dotenv
  community/boilerplates/observability/enterprise/otel-collector/otel-collector-config.yaml
Owners: @hasura/hge-changelog-owners

Allow object types to be used as comparison operator arguments (#895)
  v3/changelog.md
  v3/crates/engine/tests/execute/commands/functions/boolean_expression_command_argument/boolean_expression_type/metadata.json
  v3/crates/engine/tests/execute/models/select_many/relationship_predicates/common_metadata.json
  v3/crates/metadata-resolve/src/helpers/argument.rs
  v3/crates/metadata-resolve/src/helpers/mod.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/graphql.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/object.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/error.rs
  v3/crates/metadata-resolve/src/stages/data_connector_scalar_types/mod.rs
  v3/crates/metadata-resolve/src/stages/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/helpers.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/error.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/scalar.rs
  v3/crates/metadata-resolve/src/stages/scalar_boolean_expressions/types.rs
  v3/crates/metadata-resolve/src/types/error.rs
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/basic/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/no_graphql/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/metadata.json
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/resolved.snap
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/two_data_sources/resolved.snap
Owners: @hasura/hge-changelog-owners

Judicious relaying of untrusted baggage (#903)
  v3/crates/auth/dev-auth-webhook/src/main.rs
  v3/crates/auth/hasura-authn-jwt/src/jwt.rs
  v3/crates/engine/bin/engine/main.rs
  v3/crates/utils/tracing-util/src/setup.rs
Owners: @hasura/hge-changelog-owners

Enforce the session variable name prefix.
  server/src-lib/Data/Aeson/Kriti/Functions.hs
  server/src-lib/Hasura/Authentication/Headers.hs
  server/src-lib/Hasura/Authentication/Session.hs
  server/src-lib/Hasura/Authentication/User.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/Postgres/DDL.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Prepare.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Subscription.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Permission.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-test/Hasura/Authentication/SessionSpec.hs
  server/src-test/Hasura/Backends/Postgres/Execute/PrepareSpec.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteSpec.hs
  server/src-test/Hasura/QuickCheck/Instances.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/tests-py/queries/v1/metadata/test_webhook_transform_custom_functions.yaml
Owners: @hasura/hge-server

Default to IPV6 on `dev-auth-webhook` (#905)
  v3/crates/auth/dev-auth-webhook/src/main.rs
Owners: @hasura/hge-changelog-owners

Skip NDC version checks for now (#907)
  v3/crates/metadata-resolve/src/stages/data_connectors/types.rs
  v3/crates/metadata-resolve/tests/failing/data_connector_link/incompatible_capabilities_version/metadata.json.ignore
Owners: @hasura/hge-changelog-owners

no-op refactor: split plan/types.rs into separate modules (#908)
  v3/crates/execute/src/explain/predicate.rs
  v3/crates/execute/src/plan.rs
  v3/crates/execute/src/plan/arguments.rs
  v3/crates/execute/src/plan/commands.rs
  v3/crates/execute/src/plan/field.rs
  v3/crates/execute/src/plan/filter.rs
  v3/crates/execute/src/plan/model_selection.rs
  v3/crates/execute/src/plan/mutation.rs
  v3/crates/execute/src/plan/ndc_request.rs
  v3/crates/execute/src/plan/ndc_request/v01.rs
  v3/crates/execute/src/plan/ndc_request/v02.rs
  v3/crates/execute/src/plan/query.rs
  v3/crates/execute/src/plan/relationships.rs
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/execute/src/plan/types.rs
  v3/crates/execute/src/remote_joins/types.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/plan.rs
Owners: @hasura/hge-changelog-owners

Allow a custom list of ignored headers in actions
  metadata.openapi.json
  server/src-lib/Hasura/Authentication/Session.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/IR/Action.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add more details around security vuln remediation
  docs/docs/security/container-images.mdx
Owners: @hasura/hge-docs-owners

Update architecture to reflect `ir` crate (#910)
  v3/docs/architecture.md
Owners: @hasura/hge-changelog-owners

Use `IndexSet` instead of `Vec` for distinct remote predicate comparison expressions (#914)
  v3/crates/execute/src/plan/filter.rs
  v3/crates/ir/src/filter/expression.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/types.rs
Owners: @hasura/hge-changelog-owners

Docs: Add DDN connector information
  docs/docs/databases/data-connectors/ddn-connectors.mdx
Owners: @hasura/hge-docs-owners

ci: catalogue updates v2.42.0-beta.1 and update ubuntu base image
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Nix: Install ghciwatch and update the flake to get it.
  flake.lock
  nix/shell.nix
Owners: @hasura/hge-changelog-owners

Docs: Show new version modal
  docs/src/components/CustomDocItem/index.tsx
  docs/src/components/NewVersionModal/NewVersionModal.css
  docs/src/components/NewVersionModal/NewVersionModal.tsx
  docs/src/components/NewVersionModal/monsta.png
Owners: @hasura/hge-docs-owners

ci: release v2.42.0-beta.1
  releases/v2.42.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-beta.1-ce
  releases/v2.42.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-beta.1-cloud.1
  releases/v2.42.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

ci: tag release v2.36.7
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: catalogue updates v2.42.0-beta.1 and update ubuntu base image
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: release v2.42.0-beta.1
  releases/v2.42.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-beta.1-ce
  releases/v2.42.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.42.0-beta.1-cloud.1
  releases/v2.42.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

updates catalogue version
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

build: update ubuntu base image to latest
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: release v2.36.7
  releases/v2.36.7
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
