Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

console: use `release_name` property on the UI to display the release tag
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/DatabaseLogo.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SetupConnector/hooks/useSuperConnectorAgents.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/oracle.webp
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
Owners: @hasura/hge-changelog-owners

dev.sh: support graphql-engine-pro
  cabal/dev-sh-prof-heap-infomap.project.local
  cabal/dev-sh.project.local
  scripts/dev.sh
  server/benchmarks/bench.sh
  server/benchmarks/benchmark_sets/huge_schema/config.query.yaml
  server/benchmarks/benchmark_sets/remote_schema/config.query.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: API support for fetching events
  docs/docs/api-reference/metadata-api/event-triggers.mdx
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata/Types.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

chore(server): fix Logical Model permissions for nested fields
  server/lib/api-tests/src/Test/Queries/NativeQueries/NativeQueriesSpec.hs
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
Owners: @hasura/hge-server

server/tests-py: Never allocate the same port twice.
  server/tests-py/conftest.py
  server/tests-py/fixtures/hge.py
  server/tests-py/ports.py
  server/tests-py/remote_server.py
  server/tests-py/test_actions.py
  server/tests-py/test_apollo_federation.py
  server/tests-py/test_graphql_introspection.py
  server/tests-py/test_remote_relationships.py
  server/tests-py/test_remote_schema_permissions.py
  server/tests-py/test_roles_inheritance.py
Owners: @hasura/hge-server

chore(tests): run pro api-tests for all native databases
  scripts/make/tests.mk
Owners: @hasura/hge-changelog-owners

server: Make HLint pass, by hook or by crook.
  scripts/make/lint.mk
  server/lib/pg-client/test/Interrupt.hs
  server/lib/pg-client/test/Spec.hs
  server/lib/resource-pool/Data/Pool.hs
  server/lib/resource-pool/test/Main.hs
  server/lib/test-harness/src/Harness/Logging/Messages.hs
  server/lib/test-harness/src/Harness/WebSockets.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/CredentialCache.hs
  server/src-lib/Hasura/Tracing.hs
  server/src-test/Test/Parser/Insert.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update docker compose files, add graphql-data-connector
  cabal/cabal.project.dev
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-mysql-preview/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

console: fixed cloning bugs
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/ClonePermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInputType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/checkUseObjectInput.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/utils/getMapQueryTypePermissions.mocks.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/utils/getMapQueryTypePermissions.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/utils/getMapQueryTypePermissions.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/permissions/permissions.ts
Owners: @hasura/hge-changelog-owners

Split `Hasura.Session`, remove `RQL.Types` dependency
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/ApiLimit.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RQL/Types/Session.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Hasura/Session.hs
  server/src-lib/Hasura/Tracing/Monad.hs
Owners: @hasura/hge-server

chore(server): add -fexpose-all-unfoldings in hasura-base and hasura-extras
  server/lib/hasura-base/hasura-base.cabal
  server/lib/hasura-extras/hasura-extras.cabal
Owners: @hasura/hge-server

chore(server): remove Eventing instances from `RQL.Types`
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Table.hs
  server/src-lib/Hasura/Eventing/Backend.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

console: fix some minor issues with Alert functions
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/Alert.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Alert/AlertProvider.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Button/Button.tsx
Owners: @hasura/hge-changelog-owners

docs: swap ee links on overview
  docs/docs/enterprise/overview.mdx
  docs/docs/index.mdx
Owners: @hasura/hge-docs-owners

fixed mix-up bug with compare and regular operators with tests
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.ts
Owners: @hasura/hge-changelog-owners

docs: update MySQL, MariaDB and Oracle docs to reflect Beta
  docs/docs/databases/mariadb/_category_.json
  docs/docs/databases/mariadb/cloud.mdx
  docs/docs/databases/mariadb/docker.mdx
  docs/docs/databases/mariadb/index.mdx
  docs/docs/databases/mysql/_category_.json
  docs/docs/databases/mysql/cloud.mdx
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/mysql/index.mdx
  docs/docs/databases/oracle/_category_.json
  docs/docs/databases/oracle/cloud.mdx
  docs/docs/databases/oracle/docker.mdx
  docs/docs/databases/oracle/index.mdx
  docs/docs/databases/overview.mdx
Owners: @hasura/hge-docs-owners

typo
  docs/docs/migrations-metadata-seeds/manage-migrations.mdx
Owners: @hasura/hge-docs-owners

Server: Websocket queue time and pre subscriptions start errors metrics [Subscription metrics - 3]
  docs/docs/enterprise/metrics.mdx
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

add QueryWithDDL back
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

frontend: Use `origin/main` as the base when running Nx commands.
  frontend/package.json
  scripts/make/frontend.mk
Owners: @hasura/hge-changelog-owners

Remove Mongo from list of agents
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
Owners: @hasura/hge-changelog-owners

console: refactor logical models code ahead of future PR merges
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/CardedTableFromReactTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/ListLogicalModels.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/ListLogicalModels.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/ListNativeQueries.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/ListNativeQueries.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/mocks.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/logicalModel.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/nativeQuery.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
Owners: @hasura/hge-changelog-owners

Consistent mysql gdc connector name
  frontend/docker/default_metadata.json
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDatabase.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SetupConnector/hooks/useSuperConnectorAgents.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/mocks/data.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/getDataTypeOperators.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/export_metadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/introspection.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

Disable use of local relationships in metadata if Data Connector agents don't declare relationships capability
  server/lib/api-tests/src/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/CustomScalarsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/DeleteMutationsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/ErrorSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/InsertMutationsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/MetadataApiSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/OrderBySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/RemoteRelationshipsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/UpdateMutationsSpec.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-server

console: minor bug fixes (Tracking UI, Connect DB)
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDbBody/parts/Cloud.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectGDCSourceWidget/ConnectGDCSourceWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectMssqlWidget/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/hooks/useTrackedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/introspection/useDatabaseSchemas.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/MultipleJWTSecrets/MultipleJWTSecretsPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/configuration.ts
  frontend/libs/console/legacy-ce/src/lib/utils/getDataRoute.ts
Owners: @hasura/hge-changelog-owners

console: fix issue with table names not being displayed property in the Metatadata Status page
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/utils.ts
Owners: @hasura/hge-changelog-owners

Log the backend source kind in telemetry so we can see which data connector agent is in use
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Telemetry/Types.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
Owners: @hasura/hge-server

console: use `release_name` property on the UI to display the release tag
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/DatabaseLogo.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SetupConnector/hooks/useSuperConnectorAgents.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/oracle.webp
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
Owners: @hasura/hge-changelog-owners

Consistent mysql gdc connector name
  frontend/docker/default_metadata.json
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDatabase.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SetupConnector/hooks/useSuperConnectorAgents.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/graphics/db-logos/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useConnectDatabaseDrivers.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/mocks/data.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/components/ColumnRowInput.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/getDataTypeOperators.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/export_metadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/jsonb/introspection.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
Owners: @hasura/hge-changelog-owners

ci: tag release v2.24.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Nix: Upgrade nixpkgs so we can use Cabal v3.10.1.
  flake.lock
  nix/shell.nix
  server/VERSIONS.json
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

chore(tests): Move Native Queries and Logical Models tests to `api-tests-pro`
  scripts/make/tests.mk
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/NativeQueries/TypeCheckingSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/NativeQueries/ValidationSpec.hs
  server/lib/api-tests/src/Test/API/Metadata/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Databases/BigQuery/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Databases/Postgres/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Databases/SQLServer/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/NativeQueries/NativeQueriesSpec.hs
  server/lib/api-tests/src/Test/Queries/NativeQueries/SubscriptionsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: improve documentation for Hasura Enterprise
  docs/docs/enterprise/getting-started/quickstart-aws-ecs.mdx
  docs/docs/enterprise/getting-started/quickstart-docker.mdx
  docs/docs/enterprise/getting-started/quickstart-google-cloud-run.mdx
  docs/docs/enterprise/getting-started/quickstart-kubernetes.mdx
  docs/docs/enterprise/try-hasura-enterprise-edition.mdx
  docs/docs/enterprise/upgrade-ce-to-ee.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.24.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.24.0
  releases/v2.24.0
Owners: @hasura/hge-changelog-owners

ci: release v2.24.0-ce
  releases/v2.24.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.24.0-cloud.1
  releases/v2.24.0-cloud.1
Owners: @hasura/hge-changelog-owners

Docs: Amend Cloud Version Upgrades Note
  docs/docs/hasura-cloud/projects/index.mdx
Owners: @hasura/hge-docs-owners

docs: update overview pages' titles
  docs/docs/actions/overview.mdx
  docs/docs/auth/overview.mdx
  docs/docs/data-federation/overview.mdx
  docs/docs/databases/overview.mdx
  docs/docs/deployment/overview.mdx
  docs/docs/event-triggers/overview.mdx
  docs/docs/getting-started/overview.mdx
  docs/docs/migrations-metadata-seeds/overview.mdx
  docs/docs/mutations/overview.mdx
  docs/docs/observability/overview.mdx
  docs/docs/queries/overview.mdx
  docs/docs/remote-schemas/overview.mdx
  docs/docs/scheduled-triggers/overview.mdx
  docs/docs/schema/overview.mdx
  docs/docs/subscriptions/overview.mdx
Owners: @hasura/hge-docs-owners

docs: add ee trials to gdc-backed databases
  docs/docs/databases/mariadb/docker.mdx
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/oracle/docker.mdx
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
