Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server/tests-py: Run TestSubscriptionBasicNoAuth in the new mode.
  server/tests-py/conftest.py
  server/tests-py/docker-compose.yml
  server/tests-py/test_subscriptions.py
Owners: @hasura/hge-server

console: Normalise all the Know More links
  frontend/libs/console/legacy-ce/src/lib/components/Common/Common.module.scss
  frontend/libs/console/legacy-ce/src/lib/components/Common/ConfigureTransformation/CustomEditors/NumberedSidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Common/KnowMoreLink/KnowMore.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Common/KnowMoreLink/KnowMoreLink.scss
  frontend/libs/console/legacy-ce/src/lib/components/Common/KnowMoreLink/KnowMoreLink.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Actions/Common/components/ExecutionEditor.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Actions/Common/components/ImportTypesModal/ImportTypesModal.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/List.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Common/Landing/TopicDescription.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/ApolloFederationSupport.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/ConstraintExpandedContent.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/EnumsSection.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/ConnectDBForm.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/components/HerokuBanner/Banner.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/DataSources.module.scss
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/GraphQLFieldCustomization/NamingConvention.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/ReadReplicaForm.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Function/Modify/SessionVarSection.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Function/Permission/Permission.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/RawSQL/RawSQL.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/Schema.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableModify/ComputedFields.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableModify/ComputedFieldsEditor.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TablePermissions/Permissions.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableRelationships/Relationships.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableRelationships/RelationshipsView.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableRelationships/RemoteDbRelationships/RemoteDbRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableRelationships/RemoteRelationships/RemoteRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Common/Operations.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/MetadataOptions/MetadataOptions.js
  frontend/libs/console/legacy-ce/src/lib/features/AllowLists/components/AllowListSidebar/AllowListSidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CronTriggers/components/Form/components/CronScheduleSelector.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Prometheus/PrometheusSettingsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/KnowMoreLink/KnowMoreLink.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/KnowMoreLink/KnowMoreLink.tsx
Owners: @hasura/hge-changelog-owners

ci: clean up old console build
  frontend/libs/nx/internal-plugin/src/executors/build-server-assets/executor.ts
Owners: @hasura/hge-changelog-owners

docs: add beta tags for relay
  docs/docs/schema/postgres/relay-schema.mdx
Owners: @hasura/hge-docs-owners

server/tests-py: Enable TLS tests in parallel mode on CI.
  server/tests-py/conftest.py
  server/tests-py/fixtures/tls.py
Owners: @hasura/hge-server

Monomorphise `NativeQueryName`
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Helpers.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/IR.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
Owners: @hasura/hge-server

console: fix wrong color for active header entry
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.module.scss
Owners: @hasura/hge-changelog-owners

console: fix wrong color for active header entry
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.module.scss
Owners: @hasura/hge-changelog-owners

server/docs: Add documentation of bigquery types
  docs/docs/schema/bigquery/bigquery-types.mdx
Owners: @hasura/hge-docs-owners

docs: update cloud db guides in getting started
  docs/docs/getting-started/getting-started-cloud.mdx
Owners: @hasura/hge-docs-owners

console: Fix ActionEditor dropdown
  frontend/libs/console/legacy-ce/src/lib/components/Services/Actions/Common/components/ActionEditor.tsx
Owners: @hasura/hge-changelog-owners

fix: export data visibility
  frontend/libs/console/legacy-ce/src/lib/new-components/DropdownMenu/DropdownMenu.tsx
Owners: @hasura/hge-changelog-owners

hotfix(2.18): fix export data menu visibility
  frontend/libs/console/legacy-ce/src/lib/new-components/DropdownMenu/DropdownMenu.tsx
Owners: @hasura/hge-changelog-owners

docs: add page on recovering project
  docs/docs/hasura-cloud/projects/domains.mdx
  docs/docs/hasura-cloud/projects/env-vars.mdx
  docs/docs/hasura-cloud/projects/environments.mdx
  docs/docs/hasura-cloud/projects/pricing.mdx
  docs/docs/hasura-cloud/projects/recover.mdx
  docs/docs/hasura-cloud/projects/regions.mdx
  docs/docs/hasura-cloud/projects/secure.mdx
Owners: @hasura/hge-docs-owners

console: allow creating remote joins from and to the same remote schema
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/FormElements.tsx
Owners: @hasura/hge-changelog-owners

console: fix monitoring operation filter not working (hotfix v2.18)
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/LoadingSpinner.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/LoadingSpinner.module.scss
Owners: @hasura/hge-changelog-owners

console: fix monitoring operation filter not working
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/LoadingSpinner.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/LoadingSpinner.module.scss
Owners: @hasura/hge-changelog-owners

server/tests: ensure that all responses have a `Content-Type` header
  server/lib/test-harness/src/Harness/Http.hs
Owners: @hasura/hge-server

console: Add stories and type utilities for the KnowMoreLink
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/OASGeneratorForm.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/FieldWrapper.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/FieldWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/GraphQLSanitizedInputField.tsx
  frontend/libs/console/legacy-ce/src/lib/types.ts
Owners: @hasura/hge-changelog-owners

ci: tag release v2.19.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.19.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.19.0-beta.1
  releases/v2.19.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.19.0-beta.1-ce
  releases/v2.19.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.19.0-beta.1-cloud.1
  releases/v2.19.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

docs: add note about nested updates
  docs/docs/mutations/postgres/update.mdx
Owners: @hasura/hge-docs-owners

Allow backend execution to happen on the base app monad.
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Transport.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/MonadTx.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Transport/Backend.hs
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

[console] sort types alphabetically in remote schema type dropdown (close #9412)
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Common/GraphQLCustomization/FieldNames.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Common/GraphQLCustomization/TypeMapping.tsx
Owners: @hasura/hge-changelog-owners

console: more compact storybook sidebar UI
  frontend/libs/console/legacy-ce/.storybook/manager.js
Owners: @hasura/hge-changelog-owners

docs: add data hub link to one-click-deploy docs
  docs/docs/hasura-cloud/one-click-deploy/index.mdx
Owners: @hasura/hge-docs-owners

console: POC db connect select database draft design [GCU-107]
  frontend/.vscode/settings.json
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDatabase.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/SelectDatabase.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/SelectDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/CopyableInputField.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/DatabaseLogo.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/EETrialActive.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/EETrialExpired.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/EETrialInactive.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/FancyRadioCards.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/InformationCard.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/components/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/databases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/database-connect.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/amazon.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/citus.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/cockroach.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/google.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/microsoft.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/placeholder.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/postgres.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/graphics/db-logos/snowflake.svg
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/styles.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/SelectDatabase/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/types.d.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/getTablesListAsTree.tsx
  frontend/package.json
  frontend/tailwind.config.js
Owners: @hasura/hge-changelog-owners

Fixing `omit_tracked` argument to suggest_relationships API to be more granular
  server/lib/api-tests/src/Test/API/Metadata/SuggestRelationshipsSpec.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Suggest.hs
Owners: @hasura/hge-server

feature (console): add postgres connect DB widget
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/ConnectPostgresWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/ConnectPostgresWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/BooleanInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/Configuration.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/Configuration.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ConnectionInfo.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ConnectionInfo.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/PoolSettings.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ReadReplicas.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ReadReplicas.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/SslSettings.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/generateRequests.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/helpers.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/GraphQLCustomization/GraphQLCustomization.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/GraphQLCustomization/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/GraphQLCustomization/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/GraphQLCustomization/utils/generateRequest.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useManageDatabaseConnection.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/mocks/handlers.mock.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/types.d.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/configuration.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Tabs/Tabs.tsx
Owners: @hasura/hge-changelog-owners

More tests for insert mutations for Data Connector agents
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/lib/dc-api/test/Test/Expectations.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec/InsertSpec.hs
Owners: @hasura/hge-server

Include cron trigger's name in the error message
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
Owners: @hasura/hge-server

server: refactor `FromJSON FromIntrospection` instances
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
Owners: @hasura/hge-server

cli: introduce BigQuery source
  cli/internal/hasura/client.go
  cli/internal/hasura/sourceops.go
  cli/internal/hasura/sourceops/bigquery/bigquery.go
  cli/internal/hasura/sourceops/bigquery/run_sql.go
  cli/internal/hasura/sourceops/bigquery/run_sql_test.go
  cli/internal/hasura/v2query/v2query.go
  cli/internal/testutil/testutil.go
  cli/migrate/api/migrate.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/migration.go
  cli/migrate/util.go
Owners: @hasura/hge-cli-owners

console: show cross icon when status is null in invocation logs tab
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/Common/Components/utils.tsx
Owners: @hasura/hge-changelog-owners

cli: show expanded error information in debug logs
  cli/commands/root.go
  cli/internal/errors/errors.go
Owners: @hasura/hge-cli-owners

Clean console logs
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/OASGeneratorForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/DataGrid.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/common/SourcePicker/SourcePicker.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenApi3Form/stories/common/RenderOpenApi3Form.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/InputField.test.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/InputField.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/legacyNotifications.tsx
Owners: @hasura/hge-changelog-owners

Docs: Add Docker instructions to connect db page
  docs/docs/databases/connect-db/index.mdx
  docs/static/img/databases/databases_connect-database_2-17-0.png
  docs/static/img/projects/gcp-postgres-authorized-network.png
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
