Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Update `HelloWorldSpec` to reflect the usual test structure
  server/tests-hspec/Test/HelloWorldSpec.hs
Owners: @hasura/hge-server

server: accept schema name as a target for the graphql-engine to install DB extensions
  CHANGELOG.md
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/Postgres/Connection/MonadTx.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/src-test/Hasura/Server/MigrateSuite.hs
  server/src-test/Main.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

tests: convert DataConnector hspec tests from `Context` -> `Fixture`
  server/tests-hspec/Harness/Backend/DataConnector.hs
  server/tests-hspec/Test/DataConnector/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
  server/tests-hspec/Test/DataConnector/QuerySpec.hs
  server/tests-hspec/Test/DataConnector/SelectPermissionsSpec.hs
Owners: @hasura/hge-server

pro-server: document Prometheus metrics via help text
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

Reformat instance declarations
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
Owners: @hasura/hge-server

docs: add admonition for heroku integration
  docs/docs/projects/heroku-url-sync.mdx
Owners: @hasura/hge-docs-owners

fix (console/relationships): add forward compatiblity for DB-to-RS for old relationship UI
  CHANGELOG.md
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/EditorCollapsed.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/utils.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: Support the namespacing of table names in Data Connectors
  dc-agents/README.md
  dc-agents/reference/README.md
  dc-agents/reference/src/config.ts
  dc-agents/reference/src/data/index.ts
  dc-agents/reference/src/index.ts
  dc-agents/reference/src/query.ts
  dc-agents/reference/src/types/agent.openapi.json
  dc-agents/reference/src/types/index.ts
  dc-agents/reference/src/types/models/QueryRequest.ts
  dc-agents/reference/src/types/models/Relationship.ts
  dc-agents/reference/src/types/models/TableInfo.ts
  dc-agents/reference/src/types/models/TableName.ts
  dc-agents/reference/src/types/models/TableRelationships.ts
  dc-agents/reference/src/util.ts
  dc-agents/sdk/metadata/metadata-api.json
  server/src-dc-api/Hasura/Backends/DataConnector/API/V0/Table.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Function.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Name.hs
  server/src-lib/Hasura/Backends/DataConnector/IR/Table.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/QuerySpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/RelationshipsSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/TableSpec.hs
  server/src-test/Hasura/Backends/DataConnector/RQLGenerator/GenCommon.hs
  server/tests-dc-api/Test/Data.hs
  server/tests-dc-api/Test/Data/schema-tables.json
  server/tests-hspec/Harness/Backend/DataConnector/MockAgent.hs
  server/tests-hspec/Test/DataConnector/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
  server/tests-hspec/Test/DataConnector/QuerySpec.hs
  server/tests-hspec/Test/DataConnector/SelectPermissionsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Move `EnumSpec` into the `Schema` directory
  server/graphql-engine.cabal
  server/tests-hspec/Test/Schema/EnumSpec.hs
Owners: @hasura/hge-server

Console: deprecate _ne from the permissions builder
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
Owners: @hasura/hge-console-owners

ci: use pro image as base image for pro cli migration images
  packaging/cli-migrations/v2/Dockerfile
  packaging/cli-migrations/v3/Dockerfile
Owners: @hasura/hge-changelog-owners

server: refactor `MonadSchema` into `MonadMemoize`
  server/graphql-engine.cabal
  server/src-lib/Control/Monad/Memoize.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
  server/src-lib/Hasura/GraphQL/Parser/Class/Parse.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Input.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/TypeChecking.hs
  server/src-lib/Hasura/GraphQL/Parser/Monad.hs
  server/src-lib/Hasura/GraphQL/Parser/Schema.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Parser.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-test/Hasura/GraphQL/Parser/MonadParseTest.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

tests: expose SchemaName from Harness.Test.Schema
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Test/Schema.hs
  server/tests-hspec/Test/BigQuery/ComputedFieldSpec.hs
  server/tests-hspec/Test/BigQuery/Metadata/ComputedFieldSpec.hs
  server/tests-hspec/Test/BigQuery/TypeInterpretationSpec.hs
  server/tests-hspec/Test/LongIdentifiersSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeAndSkipSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeSpec.hs
  server/tests-hspec/Test/Queries/Directives/SkipSpec.hs
  server/tests-hspec/Test/Queries/DirectivesSpec.hs
  server/tests-hspec/Test/Queries/FilterSearchSpec.hs
  server/tests-hspec/Test/Queries/NestedObjectSpec.hs
  server/tests-hspec/Test/Queries/Paginate/LimitSpec.hs
  server/tests-hspec/Test/Queries/Paginate/OffsetSpec.hs
  server/tests-hspec/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/tests-hspec/Test/Queries/Simple/OperationNameSpec.hs
  server/tests-hspec/Test/Queries/SortSpec.hs
  server/tests-hspec/Test/RemoteRelationship/MetadataAPI/Common.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/tests-hspec/Test/Schema/DataValidation/PermissionSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ObjectRelationshipsSpec.hs
Owners: @hasura/hge-server

[security] Update Debian base image to debian:buster-20220711-slim
  packaging/graphql-engine-base/debian.dockerfile
Owners: @hasura/hge-changelog-owners

console: storybook create dynamic form component for gdc configuration
  console/src/features/ConnectDB/Configuration.tsx
  console/src/features/ConnectDB/Connect.stories.tsx
  console/src/features/ConnectDB/Connect.tsx
  console/src/features/ConnectDB/Driver.tsx
  console/src/features/ConnectDB/Name.tsx
  console/src/features/ConnectDB/components/Configuration.tsx
  console/src/features/ConnectDB/components/Fields/Fields.tsx
  console/src/features/ConnectDB/components/Fields/RenderProperty.tsx
  console/src/features/ConnectDB/components/Fields/index.tsx
  console/src/features/ConnectDB/components/RadioGroup.tsx
  console/src/features/ConnectDB/hooks/index.tsx
  console/src/features/ConnectDB/hooks/useLoadSchemas.tsx
  console/src/features/ConnectDB/hooks/useSubmit.tsx
  console/src/features/ConnectDB/index.tsx
  console/src/features/DataSource/common/createZodSchema.ts
  console/src/features/DataSource/common/utils.ts
  console/src/features/DataSource/index.ts
Owners: @hasura/hge-console-owners

tests: create BigQuery datasets for each test
  server/graphql-engine.cabal
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Quoter/Yaml.hs
  server/tests-hspec/Harness/Quoter/Yaml/InterpolateYaml.hs
  server/tests-hspec/Harness/Test/BackendType.hs
  server/tests-hspec/Harness/Test/Context.hs
  server/tests-hspec/Harness/Test/Fixture.hs
  server/tests-hspec/Harness/Test/Schema.hs
  server/tests-hspec/Harness/Test/SchemaName.hs
  server/tests-hspec/Harness/TestEnvironment.hs
  server/tests-hspec/SpecHook.hs
  server/tests-hspec/Test/BigQuery/ComputedFieldSpec.hs
  server/tests-hspec/Test/BigQuery/Metadata/ComputedFieldSpec.hs
  server/tests-hspec/Test/BigQuery/TypeInterpretationSpec.hs
  server/tests-hspec/Test/DataConnector/QuerySpec.hs
  server/tests-hspec/Test/LongIdentifiersSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeAndSkipSpec.hs
  server/tests-hspec/Test/Queries/Directives/IncludeSpec.hs
  server/tests-hspec/Test/Queries/Directives/SkipSpec.hs
  server/tests-hspec/Test/Queries/DirectivesSpec.hs
  server/tests-hspec/Test/Queries/FilterSearchSpec.hs
  server/tests-hspec/Test/Queries/NestedObjectSpec.hs
  server/tests-hspec/Test/Queries/Paginate/LimitSpec.hs
  server/tests-hspec/Test/Queries/Paginate/OffsetSpec.hs
  server/tests-hspec/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/tests-hspec/Test/Queries/Simple/OperationNameSpec.hs
  server/tests-hspec/Test/Queries/SortSpec.hs
  server/tests-hspec/Test/RemoteRelationship/FromRemoteSchemaSpec.hs
  server/tests-hspec/Test/RemoteRelationship/MetadataAPI/Common.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBArrayRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToDBObjectRelationshipSpec.hs
  server/tests-hspec/Test/RemoteRelationship/XToRemoteSchemaRelationshipSpec.hs
  server/tests-hspec/Test/Schema/DataValidation/PermissionSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ObjectRelationshipsSpec.hs
Owners: @hasura/hge-server

refactor (console/gdc): clean up the hierarchy abstraction for nav tree
  console/src/components/Services/Data/GDCTree/GDC.stories.tsx
  console/src/components/Services/Data/GDCTree/GDCTree.tsx
  console/src/components/Services/Data/GDCTree/hooks/useGDCTreeClick.ts
  console/src/components/Services/Data/GDCTree/hooks/useTreeData.ts
  console/src/components/Services/Data/GDCTree/utils.tsx
  console/src/components/Services/Data/TreeView.tsx
  console/src/features/DataSource/bigquery/index.ts
  console/src/features/DataSource/citus/index.ts
  console/src/features/DataSource/gdc/index.ts
  console/src/features/DataSource/index.ts
  console/src/features/DataSource/mssql/index.ts
  console/src/features/DataSource/postgres/index.ts
  console/src/utils/featureFlags.ts
Owners: @hasura/hge-console-owners

Update lux-2.0.8.tgz references to lux-2.0.13.tgz
  docs/docs/enterprise/control-plane/installation.mdx
Owners: @hasura/hge-docs-owners

multitenant: refactor config status updates
  cabal.project.freeze
  server/src-lib/Hasura/Server/Auth/JWT.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Run the reader context per schema block
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
Owners: @hasura/hge-server

docker: Mount database data directories as named volumes.
  docker-compose.yml
  scripts/containers/citus
  scripts/containers/mssql.sh
  scripts/containers/mysql.sh
  scripts/containers/postgres
Owners: @hasura/hge-changelog-owners

docs: update heroku admonition to link to gh issue
  docs/docs/projects/heroku-url-sync.mdx
Owners: @hasura/hge-docs-owners

Prefix the string md5_ to md5 renames
  server/src-lib/Hasura/Backends/Postgres/SQL/RenameIdentifiers.hs
  server/src-test/Hasura/Backends/Postgres/SQL/Select/RenameIdentifiersSpec.hs
Owners: @hasura/hge-server

Update `InsertVarcharColumnSpec` test
  server/graphql-engine.cabal
  server/tests-hspec/Test/SQLServer/InsertVarcharColumnSpec.hs
Owners: @hasura/hge-server

Migrate the `GatheringUniqueConstraintsSpec` test to the new structure
  server/graphql-engine.cabal
  server/tests-hspec/Test/GatheringUniqueConstraintsSpec.hs
  server/tests-hspec/Test/Postgres/UniqueConstraintsSpec.hs
Owners: @hasura/hge-server

docs: update first columns to fixed width
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

tooling: Add `make ghcid-library-pro` command
  scripts/make/ghcid.mk
Owners: @hasura/hge-changelog-owners

console: upgrade tailwind css to the latest version 3.1.7 (CON-416)
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/new-components/Form/FieldWrapper.tsx
  console/src/new-components/Switch/Switch.tsx
  console/tailwind.config.js
Owners: @hasura/hge-console-owners

Adding metrics endpoint to SQLite Data Connector Agent
  dc-agents/sqlite/README.md
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/db.ts
  dc-agents/sqlite/src/index.ts
  dc-agents/sqlite/src/query.ts
  dc-agents/sqlite/src/util.ts
Owners: @hasura/hge-changelog-owners

Docs: update GCP PG connection string
  docs/docs/databases/connect-db/cloud-databases/gcp.mdx
Owners: @hasura/hge-docs-owners

Fix querying multicolumn relationship in bigquery
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/tests-hspec/Test/Queries/MultiColumnObjectRelationshipsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add warning about ordering of keys in order_by object
  docs/docs/queries/postgres/sorting.mdx
Owners: @hasura/hge-docs-owners

docs: add docs for multiple updates
  docs/docs/mutations/postgres/update.mdx
Owners: @hasura/hge-docs-owners

server/console: add metadata API `set_apollo_federation_config`
  CHANGELOG.md
  console/src/components/Services/Data/Common/Components/ApolloFederationSupport.tsx
  console/src/components/Services/Data/Common/Components/EnumsSection.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/__tests__/__snapshots__/mergeData.test.ts.snap
  console/src/components/Services/Data/mergeData.ts
  console/src/metadata/queryUtils.ts
  console/src/metadata/types.ts
  docs/docs/api-reference/metadata-api/index.mdx
  docs/docs/api-reference/metadata-api/table-view.mdx
  docs/docs/data-federation/apollo-federation.mdx
  docs/static/img/graphql/core/data-federation/apollo-federation-enable.png
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/tests-py/queries/apollo_federation/root_fields.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners, @hasura/hge-docs-owners, @hasura/hge-server

server/tests-hspec: port Context to Fixture - permissions
  server/tests-hspec/Test/BackendOnlyPermissionsSpec.hs
  server/tests-hspec/Test/Mutations/MultiplePerRequest/UpdateManySpec.hs
  server/tests-hspec/Test/Queries/Simple/OperationNameSpec.hs
  server/tests-hspec/Test/Schema/DataValidation/PermissionSpec.hs
Owners: @hasura/hge-server

Consolidate Arg/Env Parser Defaults and cleanup arg merging code
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/src-test/Hasura/StreamingSubscriptionSuite.hs
  server/src-test/Main.hs
  server/tests-hspec/Harness/Constants.hs
Owners: @hasura/hge-server

console: fix row-level permission restrictions with boolean fields for bigquery
  CHANGELOG.md
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.tsx
  console/src/dataSources/services/bigquery/index.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Docs: Updates env vars page (closes #4418 & closes #4669)
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

server: Move the schema parsers to their own library.
  sample.hie.yaml
  scripts/make/build.mk
  server/graphql-engine.cabal
  server/lib/common.yaml
  server/lib/error-message/hasura-error-message.cabal
  server/lib/error-message/package.yaml
  server/lib/schema-parsers/hasura-schema-parsers.cabal
  server/lib/schema-parsers/package.yaml
  server/lib/schema-parsers/src/Data/GADT/Compare/Extended.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Class.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Collect.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/DirectiveName.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Directives.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/ErrorCode.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Input.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/TypeChecking.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Types.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Monad.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Name.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Name/Introspection.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Name/TypeSystem.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Names.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Schema/Convert.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Variable.hs
  server/lib/schema-parsers/test/Hasura/GraphQL/Parser/DirectivesTest.hs
  server/lib/schema-parsers/test/Hasura/GraphQL/Parser/MonadParseTest.hs
  server/lib/schema-parsers/test/Hasura/GraphQL/Parser/TestInstances.hs
  server/lib/schema-parsers/test/Hasura/GraphQL/Parser/TestUtils.hs
  server/lib/schema-parsers/test/Main.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-test/Hasura/GraphQL/Parser/TestInstances.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Migrate `ViewsSpec` to the new structure
  server/graphql-engine.cabal
  server/tests-hspec/Test/Schema/ViewsSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
Owners: @hasura/hge-server
