Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Expand bulk_atomic docs.
  docs/docs/api-reference/metadata-api/index.mdx
  docs/docs/schema/bigquery/logical-models/index.mdx
  docs/docs/schema/ms-sql-server/logical-models/index.mdx
  docs/docs/schema/postgres/logical-models/index.mdx
Owners: @hasura/hge-docs-owners

validate a few properties when adding a new native query or logical model
  server/src-lib/Hasura/LogicalModel/API.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

Be more lenient about missing values in data connector response
  server/lib/api-tests/src/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Query.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
Owners: @hasura/hge-server

console: fix neon error on database already exists (cherry-pick v2.27)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/NeonConnect.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDbBody/parts/Cloud.tsx
Owners: @hasura/hge-changelog-owners

ci: tag release v2.28.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.28.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.28.0-beta.1
  releases/v2.28.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.28.0-beta.1-ce
  releases/v2.28.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.28.0-beta.1-cloud.1
  releases/v2.28.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

chore(server): support all BigQuery types in docs page
  metadata.openapi.json
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

chore: add useCreateRestEndpoints hook
  frontend/libs/console/legacy-ce/src/lib/components/Services/Actions/Common/components/ImportTypesModal/useIntrospectionSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/QueryCollections/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/QueryCollections/hooks/useAddOperationsToQueryCollection/useAddOperationsToQueryCollection.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/mocks/introspectionWithCustomizations.json
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/mocks/introspectionWithoutCustomizations.json
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useCreateRestEndpoints.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useCreateRestEndpoints.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useRestEndpointDefinitions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/mocks/metadata.mock.ts
  frontend/libs/console/legacy-ce/src/lib/mocks/actions.ts
  frontend/libs/console/legacy-ce/src/lib/mocks/metadata.mock.ts
Owners: @hasura/hge-changelog-owners

console: schema registry alerts UI (cherry pick v2.27)
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AlertsDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AlertsHeader.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CustomDialogFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetAlertConfig.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useSetAlertConfig.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
Owners: @hasura/hge-changelog-owners

console: schema registry alerts UI (cherry pick v2.26)
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AlertsDialog.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/AlertsHeader.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/CustomDialogFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetAlertConfig.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useSetAlertConfig.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
Owners: @hasura/hge-changelog-owners

refac: Handle feature flags per product
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/RQL/DDL/FeatureFlag.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata/Instances.hs
  server/src-lib/Hasura/Server/API/Metadata/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init/FeatureFlag.hs
Owners: @hasura/hge-server

docs: add oss version admonition for nq and lm
  docs/docs/schema/bigquery/logical-models/_category_.json
  docs/docs/schema/ms-sql-server/logical-models/_category_.json
  docs/docs/schema/postgres/logical-models/_category_.json
  docs/docs/schema/postgres/logical-models/index.mdx
  docs/docs/schema/postgres/logical-models/native-queries.mdx
Owners: @hasura/hge-docs-owners

include the response in the test-harness missing content-type assertion
  server/lib/test-harness/src/Harness/Http.hs
Owners: @hasura/hge-server

Update reference.mdx - typo in --server-port flag
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

Update reference.mdx - typo in --server-port flag
  docs/docs/deployment/graphql-engine-flags/reference.mdx
Owners: @hasura/hge-docs-owners

Added Flightcontrol Docs
  docs/docs/deployment/deployment-guides/flightcontrol-one-click.mdx
Owners: @hasura/hge-docs-owners

console: improved db latency check error handling
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/ListConnectedDatabases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/LatencyBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useDatabaseLatencyCheck.ts
Owners: @hasura/hge-changelog-owners

docs: update docs with new telemetry payload for EE edition after #9439
  docs/docs/policies/telemetry.mdx
Owners: @hasura/hge-docs-owners

docs: remove self-hosted ee from regression tests
  docs/docs/hasura-cloud/regression-tests.mdx
Owners: @hasura/hge-docs-owners

docs: add note to action relationships
  docs/docs/actions/action-relationships.mdx
Owners: @hasura/hge-docs-owners

fix(server): skip insert when no values provided for SQLServer
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/Databases/SQLServer/DefaultValues/OnConflictSpec.hs
  server/lib/api-tests/src/Test/Mutations/Insert/MultipleSpec.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

frontend: fix neon button infinite load on error
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonIntegration.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
Owners: @hasura/hge-changelog-owners

docs: fix the bulk_atomic examples for native queries
  docs/docs/schema/bigquery/logical-models/native-queries.mdx
  docs/docs/schema/ms-sql-server/logical-models/native-queries.mdx
  docs/docs/schema/postgres/logical-models/native-queries.mdx
Owners: @hasura/hge-docs-owners

docs: add prometheus grafana dashboard
  docs/docs/deployment/best-practices/observability.mdx
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/enterprise/getting-started/start-using-hasura-ee.mdx
  docs/docs/enterprise/overview.mdx
  docs/docs/event-triggers/observability-and-performace.mdx
  docs/docs/observability/integrations/_category_.json
  docs/docs/observability/integrations/index.mdx
  docs/docs/observability/overview.mdx
  docs/docs/observability/prometheus/_category_.json
  docs/docs/observability/prometheus/cloud-integration.mdx
  docs/docs/observability/prometheus/grafana-dashboard.mdx
  docs/docs/observability/prometheus/index.mdx
  docs/docs/observability/prometheus/metrics.mdx
  docs/docs/observability/prometheus/pre-built-dashboards.mdx
  docs/docs/subscriptions/observability-and-performance.mdx
  docs/static/img/enterprise/prometheus/add-metrics-to-dashboard.png
  docs/static/img/enterprise/prometheus/create-a-prometheus-graph.png
  docs/static/img/enterprise/prometheus/create-prometheus-data-source.png
  docs/static/img/enterprise/prometheus/formatting-legend-names.png
Owners: @hasura/hge-docs-owners

Add Google Workspace and Dex links to SSO doc
  docs/docs/enterprise/sso/index.mdx
Owners: @hasura/hge-docs-owners

Added Flightcontrol Changes
  docs/docs/deployment/deployment-guides/flightcontrol-one-click.mdx
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

Fixed errors
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
  docs/docs/deployment/deployment-guides/index.mdx
Owners: @hasura/hge-docs-owners

Sync redux metadata with react-query and vice versa
  frontend/libs/console/legacy-ce/src/index.ts
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-api/useMetadata.ts
  frontend/libs/console/legacy-ce/src/lib/lib/reactQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/metadata/reducer.ts
  frontend/libs/console/legacy-ce/src/lib/store.ts
  frontend/libs/console/legacy-ce/src/lib/store.utils.ts
  frontend/libs/console/legacy-ee/src/lib/store.js
Owners: @hasura/hge-changelog-owners

Track nested logical models and Logical models details route
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataRouter.js
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/components/ListLogicalModels.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModel/ViewLogicalModelPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModel/utils/logicalModelFieldToFormField.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelPermissions/LogicalModelPermissions.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelPermissions/LogicalModelPermissionsPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/components/FieldsInput.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/components/LogicalModelFormInputs.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/components/LogicalModelFormInputs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/mocks/utils/formFieldToLogicalModelField.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/validationSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/LogicalModelTabs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/logicalModel.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/typeGuards.ts
  frontend/libs/console/legacy-ce/src/lib/storybook/utils/waitForRequest.ts
Owners: @hasura/hge-changelog-owners

Implemented Changes
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
  docs/docs/deployment/deployment-guides/index.mdx
Owners: @hasura/hge-docs-owners

Implemented Changes
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

Add initial basic group_by IR and GraphQL parser support
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/Name.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Select/Lenses.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Schema/Options.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

frontend: neon bugfix hotfix to v2.28
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonIntegration.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
Owners: @hasura/hge-changelog-owners

console: fix ET e2e cypress test
  frontend/apps/console-ce-e2e/src/e2e/event-triggers/event-trigger.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/Layout/ExpandableEditor/Editor.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Modify/HeadersEditor.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Modify/OperationEditor.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Modify/RetryConfEditor.tsx
Owners: @hasura/hge-changelog-owners

chore(server): stop duplicate relationships in native queries
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
Owners: @hasura/hge-server

frontend: neon bugfix hotfix to v2.27
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useNeonIntegration.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
Owners: @hasura/hge-changelog-owners

Updated instructions
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners
