Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

update allowlist test cases to support /v1/graphql
  server/tests-py/queries/graphql_query/allowlist/query_as_admin.yaml
  server/tests-py/queries/graphql_query/allowlist/query_non_allowlist.yaml
  server/tests-py/queries/graphql_query/allowlist/query_user.yaml
  server/tests-py/queries/graphql_query/allowlist/query_user_by_pk.yaml
  server/tests-py/queries/graphql_query/allowlist/query_user_with_typename.yaml
  server/tests-py/queries/graphql_query/basic/select_query_user_col_change.yaml
Owners: @0x777

added file upload
  console/package-lock.json
  console/package.json
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Common/Tooltip/Tooltip.js
  console/src/components/Common/Tooltip/Tooltip.scss
  console/src/components/Services/Common/Notification.js
  console/src/components/Services/EventTrigger/Modify/HeadersEditor.js
  console/src/components/Services/EventTrigger/Modify/Info.js
  console/src/components/Services/EventTrigger/Modify/ModifyEvent.scss
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/RetryConfEditor.js
  console/src/components/Services/EventTrigger/Modify/WebhookEditor.js
  console/src/components/Services/Metadata/Actions.js
  console/src/components/Services/Metadata/AllowedQueries/AddAllowedQuery.js
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueries.js
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueriesList.js
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueriesNotes.js
  console/src/components/Services/Metadata/AllowedQueries/utils.js
Owners: @rikinsk

update auth0 hooks, remote stale files react tutorial
  community/learn/graphql-tutorials/backend-services/auth0/auth0_post_user_registration_hook.js
  community/learn/graphql-tutorials/backend-services/auth0/auth0_rule_insert_user.js
  community/learn/graphql-tutorials/remote-hasura.yaml.sample
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

Home page new design WIP
  community/learn/graphql-tutorials/backend-services/homepage/src/components/AllState.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/CommonTutorialsList.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Footer.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Header.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/SubscribeNewsletter.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/TopBanner.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Tutorials.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/WillLearn.js
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
  community/learn/graphql-tutorials/backend-services/homepage/src/images/Hasura.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/React-icon.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/Vue-icon.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/android-icon.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/angular-icon.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/arrow.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/discord-gray.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/discord-white.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/elm.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/hasura-icon.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/ios.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/postgres.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/re.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/react-blue.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/tick.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/tutorial-path.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/pages/index.js
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
Owners: @shahidhk

update manifests, config
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
  community/learn/graphql-tutorials/manifests/react-native-apollo.yaml
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/README.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/config.js
Owners: @shahidhk

update jquery
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
Owners: @shahidhk

update introduction
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/introduction.md
Owners: @shahidhk

home page new design wip
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
Owners: @shahidhk

home page redesign wip
  community/learn/graphql-tutorials/backend-services/homepage/src/components/CommonTutorialsList.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Footer.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Header.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/SubscribeNewsletter.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/WillLearn.js
  community/learn/graphql-tutorials/backend-services/homepage/src/images/Vue-gray.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/angular-gray.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/react-gray.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
Owners: @shahidhk

update voyager version
  console/package.json
Owners: @rikinsk

test
  console/Makefile
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/DataHeader.js
  console/src/components/VoyagerView/VoyagerView.js
  console/src/components/VoyagerView/voyagerView.css
  console/src/components/index.js
  console/src/routes.js
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Owners: @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk
