Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

multitenant: fix concurrent metadata init (closes #3819)
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Error.hs
  server/src-lib/Hasura/Base/Error.hs
Owners: @hasura/hge-server

server: Rework internal webhook request transform components
  server/src-lib/Data/Aeson/Extended.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Body.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Headers.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Method.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/QueryParams.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/Url.hs
  server/src-test/Hasura/RQL/WebhookTransformsSpec.hs
Owners: @hasura/hge-server

Fix not detecting collisions between remote relationships for the unauthenticated context.
  server/src-lib/Hasura/GraphQL/Schema.hs
Owners: @hasura/hge-server

Fix bad changelog merge after v2.2.2 release
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

server: app init cleanup
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

console: enable mssql aggregation query permissions
  CHANGELOG.md
  console/src/dataSources/services/mssql/index.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

cli: fix formatting errors in query collection metadata
  CHANGELOG.md
  cli/internal/metadataobject/querycollections/query_collections.go
  cli/internal/metadataobject/querycollections/query_collections_test.go
  cli/internal/metadataobject/querycollections/testdata/export_test/t1/want.query_collections.yaml
  cli/internal/metadataobject/querycollections/testdata/export_test/t3/want.query_collections.yaml
  cli/internal/metadataobject/querycollections/testdata/export_test/t4/metadata.json
  cli/internal/metadataobject/querycollections/testdata/export_test/t4/want.query_collections.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

Moved GDW API types into their own internal lib
  server/graphql-engine.cabal
  server/src-gdw-api/Autodocodec/Extended.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/API.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Column.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Expression.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/OrderBy.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Query.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Scalar/Type.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Scalar/Value.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Schema.hs
  server/src-gdw-api/Hasura/Backends/DataWrapper/API/V0/Table.hs
  server/src-lib/Hasura/Backends/DataWrapper/API.hs
  server/src-lib/Hasura/Backends/DataWrapper/Agent/Schema.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/QuerySpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/SchemaSpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0Spec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

ci: tag release v2.4.0 and v2.5.0-beta.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/bigquery: improve throwing upstream exceptions
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/Connection.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/GraphqlEngine.hs
  server/tests-hspec/Harness/Http.hs
  server/tests-hspec/Test/RunSQLSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

update changelog for v2.5.0-beta
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

server: document how to enable logging in hspec tests
  server/tests-hspec/README.md
Owners: @hasura/hge-server

CON-74-add-a-remote-schema-remote-database-radio-card-picker
  console/src/new-components/RemoteSchemaAndDbRadioCardPicker/RemoteRelRadioCardPicker.stories.tsx
  console/src/new-components/RemoteSchemaAndDbRadioCardPicker/RemoteRelRadioCardPicker.tsx
  console/src/new-components/RemoteSchemaAndDbRadioCardPicker/index.tsx
Owners: @hasura/hge-console-owners

console: fix css import for AntD Tree
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.tsx
Owners: @hasura/hge-console-owners

console: RS to RS widget UI changes
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/constants.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/handlers.mock.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgFieldTitle.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgValueForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/utils.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/types/index.ts
  console/src/new-components/Form/FieldWrapper.tsx
  console/src/new-components/Form/InputField.tsx
  console/src/new-components/Form/Select.tsx
Owners: @hasura/hge-console-owners

server: drop the dropping trigger logic while creating/recreating an event trigger
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-rsr/trigger.sql.shakespeare
  server/tests-py/validate.py
Owners: @hasura/hge-server

docs: add examples to depth limits
  docs-new/docs/graphql/cloud/security/api-limits.mdx
  docs/graphql/cloud/security/api-limits.rst
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

ci: patch base images for security updates
  packaging/graphql-engine-base/centos.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

server/gardening: rename IR insert mutation types
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/IR/Root.hs
Owners: @hasura/hge-server

docs: Docusaurus after live changes/updates/fixes
  docs-new/docusaurus.config.js
  docs-new/netlify.toml
  docs-new/sidebars.js
  docs-new/src/components/CustomDocItem/CustomDocItemWiki.tsx
  docs-new/src/theme/DocSidebar/Desktop/Content/customStyles.module.scss
  docs-new/src/theme/DocSidebar/Desktop/Content/index.js
  docs-new/src/theme/NotFound/index.js
  docs-new/wiki/index.mdx
Owners: @hasura/hge-changelog-owners

console: add RS-to-DB form widget [CON-110]
  console/src/features/MetadataAPI/__tests__/useMetadataMigration/useMetadataMigrationServerMode.test.tsx
  console/src/features/MetadataAPI/hooks/useMetadataMigration.ts
  console/src/features/MetadataAPI/types.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/handlers.mock.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/metadata.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/schema.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/__mocks__/tables.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteDatabaseWidget/RemoteDatabaseWidget.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/FormElements.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/index.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/schema.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/utils.ts
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RsSourceTypeSelector/RsSourceTypeSelector.tsx
  console/src/new-components/Form/InputField.tsx
  console/src/new-components/Form/Select.tsx
  console/src/new-components/MapSelector/MapSelector.tsx
  console/src/new-components/MapSelector/index.tsx
  console/src/new-components/Notifications/index.ts
Owners: @hasura/hge-console-owners

Add ToSchema instances to GDW API types
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Column.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Expression.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/OrderBy.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Query.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Scalar/Type.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Scalar/Value.hs
  server/src-lib/Hasura/Backends/DataWrapper/API/V0/Table.hs
  server/src-lib/Hasura/Backends/DataWrapper/Agent/Schema.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Expression.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Query.hs
  server/src-lib/Hasura/Backends/DataWrapper/IR/Scalar/Value.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/ColumnSpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/ExpressionSpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/OrderBySpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/QuerySpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/Scalar/TypeSpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/Scalar/ValueSpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0/TableSpec.hs
  server/src-test/Hasura/Backends/DataWrapper/API/V0Spec.hs
  server/src-test/Hasura/Backends/DataWrapper/Agent/SchemaSpec.hs
  server/src-test/Main.hs
  server/src-test/Test/Aeson/Utils.hs
  server/src-test/Test/Autodocodec/Extended.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

cli: fix remote schema formatting errors in metadata
  CHANGELOG.md
  cli/go.mod
  cli/go.sum
  cli/internal/metadataobject/remoteschemas/remote_schemas.go
  cli/internal/metadataobject/remoteschemas/remote_schemas_test.go
  cli/internal/metadataobject/remoteschemas/testdata/build_test/t3/metadata/remote_schemas.yaml
  cli/internal/metadataobject/remoteschemas/testdata/build_test/t3/want.golden.json
  cli/internal/metadataobject/remoteschemas/testdata/export_test/t3/want.remote_schemas.yaml
  cli/internal/metadataobject/remoteschemas/testdata/export_test/t4/metadata.json
  cli/internal/metadataobject/remoteschemas/testdata/export_test/t4/want.remote_schemas.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

console: add remote schema type selector component [CON-111]
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RsSourceTypeSelector/RsSourceTypeSelector.stories.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RsSourceTypeSelector/RsSourceTypeSelector.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RsSourceTypeSelector/index.tsx
Owners: @hasura/hge-console-owners

server: Remove unused server tests
  sample.hie.yaml
  server/graphql-engine.cabal
  server/tests/integration/Backend/Postgres.hs
  server/tests/integration/Hasura/Test/App.hs
  server/tests/integration/Hasura/Test/Requests.hs
  server/tests/integration/Main.hs
  server/tests/integration/Tests/RemoteSourceSpec.hs
  server/tests/integration/Tests/RemoteSourceSql.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: create a server test mode for PR builds
  scripts/get-version.sh
Owners: @hasura/hge-changelog-owners

console: Improved computed field comment support [CON-94]
  CHANGELOG.md
  console/src/components/Common/SelectInputSplitField/SelectInputSplitField.tsx
  console/src/components/Services/Data/Common/Components/CommentInput.tsx
  console/src/components/Services/Data/TableModify/ComputedFieldsEditor.tsx
  console/src/components/Services/Data/mergeData.ts
  console/src/dataSources/common/index.ts
  console/src/dataSources/types.ts
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  packaging/cli-migrations/v2/Dockerfile
  packaging/cli-migrations/v3/Dockerfile
  packaging/graphql-engine-base/centos.dockerfile
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Remove `class IsPerm`
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-lib/Hasura/Server/API/Query.hs
Owners: @hasura/hge-server

ci: tag release v2.5.0 and v2.6.0-beta.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: fix unexpected behaviour of waitForShutdown
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-test/Hasura/AppSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

server/ci: rework version baking, and cache dist-newstyle in CI
  scripts/dev.sh
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Hasura/Server/Version.hs
  server/tests-py/test_version.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: disable numeric underscore hlint warning
  .hlint.yaml
Owners: @hasura/hge-changelog-owners

cli: expose methods for marking and unmarking migration as applied
  cli/pkg/migrate/apply.go
  cli/pkg/migrate/project_migrate_test.go
Owners: @hasura/hge-cli-owners

console: support static scalar input types on remote schema relationships [CON-129]
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgFieldTitle.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgValueForm.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/StaticArgValue.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/utils.tsx
  console/src/features/RemoteRelationships/RemoteSchemaRelationships/types/types.ts
Owners: @hasura/hge-console-owners

support for graphql-ws is considered GA
  CHANGELOG.md
  docs-new/docs/graphql/core/databases/ms-sql-server/subscriptions/index.mdx
  docs-new/docs/graphql/core/databases/postgres/subscriptions/index.mdx
  docs/graphql/core/databases/ms-sql-server/subscriptions/index.rst
  docs/graphql/core/databases/postgres/subscriptions/index.rst
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

community: update nuxtjs-postgres-graphql sample app
  community/sample-apps/nuxtjs-postgres-graphql/apollo/clientConfig.js
  community/sample-apps/nuxtjs-postgres-graphql/apollo/queries/fetchArticle.gql
  community/sample-apps/nuxtjs-postgres-graphql/apollo/queries/fetchAuthor.gql
  community/sample-apps/nuxtjs-postgres-graphql/nuxt.config.js
  community/sample-apps/nuxtjs-postgres-graphql/package-lock.json
  community/sample-apps/nuxtjs-postgres-graphql/package.json
  community/sample-apps/nuxtjs-postgres-graphql/plugins/apollo-error-handler.js
Owners: @hasura/hge-changelog-owners

tests-hspec: use forFinally_ in teardown
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Backend/Citus.hs
  server/tests-hspec/Harness/Backend/Mysql.hs
  server/tests-hspec/Harness/Backend/Postgres.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Exceptions.hs
Owners: @hasura/hge-server

server/mssql: fix SQL generation for check constraints with relationships (fix #8225)
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/MutationResponse.hs
  server/tests-hspec/Harness/Backend/Sqlserver.hs
  server/tests-hspec/Harness/Test/BackendType.hs
  server/tests-hspec/Test/InsertCheckPermissionSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update hasura/pool to avoid a resource leak
  CHANGELOG.md
  cabal.project
Owners: @hasura/hge-changelog-owners

docs: update gridsome-postgres-graphql sample app
  community/sample-apps/gridsome-postgres-graphql/README.md
  community/sample-apps/gridsome-postgres-graphql/gridsome.config.js
  community/sample-apps/gridsome-postgres-graphql/gridsome.server.js
  community/sample-apps/gridsome-postgres-graphql/package.json
  community/sample-apps/gridsome-postgres-graphql/src/layouts/Default.vue
  community/sample-apps/gridsome-postgres-graphql/src/pages/Articles.vue
  community/sample-apps/gridsome-postgres-graphql/src/pages/Index.vue
  community/sample-apps/gridsome-postgres-graphql/yarn.lock
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
