Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

fix console expandable editor styles (#2111)
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Common/Layout/ExpandableEditor/Editor.scss
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
Owners: @rikinsk

update docs
  docs/graphql/manual/api-reference/schema-metadata-api/event-triggers.rst
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/event-triggers/create-trigger.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/event-triggers/invoke-trigger-console.rst
  docs/graphql/manual/event-triggers/manual-trigger.rst
  docs/img/graphql/manual/event-triggers/create-event-trigger-advanced-settings.png
Owners: @rikinsk

fix set column as unique bug (close #2096) (#2108)
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Owners: @rikinsk

schema sync now only processes the latest event
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Owners: @0x777

point graphql parser library to latest commit on master
  server/stack.yaml
Owners: @0x777

add query name inputs
  console/src/components/Services/Metadata/WhitelistQueries/AddWhitelistQuery.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueriesList.js
Owners: @rikinsk

schema cache sync improvements (#2098)
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Utils.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Owners: @0x777

handle both graphql endpoints for websocket transport
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @0x777

update docs
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/query-collections.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/schema/basics.rst
Owners: @rikinsk

update docs
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
Owners: @rikinsk

Incorporate rishi's feedback and add documentation
  console/src/components/Common/DataDropdown/DataDropdown.js
  console/src/components/Common/Dropdown/Dropdown.js
  console/src/components/Common/Dropdown/Dropdown.scss
  console/src/components/Services/Common/Landing/PopUp.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Common/InvokeManualTrigger/InvokeManualTrigger.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/utils.js
Owners: @rikinsk

add youtube videos
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.2-bulk-delete-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/what-next.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/YoutubeEmbed.js
Owners: @shahidhk

set query whitelisting local state
  console/src/components/Services/Metadata/WhitelistQueries/AddWhitelistQuery.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueries.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueriesList.js
Owners: @rikinsk

fix editor buttons margin
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
Owners: @rikinsk

Change Data -> data
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/utils.js
Owners: @rikinsk

update sidebar
  console/src/components/Services/Metadata/Sidebar.js
Owners: @rikinsk

update
  console/src/components/Services/Metadata/WhitelistQueries/AddWhitelistQuery.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueriesList.js
Owners: @rikinsk

updated title tags
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/rightSidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

Add backward compatibility for event_manual
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/utils.js
Owners: @rikinsk

update dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

Add comment
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
Owners: @rikinsk

update youtube mobile responsive
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/YoutubeEmbed.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
Owners: @shahidhk

graphql-tutorials: add videos to react tutorial (#2115)
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.2-bulk-delete-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/what-next.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/YoutubeEmbed.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/rightSidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Owners: @shahidhk

fix duplicate headers being sent to remote schema
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/tests-py/graphql_server.py
  server/tests-py/test_schema_stitching.py
Owners: @0x777

remove gatsby site
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/.dockerignore
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/.eslintrc.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/.gitignore
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/README.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/index.mdx
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-node.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/GithubLink.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/YoutubeEmbed.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/Header.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/NextPrevious.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/container.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/heading.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/images/github.svg
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/images/react-logo.svg
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/images/twitter.svg
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/index.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/layout.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/link.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/anchor.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/code.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/codeBlock.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/index.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/pre.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/text.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/notification.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/rightSidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/theme.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/themeProvider.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/templates/docs.js
Owners: @shahidhk

remove gatsby tutorial site
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/.dockerignore
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/.eslintrc.json
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/README.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/index.mdx
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/gatsby-node.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/Header.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/NextPrevious.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/container.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/heading.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/images/github.svg
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/images/react-logo.svg
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/images/twitter.svg
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/images/vue-logo.svg
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/index.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/layout.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/link.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/mdxComponents/code.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/mdxComponents/codeBlock.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/mdxComponents/index.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/mdxComponents/pre.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/mdxComponents/text.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/notification.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/rightSidebar.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/sidebar.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/styles.css
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/theme.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/components/themeProvider.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/config.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/html.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/templates/docs.js
Owners: @shahidhk

update twitter card image
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/config.js
Owners: @shahidhk

pre-fetch all required metadata while building schema cache, close #1430
  server/graphql-engine.cabal
  server/src-exec/Migrate.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/function_info.sql
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_13_to_14.sql
Owners: @0x777

integrate foreign key related data in table info
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_13_to_14.sql
Owners: @0x777

capture foreign keys in run sql table diff
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
Owners: @0x777

content structure setup
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/README.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/config.js
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/apollo-client.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/after-logging-in.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/boilerplate-after-login.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/boilerplate-initial-ui.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/graphiql-after-login.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/realtime-feed.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authorization.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/custom-business-logic.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-transformations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/mutations-variables.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/optimistic-update-mutations.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/optimistic-update-mutations/1-update-todos.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/optimistic-update-mutations/3.2-bulk-delete-mutation.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/queries/2-create-query.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/queries/3-handle-errors.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/realtime-feed.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/relationships.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/setup.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/subscriptions.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/subscriptions/2-apollo-subscription.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/subscriptions/3-create-subscription.md
Owners: @shahidhk

content till data model
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/config.js
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/app-deployed-heroku.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/deploy-on-heroku.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/hasura-console-initial-load.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/assets/voyager-schema.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/1-users-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/2-try-user-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/3-todos-table.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/4-try-todos-queries.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/create-table-todos.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/data-modelling/create-table-users.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/setup.md
Owners: @shahidhk

added authentication
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/1-create-auth0-app.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/2-custom-jwt-claims-rule.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/3-setup-env-vars-hasura.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/create-auth0-app.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/custom-jwt-claims-rule.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/generate-jwt-config.png
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/heroku-env-vars.png
Owners: @shahidhk

update dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

update dockerfile
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/Dockerfile
Owners: @shahidhk

fix tests
  server/tests-py/graphql_server.py
  server/tests-py/test_schema_stitching.py
Owners: @0x777

update dockerfile
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

filter uservars from client headers
  server/src-lib/Hasura/GraphQL/Execute.hs
Owners: @0x777

Console new design react table update
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/UI/CheckBox/CheckBox.js
  console/src/components/UI/CheckBox/CheckBox.scss
  console/src/components/UI/RadioBtn/RadioBtn.js
  console/src/components/UI/RadioBtn/RadioBtn.scss
  console/src/components/UI/SelectOption/SelectOption.js
  console/src/components/UI/SelectOption/SelectOption.scss
  console/src/components/UI/SelectOption/images/expand_more.svg
  console/src/components/UI/UITest/UITest.js
Owners: @rikinsk

Event triggers update
  console/src/components/Common/Dropdown/Dropdown.scss
Owners: @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk
