Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

bump python test suite dependencies
  .circleci/server-upgrade-downgrade/run.sh
  scripts/dev.sh
  server/benchmarks/benchmark_sets/remote_schema/graphql_server/graphql_server.py
  server/tests-py/conftest.py
  server/tests-py/graphql_server.py
  server/tests-py/requirements.txt
  server/tests-py/test_compression.py
  server/tests-py/test_graphql_introspection.py
  server/tests-py/test_horizontal_scale.py
  server/tests-py/test_inconsistent_meta.py
  server/tests-py/test_jwt.py
  server/tests-py/test_jwt_claims_map.py
  server/tests-py/test_pg_dump.py
  server/tests-py/test_schema_stitching.py
  server/tests-py/test_subscriptions.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: create a hook for each loadShema sql queries
  console/.storybook/preview-body.html
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/mergeData.ts
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useMetadataTableComputedFields.ts
  console/src/features/MetadataAPI/hooks/useMetadataTablePermissions.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/PermissionsTable/hooks/usePermissions.tsx
  console/src/hooks/common.ts
  console/src/hooks/index.ts
  console/src/hooks/stories/useDataSourceCheckConstraints.component.tsx
  console/src/hooks/stories/useDataSourceCheckConstraints.stories.tsx
  console/src/hooks/stories/useDataSourceFKRelationships.component.tsx
  console/src/hooks/stories/useDataSourceFKRelationships.stories.tsx
  console/src/hooks/stories/useDataSourcePrimaryKeys.component.tsx
  console/src/hooks/stories/useDataSourcePrimaryKeys.stories.tsx
  console/src/hooks/stories/useDataSourceTables.component.tsx
  console/src/hooks/stories/useDataSourceTables.stories.tsx
  console/src/hooks/stories/useDataSourceUniqueKeys.component.tsx
  console/src/hooks/stories/useDataSourceUniqueKeys.stories.tsx
  console/src/hooks/stories/useSingleTable.component.tsx
  console/src/hooks/stories/useSingleTable.stories.tsx
  console/src/hooks/stories/useTableCheckConstraints.component.tsx
  console/src/hooks/stories/useTableCheckConstraints.stories.tsx
  console/src/hooks/stories/useTableFKRelationships.component.tsx
  console/src/hooks/stories/useTableFKRelationships.stories.tsx
  console/src/hooks/stories/useTablePrimaryKey.component.tsx
  console/src/hooks/stories/useTablePrimaryKey.stories.tsx
  console/src/hooks/stories/useTableUniqueKeys.component.tsx
  console/src/hooks/stories/useTableUniqueKeys.stories.tsx
  console/src/hooks/types.ts
  console/src/hooks/useCheckConstraints.ts
  console/src/hooks/useFKRelationships.ts
  console/src/hooks/useFunctions.ts
  console/src/hooks/usePrimaryKeys.ts
  console/src/hooks/useSchemaList.ts
  console/src/hooks/useTables.ts
  console/src/hooks/useUniqueKeys.ts
  console/src/storybook/decorators/react-query.tsx
Owners: @hasura/hge-console-owners

cli: fix `migrate create` command behaviour when no data provided
  CHANGELOG.md
  cli/commands/migrate_create.go
  cli/commands/migrate_create_test.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

cloud docs: remove unmaintained redundant changelog
  docs/graphql/cloud/changelog.rst
  docs/graphql/cloud/index.rst
Owners: @hasura/hge-docs-owners

docs: add Koyeb as a deployment option
  docs/graphql/core/deployment/deployment-guides/index.rst
  docs/graphql/core/deployment/deployment-guides/koyeb.rst
  docs/img/graphql/core/deployment/koyeb-hasura-app-creation.png
  docs/img/graphql/core/deployment/koyeb-hasura-service.png
Owners: @hasura/hge-docs-owners

Fixed GQL aliases not being respected in the OpenAPI schema
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Analyse.hs
  server/tests-py/queries/openapi/openapi_endpoint_with_aliases.yaml
  server/tests-py/queries/openapi/setup.yaml
  server/tests-py/test_openapi.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: clarify server console in migrations guide
  docs/graphql/core/migrations/migrations-setup.rst
Owners: @hasura/hge-docs-owners

server: mssql transactions: rearrange, export less, improve docs, hlint
  .hlint.yaml
  server/src-lib/Database/MSSQL/Transaction.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: fix building kriti-lang by using a branch fix
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

server: use placeholder to prevent empty query roots
  CHANGELOG.md
  cli/internal/hasura/v1graphql/testdata/latest.golden
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/tests-py/queries/graphql_query/basic/select_placeholder_err.yaml
  server/tests-py/queries/graphql_query/empty/select_placeholder.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-server

distinct_on for BigQuery
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/tests-py/queries/graphql_query/bigquery/agg_nodes.yaml
  server/tests-py/queries/graphql_query/bigquery/basic_remote_joins.yaml
  server/tests-py/queries/graphql_query/bigquery/distinct_on.yaml
  server/tests-py/queries/graphql_query/bigquery/nested_array_relationships.yaml
  server/tests-py/queries/graphql_query/bigquery/nested_select_query_article_author.yaml
  server/tests-py/queries/graphql_query/bigquery/schema_setup_bigquery.yaml
  server/tests-py/queries/graphql_query/bigquery/select_query_batching.yaml
  server/tests-py/queries/graphql_query/bigquery/select_query_nested_fragment.yaml
  server/tests-py/queries/graphql_query/bigquery/select_query_top_level_fragment.yaml
  server/tests-py/queries/graphql_query/bigquery/user_perms.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update Azure doc with JWT set up steps (fix #5413)
  docs/graphql/core/auth/authentication/jwt.rst
  docs/graphql/core/deployment/deployment-guides/azure-container-instances-postgres.rst
Owners: @hasura/hge-docs-owners

server/postgres: LIMIT 1 on object relationships
  .circleci/server-upgrade-downgrade/run.sh
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/tests-hspec/Test/ObjectRelationshipsLimitSpec.hs
  server/tests-py/queries/explain/limit_offset_orderby_relationship_query.yaml
  server/tests-py/queries/explain/limit_orderby_relationship_query.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: radio input should auto-select on insert and edit row form
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
Owners: @hasura/hge-console-owners

Fixes env var error reporting in Webhook Debug Endpoint
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs/mssql: add update and update index
  docs/graphql/core/databases/ms-sql-server/index.rst
  docs/graphql/core/databases/ms-sql-server/mutations/index.rst
  docs/graphql/core/databases/ms-sql-server/mutations/update.rst
Owners: @hasura/hge-docs-owners

console: update graphiql height and remove extra scrollbars
  console/src/components/Common/Common.scss
  console/src/components/Services/ApiExplorer/ApiExplorer.scss
Owners: @hasura/hge-console-owners

server, pro: add support for per-role allowlists
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/query-collections.rst
  docs/graphql/core/api-reference/syntax-defs.rst
  docs/graphql/core/deployment/allow-list.rst
  server/graphql-engine.cabal
  server/src-lib/Data/HashMap/Strict/InsOrd/Extended.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Allowlist.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-test/Hasura/RQL/Types/AllowlistSpec.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
  server/src-test/Main.hs
  server/tests-py/queries/graphql_query/allowlist/setup.yaml
  server/tests-py/queries/graphql_query/allowlist_role_based/setup.yaml
  server/tests-py/queries/graphql_query/allowlist_role_based/teardown.yaml
  server/tests-py/test_allowlist_queries.py
  server/tests-py/test_horizontal_scale.py
  server/tests-py/validate.py
  server/tests/integration/Hasura/Test/App.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

docs: initial docs for vercel integration
  docs/graphql/cloud/projects/create.rst
  docs/graphql/cloud/projects/index.rst
  docs/graphql/cloud/projects/vercel-integration.rst
  docs/img/graphql/cloud/integrations/vercel/add-integration-button.png
  docs/img/graphql/cloud/integrations/vercel/environment-variables.png
  docs/img/graphql/cloud/integrations/vercel/finish-setup-button.png
  docs/img/graphql/cloud/integrations/vercel/hasura-vercel-integration.png
  docs/img/graphql/cloud/integrations/vercel/hasura-vercel.png
  docs/img/graphql/cloud/integrations/vercel/install-integration.png
  docs/img/graphql/cloud/integrations/vercel/integration-complete.png
  docs/img/graphql/cloud/integrations/vercel/integration-tab.png
  docs/img/graphql/cloud/integrations/vercel/manage-access-button.png
  docs/img/graphql/cloud/integrations/vercel/manage-access-projects.png
  docs/img/graphql/cloud/integrations/vercel/manage-access-vercel.png
  docs/img/graphql/cloud/integrations/vercel/remove-integration.png
  docs/img/graphql/cloud/integrations/vercel/selected-projects.png
  docs/img/graphql/cloud/integrations/vercel/setup-progress.png
  docs/img/graphql/cloud/integrations/vercel/vercel-account-scope.png
  docs/img/graphql/cloud/integrations/vercel/vercel-tag-project.png
  docs/img/graphql/cloud/integrations/vercel/visit-console.png
Owners: @hasura/hge-docs-owners

BigQuery hspec tests
  scripts/bigquery.sh
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/Connection.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Meta.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
  server/tests-hspec/Harness/Backend/BigQuery.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/Env.hs
  server/tests-hspec/Harness/Quoter/Yaml.hs
  server/tests-hspec/Harness/Test/Feature.hs
  server/tests-hspec/Test/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/BasicFieldsSpec.hs
  server/tests-hspec/Test/DirectivesSpec.hs
  server/tests-hspec/Test/HelloWorldSpec.hs
  server/tests-hspec/Test/LimitOffsetSpec.hs
  server/tests-hspec/Test/NestedRelationshipsSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsLimitSpec.hs
  server/tests-hspec/Test/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/OrderingSpec.hs
  server/tests-hspec/Test/ViewsSpec.hs
  server/tests-hspec/Test/WhereSpec.hs
  server/tests-py/queries/graphql_query/bigquery/schema_setup_bigquery.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: fix custom field names sort (fix #7974, #8021)
  CHANGELOG.md
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

console: add select component
  console/src/new-components/Form/Select.stories.tsx
  console/src/new-components/Form/Select.tsx
  console/src/new-components/Form/index.ts
Owners: @hasura/hge-console-owners

docs: edit the caddy file to exclude websocket on digital-ocean-one-click page
  docs/graphql/core/deployment/deployment-guides/digital-ocean-one-click.rst
Owners: @hasura/hge-docs-owners

console: add remote database relationships
  CHANGELOG.md
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/AddManualRelationship.tsx
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/ManualRelationshipSelector.js
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/RemoteDbRelationships.tsx
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/RemoteRelCollapsedLabel.tsx
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/__tests__/__snapshots__/utils.test.ts.snap
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/__tests__/fixtures/input.ts
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/__tests__/utils.test.ts
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/state.ts
  console/src/components/Services/Data/TableRelationships/RemoteDbRelationships/utils.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/types.ts
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useMetadataTables.ts
  console/src/features/MetadataAPI/stories/useTable.stories.tsx
  console/src/features/SqlQueries/datasources/bigquery.ts
  console/src/features/SqlQueries/datasources/mssql.ts
  console/src/features/SqlQueries/hooks/stories/useTableColumns.stories.tsx
  console/src/features/SqlQueries/hooks/useTableColumns.ts
  console/src/metadata/queryUtils.ts
  console/src/metadata/types.ts
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

cli: improve handling of wrapped errors in migrate operations
  cli/commands/migrate_apply.go
Owners: @hasura/hge-cli-owners

docs: Updating port for using HTTPS in NGINX on Enable HTTPS page
  docs/graphql/core/deployment/enable-https.rst
Owners: @hasura/hge-docs-owners

docs: Capitalize URLs on the read replicas page
  docs/graphql/cloud/read-replicas.rst
Owners: @hasura/hge-docs-owners

console: enable support for insert & delete permissions for mssql
  CHANGELOG.md
  console/src/dataSources/services/mssql/index.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: report duplicate entries in metadata lists using ToTxt instead of Show
  server/src-lib/Hasura/RQL/Types/Metadata.hs
Owners: @hasura/hge-server

console: enable support for update permissions for mssql
  CHANGELOG.md
  console/src/dataSources/services/mssql/index.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

Add a tip on how to benchmark a query on postgres
  server/documentation/tips.md
Owners: @hasura/hge-server

console: Implement a relationship table component
  console/.storybook/preview-body.html
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/utils.ts
  console/src/features/RelationshipsTable/RelationshipsTable.stories.tsx
  console/src/features/RelationshipsTable/RelationshipsTable.tsx
  console/src/features/RelationshipsTable/__tests__/__snapshots__/utils.test.ts.snap
  console/src/features/RelationshipsTable/__tests__/utils.test.ts
  console/src/features/RelationshipsTable/components/ModifyActions.tsx
  console/src/features/RelationshipsTable/components/NameColumnCell.tsx
  console/src/features/RelationshipsTable/components/RelationshipDestinationCell.tsx
  console/src/features/RelationshipsTable/components/RelationshipSourceCell.tsx
  console/src/features/RelationshipsTable/components/SourceColumnCell.tsx
  console/src/features/RelationshipsTable/components/TableCell.tsx
  console/src/features/RelationshipsTable/components/ToRsCell.tsx
  console/src/features/RelationshipsTable/index.ts
  console/src/features/RelationshipsTable/types.ts
  console/src/features/RelationshipsTable/utils.ts
  console/src/new-components/CardedTable/CardedTable.tsx
Owners: @hasura/hge-console-owners

Build schema cache for relationships from remote schemas
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/Relationships/ToSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Owners: @hasura/hge-server

server: validate REST endpoint queries after metadata change
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/tests-py/queries/endpoints/endpoint_duplicate_param.yaml
  server/tests-py/queries/endpoints/endpoint_empty_path_param.yaml
  server/tests-py/queries/endpoints/endpoint_empty_path_segment.yaml
  server/tests-py/queries/endpoints/endpoint_query_validation.yaml
  server/tests-py/queries/endpoints/endpoint_subscription.yaml
  server/tests-py/queries/endpoints/endpoint_trailing_slash.yaml
  server/tests-py/queries/endpoints/setup.yaml
  server/tests-py/test_endpoints.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hasura/hge-changelog-owners

Fixes 'Harness.Quoter' link typo
  server/tests-hspec/README.md
Owners: @hasura/hge-server

Make `optimize_permission_filters` an `--experimental-features` flag
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Types.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests/integration/Hasura/Test/App.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: Add missing image on the Azure container instances page
  docs/graphql/core/deployment/deployment-guides/azure-container-instances-postgres.rst
  docs/img/graphql/core/deployment/deploybutton.png
Owners: @hasura/hge-docs-owners

haskell: remove outdated dependencies from cabal.project.freeze
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

Deploy server documentation to github page in CI
  scripts/extract-notes.sh
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server
