Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Create a Docker image specifically for running the Python tests.
  .circleci/test-server.sh
  .dockerignore
Owners: @hasura/hge-changelog-owners

Docs: update contributing guide
  docs/wiki/contributions.mdx
Owners: @hasura/hge-docs-owners

Streaming sub architecture post updates
  architecture/streaming-subscriptions.md
Owners: @hasura/hge-changelog-owners

`get_source_tables` API call, don't fold table names.
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/tests-hspec/Test/DataConnector/MetadataApiSpec.hs
Owners: @hasura/hge-server

Improve error reporting by tracking more Metadata origins
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Postgres.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/tests-py/queries/schema/duplication/create_action_and_track_table_fail.yaml
  server/tests-py/queries/schema/duplication/track_table_and_create_action_fail.yaml
  server/tests-py/queries/schema/duplication/track_table_with_conflicting_custom_root_node_names_fail.yaml
  server/tests-py/queries/v1/set_table_configuration/fail_conflicting_custom_table_name.yaml
  server/tests-py/validate.py
Owners: @hasura/hge-server

server: codecs for TableMetadata, FunctionMetadata, and permissions
  server/graphql-engine.cabal
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Data/HashMap/Strict/InsOrd/Autodocodec.hs
  server/src-lib/Hasura/Metadata/DTO/Utils.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/Server/MetadataOpenAPI.hs
  server/src-lib/Hasura/Session.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
Owners: @hasura/hge-server

Use a different reader context for sources and remote schemas with new SchemaT monad.
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Postgres.hs
  server/src-lib/Hasura/GraphQL/Schema/Relay.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/GraphQL/Schema/RemoteRelationship.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteTest.hs
  server/src-test/Test/Parser/Expectation.hs
  server/src-test/Test/Parser/Internal.hs
  server/src-test/Test/Parser/Monad.hs
Owners: @hasura/hge-server

tooling: bump .nvmrc version to 16
  .nvmrc
Owners: @hasura/hge-changelog-owners

console: add allow list management hooks
  console/src/features/AllowLists/hooks/AllowListPermissions/useEnabledRolesFromAllowList.stories.tsx
  console/src/features/AllowLists/hooks/useAddToAllowList/index.ts
  console/src/features/AllowLists/hooks/useAddToAllowList/mocks/handlers.mock.ts
  console/src/features/AllowLists/hooks/useAddToAllowList/useAddToAllowList.stories.tsx
  console/src/features/AllowLists/hooks/useAddToAllowList/useAddToAllowList.test.ts
  console/src/features/AllowLists/hooks/useAddToAllowList/useAddToAllowList.ts
  console/src/features/AllowLists/hooks/useRemoveFromAllowList/index.ts
  console/src/features/AllowLists/hooks/useRemoveFromAllowList/mocks/handlers.mock.ts
  console/src/features/AllowLists/hooks/useRemoveFromAllowList/useRemoveFromAllowList.stories.tsx
  console/src/features/AllowLists/hooks/useRemoveFromAllowList/useRemoveFromAllowList.test.ts
  console/src/features/AllowLists/hooks/useRemoveFromAllowList/useRemoveFromAllowList.ts
  console/src/features/AllowLists/index.ts
  console/src/features/QueryCollections/QueryCollectionHeader/QueryCollectionHeader.stories.tsx
  console/src/features/QueryCollections/QueryCollectionHeader/QueryCollectionHeader.tsx
  console/src/features/QueryCollections/QueryCollectionHeader/QueryCollectionRenameDialog.tsx
  console/src/features/QueryCollections/QueryCollectionHeader/index.ts
  console/src/features/QueryCollections/hooks/useQueryCollections/mocks/handlers.mock.ts
Owners: @hasura/hge-console-owners

tests: add CockroachDB hspec tests
  scripts/make/ghcid.mk
  server/tests-hspec/Test/Postgres/DefaultValuesSpec.hs
  server/tests-hspec/Test/Queries/Simple/NoQueriesAvailableSpec.hs
  server/tests-hspec/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/tests-hspec/Test/Queries/Simple/OperationNameSpec.hs
  server/tests-hspec/Test/Queries/Simple/PrimaryKeySpec.hs
  server/tests-hspec/Test/Schema/CustomFieldNames/MutationSpec.hs
  server/tests-hspec/Test/Schema/CustomFieldNames/QuerySpec.hs
  server/tests-hspec/Test/Schema/EnumSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ArrayRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/TableRelationships/ObjectRelationshipsSpec.hs
  server/tests-hspec/Test/Schema/ViewsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: update wget and curl for ee from beta to stable
  docs/docs/enterprise/getting-started/quickstart-aws-ecs.mdx
  docs/docs/enterprise/getting-started/quickstart-docker.mdx
  docs/docs/enterprise/getting-started/quickstart-google-cloud-run.mdx
  docs/docs/enterprise/getting-started/quickstart-kubernetes.mdx
Owners: @hasura/hge-docs-owners

docs: add description of environment name project setting
  docs/docs/projects/details.mdx
  docs/static/img/projects/project-adding-environment-name.png
  docs/static/img/projects/project-environment-name-console.png
Owners: @hasura/hge-docs-owners

console: allow editing comments on views (fix #8846)
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/dataSources/index.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/mysql/index.tsx
  console/src/dataSources/services/mysql/sqlUtils.ts
  console/src/dataSources/services/postgresql/__tests__/__snapshots__/postgresql.test.ts.snap
  console/src/dataSources/services/postgresql/__tests__/postgresql.test.ts
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

console: fixed missaligned tooltips on permissions page
  console/src/components/Services/Data/TablePermissions/Permissions.js
Owners: @hasura/hge-console-owners

console: add Hasura familiarity survey component
  console/src/features/Surveys/HasuraFamiliaritySurvey.stories.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/index.ts
  console/src/new-components/IconCardGroup/IconCardGroup.stories.tsx
  console/src/new-components/IconCardGroup/IconCardGroup.tsx
  console/src/new-components/IconCardGroup/index.tsx
Owners: @hasura/hge-console-owners

SQLite Data Connectors HSpec Tests - GDW-183
  docker-compose.yml
  scripts/make/test-infrastructure.mk
  server/tests-hspec/Harness/Backend/DataConnector.hs
  server/tests-hspec/Harness/Test/BackendType.hs
  server/tests-hspec/Harness/Test/SchemaName.hs
  server/tests-hspec/Harness/Yaml.hs
  server/tests-hspec/Test/DataConnector/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MetadataApiSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/BasicQuerySpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/tests-hspec/Test/DataConnector/MockAgent/TransformedConfigurationSpec.hs
  server/tests-hspec/Test/DataConnector/QuerySpec.hs
  server/tests-hspec/Test/DataConnector/SelectPermissionsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Extract Hasura.Prelude from `src-lib`
  server/graphql-engine.cabal
  server/lib/hasura-prelude/hasura-prelude.cabal
  server/lib/hasura-prelude/src/Data/Time/Clock/Units.hs
  server/lib/hasura-prelude/src/Hasura/Prelude.hs
Owners: @hasura/hge-server

server: prune health check from codecs for backends that don't support it
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/HealthCheck.hs
  server/src-lib/Hasura/RQL/Types/HealthCheckImplementation.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
Owners: @hasura/hge-server

console: fix is_generated column handling
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/dataSources/services/postgresql/index.tsx
Owners: @hasura/hge-console-owners

console: use query/v2 endpoint to run sql for CockroachDB
  console/src/components/Services/Data/Common/getMigrateUrl.ts
Owners: @hasura/hge-console-owners

Adds `configSchema` to `get_source_kind_capabilities`
  server/src-lib/Hasura/RQL/DDL/SourceKinds.hs
  server/tests-hspec/Test/DataConnector/MetadataApiSpec.hs
Owners: @hasura/hge-server

console: improve is_generated types
  console/src/dataSources/services/postgresql/index.tsx
Owners: @hasura/hge-console-owners

Add --dry-run switch to graphql-engine:test:tests-dc-api [GDW-338]
  server/tests-dc-api/Command.hs
  server/tests-dc-api/Main.hs
Owners: @hasura/hge-server

server, pro: event trigger auto cleanup (increment 3)
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Eventing/Common.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-test/Hasura/EventTriggerCleanupSuite.hs
  server/src-test/Hasura/Server/MigrateSuite.hs
  server/src-test/Main.hs
Owners: @hasura/hge-server

PLAT-75: Log uncompressed_response_size
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Logging.hs
Owners: @hasura/hge-server

Prepare PostgreSQL for running tests in parallel.
  docker-compose.yml
  server/tests-py/docker-compose.yml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: New What's New Section
  docs/docusaurus.config.js
Owners: @hasura/hge-docs-owners

server, pro server, console: provide an option to not include rows count while fetching scheduled events
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Events/Common/Components/EventsTable.tsx
  console/src/components/Services/Events/Common/Components/InvocationLogsTable.tsx
  console/src/metadata/queryUtils.ts
  console/src/new-components/PaginationWithOnlyNav/PaginationWithOnlyNav.tsx
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/Server/SchemaCacheRef.hs
Owners: @hasura/hge-console-owners, @hasura/hge-server

Tidy up the .envrc file a little.
  .envrc.local.example
Owners: @hasura/hge-changelog-owners

Extract out functions from `columnParser` in `Backend`.
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
Owners: @hasura/hge-server

Guides - Best Practices for Production Environments
  docs/docs/guides/best-practices-for-production/index.mdx
  docs/docs/guides/best-practices-for-production/observability.mdx.wip
  docs/docs/guides/best-practices-for-production/performance.mdx.wip
  docs/docs/guides/best-practices-for-production/security.mdx
  docs/docs/guides/index.mdx
  docs/static/img/guides/best-practices-security-apihasura-diagram.png
Owners: @hasura/hge-docs-owners

server: use metadata DB ID as ProjectID for EE lite projects
  server/src-lib/Hasura/Logging.hs
Owners: @hasura/hge-server

Data connector cache invalidations
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Incremental.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-lib/Hasura/Incremental/Select.hs
  server/src-lib/Hasura/RQL/DDL/DataConnector.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/SQL/BackendMap.hs
  server/src-lib/Hasura/SQL/Tag.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add data-trackid to actions, events and remote schema create journeys
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.tsx
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Sidebar/LeftSidebar.js
  console/src/components/Services/Events/AdhocEvents/Add/Add.tsx
  console/src/components/Services/Events/CronTriggers/Add/index.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/Sidebar.tsx
  console/src/components/Services/RemoteSchema/RemoteSchemaSubSidebar.js
  console/src/features/RemoteSchema/components/Create/Create.tsx
Owners: @hasura/hge-console-owners

server/tests-py: Add a `--hge-bin` argument to the Pytest runner.
  server/tests-py/conftest.py
  server/tests-py/docker-compose.yml
  server/tests-py/fixtures/hge.py
  server/tests-py/run-new.sh
  server/tests-py/test_config_api.py
Owners: @hasura/hge-server

Docs: Update CLI docs
  cli/commands/docs.go
  docs/docs/hasura-cli/commands/hasura.mdx
  docs/docs/hasura-cli/commands/hasura_actions.mdx
  docs/docs/hasura-cli/commands/hasura_actions_codegen.mdx
  docs/docs/hasura-cli/commands/hasura_actions_create.mdx
  docs/docs/hasura-cli/commands/hasura_actions_use-codegen.mdx
  docs/docs/hasura-cli/commands/hasura_completion.mdx
  docs/docs/hasura-cli/commands/hasura_console.mdx
  docs/docs/hasura-cli/commands/hasura_deploy.mdx
  docs/docs/hasura-cli/commands/hasura_init.mdx
  docs/docs/hasura-cli/commands/hasura_metadata.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_apply.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_clear.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_diff.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_export.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_inconsistency.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_inconsistency_drop.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_inconsistency_list.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_inconsistency_status.mdx
  docs/docs/hasura-cli/commands/hasura_metadata_reload.mdx
  docs/docs/hasura-cli/commands/hasura_migrate.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_apply.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_create.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_delete.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_squash.mdx
  docs/docs/hasura-cli/commands/hasura_migrate_status.mdx
  docs/docs/hasura-cli/commands/hasura_plugins.mdx
  docs/docs/hasura-cli/commands/hasura_plugins_install.mdx
  docs/docs/hasura-cli/commands/hasura_plugins_list.mdx
  docs/docs/hasura-cli/commands/hasura_plugins_uninstall.mdx
  docs/docs/hasura-cli/commands/hasura_plugins_upgrade.mdx
  docs/docs/hasura-cli/commands/hasura_scripts.mdx
  docs/docs/hasura-cli/commands/hasura_scripts_update-project-v2.mdx
  docs/docs/hasura-cli/commands/hasura_scripts_update-project-v3.mdx
  docs/docs/hasura-cli/commands/hasura_seed.mdx
  docs/docs/hasura-cli/commands/hasura_seed_apply.mdx
  docs/docs/hasura-cli/commands/hasura_seed_create.mdx
  docs/docs/hasura-cli/commands/hasura_update-cli.mdx
  docs/docs/hasura-cli/commands/hasura_version.mdx
  docs/docs/hasura-cli/commands/index.mdx
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners

CI Support for Data Connector Agent Tests - GDW-336
  dc-agents/sqlite/src/schema.ts
  docker-compose.yml
  server/tests-dc-api/Command.hs
  server/tests-dc-api/Main.hs
  server/tests-hspec/Harness/Test/BackendType.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Demand Python 3.9 to run the server's Python integration tests.
  scripts/dev.sh
Owners: @hasura/hge-changelog-owners

RMGetSourceKindCapabilities doesn't modify metadata
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

CI Tests for Data Connectors SDK - GDW-91
  dc-agents/sdk/docker-compose.yaml
  dc-agents/sdk/metadata/metadata-api.json
Owners: @hasura/hge-changelog-owners
