Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

ci: release v2.33.2
  releases/v2.33.2
Owners: @hasura/hge-changelog-owners

ci: release v2.33.2-ce
  releases/v2.33.2-ce
Owners: @hasura/hge-changelog-owners

MongoDB: Logical Model Collection Name Prepend
  frontend/docker/DataSources/mongo/embedded_movies.json
  frontend/docker/DataSources/mongo/init.js
  frontend/docker/DataSources/mongo/movies.json
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/MongoTrackCollectionModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/utils/inferLogicalModel.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/MongoTrackCollection/utils/inferLogicalModel.ts
Owners: @hasura/hge-changelog-owners

fix memory leaks in EE related to schema registry
  server/src-lib/Hasura/GraphQL/Schema.hs
Owners: @hasura/hge-server

Update documentation for main.
  server/haddock/main/src/Hasura.GraphQL.Schema.html
  server/notes/function-permissions.md
Owners: @hasura/hge-server

ci: tag release v2.34.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.34.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.34.0-beta.1
  releases/v2.34.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.34.0-beta.1-ce
  releases/v2.34.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.34.0-beta.1-cloud.1
  releases/v2.34.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

feat: enable insert row new ui for all data sources
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/mssql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/ManageTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/getTableColumns.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getTableColumns.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowFormContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
Owners: @hasura/hge-changelog-owners

Revert "fix: Apply naming conventions in more places"
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/NamingConventionsSpec.hs
  server/lib/test-harness/src/Harness/Services/GraphqlEngine/API.hs
  server/lib/test-harness/src/Harness/Services/Source/Postgres.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/src-lib/Hasura/Table/Cache.hs
Owners: @hasura/hge-server

server: BigQuery: Add support for `_like` within permissions.
  server/src-lib/Hasura/Backends/BigQuery/DDL/BoolExp.hs
Owners: @hasura/hge-server

ci: tag release v2.33.3
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.33.3
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.33.3
  releases/v2.33.3
Owners: @hasura/hge-changelog-owners

ci: release v2.33.3-ce
  releases/v2.33.3-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.33.3-cloud.1
  releases/v2.33.3-cloud.1
Owners: @hasura/hge-changelog-owners

server: fix event trigger fetch interval regression
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

server: fix event trigger fetch interval regression (cherry-pick)
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

Add schema post and deprecate get
  dc-agents/DOCUMENTATION.md
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/index.ts
  dc-agents/dc-api-types/src/models/Capabilities.ts
  dc-agents/dc-api-types/src/models/PostSchemaCapabilities.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/capabilities.ts
  dc-agents/reference/src/index.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/capabilities.ts
  dc-agents/sqlite/src/index.ts
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/lib/dc-api/test/Main.hs
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Reference.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Agent/Client.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add schema post and deprecate get
  dc-agents/DOCUMENTATION.md
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/index.ts
  dc-agents/dc-api-types/src/models/Capabilities.ts
  dc-agents/dc-api-types/src/models/PostSchemaCapabilities.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/capabilities.ts
  dc-agents/reference/src/index.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/capabilities.ts
  dc-agents/sqlite/src/index.ts
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/lib/dc-api/test/Main.hs
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Reference.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Agent/Client.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.33.4
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.33.4
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.33.4
  releases/v2.33.0
  releases/v2.33.1
  releases/v2.33.2
  releases/v2.33.3
  releases/v2.33.4
Owners: @hasura/hge-changelog-owners

ci: release v2.33.4-cloud.1
  releases/v2.33.0-cloud.1
  releases/v2.33.3-cloud.1
  releases/v2.33.4-cloud.1
Owners: @hasura/hge-changelog-owners

ci: release v2.33.4-ce
  releases/v2.33.0-ce
  releases/v2.33.1-ce
  releases/v2.33.2-ce
  releases/v2.33.3-ce
  releases/v2.33.4-ce
Owners: @hasura/hge-changelog-owners

docs: add glboal_select_limit to bq
  docs/docs/api-reference/syntax-defs.mdx
Owners: @hasura/hge-docs-owners

docs: hotfix backprot to resolve modified links
  docs/docs/schema/mongodb/logical-models.mdx
  docs/docs/schema/snowflake/logical-models.mdx
  docs/docs/schema/snowflake/native-queries.mdx
Owners: @hasura/hge-docs-owners

console: add model count summary page
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataPageContainer.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataRouter.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/ModelSummary/ModelSummary.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/ModelSummary/ModelSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/ModelSummary/ModelSummaryContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/ModelSummary/index.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/ModelSummary/useModelCountSummary.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/constants.tsx
Owners: @hasura/hge-changelog-owners

console: Schema Registry new pagination logic
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/README.md
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaChangeList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaRegistryList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetURLSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetV2Info.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/schema-registry-graphql-codegen.yml
Owners: @hasura/hge-changelog-owners

Change url for EE Trials contact us form
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/constants.ts
Owners: @hasura/hge-changelog-owners

console: schema registry server changes cherry pick 2.33
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/README.md
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaChangeList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaRegistryList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetURLSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetV2Info.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/schema-registry-graphql-codegen.yml
Owners: @hasura/hge-changelog-owners

console: schema registry server changes cherry pick 2.32
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/README.md
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaChangeList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaRegistryList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetURLSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetV2Info.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/schema-registry-graphql-codegen.yml
Owners: @hasura/hge-changelog-owners

console: schema registry server changes cherry pick 2.31
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/README.md
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaChangeList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaRegistryList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetURLSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetV2Info.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
  frontend/package.json
  frontend/schema-registry-graphql-codegen.yml
Owners: @hasura/hge-changelog-owners

docs: add snowflake feature matrix and fix mysql tables
  docs/docs/databases/mysql/index.mdx
  docs/docs/databases/snowflake/index.mdx
Owners: @hasura/hge-docs-owners

Update Connector plugin docs
  docs/docs/hasura-cli/connector-plugin/commands/connector.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_create.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_delete.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_generate-configuration.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_list.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_logs.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_status.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_version.mdx
Owners: @hasura/hge-docs-owners

docs: mention disable CORS environment variable in config-examples.mdx
  docs/docs/deployment/graphql-engine-flags/config-examples.mdx
Owners: @hasura/hge-docs-owners

server: Update BigQuery tests to react to a change in error messages.
  server/lib/api-tests/src/Test/API/Schema/RunSQLSpec.hs
Owners: @hasura/hge-server

docs: mention disable CORS environment variable in config-examples.mdx
  docs/docs/deployment/graphql-engine-flags/config-examples.mdx
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
