Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

build: fix vulnerabilities in main for the upcoming v2.30 release
  packaging/cli-migrations/v2/Dockerfile
  packaging/cli-migrations/v3/Dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

chore(server): tidy logimo permissions
  server/src-lib/Hasura/LogicalModel/Schema.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/StoredProcedure/Schema.hs
Owners: @hasura/hge-server

Added MySQL and Oracle Dbs to the pricing table
  docs/docs/hasura-cloud/plans.mdx
Owners: @hasura/hge-docs-owners

ci: tag release v2.30.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console (chore): update `octokit` version
  frontend/libs/nx/internal-plugin/src/executors/chromatic/executor.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

Create testing
  community/boilerplates/event-triggers/google-cloud-functions/nodejs8/testing
Owners: @hasura/hge-changelog-owners

server: add `upstream_execution_time` to http-log
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/Server/Logging.hs
Owners: @hasura/hge-server

feat: replacement of the legacy rest endpoint details page with the new one
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Form/RestEndpointForm.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Form/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/RequestHeaders.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/RestEndpointDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/RestEndpointDetailsPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/Variables.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/hooks/useRestEndpointRequest.ts
  frontend/libs/console/legacy-ce/src/lib/routes.js
  frontend/libs/console/legacy-ee/src/lib/routes.js
Owners: @hasura/hge-changelog-owners

Add `*_drop_relationship` to `bulk_atomic`
  server/lib/api-tests/src/Test/API/Metadata/BulkAtomicSpec.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

revert "server: add `upstream_execution_time` to http-log"
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/Server/Logging.hs
Owners: @hasura/hge-server

server: add log line for Event Trigger timeout errors
  server/src-lib/Hasura/Eventing/EventTrigger.hs
Owners: @hasura/hge-server

Support remote relationship deletion in `bulk_atomic`
  server/lib/api-tests/src/Test/API/Metadata/BulkAtomicSpec.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

Update computed-fields.mdx
  docs/docs/schema/postgres/computed-fields.mdx
Owners: @hasura/hge-docs-owners

docs: update computed-fields.mdx
  docs/docs/schema/postgres/computed-fields.mdx
Owners: @hasura/hge-docs-owners

console (feature): add support for native query relationships and editing
  frontend/.gitignore
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataRouter.js
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/NativeQueryLandingPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/UpdateNativeQuery.route.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/components/NativeQueryDetailsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/mocks/native-query-handlers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/components/ListNativeQueries.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/MigrationBuilder.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/NativeQueryRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/ListNativeQueryRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/ListNativeQueryRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/NativeQueryRelationshipWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/TrackNativeQueryRelationshipForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/TrackNativeQueryRelationshipForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/hooks/useWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/route-wrapper-utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/mocks/metadata.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackNativeQuery.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackNativeQueryRelationships/useTrackNativeQueryRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-api/selectors.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/nativeQuery.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
  frontend/libs/console/legacy-ce/src/lib/metadata/queryUtils.ts
  frontend/libs/console/legacy-ce/src/lib/utils/StoryUtils.tsx
Owners: @hasura/hge-changelog-owners

server/schema-registry: fix metadata resource version -1 for catalog sync
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RemoteSchema/MetadataAPI/Core.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/test-postgres/Test/Hasura/Server/MigrateSuite.hs
Owners: @hasura/hge-server

feat: autofill name and url in rest endpoint form
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Form/RestEndpointForm.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Landing.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/List.tsx
Owners: @hasura/hge-changelog-owners

console: add search bar to filter rest endpoints
  frontend/libs/console/legacy-ce/src/index.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Form/ExportOpenAPI.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Form/RestEndpointForm.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/Landing.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Rest/List.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/RestEndpointDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointDetails/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointList/RestEndpointList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointList/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/RestEndpointList/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/components/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/RestEndpoints/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/CardedTable/CardedTable.tsx
  frontend/libs/console/legacy-ce/src/lib/routes.js
  frontend/libs/console/legacy-ee/src/lib/routes.js
Owners: @hasura/hge-changelog-owners

console (tests): interaction tests for Native Query relationships
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/ListNativeQueryRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/ListNativeQueryRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/NativeQueryRelationshipWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/components/TrackNativeQueryRelationshipForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/mocks/handlers.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/NativeQueryRelationships/mocks/mockData.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/CardedTableFromReactTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/mocks/metadata.ts
Owners: @hasura/hge-changelog-owners

docs: add input validation docs (#9734)
  docs/docs/api-reference/metadata-api/permission.mdx
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/schema/postgres/data-validations.mdx
  docs/docs/schema/postgres/input-validations.mdx
  docs/static/img/schema/input-validation-create-permission.png
Owners: @hasura/hge-docs-owners

console (bugfix): Fix broken highlighting of errors in the `GraphiQL` tab
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

docs: move regression tests and query tags pages
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/cloud-ci-cd/_category_.json
  docs/docs/cloud-ci-cd/regression-tests.mdx
  docs/docs/hasura-cli/pro-cli/regression-tests.mdx
  docs/docs/observability/cloud-monitoring/index.mdx
  docs/docs/observability/db-observability.mdx
  docs/docs/observability/observability-best-practices.mdx
  docs/docs/observability/query-tags.mdx
Owners: @hasura/hge-docs-owners

server: add new fields in schema registry payload
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/SchemaRegistry.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
Owners: @hasura/hge-server

docs: add sched trigger recipe for review request email
  docs/docs/scheduled-triggers/clean-up.mdx
  docs/docs/scheduled-triggers/create-cron-trigger.mdx
  docs/docs/scheduled-triggers/create-one-off-scheduled-event.mdx
  docs/docs/scheduled-triggers/recipes/_category_.json
  docs/docs/scheduled-triggers/recipes/index.mdx
  docs/docs/scheduled-triggers/recipes/product-review.mdx
  docs/static/img/scheduled-triggers/scheduled-triggers_recipes_review-request_auth-header.png
  docs/static/img/scheduled-triggers/scheduled-triggers_recipes_review-terminal.png
Owners: @hasura/hge-docs-owners

server: don't forward absent variable values as `null`s
  server/lib/schema-parsers/schema-parsers.cabal
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Input.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/TypeChecking.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Variable.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Execute/Resolve.hs
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteSpec.hs
Owners: @hasura/hge-server

Fix inherited roles issue with ordering
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnCensorshipSpec.hs
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedactionSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Aliases.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Extractor.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Streaming.hs
  server/src-lib/Hasura/Backends/Postgres/Types/Aggregates.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp/AggregationPredicates.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/IR/Select/Args.hs
  server/src-lib/Hasura/RQL/IR/Select/OrderBy.hs
  server/src-test/Hasura/Backends/Postgres/RQLGenerator/GenSelectArgsG.hs
  server/src-test/Hasura/RQL/IR/Generator.hs
Owners: @hasura/hge-server

console: use the refactored suggested relationships component for GDC
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/ManageTrackedRelationshipsContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/RelationshipRow.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/RelationshipRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/TrackedRelationshipsContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/UntrackedRelationships.tsx
Owners: @hasura/hge-changelog-owners

docs: add ref from unauthenticated access docs to env var config
  docs/docs/auth/authentication/unauthenticated-access.mdx
Owners: @hasura/hge-docs-owners

docs: augment existing pg note for metadata
  docs/docs/getting-started/how-it-works/index.mdx
Owners: @hasura/hge-docs-owners

feat(SqlServer): Configuration option to disable the connection pool
  docs/docs/api-reference/syntax-defs.mdx
  metadata.openapi.json
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Databases/SQLServer/ConnectionPoolSpec.hs
  server/src-lib/Database/MSSQL/Pool.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners, @hasura/hge-server

console (chore): update `octokit` version (cherry-pick v2.29)
  frontend/libs/nx/internal-plugin/src/executors/chromatic/executor.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

server: don't forward absent variable values as `null`s (v2.29 backport)
  server/lib/schema-parsers/schema-parsers.cabal
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Input.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/TypeChecking.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Variable.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Execute/Resolve.hs
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteSpec.hs
Owners: @hasura/hge-server

[backport to v2.30] feat(SqlServer): Configuration option to disable the connection pool
  docs/docs/api-reference/syntax-defs.mdx
  metadata.openapi.json
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Databases/SQLServer/ConnectionPoolSpec.hs
  server/src-lib/Database/MSSQL/Pool.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners, @hasura/hge-server

server: don't forward absent variable values as `null`s (v2.30 backport)
  server/lib/schema-parsers/schema-parsers.cabal
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Convert.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Input.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/TypeChecking.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Variable.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Execute/Resolve.hs
  server/src-lib/Hasura/GraphQL/ParameterizedQueryHash.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteSpec.hs
Owners: @hasura/hge-server

ci: tag release v2.29.2
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.29.2
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.29.2
  releases/v2.29.1
  releases/v2.29.2
Owners: @hasura/hge-changelog-owners

ci: release v2.29.2-ce
  releases/v2.29.1-ce
  releases/v2.29.2-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.29.2-cloud.1
  releases/v2.29.1-cloud.1
  releases/v2.29.2-cloud.1
Owners: @hasura/hge-changelog-owners

Added a section - Building Webhook Handlers
  docs/docs/auth/authentication/webhook.mdx
Owners: @hasura/hge-docs-owners
