Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

console: update enterprise users query
  frontend/libs/console/legacy-ee/src/lib/components/Main/Actions.js
Owners: @hasura/hge-changelog-owners

Implement `get_table_info` for Postgres, Citus, and Cockroach
  server/graphql-engine.cabal
  server/lib/api-tests/src/Test/API/Metadata/TablesSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Types/CitusExtraTableMetadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/ComputedField/Name.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/cockroach_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
  server/src-test/Test/Parser/Internal.hs
Owners: @hasura/hge-server

console: update enterprise users query
  frontend/libs/console/legacy-ee/src/lib/components/Main/Actions.js
Owners: @hasura/hge-changelog-owners

console: have better time and payload size estimation in graphiql
  frontend/libs/console/legacy-ce/src/lib/utils/requestAction.ts
Owners: @hasura/hge-changelog-owners

docs: subscription observability and performance
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/enterprise/metrics.mdx
  docs/docs/subscriptions/ms-sql-server/_category_.json
  docs/docs/subscriptions/observability-and-performance.mdx
  docs/docs/subscriptions/postgres/_category_.json
  docs/docs/subscriptions/postgres/livequery/execution.mdx
  docs/docs/subscriptions/postgres/livequery/index.mdx
  docs/docs/subscriptions/postgres/streaming/index.mdx
Owners: @hasura/hge-docs-owners

docs: event trigger observability and performance
  docs/docs/enterprise/metrics.mdx
  docs/docs/event-triggers/clean-up/_category_.json
  docs/docs/event-triggers/event-trigger-delivery.mdx
  docs/docs/event-triggers/observability-and-performace.mdx
  docs/docs/event-triggers/remove-event-triggers.mdx
  docs/static/img/event-triggers/event-triggers-execution.png
Owners: @hasura/hge-docs-owners

docs: move cache metrics page to last position in the sidebar
  docs/docs/caching/caching-metrics.mdx
Owners: @hasura/hge-docs-owners

Move Logical Model parsers to Hasura.LogicalModel.Schema
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Schema.hs
Owners: @hasura/hge-server

feature(server): comparable computed field aggregations for Postgres
  server/lib/api-tests/src/Test/Schema/ComputedFields/AggregationSpec.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
Owners: @hasura/hge-server

Add console support for Snowflake UDFs
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataRouter.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/GDCTree/hooks/useGDCTreeItemClick.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageFunction/ManageFunction.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageFunction/components/Breadcrumbs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageFunction/components/DisplayConfigurationDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageFunction/components/Heading.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageFunction/components/Modify.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageFunction/components/ModifyFunctionConfiguration.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageFunction/hooks/useUrlParameters.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/components/TableDisplayName.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/ManageTrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackFunctionForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/UntrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/hooks/useCheckRows.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useDriverCapabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useSetFunctionConfiguration.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/capabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/defaultDatabaseProps.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/getTablesListAsTree.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/getTrackableObjects.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
  frontend/libs/console/legacy-ce/src/lib/utils/getDataRoute.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

feat(BigQuery): Add object relationship support for Native Queries
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Plan.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
Owners: @hasura/hge-server

console: add confirm dialog before untracking stored procedures
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/components/ListStoredProcedures.tsx
Owners: @hasura/hge-changelog-owners

fix: show cache warning to pro-lite console users
  frontend/libs/console/legacy-ce/src/lib/utils/proConsole.ts
Owners: @hasura/hge-changelog-owners

frontend: default to use case onboarding on console
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.test.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/utils.ts
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
Owners: @hasura/hge-changelog-owners

Docs for Snowflake UDFs
  docs/docs/api-reference/metadata-api/custom-functions.mdx
  docs/docs/databases/snowflake/getting-started/cloud.mdx
  docs/docs/databases/snowflake/getting-started/index.mdx
  docs/docs/databases/snowflake/index.mdx
  docs/docs/schema/common-patterns/_category_.json
  docs/docs/schema/snowflake/_category_.json
  docs/docs/schema/snowflake/custom-functions.mdx
  docs/docs/schema/snowflake/index.mdx
  docs/static/img/databases/snowflake/snowflake-function-select-table.png
  docs/static/img/databases/snowflake/snowflake-function-track.png
Owners: @hasura/hge-docs-owners

Docs:Remove EE trails banner from Import OAS docs page.
  docs/docs/actions/open-api.mdx
Owners: @hasura/hge-docs-owners

docs: backport hotfix for product badges on NQ and LM
  docs/docs/schema/bigquery/logical-models/index.mdx
  docs/docs/schema/ms-sql-server/logical-models/index.mdx
  docs/docs/schema/postgres/logical-models/index.mdx
Owners: @hasura/hge-docs-owners

Relationship new UI, array relationships shown with the wrong details
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/utils/adaptResponse.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/utils/tableRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/relationships.ts
Owners: @hasura/hge-changelog-owners

docs: add dex info for google sso
  docs/docs/enterprise/sso/google-workspace.mdx
  docs/static/img/enterprise/Dex-sso.png
Owners: @hasura/hge-docs-owners

Fix performance regression introduced in #8922
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/SchemaRegistry.hs
Owners: @hasura/hge-server

add performance and check permission sections
  rfcs/input-validations.md
Owners: @hasura/hge-changelog-owners

server: Fix performance regression introduced in #8922
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/SchemaRegistry.hs
Owners: @hasura/hge-server

fix: show cache warning to pro-lite console users
  frontend/libs/console/legacy-ce/src/lib/utils/proConsole.ts
Owners: @hasura/hge-changelog-owners

ci: tag release v2.26.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.26.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.26.0
  releases/v2.26.0
Owners: @hasura/hge-changelog-owners

ci: release v2.26.0-ce
  releases/v2.26.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.26.0-cloud.1
  releases/v2.26.0-cloud.1
Owners: @hasura/hge-changelog-owners

console: remove outdated feature flags from the settings tab
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSubSidebar.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/GDCTree/hooks/useTreeData.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/FeatureFlags/availableFeatureFlags.ts
Owners: @hasura/hge-changelog-owners

bugfix: quote columns in postgres nq validation
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
Owners: @hasura/hge-server

console: default to use case onboarding (cherry-pick v2.25)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.test.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/utils.ts
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
Owners: @hasura/hge-changelog-owners

ci: update latest stable release as v2.26.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

docs: add admin secret header
  docs/docs/api-reference/pgdump.mdx
Owners: @hasura/hge-docs-owners

"Better" Python version checking in dev.sh
  scripts/dev.sh
Owners: @hasura/hge-changelog-owners

docs: improve pg views docs
  docs/docs/schema/postgres/views.mdx
Owners: @hasura/hge-docs-owners

console: default to use case onboarding (cherry-pick v2.26)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.test.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/UseCaseScreen/UseCaseScreen.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/utils.ts
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
Owners: @hasura/hge-changelog-owners

Catch ErrorCall in runHandler and expose it as a message with status 200
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

Replace TableObjectType, etc. with the corresponding Logical Model types
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Table/API.hs
  server/src-lib/Hasura/Table/Cache.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
  server/src-test/Test/Parser/Internal.hs
Owners: @hasura/hge-server

docs: add skip_onboarding query param
  docs/docs/databases/athena/getting-started/cloud.mdx
  docs/docs/databases/bigquery/getting-started/cloud.mdx
  docs/docs/databases/mariadb/cloud.mdx
  docs/docs/databases/ms-sql-server/getting-started/cloud.mdx
  docs/docs/databases/ms-sql-server/mssql.mdx
  docs/docs/databases/mysql/cloud.mdx
  docs/docs/databases/oracle/cloud.mdx
  docs/docs/databases/postgres/aiven.mdx
  docs/docs/databases/postgres/alloy.mdx
  docs/docs/databases/postgres/aws-aurora.mdx
  docs/docs/databases/postgres/aws-postgres.mdx
  docs/docs/databases/postgres/azure-cosmos.mdx
  docs/docs/databases/postgres/azure.mdx
  docs/docs/databases/postgres/citus-hyperscale-postgres/getting-started/cloud.mdx
  docs/docs/databases/postgres/cockroachdb/getting-started/cloud.mdx
  docs/docs/databases/postgres/crunchy.mdx
  docs/docs/databases/postgres/digital-ocean.mdx
  docs/docs/databases/postgres/elephant.mdx
  docs/docs/databases/postgres/enterprisedb.mdx
  docs/docs/databases/postgres/gcp.mdx
  docs/docs/databases/postgres/heroku.mdx
  docs/docs/databases/postgres/neon.mdx
  docs/docs/databases/postgres/railway.mdx
  docs/docs/databases/postgres/render.mdx
  docs/docs/databases/postgres/supabase.mdx
  docs/docs/databases/postgres/timescale-cloud.mdx
  docs/docs/databases/postgres/yugabyte.mdx
  docs/docs/databases/snowflake/getting-started/cloud.mdx
  docs/docs/getting-started/getting-started-cloud.mdx
  docs/docs/getting-started/use-case/api-gateway.mdx
  docs/docs/getting-started/use-case/data-api.mdx
  docs/docs/getting-started/use-case/gql-backend.mdx
  docs/docs/hasura-cli/pro-cli/auth.mdx
Owners: @hasura/hge-docs-owners

fix: fix cron trigger invocation logs status
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/Common/Components/InvocationLogsTable.tsx
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
