Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

docs: fix streaming subscription example (close #9241)
  docs/docs/subscriptions/postgres/streaming/use-cases.mdx
Owners: @hasura/hge-docs-owners

revamp elastic connection pool docs
  docs/docs/databases/connect-db/cloud-connection-pooling.mdx
Owners: @hasura/hge-docs-owners

server/tests: Improve details in feature matrix tool
  server/lib/api-tests/src-render-feature-matrix/Main.hs
Owners: @hasura/hge-server

[server/tests] Re-add Citus views test
  server/lib/api-tests/src/Test/Schema/ViewsSpec.hs
Owners: @hasura/hge-server

server/tests: Add ghci macros to ease working with `fixtureRepl`
  server/lib/api-tests/.ghci
  server/lib/api-tests/ghci/fixtureRepl.ghci
Owners: @hasura/hge-server

Make `fixtureRepl` work again
  server/lib/api-tests/src/SpecHook.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
Owners: @hasura/hge-server

[server/tests] allow api-tests to be filtered by backend type
  scripts/make/ghcid.mk
  scripts/make/tests.mk
  server/lib/api-tests/src/SpecHook.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/tests: Port Citus table relationship tests from pytest
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/PortedFromPytest/TestGraphQLQueryBasicCitus.hs
  server/lib/api-tests/src/Test/Schema/TableRelationships/PortedSpec.hs
  server/lib/test-harness/src/Harness/PytestPortedCompat.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

[tooling] `make` commands for building and formatting CI pipeline
  Makefile
  scripts/make/ci.mk
Owners: @hasura/hge-changelog-owners

Adding features to the enterprise listing docs page
  docs/docs/enterprise/index.mdx
  docs/docs/security/allow-list.mdx
Owners: @hasura/hge-docs-owners

server/tests: refactor XToDBArrayRelationshipSpec setup/teardown
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
  server/lib/test-harness/src/Harness/Test/SetupAction.hs
Owners: @hasura/hge-server

console: enable naming convention check to enable/disable naming convention carded radio button
  console/cypress/e2e/tracing/api-graphiql/fixtures/initialRequests/config.ts
  console/src/components/Main/State.ts
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/GraphQLFieldCustomizationContainer.tsx
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/NamingConvention.tsx
  console/src/components/Services/Data/DataSources/GraphQLFieldCustomization/types.ts
  console/src/components/Services/Data/DataSources/state.ts
  console/src/hooks/useServerConfig.ts
  console/src/metadata/types.ts
  console/src/new-components/CardRadioGroup/CardRadioGroup.tsx
  docs/docs/schema/postgres/naming-convention.mdx
  docs/static/img/schema/naming-convention.png
Owners: @hasura/hge-console-owners, @hasura/hge-docs-owners

cli: remove `os.IsNotExist` and `os.IsExist` error checks
  cli/cli.go
  cli/directory.go
  cli/global_config.go
  cli/plugins/scanner.go
  cli/util/copy.go
Owners: @hasura/hge-cli-owners

Replace non-canonical `Select` instance with a canonical one
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-lib/Hasura/Incremental/Select.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
Owners: @hasura/hge-server

console: removed unnecessary null defaulting from input fields
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Data/TableCommon/DataTableRowItem.stories.tsx
  console/src/components/Services/Data/TableCommon/DataTableRowItem.tsx
Owners: @hasura/hge-console-owners

console: fix REST endpoint creation form width
  console/src/components/Services/ApiExplorer/Rest/Form/RestEndpointForm.tsx
Owners: @hasura/hge-console-owners

fix: show the accelerate project box on the cloud console only
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
Owners: @hasura/hge-console-owners

server/tests: Re-enable ObjectRelationshipsSpec for Citus
  server/lib/api-tests/src/Test/Schema/TableRelationships/ObjectRelationshipsSpec.hs
Owners: @hasura/hge-server

server: define instance Functor InputFieldsParser by hand to lower memory usage slightly
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Input.hs
Owners: @hasura/hge-server

Delete `SourceM` type class
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
Owners: @hasura/hge-server

Further schema cache cleanups
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Meta.hs
  server/src-lib/Hasura/Incremental.hs
  server/src-lib/Hasura/Incremental/Internal/Cache.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Build.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Types.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
Owners: @hasura/hge-server

server: implement resource attributes for the OpenTelemetry exporter
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
Owners: @hasura/hge-server

console: added checks to hide previously removed sources
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
Owners: @hasura/hge-console-owners

console: clean up response transform code base
  console/cypress/e2e/actions/withTransform/actionWithTransform.e2e.test.ts
  console/src/components/Common/ConfigureTransformation/ConfigureTransformation.tsx
  console/src/components/Common/ConfigureTransformation/CustomEditors/TemplateEditor.tsx
  console/src/components/Common/ConfigureTransformation/ResponseTransform.tsx
  console/src/components/Common/ConfigureTransformation/requestTransformState.ts
  console/src/components/Common/ConfigureTransformation/stateDefaults.ts
  console/src/components/Common/ConfigureTransformation/utils.ts
Owners: @hasura/hge-console-owners

console: fix filtering using nullish values
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.test.ts
  console/src/features/BrowseRows/components/RunQuery/LegacyRunQueryContainer/LegacyRunQueryContainer.utils.ts
  console/src/features/BrowseRows/components/RunQuery/types.ts
Owners: @hasura/hge-console-owners

server: clean up query variables hotfix
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-server

server/tests: Subscriptions > Value of Derived Field > Citus
  server/lib/api-tests/src/Test/Subscriptions/DerivedDataSpec.hs
Owners: @hasura/hge-server

console: track console load custom event on heap
  console/src/components/App/App.js
  console/src/features/OnboardingWizard/hooks/useWizardState.ts
Owners: @hasura/hge-console-owners

console: show roles created from from allow list on data, RS and action permission tables
  console/src/metadata/selector.ts
Owners: @hasura/hge-console-owners

console: fix nested browse rows run query
  console/src/components/Services/Data/TableBrowseRows/ViewAction.utils.ts
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.utils.test.ts
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/features/DataSource/postgres/introspection/getFKRelationships.ts
Owners: @hasura/hge-console-owners

[server] fix api-tests-pro
  scripts/make/build.mk
Owners: @hasura/hge-changelog-owners

server: provide an option to enable event triggers on logically replicated tables
  docs/docs/api-reference/metadata-api/event-triggers.mdx
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/EventTriggers/MSSQL/EventTriggersForReplicationSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/MSSQL/EventTriggersUniqueNameSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersForReplicationSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/Server/Migrate/Internal.hs
  server/src-rsr/mssql/mssql_delete_trigger.sql.shakespeare
  server/src-rsr/mssql/mssql_insert_trigger.sql.shakespeare
  server/src-rsr/mssql/mssql_update_trigger.sql.shakespeare
Owners: @hasura/hge-docs-owners, @hasura/hge-server

feat(console): add import single endpoint from openAPI
  console/.storybook/main.js
  console/package-lock.json
  console/package.json
  console/src/components/Services/Actions/Add/Add.tsx
  console/src/components/Services/Actions/Add/utils.ts
  console/src/components/Services/Actions/Common/components/ActionEditor.tsx
  console/src/features/Actions/components/OASGeneratorModal/OASGeneratorForm.tsx
  console/src/features/Actions/components/OASGeneratorModal/OASGeneratorModal.stories.tsx
  console/src/features/Actions/components/OASGeneratorModal/OASGeneratorModal.tsx
  console/src/features/Actions/components/OASGeneratorModal/external.types.d.ts
  console/src/features/Actions/components/OASGeneratorModal/index.ts
  console/src/features/Actions/components/OASGeneratorModal/petstore.json
  console/src/features/Actions/components/OASGeneratorModal/types.ts
  console/src/features/Actions/components/OASGeneratorModal/utils.test.ts
  console/src/features/Actions/components/OASGeneratorModal/utils.ts
  console/src/features/Actions/index.ts
  console/src/features/FeatureFlags/availableFeatureFlags.ts
  console/src/new-components/Badge/Badge.tsx
  console/src/new-components/Dialog/Dialog.tsx
  console/src/new-components/Form/Radio.tsx
  console/webpack/bundle.config.js
  rfcs/openapi-to-hasura-single-action.md
Owners: @hasura/hge-console-owners, @hasura/hge-changelog-owners

server: use kriti template to generate query param from list
  docs/docs/api-reference/syntax-defs.mdx
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Webhook/WebhookTransformSpec.hs
  server/src-lib/Hasura/RQL/DDL/Webhook/Transform/QueryParams.hs
  server/src-test/Hasura/RQL/WebhookTransformsSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

docs: restructure cli section
  docs/docs/hasura-cli/commands/_category_.json
  docs/docs/hasura-cli/commands/index.mdx
  docs/docs/hasura-cli/config-reference.mdx
  docs/docs/hasura-cli/index.mdx
  docs/docs/hasura-cli/install-hasura-cli.mdx
  docs/docs/hasura-cli/uninstall-hasura-cli.mdx
Owners: @hasura/hge-docs-owners

server: add another log line for metadata sync
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

pro-server: add unit tests for the opentelemetry exporter
  server/src-lib/Hasura/RQL/Types/OpenTelemetry.hs
Owners: @hasura/hge-server

Add Login with SSO option to EE lite
  console/exports/main.js
  console/src/components/Login/Login.tsx
  console/src/components/Login/black-logo-ee.svg
Owners: @hasura/hge-console-owners

server: fix streaming subscription input type names
  server/src-lib/Hasura/GraphQL/Schema/SubscriptionStream.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
Owners: @hasura/hge-server

console: Remove x-hasura-admin-secret header from DB latency requests
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
  console/src/features/ConnectDB/hooks/useCheckDatabaseLatency.tsx
  console/src/features/ControlPlane/client.ts
Owners: @hasura/hge-console-owners
