Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

cli: make progress bar render properly on all emulators and add `progress bar-logs` flag to get logs on CI
  cli/commands/migrate_apply.go
  cli/commands/migrate_apply_test.go
  cli/migrate/migrate.go
Owners: @hasura/hge-cli-owners

Small revisions to documentation
  docs/graphql/core/auth/authorization/inherited-roles.rst
  server/src-lib/Control/Arrow/Extended.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

Always enable inherited roles tests
  .circleci/test-server.sh
  scripts/dev.sh
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_roles_inheritance.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: introduce docker image scans
  scripts/tag-release.sh
Owners: @hasura/hge-changelog-owners

server/mssql: support transactions
  CHANGELOG.md
  scripts/containers/mssql.sh
  scripts/data-sources-util.sh
  scripts/dev.sh
  server/graphql-engine.cabal
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-test/Database/MSSQL/TransactionSpec.hs
  server/src-test/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: add a note about cloudflare to custom domains
  docs/graphql/cloud/projects/domains.rst
Owners: @hasura/hge-docs-owners

server: add parameterized query hash for websocket logs
  .circleci/test-server.sh
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/tests-py/test_logging.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[Hasura CLI]: fix possible typo "depricated" to "deprecated"
  cli/commands/migrate_create.go
Owners: @hasura/hge-cli-owners

docs: use placeholder for version in cli migrations image page
  docs/graphql/core/migrations/advanced/auto-apply-migrations.rst
Owners: @hasura/hge-docs-owners

console: updated override styles for GraphiQL / React-Select
  console/src/theme/tailwind.css
Owners: @hasura/hge-console-owners

RFC: role-based allowlist spec
  rfcs/role-based-allow-list.md
Owners: @hasura/hge-changelog-owners

server: log operation details for each query in a batch query execution
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-test/Hasura/Server/AuthSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: support computed fields in remote schema join
  CHANGELOG.md
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/RemoteRelationships.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/SchemaExplorer.scss
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/ArgElement.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/ArgValue.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/Explorer.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditor.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditorWrapper.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelationshipList.tsx
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: don't propogate `tracecontext` and `userinfo` for GraphQL queries on PG backends
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
Owners: @hasura/hge-server

cli: add progress bar to migrate apply
  CHANGELOG.md
  cli/commands/migrate_apply.go
  cli/commands/migrate_apply_test.go
  cli/commands/migrate_delete_test.go
  cli/commands/testdata/config-v2-test-project/migrations/1620138161039_create_table_public_t3/up.sql
  cli/commands/testdata/config-v2-test-project/migrations/1620138199344_create_table_public_t7/up.sql
  cli/go.mod
  cli/go.sum
  cli/migrate/migrate.go
  cli/migrate/util.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

console: modify placeholder generator function
  console/src/components/Services/Data/Common/Components/RootFieldEditor.tsx
  console/src/components/Services/Data/TableModify/RootFields.tsx
  console/src/components/Services/Data/TableModify/RootFieldsEditor.tsx
Owners: @hasura/hge-console-owners

server: disable mutation for materialised views
  CHANGELOG.md
  server/src-rsr/pg_table_metadata.sql
  server/tests-py/queries/v1/track_table/track_untrack_materialized_view.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

tag release v2.0.9
  CHANGELOG.md
  cli/README.md
  docs/graphql/core/hasura-cli/install-hasura-cli.rst
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-v2.0.0/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-server

docs: add https to link to avoid 404
  docs/graphql/cloud/projects/environments.rst
Owners: @hasura/hge-docs-owners

server/bigquery: add explicit order_by argument to fix non-deterministic test failures
  server/tests-py/queries/graphql_query/bigquery/offset_regression.yaml
  server/tests-py/queries/graphql_query/bigquery/select_join_provenance.yaml
Owners: @hasura/hge-server

server: generalize event triggers - incremental PR 2
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/BigQuery/DDL.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/DDL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Table.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/API.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Column.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Eventing/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
Owners: @hasura/hge-server

RFC: (Table) Permissions in MySQL
  rfcs/permissions-mysql.md
  rfcs/permissions-mysql/Inherited roles permissions.png
Owners: @hasura/hge-changelog-owners

[server] revert #2078 "server/postgres: optimize SQL query generation with LIMITs"
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/tests-py/queries/explain/limit_orderby_column_query.yaml
  server/tests-py/queries/explain/limit_orderby_relationship_query.yaml
  server/tests-py/queries/explain/limit_query.yaml
  server/tests-py/queries/explain/setup.yaml
  server/tests-py/queries/explain/teardown.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

cli: send error to telemetry
  cli/commands/root.go
  cli/telemetry/telemetry.go
Owners: @hasura/hge-cli-owners

misc: update OSS github issue template to use kind labels
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
Owners: @hasura/hge-changelog-owners

Disable test_pg_add_source_with_source_parameters locally.
  server/tests-py/test_metadata.py
Owners: @hasura/hge-server

ci: create non-root user `hasura` in graphql engine docker images
  .circleci/base.dockerfile
  scripts/cli-migrations/v2/Dockerfile
  scripts/cli-migrations/v3/Dockerfile
  server/packaging/build/Dockerfile
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server,docs,tests: add support for `connection_parameters` to `pg_add_source` API
  CHANGELOG.md
  docs/graphql/core/api-reference/syntax-defs.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-test/Hasura/RQL/Types/CommonSpec.hs
  server/src-test/Main.hs
  server/tests-py/queries/v1/metadata/pg_add_source_with_parameters.yaml
  server/tests-py/test_metadata.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

belatedly address code review feedback
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
Owners: @hasura/hge-server

server: don't use Show to encode error codes
  server/src-lib/Hasura/Base/Error.hs
Owners: @hasura/hge-server

server: use 'text' fork without implicit fusion rules
  cabal.project
Owners: @hasura/hge-changelog-owners

server: set `tracecontext` and `userInfo` for DML actions on PG sources
  CHANGELOG.md
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/GraphQL/Transport/Backend.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

return original schema in introspect_remote_schema
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-test/Hasura/GraphQL/RemoteServerSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add fixed height to html
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.scss
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.tsx
  console/src/components/Common/Common.scss
  console/src/components/Main/Main.scss
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Actions/Modify/ActionEditor.js
  console/src/components/Services/Actions/Relationships/Main.js
  console/src/components/Services/Actions/Types/Manage/Main.js
  console/src/components/Services/ApiExplorer/ApiExplorer.scss
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/Rest/Create/URLPreview.tsx
  console/src/components/Services/ApiExplorer/Rest/Details.tsx
  console/src/components/Services/ApiExplorer/Rest/Landing.tsx
  console/src/components/Services/ApiExplorer/Rest/List.tsx
  console/src/components/Services/ApiExplorer/Rest/LivePreview/index.tsx
  console/src/components/Services/ApiExplorer/TopNav.tsx
  console/src/components/Services/Data/Add/AddExistingTableView.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Function/Modify/SessionVarSection.tsx
  console/src/components/Services/Data/Schema/ManageDatabase.tsx
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/Schema/TemplateGallery/TemplateGalleryTable.tsx
  console/src/components/Services/Data/SourceView.tsx
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableModify/PartitionInfo.tsx
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Events/Common/Components/FormSection.tsx
  console/src/components/Services/Events/CronTriggers/Landing.tsx
  console/src/components/Services/Events/EventTriggers/Add/Add.tsx
  console/src/components/Services/Events/EventTriggers/Landing/EventTrigger.tsx
  console/src/components/Services/RemoteSchema/Common/Common.js
  console/src/components/Services/RemoteSchema/Edit/View.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.tsx
  console/src/components/Services/Settings/InheritedRoles/InheritedRolesEditor.tsx
  console/src/theme/tailwind.css
Owners: @hasura/hge-console-owners

add oss issue template
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/ISSUE_TEMPLATE/config.yml
Owners: @hasura/hge-changelog-owners

Prevent empty subscription roots (fix hasura/graphql-engine#6898)
  CHANGELOG.md
  cli/internal/hasura/v1graphql/testdata/latest.golden
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/tests-py/queries/graphql_query/empty/check_no_empty_roots.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners, @hasura/hge-server

console: fix data sidebar not updated when a table is renamed
  CHANGELOG.md
  console/src/components/Services/Data/DataSubSidebar.js
Owners: @hasura/hge-changelog-owners, @hasura/hge-console-owners

server: sort and prune error codes
  server/src-lib/Hasura/Base/Error.hs
Owners: @hasura/hge-server

Changelog - Update docs for caching rate limits
  docs/graphql/cloud/response-caching.rst
Owners: @hasura/hge-docs-owners

server: update `create_scheduled_event` API to respond with `event_id`
  CHANGELOG.md
  docs/graphql/core/api-reference/metadata-api/index.rst
  docs/graphql/core/api-reference/metadata-api/scheduled-triggers.rst
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/tests-py/test_scheduled_triggers.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
