Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

console (refactor): common hook to create and manage table relationships
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/UntrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useAllDriverCapabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/capabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/tests/getDriverCapabilities.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationshipTrackModal/SuggestedRelationshipTrackModal.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/typeGuards.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/useCreateTableRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/utils.ts
Owners: @hasura/hge-changelog-owners

server: configurable header length limit for warp
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/test-postgres/Constants.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: fix operation details modal layout
  frontend/libs/console/legacy-ce/src/index.ts
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/CustomCopy.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/Modal.js
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/Modal.stories.tsx
Owners: @hasura/hge-changelog-owners

console (fix): remove license check for Native Queries and Logical Model features on Hasura CE
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/LimitedFeatureWrapper/LimitedFeatureWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/components/LogicalModelFormInputs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/hook.ts
Owners: @hasura/hge-changelog-owners

Azure Regions update
  docs/docs/hasura-cloud/regions.mdx
Owners: @hasura/hge-docs-owners

console (hotfix): remove license check for Native Queries and Logical Model features on Hasura CE
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/LimitedFeatureWrapper/LimitedFeatureWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/components/LogicalModelFormInputs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/hook.ts
Owners: @hasura/hge-changelog-owners

Update deployment docs
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

Update deployment docs
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

Update deployment docs
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

Update deployment docs
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

include int in the like of pg types mapping and massage input
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
Owners: @hasura/hge-server

packaging: Use Ubuntu Jammy for the server builder and base images.
  packaging/graphql-engine-base/ubuntu.dockerfile
  server/benchmarks/bench.sh
  server/benchmarks/fabfile.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

RFC: NoSQL Schema Sampling RFC
  rfcs/nosql-schema-sampling/docker-compose.yml
  rfcs/nosql-schema-sampling/readme.md
  rfcs/nosql-schema-sampling/sample_data/import.sh
  rfcs/nosql-schema-sampling/sample_data/sample_mflix/loyalty-table.csv
  rfcs/nosql-schema-sampling/sample_data/sample_mflix/sessions.json
  rfcs/nosql-schema-sampling/sample_data/sample_mflix/theaters.json
  rfcs/nosql-schema-sampling/sample_data/sample_mflix/users.json
  rfcs/nosql-schema-sampling/schema_exports/.gitkeep
  rfcs/nosql-schema-sampling/schema_exports/analysis/.gitkeep
  rfcs/nosql-schema-sampling/schema_exports/validation_schema/.gitkeep
  rfcs/nosql-schema-sampling/schema_sampler/analyze.sh
  rfcs/nosql-schema-sampling/schema_sampler/validation_exporter.js
  rfcs/nosql-schema-sampling/schema_sampler/variety.js
Owners: @hasura/hge-changelog-owners

chore(server): fix type parsers for Logical Models
  metadata.openapi.json
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Added optional
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

console: improved db latency check error handling
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/ListConnectedDatabases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/LatencyBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useDatabaseLatencyCheck.ts
Owners: @hasura/hge-changelog-owners

console: improved db latency check error handling
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/ListConnectedDatabases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/LatencyBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useDatabaseLatencyCheck.ts
Owners: @hasura/hge-changelog-owners

console: improved db latency check error handling
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/ListConnectedDatabases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/LatencyBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useDatabaseLatencyCheck.ts
Owners: @hasura/hge-changelog-owners

Changed wording
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
Owners: @hasura/hge-docs-owners

Docs update to include Azure Cloud
  docs/docs/hasura-cloud/regions.mdx
Owners: @hasura/hge-docs-owners

Docs update to include Azure Cloud
  docs/docs/hasura-cloud/overview.mdx
Owners: @hasura/hge-docs-owners

console: improved db latency check error handling
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/ListConnectedDatabases.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ListConnectedDatabases/parts/LatencyBadge.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/hooks/useDatabaseLatencyCheck.ts
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.28.0 and v2.11.8
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

packaging: update graphql-engine-base to use latest ubuntu focal update
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

packaging: update graphql-engine-base to use latest ubuntu focal
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.28.0 and v2.11.8
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release for v2.28.0 and v2.11.8
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

docs: add docs page for schema registry
  docs/docs/observability/schema-registry.mdx
  docs/static/img/observability/schema-registry/schema-registry-alert-config.png
  docs/static/img/observability/schema-registry/schema-registry-graphql-schema-tab.png
  docs/static/img/observability/schema-registry/schema-registry-inter-role-changes.png
  docs/static/img/observability/schema-registry/schema-registry-listing.png
  docs/static/img/observability/schema-registry/schema-registry-schema-details-changes.png
Owners: @hasura/hge-docs-owners

Fix parsing of scalar types in the DataConnector backend
  server/lib/api-tests/src/Test/API/Metadata/TablesSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/BigQuery/Source.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/Common.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/MutationPlan.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/RemoteRelationshipPlan.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/DDL.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/GraphQL/ApolloFederation.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Relay.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/CustomTypes.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/SourceConfiguration.hs
Owners: @hasura/hge-server

Docs: Schema Registry changes
  docs/docs/observability/schema-registry.mdx
  docs/static/img/observability/schema-registry/schema-registry-listing.png
Owners: @hasura/hge-docs-owners

docs: Add CLI instructions for Logical Models and friends.
  docs/docs/schema/bigquery/logical-models/index.mdx
  docs/docs/schema/bigquery/logical-models/native-queries.mdx
  docs/docs/schema/ms-sql-server/logical-models/index.mdx
  docs/docs/schema/ms-sql-server/logical-models/native-queries.mdx
  docs/docs/schema/ms-sql-server/logical-models/stored-procedures.mdx
  docs/docs/schema/postgres/logical-models/index.mdx
  docs/docs/schema/postgres/logical-models/native-queries.mdx
Owners: @hasura/hge-docs-owners

docs: fix logic in feedback
  docs/src/components/Feedback/Feedback.tsx
Owners: @hasura/hge-docs-owners

Added Images
  docs/docs/deployment/deployment-guides/flightcontrol.mdx
  docs/static/img/deployment/flightcontrol-config-type.png
  docs/static/img/deployment/flightcontrol-enable-console.png
  docs/static/img/deployment/flightcontrol-env-variable-name.png
  docs/static/img/deployment/flightcontrol-web-server-creation.png
Owners: @hasura/hge-docs-owners

Docs Update beta and alpha tags
  docs/docs/schema/ms-sql-server/logical-models/stored-procedures.mdx
Owners: @hasura/hge-docs-owners

ci: update latest stable release as v2.28.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mongodb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

Initial commit for hub information
  dc-agents/DOCUMENTATION.md
  dc-agents/HUB.md
  dc-agents/README.md
  dc-agents/guides/Cassandra.md
  dc-agents/guides/Kafka.md
  dc-agents/guides/NoSQL.md
  dc-agents/guides/OLAP.md
  dc-agents/guides/OLTP.md
  dc-agents/guides/README.md
  dc-agents/guides/Redis.md
Owners: @hasura/hge-changelog-owners

Specify table schema via logical model in `track_table` API
  metadata.openapi.json
  server/src-lib/Hasura/Backends/DataConnector/Adapter/API.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/Table/API.hs
  server/src-lib/Hasura/Table/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: add lz-string as a dependency in package.json
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

Revert "Docs Update beta and alpha tags"
  docs/docs/schema/ms-sql-server/logical-models/stored-procedures.mdx
Owners: @hasura/hge-docs-owners

Docs: Vector DBs
  docs/docs/databases/vector-dbs.mdx
  docs/static/img/databases/vector-dbs/application.png
  docs/static/img/databases/vector-dbs/candidate.png
  docs/static/img/databases/vector-dbs/connect-weaveate-database.png
  docs/static/img/databases/vector-dbs/data-manager-tab.png
  docs/static/img/databases/vector-dbs/define-remote-relationship.png
  docs/static/img/databases/vector-dbs/execute-query.png
  docs/static/img/databases/vector-dbs/resume-store.png
  docs/static/img/databases/vector-dbs/track-tables.png
  docs/static/img/databases/vector-dbs/vector-db-connect-db.png
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
