Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Disable pretty printing in BigQuery responses
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
Owners: @hasura/hge-server

docs: fix update drop_inherited_role api args (fix #7973) #7989
  docs/graphql/core/api-reference/metadata-api/inherited-roles.rst
  docs/graphql/core/auth/authorization/inherited-roles.rst
Owners: @hasura/hge-docs-owners

server: Add string interpolation support for the graphql QQ for integration tests
  server/graphql-engine.cabal
  server/tests-hspec/DirectivesSpec.hs
  server/tests-hspec/Harness/Graphql.hs
Owners: @hasura/hge-server

refactor Hasura.Backends.MSSQL.Instances.Execute
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/MSSQL/Execute/Delete.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/MutationResponse.hs
  server/src-lib/Hasura/Backends/MSSQL/Execute/Update.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
Owners: @hasura/hge-server

tests: fail don't skip if the environment isn't right for webhook tests
  .circleci/test-server.sh
Owners: @hasura/hge-changelog-owners

improve cli contributing.md
  cli/CONTRIBUTING.md
Owners: @hasura/hge-cli-owners

Console/fix update column comment
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/dataSources/services/postgresql/sqlUtils.ts
Owners: @hasura/hge-console-owners

ci: combine pro/oss build jobs
  scripts/get-version-circleci.sh
  scripts/get-version.sh
  server/Makefile
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update docs for webhook transforms
  docs/graphql/core/actions/transforms.rst
  docs/img/graphql/core/actions/request-options-transformation.png
  docs/img/graphql/core/actions/transformation-context-vars-0.png
  docs/img/graphql/core/actions/transformation-context-vars-1.png
  docs/img/graphql/core/actions/transformation-context-vars-2.png
  docs/img/graphql/core/remote-schemas/remote-schemas-user-role.png
  docs/img/graphql/core/remote-schemas/role-based-schema.png
Owners: @hasura/hge-docs-owners

console: add remote relationships tests
  console/cypress/integration/data/manage-database/common.spec.ts
  console/cypress/integration/data/manage-database/mssql.spec.ts
  console/cypress/integration/data/manage-database/postgres.spec.ts
  console/cypress/integration/data/relationships/spec.ts
  console/cypress/integration/data/relationships/test.ts
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditor.tsx
Owners: @hasura/hge-console-owners

(Fix #3154) Remove occurrences of `Text` in MSSQL IR in favor of dedicated data types.
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

Fix aggregates for comparable types in BigQuery
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/tests-py/queries/graphql_query/bigquery/select_query_all_types.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/mssql: upsert - sql generation and execution
  CHANGELOG.md
  server/src-lib/Hasura/Backends/MSSQL/FromIr.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Update.hs
  server/tests-py/queries/graphql_mutation/insert/ifmatched/article_if_matched_match_non_id_column.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/article_if_matched_no_match_columns.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/article_if_matched_no_update.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/article_if_matched_update.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/order_if_matched_where.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/schema_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/schema_teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/teardown_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/values_setup_mssql.yaml
  server/tests-py/queries/graphql_mutation/insert/ifmatched/values_teardown_mssql.yaml
  server/tests-py/test_graphql_mutations.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server/mssql: Add omitNothingFields to MSSQLConnConfiguration
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
Owners: @hasura/hge-server

console: refactor getSetCommentSql signature
  console/src/components/Services/Data/Function/customFunctionReducer.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/dataSources/index.ts
  console/src/dataSources/services/bigquery/index.tsx
  console/src/dataSources/services/mssql/__tests__/__snapshots__/mssql.test.ts.snap
  console/src/dataSources/services/mssql/__tests__/mssql.test.ts
  console/src/dataSources/services/mssql/index.tsx
  console/src/dataSources/services/mssql/utils.ts
  console/src/dataSources/services/mysql/__tests__/__snapshots__/mysql.test.ts.snap
  console/src/dataSources/services/mysql/__tests__/mysql.test.ts
  console/src/dataSources/services/mysql/index.tsx
  console/src/dataSources/services/mysql/sqlUtils.ts
  console/src/dataSources/services/postgresql/__tests__/__snapshots__/postgresql.test.ts.snap
  console/src/dataSources/services/postgresql/__tests__/postgresql.test.ts
  console/src/dataSources/services/postgresql/index.tsx
  console/src/dataSources/services/postgresql/sqlUtils.ts
  console/src/utils/migration/utils.ts
Owners: @hasura/hge-console-owners

server/mssql: support read replicas
  docs/graphql/cloud/read-replicas.rst
  docs/graphql/core/guides/index.rst
  docs/graphql/core/guides/mssql/index.rst
  docs/graphql/core/guides/mssql/mssql-read-replicas-docker-setup.rst
  docs/img/graphql/cloud/read-replicas/connect-db-with-replica.png
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-test/Main.hs
  server/tests/integration/Hasura/Test/App.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

Add SQL Server & Citus to hspec test suite harness and a BasicFields test for each
  docker-compose.yml
  docker-compose/sqlserver/Dockerfile
  docker-compose/sqlserver/entrypoint.sh
  docker-compose/sqlserver/init.sql
  docker-compose/sqlserver/run-init.sh
  server/graphql-engine.cabal
  server/tests-hspec/BasicFieldsSpec.hs
  server/tests-hspec/Harness/Citus.hs
  server/tests-hspec/Harness/Constants.hs
  server/tests-hspec/Harness/Feature.hs
  server/tests-hspec/Harness/Sqlserver.hs
  server/tests-hspec/ServiceLivenessSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

tests: run server test shell files through shfmt for consistent indentation
  .circleci/test-deprecated-server-flags.sh
  .circleci/test-server-flags.sh
  .circleci/test-server.sh
Owners: @hasura/hge-changelog-owners

ci: add hotfix oss console pipeline
  scripts/get-console-assets-version.sh
Owners: @hasura/hge-changelog-owners

docs: update subscriptions use cases + securing action handler section
  docs/graphql/core/actions/action-handlers.rst
  docs/graphql/core/databases/postgres/subscriptions/use-cases.rst
Owners: @hasura/hge-docs-owners

console: update README.md
  console/README.md
Owners: @hasura/hge-console-owners

server: add MSSQL module haddocks
  server/src-lib/Hasura/Backends/MSSQL/DDL.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/Source.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/API.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Metadata.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/Plan.hs
  server/src-lib/Hasura/Backends/MSSQL/SQL/Value.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Update.hs
Owners: @hasura/hge-server

Add request body to OpenAPI
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/Server/OpenAPI.hs
  server/tests-py/queries/openapi/openapi_empty.yaml
  server/tests-py/queries/openapi/openapi_endpoint_with_multiple_methods.yaml
  server/tests-py/queries/openapi/openapi_get_endpoint_test_complex_arg.yaml
  server/tests-py/queries/openapi/openapi_get_endpoint_test_complex_args.yaml
  server/tests-py/queries/openapi/openapi_get_endpoint_test_simple.yaml
  server/tests-py/queries/openapi/openapi_multiple_endpoints_same_path.yaml
  server/tests-py/queries/openapi/openapi_multiple_endpoints_test.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_recursive_arg.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_args.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_args_url.yaml
  server/tests-py/queries/openapi/openapi_post_endpoint_test_with_default_arg.yaml
  server/tests-py/queries/openapi/setup.yaml
  server/tests-py/queries/openapi/teardown.yaml
  server/tests-py/test_openapi.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: migrate some components to TypeScript
  console/src/components/Common/HiddenMore/HiddenMore.js
  console/src/components/Common/HiddenMore/index.js
  console/src/components/Common/KnowMoreLink/KnowMoreLink.tsx
  console/src/components/Common/utils/urlUtils.ts
Owners: @hasura/hge-console-owners

server: Document and update HIE file for haskell integration suite
  sample.hie.yaml
  server/CONTRIBUTING.md
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Add docstrings to the module headers of a few selected mssql modules
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Schema.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Meta.hs
  server/src-lib/Hasura/Backends/MSSQL/Schema/IfMatched.hs
  server/src-lib/Hasura/Backends/MSSQL/ToQuery.hs
  server/src-lib/Hasura/Backends/MSSQL/Types.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Insert.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Instances.hs
  server/src-lib/Hasura/Backends/MSSQL/Types/Internal.hs
Owners: @hasura/hge-server

ci: add a new parallel job to build haddocks, to save CI time
  cabal.project.ci-haddock
  cabal.project.ci-haddock.freeze
  cabal.project.ci-haddock.local
Owners: @hasura/hge-changelog-owners

docs: minor editions on Access control page
  docs/graphql/core/auth/authorization/basics.rst
Owners: @hasura/hge-docs-owners

console: rename Timeout to Operation time limit
  console/src/components/Services/ApiExplorer/Security/LimitsFormWrapper.tsx
Owners: @hasura/hge-console-owners

console: migrate ColumnCreator component to TypeScript
  console/package-lock.json
  console/package.json
  console/src/components/Common/CustomInputAutoSuggest/CustomInputAutoSuggest.js
  console/src/components/Common/CustomInputAutoSuggest/CustomInputAutoSuggest.tsx
  console/src/components/Services/Data/Common/Components/ColumnTypeSelector.tsx
  console/src/components/Services/Data/Common/Components/FrequentlyUsedColumnSelector.tsx
  console/src/components/Services/Data/Common/GraphQLValidation.ts
  console/src/components/Services/Data/TableModify/ColumnCreator.tsx
  console/src/dataSources/types.ts
Owners: @hasura/hge-console-owners

server/mssql: rollback a transaction based on the transaction state
  CHANGELOG.md
  server/src-lib/Database/MSSQL/Transaction.hs
  server/src-lib/Hasura/Backends/MSSQL/Connection.hs
  server/src-test/Database/MSSQL/TransactionSpec.hs
  server/tests-py/queries/v2/mssql/run_sql/create_author_table_fail.yaml
  server/tests-py/test_v2_queries.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fix support for FLOAT64 in BigQuery
  CHANGELOG.md
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/tests-py/queries/graphql_query/bigquery/schema_setup_bigquery.yaml
  server/tests-py/queries/graphql_query/bigquery/select_query_all_types.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: update ekg forks
  cabal.project
  cabal.project.freeze
Owners: @hasura/hge-changelog-owners

Improvements to Update Operators api docs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Update.hs
Owners: @hasura/hge-server

docs: adding mssql insert and upsert docs
  docs/graphql/core/databases/ms-sql-server/index.rst
  docs/graphql/core/databases/ms-sql-server/mutations/index.rst
  docs/graphql/core/databases/ms-sql-server/mutations/insert.rst
  docs/graphql/core/databases/ms-sql-server/mutations/upsert.rst
  docs/graphql/core/databases/postgres/mutations/upsert.rst
Owners: @hasura/hge-docs-owners

server/gardening: rename mkMgr to mkHttpManager
  server/src-lib/Hasura/App.hs
  server/src-lib/Network/HTTP/Client/DynamicTlsPermissions.hs
Owners: @hasura/hge-server

cli: stop using healthz endpoint
  CHANGELOG.md
  cli/cli.go
  cli/util/server.go
Owners: @hasura/hge-changelog-owners, @hasura/hge-cli-owners

tests-hspec - custom finally and readme toc
  server/tests-hspec/Harness/Test/Feature.hs
  server/tests-hspec/README.md
Owners: @hasura/hge-server

console: fix action/remote schema permissions edit icons
  console/src/components/Services/Actions/Permissions/Permissions.js
  console/src/components/Services/RemoteSchema/Permissions/PermissionsTable.tsx
Owners: @hasura/hge-console-owners

console: add hooks for useTableColumns and useRemoteDatabaseRelationships
  console/.storybook/preview-body.html
  console/package-lock.json
  console/package.json
  console/src/features/MetadataAPI/__tests__/useRemoteDatabaseRelationships.test.tsx
  console/src/features/MetadataAPI/hooks/metadataSelectors.ts
  console/src/features/MetadataAPI/hooks/useMetadataTables.ts
  console/src/features/MetadataAPI/index.ts
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/index.ts
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/stories/createRemoteDatabaseRelationships.stories.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/stories/deleteRemoteDatabaseRelationship.stories.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/stories/updateRemoteDatabaseRelationship.stories.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/stories/useRemoteDatabaseRelationships.stories.tsx
  console/src/features/RemoteRelationships/RemoteDBRelationships/hooks/stories/wrapper.tsx
  console/src/features/SqlQueries/datasources/bigquery.ts
  console/src/features/SqlQueries/datasources/index.ts
  console/src/features/SqlQueries/datasources/mssql.ts
  console/src/features/SqlQueries/datasources/mysql.ts
  console/src/features/SqlQueries/datasources/postgres.ts
  console/src/features/SqlQueries/hooks/__tests__/useTableColumns.test.tsx
  console/src/features/SqlQueries/hooks/stories/useTableColumns.stories.tsx
  console/src/features/SqlQueries/hooks/useTableColumns.ts
Owners: @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
