Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

Group mutation nodes by connector (#406)
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/src/execute/plan.rs
  v3/crates/engine/src/metadata/resolved/data_connector.rs
Owners: @hasura/hge-changelog-owners

Upgrade indexmap and fix deprecation warnings. (#417)
  v3/Cargo.lock
  v3/crates/engine/src/execute/plan.rs
  v3/crates/engine/src/execute/process_response.rs
  v3/crates/engine/src/metadata/resolved/types.rs
Owners: @hasura/hge-changelog-owners

Upgrade ndc-spec and opentelemetry, and add a traceresponse header. (#416)
  v3/Cargo.lock
  v3/crates/custom-connector/Cargo.toml
  v3/crates/custom-connector/src/types.rs
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/hasura-authn-core/Cargo.toml
  v3/crates/lang-graphql/Cargo.toml
  v3/crates/open-dds/Cargo.toml
  v3/crates/tracing-util/Cargo.toml
Owners: @hasura/hge-changelog-owners

make user-facing spans human readable (#419)
  v3/crates/engine/bin/engine/main.rs
  v3/crates/engine/src/execute.rs
  v3/crates/engine/src/execute/ndc.rs
  v3/crates/engine/src/execute/plan.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners

Add some info on API limit page
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/Security/LimitsFormWrapper.tsx
Owners: @hasura/hge-changelog-owners

Fix explain for remote relationships (#422)
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/tests/explain/field_with_multi_remote_relationship_subfields/expected.json
  v3/crates/engine/tests/explain/field_with_nested_remote_relationship_1/expected.json
  v3/crates/engine/tests/explain/field_with_nested_remote_relationship_2/expected.json
Owners: @hasura/hge-changelog-owners

Fail schema generation if relationship name conflicts with object field name (#423)
  v3/crates/engine/src/schema.rs
  v3/crates/engine/src/schema/types/output_type.rs
  v3/crates/engine/tests/validate_metadata.rs
  v3/crates/engine/tests/validate_metadata_artifacts/relationships/conflicting_object_field_name_and_relationship_name.json
Owners: @hasura/hge-changelog-owners

docs: fix the pre-build dashboard boilerplate link
  docs/docs/observability/enterprise-edition/prometheus/pre-built-dashboards.mdx
Owners: @hasura/hge-docs-owners

ci: update ubi base image
  packaging/graphql-engine-base/ubi.dockerfile
Owners: @hasura/hge-changelog-owners

ci: update ubi base image
  packaging/graphql-engine-base/ubi.dockerfile
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: release v2.38.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.38.1-ce
  releases/v2.38.1-ce
Owners: @hasura/hge-changelog-owners

Fix a bug in usage of mockito. (#421)
  v3/Cargo.lock
  v3/crates/hasura-authn-jwt/src/jwt.rs
  v3/crates/hasura-authn-webhook/src/webhook.rs
Owners: @hasura/hge-changelog-owners

Listen on any IPv4 or any IPv6 address. (#428)
  v3/crates/engine/bin/engine/main.rs
Owners: @hasura/hge-changelog-owners

Set request payload limit to 10 MB (#429)
  v3/crates/engine/bin/engine/main.rs
Owners: @hasura/hge-changelog-owners

Run `cargo fmt` in CI (#431)
  v3/crates/custom-connector/src/query.rs
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/src/execute/ndc.rs
  v3/crates/engine/src/metadata/resolved/data_connector.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners

Avoid `.unwrap` in favor of `anyhow` for better error messages in tests. (#430)
  v3/Cargo.lock
  v3/crates/engine/tests/common.rs
  v3/crates/engine/tests/execution.rs
  v3/crates/engine/tests/explain.rs
  v3/crates/engine/tests/introspection.rs
  v3/crates/engine/tests/relationship.rs
  v3/crates/engine/tests/validate_metadata.rs
  v3/crates/hasura-authn-core/Cargo.toml
  v3/crates/hasura-authn-core/src/lib.rs
Owners: @hasura/hge-changelog-owners

Avoid using NDC client code from ndc-spec (#433)
  v3/crates/engine/src/execute/error.rs
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/src/execute/ndc.rs
  v3/crates/engine/src/execute/ndc/client.rs
  v3/crates/engine/src/metadata/resolved/ndc_validation.rs
Owners: @hasura/hge-changelog-owners

Docs: Update versions dropdown
  docs/docusaurus.config.js
Owners: @hasura/hge-docs-owners

Enforce titles are set on most metadata json schemas (#434)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/engine/src/authentication.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/tests/auth_config.jsonschema
  v3/crates/hasura-authn-jwt/src/jwt.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/permissions.rs
  v3/crates/open-dds/src/test_utils.rs
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

ci: tag release v2.10.1
  CHANGELOG.md
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

hotfix (console): set extensions schema on one click heroku database connections
  console/src/components/Services/Data/DataSources/CreateDataSource/Heroku/DBCreation.tsx
  console/src/components/Services/Data/DataSources/state.ts
Owners: @hasura/hge-console-owners

ci: update ubuntu base to latest focal release
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

Server: Enable streaming subscriptions by default
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Backend.hs
  server/src-lib/Hasura/GraphQL/Schema/Build.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/Server/Types.hs
Owners: @hasura/hge-server

server: add active_livequeries, active_streaming_subscriptions EKG metrics (cherry-pick #5627)
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/Server/Metrics.hs
Owners: @hasura/hge-server

ci: tag release v2.11.0 and v2.12.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server/postgres: fix string literals in arrays
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/SQL/Value.hs
  server/src-test/Hasura/Backends/Postgres/SQL/ValueSpec.hs
  server/tests-hspec/Test/Regression/ArrayLiteralTextEncodingSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.11.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console: Patch GraphiQL show lint error on v2.11
  console/package-lock.json
  console/package.json
Owners: @hasura/hge-console-owners

fixed checkbox logic for other types than select on permissions pages
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Owners: @hasura/hge-console-owners

Merge pull request #5477 from hasura/gil/fix_ulls_first
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/tests-hspec/Test/Regression/NullsOrderParsing8780Spec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.11.2 and v2.12.0
  scripts/tag-release.sh
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: hotfix hasura familiarity survey to v2.11
  console/exports/main.js
  console/src/features/GrowthExperiments/growthExperimentsConfigClient.ts
  console/src/features/GrowthExperiments/index.ts
  console/src/features/OnboardingWizard/Root.stories.tsx
  console/src/features/OnboardingWizard/Root.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.stories.tsx
  console/src/features/OnboardingWizard/components/ConnectDBScreen/ConnectDBScreen.tsx
  console/src/features/OnboardingWizard/hooks/useWizardState.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.stories.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/components/HasuraFamiliaritySurvey.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/familiaritySurveyOptionDetails.tsx
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/index.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/hooks/utils.ts
  console/src/features/Surveys/HasuraFamiliaritySurvey/index.ts
  console/src/features/Surveys/constants.ts
  console/src/features/Surveys/index.ts
  console/src/features/Surveys/types.ts
  console/src/features/Surveys/utils.ts
  console/src/hooks/cloudDataServiceApiClient.ts
  console/src/new-components/IconCardGroup/IconCardGroup.stories.tsx
  console/src/new-components/IconCardGroup/IconCardGroup.tsx
  console/src/new-components/IconCardGroup/index.tsx
Owners: @hasura/hge-console-owners

server: do not apply default tenant time limits to Hasura EE
  .circleci/test-server.sh
  .dockerignore
  scripts/dev.sh
  scripts/make/legacy-tests.mk
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Limits.hs
  server/tests-py/.gitignore
  server/tests-py/package-lock.json
  server/tests-py/package.json
  server/tests-py/remote_schemas/nodejs/package.json
  server/tests-py/test_version.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.15.2
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

[v2.11 backport] server: Fix permissions when running an `update_table_many` query.
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
Owners: @hasura/hge-server

pro/server: add user_id of the collaborator in http_log
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-lib/Hasura/Session.hs
Owners: @hasura/hge-server

ci: update base images
  packaging/graphql-engine-base/debian.dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: tag release v2.11.4
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.11.4-pro.1
  releases/v2.11.4-pro.1
Owners: @hasura/hge-changelog-owners
