Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

chore(server): split new statistics log from QueryLog (hotfix v2.21)
  scripts/make/run.mk
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Transport.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Logging/ExecutionLog.hs
  server/src-lib/Hasura/GraphQL/Logging/QueryLog.hs
  server/src-lib/Hasura/GraphQL/Transport/Backend.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Rest.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: update base image
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: tag release v2.21.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

frontend: fixup process env values
  frontend/custom-webpack.config.js
  frontend/tools/webpack/withNxEnvCleanup.js
Owners: @hasura/hge-changelog-owners

cherry-pick PR #8222 into release/v2.22
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

ci: tag release v2.22.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.22.0-beta.1
  releases/v2.22.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.22.0-beta.1-ce
  releases/v2.22.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.22.0-beta.1-cloud.1
  releases/v2.22.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

pro, server: fix event trigger log cleanup regression in Postgres event triggers (cherry-pick)
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
Owners: @hasura/hge-server

server: revert changes to created_at column
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersCreatedAtUTCSpec.hs
  server/lib/test-harness/src/Harness/Webhook.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source/Version.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/Server/Metrics.hs
  server/src-rsr/init_pg_source.sql
  server/src-rsr/pg_source_migrations/3_to_4.sql
Owners: @hasura/hge-server

ci: tag release v2.22.0-beta.2
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.22.0-beta.2
  releases/v2.22.0-beta.2
Owners: @hasura/hge-changelog-owners

ci: release v2.22.0-beta.2-ce
  releases/v2.22.0-beta.2-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.22.0-beta.2-cloud.1
  releases/v2.22.0-beta.2-cloud.1
Owners: @hasura/hge-changelog-owners

fix(server): error handling for serving console assets
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

chore(ci): show bigquery error details when requested
  .hlint.yaml
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

add rfc
  rfcs/openapi-to-hasura-single-action.md
Owners: @hasura/hge-changelog-owners

ci: tag release v2.22.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.22.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server: revert changes to created_at column of 'hdb_catalog.event_log'
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersCreatedAtUTCSpec.hs
  server/lib/test-harness/src/Harness/Webhook.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source/Version.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/Server/Metrics.hs
  server/src-rsr/init_pg_source.sql
  server/src-rsr/pg_source_migrations/3_to_4.sql
Owners: @hasura/hge-server

Process scheduled events with a timeout
  server/src-lib/Hasura/Base/Error.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
Owners: @hasura/hge-server

docs: add pointer to support from policies index
  docs/docs/policies/overview.mdx
Owners: @hasura/hge-docs-owners

server: improve connection template error message
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Connection/Settings.hs
Owners: @hasura/hge-server

server: add new metric for event trigger observability
  docs/docs/enterprise/metrics.mdx
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server: add new metrics for scheduled triggers
  docs/docs/enterprise/metrics.mdx
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: fix quick add dropdown of add operation from allow-list
  frontend/libs/console/legacy-ce/src/lib/features/QueryCollections/components/QueryCollectionOperationDialog/QuickAdd.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/DropdownMenu/DropdownMenu.tsx
Owners: @hasura/hge-changelog-owners

console: show PG trigger condition on Table modify page
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/TableModify/TriggerEditorList.js
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/types.ts
Owners: @hasura/hge-changelog-owners

fix rfc
  rfcs/openapi-to-hasura-single-action.md
Owners: @hasura/hge-changelog-owners

chore(frontend): Add testing library to the EE E2E tests
  frontend/apps/console-ce-e2e/src/e2e/actions/withTransform/actionWithTransform.e2e.test.ts
  frontend/apps/console-ce-e2e/src/e2e/smokeTest.e2e.test.ts
  frontend/apps/console-ee-e2e/src/e2e/smokeTest.e2e.cy.ts
  frontend/apps/console-ee-e2e/src/support/commands.ts
  frontend/apps/console-ee-e2e/tsconfig.json
  frontend/libs/console/legacy-ce/src/lib/components/Main/Main.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Actions/Landing/Main.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataPageContainer.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Events/EventTriggers/Landing/EventTrigger.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Landing/RemoteSchema.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/MetadataOptions/ExportMetadata.js
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
Owners: @hasura/hge-changelog-owners

Google
  community/boilerplates/remote-schemas/google-cloud-functions/nodejs/Google
Owners: @hasura/hge-changelog-owners

server/pro/cloud: add resolved connection template context in error response in dev mode
  docs/docs/deployment/graphql-engine-flags/config-examples.mdx
  server/src-lib/Hasura/Base/Error.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: allow support for geometric type columns on the permissions UI
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/Entry.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/EntryType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/RowPermissionsInput.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/ValueInputType.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/comparators.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/__tests__/fixtures/tables.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/comparatorsFromSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/components/utils/helpers.ts
Owners: @hasura/hge-changelog-owners

Support _is_null operator in MSSQL permissions. fix #8479
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
Owners: @hasura/hge-server

ci(server): fix hlint ignore pragmas
  .hlint.yaml
  server/src-exec/Main.hs
  server/src-lib/Data/Environment.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update documentation for main.
  server/haddock/main/src/Data.Environment.html
Owners: @hasura/hge-server

feature(server): custom return types as discreet metadata entity
  cli/internal/metadatautil/testdata/json/t2/metadata.json
  cli/internal/metadatautil/testdata/json/t2/want.metadata.yaml
  metadata.openapi.json
  server/graphql-engine.cabal
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/Metadata/CustomTypeSpec.hs
  server/lib/test-harness/src/Harness/Schema.hs
  server/lib/test-harness/src/Harness/Schema/Table.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Backends/MSSQL/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/API.hs
  server/src-lib/Hasura/CustomReturnType.hs
  server/src-lib/Hasura/CustomReturnType/API.hs
  server/src-lib/Hasura/CustomReturnType/Cache.hs
  server/src-lib/Hasura/CustomReturnType/Metadata.hs
  server/src-lib/Hasura/CustomReturnType/Types.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Server/API/Backend.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Metadata.hs-boot
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-test/Hasura/GraphQL/Schema/BoolExp/AggregationPredicatesSpec.hs
  server/src-test/Test/Parser/Expectation.hs
Owners: @hasura/hge-cli-owners, @hasura/hge-changelog-owners, @hasura/hge-server

server: codecs for backend configs
  metadata.openapi.json
  server/graphql-engine.cabal
  server/lib/api-tests/src/Test/DataConnector/MetadataApiSpec.hs
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Data/HashMap/Strict/InsOrd/Autodocodec.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/Metadata/DTO/Utils.hs
  server/src-lib/Hasura/RQL/DDL/DataConnector.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/DDL/SourceKinds.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/ApiLimit.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/src-lib/Hasura/RQL/Types/Endpoint.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Local.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/Core.hs
  server/src-lib/Hasura/RemoteSchema/Metadata/RemoteRelationship.hs
  server/src-lib/Hasura/SQL/AnyBackend.hs
  server/src-lib/Hasura/SQL/BackendMap.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
  server/src-test/Hasura/SQL/BackendMapSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: core changes for zero-downtime env vars update on cloud
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/AppStateRef.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/test-postgres/Test/Hasura/StreamingSubscriptionSuite.hs
Owners: @hasura/hge-server

chore(tests): pass BigQuery service account env var through to HGE
  server/lib/api-tests/src/SpecHook.hs
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/GlobalTestEnvironment.hs
  server/lib/test-harness/src/Harness/PassthroughEnvVars.hs
  server/lib/test-harness/src/Harness/Services/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
  server/lib/test-harness/src/Harness/UniqueTestId.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
