Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

server/tests: Integrated tool to probe pg compatibility
  scripts/probe-pg-compatibility.sh
Owners: @hasura/hge-changelog-owners

[server/tests] fallback to default postgres port when none is provided
  scripts/make/ghcid.mk
  scripts/make/tests.mk
  server/lib/api-tests/README.md
  server/lib/api-tests/test/SpecHook.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Add Uppercase option to tests-dc-api
  server/lib/dc-api/test/Command.hs
  server/lib/dc-api/test/Test/Data.hs
Owners: @hasura/hge-server

Prevents creation of duplicate GDC agent source kinds.
  server/src-lib/Hasura/RQL/DDL/DataConnector.hs
  server/src-lib/Hasura/RQL/DDL/SourceKinds.hs
Owners: @hasura/hge-server

Fix Data Connector TS type generation CI check and regenerate types
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
Owners: @hasura/hge-changelog-owners

cli: refactor `internal/metadataobject/actions/cli_extension` and `internal/metadataobject/actions/editor` packages to use `internal/errors`
  cli/internal/metadataobject/actions/cli_extension/cli_extension.go
  cli/internal/metadataobject/actions/cli_extension/util.go
  cli/internal/metadataobject/actions/editor/editor.go
Owners: @hasura/hge-cli-owners

cli: refactor `internal/metadatautil` package to use `internal/errors`
  cli/internal/metadatautil/json.go
  cli/internal/metadatautil/json_test.go
  cli/internal/metadatautil/sources.go
  cli/internal/metadatautil/sources_test.go
  cli/internal/metadatautil/yaml.go
  cli/internal/metadatautil/yaml_test.go
Owners: @hasura/hge-cli-owners

Bump `aeson` to v2.1, drop the `Extended` module
  cabal.project
  cabal.project.freeze
  server/graphql-engine.cabal
  server/lib/test-harness/src/Harness/Yaml.hs
  server/src-lib/Data/Aeson/KeyMap/Extended.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ghc 9.2.5
  .ghcversion
  cabal.project
  cabal.project.freeze
  flake.lock
  flake.nix
  nix/nixpkgs.nix
  nix/overlays/ghc.nix
  scripts/cabal-freeze-update.sh
  server/COMPILING-ON-MACOS.md
  server/CONTRIBUTING.md
  server/VERSIONS.json
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Control/Monad/Circular.hs
  server/src-lib/Data/HashMap/Strict/Extended.hs
  server/src-lib/Data/HashMap/Strict/InsOrd/Extended.hs
  server/src-lib/Data/HashMap/Strict/Multi.hs
  server/src-lib/Data/HashMap/Strict/NonEmpty.hs
  server/src-lib/Data/List/Extended.hs
  server/src-lib/Data/Trie.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Collect.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/TMap.hs
  server/src-lib/Hasura/Incremental/Internal/Rule.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Allowlist.hs
  server/src-lib/Hasura/RQL/Types/Endpoint/Trie.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/Roles/Internal.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-test/Hasura/Generator/Common.hs
  server/src-test/Hasura/QuickCheck/Instances.hs
  server/src-test/Hasura/RQL/IR/Generator.hs
  server/src-test/Hasura/RQL/Types/EndpointSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Simplify `BuildOutputs`
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Network.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Object.hs
Owners: @hasura/hge-server

NDAT-295 Cleanup Tests.Schema structure
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/Schema/ComputedFieldsSpec.hs
  server/lib/api-tests/test/Test/Schema/DataValidations/Permissions/InsertSpec.hs
  server/lib/api-tests/test/Test/Schema/DataValidations/Permissions/SelectSpec.hs
  server/lib/api-tests/test/Test/Schema/EnumsSpec.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/FromRemoteSchemaSpec.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/MetadataAPI/ClearMetadataSpec.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/MetadataAPI/Common.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/MetadataAPI/DropSource/DBtoDBRelationshipSpec.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/MetadataAPI/DropSource/RSToDBRelationshipSpec.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/XToDBObjectRelationshipSpec.hs
  server/lib/api-tests/test/Test/Schema/RemoteRelationships/XToRemoteSchemaRelationshipSpec.hs
Owners: @hasura/hge-server

docs: elastic connection pooling in cloud
  docs/docs/api-reference/syntax-defs.mdx
  docs/docs/databases/connect-db/cloud-connection-pooling.mdx
  docs/static/img/databases/total-max-connections.png
Owners: @hasura/hge-docs-owners

Share database configuration across tests.
  docker-compose.yaml
  docker-compose/databases.yaml
  docker-compose/sqlserver-init/docker-compose.yaml
  docker-compose/sqlserver-init/init.sh
  server/tests-py/docker-compose.yml
  server/tests-py/run-new.sh
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: Wiki add Hasura features and headings info
  docs/wiki/style/hasura-features.mdx
  docs/wiki/style/headings.mdx
Owners: @hasura/hge-docs-owners

Allow collecting metadata dependencies and inconsistencies separately
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Backend.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Build.hs
  server/src-test/Hasura/RQL/Types/CommonSpec.hs
Owners: @hasura/hge-server

NDAT-295 Cleanup Tests.Query structure
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/test/Test/API/ExplainSpec.hs
  server/lib/api-tests/test/Test/Queries/Directives/IncludeAndSkipSpec.hs
  server/lib/api-tests/test/Test/Queries/FilterSearch/AggregationPredicatesSpec.hs
  server/lib/api-tests/test/Test/Queries/FilterSearch/FilterSearchSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/AliasesSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/DirectivesSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/IncludeAndSkipSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/IncludeSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/SkipSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/FragmentsSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/VariablesSpec.hs
  server/lib/api-tests/test/Test/Regression/MultiColumnObjectRelationshipsSpec.hs
Owners: @hasura/hge-server

docs: remove mysql docs and all references
  docs/docs/databases/mysql/getting-started.mdx
  docs/docs/databases/mysql/index.mdx
Owners: @hasura/hge-docs-owners

server/tests-py: Spawn a new PostgreSQL schema ("database") per test.
  .circleci/test-server.sh
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/docker-compose.yml
  server/tests-py/docker/postgres-init.sh
  server/tests-py/fixtures/hge.py
  server/tests-py/fixtures/postgres.py
  server/tests-py/queries/graphql_query/read_only_source/setup.yaml
  server/tests-py/queries/graphql_query/read_only_source/setup_citus.yaml
  server/tests-py/queries/graphql_query/read_only_source/teardown.yaml
  server/tests-py/queries/graphql_query/read_only_source/teardown_citus.yaml
  server/tests-py/run-new.sh
  server/tests-py/test_apis_disabled.py
  server/tests-py/test_graphql_read_only_source.py
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Update upgrade-ce-to-ee.mdx
  docs/docs/enterprise/upgrade-ce-to-ee.mdx
Owners: @hasura/hge-docs-owners

Make Schema Cache building code slightly more readable
  server/src-lib/Control/Arrow/Extended.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Build.hs
Owners: @hasura/hge-server

super-connector: More coalesce defaults for rows/aggregates
  server/lib/dc-api/test/Test/QuerySpec/AggregatesSpec.hs
Owners: @hasura/hge-server

[nix] Moves graphql-parser into an overlay and updates hedgehog dependency
  flake.nix
  nix/nixpkgs.nix
  nix/overlays/graphql-parser.nix
Owners: @hasura/hge-changelog-owners

docs: update upgrade-ce-to-ee.mdx
  docs/docs/enterprise/upgrade-ce-to-ee.mdx
Owners: @hasura/hge-docs-owners

Run Data Connector agent test suite against Athena in CI [GDC-509]
  .gitignore
Owners: @hasura/hge-changelog-owners

server: do not apply default tenant time limits to Hasura EE
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/Limits.hs
Owners: @hasura/hge-server

ci: tag release v2.13.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: catalog version update for v2.13.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: add catalog version for v2.14.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.14.0-beta.2
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.13.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.14.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.15.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.15.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.15.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.15.1
  releases/v2.15.1
Owners: @hasura/hge-changelog-owners

ci: release v2.15.1-ce
  releases/v2.15.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.15.1-cloud.1
  releases/v2.15.1-cloud.1
Owners: @hasura/hge-changelog-owners

String interpolation for Citus backend modules
  server/lib/test-harness/src/Harness/Backend/Citus.hs
Owners: @hasura/hge-server

Remove MySQL tests
  server/lib/api-tests/test/Test/API/ExplainSpec.hs
  server/lib/api-tests/test/Test/Queries/FilterSearch/FilterSearchSpec.hs
  server/lib/api-tests/test/Test/Queries/NestedObjectSpec.hs
  server/lib/api-tests/test/Test/Queries/Paginate/LimitSpec.hs
  server/lib/api-tests/test/Test/Queries/Paginate/OffsetSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/NoQueriesAvailableSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/ObjectQueriesSpec.hs
  server/lib/api-tests/test/Test/Queries/Simple/OperationNameSpec.hs
  server/lib/api-tests/test/Test/Queries/SortSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/AliasesSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/DirectivesSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/IncludeAndSkipSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/IncludeSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/Directives/SkipSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/FragmentsSpec.hs
  server/lib/api-tests/test/Test/Queries/VariablesAliasesFragments/VariablesSpec.hs
  server/lib/api-tests/test/Test/Regression/MultiColumnObjectRelationshipsSpec.hs
  server/lib/api-tests/test/Test/Schema/CustomFieldNames/QuerySpec.hs
  server/lib/api-tests/test/Test/Schema/TableRelationships/ArrayRelationshipsSpec.hs
  server/lib/api-tests/test/Test/Schema/TableRelationships/ObjectRelationshipsSpec.hs
  server/lib/api-tests/test/Test/Schema/ViewsSpec.hs
  server/lib/test-harness/src/Harness/Backend/Mysql.hs
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/Test/BackendType.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
  server/lib/test-harness/src/Harness/Test/SchemaName.hs
  server/lib/test-harness/test-harness.cabal
  server/tests-py/README.md
  server/tests-py/queries/explain/permissions_query_mysql.yaml
  server/tests-py/queries/explain/schema_setup_mysql.yaml
  server/tests-py/queries/explain/schema_teardown_mysql.yaml
  server/tests-py/queries/explain/setup_mysql.yaml
  server/tests-py/queries/explain/simple_query_mysql.yaml
  server/tests-py/queries/explain/teardown_mysql.yaml
Owners: @hasura/hge-server

Remove `hpack` and its CI jobs
  scripts/hpack.sh
  scripts/make/build.mk
  scripts/make/lint.mk
  server/lib/aeson-ordered/aeson-ordered.cabal
  server/lib/aeson-ordered/package.yaml
  server/lib/common.yaml
  server/lib/error-message/hasura-error-message.cabal
  server/lib/error-message/package.yaml
  server/lib/schema-parsers/hasura-schema-parsers.cabal
  server/lib/schema-parsers/package.yaml
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
