Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

update content
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/what-next.md
Owners: @shahidhk

learn: add custom auth webhook for tutorials (#2154)
  community/learn/graphql-tutorials/backend-services/auth-server/.dockerignore
  community/learn/graphql-tutorials/backend-services/auth-server/.gitignore
  community/learn/graphql-tutorials/backend-services/auth-server/Dockerfile
  community/learn/graphql-tutorials/backend-services/auth-server/Procfile
  community/learn/graphql-tutorials/backend-services/auth-server/README.md
  community/learn/graphql-tutorials/backend-services/auth-server/app.js
  community/learn/graphql-tutorials/backend-services/auth-server/config/passport.js
  community/learn/graphql-tutorials/backend-services/auth-server/controllers/user.js
  community/learn/graphql-tutorials/backend-services/auth-server/db/errors.js
  community/learn/graphql-tutorials/backend-services/auth-server/db/migrations/20180917160913_users.js
  community/learn/graphql-tutorials/backend-services/auth-server/db/schema.js
  community/learn/graphql-tutorials/backend-services/auth-server/knexfile.js
  community/learn/graphql-tutorials/backend-services/auth-server/package-lock.json
  community/learn/graphql-tutorials/backend-services/auth-server/package.json
  community/learn/graphql-tutorials/backend-services/auth-webhook/.dockerignore
  community/learn/graphql-tutorials/backend-services/auth-webhook/.gitignore
  community/learn/graphql-tutorials/backend-services/auth-webhook/Dockerfile
  community/learn/graphql-tutorials/backend-services/auth-webhook/README.md
  community/learn/graphql-tutorials/backend-services/auth-webhook/package.json
  community/learn/graphql-tutorials/backend-services/auth-webhook/server.js
  community/learn/graphql-tutorials/backend-services/hasura/migrations/1557464861534_alter_table_public_users_add_column_password.down.yaml
  community/learn/graphql-tutorials/backend-services/hasura/migrations/1557464861534_alter_table_public_users_add_column_password.up.yaml
  community/learn/graphql-tutorials/hasura-secret.yaml.sample
  community/learn/graphql-tutorials/manifests/auth-jwt-server.yaml
  community/learn/graphql-tutorials/manifests/auth-webhook.yaml
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
Owners: @shahidhk

update hasura.yaml
  community/learn/graphql-tutorials/manifests/hasura.yaml
Owners: @shahidhk

update semver
  console/src/helpers/semver.js
Owners: @rikinsk

don't send init on existing connection
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Client.hs
Owners: @0x777

update manifest
  community/learn/graphql-tutorials/manifests/auth-jwt-server.yaml
  community/learn/graphql-tutorials/manifests/auth-webhook.yaml
Owners: @shahidhk

do not enforce allowlist on admin role
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/tests-py/queries/graphql_query/allowlist/query_as_admin.yaml
  server/tests-py/queries/graphql_query/allowlist/query_non_allowlist.yaml
  server/tests-py/queries/graphql_query/allowlist/query_user.yaml
  server/tests-py/queries/graphql_query/allowlist/query_user_by_pk.yaml
  server/tests-py/queries/graphql_query/allowlist/query_user_with_typename.yaml
  server/tests-py/queries/graphql_query/allowlist/setup.yaml
  server/tests-py/test_allowlist_queries.py
Owners: @0x777

fix browse rows update bug
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
Owners: @rikinsk

update server
  community/learn/graphql-tutorials/backend-services/auth-webhook/server.js
Owners: @shahidhk

Checkbox update
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/UI/CheckBox/CheckBox.js
Owners: @rikinsk

revert package-lock.json
  console/package-lock.json
Owners: @rikinsk

use add to allowlist api
  console/src/components/Services/Metadata/Actions.js
  console/src/helpers/semver.js
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/query-collections.rst
Owners: @rikinsk

bug fix
  console/src/components/Services/Metadata/Actions.js
Owners: @rikinsk

add test for websocket connection close on jwt expiry
  server/tests-py/test_jwt.py
  server/tests-py/test_subscriptions.py
Owners: @0x777

update expiry time to 24h
  community/learn/graphql-tutorials/backend-services/auth-server/controllers/user.js
Owners: @shahidhk

fix syntax
  docs/graphql/manual/auth/basics.rst
Owners: @rikinsk

fix jwt expiry
  community/learn/graphql-tutorials/backend-services/auth-server/controllers/user.js
Owners: @shahidhk

f
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
Owners: @rikinsk

ask confirmation before delete allowed-query
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueriesList.js
Owners: @rikinsk

update todo queries
  community/sample-apps/react-apollo-todo/src/components/Todo/TodoQueries.js
Owners: @shahidhk

community: react-apollo-todo: fix update todo queries (#2157)
  community/sample-apps/react-apollo-todo/src/components/Todo/TodoQueries.js
Owners: @shahidhk

on schema change, dont reset allSchemas state instead append to allSchemas state
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/utils.js
Owners: @rikinsk

fix semver issues
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
Owners: @rikinsk

add custom auth
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/package.json
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/apollo.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/authActions.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/images/learn-hasura.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/navigation/DrawerNavigator.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/navigation/Main.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/navigation/TodosTabNavigator.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthLoadingScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/LogoutScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/TodoScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Login.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/LoginForm.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Signup.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Textbox.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/TodoItem.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todos.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/yarn.lock
Owners: @shahidhk

wip: static console assets
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/Version.hs
  server/src-rsr/console.html
Owners: @0x777

complete login UI
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/images/hasura_logo_horizontal_blue.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/images/learn-hasura.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/LoginForm.js
Owners: @shahidhk

add keyboardavoiding view
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthScreen.js
Owners: @shahidhk

lint
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/.eslintrc
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/apollo.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/navigation/DrawerNavigator.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/LoginForm.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todos.js
Owners: @shahidhk

add border to button
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todos.js
Owners: @shahidhk

restructure
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/App.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/navigation/Main.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/navigation/TodosTabNavigator.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/navigation/components/TabBarIcon.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthLoadingScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/AuthScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/LogoutScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/PrivateTodosScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/PublicTodosScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/TodoScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/UsersScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Auth/Login.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Auth/Signup.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todo/LoadNewer.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todo/LoadOlder.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todo/Textbox.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todo/TodoItem.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Todo/Todos.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Util/CenterSpinner.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Util/LoginForm.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/components/Util/MenuButton.js
Owners: @shahidhk

update boilerplate
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/package.json
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/screens/LogoutScreen.js
Owners: @shahidhk

update width
  console/src/components/Services/Metadata/Metadata.scss
  console/src/components/Services/Metadata/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Metadata/MetadataStatus/MetadataStatus.js
Owners: @rikinsk

update tutoral
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/.eslintrc
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/App.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/package.json
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/authActions.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/images/hasura_logo_horizontal_blue.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/navigation/DrawerNavigator.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/navigation/Main.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/navigation/TodosTabNavigator.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/navigation/components/TabBarIcon.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/AuthLoadingScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/AuthScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/LogoutScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/PrivateTodosScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/PublicTodosScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/TodoScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/UsersScreen.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Auth/Login.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Auth/Signup.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Todo/LoadNewer.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Todo/LoadOlder.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Todo/Textbox.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Todo/TodoItem.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Todo/Todos.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Util/CenterSpinner.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Util/LoginForm.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Util/MenuButton.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/yarn.lock
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/logout.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/mutations/2-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
Owners: @shahidhk

update text:
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueries.js
  console/src/components/Services/Metadata/AllowedQueries/AllowedQueriesNotes.js
Owners: @rikinsk

update paths in tutorial
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/load-older/2-load-more-todos-integration.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/2-run-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/3-sync-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/4-remove-todos-integration.md
Owners: @shahidhk

fix bug
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
Owners: @rikinsk

clean up tutorial
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/screens/components/Todo/LoadNewer.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/assets/after-logging-in.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/assets/after-login.jpg
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/assets/boilerplate-after-login.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/assets/boilerplate-initial-ui.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/assets/graphiql-after-login.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/assets/realtime-feed.png
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/load-older/2-load-more-todos-integration.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/logout.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/mutations/2-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/3-handle-errors.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/2-run-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/3-sync-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/4-remove-todos-integration.md
Owners: @shahidhk

fix bug
  console/src/components/Services/Common/Landing/TryItOut.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
Owners: @rikinsk

clean up tutorial
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/assets/after-login.jpg
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/load-older/1-load-more-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/load-older/2-load-more-todos-integration.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/logout.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/mutations/2-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/3-handle-errors.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/2-run-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/3-sync-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/4-remove-todos-integration.md
Owners: @shahidhk

fix broken path
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions/1-subscription.md
Owners: @shahidhk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk
