Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Add support for data redaction to the reference agent and added agent tests
  dc-agents/reference/src/capabilities.ts
  dc-agents/reference/src/functions.ts
  dc-agents/reference/src/query.ts
  dc-agents/reference/src/util.ts
  server/lib/api-tests/src/Test/DataConnector/MetadataApiSpec.hs
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Expression.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/OrderBy.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Query.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/RedactionSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: allow `useCreateTableRelationships` hook to work even if some DC-agent capabilities are not reachable
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useAllDriverCapabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/Widget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useSourceOptions.ts
Owners: @hasura/hge-changelog-owners

feat: improve remote schema relationships UX
  frontend/apps/console-ce-e2e/src/e2e/remote-schemas/rs-to-db-relationships/rs-to-db-relationship.test.ts
  frontend/apps/console-ce-e2e/src/e2e/remote-schemas/rs-to-rs-relationship/__snapshots__/rs-to-rs-relationship.test.ts.snap
  frontend/apps/console-ce-e2e/src/e2e/remote-schemas/rs-to-rs-relationship/rs-to-rs-relationship.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/RemoteSchema/Relationships/RemoteSchemaRelationRenderer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteDBRelationships/DbToRSRelationships/DbtoRsForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RefRsSelector/RefRsSelector.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/FormElements.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToDB/RemoteSchemaToDBForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/FormElements.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/RemoteSchemaToRemoteSchemaForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaToRemoteSchemaForm/hooks/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/RemoteSchemaTree.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/components/ArgValueForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaTree/utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RelationshipOverview.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RemoteSchemaWidget/RemoteSchemaWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RsSourceTypeSelector/RsSourceTypeSelector.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/components/RsSourceTypeSelector/RsSourceTypeSelector.tsx
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/types/schemas.ts
  frontend/libs/console/legacy-ce/src/lib/features/RemoteRelationships/RemoteSchemaRelationships/utils.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Form/SelectField.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/MapSelector/MapSelector.tsx
Owners: @hasura/hge-changelog-owners

server: configuration to specify which Header to pick for JWT Authentication
  docs/docs/auth/authentication/jwt.mdx
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/tests-py/test_jwt.py
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: add support for improved function tracking in the new tracking UI for postgres/mssql
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/Schema.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TrackTablesContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/ManageTrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackFunctionForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/UntrackedFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/hooks/useUntrackedFunctions.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useTrackableFunctions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getTableColumns.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/introspection/getTrackableFunctions.ts
Owners: @hasura/hge-changelog-owners

docs: add open telemetry changes to the docs
  docs/docs/hasura-cloud/overview.mdx
  docs/docs/observability/opentelemetry.mdx
  docs/docs/observability/overview.mdx
Owners: @hasura/hge-docs-owners

docs: add update to cli migrations image
  docs/docs/migrations-metadata-seeds/auto-apply-migrations.mdx
Owners: @hasura/hge-docs-owners

console: add synchronous way to get feature flags
  frontend/libs/console/legacy-ce/src/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/FeatureFlags/hooks/useFeatureFlags.ts
Owners: @hasura/hge-changelog-owners

Docs: Add AI Chatbot
  docs/docusaurus.config.js
  docs/src/components/CustomDocItem/index.tsx
  docs/src/css/custom.scss
Owners: @hasura/hge-docs-owners

console: table tracking gardening
  frontend/libs/console/legacy-ce/src/lib/components/Common/utils/tsUtils.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/TrackTablesContainer.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/CustomFieldNames/LegacyWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/CustomFieldNames/utils.spec.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/CustomFieldNames/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModel/DisplayLogicalModelReferencedEntities.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.Route.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/components/TrackableResourceTabs.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/SchemaDropdown.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/parts/TableList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackFunctions/components/TrackFunctionForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/ManageSuggestedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/components/ReactQueryWrappers/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/FeatureFlags/availableFeatureFlags.ts
Owners: @hasura/hge-changelog-owners

console: fix storybook performance and stability issues due to console type addon
  frontend/.storybook/main.ts
  frontend/libs/console/legacy-ce/.storybook/preview-head.html
  frontend/libs/console/legacy-ce/src/lib/Globals.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/About/About.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/Sidebar.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/ConnectDatabase.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LandingPage/LandingPage.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ApiSecurityTab/ApiSecurityTab.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/ETAutoCleanupWrapper/ETAutoCleanupWrapper.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/MultipleAdminSecrets/MultipleAdminSecretsPage.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/MultipleJWTSecrets/MultipleJWTSecretsPage.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/NavbarButton.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/EETrial/components/SingleSignOn/SingleSignOnPage.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryFeature.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/OpenTelemetryProvider.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/LogicalModelPermissions/LogicalModelPermissionsPage.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Prometheus/PrometheusSettings.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/QueryResponseCaching/QueryResponseCaching.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/console-type/MenuContent.tsx
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/console-type/console-type.tsx
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/console-type/constants.ts
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/console-type/menu-container-styles.ts
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/console-type/storybook-globals.ts
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/console-type/types.ts
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/console-type/utils.ts
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/images/hasura-icon-mono-light.svg
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/images/hasura-icon-primary.svg
  frontend/libs/console/legacy-ce/src/lib/storybook/decorators/index.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

console: new nav tree component updates
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/NavTree.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/DatabaseNodeItem.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/FunctionNodeItem.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/TableNodeItem.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/TreeComponent.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/components/TreeComponent.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/selectors.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/NavTree/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/NavTree.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/NavTree.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/components/DataSourceTreeNode.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/components/DatabaseItemTreeNode.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/components/GetHighlightedText.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/components/TreeComponent.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/components/TreeComponent.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/components/useTreeHeight.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/mocks/handlers.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/mocks/mockData.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/selectors.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/NavTree/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/Sidebar.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/Sidebar.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/SidebarContext.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/SidebarLink.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/constants.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/styles.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/utils.ts
Owners: @hasura/hge-changelog-owners

console (hotfix): remove EE check and fix subtitle
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
Owners: @hasura/hge-changelog-owners

Nested permissions
  server/graphql-engine.cabal
  server/src-lib/Hasura/LogicalModel/Cache.hs
  server/src-lib/Hasura/LogicalModel/Fields.hs
  server/src-lib/Hasura/LogicalModel/Metadata.hs
  server/src-lib/Hasura/LogicalModel/Types.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Source.hs
  server/src-lib/Hasura/Table/Cache.hs
Owners: @hasura/hge-server

docs: backport hotfix ref change for images
  docs/docs/migrations-metadata-seeds/auto-apply-migrations.mdx
Owners: @hasura/hge-docs-owners

Upgrade the Nix lockfile and fix ghcid on macOS.
  flake.lock
  nix/nixpkgs.nix
  nix/overlays/ghc.nix
  nix/overlays/ormolu.nix
  nix/shell.nix
  server/VERSIONS.json
  server/src-test/Test/Backend/Postgres/Update.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Revert back to the old naming convention for suggested relationships
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/components/TrackedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/utils/adaptTrackRelationship.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/components/utils/adaptTrackRelationship.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/DatabaseRelationships.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
Owners: @hasura/hge-changelog-owners

console: Fix incorrect EE License behavior in Native Queries
  frontend/libs/console/legacy-ce/src/lib/components/Services/Settings/About/About.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/AddNativeQuery/AddNativeQuery.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/LogicalModelWidget/LogicalModelWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/components/RouteWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/LogicalModels/hook.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/components/ReactQueryWrappers/utils.ts
Owners: @hasura/hge-changelog-owners

docs: add note about billing pausing
  docs/docs/hasura-cloud/account-management/billing/index.mdx
Owners: @hasura/hge-docs-owners

console: remove feature flag for GDC UI
  frontend/libs/console/legacy-ce/src/lib/features/FeatureFlags/availableFeatureFlags.ts
Owners: @hasura/hge-changelog-owners

server: fix for #9552: respect enabled data_types list
  server/src-lib/Hasura/RQL/DDL/OpenTelemetry.hs
Owners: @hasura/hge-server

Improve support for array data types
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Add/AddActions.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Add/AddTable.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Add/TableColumn.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/TooltipMessages.js
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/bigquery/index.tsx
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/mssql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/dataSources/services/postgresql/index.tsx
  frontend/libs/console/legacy-ce/src/lib/dataSources/types.ts
Owners: @hasura/hge-changelog-owners

docs: add jupyter notebooks for data connectors
  docs/docs/databases/data-connectors.mdx
  docs/docs/databases/data-connectors/_category_.json
  docs/docs/databases/data-connectors/adding-data-connectors.mdx
  docs/docs/databases/data-connectors/data-connector-sdk.mdx
  docs/docs/databases/data-connectors/index.mdx
  docs/docs/databases/data-connectors/jupyter-notebooks.mdx
  docs/static/img/databases/data-connector/jupyter-arch.png
  docs/static/img/databases/data-connector/jupyter-contents.png
  docs/static/img/databases/data-connector/jupyter-start.png
Owners: @hasura/hge-docs-owners

Check worker status before calling success callback
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
Owners: @hasura/hge-changelog-owners

server: Remove Weeder.
  cabal.project
  server/lib/graphql-parser/.gitignore
  server/lib/graphql-parser/.ormolu
  server/lib/graphql-parser/cabal.project
  server/lib/graphql-parser/ci/ci.project
  server/lib/graphql-parser/ci/ci.project.freeze
  server/lib/graphql-parser/ci/ci.project.local
  server/lib/graphql-parser/ci/weeder.project
  server/lib/graphql-parser/ci/weeder.project.freeze
  server/lib/graphql-parser/ci/weeder.project.local
  server/lib/graphql-parser/weeder.dhall
  server/lib/pg-client/.gitignore
  server/lib/pg-client/cabal.project
  server/lib/pg-client/ci/ci.project
  server/lib/pg-client/ci/weeder.project
  server/lib/pg-client/stack.yaml
  server/lib/pg-client/stack.yaml.lock
  server/lib/pg-client/weeder.dhall
  weeder.dhall
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: add google cloud sql server guide
  docs/docs/databases/ms-sql-server/gcp.mdx
  docs/docs/databases/ms-sql-server/index.mdx
  docs/docs/databases/ms-sql-server/mssql.mdx
  docs/docs/databases/mysql/gcp.mdx
  docs/docs/databases/mysql/index.mdx
  docs/static/img/databases/ms-sql-server/add-network.png
  docs/static/img/databases/ms-sql-server/configure-instance-sql-server.png
  docs/static/img/databases/ms-sql-server/connections.png
  docs/static/img/databases/ms-sql-server/existing-db-setup.png
  docs/static/img/databases/ms-sql-server/ms-sql-complete.png
  docs/static/img/databases/ms-sql-server/public-ip-ms-sql.png
  docs/static/img/databases/ms-sql-server/select-sql-server.png
Owners: @hasura/hge-docs-owners

console: Check worker status before calling success callback (cherry-pick v2.31)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
Owners: @hasura/hge-changelog-owners

Remove worker_id from query
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
Owners: @hasura/hge-changelog-owners

docs: Hasura gateway plugin docs
  docs/docs/hasura-cli/gateway-plugin/_category_.json
  docs/docs/hasura-cli/gateway-plugin/commands/_category_.json
  docs/docs/hasura-cli/gateway-plugin/commands/gateway_build.mdx
  docs/docs/hasura-cli/gateway-plugin/commands/gateway_check.mdx
  docs/docs/hasura-cli/gateway-plugin/commands/gateway_publish.mdx
  docs/docs/hasura-cli/gateway-plugin/commands/index.mdx
  docs/docs/hasura-cli/gateway-plugin/index.mdx
Owners: @hasura/hge-docs-owners

console: add new icons for one-to-one and one-to-many relationships
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/components/TrackedRelationshipRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/TrackResources/TrackRelationships/components/UntrackedRelationshipRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/AvailableRelationshipsList/parts/RelationshipMapping.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipIcon.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/SuggestedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/images/one-to-many.svg
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/images/one-to-one.svg
Owners: @hasura/hge-changelog-owners

ci: tag release v2.32.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.32.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.32.0-beta.1
  releases/v2.32.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.32.0-beta.1-ce
  releases/v2.32.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.32.0-beta.1-cloud.1
  releases/v2.32.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

console: update openTelemetry docs link from console
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Form/Form.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Header/Hero/HeroDisabled.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetry/components/Header/Hero/HeroEnabled.tsx
Owners: @hasura/hge-changelog-owners

docs: transform vectordb page into subdirectory
  docs/docs/databases/vector-databases/_category_.json
  docs/docs/databases/vector-databases/index.mdx
  docs/docs/databases/vector-databases/weaviate.mdx
  docs/docs/databases/vector-dbs.mdx
  docs/static/img/databases/vector-dbs/vector-db-connect-db.png
  docs/static/img/databases/vector-dbs/weaviate/application.png
  docs/static/img/databases/vector-dbs/weaviate/candidate.png
  docs/static/img/databases/vector-dbs/weaviate/connect-weaveate-database.png
  docs/static/img/databases/vector-dbs/weaviate/data-manager-tab.png
  docs/static/img/databases/vector-dbs/weaviate/define-remote-relationship.png
  docs/static/img/databases/vector-dbs/weaviate/execute-query.png
  docs/static/img/databases/vector-dbs/weaviate/resume-store.png
  docs/static/img/databases/vector-dbs/weaviate/track-tables.png
  docs/static/img/databases/vector-dbs/weaviate/weaviate_add-agent.png
  docs/static/img/databases/vector-dbs/weaviate/weaviate_configure-agent.png
  docs/static/img/databases/vector-dbs/weaviate/weaviate_connect-db.png
Owners: @hasura/hge-docs-owners

docs: add alerting subdir for cloud monitoring
  docs/docs/observability/cloud-monitoring/alerting/_category_.json
  docs/docs/observability/cloud-monitoring/alerting/configure-alerts.mdx
  docs/docs/observability/cloud-monitoring/alerting/index.mdx
  docs/docs/observability/cloud-monitoring/index.mdx
  docs/static/img/observability/alerting-architecture.png
  docs/static/img/observability/alerting-config-email.png
  docs/static/img/observability/alerting-config-rules.png
  docs/static/img/observability/alerting-config-slack.png
  docs/static/img/observability/alerting-config.jpg
  docs/static/img/observability/alerting-email-template.png
  docs/static/img/observability/alerting-slack-template.png
Owners: @hasura/hge-docs-owners

console: remove typo from relationships list
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/AvailableRelationshipsList/parts/RelationshipMapping.tsx
Owners: @hasura/hge-changelog-owners

Fix inherited roles leaking supposedly-hidden data via aggregation predicates for BigQuery
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedaction/BigquerySpec.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-test/Hasura/Backends/BigQuery/TypesSpec.hs
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
