Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Inline format arguments into the format string when possible. (#703)
  v3/Cargo.toml
  v3/crates/custom-connector/src/query.rs
  v3/crates/execute/src/ir/relationship.rs
  v3/crates/execute/src/ir/selection_set.rs
  v3/crates/execute/src/lib.rs
  v3/crates/execute/src/ndc/response.rs
  v3/crates/execute/src/plan.rs
  v3/crates/execute/src/process_response.rs
  v3/crates/execute/src/remote_joins/collect.rs
  v3/crates/execute/src/remote_joins/join.rs
  v3/crates/lang-graphql/src/ast/common.rs
  v3/crates/lang-graphql/src/generate_sdl.rs
  v3/crates/lang-graphql/src/lexer/string.rs
  v3/crates/lang-graphql/src/parser.rs
  v3/crates/lang-graphql/src/schema/sdl.rs
  v3/crates/lang-graphql/tests/parser_test.rs
  v3/crates/metadata-resolve/src/helpers/http.rs
  v3/crates/metadata-resolve/src/stages/aggregates/mod.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/types/subgraph.rs
  v3/crates/open-dds/src/traits.rs
  v3/crates/query-usage-analytics/src/lib.rs
  v3/crates/schema/src/lib.rs
  v3/crates/utils/tracing-util/src/tracer.rs
Owners: @hasura/hge-changelog-owners

Revise JWK refresh documentation
  docs/docs/auth/authentication/jwt.mdx
  server/src-lib/Hasura/Server/Auth/JWT.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

Allow the OpenDDS schema ID to be partially overridden. (#710)
  v3/crates/utils/opendds-derive/src/container.rs
  v3/crates/utils/opendds-derive/src/helpers.rs
  v3/crates/utils/opendds-derive/src/lib.rs
Owners: @hasura/hge-changelog-owners

Add example boolean expression type metadata for an Elasticsearch range (#699)
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/range/metadata.json
Owners: @hasura/hge-changelog-owners

fix kriti template generation for array type
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.ts
Owners: @hasura/hge-changelog-owners

console: fix kriti template generation for array type(hotfix)
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.ts
Owners: @hasura/hge-changelog-owners

Docs: Update logo
  docs/static/img/logo.svg
Owners: @hasura/hge-docs-owners

Defer local relationship check until IR creation (#716)
  v3/crates/execute/src/ir/filter.rs
  v3/crates/schema/src/boolean_expression.rs
Owners: @hasura/hge-changelog-owners

add graphql query to traces
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

add `operation_name` and `parameterized_query_hash` to `hasura_graphql_requests_total` metric (cherry-pick)
  docs/docs/observability/enterprise-edition/prometheus/metrics.mdx
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/StreamingQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

add graphql query to traces (cherry-pick)
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

ci: tag release v2.36.6
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.36.6
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Fix typo in error message
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_eval.yaml
Owners: @hasura/hge-server

RFC - Include Deployment Configurations on Hasura DDN Project Files
  rfcs/DDN_CICD.md
Owners: @hasura/hge-changelog-owners

Fix typo in error message
  server/tests-py/queries/v1/metadata/test_webhook_transform_bad_eval.yaml
Owners: @hasura/hge-server

add graphql query to traces (cherry-pick)
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

remove draft text
  rfcs/DDN_CICD.md
Owners: @hasura/hge-changelog-owners

Header
  rfcs/DDN_CICD.md
Owners: @hasura/hge-changelog-owners

Actually thread through where those 60 seconds come from
  server/lib/hasura-prelude/src/Hasura/Prelude.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/tests-py/test_jwk.py
Owners: @hasura/hge-server

++
  rfcs/DDN_CICD.md
Owners: @hasura/hge-changelog-owners

qn +
  rfcs/DDN_CICD.md
Owners: @hasura/hge-changelog-owners

Update DDN_CICD.md
  rfcs/DDN_CICD.md
Owners: @hasura/hge-changelog-owners

Directives are always empty. Remove them. (#712)
  v3/README.md
  v3/crates/execute/tests/generate_ir/get_by_id/expected.json
  v3/crates/execute/tests/generate_ir/get_many/expected.json
  v3/crates/execute/tests/generate_ir/get_many_model_count/expected.json
  v3/crates/execute/tests/generate_ir/get_many_user_2/expected.json
  v3/crates/execute/tests/generate_ir/get_many_where/expected.json
  v3/crates/lang-graphql/src/normalized_ast.rs
  v3/crates/lang-graphql/src/validation/selection_set.rs
  v3/justfile
Owners: @hasura/hge-changelog-owners

Add aggregates over relationships to OpenDD (#725)
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/aggregates.rs
  v3/crates/open-dds/src/relationships.rs
  v3/crates/utils/opendds-derive/src/container.rs
  v3/crates/utils/opendds-derive/src/struct_derive.rs
Owners: @hasura/hge-changelog-owners

Avoid returning a `Result` when it is unnecessary. (#726)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/custom-connector/src/collections.rs
  v3/crates/custom-connector/src/collections/actors.rs
  v3/crates/custom-connector/src/collections/institutions.rs
  v3/crates/custom-connector/src/collections/movies.rs
  v3/crates/custom-connector/src/procedures.rs
  v3/crates/custom-connector/src/procedures/noop_procedure.rs
  v3/crates/execute/src/explain.rs
  v3/crates/execute/src/ir/permissions.rs
  v3/crates/lang-graphql/Cargo.toml
  v3/crates/lang-graphql/src/ast/common.rs
  v3/crates/lang-graphql/src/schema/build.rs
  v3/crates/lang-graphql/src/schema/sdl.rs
  v3/crates/metadata-resolve/tests/metadata_golden_tests.rs
  v3/crates/schema/src/model_filter_input.rs
  v3/crates/schema/src/query_root/select_many.rs
Owners: @hasura/hge-changelog-owners

Use `file` globs in `metadata-resolve` tests (#728)
  v3/crates/metadata-resolve/tests/failing/boolean_expression/data_connector_not_found/expected_error.txt
  v3/crates/metadata-resolve/tests/failing/boolean_expression/data_connector_not_found/metadata.json
  v3/crates/metadata-resolve/tests/metadata_golden_tests.rs
  v3/crates/metadata-resolve/tests/passing/boolean_expression_type/basic/metadata.json
  v3/crates/metadata-resolve/tests/passing/supergraph/no_subgraphs/metadata.json
Owners: @hasura/hge-changelog-owners

Tidy `models` metadata-resolve (#729)
  v3/crates/metadata-resolve/src/stages/models/aggregation.rs
  v3/crates/metadata-resolve/src/stages/models/filter.rs
  v3/crates/metadata-resolve/src/stages/models/graphql.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/models/ordering.rs
  v3/crates/metadata-resolve/src/stages/models/source.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/object_boolean_expressions/types.rs
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.40.0-beta.1 and v2.40.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.40.0-beta.1
  releases/v2.40.0-beta.1
Owners: @hasura/hge-changelog-owners

ci: release v2.40.0-beta.1-ce
  releases/v2.40.0-beta.1-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.40.0-beta.1-cloud.1
  releases/v2.40.0-beta.1-cloud.1
Owners: @hasura/hge-changelog-owners

ci: release v2.40.0-cloud.1
  releases/v2.40.0-cloud.1
Owners: @hasura/hge-changelog-owners

ci: release v2.40.0-ce
  releases/v2.40.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.40.0
  releases/v2.40.0
Owners: @hasura/hge-changelog-owners

add postgres query to traces (cherry-pick)
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Source.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/test-postgres/Constants.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: fix kriti template generation for array type(hotfix)
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Actions/components/OASGenerator/utils.ts
Owners: @hasura/hge-changelog-owners

add graphql query to traces (cherry-pick)
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server/pro/opentelemetry: Fix missing overflow bucket in OTLP histogr…
  server/lib/ekg-prometheus/System/Metrics/Prometheus/Export.hs
  server/lib/ekg-prometheus/System/Metrics/Prometheus/Histogram.hs
  server/lib/ekg-prometheus/ekg-prometheus.cabal
  server/lib/ekg-prometheus/test/Histogram.hs
  server/lib/ekg-prometheus/test/Spec.hs
Owners: @hasura/hge-server

Docs: Rename refs to allowlist
  docs/docs/api-reference/metadata-api/network.mdx
  docs/docs/databases/athena/getting-started/cloud.mdx
  docs/docs/databases/clickhouse/getting-started/cloud.mdx
  docs/docs/databases/mongodb/mongodb-atlas.mdx
  docs/docs/databases/ms-sql-server/getting-started/cloud.mdx
  docs/docs/databases/redshift/getting-started/cloud.mdx
  docs/docs/databases/snowflake/getting-started/cloud.mdx
  docs/docs/deployment/tls-allow-list.mdx
  docs/docs/hasura-cloud/dedicated-vpc/aws-network-peering.mdx
  docs/docs/troubleshooting.mdx
Owners: @hasura/hge-docs-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
