Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shahidhk, @0x777, @rikinsk

test
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

test
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile
Owners: @shahidhk

add skip diff functionality
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-rsr/trigger.sql.j2
  server/tests-py/test_events.py
Owners: @0x777

update manifests
  community/learn/graphql-tutorials/manifests/graphiql.yaml
  community/learn/graphql-tutorials/manifests/homepage.yaml
  community/learn/graphql-tutorials/manifests/vue-apollo.yaml
Owners: @shahidhk

fix tests
  server/tests-py/test_graphql_queries.py
Owners: @0x777

invoke_event_trigger takes a payload param
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
Owners: @0x777

add tests for manual events
  server/tests-py/queries/event_triggers/manual_events/disabled.yaml
  server/tests-py/queries/event_triggers/manual_events/enabled.yaml
  server/tests-py/queries/event_triggers/manual_events/setup.yaml
  server/tests-py/queries/event_triggers/manual_events/teardown.yaml
  server/tests-py/test_events.py
Owners: @0x777

change manual default to True
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/tests-py/queries/event_triggers/create-delete/create_trigger_operation_specs_not_provided_err.yaml
Owners: @0x777

rename manual -> enableManual
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
Owners: @0x777

use graphql compliant errors in websocket
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @0x777

Console new design update
  console/src/components/UI/Alert/Alert.js
  console/src/components/UI/Alert/Alert.scss
  console/src/components/UI/Alert/images/check.svg
  console/src/components/UI/Alert/images/error.svg
  console/src/components/UI/Alert/images/info.svg
  console/src/components/UI/Alert/images/warning.svg
  console/src/components/UI/Alert/images/x-circle.svg
  console/src/components/UI/Button/Button.js
  console/src/components/UI/Button/Button.scss
  console/src/components/UI/Common.scss
  console/src/components/UI/Navigation/Navigation.js
  console/src/components/UI/Navigation/Navigation.scss
  console/src/components/UI/RadioBtn/RadioBtn.js
  console/src/components/UI/RadioBtn/RadioBtn.scss
  console/src/components/UI/SwitchButton/SwitchButton.js
  console/src/components/UI/SwitchButton/SwitchButton.scss
  console/src/components/UI/UITest/UITest.js
Owners: @rikinsk

fix nested errors keys
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @0x777

define toJSON instance to graphql executable document using printer
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Instances.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/stack.yaml
  server/tests-py/queries/graphql_query/whitelisted/setup.yaml
Owners: @0x777

update schema cache on column type and nullability changes, close #2101
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
Owners: @0x777

skip diff on empty cols
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-rsr/trigger.sql.j2
  server/tests-py/queries/event_triggers/listen_cols/setup.yaml
  server/tests-py/queries/event_triggers/listen_cols/teardown.yaml
  server/tests-py/test_events.py
Owners: @0x777

change response type for validation errors
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Owners: @0x777

add tests
  server/tests-py/queries/graphql_query/basic/select_query_user_col_change.yaml
  server/tests-py/test_graphql_queries.py
Owners: @0x777

added webhook handling auth0
  community/learn/graphql-tutorials/backend-services/auth-webhook/.gitignore
  community/learn/graphql-tutorials/backend-services/auth-webhook/README.md
  community/learn/graphql-tutorials/backend-services/auth-webhook/package.json
  community/learn/graphql-tutorials/backend-services/auth-webhook/server.js
Owners: @shahidhk

no need to cast as text
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_13_to_14.sql
Owners: @0x777

content fixes
  community/learn/graphql-tutorials/tutorials/vue-apollo/app-boilerplate/src/components/TodoPrivateList.vue
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
Owners: @shahidhk

build and stitch schemas only at the end of RQL query
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Query.hs
Owners: @0x777

reusable tab update
  console/src/components/UI/Navigation/Navigation.js
  console/src/components/UI/ReusableTabs/ReusableTabs.js
  console/src/components/UI/ReusableTabs/ReusableTabs.scss
  console/src/components/UI/UITest/UITest.js
Owners: @rikinsk

update schema cache on a column's null-ability or type changes (fix #2101) (#2106)
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/queries/graphql_query/basic/select_query_user_col_change.yaml
  server/tests-py/test_graphql_queries.py
Owners: @0x777

Updates introduction
  community/learn/hasura/graphql-tutorial-backend/content/index.mdx
  community/learn/hasura/graphql-tutorial-backend/content/introduction.md
Owners: @shahidhk

fix set column unique bug
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Owners: @rikinsk

update twitter image
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/src/html.js
Owners: @shahidhk

use SQL loop to drop hdb_views schema views and routines with ordering
  server/src-lib/Hasura/RQL/DDL/Utils.hs
Owners: @0x777

remove commented code in ..DDL/Utils.hs
  server/src-lib/Hasura/RQL/DDL/Utils.hs
Owners: @0x777

query whitelist UI WIP
  console/src/components/Common/Common.scss
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Services/Data/Migrations/MigrationsHome.js
  console/src/components/Services/Metadata/Container.js
  console/src/components/Services/Metadata/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Metadata/Sidebar.js
  console/src/components/Services/Metadata/State.js
  console/src/components/Services/Metadata/WhitelistQueries/AddWhitelistQuery.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistNotes.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueries.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueries.scss
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueriesList.js
  console/src/routes.js
Owners: @rikinsk

Update event trigger api invocation, css fixes
  console/src/components/Common/DataDropdown/DataDropdown.js
  console/src/components/Common/DataDropdown/DataDropdown.scss
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/Add/AddState.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Add/Tooltips.js
  console/src/components/Services/EventTrigger/Common/InvokeManualTrigger/InvokeManualTriggerAction.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/EventTrigger/Modify/Actions.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/utils.js
  console/src/components/Services/EventTrigger/TableCommon/EventTable.scss
Owners: @rikinsk

Create README.md
  community/boilerplates/event-triggers/netlfy-functions/README.md
Owners: @shahidhk

Update README.md
  community/boilerplates/event-triggers/netlfy-functions/README.md
Owners: @shahidhk

fix editor styling
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Common/Layout/ExpandableEditor/Editor.scss
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
Owners: @rikinsk

whitelist wuery editor
  console/src/components/Services/Metadata/State.js
  console/src/components/Services/Metadata/WhitelistQueries/AddWhitelistQuery.js
  console/src/components/Services/Metadata/WhitelistQueries/WhitelistQueriesList.js
Owners: @rikinsk

fix editor styling
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Common/Layout/ExpandableEditor/Editor.scss
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
Owners: @rikinsk

Radio button update
  console/src/components/UI/RadioBtn/RadioBtn.js
  console/src/components/UI/ReusableTabs/ReusableTabs.js
  console/src/components/UI/UITest/UITest.js
Owners: @rikinsk

check for atleast one of insert, update or delete
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/tests-py/queries/event_triggers/create-delete/create_trigger_operation_specs_not_provided_err.yaml
Owners: @0x777

add start failed error
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
Owners: @0x777

Update README.md
  community/boilerplates/event-triggers/netlfy-functions/README.md
Owners: @shahidhk

Move manual checkbox to advanced settings
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/TableCommon/EventTable.scss
Owners: @rikinsk

.github/CODEOWNERS:

*          @shahidhk
/server/   @0x777
/docs/     @rikinsk
/cli/      @shahidhk
/console/  @rikinsk
