Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Revert "ci: test if shadowing is stopped"
  cli/README.md
Owners: @hasura/hge-cli-owners

console: fix event triggers headers are removed on modifying ET (hotfix 2.18)
  frontend/libs/console/legacy-ce/src/lib/metadata/queryUtils.ts
Owners: @hasura/hge-changelog-owners

console: fix event triggers headers are removed on modifying ET (hotfix 2.19)
  frontend/libs/console/legacy-ce/src/lib/metadata/queryUtils.ts
Owners: @hasura/hge-changelog-owners

console: [experiment] Remove familiarity survey
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
Owners: @hasura/hge-changelog-owners

chore(tooling): add `make run-pro-server`
  Makefile
  scripts/make/run.mk
Owners: @hasura/hge-changelog-owners

Revert "console: [experiment] Remove familiarity survey"
  frontend/libs/console/legacy-ce/src/lib/features/Surveys/HasuraFamiliaritySurvey/hooks/useFamiliaritySurveyData.ts
Owners: @hasura/hge-changelog-owners

Convert mutation payload values according to the column data type
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/utils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/InsertRow/InsertRowForm.utils.ts
Owners: @hasura/hge-changelog-owners

ci: tag multiple releases
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Add a `debugger` function for testing
  server/lib/test-harness/src/Harness/Constants.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
Owners: @hasura/hge-server

server: codecs for metrics, roles, allow list
  metadata.openapi.json
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/Metadata/DTO/Utils.hs
  server/src-lib/Hasura/RQL/Types/Allowlist.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Roles.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
  server/src-test/Hasura/RQL/Types/AllowlistSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: codecs for computed field definitions
  metadata.openapi.json
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update thin strip banner for observability webinar
  docs/src/components/HasuraConBanner/index.tsx
Owners: @hasura/hge-docs-owners

server/benchmarks: update the postgres version to 15
  server/benchmarks/bench.sh
Owners: @hasura/hge-server

multitenant, server: throw a warning if user sets a time limit greater than the system limit
  docs/docs/api-reference/metadata-api/api-limits.mdx
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/RQL/DDL/ApiLimit.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/test-postgres/Test/Hasura/Server/MigrateSuite.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console: fix non clickable elements
  frontend/libs/console/legacy-ce/src/lib/new-components/Dialog/Dialog.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/ToastsHub.tsx
  frontend/libs/console/legacy-ee/src/lib/components/Services/Metrics/Common/DatePickerModal.js
Owners: @hasura/hge-changelog-owners

update: update BigQuery API docs
  docs/docs/api-reference/metadata-api/source.mdx
Owners: @hasura/hge-docs-owners

Revert "server/benchmarks: update the postgres version to 15"
  server/benchmarks/bench.sh
Owners: @hasura/hge-server

docs: update MySQL docs with support for mutations and enterprise doc with pointers to databases
  docs/docs/databases/mysql/cloud.mdx
  docs/docs/databases/mysql/deprecated/index.mdx
  docs/docs/databases/mysql/docker.mdx
  docs/docs/databases/mysql/index.mdx
  docs/docs/enterprise/index.mdx
Owners: @hasura/hge-docs-owners

server: expose server_type information to version API in CE
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

docs: fix remove_api_limits metadata spec
  docs/docs/api-reference/metadata-api/api-limits.mdx
Owners: @hasura/hge-docs-owners

feat(logical models): Add validation of types and parameters
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/API/Metadata/LogicalModelsSpec.hs
  server/lib/test-harness/src/Harness/Yaml.hs
  server/lib/test-harness/test-harness.cabal
  server/src-lib/Hasura/Backends/Postgres/Instances/LogicalModels.hs
  server/src-test/Hasura/Backends/Postgres/LogicalModels/LogicalModelsSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: enable insert row form based on the agent capabilities
  frontend/libs/console/legacy-ce/src/lib/components/Common/utils/jsUtils.test.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/utils/jsUtils.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/utils/jsUtils.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/ManageTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useDriverCapabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/alloydb/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/citus/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/capabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/defaultDatabaseProps.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/getDriverCapabilities.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/introspection/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mssql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mysql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/index.ts
  frontend/package.json
Owners: @hasura/hge-changelog-owners

docs: add licenses and dependencies
  docs/docs/enterprise/dependencies.mdx
Owners: @hasura/hge-docs-owners

multitenant: switch schema sync listener to polling mechanism
  server/src-lib/Hasura/Eventing/Common.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Logging.hs
Owners: @hasura/hge-server

server: remove redundant ExitCodes
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

server/multitenant: addressing review comments in #8146
  server/src-lib/Hasura/Logging.hs
Owners: @hasura/hge-server

Update documentation for main.
  server/haddock/main/Hasura-Logging.html
  server/haddock/main/graphql-engine.haddock
  server/haddock/main/graphql-engine.txt
  server/haddock/main/src/Hasura.Logging.html
Owners: @hasura/hge-server

console: add unit test for `generateCreateEventTriggerQuery`
  frontend/libs/console/legacy-ce/src/lib/metadata/__tests__/__snapshots__/generateCreateEventTriggerQuery.test.ts.snap
  frontend/libs/console/legacy-ce/src/lib/metadata/__tests__/fixtures/input.ts
  frontend/libs/console/legacy-ce/src/lib/metadata/__tests__/generateCreateEventTriggerQuery.test.ts
Owners: @hasura/hge-changelog-owners

feature(server): make execution statistics available through logging
  server/src-lib/Hasura/Backends/BigQuery/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/BigQuery/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Execute.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Transport.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Execute.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Transport.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Execute.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Transport.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Transport.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/RemoteJoin/Join.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Transport/Backend.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
Owners: @hasura/hge-server

server: fix scheduled events not showing up on console when the payload construction is failed
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/ScheduledEvents/ScheduledEventsInvalidEnvVarSpec.hs
  server/src-lib/Data/URL/Template.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
Owners: @hasura/hge-server

server: return single object from non-SETOF SQL functions
  server/src-lib/Hasura/Backends/Postgres/DDL/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/ComputedField.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Types/ComputedField.hs
Owners: @hasura/hge-server

feat(test): test non-SETOF computed field
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
Owners: @hasura/hge-server

fix(server): make SETOF-table computed field non nullable and non-SETOF-table computed field nullable
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
Owners: @hasura/hge-server

fix: selection set parser for CFRTable should return T instead of [T]
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
Owners: @hasura/hge-server

fix(tests): write spec for BigQuery as well
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
Owners: @hasura/hge-server

server: filter null values in pg function result
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
Owners: @hasura/hge-server

chore(server): tidy up the `FromJSON Job` instance
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
Owners: @hasura/hge-server

Update documentation for main.
  server/haddock/main/Hasura-Backends-BigQuery-Types.html
  server/haddock/main/src/Hasura.Backends.BigQuery.Types.html
Owners: @hasura/hge-server

Make command to generate types from typed metadata in languages other than Typescript
  metadata-api-types/.gitignore
  metadata-api-types/Makefile
  metadata-api-types/scripts/generate-types-for-lang.sh
  metadata-api-types/scripts/generate-typescript-types.sh
Owners: @hasura/hge-changelog-owners

console: use common pattern to access local storage
  frontend/libs/console/legacy-ce/src/index.ts
  frontend/libs/console/legacy-ce/src/lib/components/Common/ConfigureTransformation/utils.ts
  frontend/libs/console/legacy-ce/src/lib/components/Main/Actions.js
  frontend/libs/console/legacy-ce/src/lib/components/Main/NotificationSection.tsx
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Heroku/utils.ts
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/QueryCollections/components/QueryCollectionOperationDialog/QuickAdd.tsx
  frontend/libs/console/legacy-ce/src/lib/telemetry/Actions.ts
  frontend/libs/console/legacy-ce/src/lib/utils/localStorage.ts
  frontend/libs/console/legacy-ee/src/lib/components/AppState.js
  frontend/libs/console/legacy-ee/src/lib/components/Login/localStorage.js
  frontend/libs/console/legacy-ee/src/lib/components/Main/Main.js
  frontend/libs/console/legacy-ee/src/lib/components/Main/loveConsentLocalStorage.js
  frontend/libs/console/legacy-ee/src/lib/utils/localstorage.js
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
