Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

experiment: O2
  server/graphql-engine.cabal
Owners: @hasura/hge-server

benchmarks: Add `Accept-Encoding: gzip` headers (NO REGRESSION)
  server/benchmarks/README.md
  server/benchmarks/benchmark_sets/chinook/config.query.yaml
  server/benchmarks/benchmark_sets/huge_schema/config.query.yaml
  server/benchmarks/benchmark_sets/remote_schema/config.query.yaml
  server/src-lib/Hasura/Server/Compression.hs
Owners: @hasura/hge-server

Disable wack version test, install gcloud again to support hspec tests
  server/tests-py/test_version.py
Owners: @hasura/hge-server

more explicit data flow in metadata resolver (#403)
  v3/crates/engine/src/metadata/resolved/metadata.rs
Owners: @hasura/hge-changelog-owners

remote joins: do not include the join field if it already exists (#402)
  v3/crates/engine/src/execute/ir/selection_set.rs
  v3/crates/engine/src/execute/plan/selection_set.rs
  v3/crates/engine/tests/explain.rs
  v3/crates/engine/tests/explain/field_with_multi_remote_relationship_subfields/expected.json
  v3/crates/engine/tests/explain/field_with_nested_remote_relationship_1/expected.json
  v3/crates/engine/tests/explain/field_with_nested_remote_relationship_2/expected.json
  v3/crates/engine/tests/explain/field_with_remote_relationship/expected.json
Owners: @hasura/hge-changelog-owners

update: hasura logos
  assets/brand/hasura_icon_colour.svg
  assets/brand/hasura_icon_darkbg.svg
  assets/brand/hasura_icon_lightbg.svg
  assets/brand/hasura_logo_mono_darkbg.svg
  assets/brand/hasura_logo_mono_lightbg.svg
  assets/brand/hasura_logo_primary_darkbg.svg
  assets/brand/hasura_logo_primary_lightbg.svg
Owners: @hasura/hge-changelog-owners

update: hasura readme png logos
  assets/hasura_logo_primary_darkbg.png
  assets/hasura_logo_primary_lightbg.png
Owners: @hasura/hge-changelog-owners

update: assets cdn link
  assets/brand/README.md
Owners: @hasura/hge-changelog-owners

rm: powered by hasura logos
  assets/brand/powered_by_hasura_mono_darkbg.svg
  assets/brand/powered_by_hasura_mono_lightbg.svg
  assets/brand/powered_by_hasura_primary_darkbg.svg
  assets/brand/powered_by_hasura_primary_lightbg.svg
Owners: @hasura/hge-changelog-owners

update: readme
  assets/brand/README.md
Owners: @hasura/hge-changelog-owners

update: cdn links for hasura logos
  V2-README.md
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.greek.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

update: all hasura logos
  V2-README.md
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.greek.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

rm: code formatting from readme
  V2-README.md
Owners: @hasura/hge-changelog-owners

revert: prettier auto changes
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.greek.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

Use correct crate folders in `ci.docker-compose.yaml` (#404)
  v3/ci.docker-compose.yaml
Owners: @hasura/hge-changelog-owners

update: hasura logos in translation files
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.german.md
  translations/README.greek.md
  translations/README.indonesian.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

update: italian readme
  translations/README.french.md
  translations/README.italian.md
  translations/README.japanese.md
Owners: @hasura/hge-changelog-owners

revert: readme
  assets/brand/README.md
Owners: @hasura/hge-changelog-owners

Remove node-level mutation planning (#397)
  v3/crates/engine/src/execute/explain.rs
  v3/crates/engine/src/execute/plan.rs
Owners: @hasura/hge-changelog-owners

rm: double hasura logos
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

update: greek readme file
  translations/README.greek.md
Owners: @hasura/hge-changelog-owners

update: hasura logos
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.german.md
  translations/README.greek.md
  translations/README.indonesian.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

fix: greek readme file
  translations/README.greek.md
Owners: @hasura/hge-changelog-owners

rename function to be clearer (#405)
  v3/crates/engine/src/metadata/resolved/metadata.rs
  v3/crates/engine/src/metadata/resolved/model.rs
  v3/crates/engine/src/metadata/resolved/types.rs
Owners: @hasura/hge-changelog-owners

update: dark logo in all translations
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
Owners: @hasura/hge-changelog-owners

Nix: Switch to nixpkgs-unstable, rather than nixos-unstable. (#407)
  v3/flake.lock
  v3/flake.nix
Owners: @hasura/hge-changelog-owners

Small Typo Fix
  docs/docs/observability/overview.mdx
Owners: @hasura/hge-docs-owners

Documentation: Small Typo Fix on Observability Page
  docs/docs/observability/overview.mdx
Owners: @hasura/hge-docs-owners

assets: update hasura logos
  V2-README.md
  assets/brand/README.md
  assets/brand/hasura_icon_colour.svg
  assets/brand/hasura_icon_darkbg.svg
  assets/brand/hasura_icon_lightbg.svg
  assets/brand/hasura_logo_mono_darkbg.svg
  assets/brand/hasura_logo_mono_lightbg.svg
  assets/brand/hasura_logo_primary_darkbg.svg
  assets/brand/hasura_logo_primary_lightbg.svg
  assets/brand/powered_by_hasura_mono_darkbg.svg
  assets/brand/powered_by_hasura_mono_lightbg.svg
  assets/brand/powered_by_hasura_primary_darkbg.svg
  assets/brand/powered_by_hasura_primary_lightbg.svg
  assets/hasura_logo_primary_darkbg.png
  assets/hasura_logo_primary_lightbg.png
  translations/README.bosnian.md
  translations/README.chinese.md
  translations/README.french.md
  translations/README.german.md
  translations/README.greek.md
  translations/README.indonesian.md
  translations/README.italian.md
  translations/README.japanese.md
  translations/README.korean.md
  translations/README.mx_spanish.md
  translations/README.portuguese_br.md
  translations/README.russian.md
  translations/README.turkish.md
Owners: @hasura/hge-changelog-owners

Fix missing descriptions on GraphQL input object types (#409)
  v3/crates/engine/src/schema/types/input_type.rs
  v3/crates/engine/tests/execute/description/expected.json
  v3/crates/engine/tests/execute/description/metadata.json
Owners: @hasura/hge-changelog-owners

opendd: remove deprecated namespace field from relationship target (#410)
  v3/crates/engine/src/execute/explain.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/relationships.rs
Owners: @hasura/hge-changelog-owners

Give types / titles to all maps in the metadata jsonschema (#408)
  v3/crates/engine/src/metadata/resolved/types.rs
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/commands.rs
  v3/crates/open-dds/src/data_connector/v1.rs
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/models.rs
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

update ahash to keep buildable on rust nightly tkaitchuck/aHash#200
  v3/Cargo.lock
Owners: @hasura/hge-changelog-owners

Test some parser stack overflow panic cases found through fuzzing
  v3/crates/lang-graphql/tests/README.md
  v3/crates/lang-graphql/tests/query_testdata/err/6000_stackoverflow1.graphql
  v3/crates/lang-graphql/tests/query_testdata/err/6000_stackoverflow1.txt
Owners: @hasura/hge-changelog-owners

lang-graphql: limit recursion to avoid stack overflows
  v3/Cargo.lock
  v3/crates/lang-graphql/Cargo.toml
  v3/crates/lang-graphql/src/parser.rs
  v3/crates/lang-graphql/src/parser/executable.rs
  v3/crates/lang-graphql/src/parser/selection_set.rs
  v3/crates/lang-graphql/src/parser/value.rs
  v3/crates/lang-graphql/tests/query_testdata/err/6001_stackoverflow2.graphql
  v3/crates/lang-graphql/tests/query_testdata/err/6001_stackoverflow2.txt
  v3/crates/recursion_limit_macro/Cargo.toml
  v3/crates/recursion_limit_macro/src/lib.rs
Owners: @hasura/hge-changelog-owners

fix empty input object types in introspection result when allowedFields for a type is empty (#412)
  v3/crates/engine/tests/execute/commands/functions/model_argument_presets_select_many/introspection_expected.json
  v3/crates/lang-graphql/src/introspection.rs
Owners: @hasura/hge-changelog-owners

Improvements to Docker configuration. (#414)
  v3/Dockerfile
  v3/ci.docker-compose.yaml
  v3/crates/custom-connector/src/main.rs
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Dockerfile
  v3/crates/hasura-authn-webhook/dev-auth-webhook/src/main.rs
  v3/docker-compose.yaml
  v3/rust-toolchain.toml
Owners: @hasura/hge-changelog-owners

Remove unused dependencies using `cargo machete`. (#413)
  v3/Cargo.lock
  v3/crates/custom-connector/Cargo.toml
  v3/crates/engine/Cargo.toml
  v3/crates/hasura-authn-core/Cargo.toml
  v3/crates/hasura-authn-jwt/Cargo.toml
  v3/crates/hasura-authn-webhook/Cargo.toml
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.lock
  v3/crates/hasura-authn-webhook/dev-auth-webhook/Cargo.toml
  v3/crates/lang-graphql/Cargo.toml
  v3/crates/open-dds/Cargo.toml
  v3/crates/opendds-derive/Cargo.toml
  v3/crates/tracing-util/Cargo.toml
  v3/justfile
Owners: @hasura/hge-changelog-owners

add `just run-local` command (#415)
  v3/justfile
Owners: @hasura/hge-changelog-owners

re-add axum and machete-ignore it to fix tests run with cargo test (#418)
  v3/Cargo.lock
  v3/crates/tracing-util/Cargo.toml
Owners: @hasura/hge-changelog-owners
