Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

forgot to check in dump_repro.sql and repro.json
  dump_repro.sql
  server/benchmarks/benchmark_sets/chinook/repro.json
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Only schedule cleanup for event triggers if any exist.
  server/src-lib/Hasura/Backends/MSSQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/EventTrigger.hs
  server/src-lib/Hasura/Eventing/Backend.hs
  server/test-postgres/Test/Hasura/EventTriggerCleanupSuite.hs
Owners: @hasura/hge-server

CI: Fix the Rust cache. (#942)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/justfile
Owners: @hasura/hge-changelog-owners

add a check for description in json schema validation (#943)
  v3/crates/auth/hasura-authn-jwt/src/jwt.rs
  v3/crates/engine/tests/auth_config.jsonschema
  v3/crates/open-dds/metadata.jsonschema
  v3/crates/open-dds/src/aggregates.rs
  v3/crates/open-dds/src/boolean_expression.rs
  v3/crates/open-dds/src/commands.rs
  v3/crates/open-dds/src/data_connector.rs
  v3/crates/open-dds/src/data_connector/v1.rs
  v3/crates/open-dds/src/flags.rs
  v3/crates/open-dds/src/graphql_config.rs
  v3/crates/open-dds/src/lib.rs
  v3/crates/open-dds/src/models.rs
  v3/crates/open-dds/src/relationships.rs
  v3/crates/open-dds/src/test_utils.rs
  v3/crates/open-dds/src/types.rs
Owners: @hasura/hge-changelog-owners

ci: update latest stable release as v2.42.0
  cli/README.md
  cli/get.sh
  docs/docs/hasura-cli/install-hasura-cli.mdx
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-cockroach/docker-compose.yaml
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose-yugabyte/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/enterprise/athena/docker-compose.yaml
  install-manifests/enterprise/aws-ecs/hasura-fargate-task.json
  install-manifests/enterprise/clickhouse/docker-compose.yaml
  install-manifests/enterprise/docker-compose/docker-compose.yaml
  install-manifests/enterprise/kubernetes/deployment.yaml
  install-manifests/enterprise/mariadb/docker-compose.yaml
  install-manifests/enterprise/mongodb/docker-compose.yaml
  install-manifests/enterprise/mysql/docker-compose.yaml
  install-manifests/enterprise/oracle/docker-compose.yaml
  install-manifests/enterprise/redshift/docker-compose.yaml
  install-manifests/enterprise/snowflake/docker-compose.yaml
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Owners: @hasura/hge-cli-owners, @hasura/hge-docs-owners, @hasura/hge-changelog-owners

Docs: Update cloud plans page
  docs/docs/databases/clickhouse/getting-started/cloud.mdx
  docs/docs/databases/vector-databases/weaviate.mdx
  docs/docs/hasura-cli/connector-plugin/_category_.json
  docs/docs/hasura-cli/connector-plugin/commands/_category_ copy.json
  docs/docs/hasura-cli/connector-plugin/commands/connector.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_create.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_delete.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_generate-configuration.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_list.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_logs.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_status.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_version.mdx
  docs/docs/hasura-cli/connector-plugin/commands/index.mdx
  docs/docs/hasura-cli/connector-plugin/index.mdx
  docs/docs/hasura-cloud/plans.mdx
Owners: @hasura/hge-docs-owners

Docs: Fix build refs
  docs/docs/ai/overview.mdx
  docs/docs/databases/clickhouse/getting-started/cloud.mdx
  docs/docs/databases/vector-databases/index.mdx
  docs/docs/databases/vector-databases/weaviate.mdx
Owners: @hasura/hge-docs-owners

Docs: Fix build refs
  docs/docs/ai/overview.mdx
  docs/docs/databases/clickhouse/getting-started/cloud.mdx
  docs/docs/databases/vector-databases/index.mdx
  docs/docs/databases/vector-databases/weaviate.mdx
Owners: @hasura/hge-docs-owners

Docs: Update cloud plans page
  docs/docs/databases/clickhouse/getting-started/cloud.mdx
  docs/docs/databases/vector-databases/weaviate.mdx
  docs/docs/hasura-cli/connector-plugin/_category_.json
  docs/docs/hasura-cli/connector-plugin/commands/_category_ copy.json
  docs/docs/hasura-cli/connector-plugin/commands/connector.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_create.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_delete.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_generate-configuration.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_list.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_logs.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_status.mdx
  docs/docs/hasura-cli/connector-plugin/commands/connector_version.mdx
  docs/docs/hasura-cli/connector-plugin/commands/index.mdx
  docs/docs/hasura-cli/connector-plugin/index.mdx
  docs/docs/hasura-cloud/plans.mdx
Owners: @hasura/hge-docs-owners

extract pre-parse plugins in build step (#946)
  v3/crates/engine/src/build.rs
Owners: @hasura/hge-changelog-owners

if no plugins make middleware no-op (#948)
  v3/Cargo.lock
  v3/crates/engine/Cargo.toml
  v3/crates/engine/bin/engine/main.rs
  v3/crates/plugins/pre-execution-plugin/Cargo.toml
  v3/crates/plugins/pre-execution-plugin/src/execute.rs
Owners: @hasura/hge-changelog-owners

fix: docs/package.json & docs/package-lock.json to reduce vulnerabilities
  docs/package-lock.json
  docs/package.json
Owners: @hasura/hge-docs-owners

fix: docs/package.json & docs/package-lock.json to reduce vulnerabilities
  docs/package-lock.json
  docs/package.json
Owners: @hasura/hge-docs-owners

add RFC
  rfcs/v3/engine-plugins.md
Owners: @hasura/hge-changelog-owners

[PACHA-2] sql: handle ndc responses with empty rows (#947)
  v3/crates/sql/src/plan.rs
Owners: @hasura/hge-changelog-owners

Bump to Rust 1.80.0 (#954)
  v3/Dockerfile
  v3/crates/execute/src/plan/selection_set.rs
  v3/crates/execute/src/remote_joins.rs
  v3/crates/execute/src/remote_joins/types.rs
  v3/crates/ir/src/commands.rs
  v3/crates/schema/src/query_root.rs
  v3/custom-connector.Dockerfile
  v3/dev-auth-webhook.Dockerfile
  v3/flake.lock
  v3/rust-toolchain.toml
Owners: @hasura/hge-changelog-owners

Minor changes
  rfcs/v3/engine-plugins.md
Owners: @hasura/hge-changelog-owners

Bring back benchmarks (#957)
  v3/crates/engine/benches/execute.rs
Owners: @hasura/hge-changelog-owners

[PACHA-1] Handle nested fields in /sql endpoint (#936)
  v3/crates/execute/src/plan.rs
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/execute/planner.rs
  v3/crates/sql/src/plan.rs
Owners: @hasura/hge-changelog-owners

[PACHA-12] sql: fix failing introspection queries (#958)
  v3/Cargo.lock
  v3/crates/sql/Cargo.toml
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/introspection.rs
  v3/crates/sql/src/catalog/introspection/column_metadata.rs
  v3/crates/sql/src/catalog/introspection/foreign_keys.rs
  v3/crates/sql/src/catalog/introspection/table_metadata.rs
  v3/crates/sql/src/catalog/mem_table.rs
Owners: @hasura/hge-changelog-owners

update datafusion to 41.0.0 (#959)
  v3/Cargo.lock
  v3/crates/sql/Cargo.toml
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/catalog/introspection.rs
  v3/crates/sql/src/catalog/mem_table.rs
  v3/crates/sql/src/catalog/model.rs
  v3/crates/sql/src/catalog/subgraph.rs
Owners: @hasura/hge-changelog-owners

Extract ModelsError from main Error type (#955)
  v3/crates/engine/tests/validate_metadata.rs
  v3/crates/metadata-resolve/src/lib.rs
  v3/crates/metadata-resolve/src/stages/apollo/mod.rs
  v3/crates/metadata-resolve/src/stages/model_permissions/model_permission.rs
  v3/crates/metadata-resolve/src/stages/models/aggregation.rs
  v3/crates/metadata-resolve/src/stages/models/error.rs
  v3/crates/metadata-resolve/src/stages/models/helpers.rs
  v3/crates/metadata-resolve/src/stages/models/mod.rs
  v3/crates/metadata-resolve/src/stages/models/source.rs
  v3/crates/metadata-resolve/src/stages/models_graphql/graphql.rs
  v3/crates/metadata-resolve/src/stages/order_by_expressions/error.rs
  v3/crates/metadata-resolve/src/stages/order_by_expressions/mod.rs
  v3/crates/metadata-resolve/src/stages/relationships/mod.rs
  v3/crates/metadata-resolve/src/types/error.rs
Owners: @hasura/hge-changelog-owners

Use mimalloc (#961)
  v3/Cargo.lock
  v3/Cargo.toml
  v3/crates/engine/Cargo.toml
  v3/crates/engine/benches/execute.rs
  v3/crates/engine/bin/engine/main.rs
Owners: @hasura/hge-changelog-owners

metadata-resolve: disallow relationship comparisons in nested object filter expressions for model filters (#960)
  v3/changelog.md
  v3/crates/engine/tests/db_definition.sql
  v3/crates/engine/tests/execute/common_metadata/postgres_connector_schema.json
  v3/crates/engine/tests/ndc-postgres-configuration/configuration.json
  v3/crates/engine/tests/ndc-postgres-configuration/schema.json
  v3/crates/ir/src/error.rs
  v3/crates/ir/src/filter.rs
  v3/crates/metadata-resolve/src/helpers/boolean_expression.rs
  v3/crates/metadata-resolve/src/stages/boolean_expressions/error.rs
  v3/crates/metadata-resolve/tests/failing/boolean_expression/nested_object_relationship_filter/metadata.json
  v3/crates/metadata-resolve/tests/failing/boolean_expression/nested_object_relationship_filter/resolve_error.snap
Owners: @hasura/hge-changelog-owners

Reduce codegen units to 1 (#964)
  v3/Cargo.toml
Owners: @hasura/hge-changelog-owners

[PACHA-6] Remove projection pushdown (#967)
  v3/crates/sql/src/catalog.rs
  v3/crates/sql/src/execute/optimizer.rs
  v3/crates/sql/src/execute/optimizer/projection_pushdown.rs
  v3/crates/sql/src/plan.rs
Owners: @hasura/hge-changelog-owners

cherry-pick: change array lookup in introspection
  server/src-rsr/citus_table_metadata.sql
  server/src-rsr/cockroach_table_metadata.sql
  server/src-rsr/pg_table_metadata.sql
Owners: @hasura/hge-server

console: expose `max_connections` field on UI while connecting postgres
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/ConnectPostgresWidget.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/ConnectPostgresForm.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/parts/PoolSettings.tsx
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/schema.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/adaptResponse.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/components/ConnectPostgresWidget/utils/generateRequests.ts
  frontend/libs/console/legacy-ce/src/lib/features/ConnectDBRedesign/mocks/data.mock.ts
Owners: @hasura/hge-changelog-owners

server: fix condition to classify requests to Apollo persisted queries (cherry-pick)
  server/src-lib/Hasura/Server/Types.hs
  server/tests-py/queries/graphql_query/basic/select_query_with_extensions.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

server: insert schema sync notifactions as soon as metadata is updated in the storage (hot fix)
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
Owners: @hasura/hge-server

Add Batch Limits to API limits config
  cli/internal/metadataobject/api_limits/api_limits.go
  cli/internal/metadataobject/api_limits/api_limits_test.go
  cli/internal/metadataobject/api_limits/testdata/build_test/t1/metadata/api_limits.yaml
  cli/internal/metadataobject/api_limits/testdata/build_test/t1/want.golden.json
  cli/internal/metadataobject/api_limits/testdata/export_test/metadata.json
Owners: @hasura/hge-cli-owners

build: update graphql-engine-base with latest base image
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.35.3 and v2.36.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

console: add support for permission summary for GDC sources
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataRouter.js
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/ManageDatabase.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/PermissionSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageTable/ManageTable.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DataSidebar/navigation-utils.ts
Owners: @hasura/hge-changelog-owners

console: fix issues with permission summary in new data tab UI
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/PermissionSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/ManageDatabase/parts/SchemaDropdown.tsx
Owners: @hasura/hge-changelog-owners

console: update dependencies listed in `yarn` audit
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useGraphQLMutation.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/api.ts
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

cherry-picking PR #10603 into v2.36 release
  server/forks/hedis/hedis.cabal
  server/forks/hedis/src/Database/Redis/URL.hs
Owners: @hasura/hge-server

console (hotfix): rollback graphql package update
  frontend/package.json
  frontend/yarn.lock
Owners: @hasura/hge-changelog-owners

ci: tag release for v2.36.2 and v2.37.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

SchemaRegistry bugfix cherrypick(v2.36)
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/TopNav.tsx
Owners: @hasura/hge-changelog-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
