Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Adds an agent test for ordering by a single column aggregate function
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/OrderBySpec.hs
Owners: @hasura/hge-server

MongoDB Data Connector prototype agent
  cabal.project.freeze
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: codecs for CustomTypes
  server/src-lib/Autodocodec/Extended.hs
  server/src-lib/Hasura/Metadata/DTO/MetadataV3.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-test/Hasura/Metadata/DTO/MetadataDTOSpec.hs
Owners: @hasura/hge-server

Fix URL paths in Data Connector Datasets readme
  dc-agents/README.md
Owners: @hasura/hge-changelog-owners

console: add clone permissions to GDC permissions tab
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/alloydb/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/bigquery/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/citus/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/common/defaultDatabaseProps.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/gdc/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mssql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/mysql/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/postgres/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/MetadataAPI/hooks/useMetadataTables.ts
  frontend/libs/console/legacy-ce/src/lib/features/MetadataAPI/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/PermissionsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/api.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/createSelectArgs.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/api/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/ClonePermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RootFieldPermissions/RootFieldPermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RowPermissionsBuilder/utils/createDefaultValues.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useSubmitForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/hooks/submitHooks/useUpdatePermissions.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/schema/index.ts
Owners: @hasura/hge-changelog-owners

[Gardening] Eliminate Boolean Blindness in soEnableConsole option
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

console: add formatting to action sdl
  frontend/libs/console/legacy-ce/src/lib/shared/utils/sdlUtils.js
Owners: @hasura/hge-changelog-owners

console: fix bootstrap dropdown button not working as intended
  frontend/libs/console/legacy-ce/src/lib/components/Common/DropdownButton/DropdownButton.tsx
Owners: @hasura/hge-changelog-owners

console: one-click-deploy load sample query and copy changes
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/QueryScreen/TemplateSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/Root.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/ErrorBox.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/EnvVarsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/CustomFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/EnvVarsFormFields.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/GraphiqlPopup/GraphiqlPopup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/WorkflowProgress/WorkflowProgress.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/hooks/useSampleQuery.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/hooks/useTriggerDeployment.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/util.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/util.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/utils.ts
Owners: @hasura/hge-changelog-owners

console: fix boostrap dropdown not showing on click (2.18 backport)
  frontend/libs/console/legacy-ce/src/lib/components/Common/DropdownButton/DropdownButton.tsx
Owners: @hasura/hge-changelog-owners

Documentation for One Click Deploy to Hasura
  community/sample-apps/whatsapp-clone-typescript-react/react-app/src/components/AuthScreen/SignUpForm.tsx
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/docs/hasura-cloud/one-click-deploy/_category_.json
  docs/docs/hasura-cloud/one-click-deploy/create-one-click-to-deploy-apps.mdx
  docs/docs/hasura-cloud/one-click-deploy/index.mdx
  docs/src/components/CloudDeployURLGenerationForm/index.jsx
  docs/src/components/CloudDeployURLGenerationForm/styles.module.scss
  docs/static/img/deployment/one-click-to-deploy/applying_assets.png
  docs/static/img/deployment/one-click-to-deploy/cloning_assets.png
  docs/static/img/deployment/one-click-to-deploy/db_connection.png
  docs/static/img/deployment/one-click-to-deploy/env_var.png
  docs/static/img/deployment/one-click-to-deploy/env_vars.png
  docs/static/img/deployment/one-click-to-deploy/project_console.png
  docs/static/img/deployment/one-click-to-deploy/project_details.png
  docs/static/img/deployment/one-click-to-deploy/project_loading.png
  docs/static/img/deployment/one-click-to-deploy/project_ready.png
  docs/static/img/deployment/one-click-to-deploy/sucessful_db_connection.png
  docs/static/img/deployment/one-click-to-deploy/user_env.png
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners

console: one-click-deploy load sample query and copy changes (hotfix v2.18)
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/QueryScreen/TemplateSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/Root.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/ErrorBox.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/EnvVarsForm.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/CustomFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/EnvVarsFormFields.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/GraphiqlPopup/GraphiqlPopup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/WorkflowProgress/WorkflowProgress.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/hooks/useSampleQuery.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/hooks/useTriggerDeployment.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/util.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/util.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/utils.ts
Owners: @hasura/hge-changelog-owners

console: fix suggested relationships name generation
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenameRelationship/RenameRelationship.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenderWidget/parts/ConfirmDeleteRelationshipPopup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/SuggestedRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/SuggestedRelationships.utils.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/SuggestedRelationships.utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/SuggestedRelationships/hooks/useSuggestedRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useManageLocalRelationship.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/utils/queryClientUtils.ts
Owners: @hasura/hge-changelog-owners

ci: tag release v2.18.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

Revert "Update default value in docs"
  docs/docs/api-reference/metadata-api/observability.mdx
Owners: @hasura/hge-docs-owners

Revert "Apply ormolu"
  server/src-lib/Hasura/RQL/Types/Common.hs
Owners: @hasura/hge-server

Revert "Set default value of analyze_query_variables to True"
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
Owners: @hasura/hge-server

ci: tag release v2.18.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server: reintroduce `Content-Type` header for errors
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-server

server: log when cron triggers are fetched from database for generating events
  docs/docs/deployment/logging.mdx
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger/Types.hs
  server/src-lib/Hasura/Logging.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

remove unnecessary tooltip and remove usage of old tooltop components
  frontend/libs/console/legacy-ce/src/lib/features/Permissions/PermissionsForm/components/RootFieldPermissions/RootFieldPermissions.tsx
Owners: @hasura/hge-changelog-owners

console: wrap one-click-deployment clickables in analytics component
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/ErrorBox.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/CustomFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/PgDatabaseField/NeonButton.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/PgDatabaseField/PgDatabaseField.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/GraphiqlPopup/GraphiqlPopup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/RedirectCountdown/RedirectCountDown.tsx
Owners: @hasura/hge-changelog-owners

frontend: Remove @cypress/snapshot in favour of cypress-plugin-snapshots
  frontend/apps/console-ce-e2e/cypress.config.ts
  frontend/apps/console-ce-e2e/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/actions/withTransform/__snapshots__/actionWithTransform.e2e.test.ts.snap
  frontend/apps/console-ce-e2e/src/e2e/actions/withTransform/actionWithTransform.e2e.test.ts
  frontend/apps/console-ce-e2e/src/e2e/actions/withTransform/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/remote-schemas/remote-schema-relationships/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/remote-schemas/rs-to-db-relationships/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/settings/metadata/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/settings/openTelemetry/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/tracing/api-graphiql/snapshots.js
  frontend/apps/console-ce-e2e/src/e2e/utils/checkMetadataPayload.ts
  frontend/apps/console-ce-e2e/src/support/commands.ts
  frontend/apps/console-ce-e2e/src/support/index.d.ts
  frontend/package.json
Owners: @hasura/hge-changelog-owners

console: v2.18 cherry-pick wrapping one-click-deployment clickables in analytics component
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/CliLog/components/ErrorBox.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/CustomFooter.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/PgDatabaseField/NeonButton.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/EnvVarsForm/components/PgDatabaseField/PgDatabaseField.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/GraphiqlPopup/GraphiqlPopup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/RedirectCountdown/RedirectCountDown.tsx
Owners: @hasura/hge-changelog-owners

server: fix nullable field omitted from action response when omitted in the webhook response
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/omitted_field_response_for_nullable_field.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Owners: @hasura/hge-server

frontend: Create a Cypress project for the EE Console
  frontend/README.md
  frontend/apps/console-ce-e2e/cypress.config.ts
  frontend/apps/console-ee-e2e/README.md
  frontend/apps/console-ee-e2e/cypress.config.ts
  frontend/apps/console-ee-e2e/project.json
  frontend/apps/console-ee-e2e/src/e2e/smokeTest.e2e.cy.ts
Owners: @hasura/hge-changelog-owners

ci: ignore two file changes for chromatic ui review
  frontend/libs/console/legacy-ce/src/lib/features/AdhocEvents/components/Form/Form.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/Root.stories.tsx
Owners: @hasura/hge-changelog-owners

docs: update opentelemetry docs
  docs/docs/enterprise/opentelemetry.mdx
Owners: @hasura/hge-docs-owners

ci: don't block merge queue when awaiting review, after #7011
  .kodiak.toml
Owners: @hasura/hge-changelog-owners

add genres
  community/sample-apps/graphql-benchmark/benchmark.sh
  community/sample-apps/graphql-benchmark/config.query.yaml
  community/sample-apps/graphql-benchmark/docker-compose.hasura.yml
  community/sample-apps/graphql-benchmark/nodejs/codegen.ts
  community/sample-apps/graphql-benchmark/nodejs/package-lock.json
  community/sample-apps/graphql-benchmark/nodejs/package.json
  community/sample-apps/graphql-benchmark/nodejs/src/dataloader.ts
  community/sample-apps/graphql-benchmark/nodejs/src/generated/graphql.ts
  community/sample-apps/graphql-benchmark/nodejs/src/main.ts
  community/sample-apps/graphql-benchmark/nodejs/src/schema.graphql
  community/sample-apps/graphql-benchmark/report.hasura.json
  community/sample-apps/graphql-benchmark/report.nodejs.json
Owners: @hasura/hge-changelog-owners

add graphql armor
  community/sample-apps/graphql-benchmark/nodejs/package-lock.json
  community/sample-apps/graphql-benchmark/nodejs/package.json
  community/sample-apps/graphql-benchmark/nodejs/src/main.ts
  community/sample-apps/graphql-benchmark/report.hasura.json
  community/sample-apps/graphql-benchmark/report.nodejs.json
Owners: @hasura/hge-changelog-owners

docs: dynamic connection template
  docs/docs/api-reference/kriti-templating.mdx
  docs/docs/api-reference/metadata-api/source.mdx
  docs/docs/databases/connect-db/dynamic-db-connection.mdx
Owners: @hasura/hge-docs-owners

console: Fix ActionEditor dropdown
  frontend/libs/console/legacy-ce/src/lib/components/Services/Actions/Common/components/ActionEditor.tsx
Owners: @hasura/hge-changelog-owners

[Gardening] Eliminate boolean blindness in so soWsReadCookie
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

[Gardening] Eliminate Boolean Blindness in soEnableTelemetry option
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

[Gardening] Eliminate boolean blindness in soDevMode
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

[Gardening] Eliminate boolean blindness in soAllowList
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Common.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Types.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Logging.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

[Gardening] Eliminate boolean blindness in rsoWebSocketCompression
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/Init/ArgSpec.hs
  server/src-test/Hasura/Server/InitSpec.hs
Owners: @hasura/hge-server

docs: add explanation of livequery-poller-log (GS-284)
  docs/docs/deployment/logging.mdx
  docs/docs/subscriptions/postgres/livequery/execution-and-performance.mdx
  server/src-lib/Hasura/GraphQL/Execute/Subscription/Poll/Common.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

Initial tests for insert mutations for Data Connector agents
  dc-agents/sqlite/dataset_templates/Chinook.sqlite
  dc-agents/sqlite/src/schema.ts
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Mutations.hs
  server/lib/dc-api/test/Main.hs
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Expectations.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec.hs
  server/lib/dc-api/test/Test/Specs/MutationSpec/InsertSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
