Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners

server/console: fix Apollo Federation UI to extend table types in other subgraphs
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Common/Components/ApolloFederationSupport.tsx
  frontend/libs/console/legacy-ce/src/lib/hooks/useServerConfig.ts
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/App.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console (hotfix): fix small typo in relationships list
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/AvailableRelationshipsList/parts/RelationshipMapping.tsx
Owners: @hasura/hge-changelog-owners

server: Support `_contains` and `_contained_in` in permissions.
  server/src-lib/Hasura/Backends/Postgres/DDL/BoolExp.hs
Owners: @hasura/hge-server

Read config state using computed field
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
Owners: @hasura/hge-changelog-owners

server: fix issue with remote schema customisation & null values
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteSpec.hs
Owners: @hasura/hge-server

frontend: Schema registry UI Redesign
  frontend/libs/console/legacy-ce/src/lib/components/Common/SearchableSelect/SearchableSelect.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/ChangeSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaChangeList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
Owners: @hasura/hge-changelog-owners

server: change log level to error for triggers in Cloud
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  server/lib/test-harness/src/Harness/Constants.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/App/State.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Arg/Command/Serve.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/Init/Env.hs
  server/src-lib/Hasura/Server/Types.hs
  server/src-test/Hasura/Server/InitSpec.hs
  server/test-postgres/Constants.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

pro/server: add monitoring metrics for OTLP traces export
  docs/docs/observability/enterprise-edition/prometheus/metrics.mdx
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server: add Prometheus metrics `hasura_postgres_connection_init_time` and `hasura_postgres_pool_wait_time`
  docs/docs/observability/enterprise-edition/prometheus/metrics.mdx
  server/lib/pg-client/pg-client.cabal
  server/lib/pg-client/src/Database/PG/Query/Pool.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server: add dynamic labels to Prometheus metric `hasura_websocket_messages_sent_bytes_total`
  docs/docs/observability/enterprise-edition/prometheus/metrics.mdx
  server/src-lib/Hasura/GraphQL/Execute/Subscription/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/Prometheus.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

console : Schema Registry Ui redesign (cherrypick v2.31)
  frontend/libs/console/legacy-ce/src/lib/components/Common/SearchableSelect/SearchableSelect.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/ChangeSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaChangeList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
Owners: @hasura/hge-changelog-owners

chore(server): Native Query -> Table object relationships
  metadata.openapi.json
  server/src-lib/Hasura/Backends/Postgres/Instances/Metadata.hs
  server/src-lib/Hasura/LogicalModelResolver/Codec.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/LegacyCatalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/Types/Relationships/Local.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: Read config state using computed field (cherry-pick v2.31)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
Owners: @hasura/hge-changelog-owners

console: Read config state using computed field (cherry-pick v2.32)
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/generatedGraphQLTypes.ts
  frontend/libs/console/legacy-ce/src/lib/features/ControlPlane/queries.ts
Owners: @hasura/hge-changelog-owners

Order by nested fields
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/models/OrderByColumn.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/query.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/query.ts
  server/lib/api-tests/src/Test/DataConnector/MockAgent/OrderBySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/OrderBy.hs
  server/lib/dc-api/test/Test/Data.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/Common.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/RQL/IR/Select/OrderBy.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ExpressionSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/OrderBySpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/QuerySpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: AI section
  docs/docs/_heading_ai.mdx
  docs/docs/databases/data-connectors/index.mdx
  docs/docs/jupyter-notebooks.mdx
Owners: @hasura/hge-docs-owners

chore(server): Native Query -> Table array relationships
  metadata.openapi.json
  server/src-lib/Hasura/LogicalModelResolver/Codec.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: update mssql analyze availability
  docs/docs/queries/ms-sql-server/index.mdx
  docs/docs/queries/ms-sql-server/performance.mdx.wip
Owners: @hasura/hge-docs-owners

Revert "fix: Apply naming conventions in more places"
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/NamingConventionsSpec.hs
  server/lib/test-harness/src/Harness/Services/GraphqlEngine/API.hs
  server/lib/test-harness/src/Harness/Services/Source/Postgres.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Schema.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/OnConflict.hs
  server/src-lib/Hasura/Backends/Postgres/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/Types/SourceCustomization.hs
  server/src-lib/Hasura/Table/Cache.hs
Owners: @hasura/hge-server

Block the use of column redaction where the data connector agent does not support it
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedaction/NotSupportedSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/Types/SourceConfiguration.hs
Owners: @hasura/hge-server

console: fix error response parsing for `bulk_atomic` on the relationships widget
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/DatabaseRelationships.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/Widget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RelationshipForm/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenameRelationship/RenameRelationship.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenderWidget/RenderWidget.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/components/RenderWidget/parts/ConfirmDeleteRelationshipPopup.tsx
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/useCreateTableRelationships.ts
  frontend/libs/console/legacy-ce/src/lib/features/DatabaseRelationships/hooks/useCreateTableRelationships/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/hasura-metadata-types/source/source.ts
Owners: @hasura/hge-changelog-owners

ci: tag release v2.11.10
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

docs: refactor logical models / native queries
  docs/docs/schema/bigquery/computed-fields.mdx
  docs/docs/schema/bigquery/custom-field-names.mdx
  docs/docs/schema/bigquery/logical-models.mdx
  docs/docs/schema/bigquery/logical-models/_category_.json
  docs/docs/schema/bigquery/native-queries.mdx
  docs/docs/schema/bigquery/remote-relationships/_category_.json
  docs/docs/schema/ms-sql-server/default-values/_category_.json
  docs/docs/schema/ms-sql-server/index.mdx
  docs/docs/schema/ms-sql-server/logical-models.mdx
  docs/docs/schema/ms-sql-server/logical-models/_category_.json
  docs/docs/schema/ms-sql-server/native-queries.mdx
  docs/docs/schema/ms-sql-server/remote-relationships/_category_.json
  docs/docs/schema/ms-sql-server/stored-procedures.mdx
  docs/docs/schema/postgres/computed-fields.mdx
  docs/docs/schema/postgres/custom-functions.mdx
  docs/docs/schema/postgres/index.mdx
  docs/docs/schema/postgres/logical-models.mdx
  docs/docs/schema/postgres/logical-models/_category_.json
  docs/docs/schema/postgres/native-queries.mdx
  docs/docs/schema/postgres/remote-relationships/_category_.json
Owners: @hasura/hge-docs-owners

ci: tag release v2.11.10
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

upgrade packages in dockerfile
  packaging/graphql-engine-base/ubuntu.dockerfile
Owners: @hasura/hge-changelog-owners

ci: release v2.11.10
  releases/v2.11.10
Owners: @hasura/hge-changelog-owners

ci: release v2.11.10-pro.1
  releases/v2.11.10-pro.1
Owners: @hasura/hge-changelog-owners

Docs: Fixes side nav in Jupyter doc
  docs/docs/jupyter-notebooks.mdx
Owners: @hasura/hge-docs-owners

Docs: Add OpenTelemetry admonitions to cloud providers
  docs/docs/observability/cloud/azure-monitor.mdx
  docs/docs/observability/cloud/datadog.mdx
  docs/docs/observability/cloud/index.mdx
  docs/docs/observability/cloud/newrelic.mdx
  docs/docs/observability/cloud/prometheus.mdx
  docs/docs/observability/enterprise-edition/prometheus/index.mdx
Owners: @hasura/hge-docs-owners

Corrected typo - configure-alerts.mdx
  docs/docs/observability/cloud-monitoring/alerting/configure-alerts.mdx
Owners: @hasura/hge-docs-owners

Fixing agent documentation for interpolated queries text format
  dc-agents/DOCUMENTATION.md
Owners: @hasura/hge-changelog-owners

DC cherry picks for 2.32
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/models/OrderByColumn.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/query.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  dc-agents/sqlite/src/query.ts
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedaction/BigquerySpec.hs
  server/lib/api-tests/src/Test/Auth/Authorization/InheritedRoles/ColumnRedaction/NotSupportedSpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/OrderBySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/QueryRelationshipsSpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/OrderBy.hs
  server/lib/dc-api/test/Test/Data.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Schema.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/BigQuery/ToQuery.hs
  server/src-lib/Hasura/Backends/BigQuery/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/Common.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/LogicalModel/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Permission.hs
  server/src-lib/Hasura/RQL/IR/Select/OrderBy.hs
  server/src-lib/Hasura/RQL/Types/SourceConfiguration.hs
  server/src-test/Hasura/Backends/BigQuery/TypesSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/ExpressionSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/OrderBySpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/QuerySpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: fix No Schema available in explorer & JWT decode
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
Owners: @hasura/hge-changelog-owners

console : Schema Registry Ui redesign (cherrypick v2.32)
  frontend/libs/console/legacy-ce/src/lib/components/Common/SearchableSelect/SearchableSelect.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/ChangeSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/Container.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaChangeDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaDetails.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRegistryHome.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaRow.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemaTag.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/components/SchemasList.tsx
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/constants.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchema.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/hooks/useGetSchemaChangeList.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/queries.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/types.ts
  frontend/libs/console/legacy-ce/src/lib/features/SchemaRegistry/utils.ts
Owners: @hasura/hge-changelog-owners

console: fix No Schema available in explorer & JWT decode (cherry-pick v2.32)
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
Owners: @hasura/hge-changelog-owners

ci: tag release v2.32.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: tag release v2.32.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

ci: release v2.32.0
  releases/v2.32.0
Owners: @hasura/hge-changelog-owners

ci: release v2.32.0-ce
  releases/v2.32.0-ce
Owners: @hasura/hge-changelog-owners

ci: release v2.32.0-cloud.1
  releases/v2.32.0-cloud.1
Owners: @hasura/hge-changelog-owners
