Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

ci: tag release v2.16.0-beta.1
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

server: build even more parts of the Schema Cache monadically
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
Owners: @hasura/hge-server

[Nix] Set nixpkgs to 22.11 and update flake lock.
  flake.lock
  flake.nix
Owners: @hasura/hge-changelog-owners

Server/tests: Scalar Computed Fields > Postgres
  docs/docs/databases/index.mdx
  docs/docs/databases/postgres/citus-hyperscale-postgres/hasura-citus-compatibility.mdx
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Schema/ComputedFields/ScalarSpec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
Owners: @hasura/hge-docs-owners, @hasura/hge-server

server/tests: Remove pytest version of TestGraphQLQueryBasicCitus
  server/tests-py/queries/graphql_query/citus/nested_select_with_foreign_key_alter_citus.yaml
  server/tests-py/queries/graphql_query/citus/schema_setup_citus.yaml
  server/tests-py/queries/graphql_query/citus/schema_teardown_citus.yaml
  server/tests-py/queries/graphql_query/citus/select_query_disaster_functions.yaml
  server/tests-py/queries/graphql_query/citus/select_query_disaster_relationships_distributed.yaml
  server/tests-py/queries/graphql_query/citus/select_query_disaster_relationships_reference.yaml
  server/tests-py/queries/graphql_query/citus/select_query_person_citext.yaml
  server/tests-py/queries/graphql_query/citus/select_query_user_col_change_citus.yaml
  server/tests-py/queries/graphql_query/citus/setup.yaml
  server/tests-py/queries/graphql_query/citus/setup_citus.yaml
  server/tests-py/queries/graphql_query/citus/setup_invalid_fkey_relationship.yaml
  server/tests-py/queries/graphql_query/citus/teardown.yaml
  server/tests-py/queries/graphql_query/citus/teardown_citus.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

console: upgrade nudging for oss users wanting to use ssl cockroach db
  console/src/components/Services/Data/DataSources/ConnectDBForm.tsx
Owners: @hasura/hge-console-owners

Structured logging in test-harness
  .hlint.yaml
  server/lib/api-tests/src/Test/EventTriggers/MSSQL/EventTriggerDropSourceCleanupSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/MSSQL/EventTriggersUntrackTableCleanupSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersExtensionSchemaSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersReplaceMetadataCleanupSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersRunSQLSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersUntrackTableCleanupSpec.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Logging/Messages.hs
  server/lib/test-harness/src/Harness/Subscriptions.hs
  server/lib/test-harness/src/Harness/Test/Fixture.hs
  server/lib/test-harness/src/Harness/Test/SetupAction.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[ci] split out `api-tests` runs by backend
  scripts/make/ci.mk
Owners: @hasura/hge-changelog-owners

Collect Metadata dependencies in a `Seq`uence rather than a list
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/InheritedRoles.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Build.hs
  server/src-lib/Hasura/RemoteSchema/SchemaCache/Permission.hs
Owners: @hasura/hge-server

server: implement codecs for table permissions
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
Owners: @hasura/hge-server

Map scalar types to GraphQL built-in types for parsing [GDC-587]
  dc-agents/README.md
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/index.ts
  dc-agents/dc-api-types/src/models/AggregateFunctions.ts
  dc-agents/dc-api-types/src/models/ComparisonOperators.ts
  dc-agents/dc-api-types/src/models/GraphQLType.ts
  dc-agents/dc-api-types/src/models/ScalarTypeCapabilities.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/capabilities.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/DataConnector/MockAgent/CustomScalarsSpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Capabilities.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser.hs
  server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Scalars.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Mock/Server.hs
  server/lib/test-harness/src/Harness/Test/BackendType.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Schema.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/CapabilitiesSpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

install manifests: update to Postgres 14
  docs/docs/databases/ms-sql-server/getting-started/docker.mdx
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-ms-sql-server/docker-compose.yaml
  install-manifests/docker-compose-mysql-preview/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  packaging/cli-migrations/v2/test/docker-compose.yaml
  packaging/cli-migrations/v3/test/docker-compose.yaml
Owners: @hasura/hge-docs-owners, @hasura/hge-changelog-owners

console: update heap custom tracking event names
  console/src/components/App/App.js
  console/src/features/OnboardingWizard/hooks/useWizardState.ts
Owners: @hasura/hge-console-owners

cli: Add cli-ext path option for Deploy API [GT-307]
  cli/pkg/deploy/project_deploy.go
Owners: @hasura/hge-cli-owners

server/gardening: drop an unnecessary field from 'ServeCtx'
  server/src-lib/Hasura/App.hs
Owners: @hasura/hge-server

fix(console): fix action with transform e2e test
  console/cypress/e2e/actions/withTransform/actionWithTransform.e2e.test.ts
Owners: @hasura/hge-console-owners

Feature matrix standalone tester tool
  flake.nix
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/app-produce-feature-matrix/Main.hs
  server/lib/api-tests/app-render-feature-matrix/Main.hs
  server/lib/api-tests/src-feature-matrix/Hasura/FeatureMatrix.hs
  server/lib/api-tests/src/SpecHook.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/TestEnvironment.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Docs: Updates Docusaurus to 2.2
  docs/package.json
  docs/yarn.lock
Owners: @hasura/hge-docs-owners

Docs update for prometheus metrics addition of Postgres connections
  docs/docs/enterprise/metrics.mdx
Owners: @hasura/hge-docs-owners

server/tests: Table Computed Fields > Postgres
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/Metadata/ComputedFieldsSpec.hs
  server/lib/api-tests/src/Test/Databases/BigQuery/Schema/ComputedFields/TableSpec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/ScalarSpec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
  server/lib/test-harness/src/Harness/Backend/Postgres.hs
  server/lib/test-harness/src/Harness/Test/BackendType.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
Owners: @hasura/hge-server

github md pages: update email address for security team
  SECURITY.md
  translations/SECURITY.french.md
  translations/SECURITY.hindi.md
  translations/SECURITY.kannada.md
  translations/SECURITY.malayalam.md
  translations/code-of-conduct.french.md
Owners: @hasura/hge-changelog-owners

Gil/fix feature matrix test and apply css
  cabal.project.freeze
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/app-produce-feature-matrix/Main.hs
  server/lib/api-tests/src-feature-matrix/Hasura/FeatureMatrix.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[GDC] Transform SourceConnConfig in runGetSourceTables
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/DataConnector/MockAgent/MetadataApiSpec.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/ConfigTransform.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Source.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
Owners: @hasura/hge-server

Prettified the code
  console/src/components/Services/Actions/Common/components/HandlerEditor.tsx
Owners: @hasura/hge-console-owners

[server/tests] don't do detailed teardown
  server/lib/test-harness/src/Harness/Backend/BigQuery.hs
  server/lib/test-harness/src/Harness/Backend/Citus.hs
  server/lib/test-harness/src/Harness/Backend/Cockroach.hs
  server/lib/test-harness/src/Harness/Backend/Sqlserver.hs
Owners: @hasura/hge-server

console: fix clone value handling for the insert tab
  console/src/components/Common/CustomInputTypes/JsonInput.js
  console/src/components/Common/CustomInputTypes/TextInput.js
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Data/Common/Components/TypedInput.js
  console/src/components/Services/Data/Common/Components/utils.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableCommon/DataTableRowItem.stories.tsx
  console/src/components/Services/Data/TableCommon/DataTableRowItem.tsx
  console/src/components/Services/Data/TableEditItem/EditActions.js
  console/src/components/Services/Data/TableEditItem/TableEditItemContainer.tsx
  console/src/components/Services/Data/TableEditItem/TableEditItems.tsx
  console/src/components/Services/Data/TableInsertItem/InsertActions.js
  console/src/components/Services/Data/TableInsertItem/TableInsertItemContainer.tsx
  console/src/components/Services/Data/TableInsertItem/TableInsertItems.tsx
Owners: @hasura/hge-console-owners

Fix mssql aggregation test
  server/lib/api-tests/src/Test/Queries/AggregationSpec.hs
Owners: @hasura/hge-server

docs: update docs around webhook based authentication for websocket connection
  docs/docs/auth/authentication/webhook.mdx
Owners: @hasura/hge-docs-owners

docs: add ha multi region docs
  docs/docs/deployment/hasura-cloud/high-availability.mdx
Owners: @hasura/hge-docs-owners

server/tests: Introuce pytest-to-haskell porting script
  server/tests-py/PortToHaskell.py
  server/tests-py/conftest.py
  server/tests-py/validate.py
Owners: @hasura/hge-server

console: Revisions to #6931
  console/src/features/Data/ModifyTable/components/TableComments.tsx
  console/src/features/DatabaseRelationships/components/common/TablePicker.tsx
  console/src/features/DatabaseRelationships/hooks/useListAllDatabaseRelationships.ts
  console/src/features/hasura-metadata-api/areTablesEqual.ts
  console/src/features/hasura-metadata-api/index.ts
  console/src/features/hasura-metadata-api/selectors.test.ts
  console/src/features/hasura-metadata-api/selectors.ts
  console/src/features/hasura-metadata-api/utils.ts
Owners: @hasura/hge-console-owners

docs: reintroduce regression tests for pro cli and restructure subdirectory
  docs/docs/hasura-cli/hasurapro-cli.mdx
  docs/docs/hasura-cli/pro-cli/_category_.json
  docs/docs/hasura-cli/pro-cli/auth.mdx
  docs/docs/hasura-cli/pro-cli/index.mdx
  docs/docs/hasura-cli/pro-cli/installing-uninstalling.mdx
  docs/docs/hasura-cli/pro-cli/regression-tests.mdx
Owners: @hasura/hge-docs-owners

Data Connectors Stable API Release
  dc-agents/README.md
Owners: @hasura/hge-changelog-owners

Use Sandwich test framework for Data Connector agent test suite
  .gitignore
  cabal.project.freeze
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/test/Command.hs
  server/lib/dc-api/test/Main.hs
  server/lib/dc-api/test/README.md
  server/lib/dc-api/test/Test/AgentClient.hs
  server/lib/dc-api/test/Test/CapabilitiesSpec.hs
  server/lib/dc-api/test/Test/Data.hs
  server/lib/dc-api/test/Test/Expectations.hs
  server/lib/dc-api/test/Test/HealthSpec.hs
  server/lib/dc-api/test/Test/HttpFile.hs
  server/lib/dc-api/test/Test/MetricsSpec.hs
  server/lib/dc-api/test/Test/QuerySpec.hs
  server/lib/dc-api/test/Test/Specs/CapabilitiesSpec.hs
  server/lib/dc-api/test/Test/Specs/ConfigSpec.hs
  server/lib/dc-api/test/Test/Specs/ErrorSpec.hs
  server/lib/dc-api/test/Test/Specs/ExplainSpec.hs
  server/lib/dc-api/test/Test/Specs/HealthSpec.hs
  server/lib/dc-api/test/Test/Specs/MetricsSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/AggregatesSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/BasicSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/FilteringSpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/OrderBySpec.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/RelationshipsSpec.hs
  server/lib/dc-api/test/Test/Specs/SchemaSpec.hs
  server/lib/dc-api/test/Test/TestHelpers.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

ci: tag release v2.16.0
  server/src-rsr/catalog_versions.txt
Owners: @hasura/hge-server

fix api-tests warnings and enable -Wall
  scripts/make/ghcid.mk
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/SpecHook.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/MetadataApiSpec.hs
  server/lib/api-tests/src/Test/Databases/BigQuery/Schema/ComputedFields/TableSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/MSSQL/EventTriggersForReplicationSpec.hs
  server/lib/api-tests/src/Test/EventTriggers/PG/EventTriggersForReplicationSpec.hs
  server/lib/api-tests/src/Test/PortedFromPytest/TestGraphQLQueryBasicCitus.hs
  server/lib/api-tests/src/Test/Queries/FilterSearch/AggregationPredicatesSpec.hs
  server/lib/api-tests/src/Test/Regression/DropColumnWithPermissions8415Spec.hs
  server/lib/api-tests/src/Test/Regression/InsertOnConflict8260Spec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/ScalarSpec.hs
  server/lib/api-tests/src/Test/Schema/ComputedFields/TableSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteSchemaCustomizationSpec.hs
  server/lib/api-tests/src/Test/Schema/ViewsSpec.hs
  server/lib/api-tests/src/Test/Webhook/WebhookTransformSpec.hs
  server/lib/test-harness/src/Harness/Test/Permissions.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

server: Improve modelling of function metadata and schema diffing
  server/src-lib/Data/List/Extended.hs
  server/src-lib/Hasura/Backends/BigQuery/DDL/Source.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/RunSQL.hs
  server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Fields.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
Owners: @hasura/hge-server

[server/tests] remove unnecessary cleanup
  server/lib/api-tests/src/Test/API/Metadata/ComputedFieldsSpec.hs
  server/lib/api-tests/src/Test/Regression/UsingTheSameFunctionForRootFieldAndComputedField8643Spec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/MetadataAPI/Common.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBArrayRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToDBObjectRelationshipSpec.hs
  server/lib/api-tests/src/Test/Schema/RemoteRelationships/XToRemoteSchemaRelationshipSpec.hs
  server/lib/test-harness/src/Harness/Test/SetupAction.hs
Owners: @hasura/hge-server

[pg-client] test cancelled queries actually stop running queries
  server/lib/pg-client-hs/Makefile
  server/lib/pg-client-hs/docker-compose.yml
  server/lib/pg-client-hs/test/Timeout.hs
Owners: @hasura/hge-server

add concurrent_bulk api for parallel processing of read-only queries
  console/cypress/e2e/actions/query/utils/requests/logMetadataRequests.ts
  console/cypress/e2e/actions/withTransform/utils/requests/logMetadataRequests.ts
  console/src/components/Services/Data/Common/getMigrateUrl.ts
  console/src/components/Services/Data/DataActions.js
  console/src/dataSources/services/postgresql/utils.ts
  console/src/features/CronTriggers/components/Form/mocks/handlers.mock.ts
  console/src/features/MetadataAPI/hooks/utils.ts
  console/src/mocks/actions.ts
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/API/ConcurrentBulkSpec.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
Owners: @hasura/hge-console-owners, @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
