Repository hasura/graphql-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasura/hge-changelog-owners, @hasura/hge-server, @hasura/hge-docs-owners, @hasura/hge-cli-owners, @hasura/hge-console-owners

Use Dataset Clones for all SQLite tests
  dc-agents/docker-compose.yaml
  dc-agents/sdk/docker-compose.yaml
  dc-agents/sqlite/.gitignore
  dc-agents/sqlite/dataset_templates/Chinook.sqlite
  dc-agents/sqlite/dataset_templates/Empty.sqlite
  dc-agents/sqlite/src/datasets.ts
  dc-agents/sqlite/test/db.chinook.sqlite
  dc-agents/sqlite/test/db.sqlite
  server/lib/api-tests/src/Test/API/Metadata/TransparentDefaultsSpec.hs
  server/lib/api-tests/src/Test/DataConnector/AggregateQuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MetadataApiSpec.hs
  server/lib/api-tests/src/Test/DataConnector/QuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/SelectPermissionsSpec.hs
  server/lib/dc-api/test/Command.hs
  server/lib/dc-api/test/Main.hs
  server/lib/dc-api/test/README.md
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/lib/dc-api/test/Test/AgentTestContext.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Reference.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Sqlite.hs
  server/lib/test-harness/src/Harness/Backend/DataConnector/Sqlite.hs
  server/lib/test-harness/src/Harness/DataConnectorAgent.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/test-harness.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Gardening: Enable and fix warnings in dc-api package
  server/lib/dc-api/dc-api.cabal
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/ConfigSchema.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Expression.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Mutations.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Name.hs
  server/lib/dc-api/test/Command.hs
  server/lib/dc-api/test/Test/AgentAPI.hs
  server/lib/dc-api/test/Test/AgentClient.hs
  server/lib/dc-api/test/Test/AgentDatasets.hs
  server/lib/dc-api/test/Test/AgentTestContext.hs
  server/lib/dc-api/test/Test/DataExport.hs
  server/lib/dc-api/test/Test/HttpFile.hs
  server/lib/dc-api/test/Test/Specs/ErrorSpec.hs
  server/lib/dc-api/test/Test/TestHelpers.hs
Owners: @hasura/hge-server

api-tests: If a GET request fails with the wrong status code, print the response.
  server/lib/test-harness/src/Harness/Http.hs
Owners: @hasura/hge-server

ci: setup chromatic to run on new workspace
  frontend/libs/console/legacy-ce/project.json
  frontend/package.json
Owners: @hasura/hge-changelog-owners

Bump autodocodec to 0.2.0.3, ditch Data.Voidable
  cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Data/Voidable.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata/Serialization.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

Fixing issues with SQLite FKs in Schema and Suggest Relationships API Docs
  dc-agents/sqlite/src/schema.ts
  docs/docs/api-reference/metadata-api/relationship.mdx
  server/lib/test-harness/src/Harness/Backend/DataConnector/Chinook/Sqlite.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Metadata.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-docs-owners, @hasura/hge-server

Allow `pg_run_sql` as well as `run_sql` to remove some string-bodging
  server/lib/api-tests/src/Test/API/ConcurrentBulkSpec.hs
  server/lib/test-harness/src/Harness/Test/Schema.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
Owners: @hasura/hge-server

console: fix notifications alignment and spacing
  frontend/libs/console/legacy-ce/.storybook/preview.js
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Common/Notification.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Analytics/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/ToastsHub.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/hasuraToast.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/hasuraToast.tsx
Owners: @hasura/hge-changelog-owners

server: fix cabal and warnings for arrows related packages
  cabal/ci.project.local
  cabal/dev-sh.project.local
  server/lib/arrows-extra/arrows-extra.cabal
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

docs: optimize code elements inside tables
  docs/.prettierrc.json
  docs/src/components/CustomDocItem/index.tsx
Owners: @hasura/hge-docs-owners

Docs: Add snowflake and athena to databases list. DigitalOcean one word
  docs/docs/databases/connect-db/cloud-databases/digital-ocean.mdx
  docs/docs/databases/connect-db/cloud-databases/heroku.mdx
  docs/docs/databases/connect-db/cloud-databases/index.mdx
  docs/docs/databases/index.mdx
  docs/docs/deployment/deployment-guides/digital-ocean-one-click.mdx
  docs/docs/deployment/deployment-guides/index.mdx
  docs/docs/deployment/hasura-cloud/ci-cd/preview-apps.mdx
  docs/docs/deployment/logging.mdx
  docs/docs/deployment/securing-graphql-endpoint.mdx
  docs/docs/deployment/updating-graphql-engine.mdx
  docs/docs/getting-started/getting-started-cloud.mdx
Owners: @hasura/hge-docs-owners

Feature: Delete rows hook
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/DataGrid.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/parts/ReactTableWrapper.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/parts/ReactTableWrapper.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/components/DataGrid/parts/RowOptionsButton.tsx
  frontend/libs/console/legacy-ce/src/lib/features/BrowseRows/hooks/useRows.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useDefaultQueryRoot.ts
  frontend/libs/console/legacy-ce/src/lib/features/Data/hooks/useGraphQLMutation.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/api.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/citus/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/cockroach/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DataSource/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DeleteRow/hooks/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/DeleteRow/hooks/useDeleteRow.ts
  frontend/libs/console/legacy-ce/src/lib/features/DeleteRow/index.tsx
  frontend/libs/console/legacy-ce/src/lib/features/GraphQLUtils/index.ts
  frontend/libs/console/legacy-ce/src/lib/features/GraphQLUtils/mutation/generateGraphQLDeleteByPrimaryKeyMutation.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/GraphQLUtils/mutation/generateGraphQLDeleteByPrimaryKeyMutation.ts
  frontend/libs/console/legacy-ce/src/lib/features/GraphQLUtils/mutation/generateGraphQLInsertMutation.test.ts
  frontend/libs/console/legacy-ce/src/lib/features/GraphQLUtils/mutation/getMutationRoot.ts
  frontend/libs/console/legacy-ce/src/lib/features/GraphQLUtils/mutation/index.ts
Owners: @hasura/hge-changelog-owners

Console fix notifications alignment and spacing
  frontend/libs/console/legacy-ce/.storybook/preview.js
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Common/Notification.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Analytics/index.ts
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/ToastsHub.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/hasuraToast.stories.tsx
  frontend/libs/console/legacy-ce/src/lib/new-components/Toasts/hasuraToast.tsx
Owners: @hasura/hge-changelog-owners

Reorganize Hasura.Prelude module and add haddocks.
  server/lib/hasura-prelude/src/Hasura/Prelude.hs
Owners: @hasura/hge-server

Remove `MetadataStorageT`, clean up error handling.
  server/lib/hasura-prelude/src/Hasura/Prelude.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Action/Subscription.hs
  server/src-lib/Hasura/GraphQL/Execute/Backend.hs
  server/src-lib/Hasura/GraphQL/Execute/Common.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WSServerApp.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Metadata/Class.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/Endpoint.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/API/Metadata.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/API/V2Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Limits.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Rest.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/test-postgres/Hasura/Server/MigrateSuite.hs
  server/test-postgres/Main.hs
Owners: @hasura/hge-server

Simplify SourceKindInfo ToJSON instance
  server/src-lib/Hasura/RQL/DDL/SourceKinds.hs
Owners: @hasura/hge-server

server/api-tests: Port a test for empty roots from the Python tests.
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/Queries/Errors/EmptyRootsAreNotAvailableSpec.hs
  server/tests-py/queries/graphql_query/empty/check_no_empty_roots.yaml
  server/tests-py/queries/graphql_query/empty/select_placeholder.yaml
  server/tests-py/test_graphql_queries.py
Owners: @hasura/hge-server

[server] Pass parameters to native queries
  scripts/make/tests.mk
  server/lib/api-tests/src/Test/Queries/NativeAccess/NativeAccessQueriesSpec.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Execute.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Process.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Types.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Schema.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-test/Hasura/Backends/Postgres/NativeQuery/NativeQuerySpec.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

[console] sort types alphabetically in remote schema type dropdown
  console/src/components/Services/RemoteSchema/Common/GraphQLCustomization/FieldNames.tsx
  console/src/components/Services/RemoteSchema/Common/GraphQLCustomization/TypeMapping.tsx
Owners: @hasura/hge-console-owners

Console remove useless warning (hotfix v2.18)
  frontend/libs/console/legacy-ce/src/lib/new-components/Button/Button.tsx
Owners: @hasura/hge-changelog-owners

feat: support is_null operator in MSSQL permissions
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
Owners: @hasura/hge-server

server: move event trigger schedule cleanup logic
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/test-postgres/Hasura/Server/MigrateSuite.hs
Owners: @hasura/hge-server

server: fix some hspec tests
  server/graphql-engine.cabal
  server/lib/schema-parsers/test/Hasura/GraphQL/Parser/MonadParseSpec.hs
  server/src-test/Hasura/GraphQL/Schema/RemoteSpec.hs
Owners: @hasura/hge-server

CI: Run the Python tests in the "new" mode, one HGE per test class.
  server/tests-py/remote_server.py
Owners: @hasura/hge-server

console: programmaticallyTraceError logs to the Console too
  frontend/libs/console/legacy-ce/src/lib/components/Services/ApiExplorer/OneGraphExplorer/utils.js
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/DataSources/CreateDataSource/Neon/useCreateHasuraCloudDatasource.ts
  frontend/libs/console/legacy-ce/src/lib/features/Analytics/components/Analytics.tsx
  frontend/libs/console/legacy-ce/src/lib/features/Analytics/core/programmaticallyTraceError.ts
  frontend/libs/console/legacy-ce/src/lib/features/Analytics/core/sentry/captureException.ts
  frontend/libs/console/legacy-ce/src/lib/features/Analytics/core/sentry/startSentryTracing.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/components/QueryScreen/TemplateSummary.tsx
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OnboardingWizard/utils.ts
  frontend/libs/console/legacy-ce/src/lib/features/CloudOnboarding/OneClickDeployment/components/WorkflowProgress/WorkflowProgress.tsx
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/hooks/useOnSetOpenTelemetryError.ts
  frontend/libs/console/legacy-ce/src/lib/features/OpenTelemetry/OpenTelemetryProvider/hooks/useTrackTypeMisalignments.ts
Owners: @hasura/hge-changelog-owners

[server/tests] test server health with /healthz endpoint
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/HealthCheckSpec.hs
  server/lib/test-harness/src/Harness/GraphqlEngine.hs
  server/lib/test-harness/src/Harness/Services/GraphqlEngine.hs
Owners: @hasura/hge-server

NaQI - validate against the database - infra and check syntax
  server/graphql-engine.cabal
  server/lib/api-tests/src/Test/API/Metadata/NativeQuerySpec.hs
  server/lib/api-tests/src/Test/Queries/NativeAccess/NativeAccessQueriesSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/Instances/Types.hs
  server/src-lib/Hasura/Backends/DataConnector/Adapter/Backend.hs
  server/src-lib/Hasura/Backends/MSSQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/MySQL/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/NativeQueries.hs
  server/src-lib/Hasura/Backends/Postgres/Instances/Types.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/NativeQuery/API.hs
  server/src-lib/Hasura/NativeQuery/Metadata.hs
  server/src-lib/Hasura/NativeQuery/Types.hs
  server/src-lib/Hasura/RQL/Types/Backend.hs
  server/src-lib/Hasura/RQL/Types/SourceConfiguration.hs
Owners: @hasura/hge-server

fix import error
  server/src-lib/Hasura/Backends/MSSQL/DDL/BoolExp.hs
Owners: @hasura/hge-server

Added result_type property to SingleColumnAggregate
  dc-agents/README.md
  dc-agents/dc-api-types/package.json
  dc-agents/dc-api-types/src/agent.openapi.json
  dc-agents/dc-api-types/src/models/OrderBySingleColumnAggregate.ts
  dc-agents/dc-api-types/src/models/SingleColumnAggregate.ts
  dc-agents/package-lock.json
  dc-agents/reference/package-lock.json
  dc-agents/reference/package.json
  dc-agents/reference/src/query.ts
  dc-agents/sqlite/package-lock.json
  dc-agents/sqlite/package.json
  server/lib/api-tests/api-tests.cabal
  server/lib/api-tests/src/Test/DataConnector/MockAgent/AggregateQuerySpec.hs
  server/lib/api-tests/src/Test/DataConnector/MockAgent/OrderBySpec.hs
  server/lib/dc-api/src/Hasura/Backends/DataConnector/API/V0/Aggregate.hs
  server/lib/dc-api/test/Test/Specs/QuerySpec/AggregatesSpec.hs
  server/src-lib/Hasura/Backends/BigQuery/FromIr.hs
  server/src-lib/Hasura/Backends/DataConnector/Plan/QueryPlan.hs
  server/src-lib/Hasura/Backends/MSSQL/FromIr/Query.hs
  server/src-lib/Hasura/Backends/MySQL/FromIr.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Aliases.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/Extractor.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select/Internal/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/AggregateSpec.hs
  server/src-test/Hasura/Backends/DataConnector/API/V0/OrderBySpec.hs
  server/src-test/Hasura/RQL/IR/Generator.hs
Owners: @hasura/hge-changelog-owners, @hasura/hge-server

console: fix issue with `Badge` component for `Check DB Latency` on Data Manager
  frontend/libs/console/legacy-ce/src/lib/components/Services/Data/Schema/CollapsibleToggle.tsx
Owners: @hasura/hge-changelog-owners

console: fix telemetry notification reappearing
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/libs/console/legacy-ce/src/lib/telemetry/Notifications.tsx
Owners: @hasura/hge-changelog-owners

console: fix telemetry notification reappearing
  frontend/libs/console/legacy-ce/src/lib/components/App/App.js
  frontend/libs/console/legacy-ce/src/lib/telemetry/Notifications.tsx
Owners: @hasura/hge-changelog-owners

community: add graphql benchmark
  community/sample-apps/graphql-benchmark/README.md
  community/sample-apps/graphql-benchmark/benchmark.sh
  community/sample-apps/graphql-benchmark/config.query.yaml
  community/sample-apps/graphql-benchmark/docker-compose.hasura.yml
  community/sample-apps/graphql-benchmark/docker-compose.node.yml
  community/sample-apps/graphql-benchmark/nodejs/.dockerignore
  community/sample-apps/graphql-benchmark/nodejs/Dockerfile
  community/sample-apps/graphql-benchmark/nodejs/codegen.ts
  community/sample-apps/graphql-benchmark/nodejs/package-lock.json
  community/sample-apps/graphql-benchmark/nodejs/package.json
  community/sample-apps/graphql-benchmark/nodejs/src/dataloader.ts
  community/sample-apps/graphql-benchmark/nodejs/src/db.ts
  community/sample-apps/graphql-benchmark/nodejs/src/generated/graphql.ts
  community/sample-apps/graphql-benchmark/nodejs/src/main.ts
  community/sample-apps/graphql-benchmark/nodejs/src/schema.graphql
  community/sample-apps/graphql-benchmark/nodejs/tsconfig.json
  community/sample-apps/graphql-benchmark/report.hasura.json
  community/sample-apps/graphql-benchmark/report.nodejs.json
Owners: @hasura/hge-changelog-owners

server: delete unused benchmarking code
  server/bench-wrk/.gitignore
  server/bench-wrk/.python-version
  server/bench-wrk/Readme.md
  server/bench-wrk/gen-version.sh
  server/bench-wrk/get-server-sha.sh
  server/bench-wrk/hge_wrk_bench.py
  server/bench-wrk/plot.py
  server/bench-wrk/port_allocator.py
  server/bench-wrk/queries.graphql
  server/bench-wrk/requirements-top-level.txt
  server/bench-wrk/requirements.txt
  server/bench-wrk/results_schema.yaml
  server/bench-wrk/run_hge.py
  server/bench-wrk/run_postgres.py
  server/bench-wrk/sportsdb_setup.py
  server/bench-wrk/wrk-websocket-server/.dockerignore
  server/bench-wrk/wrk-websocket-server/.gitignore
  server/bench-wrk/wrk-websocket-server/CHANGELOG.md
  server/bench-wrk/wrk-websocket-server/Dockerfile
  server/bench-wrk/wrk-websocket-server/LICENSE
  server/bench-wrk/wrk-websocket-server/Setup.hs
  server/bench-wrk/wrk-websocket-server/app/Main.hs
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-lib-wrk.lua
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-lib-wrk2.lua
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-wrk.lua
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-wrk2.lua
  server/bench-wrk/wrk-websocket-server/cabal.project
  server/bench-wrk/wrk-websocket-server/cabal.project.dev
  server/bench-wrk/wrk-websocket-server/cabal.project.freeze
  server/bench-wrk/wrk-websocket-server/cabal.project.local
  server/bench-wrk/wrk-websocket-server/cabal.project.local~
  server/bench-wrk/wrk-websocket-server/example_benchmark_request.yaml
  server/bench-wrk/wrk-websocket-server/src/Wrk/Server.hs
  server/bench-wrk/wrk-websocket-server/src/Wrk/Server/Types.hs
  server/bench-wrk/wrk-websocket-server/wrk-websocket-server.cabal
Owners: @hasura/hge-server

docs: restructure server reference page
  docs/docs/deployment/graphql-engine-flags/index.mdx
  docs/docs/deployment/graphql-engine-flags/reference.mdx
  docs/src/css/custom.scss
  docs/static/img/deployment/server-config/cloud-env-var.png
Owners: @hasura/hge-docs-owners

Set default value of analyze_query_variables to True
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
Owners: @hasura/hge-server

Apply ormolu
  server/src-lib/Hasura/RQL/Types/Common.hs
Owners: @hasura/hge-server

Update default value in docs
  docs/docs/api-reference/metadata-api/observability.mdx
Owners: @hasura/hge-docs-owners

[Gardening] Remove where clause from `mkServeOptions` and add haddocks.
  server/src-lib/Hasura/Server/Init.hs
Owners: @hasura/hge-server

Eliminate Template Haskell from Hasura.RQL.Types.Common
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-test/Hasura/Generator/Common.hs
  server/src-test/Hasura/RQL/Types/CommonSpec.hs
Owners: @hasura/hge-server

.github/CODEOWNERS:

# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hasura/hge-changelog-owners

# server code owners
/server/  @hasura/hge-server

# docs code owners
/docs/    @hasura/hge-docs-owners

# cli code owners
/cli/     @hasura/hge-cli-owners

# console code owners
/console/ @hasura/hge-console-owners
