Repository hasura/graphql-engine, changes with the labels that .github/labeler.yml gives for each.
All labels: c/server, c/cli, c/console, c/docs, c/community, c/build-system

fix update script to read config file
  cli/commands/scripts_update_config_v2.go
Labels: c/cli

Update test console script and readme
  .circleci/test-console.sh
  console/README.md
Labels: c/console, c/build-system

option to reload remote schemas in 'reload metadata' (fix #3792, #4117) (#4141)
  CHANGELOG.md
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Main/Main.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/RemoteSchema/utils.js
  console/src/components/Services/Settings/Actions.js
  console/src/components/Services/Settings/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Settings/MetadataOptions/ReloadMetadata.js
  console/src/components/Services/Settings/MetadataOptions/ResetMetadata.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  docs/graphql/manual/api-reference/schema-metadata-api/manage-metadata.rst
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-test/Main.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/test_schema_stitching.py
Labels: c/server, c/console, c/docs

Fix bulk deleting roles without permissions
  CHANGELOG.md
  console/src/components/Common/Permissions/TableRow.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

ipdate changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

console: show remote shema / event trigger intro sections always (#4044)
  CHANGELOG.md
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
Labels: c/console

console: disable selecting roles without permissions for bulk actions (close #4178) (#4195)
  CHANGELOG.md
  console/src/components/Common/Permissions/TableRow.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

Update .eslintrc to allow empty functions
  console/.eslintrc
Labels: c/console

ci: fix fix console hot-fix releases
  .circleci/config.yml
  .circleci/deploy.sh
  scripts/get-console-assets-version.sh
Labels: c/build-system

Keep the docstring, nix a redundant catch
  server/tests-py/validate.py
Labels: c/server

tests: fix stringify function (#4191)
  server/tests-py/validate.py
Labels: c/server

console: remove collapsiblIndicatorWrapper className
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.js
Labels: c/console

console: revert fontAwesomeClose class
  console/src/components/Common/Common.scss
Labels: c/console

Remove any outstanding hdb_views (fixes #3940) (#3965)
  console/.eslintrc
  console/package-lock.json
  console/src/components/Login/Login.js
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Settings/Logout/Logout.js
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Utils.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-rsr/catalog_version.txt
  server/src-rsr/migrations/33_to_34.sql
  server/src-rsr/migrations/34_to_33.sql
Labels: c/server, c/console

Add Render Deployment Instructions
  README.md
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/deployment/render-one-click.rst
  docs/img/graphql/manual/deployment/deploy-to-render-hasura-header.png
  docs/img/graphql/manual/deployment/deploy-to-render-hasura-iac.png
Labels: c/docs

Add missing migration to initialise.sql for #3839
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-rsr/initialise.sql
Labels: c/server

More robust forking, exception safety. Closes #3768 (#3860)
  scripts/dev.sh
  server/graphql-engine.cabal
  server/src-lib/Control/Concurrent/Extended.hs
  server/src-lib/Data/TByteString.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Events/HTTP.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Server/Telemetry.hs
Labels: c/server, c/build-system

server(events): utilize proper backpressure scheme (close #3839) (#4013)
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/event-triggers/index.rst
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/Server/Init.hs
  server/tests-py/context.py
  server/tests-py/test_events.py
Labels: c/server, c/docs

Use AssertNF for leak prophylaxis when doing mutable writes. Closes #3937 (#4097)
  server/cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/TMap.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Labels: c/server

ci: fix deploy script to upload github release assets (#4103)
  .circleci/deploy.sh
Labels: c/build-system

Server upgrade tests: Do not fail it no tests were collected (#4071)
  .circleci/server-upgrade/run.sh
Labels: c/build-system

Fix typo in comment
  server/src-lib/Hasura/Server/Migrate.hs
Labels: c/server

Add missing migration to initialise.sql for #3839 (#4212)
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-rsr/initialise.sql
Labels: c/server

Try again to fix flaky TestEventFlood test (#4088)
  .circleci/config.yml
  scripts/dev.sh
Labels: c/build-system

refactor replace metadata
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
Labels: c/server

remove `withBuildSchemaCache` function
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
Labels: c/server

console: add cursor to heading edit icon and comment icon size fix
  console/src/components/Common/EditableHeading/EditableHeading.js
  console/src/components/Services/Data/TableModify/TableCommentEditor.js
Labels: c/console

console: fix search table icon alignment
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.js
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.scss
Labels: c/console

edit client schema service
  cli/client/v1/schema.go
  cli/client/v1/v1.go
  cli/migrate/database/hasuradb/hasuradb.go
Labels: c/cli

console: fix table row icons size
  console/src/components/Common/TableCommon/foldableTable/index.jsx
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Labels: c/console

console: fix alignment of permission symbol icons
  console/src/components/Common/Permissions/PermissionSymbols.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

console: space fix between icon and text
  console/src/components/Services/RemoteSchema/Common/Common.js
Labels: c/console

console: fix icon size for metadata status
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/components/Services/Settings/Sidebar.js
Labels: c/console

console: fix close icon for filter query
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
Labels: c/console

console: fix other icon sizes
  console/src/components/Services/Actions/Common/components/ActionDefinitionEditor.js
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
Labels: c/console

wait more before expanding the table in browse-rows test
  console/cypress/integration/data/insert-browse/spec.js
Labels: c/console

add metrics for actions (#4139)
  server/src-lib/Hasura/Server/Telemetry.hs
Labels: c/server

console: wait more before expanding table in browse-rows test (#4216)
  console/cypress/integration/data/insert-browse/spec.js
Labels: c/console

update manifests to v1.1.1
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/Dockerfile
Labels: c/build-system

.github/labeler.yml:

# auto-assign labels based on the files changed in a pull request
# see https://github.com/actions/labeler and .github/workflows/label_pr.yml
c/server:
- server/**/*
c/cli:
- cli/**/*
c/console:
- console/**/*
c/docs:
- docs/**/*
c/community:
- community/**/*
c/build-system:
- .circleci/**/*
- scripts/**/*
- .github/**/*
