Repository hasura/graphql-engine, pull requests merged in 2018-12, with the labels that each got.

#1134 console semver check fix for non-tag versions
  console/package-lock.json
  console/package.json
  console/src/helpers/semver.js
Labels: c/console, s/ok-to-merge

#1147 allow authentication webhook with POST (close #1138)
  .circleci/test-server.sh
  docs/graphql/manual/auth/webhook.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/tests-py/webhook.py
Labels: c/build-system, c/docs, c/server

#1143 added support for file information in hasuradb driver (close #1136)
  cli/Gopkg.lock
  cli/Gopkg.toml
  cli/migrate/database/driver.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/testing/testing.go
  cli/migrate/migrate.go
Labels: c/cli

#1158 handle cross schema permissions in console permission builder
  console/src/components/QueryBuilderJson/Styles.scss
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/Styles.scss
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console, s/ok-to-merge

#1157 better error messages for duplicate migration versions (close #1148)
  cli/migrate/source/file/file.go
  cli/migrate/source/migration.go
Labels: c/cli

#1162 disable checking build worthiness until a better solution is found
  .circleci/ciignore.sh
Labels: c/build-system

#1126 conform to graphql subscription and error spec (close #1056, close #1059)
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/tests-py/queries/graphql_mutation/delete/constraints/author_foreign_key_violation.yaml
  server/tests-py/queries/graphql_mutation/insert/constraints/address_not_null_constraint_error.yaml
  server/tests-py/queries/graphql_mutation/insert/constraints/author_unique_constraint_error.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_area_less_than_4_points_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_geometry_unexpected_type_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_landmark_single_position_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_linear_ring_last_point_not_equal_to_first_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_road_single_point_err.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author_author_id_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles_author_id_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/address_permission_error.yaml
  server/tests-py/queries/graphql_query/basic/select_query_author_col_not_present_err.yaml
  server/tests-py/queries/graphql_query/basic/select_query_non_tracked_table_err.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/select_author_article_operator_ne_not_found_err.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/select_author_article_unexpected_operator_in_where_err.yaml
  server/tests-py/queries/graphql_query/order_by/employee_distinct_fail.yaml
  server/tests-py/queries/graphql_query/permissions/artist_select_query_Track_fail.yaml
  server/tests-py/queries/remote_schemas/basic_subscription_not_supported.yaml
  server/tests-py/test_jwt.py
Labels: c/server

#1137 parse graphql input objects and arrays as scalar values (close #1132)
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/tests-py/queries/graphql_mutation/insert/basic/person_jsonb.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/person_jsonb_array.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server, s/ok-to-merge

#1084 add docs for configuring webhook URL from env var
  docs/graphql/manual/event-triggers/create-trigger.rst
  docs/img/graphql/manual/event-triggers/create-event-trigger-advanced-settings.png
  docs/img/graphql/manual/event-triggers/create-event-trigger-annotations.png
  docs/img/graphql/manual/event-triggers/create-event-trigger.png
  docs/img/graphql/manual/event-triggers/database-event-triggers.png
Labels: c/docs

#1018 docs for subscription using apollo-client added (fix #444)
  docs/.gitignore
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/guides/integrations/apollo-subscriptions.rst
  docs/graphql/manual/guides/integrations/index.rst
Labels: c/docs

#1153 fix preloader refresh on events page (close #1000)
  console/src/components/Services/EventTrigger/PendingEvents/ViewActions.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewRows.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewActions.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
Labels: c/console, s/ok-to-merge

#1178 add env to handle graphql endpoint for graphiql-online
  community/tools/graphiql-online/src/components/ApiExplorer/ApiExplorer.js
  community/tools/graphiql-online/static/index.html
Labels: c/community

#1185 accept query_file query param for preloading queries on graphiql-online
  community/tools/graphiql-online/src/components/ApiExplorer/Actions.js
  community/tools/graphiql-online/src/components/ApiExplorer/ApiExplorer.js
  community/tools/graphiql-online/src/components/ApiExplorer/ApiRequest.js
  community/tools/graphiql-online/src/components/ApiExplorer/ApiRequestWrapper.js
  community/tools/graphiql-online/src/components/ApiExplorer/GraphiQLWrapper.js
Labels: c/community

#1145 merge types with same structure in remote schema (fix #1112)
  docs/graphql/manual/remote-schemas/index.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/tests-py/graphql_server.py
  server/tests-py/queries/remote_schemas/drop_person_table.yaml
  server/tests-py/queries/remote_schemas/person_table.yaml
  server/tests-py/test_schema_stitching.py
Labels: c/server

#1042 allow ordering with aggregated fields (close #1039)
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/queries/sorting.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/tests-py/queries/graphql_query/order_by/album_order_by_tracks_bytes_stddev.yaml
  server/tests-py/queries/graphql_query/order_by/album_order_by_tracks_count.yaml
  server/tests-py/queries/graphql_query/order_by/album_order_by_tracks_duration_avg.yaml
  server/tests-py/queries/graphql_query/order_by/album_order_by_tracks_max_name.yaml
  server/tests-py/queries/graphql_query/order_by/setup.yaml
  server/tests-py/queries/graphql_query/order_by/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/docs, c/server

#1199 migrate docs search to algolia doc search
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs

#1192 add circleci tests for pg 11 (fix #810)
  .circleci/config.yml
Labels: c/build-system

#1203 show response status code in event trigger events tab (close #1022)
  console/src/components/Services/EventTrigger/Common/Tooltips.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/StreamingLogs/util.js
  console/src/components/Services/EventTrigger/TableCommon/Table.scss
Labels: c/console, s/ok-to-merge

#1216 improve docs content structure for search
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs

#1205 permissions ui improvments (close #1068)
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console, s/ok-to-merge

#628 apply update permissions for upsert mutations
  community/examples/todo-auth0-jwt/hasura/migrations/1536761653464_init.up.yaml
  community/examples/todo-auth0/hasura-graphql-engine/migrations/1536761653464_init.up.yaml
  console/cypress/integration/data/permissions/utils.js
  console/cypress/integration/validators/validators.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/helpers/semver.js
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/mutations/upsert.rst
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/test/testcases/create_author_article_permissions.yaml
  server/test/testcases/create_user_permission_test_table.yaml
  server/test/testcases/insert_mutation/article_on_conflict_user_role.yaml
  server/tests-py/queries/graphql_introspection/setup.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author_author_id_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles_author_id_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/onconflict/article_on_conflict_ignore_constraint.yaml
  server/tests-py/queries/graphql_mutation/insert/onconflict/article_on_conflict_no_action_specified.yaml
  server/tests-py/queries/graphql_mutation/insert/onconflict/article_on_conflict_update.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/article_on_conflict_user_role.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/author_on_conflict_ignore_user_role.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/author_user_role_insert_check_perm_success.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/company_user_role.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/company_user_role_on_conflict.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/resident_5_modifies_resident_6_upsert.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/user_article_on_conflict_err_no_action_specified.yaml
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/v1/count/permissions/setup.yaml
  server/tests-py/queries/v1/insert/permissions/article_on_conflict_user_role.yaml
  server/tests-py/queries/v1/insert/permissions/resident_1_modifies_resident_2_upsert.yaml
  server/tests-py/queries/v1/insert/permissions/setup.yaml
  server/tests-py/queries/v1/select/permissions/setup.yaml
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_v1_queries.py
  server/tests-py/webhook/insecure/setup.yaml
Labels: c/console, c/server, s/ok-to-merge

#1213 add license information in getting started docs and do one-click guide
  docs/graphql/manual/getting-started/docker-simple.rst
  docs/graphql/manual/getting-started/heroku-simple.rst
  docs/graphql/manual/getting-started/index.rst
  docs/graphql/manual/guides/deployment/digital-ocean-one-click.rst
Labels: c/docs

#1196 optimise the on-load queries on console using bulk api (close #1191)
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/Schema/Schema.js
Labels: c/console, s/ok-to-merge

#1222 add consolePath in console.html template
  console/src/Globals.js
  server/src-lib/Hasura/Server/App.hs
  server/src-rsr/console.html
Labels: c/console, c/server, s/ok-to-merge

#1231 revert back to older cli options parser type
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server, s/ok-to-merge

#1245 add a section title to add column in modify tab (fix #1096)
  console/src/components/Services/Data/TableModify/ModifyTable.js
Labels: c/console, s/ok-to-merge
