Repository hasura/graphql-engine, pull requests merged in 2018-07, with the labels that each got.

#74 circleci integration
  .circleci/build-docker-image.sh
  .circleci/cli-builder.dockerfile
  .circleci/config.yml
  .circleci/console-builder.dockerfile
  .circleci/deploy.sh
  .circleci/deployer.dockerfile
  .circleci/server-builder.dockerfile
  .circleci/test-cli.sh
  .circleci/test-console.sh
  cli/Makefile
  console/Makefile
  server/Makefile
Labels: build-system

#76 only deploy dev|release branches
  .circleci/config.yml
  scripts/get-version-circleci.sh
  scripts/get-version.sh
Labels: build-system

#71 fix #67 throw 401 exception for access key mismatch or not found
  server/src-lib/Hasura/Server/App.hs
Labels: server

#78 server: basic testcases
  .circleci/config.yml
  server/.gitignore
  server/Makefile
  server/graphql-engine.cabal
  server/test/Main.hs
  server/test/Spec.hs
  server/test/testcases/create_author_article_relationship.yaml
  server/test/testcases/create_tables.yaml
  server/test/testcases/insert_mutation_article.yaml
  server/test/testcases/insert_mutation_author.yaml
  server/test/testcases/nested_select_query_article.yaml
  server/test/testcases/simple_select_query_author.yaml
  server/test/testcases/track_tables.yaml
Labels: server

#107 fix schema dropdown ui, redirect with urlPrefix
  console/package-lock.json
  console/src/components/ApiExplorer/Actions.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/Main/Actions.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/PageContainer/PageContainer.scss
  console/src/routes.js
  console/src/utils/requestAction.js
Labels: console

#83 testing console tests in the ci
  .circleci/config.yml
  console/cypress/integration/api-explorer/graphql/spec.js
  console/cypress/integration/api-explorer/graphql/test.js
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/modify/test.js
  console/cypress/integration/test_complete.js
  console/package-lock.json
  console/src/components/Main/Main.js
Labels: console

#117 fix secure endpoint link, update contributing guide
  console/CONTRIBUTING.md
  console/README.md
  console/src/components/Main/Main.js
Labels: console

#125 fix #122, move metadata.yml file inside migrations folder
  cli/cli.go
  cli/commands/console.go
  cli/commands/metadata.go
  cli/commands/metadata_apply.go
  cli/commands/metadata_apply_test.go
  cli/commands/metadata_export.go
  cli/commands/metadata_export_test.go
  cli/commands/metadata_reset.go
  cli/commands/metadata_reset_test.go
  cli/commands/migrate_test.go
  cli/migrate/api/metadata.go
Labels: cli

#129 add _is_null operator (close #106)
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
Labels: server

#131 improve tests for relationships (close #130)
  console/cypress/integration/api-explorer/graphql/spec.js
  console/cypress/integration/api-explorer/graphql/test.js
  console/cypress/integration/data/relationships/spec.js
  console/cypress/integration/data/relationships/test.js
  console/cypress/integration/data/views/spec.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Labels: console

#132 add 'on_conflict' condition to allow upsert mutation (close #105)
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/test/Spec.hs
  server/test/testcases/insert_mutation_article_on_conflict.yaml
  server/test/testcases/insert_mutation_article_on_conflict_error_01.yaml
  server/test/testcases/insert_mutation_article_on_conflict_error_02.yaml
  server/test/testcases/insert_mutation_article_on_conflict_error_03.yaml
  server/test/testcases/insert_mutation_article_on_conflict_ignore.yaml
  server/test/testcases/insert_mutation_article_on_conflict_ignore_constraint.yaml
  server/test/testcases/introspection.yaml
Labels: ok-to-merge, server

#124 deploy script enhancements (fix #112)
  .circleci/deploy.sh
  .circleci/release_notes.template.md
  .circleci/test-console.sh
  cli/Makefile
  server/Makefile
Labels: build-system, do-not-merge

#156 graphiql supports live queries
  console/cypress/integration/api-explorer/graphql/spec.js
  console/cypress/integration/api-explorer/graphql/test.js
  console/cypress/integration/data/relationships/spec.js
  console/cypress/integration/data/relationships/test.js
  console/cypress/integration/data/views/spec.js
  console/package-lock.json
  console/package.json
  console/src/components/ApiExplorer/Actions.js
  console/src/components/ApiExplorer/ApiExplorer.js
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/ApiExplorer/ApiRequestWrapper.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/ApiExplorer/state.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Labels: console, do-not-merge, enhancement

#153 add ciignore
  .ciignore
  .circleci/ciignore.sh
  .circleci/config.yml
Labels: build-system, ok-to-merge

#145 add option to serve console assets from a local directory
  cli/Gopkg.lock
  cli/assets/assets.go
  cli/assets/v1.0/console.html
  cli/commands/console.go
Labels: cli, console, enhancement, ok-to-merge

#160 supporting uuid in console
  console/cypress/helpers/dataHelpers.js
  console/cypress/integration/data/insert-browse/spec.js
  console/package-lock.json
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Common/DataTypes.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: console, do-not-merge, enhancement

#166 support subsriptions in console graphiql
  console/package-lock.json
  console/package.json
  console/src/components/ApiExplorer/Actions.js
  console/src/components/ApiExplorer/ApiExplorer.js
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/ApiExplorer/ApiRequestWrapper.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/ApiExplorer/state.js
  package-lock.json
Labels: console, do-not-merge, enhancement

#167 replaced official graphiql with a fork
  console/package-lock.json
  console/package.json
  console/src/components/ApiExplorer/GraphiQLWrapper.js
Labels: bug, console

#168 add cascade option for raw sql
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/RawSQL/State.js
Labels: console

#177 fixing broken package-lock
  console/package-lock.json
  package-lock.json
Labels: console, invalid

#170 add more tests
  server/graphql-engine.cabal
  server/test/Main.hs
  server/test/Spec.hs
  server/test/testcases/create_author_article_permissions.yaml
  server/test/testcases/create_author_article_relationship.yaml
  server/test/testcases/create_tables.yaml
  server/test/testcases/delete_mutation_article.yaml
  server/test/testcases/insert_mutation_article.yaml
  server/test/testcases/nested_select_where_query_author.yaml
  server/test/testcases/update_mutation_author.yaml
Labels: ok-to-merge, server

#173 create down migrations for actions from console (fix #164)
  cli/commands/migrate_create.go
  cli/migrate/api/migrate.go
  cli/migrate/cmd/commands.go
  cli/migrate/migrate.go
  cli/migrate/source/file/file.go
  cli/migrate/source/file/file_test.go
  cli/migrate/source/parse.go
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddExistingTableViewActions.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Labels: cli, console, do-not-merge

#169 add `_inc` and jsonb operators to update_mutation (close #159)
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/test/Spec.hs
  server/test/testcases/create_tables.yaml
  server/test/testcases/delete_mutation/article.yaml
  server/test/testcases/insert_mutation/article.yaml
  server/test/testcases/insert_mutation/article_on_conflict.yaml
  server/test/testcases/insert_mutation/article_on_conflict_error_01.yaml
  server/test/testcases/insert_mutation/article_on_conflict_error_02.yaml
  server/test/testcases/insert_mutation/article_on_conflict_error_03.yaml
  server/test/testcases/insert_mutation/article_on_conflict_ignore.yaml
  server/test/testcases/insert_mutation/article_on_conflict_ignore_constraint.yaml
  server/test/testcases/insert_mutation/author.yaml
  server/test/testcases/insert_mutation/person.yaml
  server/test/testcases/insert_mutation/person_array.yaml
  server/test/testcases/track_tables.yaml
  server/test/testcases/update_mutation/author.yaml
  server/test/testcases/update_mutation/person_append.yaml
  server/test/testcases/update_mutation/person_delete_at_path.yaml
  server/test/testcases/update_mutation/person_delete_elem.yaml
  server/test/testcases/update_mutation/person_delete_key.yaml
  server/test/testcases/update_mutation/person_error_01.yaml
  server/test/testcases/update_mutation/person_inc.yaml
  server/test/testcases/update_mutation/person_prepend.yaml
  server/test/testcases/update_mutation/person_set.yaml
Labels: enhancement, ok-to-merge, server

#197 add ca certificates to packager (fix #195)
  server/Makefile
  server/packaging/packager.df
Labels: ok-to-merge, server

#203 show access key as password on the console (fix #98)
  console/src/components/ApiExplorer/ApiExplorer.scss
  console/src/components/ApiExplorer/ApiRequest.js
Labels: console

#215 add version update checker
  console/src/Endpoints.js
  console/src/components/ApiExplorer/Actions.js
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/State.js
Labels: console

#209 check for updates every 24 hrs in background (fix #204)
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Version.hs
  server/test/Main.hs
Labels: server

#211 filter schema identifiers to conform to GraphQL naming scheme (close #134)
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Utils.hs
  server/test/testcases/create_tables.yaml
  server/test/testcases/track_tables.yaml
Labels: ok-to-merge, server

#220 modify comments for tables/columns and views
  console/cypress/integration/data/insert-browse/test.js
  console/package-lock.json
  console/package.json
  console/src/components/Common/Common.scss
  console/src/components/Main/Main.scss
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddState.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataHeader.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/TableBrowseRows/ViewHeader.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableCommon/Table.scss
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Labels: console, ok-to-merge

#230 show graphql-engine version on console
  console/src/components/Common/Common.scss
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
Labels: console
