Repository hasura/graphql-engine, pull requests merged in 2018-09, with the labels that each got.

#341 generate mutation returning types only if permissions are defined (fix #340)
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/test/Spec.hs
  server/test/testcases/introspection_user_role.yaml
Labels: c/server, e/quickfix, s/ok-to-merge

#354 console: fix error notification non json, auto height css
  console/src/components/Main/Main.js
  console/src/components/Main/NotificationOverrides.css
  console/src/components/Services/Data/Notification.js
Labels: c/console, s/ok-to-merge

#358 console: update request payload event triggers
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewRows.js
  console/src/components/Services/EventTrigger/Schema/Schema.js
  console/src/components/Services/EventTrigger/StreamingLogs/LogActions.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/TableCommon/Table.scss
Labels: c/console

#356 console: handle non access key errors
  console/src/components/Services/Data/DataRouter.js
Labels: c/console

#364 custom namespace in jwt claims, fix #350
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server, k/enhancement

#373 implement api to deliver a particular event (close #371)
  console/package-lock.json
  console/package.json
  console/src/components/Main/Main.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Add/Tooltips.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/EventState.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewActions.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewActions.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/Settings/Settings.js
  console/src/components/Services/EventTrigger/StreamingLogs/LogActions.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/TableCommon/ReactTableFix.css
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/components/Services/EventTrigger/TableCommon/Table.scss
  console/src/components/Services/EventTrigger/TableCommon/TableHeader.js
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/RQL/Types/Subscribe.hs
  server/src-lib/Hasura/Server/Query.hs
Labels: c/server, k/enhancement

#376 add jsonb boolean operators (close #369)
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/SQL/DML.hs
Labels: c/server, k/enhancement

#374 add parallel tests and update dependencies
  .circleci/config.yml
  .circleci/test-console.sh
  console/cypress.json
  console/cypress/integration/test_complete.js
  console/package-lock.json
  console/package.json
Labels: c/console, s/ok-to-merge

#381 fix returning on v1/query returns all entries in the table (fix #380)
  server/src-lib/Hasura/RQL/DML/Returning.hs
Labels: c/server, e/quickfix, p/urgent, s/ok-to-merge

#386 export event triggers component
  console/index.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
Labels: c/console, s/ok-to-merge

#383 update checks on ci systems (close #319)
  server/src-lib/Hasura/Server/CheckUpdates.hs
Labels: c/server

#448 fix track_table pattern, error handling in run_sql (close #392)
  console/src/components/Services/Data/RawSQL/Actions.js
Labels: c/console

#450 fix add manual relationships state (close #442)
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Labels: c/console

#423 better handling for pgcrypto extension (fix #338)
  server/src-exec/Ops.hs
  server/src-rsr/initialise.sql
Labels: c/server, e/quickfix, p/urgent

#452 use mdillon/postgis to provide postgis support
  install-manifests/docker-compose-postgis/README.md
  install-manifests/docker-compose-postgis/docker-compose.yaml
Labels: c/community

#453 dont reload schema cache for event deliveries
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
Labels: c/server

#447 indicate access key is set in the console context (close #426)
  server/src-lib/Hasura/Server/App.hs
  server/src-rsr/console.html
Labels: c/console, c/server, p/high

#454 add json2graphql to community tools
  community/tools/json2graphql/.editorconfig
  community/tools/json2graphql/.eslintignore
  community/tools/json2graphql/.eslintrc
  community/tools/json2graphql/.gitattributes
  community/tools/json2graphql/.gitignore
  community/tools/json2graphql/CONTRIBUTING.md
  community/tools/json2graphql/README.md
  community/tools/json2graphql/bin/run
  community/tools/json2graphql/bin/run.cmd
  community/tools/json2graphql/package-lock.json
  community/tools/json2graphql/package.json
  community/tools/json2graphql/src/command.js
  community/tools/json2graphql/src/import/check.js
  community/tools/json2graphql/src/import/generateTables.js
  community/tools/json2graphql/src/import/import.js
  community/tools/json2graphql/src/import/insert.js
  community/tools/json2graphql/src/import/relationships.js
  community/tools/json2graphql/src/import/sql.js
  community/tools/json2graphql/src/import/track.js
  community/tools/json2graphql/test/db.js
  community/tools/json2graphql/test/test.sh
  community/tools/json2graphql/test/verify.js
Labels: c/json2graphql

#477 allow _is_null operator for filter/check permissions (close #456)
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/author_student_role_insert_check_bio_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/author_student_role_insert_check_bio_success.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/setup.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/console, c/server

#485 change table and foreign-key naming conventions in json2graphql
  community/tools/json2graphql/README.md
  community/tools/json2graphql/package-lock.json
  community/tools/json2graphql/src/command.js
  community/tools/json2graphql/src/import/check.js
  community/tools/json2graphql/src/import/error.js
  community/tools/json2graphql/src/import/generateTables.js
  community/tools/json2graphql/src/import/import.js
  community/tools/json2graphql/src/import/insert.js
  community/tools/json2graphql/src/import/relationships.js
  community/tools/json2graphql/src/import/sql.js
  community/tools/json2graphql/src/import/track.js
  community/tools/json2graphql/test/db.js
  community/tools/json2graphql/test/test.sh
  community/tools/json2graphql/test/verify.js
Labels: c/json2graphql

#367 implement query to update an event trigger
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Subscribe.hs
  server/tests-py/context.py
  server/tests-py/queries/event_triggers/basic/setup.yaml
  server/tests-py/queries/event_triggers/basic/teardown.yaml
  server/tests-py/queries/event_triggers/delete_query/setup.yaml
  server/tests-py/queries/event_triggers/delete_query/teardown.yaml
  server/tests-py/queries/event_triggers/empty_cols/setup.yaml
  server/tests-py/queries/event_triggers/empty_cols/teardown.yaml
  server/tests-py/queries/event_triggers/insert_only/setup.yaml
  server/tests-py/queries/event_triggers/insert_only/teardown.yaml
  server/tests-py/queries/event_triggers/retry_conf/setup.yaml
  server/tests-py/queries/event_triggers/retry_conf/teardown.yaml
  server/tests-py/queries/event_triggers/selected_cols/setup.yaml
  server/tests-py/queries/event_triggers/selected_cols/teardown.yaml
  server/tests-py/queries/event_triggers/update_query/create-setup.yaml
  server/tests-py/queries/event_triggers/update_query/teardown.yaml
  server/tests-py/queries/event_triggers/update_query/update-setup.yaml
  server/tests-py/test_events.py
  server/tests-py/validate.py
Labels: c/server, k/enhancement, s/ok-to-merge

#493 fix typos in metadata command
  cli/commands/metadata.go
  cli/docs/hasura.md
  cli/docs/hasura_metadata.md
  cli/docs/hasura_metadata_apply.md
  cli/docs/hasura_metadata_export.md
  cli/docs/hasura_metadata_reset.md
  docs/graphql/manual/hasura-cli/hasura.rst
  docs/graphql/manual/hasura-cli/hasura_metadata.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_apply.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_export.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_reset.rst
Labels: c/cli

#487 live queries tests for subscription
  server/tests-py/context.py
  server/tests-py/queries/subscriptions/basic/setup.yaml
  server/tests-py/queries/subscriptions/basic/teardown.yaml
  server/tests-py/queries/subscriptions/live_queries/setup.yaml
  server/tests-py/queries/subscriptions/live_queries/steps.yaml
  server/tests-py/queries/subscriptions/live_queries/teardown.yaml
  server/tests-py/test_subscriptions.py
Labels: c/server

#514 take access key from redux state
  console/src/components/Services/Data/Metadata/ExportMetadata.js
  console/src/components/Services/Data/Metadata/ImportMetadata.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/Data/Metadata/ReloadMetadata.js
Labels: c/console, s/ok-to-merge

#419 add custom headers for webhooks, refactor retry logic
  .circleci/config.yml
  server/src-exec/Ops.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Subscribe.hs
  server/src-rsr/initialise.sql
  server/stack.yaml
  server/tests-py/queries/event_triggers/headers/setup.yaml
  server/tests-py/queries/event_triggers/headers/teardown.yaml
  server/tests-py/test_events.py
  server/tests-py/validate.py
Labels: c/server

#528 add passport-js auth webhook boilerplate
  community/boilerplates/auth-webhooks/passport-js/.gitignore
  community/boilerplates/auth-webhooks/passport-js/Procfile
  community/boilerplates/auth-webhooks/passport-js/README.md
  community/boilerplates/auth-webhooks/passport-js/app.js
  community/boilerplates/auth-webhooks/passport-js/config/passport.js
  community/boilerplates/auth-webhooks/passport-js/controllers/user.js
  community/boilerplates/auth-webhooks/passport-js/db/errors.js
  community/boilerplates/auth-webhooks/passport-js/db/migrations/20180917160913_users.js
  community/boilerplates/auth-webhooks/passport-js/db/schema.js
  community/boilerplates/auth-webhooks/passport-js/knexfile.js
  community/boilerplates/auth-webhooks/passport-js/package-lock.json
  community/boilerplates/auth-webhooks/passport-js/package.json
Labels: c/community

#540 add github and social media buttons to docs page
  .gitignore
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/img/layout/Discord.svg
  docs/img/layout/Twitter.svg
Labels: c/docs

#529 changelog script to consider only core components (close #433)
  .circleci/deploy.sh
Labels: c/build-system

#551 update gatsby-postgres-graphql boilerplate
  community/boilerplates/gatsby-postgres-graphql/.gitignore
  community/boilerplates/gatsby-postgres-graphql/README.md
  community/boilerplates/gatsby-postgres-graphql/gatsby-config.js
  community/boilerplates/gatsby-postgres-graphql/package-lock.json
  community/boilerplates/gatsby-postgres-graphql/package.json
  community/boilerplates/gatsby-postgres-graphql/src/pages/index.js
  community/boilerplates/gatsby-postgres-graphql/src/queries/hasura.graphql
Labels: c/community

#543 add brand assets
  README.md
  assets/brand/README.md
  assets/brand/hasura_icon_black.svg
  assets/brand/hasura_icon_black_200px.png
  assets/brand/hasura_icon_white.svg
  assets/brand/hasura_icon_white_200px.png
  assets/brand/hasura_logo_horizontal_black.svg
  assets/brand/hasura_logo_horizontal_black_200px.png
  assets/brand/hasura_logo_horizontal_white.svg
  assets/brand/hasura_logo_horizontal_white_200px.png
  assets/brand/hasura_logo_vertical_black.svg
  assets/brand/hasura_logo_vertical_black_200px.png
  assets/brand/hasura_logo_vertical_white.svg
  assets/brand/hasura_logo_vertical_white_200px.png
  assets/brand/hasura_mascot.svg
  assets/brand/hasura_mascot_200px.png
  assets/brand/hasura_mascot_logo_horizontal.svg
  assets/brand/hasura_mascot_logo_horizontal_200px.png
  assets/brand/hasura_mascot_logo_vertical.svg
  assets/brand/hasura_mascot_logo_vertical_200px.png
  assets/brand/powered_by_hasura_black.svg
  assets/brand/powered_by_hasura_black_200px.png
  assets/brand/powered_by_hasura_white.svg
  assets/brand/powered_by_hasura_white_200px.png
  scripts/generate_brand_assets_readme.sh
Labels: c/community

#538 update console variables and contributing guide (close #517)
  CONTRIBUTING.md
  assets/console-readme-assets/start-dev-server.jpg
  assets/console-readme-assets/test-dev-setup.jpg
  console/CONTRIBUTING.md
  console/README.md
  console/src/Globals.js
  console/src/components/Common/validateLogin.js
  console/src/components/Services/Data/Common/getMigrateUrl.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/EventTrigger/Common/getMigrateUrl.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/EventRouter.js
  console/src/constants.js
  server/src-rsr/console.html
Labels: c/console, c/server

#553 remove 's' unit from query_execution_time in logs (close #509)
  server/src-lib/Hasura/Server/Logging.hs
Labels: c/server

#568 do not clean hdb_views by dropping and creating the schema (closes #567)
  server/src-exec/Ops.hs
  server/src-lib/Hasura/RQL/DDL/Utils.hs
Labels: c/server, k/bug

#573 add firebase2graphql to community tools
  community/tools/firebase2graphql/.eslintignore
  community/tools/firebase2graphql/.eslintrc
  community/tools/firebase2graphql/.gitattributes
  community/tools/firebase2graphql/.gitignore
  community/tools/firebase2graphql/CONTRIBUTING.md
  community/tools/firebase2graphql/README.md
  community/tools/firebase2graphql/assets/firebase-export.png
  community/tools/firebase2graphql/bin/run
  community/tools/firebase2graphql/bin/run.cmd
  community/tools/firebase2graphql/package-lock.json
  community/tools/firebase2graphql/package.json
  community/tools/firebase2graphql/src/command.js
  community/tools/firebase2graphql/src/error.js
  community/tools/firebase2graphql/src/firebase/generateGenericJson.js
  community/tools/firebase2graphql/src/import/check.js
  community/tools/firebase2graphql/src/import/generateTables.js
  community/tools/firebase2graphql/src/import/import.js
  community/tools/firebase2graphql/src/import/insert.js
  community/tools/firebase2graphql/src/import/normalize.js
  community/tools/firebase2graphql/src/import/relationships.js
  community/tools/firebase2graphql/src/import/sql.js
  community/tools/firebase2graphql/src/import/suggest.js
  community/tools/firebase2graphql/src/import/track.js
  community/tools/firebase2graphql/src/import/utils.js
  community/tools/firebase2graphql/src/log.js
  community/tools/firebase2graphql/test/db.json
  community/tools/firebase2graphql/test/test.sh
  community/tools/firebase2graphql/test/verify.js
Labels: c/community, c/firebase2graphql

#565 fix non-admin insert returns null column values when query affects zero rows in postgres (fix #563)
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Triggers.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-rsr/insert_trigger.sql.j2
  server/tests-py/queries/graphql_mutation/insert/permissions/author_user_role_insert_check_perm_success.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/company_user_role_on_conflict.yaml
Labels: c/server, e/quickfix, s/ok-to-merge

#533 allow adding relationship across schemas via manual relationship (fix #526)
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Labels: c/console, k/enhancement, s/ok-to-merge
