Repository hasura/graphql-engine, pull requests merged in 2018-10, with the labels that each got.

#586 validate the directory before executing migrate create (fix #585)
  cli/commands/migrate_create.go
Labels: c/cli, k/bug

#590 update contributing guides to include cla (close #594)
  CONTRIBUTING.md
Labels: c/community, hacktoberfest

#603 ask for confirmation before deleting event triggers (close #599)
  console/src/components/Services/EventTrigger/Settings/Settings.js
Labels: c/console, hacktoberfest, s/ok-to-merge

#605 fix typo in proptypes validation (fixes #604)
  console/src/components/ApiExplorer/ApiExplorer.js
Labels: c/console, s/ok-to-merge

#566 add tooltip for upsert option under custom permissions (fix #546)
  console/.gitignore
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console, s/ok-to-merge

#608 Add NodeJS 6 and Python for serverless triggers gcloud functions
  community/boilerplates/serverless-triggers/google-cloud-functions/README.md
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/echo/.gcloudignore
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/echo/.gitignore
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/echo/README.md
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/echo/index.js
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/mutation/.env.yaml
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/mutation/.gcloudignore
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/mutation/.gitignore
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/mutation/README.md
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/mutation/index.js
  community/boilerplates/serverless-triggers/google-cloud-functions/nodejs6/mutation/package.json
  community/boilerplates/serverless-triggers/google-cloud-functions/python/echo/.gcloudignore
  community/boilerplates/serverless-triggers/google-cloud-functions/python/echo/.gitignore
  community/boilerplates/serverless-triggers/google-cloud-functions/python/echo/README.md
  community/boilerplates/serverless-triggers/google-cloud-functions/python/echo/main.py
Labels: c/community, hacktoberfest

#613 update serverless triggers on zeit now (close #490)
  community/boilerplates/serverless-triggers/README.md
  community/boilerplates/serverless-triggers/zeit-now/.gitignore
  community/boilerplates/serverless-triggers/zeit-now/README.md
  community/boilerplates/serverless-triggers/zeit-now/go/echo/.dockerignore
  community/boilerplates/serverless-triggers/zeit-now/go/echo/Dockerfile
  community/boilerplates/serverless-triggers/zeit-now/go/echo/README.md
  community/boilerplates/serverless-triggers/zeit-now/go/echo/main.go
  community/boilerplates/serverless-triggers/zeit-now/go/echo/now.json
  community/boilerplates/serverless-triggers/zeit-now/go/mutation/.dockerignore
  community/boilerplates/serverless-triggers/zeit-now/go/mutation/Dockerfile
  community/boilerplates/serverless-triggers/zeit-now/go/mutation/README.md
  community/boilerplates/serverless-triggers/zeit-now/go/mutation/main.go
  community/boilerplates/serverless-triggers/zeit-now/go/mutation/now.json
  community/boilerplates/serverless-triggers/zeit-now/nodejs/echo/.dockerignore
  community/boilerplates/serverless-triggers/zeit-now/nodejs/echo/README.md
  community/boilerplates/serverless-triggers/zeit-now/nodejs/echo/index.js
  community/boilerplates/serverless-triggers/zeit-now/nodejs/echo/package.json
  community/boilerplates/serverless-triggers/zeit-now/nodejs/mutation/.dockerignore
  community/boilerplates/serverless-triggers/zeit-now/nodejs/mutation/README.md
  community/boilerplates/serverless-triggers/zeit-now/nodejs/mutation/index.js
  community/boilerplates/serverless-triggers/zeit-now/nodejs/mutation/package.json
  community/boilerplates/serverless-triggers/zeit-serverless-docker/README.md
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/echo/Dockerfile
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/echo/README.md
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/echo/index.js
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/echo/now.json
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/echo/package-lock.json
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/echo/package.json
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/mutation/Dockerfile
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/mutation/README.md
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/mutation/index.js
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/mutation/now.json
  community/boilerplates/serverless-triggers/zeit-serverless-docker/nodejs/mutation/package-lock.json
Labels: c/community

#624 changelog script to consider only core components, fix #433
  .circleci/deploy.sh
Labels: c/build-system

#627 logo, favicon update on console
  console/package-lock.json
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/white-logo.svg
  console/static/favicon.png
Labels: c/console

#621 improve normalization for firebase2graphql
  community/tools/firebase2graphql/README.md
  community/tools/firebase2graphql/package.json
  community/tools/firebase2graphql/src/firebase/generateGenericJson.js
  community/tools/firebase2graphql/src/firebase/utils.js
  community/tools/firebase2graphql/src/import/check.js
  community/tools/firebase2graphql/src/import/import.js
  community/tools/firebase2graphql/src/import/insert.js
  community/tools/firebase2graphql/src/import/normalize.js
  community/tools/firebase2graphql/src/import/sql.js
  community/tools/firebase2graphql/src/log.js
  community/tools/firebase2graphql/test/data-sets/blog.json
  community/tools/firebase2graphql/test/data-sets/chinook.json
  community/tools/firebase2graphql/test/data-sets/chinook_nested.json
  community/tools/firebase2graphql/test/data-sets/fbUsers.js
  community/tools/firebase2graphql/test/data-sets/readme-example-1.json
  community/tools/firebase2graphql/test/test.sh
  community/tools/firebase2graphql/test/verifyBlog.js
  community/tools/firebase2graphql/test/verifyChinook.js
  community/tools/firebase2graphql/test/verifyChinookNested.js
Labels: c/community, c/firebase2graphql

#614 multiple punctuation fixes in docs
  README.md
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/auth/common-roles-auth-examples.rst
  docs/graphql/manual/auth/jwt.rst
  docs/graphql/manual/engine-internals/index.rst
  docs/graphql/manual/event-triggers/serverless.rst
  docs/graphql/manual/getting-started/docker-simple.rst
  docs/graphql/manual/getting-started/first-event-trigger.rst
  docs/graphql/manual/getting-started/heroku-simple.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/schema/custom-resolvers.rst
  docs/graphql/manual/schema/default-values.rst
  docs/graphql/manual/schema/relationships/index.rst
  docs/graphql/manual/schema/schema-stitching.rst
  docs/graphql/manual/troubleshooting/index.rst
Labels: c/docs

#638 configuration list is alphabetical, add note in sql tab for down migrations (close #616) (close #617)
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/TableCommon/Table.scss
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
Labels: c/console, s/ok-to-merge

#637 fix some typos in docs
  docs/_ext/generate_index.py
  docs/_ext/local_toctree.py
  docs/_static/graphiql/graphiql.js
  docs/graphql/manual/auth/config.rst.wip
  docs/graphql/manual/auth/jwt.rst
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/manual/event-triggers/payload.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/mutations/upsert.rst
  docs/graphql/manual/queries/multiple-queries.rst
  docs/graphql/manual/schema/default-values.rst
  docs/graphql/manual/schema/using-existing-database-example.rst.wip
Labels: c/docs

#646 add docs for jwt secret & enable console env (close #641)
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
Labels: c/docs, hacktoberfest

#640 breaking: encode bigint and bigserial postgres types as strings (fix #633)
  docs/graphql/manual/api-reference/pgtypes.csv
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/tests-py/queries/graphql_query/basic/select_query_user.yaml
  server/tests-py/queries/graphql_query/basic/setup.yaml
  server/tests-py/queries/graphql_query/basic/teardown.yaml
  server/tests-py/queries/v1/select/basic/select_user.yaml
  server/tests-py/queries/v1/select/basic/setup.yaml
  server/tests-py/queries/v1/select/basic/teardown.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: c/server, s/ok-to-merge

#650 fix failing tests on console
  console/cypress/integration/api-explorer/graphql/spec.js
Labels: c/console

#649 add firebase example to use with JWT mode (close #648)
  community/examples/firebase-jwt/.gitignore
  community/examples/firebase-jwt/README.md
  community/examples/firebase-jwt/app/index.html
  community/examples/firebase-jwt/app/main.js
  community/examples/firebase-jwt/functions/index.js
  community/examples/firebase-jwt/functions/package-lock.json
  community/examples/firebase-jwt/functions/package.json
Labels: c/community

#512 generate coverage report for server tests (close #464)
  .circleci/config.yml
  server/Makefile
Labels: c/build-system

#607 enable redux-dev-tools if present in dev mode (closes #606)
  console/README.md
  console/src/client.js
Labels: c/console

#429 insert mutations can now handle nested-data/relationsips (close #343)
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/upsert.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/test/Spec.hs
  server/test/testcases/insert_mutation/address_check_constraint_error.yaml
  server/test/testcases/insert_mutation/address_not_null_constraint_error.yaml
  server/test/testcases/insert_mutation/article_author_nested.yaml
  server/test/testcases/insert_mutation/article_author_nested_error.yaml
  server/test/testcases/insert_mutation/author_articles_nested.yaml
  server/test/testcases/insert_mutation/author_articles_nested_error.yaml
  server/test/testcases/insert_mutation/author_unique_constraint_error.yaml
  server/tests-py/queries/graphql_mutation/insert/constraints/address_not_null_constraint_error.yaml
  server/tests-py/queries/graphql_mutation/insert/constraints/author_unique_constraint_error.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_author_upsert_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author_author_id_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_upsert_articles_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles_author_id_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/setup.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/teardown.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server, s/ok-to-merge

#656 add some color to hearts
  community/tools/firebase2graphql/README.md
  community/tools/json2graphql/README.md
Labels: c/community, c/firebase2graphql, k/bug

#674 add realtime section in firebase2graphql section
  community/tools/firebase2graphql/README.md
Labels: c/community, c/firebase2graphql

#664 add keybinding to submit sql query (close #542)
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console

#626 add docs for json api (close #409)
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/api-reference/pgtypes.csv
  docs/graphql/manual/api-reference/postgresql-types.rst
  docs/graphql/manual/api-reference/schema-metadata-api/dataerrors.csv
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/permission.rst
  docs/graphql/manual/api-reference/schema-metadata-api/relationship.rst
  docs/graphql/manual/api-reference/schema-metadata-api/run-sql.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/mutations/insert.rst
Labels: c/docs

#665 add phantom div for update check banner (fix #271)
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
Labels: c/console

#644 format schema name and table name as identifiers in event triggers (fix #639)
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-rsr/trigger.sql.j2
Labels: c/server

#662 Reload metadata button appears for PR versions (fixes #618)
  console/cypress/README.md
  console/src/components/Main/Main.js
  console/src/components/Services/Data/Metadata/Metadata.js
Labels: c/console, hacktoberfest

#589 Made it so that nullable radio defaults correctly (fix #545)
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
Labels: c/console, hacktoberfest

#676 improve version check for server dependent features (close #388)
  console/package-lock.json
  console/src/components/Main/Main.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/helpers/semver.js
Labels: c/console, s/ok-to-merge

#663 added digitalocean deployment instructions (fix #582)
  docs/graphql/manual/deployment/index.rst
  docs/graphql/manual/guides/deployment/digital-ocean.rst
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/index.rst
Labels: c/docs, hacktoberfest

#685 track table in run_sql should handle schema name and table name separately (close #484)
  console/src/components/Main/Main.js
  console/src/components/Services/Data/DataHeader.js
  console/src/components/Services/Data/RawSQL/Actions.js
Labels: c/console, s/ok-to-merge

#668 fix typos, wording, punctuation, other errors in docs
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/api-reference/postgresql-types.rst
  docs/graphql/manual/auth/basics.rst
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/auth/roles-variables.rst
  docs/graphql/manual/auth/webhook.rst
  docs/graphql/manual/migrations/existing-project.rst
  docs/graphql/manual/migrations/new-project.rst
  docs/graphql/manual/mutations/index.rst
  docs/graphql/manual/mutations/multiple-mutations.rst
  docs/graphql/manual/schema/enums.rst
  docs/graphql/manual/schema/export-graphql-schema.rst
  docs/graphql/manual/schema/how-it-works.rst
  docs/graphql/manual/schema/index.rst
  docs/graphql/manual/schema/sql-functions.rst
  docs/graphql/manual/schema/using-existing-database.rst
  docs/graphql/manual/schema/views.rst
Labels: c/docs

#684 upgrade stackage to 12.12
  server/stack.yaml
Labels: c/server

#642 env variable to enable console (close #632)
  server/src-exec/Main.hs
Labels: c/server, s/ok-to-merge

#686 Add nextjs-postgres-graphql boilerplate
  community/boilerplates/nextjs-postgres-graphql/.gitignore
  community/boilerplates/nextjs-postgres-graphql/README.md
  community/boilerplates/nextjs-postgres-graphql/assets/nextjs-postgres-graphql.png
  community/boilerplates/nextjs-postgres-graphql/config.js
  community/boilerplates/nextjs-postgres-graphql/package.json
  community/boilerplates/nextjs-postgres-graphql/pages/AuthorList.js
  community/boilerplates/nextjs-postgres-graphql/pages/index.js
Labels: c/community, s/ok-to-merge

#673 add reset metadata button to settings page (close #515)
  console/src/components/Services/Data/Metadata/ClearAccessKey.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/Data/Metadata/ResetMetadata.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

#692 fix to append uriPrefix on schema change event (close #691)
  console/src/components/Services/Data/Schema/Schema.js
Labels: c/console, s/do-not-merge

#700 console: add support for _is_null operator in permissions
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
Labels: c/console, s/ok-to-merge

#698 fix typo in cli readme
  cli/CONTRIBUTING.md
Labels: c/cli, c/docs

#694 add guides/resources section to docs
  docs/graphql/manual/deployment/index.rst
  docs/graphql/manual/deployment/logging.rst
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/guides/integrations/index.rst
  docs/graphql/manual/guides/monitoring/index.rst
  docs/graphql/manual/guides/sample-apps/index.rst
  docs/graphql/manual/tutorial/index.rst.wip
Labels: c/docs

#709 fix spelling and grammar in docs
  docs/graphql/manual/hasura-cli/hasura_completion.rst
  docs/graphql/manual/hasura-cli/hasura_login.rst
  docs/graphql/manual/migrations/existing-project.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/mutations/upsert.rst
  docs/graphql/manual/queries/multiple-arguments.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/queries/pagination.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/schema/export-graphql-schema.rst
Labels: c/docs, hacktoberfest

#707 workaround postgres default limit of 63 chars for identifiers (close #688)
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/tests-py/queries/graphql_query/basic/nested_select_query_deep.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, k/bug

#711 fix input object validation logic (fix #693)
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/queries/graphql_mutation/delete/permissions/resident_delete_without_select_perm_fail.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/setup.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/teardown.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_cannot_update_id_col_article.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server, e/quickfix, s/ok-to-merge

#714 add auth-webhook boilerplate in python-flask
  community/boilerplates/auth-webhooks/python-flask/Dockerfile
  community/boilerplates/auth-webhooks/python-flask/README.md
  community/boilerplates/auth-webhooks/python-flask/auth-webhook.py
  community/boilerplates/auth-webhooks/python-flask/requirements.txt
Labels: c/community

#339 allow mutations on views only if they are allowed by postgres (fix #232)
  console/src/components/Main/Main.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/Types.hs
Labels: c/console, c/server

#687 add guidelines for reporting security issues (close #322)
  README.md
  SECURITY.md
Labels: c/community, hacktoberfest

#742 Update jwt.rst
  docs/graphql/manual/auth/jwt.rst
Labels: c/docs

#718 fix track table error when table name is immediately followed by '(' (close #717)
  console/src/components/Services/Data/RawSQL/Actions.js
Labels: c/console, s/do-not-merge

#739 reformat a css file in realtime chat example (close #738)
  community/examples/realtime-chat/src/App.css
Labels: s/ok-to-merge

#752 add a footer to chat app with a hasura logo
  community/examples/realtime-chat/package-lock.json
  community/examples/realtime-chat/public/index.html
  community/examples/realtime-chat/src/App.css
  community/examples/realtime-chat/src/components/Chat.js
  community/examples/realtime-poll/src/App.js
Labels: c/community, s/ok-to-merge

#750 add name field for migrations created via run_sql (close #541)
  console/package-lock.json
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console, hacktoberfest, s/ok-to-merge

#780 fix migration name check in hasuradb mode (close #778)
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console, s/ok-to-merge

#746 improve documentation (fix #745)
  CONTRIBUTING.md
  community/README.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/graphql/manual/auth/basics.rst
  docs/graphql/manual/auth/common-roles-auth-examples.rst
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/auth/jwt.rst
  docs/graphql/manual/auth/roles-variables.rst
  docs/graphql/manual/getting-started/docker-simple.rst
  docs/requirements.txt
  server/CONTRIBUTING.md
Labels: c/docs

#749 docs(schema): add introspect keyword
  docs/graphql/manual/schema/export-graphql-schema.rst
Labels: c/docs

#796 avoid run apt-get upgrade and dist-upgrade
  .circleci/deployer.dockerfile
  .circleci/server-builder.dockerfile
Labels: c/build-system

#822 increase width of schema text section (fix #820)
  console/src/components/Services/Data/TableCommon/Table.scss
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

#813 add digital ocean one-click docs
  docs/graphql/manual/auth/basics.rst
  docs/graphql/manual/guides/deployment/digital-ocean-one-click.rst
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/guides/sample-apps/index.rst
Labels: c/docs

#850 http-log now correctly logs user information, closes #849
  docs/graphql/manual/deployment/docker/logging.rst
  docs/graphql/manual/deployment/heroku/logging.rst
  docs/graphql/manual/deployment/kubernetes/logging.rst
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Query.hs
Labels: s/ok-to-merge

#851 Update typos in digital-ocean-one-click.rst
  docs/graphql/manual/guides/deployment/digital-ocean-one-click.rst
Labels: s/ok-to-merge

#856 allow unauthorized role in accesskey and JWT modes (close #595)
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server, s/ok-to-merge

#838 fix quote schema identifier (close #837)
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: c/console, s/ok-to-merge

#857 seo update for graphiql-online
  community/tools/graphiql-online/README.md
  community/tools/graphiql-online/src/components/ApiExplorer/ApiExplorer.js
  community/tools/graphiql-online/src/components/Login/Login.js
Labels: s/ok-to-merge

#787 support for count and aggregations on columns (close #786)
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/helpers/semver.js
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/graphql_query/agg_perm/article_agg_fail.yaml
  server/tests-py/queries/graphql_query/agg_perm/author_agg_articles.yaml
  server/tests-py/queries/graphql_query/agg_perm/author_articles_agg_fail.yaml
  server/tests-py/queries/graphql_query/agg_perm/setup.yaml
  server/tests-py/queries/graphql_query/agg_perm/teardown.yaml
  server/tests-py/queries/graphql_query/aggregations/article_agg_count_sum_avg_max_min_with_aliases.yaml
  server/tests-py/queries/graphql_query/aggregations/article_agg_where.yaml
  server/tests-py/queries/graphql_query/aggregations/author_agg_with_articles.yaml
  server/tests-py/queries/graphql_query/aggregations/author_agg_with_articles_where.yaml
  server/tests-py/queries/graphql_query/aggregations/setup.yaml
  server/tests-py/queries/graphql_query/aggregations/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, k/enhancement, s/ok-to-merge

#622 optional 'set' field in insert permissions, close #216
  console/src/components/Common/InputChecker/InputChecker.js
  console/src/components/Common/InputChecker/utils.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/helpers/semver.js
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/resident_user.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/setup.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/console, c/server

#808 added support for composite relationship suggestions (close #284)
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/Schema/AutoAddRelations.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/autoRelations.js
  console/src/components/Services/Data/utils.js
Labels: c/console, s/ok-to-merge

#864 fix a typo in firebase-jwt tutorial (close#863)
  community/examples/firebase-jwt/README.md
Labels: c/community

#879 handle table/schema names in relationship suggestions properly (close #876)
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/autoRelations.js
Labels: c/console, s/ok-to-merge

#904 make tests work without hpc (fix #903)
  .circleci/test-server.sh
Labels: c/server

#914 reduced max algolia document size for docs
  docs/algolia_index/algolia_index.py
  docs/graphql/manual/queries/query-filters.rst
Labels: c/docs

#921 remove tries filter from where clause for pending events
  console/src/components/Services/EventTrigger/PendingEvents/ViewActions.js
Labels: c/console

#918 remove docs from cli folder
  cli/Makefile
  cli/README.md
  cli/docs/README.md
  cli/docs/hasura.md
  cli/docs/hasura_console.md
  cli/docs/hasura_init.md
  cli/docs/hasura_metadata.md
  cli/docs/hasura_metadata_apply.md
  cli/docs/hasura_metadata_export.md
  cli/docs/hasura_metadata_reset.md
  cli/docs/hasura_migrate.md
  cli/docs/hasura_migrate_apply.md
  cli/docs/hasura_migrate_create.md
  cli/docs/hasura_migrate_status.md
  cli/docs/hasura_version.md
Labels: c/cli

#935 fix broken redirect from table/edit to table/browse
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
Labels: c/console, hacktoberfest, k/bug, s/ok-to-merge

#954 give precedence to retry-after header over retry conf
  server/src-lib/Hasura/Events/Lib.hs
Labels: c/server

#934 update logo in console
  console/src/components/Main/logo.svg
Labels: c/console, s/ok-to-merge

#941 refactor select query generation
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
Labels: c/server

#956 add retry-after header info to event-trigger docs
  docs/graphql/manual/event-triggers/payload.rst
Labels: c/docs

#794 add links to the api reference
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/queries/pagination.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/queries/sorting.rst
Labels: c/docs
