Repository hasura/graphql-engine, pull requests merged in 2018-08, with the labels that each got.

#247 add url prefix for console add table redirect fix
  console/src/components/Services/Data/push.js
Labels: console

#243 logging for web hook IO exceptions (fix #238, #242)
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Logging.hs
Labels: ok-to-merge, server

#229 don't allow creating foreign-key based relationships from/to a table that isn't tracked (fix #185)
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/test/Spec.hs
  server/test/testcases/create_address_resident_relationship_error.yaml
  server/test/testcases/create_tables.yaml
  server/test/testcases/track_tables.yaml
Labels: ok-to-merge, server

#249 create table, modify table ui alignment fix
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TableModify/ModifyTable.js
Labels: console

#258 remove manifests directory from init (close #254)
  .circleci/deploy.sh
  .circleci/release_notes.template.md
  cli/cli.go
  cli/commands/init.go
  cli/docs/README.md
  cli/docs/hasura.md
  cli/docs/hasura_console.md
  cli/docs/hasura_init.md
  cli/docs/hasura_metadata.md
  cli/docs/hasura_metadata_apply.md
  cli/docs/hasura_metadata_export.md
  cli/docs/hasura_metadata_reset.md
  cli/docs/hasura_migrate.md
  cli/docs/hasura_migrate_apply.md
  cli/docs/hasura_migrate_create.md
  cli/docs/hasura_migrate_status.md
  cli/docs/hasura_version.md
  cli/util/install_manifest.go
  cli/util/install_manifest_test.go
Labels: cli

#237 add limit in select permission and override query limit (close #178)
  console/cypress/integration/data/permissions/test.js
  console/package-lock.json
  console/package.json
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/DataHeader.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableBrowseRows/ViewHeader.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/test/Spec.hs
  server/test/testcases/select_query_article_limit_offset.yaml
  server/test/testcases/select_query_article_limit_offset_error_01.yaml
  server/test/testcases/select_query_article_limit_offset_error_02.yaml
Labels: ok-to-merge, server

#266 accept null for input values (fix #252)
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/test/Spec.hs
  server/test/testcases/create_tables.yaml
  server/test/testcases/insert_mutation/order.yaml
  server/test/testcases/track_tables.yaml
Labels: ok-to-merge, server

#270 handle legacy operators in permissions (fix #268)
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/utils.js
Labels: console

#269 fix returning returns null when update/delete mutation affect no rows (fix #265)
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/test/Spec.hs
  server/test/testcases/delete_mutation/article_returning.yaml
Labels: ok-to-merge, server

#267 fix error code for when insertion check constraint fails (fix #257)
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/test/Spec.hs
  server/test/testcases/create_tables.yaml
  server/test/testcases/create_user_permission_address.yaml
  server/test/testcases/delete_mutation/author_foreign_key_violation.yaml
  server/test/testcases/insert_mutation/address_check_constraint_error.yaml
  server/test/testcases/insert_mutation/address_not_null_constraint_error.yaml
  server/test/testcases/insert_mutation/author_unique_constraint_error.yaml
Labels: ok-to-merge, server

#276 query types respect the nullability of columns (fix #256)
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
Labels: ok-to-merge, server

#283 template queries in graphiql from query params
  console/src/components/ApiExplorer/Actions.js
  console/src/components/ApiExplorer/ApiExplorer.js
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/ApiExplorer/ApiRequestWrapper.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
Labels: console, enhancement

#287 fix case sensitivity of showing access key as password (fix #286)
  console/src/components/ApiExplorer/ApiRequest.js
Labels: console, ok-to-merge

#291 fix upsert queries to work on non admin roles (fix #239)
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Triggers.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/test/Spec.hs
  server/test/testcases/create_author_article_permissions.yaml
  server/test/testcases/insert_mutation/author_on_conflict_ignore_user_role.yaml
  server/test/testcases/insert_mutation/author_on_conflict_update_user_role.yaml
Labels: ok-to-merge, server

#294 change hasuradb url format, export some migrate functions
  cli/commands/migrate.go
  cli/commands/migrate_apply.go
  cli/commands/migrate_status.go
  cli/migrate/database/hasuradb/hasuradb.go
Labels: cli, ok-to-merge

#295 permissions ui/ux improvements (close #205)
  console/cypress/integration/data/permissions/utils.js
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: console

#312 do not allow creating permissions for admin role (fix #310)
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/test/Spec.hs
  server/test/testcases/create_author_permission_role_admin_error.yaml
Labels: ok-to-merge, quickfix, server

#306 select fields with primary key columns as input arguments (fix #304)
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/test/Spec.hs
  server/test/testcases/select_query_author_by_pkey.yaml
Labels: ok-to-merge, server

#320 add req_user_id as alias to x-hasura-user-id (fix #317)
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/Utils.hs
Labels: ok-to-merge, server

#328 fix insert fails for non-admin roles on v1/query (fix #327)
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/test/Spec.hs
  server/test/testcases/all_json_queries.yaml
  server/test/testcases/create_tables.yaml
  server/test/testcases/create_user_permission_test_table.yaml
  server/test/testcases/track_tables.yaml
  server/test/testcases/upsert_role_user.yaml
  server/test/testcases/upsert_role_user_error.yaml
Labels: c/server, s/ok-to-merge

#324 mutations returning type is same as query type (close #315)
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/test/testcases/update_mutation/author.yaml
Labels: c/server, s/ok-to-merge

#255 add support for jwt authorization (close #186)
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Utils.hs
Labels: c/server

#332 compare only major and minor versions for cli-server (fix #331)
  cli/version/compatibility.go
  cli/version/compatibility_test.go
Labels: c/cli

#334 Revert "add links to share and help (#303)"
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
Labels: c/console

#296 update tests to use access key
  .circleci/cli-builder.dockerfile
  .circleci/config.yml
  .circleci/test-cli.sh
  cli/commands/metadata_apply_test.go
  cli/commands/metadata_export_test.go
  cli/commands/metadata_reset_test.go
  cli/commands/migrate_apply_test.go
  cli/commands/migrate_status_test.go
Labels: c/cli, s/do-not-merge
