Repository hasura/graphql-engine, pull requests merged in 2018-11, with the labels that each got.

#937 update digitalocean one-click app manifests on deploy (close #878)
  .circleci/deploy.sh
Labels: c/build-system

#938 remove enable console from docker cmd and add it as env var (close #907)
  server/packaging/build/Dockerfile
Labels: c/server

#967 update graphiql-online footer css
  community/tools/graphiql-online/src/components/Login/App.css
  community/tools/graphiql-online/src/components/Login/Login.js
  community/tools/graphiql-online/src/helpers/Html.js
  community/tools/graphiql-online/static/favicon.ico
  community/tools/graphiql-online/static/favicon.png
  community/tools/graphiql-online/static/index.html
  community/tools/graphiql-online/static/logo.jpg
Labels: c/community, s/ok-to-merge

#852 refactor nested insert mutation and fix returning (fix #844)
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/queries/graphql_mutation/insert/nested/articles_author_upsert_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_upsert_articles_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/setup.yaml
Labels: c/server, s/ok-to-merge

#953 build cli-migrations image on tagged deploys (close #534)
  .circleci/deploy.sh
  docs/graphql/manual/migrations/auto-apply-migrations.rst
  docs/graphql/manual/migrations/index.rst
  scripts/cli-migrations/.gitignore
  scripts/cli-migrations/Dockerfile
  scripts/cli-migrations/docker-entrypoint.sh
  scripts/tag-release.sh
Labels: c/build-system, c/docs

#917 allow specifying a list of columns that can be inserted (close #250)
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/helpers/semver.js
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/resident_infant.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/resident_infant_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/setup.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/console, c/server

#971 adds docs for column presets (close #623)
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/schema/default-values/column-presets.rst
  docs/graphql/manual/schema/default-values/index.rst
  docs/graphql/manual/schema/default-values/postgres-defaults.rst
  docs/graphql/manual/schema/default-values/sql-functions.rst
  docs/graphql/manual/schema/index.rst
  docs/img/graphql/manual/schema/column-preset-mutation-result.png
  docs/img/graphql/manual/schema/column-preset-schema-change-for-role.png
  docs/img/graphql/manual/schema/column-presets-option.png
  docs/img/graphql/manual/schema/column-presets-value-options.png
Labels: c/docs

#972 add relationship modelling docs
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/schema/relationships/create.rst
  docs/graphql/manual/schema/relationships/database-modelling/index.rst
  docs/graphql/manual/schema/relationships/database-modelling/many-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-one.rst
  docs/graphql/manual/schema/relationships/index.rst
  docs/graphql/manual/schema/relationships/rename.rst
Labels: c/docs

#889 use awk to convert the pem to one line
  community/examples/todo-auth0-jwt/README.md
Labels: c/community

#909 add link to docs on console help button (close #908)
  console/src/components/Main/Main.js
Labels: hacktoberfest

#1005 do not generate prefix for column identifiers in aggregate object (fix #1004)
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/tests-py/queries/graphql_query/aggregations/article_deeply_nested_aggregate.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server

#1017 remove x-hasura-access-key header from logs (fix #1016)
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
Labels: c/server, e/quickfix, s/ok-to-merge

#1002 do not create columns starting with __ in firebase2graphql
  community/tools/firebase2graphql/package.json
  community/tools/firebase2graphql/src/firebase/generateGenericJson.js
  community/tools/firebase2graphql/src/import/normalize.js
Labels: c/community, c/firebase2graphql

#1021 track table when 'create or replace' is used in run sql (close #995)
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console, s/ok-to-merge

#1024 allow hypens in trigger name
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Add/Tooltips.js
Labels: c/console, k/enhancement

#968 Event Triggers: Take webhook url from env ( close #966)
  .circleci/test-server.sh
  console/cypress/integration/events/create-trigger/spec.js
  console/src/components/Common/DropdownButton/DropdownButton.js
  console/src/components/Main/Main.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/Add/AddState.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Settings/Settings.js
  console/src/components/Services/EventTrigger/TableCommon/Table.scss
  console/src/components/Services/EventTrigger/TableCommon/TableStyles.scss
  console/src/helpers/semver.js
  server/src-exec/Ops.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Subscribe.hs
  server/src-rsr/initialise.sql
  server/tests-py/queries/event_triggers/webhook_env/setup.yaml
  server/tests-py/queries/event_triggers/webhook_env/teardown.yaml
  server/tests-py/test_events.py
Labels: c/server

#928 add deployment guide for azure postgres and container instances (close #584)
  docs/graphql/manual/getting-started/first-graphql-query.rst
  docs/graphql/manual/guides/deployment/azure-container-instances-postgres.rst
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/index.rst
  install-manifests/azure-resource-manager/README.md
  install-manifests/azure-resource-manager/azuredeploy.json
  install-manifests/azure-resource-manager/azuredeploy.parameters.json
Labels: c/docs, s/ok-to-merge

#1029 add statistical aggregate operations and count on columns (close #1028)
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/tests-py/queries/graphql_query/aggregations/article_agg_where.yaml
Labels: c/docs, c/server, s/ok-to-merge

#991 add aggregations docs (close #988)
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/event-triggers/payload.rst
  docs/graphql/manual/queries/aggregation-queries.rst
  docs/graphql/manual/queries/derived-data.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/subscriptions/use-cases.rst
Labels: c/docs

#1036 update jwt-config generate section
  docs/graphql/manual/auth/jwt.rst
  docs/img/graphql/manual/auth/jwt-config-generated.png
Labels: c/docs

#1044 add auth0 integration guide
  docs/graphql/manual/auth/jwt.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
  docs/graphql/manual/guides/integrations/index.rst
  docs/graphql/manual/guides/monitoring/index.rst
  docs/graphql/manual/guides/sample-apps/index.rst
  docs/img/graphql/manual/guides/create-client-popup.png
Labels: c/docs

#1046 update docs CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: c/docs

#1043 update multiple mutation docs with nested insert
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/multiple-mutations.rst
  docs/graphql/manual/schema/views.rst
Labels: c/docs

#1070 realtime-chat: update footer with blogpost
  community/examples/realtime-chat/README.md
  community/examples/realtime-chat/package-lock.json
  community/examples/realtime-chat/src/components/Chat.js
Labels: c/community

#1009 change descending ordering to nulls first (fix #1008)
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/queries/sorting.rst
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
Labels: c/server

#1099 support DISTINCT ON (close #1040)
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/queries/distinct-queries.rst
  docs/graphql/manual/queries/index.rst
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/tests-py/queries/graphql_query/order_by/employee_distinct_department_order_by_salary_asc.yaml
  server/tests-py/queries/graphql_query/order_by/employee_distinct_department_order_by_salary_desc.yaml
  server/tests-py/queries/graphql_query/order_by/employee_distinct_fail.yaml
  server/tests-py/queries/graphql_query/order_by/setup.yaml
  server/tests-py/queries/graphql_query/order_by/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#1098 update docs for pg_dump
  docs/graphql/manual/migrations/existing-project.rst
Labels: c/docs

#1097 update server dockerfile, install manifests and docs
  docs/graphql/manual/deployment/docker/index.rst
  docs/graphql/manual/deployment/docker/securing-graphql-endpoint.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/guides/deployment/azure-container-instances-postgres.rst
  install-manifests/azure-resource-manager/azuredeploy.json
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/kubernetes/deployment.yaml
  server/packaging/build/Dockerfile
Labels: c/docs, c/server

#1111 use postgres IN experssion for _in operator (fix #1109)
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/tests-py/queries/graphql_query/boolexp/basic/select_uuid_test_in_uuid_col.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#1117 implement internal graphql server for remote schema tests
  server/tests-py/context.py
  server/tests-py/graphql_server.py
  server/tests-py/queries/remote_schemas/basic_bulk_remove_add.yaml
  server/tests-py/queries/remote_schemas/basic_query.yaml
  server/tests-py/queries/remote_schemas/basic_subscription_not_supported.yaml
  server/tests-py/queries/remote_schemas/create_conflicting_table.yaml
  server/tests-py/queries/remote_schemas/simple2_mutation.yaml
  server/tests-py/queries/remote_schemas/simple2_query.yaml
  server/tests-py/queries/remote_schemas/tbls_setup.yaml
  server/tests-py/queries/remote_schemas/tbls_teardown.yaml
  server/tests-py/requirements.txt
  server/tests-py/test_schema_stitching.py
  server/tests-py/webserver.py
Labels: c/server

#1101 realtime chat app ui update
  community/examples/react-apollo-todo/src/components/LandingPage/LandingPage.js
  community/examples/react-apollo-todo/src/styles/App.css
  community/examples/realtime-chat/package-lock.json
  community/examples/realtime-chat/public/index.html
  community/examples/realtime-chat/src/App.css
  community/examples/realtime-chat/src/components/ChatWrapper.js
  community/examples/realtime-chat/src/components/LandingPage.js
  community/examples/realtime-chat/src/components/Login.js
  community/examples/realtime-chat/src/components/Main.js
  community/examples/realtime-chat/src/components/OnlineUsers.js
  community/examples/realtime-chat/src/components/Textbox.js
  community/examples/realtime-chat/src/images/React-logo.png
  community/examples/realtime-chat/src/images/apollo.png
  community/examples/realtime-chat/src/images/auth.png
  community/examples/realtime-chat/src/images/chat-app-bg.jpg
  community/examples/realtime-chat/src/images/chat-app.png
  community/examples/realtime-chat/src/images/graphql.png
  community/examples/realtime-chat/src/images/green-logo-white.svg
Labels: s/do-not-merge

#1116 update notes in the sql section (close #1093)
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console

#1089 remove dependency on first,last aggregates
  server/src-exec/Ops.hs
  server/src-rsr/first_last.sql
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_5_to_6.sql
Labels: c/server

#1144 suggested relationship name shouldn't strips off numbers (close #1139)
  console/src/components/Services/Data/TableRelationships/Actions.js
Labels: c/console, s/ok-to-merge
