Repository hasura/graphql-engine, pull requests merged in 2019-02, with the labels that each got.

#1251 add update-cli command to cli (close #1239)
  cli/Gopkg.lock
  cli/Gopkg.toml
  cli/Makefile
  cli/cli.go
  cli/cli_test.go
  cli/commands/docs.go
  cli/commands/init.go
  cli/commands/root.go
  cli/commands/update-cli.go
  cli/directory.go
  cli/get.sh
  cli/global_config.go
  cli/update/auto_update.go
  cli/update/hide_noop.go
  cli/update/hide_windows.go
  cli/update/update.go
Labels: c/cli

#1547 don't allow altering tracked SQL functions type to VOLATILE (fix #1546)
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/tests-py/queries/graphql_query/functions/alter_function_error.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#1538 add config for stringified hasura claims in JWT (fix #1176)
  .circleci/test-server.sh
  docs/graphql/manual/auth/jwt.rst
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/test_jwt.py
Labels: c/server

#1556 cli: add new install script, commands
  cli/commands/completion.go
  cli/commands/docs.go
  cli/commands/help.go
  cli/commands/root.go
  cli/get.sh
  docs/graphql/manual/hasura-cli/hasura.rst
  docs/graphql/manual/hasura-cli/hasura_completion.rst
  docs/graphql/manual/hasura-cli/hasura_console.rst
  docs/graphql/manual/hasura-cli/hasura_example.rst
  docs/graphql/manual/hasura-cli/hasura_init.rst
  docs/graphql/manual/hasura-cli/hasura_metadata.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_apply.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_export.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_reload.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_reset.rst
  docs/graphql/manual/hasura-cli/hasura_migrate.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_apply.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_create.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_status.rst
  docs/graphql/manual/hasura-cli/hasura_update-cli.rst
  docs/graphql/manual/hasura-cli/hasura_version.rst
  docs/graphql/manual/hasura-cli/index.rst
  docs/graphql/manual/hasura-cli/install-hasura-cli.rst
  docs/graphql/manual/hasura-cli/uninstall-hasura-cli.rst
Labels: c/cli, c/docs

#1562 fix console permissions bug
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
Labels: c/console, k/bug, s/ok-to-merge

#1494 add docker-compose-pgadmin manifest (close #1424)
  install-manifests/README.md
  install-manifests/docker-compose-pgadmin/README.md
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
Labels: c/community

#1569 add react-static-graphql sample app
  community/sample-apps/react-static-graphql/.babelrc
  community/sample-apps/react-static-graphql/.eslintrc.js
  community/sample-apps/react-static-graphql/.gitignore
  community/sample-apps/react-static-graphql/README.md
  community/sample-apps/react-static-graphql/assets/author_fk.png
  community/sample-apps/react-static-graphql/package.json
  community/sample-apps/react-static-graphql/public/robots.txt
  community/sample-apps/react-static-graphql/src/App.js
  community/sample-apps/react-static-graphql/src/apollo.js
  community/sample-apps/react-static-graphql/src/app.css
  community/sample-apps/react-static-graphql/src/containers/Post.js
  community/sample-apps/react-static-graphql/src/graphql/queries.js
  community/sample-apps/react-static-graphql/src/index.js
  community/sample-apps/react-static-graphql/src/pages/404.js
  community/sample-apps/react-static-graphql/src/pages/about.js
  community/sample-apps/react-static-graphql/src/pages/blog.js
  community/sample-apps/react-static-graphql/src/pages/index.js
  community/sample-apps/react-static-graphql/static.config.js
  community/sample-apps/react-static-graphql/yarn.lock
Labels: c/community, s/ok-to-merge

#1578 fix a bug where div keys repetition caused buggy render
  console/src/components/Services/Data/Schema/AutoAddRelations.js
Labels: c/console, k/bug, s/ok-to-merge

#1518 fix add-column button overflow in modify table
  console/src/components/Main/Main.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
Labels: c/console, k/bug, s/ok-to-merge

#1473 support column presets in update mutation and restrict altering type of preset columns (close #1449, fix #1464)
  console/cypress/integration/data/permissions/utils.js
  console/cypress/integration/validators/validators.js
  console/src/components/Common/InputChecker/InputChecker.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/helpers/semver.js
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/tests-py/queries/graphql_mutation/update/permissions/setup.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/teardown.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_update_resident_preset.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_update_resident_preset_session_var.yaml
  server/tests-py/queries/v1/update/permissions/setup.yaml
  server/tests-py/queries/v1/update/permissions/teardown.yaml
  server/tests-py/queries/v1/update/permissions/user_update_resident_preset.yaml
  server/tests-py/queries/v1/update/permissions/user_update_resident_preset_error.yaml
  server/tests-py/queries/v1/update/permissions/user_update_resident_preset_session_var.yaml
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_v1_queries.py
Labels: c/console, c/server

#1563 do not allow overloading already tracked functions
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/graphql_query/functions/overloading_function_error.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#1536 add support for multiple domains in cors config (fix #1436)
  .circleci/test-server.sh
  .gitignore
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth/JWT/Internal.hs
  server/src-lib/Hasura/Server/Cors.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Middleware.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/conftest.py
  server/tests-py/test_cors.py
Labels: c/server

#1600 added a cli flag to skip update checks, close #1586
  cli/cli.go
  cli/commands/root.go
Labels: c/cli, s/ok-to-merge

#1501 remove wreq and set response timeout (close #1477)
  console/cypress/helpers/eventHelpers.js
  console/cypress/integration/events/create-trigger/spec.js
  console/cypress/integration/validators/validators.js
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.js
  console/src/components/Services/Data/PageContainer/PageContainer.js
  console/src/components/Services/Data/TableBrowseRows/ReactTableFix.css
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/Add/AddState.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/Actions.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/Modify/RetryConfEditor.js
  console/src/components/Services/EventTrigger/Modify/State.js
  console/src/components/Services/EventTrigger/Modify/WebhookEditor.js
  console/src/components/Services/EventTrigger/PageContainer/PageContainer.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/components/Services/EventTrigger/TableCommon/Table.scss
  console/src/helpers/semver.js
  server/src-exec/Main.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/Events/HTTP.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/Types/Subscribe.hs
  server/tests-py/context.py
  server/tests-py/queries/event_triggers/retry_conf/setup.yaml
  server/tests-py/queries/event_triggers/retry_conf/teardown.yaml
  server/tests-py/test_events.py
Labels: c/console, c/docs, c/server

#1605 update console permissions
  console/cypress/integration/validators/validators.js
  console/src/components/QueryBuilderJson/QueryBuilderJson.js
  console/src/components/Services/Data/Function/Permission/Permission.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  docs/graphql/manual/auth/basics.rst
Labels: c/console

#1604 make events and remote-schema tabs independent of update checker
  console/cypress/integration/api-explorer/graphql/spec.js
  console/src/Globals.js
  console/src/components/Main/Main.js
  console/src/helpers/Html.js
  console/src/helpers/localDev.js
Labels: c/console, s/ok-to-merge

#1620 fix ace editor cursor issue
  console/src/components/Services/Data/RawSQL/AceEditorFix.css
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console

#1618 upgrade to babel 7 and fix console hot reloading
  console/.babelrc
  console/bin/server.babel.js
  console/package-lock.json
  console/package.json
  console/src/client.js
  console/src/components/ApiExplorer/Actions.js
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/App/App.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/config.js
  console/src/utils/data.js
  console/webpack/dev.config.js
Labels: c/console, s/ok-to-merge

#1628 add google cloud gke cloud sql deployment guide (close #1386)
  docs/graphql/manual/guides/deployment/google-kubernetes-engine-cloud-sql.rst
  docs/graphql/manual/guides/deployment/index.rst
  install-manifests/google-cloud-k8s-sql/README.rst
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/google-cloud-k8s-sql/service.yaml
Labels: c/community, c/docs

#1640 add nextjs-8-serverless sample app
  community/sample-apps/nextjs-8-serverless/.gitignore
  community/sample-apps/nextjs-8-serverless/README.md
  community/sample-apps/nextjs-8-serverless/components/App.js
  community/sample-apps/nextjs-8-serverless/components/AuthorList.js
  community/sample-apps/nextjs-8-serverless/components/ErrorMessage.js
  community/sample-apps/nextjs-8-serverless/components/Header.js
  community/sample-apps/nextjs-8-serverless/lib/init-apollo.js
  community/sample-apps/nextjs-8-serverless/lib/with-apollo-client.js
  community/sample-apps/nextjs-8-serverless/next.config.js
  community/sample-apps/nextjs-8-serverless/now.json
  community/sample-apps/nextjs-8-serverless/package-lock.json
  community/sample-apps/nextjs-8-serverless/package.json
  community/sample-apps/nextjs-8-serverless/pages/_app.js
  community/sample-apps/nextjs-8-serverless/pages/about.js
  community/sample-apps/nextjs-8-serverless/pages/index.js
Labels: c/community, s/ok-to-merge

#1570 added auth-jwt-roles boilerplate
  community/boilerplates/auth-servers/passportjs-jwt-roles/.dockerignore
  community/boilerplates/auth-servers/passportjs-jwt-roles/.drone.yml
  community/boilerplates/auth-servers/passportjs-jwt-roles/.gitignore
  community/boilerplates/auth-servers/passportjs-jwt-roles/Dockerfile
  community/boilerplates/auth-servers/passportjs-jwt-roles/README.md
  community/boilerplates/auth-servers/passportjs-jwt-roles/app.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/config/jwt.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/config/passport.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/controllers/user.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/db/errors.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/db/migrations/20180917160913_user.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/db/migrations/20190127161009_role.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/db/migrations/20190127171217_user_role.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/db/schema.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/knexfile.js
  community/boilerplates/auth-servers/passportjs-jwt-roles/package-lock.json
  community/boilerplates/auth-servers/passportjs-jwt-roles/package.json
Labels: c/community

#1644 update dependencies needed for apollo in apollo-subscriptions guide (close #1643)
  docs/graphql/manual/guides/integrations/apollo-subscriptions.rst
Labels: c/docs

#1633 generate scalar types for SQL function arguments (fix #1632)
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/graphql_query/permissions/staff_passed_students.yaml
  server/tests-py/queries/graphql_query/permissions/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#1653 enforce column presets of update permission with upserts (fix #1647)
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/blog_on_conflict_update_preset.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/teardown.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server, s/ok-to-merge

#1652 remove stale folder for gatsby nextjs boilerplates
  community/boilerplates/gatsby-postgres-graphql/README.md
  community/boilerplates/nextjs-postgres-graphql/README.md
Labels: c/community, s/ok-to-merge

#1667 test server upgrade from last release (close #570)
  .circleci/config.yml
  .circleci/server-upgrade/.gitignore
  .circleci/server-upgrade/Dockerfile
  .circleci/server-upgrade/api-server/.gitignore
  .circleci/server-upgrade/api-server/echo.js
  .circleci/server-upgrade/api-server/graphql.js
  .circleci/server-upgrade/api-server/index.js
  .circleci/server-upgrade/api-server/package.json
  .circleci/server-upgrade/hasura/config.yaml
  .circleci/server-upgrade/hasura/migrations/1551151778747_create_table_public_author.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551151778747_create_table_public_author.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551151797817_create_table_public_article.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551151797817_create_table_public_article.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551151805486_alter_table_public_article_add_foreign_key.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551151805486_alter_table_public_article_add_foreign_key.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551151812056_add_relationship_authorByauthorId_table_public_article.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551151812056_add_relationship_authorByauthorId_table_public_article.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551151820765_add_relationship_articlesByauthorId_table_public_author.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551151820765_add_relationship_articlesByauthorId_table_public_author.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271368044_update_permission_user_public_table_author.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271368044_update_permission_user_public_table_author.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271380134_update_permission_user_public_table_author.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271380134_update_permission_user_public_table_author.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271390609_update_permission_user_public_table_author.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271390609_update_permission_user_public_table_author.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271394593_update_permission_user_public_table_author.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271394593_update_permission_user_public_table_author.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271434010_update_permission_user_public_table_article.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271434010_update_permission_user_public_table_article.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271446402_update_permission_user_public_table_article.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271446402_update_permission_user_public_table_article.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271457684_update_permission_user_public_table_article.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271457684_update_permission_user_public_table_article.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271461819_update_permission_user_public_table_article.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271461819_update_permission_user_public_table_article.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271959908_create_trigger_author_echo.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271959908_create_trigger_author_echo.up.yaml
  .circleci/server-upgrade/hasura/migrations/1551271977674_create_remote_schema_hello_rs.down.yaml
  .circleci/server-upgrade/hasura/migrations/1551271977674_create_remote_schema_hello_rs.up.yaml
  .circleci/server-upgrade/make_test_query.js
  .circleci/server-upgrade/package.json
  .circleci/server-upgrade/run.sh
Labels: c/build-system

#1555 add fuzzy match search example to custom query docs
  docs/graphql/manual/queries/custom-functions.rst
Labels: c/docs

#1664 forward response headers from remote servers (fix #1654)
  docs/graphql/manual/remote-schemas/index.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Context.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/graphql_server.py
  server/tests-py/queries/remote_schemas/check_resp_headers.yaml
  server/tests-py/test_schema_stitching.py
Labels: c/server

#1650 option to disable metadata and graphql apis (close #1088)
  .circleci/test-server.sh
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/queries/graphql_introspection/introspection_only_kind_of_queryType.yaml
  server/tests-py/test_apis_disabled.py
  server/tests-py/test_schema_stitching.py
  server/tests-py/validate.py
Labels: c/docs, c/server
