Repository hasura/graphql-engine, pull requests merged in 2019-06, with the labels that each got.

#2252 do not consider foreign keys are dropped only if constraint oid changes (fix #2238, #2060)
  console/src/components/Services/Data/TableModify/ModifyActions.js
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/table_meta.sql
  server/tests-py/queries/graphql_query/basic/nested_select_with_foreign_key_alter.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/console, c/server, s/do-not-merge

#1980 Adding soft delete docs
  docs/graphql/manual/schema/index.rst
  docs/graphql/manual/schema/soft-deletes.rst
  docs/img/graphql/manual/schema/soft-deletes-delete-perms.png
  docs/img/graphql/manual/schema/soft-deletes-example-data.png
  docs/img/graphql/manual/schema/soft-deletes-insert-perms.png
  docs/img/graphql/manual/schema/soft-deletes-select-perms.png
  docs/img/graphql/manual/schema/soft-deletes-update-perms.png
Labels: c/docs

#2305 forward cookie headers from remote servers (fix #1654)
  docs/graphql/manual/remote-schemas/index.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Context.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/graphql_server.py
  server/tests-py/queries/remote_schemas/check_resp_headers.yaml
  server/tests-py/test_schema_stitching.py
Labels: c/server, s/ok-to-merge

#2282 support null and default values for function input arguments (close #2176, #2250)
  docs/graphql/manual/queries/custom-functions.rst
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/tests-py/queries/graphql_query/functions/query_my_add.yaml
  server/tests-py/queries/graphql_query/functions/setup.yaml
  server/tests-py/queries/graphql_query/functions/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#2342 change success code from 200 to 2xx (close #2335)
  console/src/components/Services/EventTrigger/PendingEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewRows.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/StreamingLogs/util.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/components/Services/EventTrigger/utils.js
Labels: c/console

#2319 learn: fix typos
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
Labels: c/learn

#2363 community: add gridsome sample app
  community/sample-apps/gridsome-postgres-graphql/.gitignore
  community/sample-apps/gridsome-postgres-graphql/README.md
  community/sample-apps/gridsome-postgres-graphql/gridsome.config.js
  community/sample-apps/gridsome-postgres-graphql/gridsome.server.js
  community/sample-apps/gridsome-postgres-graphql/package.json
  community/sample-apps/gridsome-postgres-graphql/src/components/README.md
  community/sample-apps/gridsome-postgres-graphql/src/favicon.png
  community/sample-apps/gridsome-postgres-graphql/src/layouts/Default.vue
  community/sample-apps/gridsome-postgres-graphql/src/layouts/README.md
  community/sample-apps/gridsome-postgres-graphql/src/main.js
  community/sample-apps/gridsome-postgres-graphql/src/pages/Articles.vue
  community/sample-apps/gridsome-postgres-graphql/src/pages/Index.vue
  community/sample-apps/gridsome-postgres-graphql/src/pages/README.md
  community/sample-apps/gridsome-postgres-graphql/src/templates/README.md
  community/sample-apps/gridsome-postgres-graphql/static/README.md
  community/sample-apps/gridsome-postgres-graphql/yarn.lock
Labels: c/community

#2332 support multi-column manual relationships from console
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/relationships/spec.js
  console/cypress/integration/data/views/spec.js
  console/src/components/Common/TableCommon/TableStyles.scss
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/Data/TableRelationships/ManualRelationshipSelector.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  docs/graphql/manual/schema/relationships/create.rst
  docs/img/graphql/manual/schema/add-1-1-relationship.png
  docs/img/graphql/manual/schema/add-1-many-relationship.png
  docs/img/graphql/manual/schema/manual-relationship-btn.png
  docs/img/graphql/manual/schema/manual-relationship-create.png
Labels: c/console, c/docs

#2350 update run_sql metadata API documentation
  docs/graphql/manual/api-reference/schema-metadata-api/run-sql.rst
Labels: c/docs, s/ok-to-merge

#2367 learn: update testimonials section on website
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Footer.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Styles.module.scss
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Testimonials.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/images/quote-left.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/components/images/quote-right.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
Labels: c/community, c/learn

#1925 add a new api to get config details (close #1831); add jwt-analyzer (close #1369)
  console/package-lock.json
  console/package.json
  console/src/Endpoints.js
  console/src/components/Common/ModalWrapper.js
  console/src/components/Common/TextAreaWithCopy/TextAreaWithCopy.js
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Main/State.js
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/ApiExplorer/ApiExplorer.js
  console/src/components/Services/ApiExplorer/ApiExplorer.scss
  console/src/components/Services/ApiExplorer/ApiExplorerGenerator.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/ApiRequest/utils.js
  console/src/components/Services/ApiExplorer/ApiRequestWrapper.js
  console/src/components/Services/Common/Landing/PopUp.js
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.js
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/helpers/versionUtils.js
  console/src/telemetry/Actions.js
  docs/graphql/manual/api-reference/config.rst
  docs/graphql/manual/api-reference/index.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Config.hs
  server/src-lib/Hasura/Server/Init.hs
  server/tests-py/test_config_api.py
Labels: c/console, c/server

#2366 Enable add/modify/delete for event triggers and remote schemas in migration mode, fix #1875
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.js
  console/src/components/Services/CustomResolver/CustomResolverRouter.js
  console/src/components/Services/CustomResolver/CustomResolverSubSidebar.js
  console/src/components/Services/CustomResolver/Edit/Edit.js
  console/src/components/Services/CustomResolver/Landing/CustomResolver.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/EventTrigger/EventRouter.js
  console/src/components/Services/EventTrigger/EventSubSidebar.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/EventTrigger/Modify/Connector.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewTable.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
Labels: c/console

#2284 ra-data-hasura: add filters to GET_* types
  community/tools/ra-data-hasura/src/index.js
Labels: c/ra-data-hasura

#2272 ra-data-hasura: fix key update when response not an array
  community/tools/ra-data-hasura/src/index.js
Labels: c/ra-data-hasura

#2380 ra-data-hasura: bump version
  community/tools/ra-data-hasura/CHANGELOG.md
  community/tools/ra-data-hasura/package-lock.json
  community/tools/ra-data-hasura/package.json
Labels: c/community, c/ra-data-hasura

#2352 Support auto suggest for default values of supported data types
  console/cypress/integration/data/modify/spec.js
  console/package-lock.json
  console/package.json
  console/src/components/Common/CustomInputAutoSuggest/CustomInputAutoSuggest.js
  console/src/components/Common/CustomInputAutoSuggest/CustomThemes/AddColumnDefault.scss
  console/src/components/Common/CustomInputAutoSuggest/CustomThemes/EditColumnDefault.scss
  console/src/components/Common/CustomInputAutoSuggest/Theme.scss
  console/src/components/Common/SearchableSelect/SearchableSelect.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/TableColumn.js
  console/src/components/Services/Data/Add/TableColumnDefault.js
  console/src/components/Services/Data/Common/utils.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/Data/TableRelationships/ManualRelationshipSelector.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/Metadata/Actions.js
  console/src/theme/bootstrap.overrides.scss
Labels: c/console

#2402 Fix postgres query to fetch pg_types, default function
  console/src/components/Services/Data/utils.js
Labels: c/console

#2369 add graphql-voyager to console, close #314
  console/package-lock.json
  console/package.json
  console/src/components/Services/ApiExplorer/ApiExplorer.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/ApiRequestWrapper.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQL.css
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/Metadata/Actions.js
  console/src/components/VoyagerView/VoyagerView.js
  console/src/components/VoyagerView/voyagerView.css
  console/src/routes.js
Labels: c/console

#2401 fix header state for create-remote-schema is not cleared after creating the remote schema, close #2396
  console/src/components/Common/Layout/ReusableHeader/HeaderReducer.js
  console/src/components/Services/CustomResolver/Add/addResolverReducer.js
  console/src/components/Services/CustomResolver/Edit/Edit.js
  console/src/components/Services/CustomResolver/Edit/View.js
Labels: c/console

#2413 change action button heading id to tableRowActionButtons in table browse page, close #2403
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Labels: c/console

#2406 created docker compose for build and launch of tutorial
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/docker-compose.yml
Labels: c/learn

#2414 fix renaming column is failing if table has insert permission (fix #2398)
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/tests-py/queries/v1/run_sql/setup.yaml
  server/tests-py/queries/v1/run_sql/sql_rename_columns_article.yaml
  server/tests-py/queries/v1/run_sql/sql_rename_columns_author.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server, s/ok-to-merge

#2307 graphql2chartjs: fix mapping of non-array types
  community/tools/graphql2chartjs/src/index.js
Labels: c/graphql2chartjs

#2382 add name of ci environment to telemetry data
  docs/graphql/manual/guides/telemetry.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/stack.yaml
Labels: c/server

#2390 learn: update react native tutorial with videos
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-boilerplate/src/utils.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/app-final/src/utils.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/load-older/1-load-more-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/load-older/2-load-more-todos-integration.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/mutations/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/mutations/2-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/3-handle-errors.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/1-subscribe-to-new-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/2-run-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/realtime-feed/3-sync-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/4-remove-todos-integration.md
Labels: c/community, s/ok-to-merge

#2385 create down migration when a column is dropped (close #2291)
  cli/migrate/api/migrate.go
  console/cypress/integration/data/modify/spec.js
  console/src/components/App/Actions.js
  console/src/components/Common/Common.scss
  console/src/components/Services/Common/Notification.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/Schema/Actions.js
  console/src/components/Services/Data/TableBrowseRows/EditActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableInsertItem/InsertActions.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/Modify/Actions.js
  console/src/components/Services/EventTrigger/Notification.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewActions.js
  console/src/components/Services/Metadata/Actions.js
  console/src/components/Services/Metadata/MetadataOptions/ExportMetadata.js
  console/src/components/Services/Metadata/MetadataOptions/ImportMetadata.js
  console/src/components/Services/Metadata/MetadataOptions/ResetMetadata.js
Labels: c/cli, c/console

#2410 add a make rule to build server docker image locally
  server/Makefile
Labels: c/server, s/ok-to-merge

#2437 learn: fix twitter share image on homepage
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
Labels: c/learn

#2436 add a note on exporting multiple schemas as migration
  docs/graphql/manual/migrations/existing-database.rst
Labels: c/docs, e/quickfix

#2440 fix inconsistent state while filtering rows using a boolean column, close #2421
  console/src/components/Services/Data/TableBrowseRows/FilterActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
Labels: c/console

#2445 graphql2chartjs: bump version to 0.3.0
  community/tools/graphql2chartjs/package.json
Labels: c/community, c/graphql2chartjs

#2446 fix to show error notification when run sql fails in cli mode, close #2438
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console
