Repository hasura/graphql-engine, pull requests merged in 2019-07, with the labels that each got.

#2405 Fix permission documentation issue (fix #2404)
  docs/graphql/manual/deployment/postgres-permissions.rst
Labels: c/docs

#2408 refactor AddTable validation, fix #1712
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Common/GraphQLValidation.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/Metadata/Actions.js
Labels: c/console

#2458 Change default type placeholder text to type, fix 2394
  console/src/components/Services/Data/utils.js
Labels: c/console

#2452 add server version to console html (close #2444)
  cli/assets/assets.go
  cli/assets/unversioned/console.html
  cli/assets/v1.0/console.html
  cli/commands/console.go
  server/src-lib/Hasura/Server/App.hs
  server/src-rsr/console.html
Labels: c/cli, c/server

#2460 fix type placeholders
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/utils.js
Labels: c/console

#2459 fix relationship page breaks if array fk relationship exists with table in another schema
  console/src/components/Services/Data/utils.js
Labels: c/console

#2347 Infer relationship type using uniqueness constraint of foreign key
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/autoRelations.js
  console/src/components/Services/Data/utils.js
  docs/graphql/manual/schema/relationships/database-modelling/one-to-one.rst
Labels: c/console, c/docs, e/low

#2456 improve code for release channel detection
  server/src-lib/Hasura/Server/Version.hs
Labels: c/server

#2471 update server cabal file to reflect the correct license
  server/graphql-engine.cabal
Labels: c/server, s/ok-to-merge

#2457 update jwt spec docs
  docs/graphql/manual/auth/authentication/jwt.rst
Labels: c/docs, e/quickfix

#2089 cache remote schema introspection query response (fix #1679)
  console/src/components/Services/CustomResolver/Edit/View.js
  console/src/components/Services/CustomResolver/customActions.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/Metadata/Actions.js
  console/src/components/Services/Metadata/MetadataOptions/ReloadRemoteSchema.js
  console/src/components/Services/Metadata/MetadataStatus/MetadataStatus.js
  console/src/components/Services/Metadata/utils.js
  console/src/helpers/versionUtils.js
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/remote-schemas.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/remote-schemas/index.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/test_schema_stitching.py
Labels: c/console, c/docs, c/server, s/has-breaking-changes, s/ok-to-merge

#2484 fix sql to return empty array when there are no columns in a table, close #2481
  console/src/components/Services/Data/utils.js
Labels: c/console

#2492 reduce the number of introspection queries made from the console
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
Labels: c/console, k/bug

#2475 allow session variables in operators which expect array input
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  docs/_static/hasura-custom.css
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/auth/authorization/roles-variables.rst
  docs/graphql/manual/auth/authorization/use-cases.rst.wip
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/graphql_mutation/delete/permissions/agent_delete_perm_arr_sess_var.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/agent_delete_perm_arr_sess_var_fail.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/developer_insert_has_keys_any_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/developer_insert_has_keys_any_pass.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/insert_article_arr_sess_var_editor_allowed_user_id.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/insert_article_arr_sess_var_editors_err_not_allowed_user_id.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/seller_insert_computer_has_keys_all_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/seller_insert_computer_has_keys_all_pass.yaml
  server/tests-py/queries/graphql_query/permissions/in_and_nin.yaml
  server/tests-py/queries/graphql_query/permissions/jsonb_has_all.yaml
  server/tests-py/queries/graphql_query/permissions/jsonb_has_any.yaml
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
Labels: c/console, c/docs, c/server, s/has-breaking-changes

#2489 expose gc stats through dev api
  server/graphql-engine.cabal
  server/src-lib/Hasura/Server/App.hs
Labels: c/server, k/enhancement

#1835 add query logging and other logging changes (close #507, #2171)
  .circleci/test-server.sh
  docs/_static/hasura-custom.css
  docs/graphql/manual/deployment/docker/logging.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/deployment/heroku/logging.rst
  docs/graphql/manual/deployment/kubernetes/logging.rst
  docs/graphql/manual/deployment/logging.rst
  server/.gitignore
  server/Makefile
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/Events/HTTP.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/JWT/Logging.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Middleware.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/graphql_server.py
  server/tests-py/queries/logging/setup.yaml
  server/tests-py/queries/logging/teardown.yaml
  server/tests-py/test_logging.py
  server/tests-py/test_schema_stitching.py
Labels: c/docs, c/server, s/has-breaking-changes

#2383 throw error when tracking table/function if there are conflicts (close #2020)
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/v1/track_table/setup.yaml
  server/tests-py/queries/v1/track_table/teardown.yaml
  server/tests-py/queries/v1/track_table/track_function_table_same_name.yaml
  server/tests-py/queries/v1/track_table/track_table_function_same_name.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server

#2300 check input empty strings for metadata api (close #2302)
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Init.hs
  server/tests-py/queries/v1/non_empty_text/create_event_trigger.yaml
  server/tests-py/queries/v1/non_empty_text/create_insert_permission.yaml
  server/tests-py/queries/v1/non_empty_text/create_object_relationship.yaml
  server/tests-py/queries/v1/non_empty_text/create_query_collection.yaml
  server/tests-py/queries/v1/non_empty_text/create_query_collection_queryname.yaml
  server/tests-py/queries/v1/non_empty_text/create_remote_schema.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server, k/bug

#2511 use all available cpu cores by default
  .circleci/config.yml
  server/graphql-engine.cabal
Labels: c/server

#2495 Support casting between PostGIS geometry and geography types in `where` expressions (close #1983)
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/queries/query-filters.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/stack.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geography_to_geometry.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geometry_to_geography.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/teardown.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_cast_geography_to_geometry.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_cast_geometry_to_geography.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/setup.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/teardown.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: c/docs, c/server, k/enhancement

#2240 allow automatically adding freq used columns while creating table (closes #1462)
  console/src/components/Common/Common.scss
  console/src/components/Common/Dropdown/Dropdown.js
  console/src/components/Common/Dropdown/Dropdown.scss
  console/src/components/Common/FilterQuery/FilterQuery.scss
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/AddWarning.js
  console/src/components/Services/Data/Add/utils.js
  console/src/components/Services/Data/Common/GraphQLValidation.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/TriggerEditorList.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/PendingEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/RunningEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewTable.js
Labels: c/console, e/medium, k/enhancement

#2557 add notices in jwt docs regarding audience check
  community/sample-apps/firebase-jwt/README.md
  docs/graphql/manual/auth/authentication/jwt.rst
Labels: c/docs

#2558 community: learn: show reason-react on homepage
  community/learn/graphql-tutorials/backend-services/homepage/src/components/AllState.js
Labels: c/community, c/learn

#2582 community: learn: update favicon
  community/learn/graphql-tutorials/backend-services/homepage/src/favicon.png
Labels: c/community, c/learn

#2560 remove support for query templates
  cli/commands/migrate_test.go
  server/graphql-engine.cabal
  server/src-exec/Migrate.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/QueryTemplate.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/hdb_metadata.yaml
  server/src-rsr/initialise.sql
  server/tests-py/queries/v1/metadata/clear_metadata.yaml
  server/tests-py/queries/v1/metadata/export_metadata.yaml
  server/tests-py/queries/v1/metadata/replace_metadata.yaml
  server/tests-py/queries/v1/metadata/replace_metadata_wo_rs.yaml
Labels: c/server

#2563 update console UI components
  console/src/components/App/500-logo.png
  console/src/components/App/Actions.js
  console/src/components/App/App.js
  console/src/components/App/App.scss
  console/src/components/App/ErrorPage.scss
  console/src/components/App/JSONFormat.js
  console/src/components/App/State.js
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Main/Main.js
  console/src/components/Main/NotificationOverrides.css
  console/src/components/Services/Common/Notification.js
  console/src/components/Services/Common/Notification/Notification.scss
  console/src/components/Services/Common/Notification/NotificationOverrides.css
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/AddWarning.js
  console/src/components/Services/Data/Common/GraphQLValidation.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Migrations/Migrations.js
  console/src/components/Services/Data/Migrations/MigrationsHome.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Actions.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/index.js
  console/src/components/Services/Metadata/MetadataOptions/ResetMetadata.js
Labels: c/console

#2422 show warning for identifiers which do not conform to GraphQL name scheme, close #212
  console/src/components/Common/Common.scss
  console/src/components/Common/GqlCompatibilityWarning/GqlCompatibilityWarning.js
  console/src/components/Common/GqlCompatibilityWarning/GqlCompatibilityWarning.scss
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.scss
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/utils.js
Labels: c/console, e/low, s/ok-to-merge

#2597 show error stack trace on error page for more efficient bug reporting
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Error/ErrorPage.scss
  console/src/components/Error/RuntimeError.js
Labels: c/console

#2600 fix radio selection on data input in edit row page
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
Labels: c/console

#2603 add gatsby-contentful-auth0 sample app
  community/sample-apps/gatsby-contentful-auth0/README.md
  community/sample-apps/gatsby-contentful-auth0/app/.env.EXAMPLE
  community/sample-apps/gatsby-contentful-auth0/app/.gitignore
  community/sample-apps/gatsby-contentful-auth0/app/.prettierrc
  community/sample-apps/gatsby-contentful-auth0/app/README.md
  community/sample-apps/gatsby-contentful-auth0/app/gatsby-browser.js
  community/sample-apps/gatsby-contentful-auth0/app/gatsby-config.js
  community/sample-apps/gatsby-contentful-auth0/app/gatsby-node.js
  community/sample-apps/gatsby-contentful-auth0/app/package-lock.json
  community/sample-apps/gatsby-contentful-auth0/app/package.json
  community/sample-apps/gatsby-contentful-auth0/app/src/components/Playlist.js
  community/sample-apps/gatsby-contentful-auth0/app/src/components/style.css
  community/sample-apps/gatsby-contentful-auth0/app/src/pages/account.js
  community/sample-apps/gatsby-contentful-auth0/app/src/pages/callback.js
  community/sample-apps/gatsby-contentful-auth0/app/src/pages/index.js
  community/sample-apps/gatsby-contentful-auth0/app/src/utils/auth.js
  community/sample-apps/gatsby-contentful-auth0/app/static/favicon.ico
  community/sample-apps/gatsby-contentful-auth0/auth0/insert_user_rule.js
  community/sample-apps/gatsby-contentful-auth0/hasura/config.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/migrations/1563970185567_init_schema.up.sql
  community/sample-apps/gatsby-contentful-auth0/hasura/migrations/1563970259491_init_metadata.up.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/migrations/1564120661494_table_playlist_track_create_remote_relationship_track.down.yaml
  community/sample-apps/gatsby-contentful-auth0/hasura/migrations/1564120661494_table_playlist_track_create_remote_relationship_track.up.yaml
Labels: c/community

#2596 add clean-up docs for event triggers
  docs/graphql/manual/event-triggers/clean-up.rst
  docs/graphql/manual/event-triggers/index.rst
Labels: c/docs, c/event-triggers

#2622 allow using citext columns in row permission builder
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
Labels: c/console

#2606 add support for column comparision operators in permissions builder
  console/cypress/integration/data/permissions/utils.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/auth/authorization/permission-rules.rst
Labels: c/console

#2334 add About page in console
  console/.eslintrc
  console/src/Globals.js
  console/src/components/Main/Main.js
  console/src/components/Main/images/console-logo.svg
  console/src/components/Main/images/docs-logo.svg
  console/src/components/Main/images/logo.svg
  console/src/components/Services/About/About.js
  console/src/components/Services/About/About.scss
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Metadata/Sidebar.js
  console/src/components/Services/VoyagerView/VoyagerView.js
  console/src/components/Services/VoyagerView/voyagerView.css
  console/src/routes.js
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Labels: c/console, e/quickfix, k/enhancement

#2634 add flag to disable ci colors (close #2072)
  cli/cli.go
  cli/commands/root.go
Labels: c/cli

#2632 learn: react tutorial file path fixes
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
Labels: c/community, c/learn, s/ok-to-merge

#2351 learn: minor typo fix (pluralized name)
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
Labels: c/community, c/learn

#2185 Fix typo in mutation documentation
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/4-remove-todos-integration.md
Labels: c/community

#1938 community: update remote schema boilerplate
  community/boilerplates/remote-schemas/google-cloud-functions/nodejs/README.md
  community/boilerplates/remote-schemas/google-cloud-functions/nodejs/localDev.js
Labels: c/community

#2585 clear events related to schema cache updates (close #2542)
  server/src-exec/Main.hs
  server/src-exec/Migrate.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_18_to_19.sql
  server/stack.yaml.lock
Labels: c/server, s/ok-to-merge

#2642 community: learn: ReasonML tutorial bug fixes
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/app-final/src/todo/TodoPublicList.re
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/subscriptions/1-subscription.md
Labels: c/community, c/learn
