Repository hasura/graphql-engine, pull requests merged in 2019-04, with the labels that each got.

#1723 Add reusable component to add collapsible toggle and fix graphiql css
  console/package-lock.json
  console/src/components/ApiExplorer/ApiExplorer.js
  console/src/components/ApiExplorer/ApiExplorer.scss
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/ApiExplorer/ApiRequestWrapper.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.js
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.scss
  console/src/components/Common/Common.scss
  console/src/components/Services/CustomResolver/Edit/View.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/helpers/highlight.min.js
  console/src/theme/bootstrap.overrides.scss
  console/src/utils/websockets.js
Labels: c/console

#1928 refactor console components
  console/src/components/ApiExplorer/OneGraphExplorer.js
  console/src/components/Common/Layout/BreadCrumb/BreadCrumb.js
  console/src/components/Common/TextAreaWithCopy/TextAreaWithCopy.js
  console/src/components/Services/CustomResolver/Add/addResolverReducer.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/Data/Notification.js
  console/src/components/Services/EventTrigger/EventRouter.js
  console/src/components/Services/EventTrigger/Notification.js
Labels: c/console

#1926 update raw sql notes
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console

#1932 update remote schema env var validation components
  console/src/components/Services/CustomResolver/Add/addResolverReducer.js
  docs/graphql/manual/remote-schemas/index.rst
Labels: s/do-not-merge

#1904 specify better error msgs for remote schema conflicts (fix #1805)
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
Labels: c/server

#1929 added feedback for metadata commands (close #1411)
  cli/commands/metadata_apply.go
  cli/commands/metadata_clear.go
  cli/commands/metadata_export.go
  cli/commands/metadata_reload.go
Labels: c/cli

#1895 improve error messages for metadata apply (close #1877)
  cli/migrate/database/hasuradb/metadata.go
Labels: c/cli

#1930 add better upsert example to docs
  docs/graphql/manual/mutations/upsert.rst
Labels: c/docs

#1927 update track relationship text
  console/src/components/Common/Common.scss
  console/src/components/Services/CustomResolver/Landing/CustomResolver.js
  console/src/components/Services/Data/Schema/AutoAddRelations.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/TableRelationships/utils.js
  console/src/components/Services/EventTrigger/Schema/Schema.js
  docs/graphql/manual/schema/using-existing-database.rst
Labels: c/console

#1931 added feedback on migration commands (close #1410)
  cli/commands/migrate_apply.go
  cli/commands/migrate_apply_test.go
  cli/commands/migrate_create.go
  cli/commands/migrate_create_test.go
  cli/commands/migrate_status.go
Labels: c/cli

#1900 firebase2graphql (v0.0.2): support array types in firebase json (close #1829)
  community/tools/firebase2graphql/package.json
  community/tools/firebase2graphql/src/firebase/generateGenericJson.js
  community/tools/firebase2graphql/src/firebase/utils.js
  community/tools/firebase2graphql/src/import/generateTables.js
  community/tools/firebase2graphql/test/data-sets/array_example.js
Labels: c/community, c/firebase2graphql, s/ok-to-merge

#1890 Improve 500 Error Page (close #272)
  console/src/components/App/500-logo.png
  console/src/components/App/App.js
  console/src/components/App/ErrorBoundary.js
  console/src/components/App/ErrorPage.scss
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Error/ErrorPage.scss
  console/src/components/Error/PageNotFound.js
  console/src/components/Error/error-logo.png
  console/src/components/index.js
Labels: c/console

#1943 add nextjs 8 jwt sample app
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/.gitignore
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/README.md
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/components/ArticleList.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/components/header.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/components/layout.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/lib/init-apollo.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/lib/with-apollo-client.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/next.config.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/now.json
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/package.json
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/pages/_app.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/pages/articles.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/pages/index.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/pages/login.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/pages/signup.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/server.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/utils/auth.js
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/app/yarn.lock
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/config.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/migrations/1554285367178_nextjs-auth.up.sql
  community/sample-apps/nextjs-8-serverless/with-apollo-jwt/hasura/migrations/metadata.yaml
  community/sample-apps/nextjs-8-serverless/with-apollo/.gitignore
  community/sample-apps/nextjs-8-serverless/with-apollo/README.md
  community/sample-apps/nextjs-8-serverless/with-apollo/components/App.js
  community/sample-apps/nextjs-8-serverless/with-apollo/components/AuthorList.js
  community/sample-apps/nextjs-8-serverless/with-apollo/components/ErrorMessage.js
  community/sample-apps/nextjs-8-serverless/with-apollo/components/Header.js
  community/sample-apps/nextjs-8-serverless/with-apollo/lib/init-apollo.js
  community/sample-apps/nextjs-8-serverless/with-apollo/lib/with-apollo-client.js
  community/sample-apps/nextjs-8-serverless/with-apollo/next.config.js
  community/sample-apps/nextjs-8-serverless/with-apollo/now.json
  community/sample-apps/nextjs-8-serverless/with-apollo/package-lock.json
  community/sample-apps/nextjs-8-serverless/with-apollo/package.json
  community/sample-apps/nextjs-8-serverless/with-apollo/pages/_app.js
  community/sample-apps/nextjs-8-serverless/with-apollo/pages/about.js
  community/sample-apps/nextjs-8-serverless/with-apollo/pages/index.js
Labels: c/community

#1903 persist queries in GraphiQL (closes #1894)
  console/.eslintrc
  console/src/components/ApiExplorer/Actions.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/ApiExplorer/OneGraphExplorer.js
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Services/CustomResolver/Edit/View.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/helpers/highlight.min.js
  console/src/utils/websockets.js
Labels: c/console, k/bug, s/do-not-merge

#1885 adding realtime chat sample app with vue
  community/sample-apps/realtime-chat-vue/.browserslistrc
  community/sample-apps/realtime-chat-vue/.eslintrc.js
  community/sample-apps/realtime-chat-vue/.gitignore
  community/sample-apps/realtime-chat-vue/README.md
  community/sample-apps/realtime-chat-vue/babel.config.js
  community/sample-apps/realtime-chat-vue/package-lock.json
  community/sample-apps/realtime-chat-vue/package.json
  community/sample-apps/realtime-chat-vue/postcss.config.js
  community/sample-apps/realtime-chat-vue/public/favicon.ico
  community/sample-apps/realtime-chat-vue/public/index.html
  community/sample-apps/realtime-chat-vue/src/App.css
  community/sample-apps/realtime-chat-vue/src/App.vue
  community/sample-apps/realtime-chat-vue/src/assets/logo.png
  community/sample-apps/realtime-chat-vue/src/components/ApolloExample.vue
  community/sample-apps/realtime-chat-vue/src/components/Banner.vue
  community/sample-apps/realtime-chat-vue/src/components/ChatWrapper.vue
  community/sample-apps/realtime-chat-vue/src/components/HelloWorld.vue
  community/sample-apps/realtime-chat-vue/src/components/MessageList.vue
  community/sample-apps/realtime-chat-vue/src/components/OnlineUsers.vue
  community/sample-apps/realtime-chat-vue/src/components/RenderMessages.vue
  community/sample-apps/realtime-chat-vue/src/components/TextBox.vue
  community/sample-apps/realtime-chat-vue/src/components/TypingIndicator.vue
  community/sample-apps/realtime-chat-vue/src/graphql/AddUserMutation.gql
  community/sample-apps/realtime-chat-vue/src/graphql/emitOnlineEvent.gql
  community/sample-apps/realtime-chat-vue/src/graphql/emitTypingEvent.gql
  community/sample-apps/realtime-chat-vue/src/graphql/fetchMessages.gql
  community/sample-apps/realtime-chat-vue/src/graphql/fetchOnlineUsersSubscription.gql
  community/sample-apps/realtime-chat-vue/src/graphql/getUserTyping.gql
  community/sample-apps/realtime-chat-vue/src/graphql/insertMessage.gql
  community/sample-apps/realtime-chat-vue/src/graphql/subscribeToNewMessages.gql
  community/sample-apps/realtime-chat-vue/src/images/Vue-logo.png
  community/sample-apps/realtime-chat-vue/src/images/apollo.png
  community/sample-apps/realtime-chat-vue/src/images/auth.png
  community/sample-apps/realtime-chat-vue/src/images/chat-app-bg.jpg
  community/sample-apps/realtime-chat-vue/src/images/chat-app.png
  community/sample-apps/realtime-chat-vue/src/images/graphql.png
  community/sample-apps/realtime-chat-vue/src/images/green-logo-white.svg
  community/sample-apps/realtime-chat-vue/src/main.js
  community/sample-apps/realtime-chat-vue/src/router.js
  community/sample-apps/realtime-chat-vue/src/services/storage.js
  community/sample-apps/realtime-chat-vue/src/store.js
  community/sample-apps/realtime-chat-vue/src/views/Home.vue
  community/sample-apps/realtime-chat-vue/src/views/Login.vue
  community/sample-apps/realtime-chat-vue/src/vue-apollo.js
Labels: c/community

#1950 fix update event trigger regression (fix #1949)
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/tests-py/queries/event_triggers/update_query/update-setup.yaml
  server/tests-py/test_events.py
Labels: s/do-not-merge

#1953 fix input argument types for custom SQL functions (fix #1952)
  server/src-exec/Migrate.hs
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_12_to_13.sql
  server/tests-py/queries/graphql_query/functions/query_get_test_uuid.yaml
  server/tests-py/queries/graphql_query/functions/setup.yaml
  server/tests-py/queries/graphql_query/functions/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#1960 update regex to delete event triggers in edit-pg-dump (close #1959)
  docs/graphql/manual/migrations/existing-database.rst
  scripts/edit-pg-dump/README.md
  scripts/edit-pg-dump/edit-pg-dump.sh
  scripts/edit-pg-dump/index.go
Labels: c/community, c/docs

#1854 support composite foreign keys and primary keys through console
  console/.eslintrc
  console/cypress/integration/data/create-table/spec.js
  console/cypress/integration/data/create-table/test.js
  console/cypress/integration/data/functions/spec.js
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/modify/test.js
  console/cypress/integration/data/relationships/spec.js
  console/cypress/integration/data/relationships/test.js
  console/src/components/Common/Common.scss
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Common/Layout/ExpandableEditor/Editor.scss
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Common/TableCommon/TableStyles.scss
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddState.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/Add/Tooltips.js
  console/src/components/Services/Data/Common/ReusableComponents/ForeignKeySelector.js
  console/src/components/Services/Data/Common/ReusableComponents/PrimaryKeySelector.js
  console/src/components/Services/Data/Common/ReusableComponents/Tooltips.js
  console/src/components/Services/Data/Common/ReusableComponents/utils.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataPageContainer.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/Function/Permission/Permission.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/Schema/Tooltips.js
  console/src/components/Services/Data/TableBrowseRows/ViewHeader.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyTable.scss
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
  console/src/components/Services/Data/TableModify/TableCommentEditor.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/TableRelationships/autoRelations.js
  console/src/components/Services/Data/TableRelationships/utils.js
  console/src/components/Services/EventTrigger/Modify/Editor.js
  console/src/components/Services/EventTrigger/Modify/HeadersEditor.js
  console/src/components/Services/EventTrigger/Modify/ModifyEvent.scss
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/RetryConfEditor.js
  console/src/components/Services/EventTrigger/Modify/WebhookEditor.js
  console/src/components/Services/EventTrigger/PendingEvents/FilterActions.js
  console/src/components/Services/EventTrigger/RunningEvents/FilterActions.js
  console/src/components/Services/EventTrigger/Schema/Tooltips.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
Labels: c/console, s/do-not-merge

#1924 update console permissions ui
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/permissions/utils.js
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.js
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.scss
  console/src/components/Common/Common.scss
  console/src/components/Common/InputChecker/InputChecker.js
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.scss
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ModifyTable.scss
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console, s/ok-to-merge

#1972 fix bulk queries using more memory (fix #1942)
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/Types.hs
Labels: c/server, s/ok-to-merge

#1971 optimise introspection queries
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/ApiExplorer/OneGraphExplorer.js
Labels: c/console

#1986 handle permission API shorthands in console
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

#1985 show default values as placeholder during insert row
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/constants.js
Labels: c/console

#1968 support metadata.json in cli-migrations image (close #1947)
  scripts/cli-migrations/docker-entrypoint.sh
Labels: c/cli

#1897 read version from env var during server build time (close #1398)
  server/Makefile
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Hasura/Server/Version.hs
Labels: c/build-system, c/server, s/ok-to-merge

#2005 update docs dependencies
  docs/requirements.txt
Labels: c/docs

#1922 re-organise translations, add french
  CONTRIBUTING.md
  README.md
  SECURITY.md
  code-of-conduct.md
  event-triggers.md
  remote-schemas.md
  translations/CONTRIBUTING.french.md
  translations/README.french.md
  translations/README.japanese.md
  translations/README.md
  translations/SECURITY.french.md
  translations/code-of-conduct.french.md
  translations/event-triggers.french.md
  translations/remote-schemas.french.md
Labels: c/docs

#2008 console refactor: make existing code reusable
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
Labels: c/console

#1934 multiplexed subscriptions
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Data/Aeson/Extended.hs
  server/src-lib/Hasura/Cache.hs
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Fallback.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Multiplexed.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/stack.yaml
  server/tests-py/test_schema_stitching.py
Labels: c/server

#2023 update docs
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/schema/relationships/create.rst
  docs/graphql/manual/subscriptions/index.rst
  docs/graphql/manual/troubleshooting/index.rst
  docs/img/graphql/manual/schema/add-foreign-key.png
Labels: c/docs

#1863 recover from inconsistent database state (close #231)
  console/cypress/integration/data/modify/spec.js
  console/src/components/App/App.js
  console/src/components/App/progress-bar.scss
  console/src/components/Common/Common.scss
  console/src/components/Common/Icons/Check.js
  console/src/components/Common/Icons/Cross.js
  console/src/components/Common/Icons/ExclamationCircle.js
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/Metadata/Actions.js
  console/src/components/Services/Data/Metadata/Container.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/Data/Metadata/Metadata.scss
  console/src/components/Services/Data/Metadata/MetadataOptions.js
  console/src/components/Services/Data/Metadata/MetadataStatus.js
  console/src/components/Services/Data/Metadata/ReloadMetadata.js
  console/src/components/Services/Data/Metadata/Sidebar.js
  console/src/components/Services/Data/Metadata/State.js
  console/src/components/Services/Data/Metadata/metadataFilters.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/index.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/helpers/semver.js
  console/src/reducer.js
  console/src/routes.js
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/manage-metadata.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-exec/Migrate.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Rename.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/tests-py/queries/inconsistent_objects/test.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_union_err_wrapped_type.yaml
  server/tests-py/test_inconsistent_meta.py
Labels: c/console, c/docs, c/server, s/do-not-merge, s/wip

#2051 add variable name to the path when there is an error (close #2050)
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_area_less_than_4_points_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_geometry_unexpected_type_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_landmark_single_position_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_linear_ring_last_point_not_equal_to_first_err.yaml
  server/tests-py/queries/graphql_mutation/insert/geojson/insert_road_single_point_err.yaml
Labels: c/server

#2055 evaluate dependencies for column operators in permissions (close #2054)
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/graphql_query/permissions/teardown.yaml
  server/tests-py/queries/graphql_query/permissions/user_query_auction.yaml
  server/tests-py/queries/v1/select/permissions/setup.yaml
  server/tests-py/queries/v1/select/permissions/teardown.yaml
  server/tests-py/queries/v1/select/permissions/user_query_auction.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: c/server, s/ok-to-merge

#2063 learn react content fixes
  community/learn/graphql-tutorials/tutorials/react-apollo/app-boilerplate/src/components/Todo/TodoItem.js
  community/learn/graphql-tutorials/tutorials/react-apollo/app-final/src/components/Todo/TodoItem.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/layout.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/rightSidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Labels: c/community

#2058 log inconsistent metadata objects only when there is at least one (close #2053)
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Labels: c/server, s/ok-to-merge

#2081 multiplexed subscription improvements
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Multiplexed.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server

#1967 add an api to dump postgres schema (close #1939)
  .circleci/config.yml
  .circleci/server-builder.dockerfile
  cli/commands/migrate_create.go
  cli/migrate/database/driver.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/metadata.go
  cli/migrate/database/hasuradb/schema_dump.go
  cli/migrate/database/hasuradb/settings.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/schema_dump.go
  cli/migrate/migrate.go
  docs/Makefile
  docs/graphql/manual/api-reference/graphql-api/index.rst
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/api-reference/pgdump.rst
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/migrations/existing-database.rst
  server/Makefile
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/PGDump.hs
  server/src-rsr/run_pg_dump.sh
  server/tests-py/pgdump/pg_dump_public.yaml
  server/tests-py/pgdump/setup.yaml
  server/tests-py/pgdump/teardown.yaml
  server/tests-py/test_pg_dump.py
Labels: c/build-system, c/server

#2079 tutorials: learn react sitemaps, content fixes (closes #2090)
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package-lock.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/GithubLink.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/anchor.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/codeBlock.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/mdxComponents/index.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Labels: c/community
