Repository hasura/graphql-engine, pull requests merged in 2019-08, with the labels that each got.

#2630 do not use sub-query for permission limit if aggregations are not present
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/tests-py/queries/graphql_query/agg_perm/author_post_agg_order_by.yaml
  server/tests-py/queries/graphql_query/agg_perm/setup.yaml
  server/tests-py/queries/graphql_query/agg_perm/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#2647 Set LANG=C.UTF-8 in the docker container (fix #2571)
  server/Makefile
  server/packaging/build/Dockerfile
  server/packaging/packager.df
Labels: c/server

#2556 log when request body parsing fails (fix #2555)
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/JWT/Logging.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/test_logging.py
Labels: c/server, k/bug, s/ok-to-merge

#2588 learn: home page design updates
  community/learn/graphql-tutorials/backend-services/homepage/src/components/AllState.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Featured.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Styles.module.scss
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Testimonials.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/TopBanner.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/WillLearn.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/images/Left-Arrow.png
  community/learn/graphql-tutorials/backend-services/homepage/src/components/images/Right-Arrow.png
  community/learn/graphql-tutorials/backend-services/homepage/src/components/images/quote-left.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/components/images/quote-right.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/components/images/twitter.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/pages/index.js
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/introduction.md
Labels: c/community, c/learn, s/ok-to-merge

#2593 allow adding frequently used columns from table modify page
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/AddWarning.js
  console/src/components/Services/Data/Add/utils.js
  console/src/components/Services/Data/Common/ReusableComponents/FrequentlyUsedColumnSelector.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: c/console

#2684 enable only normal and multiline options for text column edit boxes
  console/src/components/Common/CustomInputTypes/JsonInput.js
  console/src/components/Common/CustomInputTypes/TextInput.js
Labels: c/console

#2671 capture Postgres error code 22025 as HTTP 400 bad request (close #2486)
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/tests-py/queries/graphql_query/basic/select_query_invalid_escape_sequence.yaml
  server/tests-py/queries/graphql_query/basic/setup.yaml
  server/tests-py/queries/graphql_query/basic/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, e/quickfix, s/ok-to-merge

#2697 add missing "--" prefix from server flags, close #2646
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
Labels: c/community, c/docs

#2691 Fix error in migration docs
  docs/graphql/manual/migrations/existing-database.rst
Labels: c/community

#2676 escape comment strings in console to allow quotes in PG comments
  console/src/components/Common/utils/sqlUtils.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Metadata/Actions.js
Labels: c/console

#2629 update styles for tables in console
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/EventTrigger/TableCommon/EventReactTableOverrides.css
Labels: c/console

#2708 fix typo in cli
  cli/commands/migrate_apply.go
  cli/commands/update-cli.go
Labels: c/community

#2712 Fix websocket race condition in server test suite (fix #2710)
  server/tests-py/context.py
  server/tests-py/validate.py
Labels: c/server

#2709 open docs in new tab
  console/src/components/Main/Main.js
Labels: c/console

#2725 community: update todo-auth0 sample app (close #1290)
  community/sample-apps/todo-auth0-jwt/hasura/migrations/1536761653464_init.up.yaml
  community/sample-apps/todo-auth0-jwt/todo-app/src/Todo/graphQueries/todoQueries.js
Labels: c/community, s/ok-to-merge

#2723 community: update paths from examples to sample-apps (close #1915)
  community/sample-apps/react-apollo-todo/src/components/Home/Home.js
  community/sample-apps/realtime-chat-vue/src/views/Home.vue
  community/sample-apps/realtime-chat/src/components/Chat.js
  community/sample-apps/realtime-location-tracking/src/Vehicle/Vehicle.js
  community/sample-apps/realtime-poll/README.md
  community/sample-apps/realtime-poll/src/App.js
  community/sample-apps/serverless-etl/README.md
  community/sample-apps/serverless-etl/index.html
  community/sample-apps/serverless-push/index.html
Labels: c/community, s/ok-to-merge

#2706 update contributing guide
  CONTRIBUTING.md
Labels: c/community

#2683 allow altering type of a column whose permissions defined only with session variables (close #2070)
  server/graphql-engine.cabal
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/v1/run_sql/setup.yaml
  server/tests-py/queries/v1/run_sql/sql_alter_test_bool_col.yaml
  server/tests-py/queries/v1/run_sql/sql_alter_test_id.yaml
  server/tests-py/queries/v1/run_sql/teardown.yaml
  server/tests-py/test_jwt.py
  server/tests-py/test_v1_queries.py
Labels: c/server, s/ok-to-merge

#2742 set console asset version as build timestamp
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Labels: c/console

#2734 update docs page
  docs/_theme/djangodocs/layout.html
  docs/graphql/manual/auth/authentication/jwt.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/guides/sample-apps/index.rst
  docs/img/layout/Hasura.svg
  docs/img/layout/hasura_logo.svg
Labels: c/docs

#2693 schema permissions summary page on console
  console/src/components/Common/Common.scss
  console/src/components/Common/GqlCompatibilityWarning/GqlCompatibilityWarning.js
  console/src/components/Common/Layout/LeftSubSidebar/function.svg
  console/src/components/Common/Layout/LeftSubSidebar/function_active.svg
  console/src/components/Common/Layout/LeftSubSidebar/function_high.svg
  console/src/components/Common/Modal/Modal.js
  console/src/components/Common/Modal/ModalWrapper.js
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Common/WarningSymbol/WarningSymbol.js
  console/src/components/Common/WarningSymbol/WarningSymbol.scss
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Common/utils/routesUtils.js
  console/src/components/Common/utils/urlUtils.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/Tooltips.js
  console/src/components/Services/About/About.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Common/ReusableComponents/ForeignKeySelector.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.scss
  console/src/components/Services/Data/PermissionsSummary/utils.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/Schema/Tooltips.js
  console/src/components/Services/Data/TableModify/ModifyTable.scss
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TablePermissions/Permissions.scss
  console/src/components/Services/Data/index.js
  console/src/components/Services/EventTrigger/EventSubSidebar.js
  console/src/components/Services/RemoteSchema/RemoteSchemaSubSidebar.js
Labels: c/console

#2756 fix table syntax in docs
  docs/graphql/manual/auth/authorization/common-roles-auth-examples.rst
Labels: c/docs

#2762 update console error pages image
  console/src/components/Error/PageNotFound.js
  console/src/components/Error/RuntimeError.js
  console/src/components/Error/error-logo.png
  console/src/components/Error/hasura_icon_green.png
  console/static/logo.jpg
Labels: c/console

#2755 accept null values in order_by input field (fix #2754)
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/tests-py/queries/graphql_query/order_by/articles_order_by_null.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, s/ok-to-merge

#748 add java echo boilerplates to aws-lambda event triggers
  community/boilerplates/event-triggers/aws-lambda/java/echo/README.md
  community/boilerplates/event-triggers/aws-lambda/java/echo/pom.xml
  community/boilerplates/event-triggers/aws-lambda/java/echo/src/main/java/example/Hello.java
  community/boilerplates/event-triggers/aws-lambda/java/echo/src/main/java/example/Note.java
  community/boilerplates/event-triggers/aws-lambda/java/echo/src/main/java/example/Notebook.java
  community/boilerplates/event-triggers/aws-lambda/java/echo/src/test/java/example/ContextStub.java
  community/boilerplates/event-triggers/aws-lambda/java/echo/src/test/java/example/HelloTest.java
  community/boilerplates/event-triggers/aws-lambda/java/echo/src/test/resources/delete.json
Labels: c/community

#2763 fix table permissions page UX glitches
  console/cypress/integration/data/permissions/utils.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

#2717 Implemented graceful shutdown for HTTP requests
  .circleci/test-cli-with-last-release.sh
  .circleci/test-cli.sh
  .circleci/test-deprecated-server-flags.sh
  .circleci/test-server-flags.sh
  .circleci/test-server.sh
  .gitignore
  server/graphql-engine.cabal
  server/packaging/Dockerfile
  server/src-exec/Main.hs
Labels: c/community

#2784 clarify docs on resolvers (close #2716)
  docs/graphql/manual/how-it-works/index.rst
Labels: c/docs

#2731 learn: update content, add algolia search (close #2308)
  community/learn/README.md
  community/learn/graphql-tutorials/backend-services/homepage/Dockerfile
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Styles.module.scss
  community/learn/graphql-tutorials/backend-services/homepage/src/components/TopBanner.js
  community/learn/graphql-tutorials/backend-services/homepage/src/pages/index.js
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
  community/learn/graphql-tutorials/manifests/android-apollo.yaml
  community/learn/graphql-tutorials/manifests/angular-apollo.yaml
  community/learn/graphql-tutorials/manifests/elm-graphql.yaml
  community/learn/graphql-tutorials/manifests/flutter-graphql.yaml
  community/learn/graphql-tutorials/manifests/hasura-backend.yaml
  community/learn/graphql-tutorials/manifests/hasura.yaml
  community/learn/graphql-tutorials/manifests/ios-apollo.yaml
  community/learn/graphql-tutorials/manifests/react-apollo.yaml
  community/learn/graphql-tutorials/manifests/react-native-apollo.yaml
  community/learn/graphql-tutorials/manifests/reason-react-apollo.yaml
  community/learn/graphql-tutorials/manifests/vue-apollo.yaml
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/angular-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/angular-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/angular-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile.localdev
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions/2-apollo-subscription.md
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/Dockerfile
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/Dockerfile.localdev
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/config.js
  community/tools/graphiql-online/static/_redirects
Labels: c/learn, s/ok-to-merge

#2772 learn: fix typos in apollo-android
  community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
Labels: c/community, s/ok-to-merge

#2564 learn: fix type bug in reasonml tutorial
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
Labels: c/community, c/learn

#2527 fix typo in console
  console/src/components/App/App.js
Labels: c/community

#2617 fix typo in cli
  cli/commands/migrate_create.go
Labels: c/cli, c/community

#2765 fix issue with editing boolean fields (fix #2536)
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
Labels: c/community, c/console

#2704 support intersect filters on raster columns (close #2613)
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/queries/query-filters.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_query/boolexp/raster/query_st_intersects_geom_nband.yaml
  server/tests-py/queries/graphql_query/boolexp/raster/query_st_intersects_geom_nband_no_rows.yaml
  server/tests-py/queries/graphql_query/boolexp/raster/query_st_intersects_rast.yaml
  server/tests-py/queries/graphql_query/boolexp/raster/query_st_intersects_rast_fail.yaml
  server/tests-py/queries/graphql_query/boolexp/raster/query_st_intersects_rast_no_rows.yaml
  server/tests-py/queries/graphql_query/boolexp/raster/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/raster/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, k/enhancement

#2789 console support for table enums (closes #2767)
  console/src/components/Common/Common.scss
  console/src/components/Common/WarningSymbol/WarningSymbol.js
  console/src/components/Services/ApiExplorer/ApiExplorer.scss
  console/src/components/Services/Data/Common/ReusableComponents/EnumsSection.js
  console/src/components/Services/Data/Common/ReusableComponents/ReloadEnumValuesButton.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/Metadata/MetadataOptions/ReloadMetadata.js
  console/src/helpers/versionUtils.js
Labels: c/console, k/enhancement
