Repository hasura/graphql-engine, pull requests merged in 2019-03, with the labels that each got.

#1673 add "*" for insert and delete columns when creating and modifying trigger (close #1629)
  console/cypress/integration/validators/validators.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/Actions.js
Labels: c/console, k/bug, s/ok-to-merge

#1542 allow renaming tables, columns and relationships (close #79)
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/modify/test.js
  console/cypress/integration/data/relationships/spec.js
  console/cypress/integration/data/relationships/test.js
  console/cypress/integration/data/views/spec.js
  console/src/components/Common/Common.scss
  console/src/components/Common/EditableHeading/EditableHeading.js
  console/src/components/Services/Data/Common/GraphQLValidation.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewHeader.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableCommon/TableStyles.scss
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/Modify.scss
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/TableRelationships/utils.js
  console/src/components/Services/Data/utils.js
  console/src/helpers/semver.js
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-exec/Migrate.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_9_to_10.sql
  server/test/Spec.hs
  server/test/testcases/alter_table.yaml
  server/tests-py/queries/v1/relationships/array_relationship_manual.yaml
  server/tests-py/queries/v1/relationships/object_relationship_foreign_key.yaml
  server/tests-py/queries/v1/relationships/object_relationship_manual.yaml
  server/tests-py/queries/v1/relationships/teardown.yaml
  server/tests-py/queries/v1/run_sql/setup.yaml
  server/tests-py/queries/v1/run_sql/sql_rename_columns.yaml
  server/tests-py/queries/v1/run_sql/sql_rename_table.yaml
  server/tests-py/queries/v1/run_sql/sql_rename_table_and_column.yaml
  server/tests-py/queries/v1/run_sql/teardown.yaml
  server/tests-py/test_v1_queries.py
Labels: c/console, c/server

#1539 update instructions for directory change in boilerplates
  community/boilerplates/remote-schemas/aws-lambda/nodejs/apollo-sequelize/README.md
  community/boilerplates/remote-schemas/zeit-now/nodejs/apollo-sequelize/README.md
  community/boilerplates/remote-schemas/zeit-now/nodejs/express-graphqljs-sequelize/README.md
  community/boilerplates/remote-schemas/zeit-now/python/flask-graphene-sqlalchemy/README.md
Labels: c/community, s/ok-to-merge

#790 added node8 aws lambda boilerplate
  community/boilerplates/event-triggers/aws-lambda/nodejs8/echo/README.md
  community/boilerplates/event-triggers/aws-lambda/nodejs8/echo/index.js
  community/boilerplates/event-triggers/aws-lambda/nodejs8/mutation/.gitignore
  community/boilerplates/event-triggers/aws-lambda/nodejs8/mutation/README.md
  community/boilerplates/event-triggers/aws-lambda/nodejs8/mutation/index.js
  community/boilerplates/event-triggers/aws-lambda/nodejs8/mutation/package.json
Labels: c/community

#1662 breaking: correct (de)serialisation of postgres numeric types in JSON (fix #1523)
  .circleci/test-server.sh
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-exec/Main.hs
  server/src-exec/Migrate.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Query.hs
  server/tests-py/queries/graphql_mutation/insert/basic/insert_various_postgres_types.yaml
  server/tests-py/queries/graphql_query/basic/select_query_test_types.yaml
  server/tests-py/queries/v1/update/basic/product_mul_price.yaml
  server/tests-py/queries/v1/update/basic/product_set_default_price.yaml
Labels: c/server

#1668 read cookie while initialising websocket connection (fix #1660)
  .circleci/test-server.sh
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/subscriptions/index.rst
  server/src-exec/Main.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Cors.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Middleware.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/test_cookie_webhook.py
  server/tests-py/test_websocket_init_cookie.py
Labels: c/server

#1621 fix remote queries/mutations to work over websocket (fix #1619)
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/tests-py/test_schema_stitching.py
Labels: c/server

#1692 add do and azure one-clicks to readme
  README.md
Labels: c/community, k/enhancement

#1705 adds a check to see if the jobs should be run or not (close #1161)
  .circleci/ciignore.sh
  .circleci/config.yml
Labels: c/build-system

#1706 update digitalocen guide to include marketplace
  docs/graphql/manual/guides/deployment/azure-container-instances-postgres.rst
  docs/graphql/manual/guides/deployment/digital-ocean-one-click.rst
  docs/graphql/manual/guides/deployment/index.rst
Labels: c/docs

#1703 fix mutation returning when relationships are present (fix #1576)
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/src-rsr/table_info.sql
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author_returning.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server, s/ok-to-merge

#1708 support ciignore for builds on master branch
  .circleci/ciignore.sh
Labels: c/build-system

#1574 manage schema cache when horizontally scaled (closes #1182)
  .circleci/config.yml
  .circleci/pgbouncer/pgbouncer.ini
  .circleci/pgbouncer/users.txt
  .circleci/test-server.sh
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-exec/Migrate.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_10_to_11.sql
  server/stack.yaml
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/queries/horizontal_scale/basic/steps.yaml
  server/tests-py/queries/horizontal_scale/basic/teardown.yaml
  server/tests-py/test_horizontal_scale.py
Labels: c/server

#1690 remove localStorage usage with auth0
  community/sample-apps/react-apollo-todo/src/apollo.js
  community/sample-apps/react-apollo-todo/src/components/Auth/Auth.js
  community/sample-apps/react-apollo-todo/src/components/Home/Home.js
  community/sample-apps/react-apollo-todo/src/components/LandingPage/LandingPage.js
  community/sample-apps/react-apollo-todo/src/components/Todo/TodoPrivateWrapper.js
  community/sample-apps/react-apollo-todo/src/components/Todo/TodoPublicWrapper.js
  community/sample-apps/react-apollo-todo/src/routes.js
  community/sample-apps/react-apollo-todo/src/utils/constants.js
Labels: c/community, k/enhancement, s/ok-to-merge

#1771 update auth0 jwt guide to add debug instructions (close #1769)
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/docs

#1669 add graphql2chartjs to community tools
  community/tools/graphql2chartjs/.gitignore
  community/tools/graphql2chartjs/.npmignore
  community/tools/graphql2chartjs/README.md
  community/tools/graphql2chartjs/babel.config.js
  community/tools/graphql2chartjs/example/README.md
  community/tools/graphql2chartjs/example/app/.gitignore
  community/tools/graphql2chartjs/example/app/README.md
  community/tools/graphql2chartjs/example/app/package.json
  community/tools/graphql2chartjs/example/app/public/favicon.ico
  community/tools/graphql2chartjs/example/app/public/index.html
  community/tools/graphql2chartjs/example/app/public/manifest.json
  community/tools/graphql2chartjs/example/app/src/App.css
  community/tools/graphql2chartjs/example/app/src/App.js
  community/tools/graphql2chartjs/example/app/src/App.test.js
  community/tools/graphql2chartjs/example/app/src/Navbar.js
  community/tools/graphql2chartjs/example/app/src/charts/BasicBarChart.js
  community/tools/graphql2chartjs/example/app/src/charts/LiveChart.js
  community/tools/graphql2chartjs/example/app/src/charts/MixedLineBarChart.js
  community/tools/graphql2chartjs/example/app/src/charts/MultiDatasetBarChart.js
  community/tools/graphql2chartjs/example/app/src/charts/RealtimeTimeseriesChart.js
  community/tools/graphql2chartjs/example/app/src/charts/StyledBarChart.js
  community/tools/graphql2chartjs/example/app/src/charts/index.js
  community/tools/graphql2chartjs/example/app/src/index.css
  community/tools/graphql2chartjs/example/app/src/index.js
  community/tools/graphql2chartjs/example/app/src/logo.svg
  community/tools/graphql2chartjs/example/app/yarn.lock
  community/tools/graphql2chartjs/example/hasura/config.yaml
  community/tools/graphql2chartjs/example/hasura/migrations/1552117082230_init.up.sql
  community/tools/graphql2chartjs/example/hasura/migrations/1552117082230_init.up.yaml
  community/tools/graphql2chartjs/example/hasura/migrations/1552349794748_create_relationship_comments_public_table_articles.down.yaml
  community/tools/graphql2chartjs/example/hasura/migrations/1552349794748_create_relationship_comments_public_table_articles.up.yaml
  community/tools/graphql2chartjs/example/hasura/migrations/1552436653783_alter_table_public_stocks_add_column_uuid.down.yaml
  community/tools/graphql2chartjs/example/hasura/migrations/1552436653783_alter_table_public_stocks_add_column_uuid.up.yaml
  community/tools/graphql2chartjs/example/hasura/migrations/1552436714359_run_sql_migration.down.yaml
  community/tools/graphql2chartjs/example/hasura/migrations/1552436714359_run_sql_migration.up.yaml
  community/tools/graphql2chartjs/example/scripts/.dockerignore
  community/tools/graphql2chartjs/example/scripts/.gitignore
  community/tools/graphql2chartjs/example/scripts/Dockerfile
  community/tools/graphql2chartjs/example/scripts/README.md
  community/tools/graphql2chartjs/example/scripts/index.js
  community/tools/graphql2chartjs/example/scripts/package-lock.json
  community/tools/graphql2chartjs/example/scripts/package.json
  community/tools/graphql2chartjs/example/scripts/yarn.lock
  community/tools/graphql2chartjs/how-it-works.md
  community/tools/graphql2chartjs/package.json
  community/tools/graphql2chartjs/rollup.config.js
  community/tools/graphql2chartjs/src/array-fields.js
  community/tools/graphql2chartjs/src/converter.js
  community/tools/graphql2chartjs/src/index.js
  community/tools/graphql2chartjs/test/data.test.js
  community/tools/graphql2chartjs/test/index.test.js
  community/tools/graphql2chartjs/yarn.lock
Labels: c/community, s/ok-to-merge

#1747 bump stackage to lts 13 and refer to hasura's pg-client-hs
  .circleci/config.yml
  .circleci/server-builder.dockerfile
  server/Makefile
  server/packaging/packager.df
  server/src-lib/Hasura/GraphQL/Resolve/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/stack-nightly.yaml
  server/stack.yaml
Labels: c/build-system, c/server

#1785 npm audit fix for packages in community folder
  community/boilerplates/auth-webhooks/nodejs-express/package-lock.json
  community/tools/json2graphql/package-lock.json
  community/tools/json2graphql/package.json
Labels: c/community

#1787 fix constructor initialization in graphql2chartjs
  community/tools/graphql2chartjs/src/index.js
  community/tools/graphql2chartjs/test/index.test.js
Labels: c/community, graphql2chartjs

#1762 show migration name section if is migration is checked (close #1732)
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console

#1680 add onegraph explorer to console
  console/package-lock.json
  console/package.json
  console/src/components/ApiExplorer/GraphiQL.css
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/ApiExplorer/OneGraphExplorer.css
  console/src/components/ApiExplorer/OneGraphExplorer.js
  console/src/components/ApiExplorer/onegraphUtils.js
  console/src/components/ApiExplorer/utils.js
Labels: c/console, k/enhancement, s/ok-to-merge

#1776 document unique/primary key constraint requirement for mutation returning and insert input object
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/mutations/upsert.rst
Labels: c/docs, p/urgent

#1800 use bytestring builder to represent encoded json
  server/graphql-engine.cabal
  server/src-exec/Ops.hs
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Rename.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Subscribe.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/QueryTemplate.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Query.hs
Labels: s/ok-to-merge

#1761 add options to create migration from files from sql and server (close #1699)
  cli/commands/migrate_apply.go
  cli/commands/migrate_create.go
  cli/commands/migrate_create_test.go
  cli/commands/migrate_test.go
  cli/migrate/cmd/commands.go
  cli/migrate/migrate.go
  docs/graphql/manual/hasura-cli/hasura_migrate_apply.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_create.rst
Labels: c/cli

#1810 fix a bug where onegraph explorer schema didn't reload on header change
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/ApiExplorer/OneGraphExplorer.js
  console/src/components/ApiExplorer/utils.js
Labels: c/console, k/bug

#1798 add for update skip locked to fetch query
  server/src-lib/Hasura/Events/Lib.hs
Labels: c/server

#1727 pg permission docs: make hasura user owner of system schemas (fix #1697)
  docs/graphql/manual/deployment/postgres-permissions.rst
Labels: c/docs

#1746 accept a json or yaml file for metadata apply command (close #1698)
  cli/cli.go
  cli/commands/console.go
  cli/commands/console_test.go
  cli/commands/metadata.go
  cli/commands/metadata_apply.go
  cli/commands/metadata_apply_test.go
  cli/commands/metadata_export.go
  cli/commands/metadata_export_test.go
  cli/commands/metadata_reload.go
  cli/commands/metadata_reload_test.go
  cli/commands/metadata_reset.go
  cli/commands/metadata_reset_test.go
  cli/commands/migrate_status.go
  cli/commands/root.go
  docs/graphql/manual/hasura-cli/hasura_completion.rst
  docs/graphql/manual/hasura-cli/hasura_console.rst
  docs/graphql/manual/hasura-cli/hasura_init.rst
  docs/graphql/manual/hasura-cli/hasura_metadata.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_apply.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_export.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_reload.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_reset.rst
  docs/graphql/manual/hasura-cli/hasura_migrate.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_status.rst
  docs/graphql/manual/hasura-cli/hasura_update-cli.rst
  docs/graphql/manual/hasura-cli/hasura_version.rst
Labels: c/cli

#1809 add type, variable information to input value's ast (close #21)
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Introspect.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Validate/Field.hs
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/tests-py/queries/graphql_query/boolexp/postgis/query_using_polygon.yaml
Labels: c/server

#1825 add quasar framework sample app
  community/sample-apps/quasar-framework-vue-graphql/.babelrc
  community/sample-apps/quasar-framework-vue-graphql/.editorconfig
  community/sample-apps/quasar-framework-vue-graphql/.eslintignore
  community/sample-apps/quasar-framework-vue-graphql/.eslintrc.js
  community/sample-apps/quasar-framework-vue-graphql/.gitignore
  community/sample-apps/quasar-framework-vue-graphql/.postcssrc.js
  community/sample-apps/quasar-framework-vue-graphql/.stylintrc
  community/sample-apps/quasar-framework-vue-graphql/README.md
  community/sample-apps/quasar-framework-vue-graphql/package.json
  community/sample-apps/quasar-framework-vue-graphql/quasar.conf.js
  community/sample-apps/quasar-framework-vue-graphql/src/App.vue
  community/sample-apps/quasar-framework-vue-graphql/src/assets/quasar-logo-full.svg
  community/sample-apps/quasar-framework-vue-graphql/src/assets/sad.svg
  community/sample-apps/quasar-framework-vue-graphql/src/components/.gitkeep
  community/sample-apps/quasar-framework-vue-graphql/src/css/app.styl
  community/sample-apps/quasar-framework-vue-graphql/src/css/themes/common.variables.styl
  community/sample-apps/quasar-framework-vue-graphql/src/css/themes/variables.ios.styl
  community/sample-apps/quasar-framework-vue-graphql/src/css/themes/variables.mat.styl
  community/sample-apps/quasar-framework-vue-graphql/src/index.template.html
  community/sample-apps/quasar-framework-vue-graphql/src/layouts/MyLayout.vue
  community/sample-apps/quasar-framework-vue-graphql/src/pages/Articles.vue
  community/sample-apps/quasar-framework-vue-graphql/src/pages/Error404.vue
  community/sample-apps/quasar-framework-vue-graphql/src/pages/Index.vue
  community/sample-apps/quasar-framework-vue-graphql/src/plugins/.gitkeep
  community/sample-apps/quasar-framework-vue-graphql/src/plugins/apollo.js
  community/sample-apps/quasar-framework-vue-graphql/src/router/index.js
  community/sample-apps/quasar-framework-vue-graphql/src/router/routes.js
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/apple-icon-152x152.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/favicon-16x16.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/favicon-32x32.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/icon-128x128.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/icon-192x192.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/icon-256x256.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/icon-384x384.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/icon-512x512.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/icons/ms-icon-144x144.png
  community/sample-apps/quasar-framework-vue-graphql/src/statics/quasar-logo.png
  community/sample-apps/quasar-framework-vue-graphql/yarn.lock
Labels: c/community

#1826 add rest-wrapper remote schema boilerplate
  community/boilerplates/remote-schemas/rest-wrapper/.gitignore
  community/boilerplates/remote-schemas/rest-wrapper/README.md
  community/boilerplates/remote-schemas/rest-wrapper/helpers.js
  community/boilerplates/remote-schemas/rest-wrapper/index.js
  community/boilerplates/remote-schemas/rest-wrapper/my-rest-api/.gitignore
  community/boilerplates/remote-schemas/rest-wrapper/my-rest-api/index.js
  community/boilerplates/remote-schemas/rest-wrapper/my-rest-api/package.json
  community/boilerplates/remote-schemas/rest-wrapper/package.json
Labels: c/community

#1819 add auth0 tutorial link to react-apollo-todo landing page
  community/sample-apps/react-apollo-todo/src/components/LandingPage/LandingPage.js
Labels: c/community

#1827 fix delete mutation returning incorrect data (fix #1794) (fix #1763)
  docs/graphql/manual/api-reference/mutation.rst
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/mutations/upsert.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/ContextTypes.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/src-rsr/table_info.sql
  server/tests-py/queries/graphql_mutation/delete/basic/article_returning_author.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server

#1836 reduce server build time on ci
  .circleci/config.yml
  server/Makefile
Labels: c/build-system

#1760 update console and docs favicons (close #1485)
  cli/assets/assets.go
  cli/assets/unversioned/console.html
  cli/assets/v1.0-alpha/console.html
  cli/assets/v1.0/console.html
  console/src/helpers/Html.js
  console/src/server.js
  console/static/favicon.ico
  console/static/favicon.png
  console/static/favicon_green.svg
  docs/conf.py
  docs/img/layout/favicon.png
  docs/img/layout/favicon_yellow.svg
  docs/img/layout/old-favicon.ico
  docs/img/layout/old-logo-dark.svg
  docs/img/layout/old-logo-lite.svg
  server/src-rsr/console.html
Labels: c/console, c/docs

#1735 add spatial predicates for geography columns (close #1674)
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  docs/graphql/manual/api-reference/pgtypes.csv
  docs/graphql/manual/api-reference/postgresql-types.rst
  docs/graphql/manual/queries/query-filters.rst
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/graphql_query/boolexp/postgis/query_geography_spatial_ops.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/teardown.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_geog_stdwithin.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_geog_stdwithin_sph.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_geog_stintersects.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/setup.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/teardown.yaml
  server/tests-py/queries/v1/select/permissions/setup.yaml
  server/tests-py/queries/v1/select/permissions/teardown.yaml
  server/tests-py/queries/v1/select/permissions/user_can_query_geog_filter.yaml
  server/tests-py/queries/v1/select/permissions/user_can_query_geog_filter_session_vars.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: c/console, c/docs, c/server, s/ok-to-merge

#1661 add a json path argument to query values inside json columns (close #1598)
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/queries/simple-object-queries.rst
  server/graphql-engine.cabal
  server/src-lib/Data/Parser/JSONPath.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/tests-py/queries/graphql_query/basic/select_query_test_types.yaml
  server/tests-py/queries/graphql_query/basic/setup.yaml
Labels: c/server

#1801 use inflection to suggest relationship names (close #1665)
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
Labels: c/console

#1857 breaking: drop id from event_triggers table (fix #1840)
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/Modify/Info.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewActions.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewActions.js
  docs/graphql/manual/event-triggers/payload.rst
  server/graphql-engine.cabal
  server/src-exec/Migrate.hs
  server/src-lib/Hasura/Events/HTTP.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-rsr/hdb_metadata.yaml
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_11_to_12.sql
  server/src-rsr/trigger.sql.j2
  server/tests-py/validate.py
Labels: c/console, c/docs, c/server

#1855 refactor server code
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Validate.hs
Labels: c/server

#1833 add japanese translation for readme
  README.japanese.md
  README.md
Labels: c/community

#1866 add vuetify-vuex-todo-graphql sample app
  community/sample-apps/vuetify-vuex-todo-graphql/.browserslistrc
  community/sample-apps/vuetify-vuex-todo-graphql/.eslintrc.js
  community/sample-apps/vuetify-vuex-todo-graphql/.gitignore
  community/sample-apps/vuetify-vuex-todo-graphql/.postcssrc.js
  community/sample-apps/vuetify-vuex-todo-graphql/README.md
  community/sample-apps/vuetify-vuex-todo-graphql/babel.config.js
  community/sample-apps/vuetify-vuex-todo-graphql/package-lock.json
  community/sample-apps/vuetify-vuex-todo-graphql/package.json
  community/sample-apps/vuetify-vuex-todo-graphql/public/favicon.ico
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/android-chrome-192x192.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/android-chrome-512x512.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/apple-touch-icon-120x120.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/apple-touch-icon-152x152.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/apple-touch-icon-180x180.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/apple-touch-icon-60x60.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/apple-touch-icon-76x76.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/apple-touch-icon.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/favicon-16x16.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/favicon-32x32.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/msapplication-icon-144x144.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/mstile-150x150.png
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/safari-pinned-tab.svg
  community/sample-apps/vuetify-vuex-todo-graphql/public/index.html
  community/sample-apps/vuetify-vuex-todo-graphql/public/manifest.json
  community/sample-apps/vuetify-vuex-todo-graphql/public/robots.txt
  community/sample-apps/vuetify-vuex-todo-graphql/src/App.vue
  community/sample-apps/vuetify-vuex-todo-graphql/src/apollo.js
  community/sample-apps/vuetify-vuex-todo-graphql/src/assets/logo.png
  community/sample-apps/vuetify-vuex-todo-graphql/src/components/FooterInfo.vue
  community/sample-apps/vuetify-vuex-todo-graphql/src/components/TodoItem.vue
  community/sample-apps/vuetify-vuex-todo-graphql/src/main.js
  community/sample-apps/vuetify-vuex-todo-graphql/src/registerServiceWorker.js
  community/sample-apps/vuetify-vuex-todo-graphql/src/router.js
  community/sample-apps/vuetify-vuex-todo-graphql/src/store.js
  community/sample-apps/vuetify-vuex-todo-graphql/src/views/Home.vue
  community/sample-apps/vuetify-vuex-todo-graphql/src/vuetify.js
  community/sample-apps/vuetify-vuex-todo-graphql/vue.config.js
Labels: c/community

#1870 bump haskell-docker-packager version
  server/Makefile
  server/packaging/packager.df
Labels: c/build-system

#1869 add user information to transactions in ws protocol (fix #1867)
  server/src-lib/Hasura/GraphQL/Resolve/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Labels: c/server, k/bug

#1858 graphiql-online upgrade deployment to now 2.0 (close #1838)
  community/tools/graphiql-online/Dockerfile
  community/tools/graphiql-online/now.json
  community/tools/graphiql-online/package-lock.json
  community/tools/graphiql-online/package.json
Labels: c/community

#1850 update jwt docs
  docs/graphql/manual/auth/jwt.rst
Labels: c/docs

#1828 add visual studio code guide to docs (close #1656)
  docs/graphql/manual/guides/code-editor-integrations/index.rst
  docs/graphql/manual/guides/code-editor-integrations/visual-studio-code.rst
  docs/graphql/manual/guides/index.rst
Labels: c/docs, k/enhancement

#1351 fix a typo in boilerplates/auth-webhooks/passport-js
  community/boilerplates/auth-webhooks/passport-js/README.md
Labels: c/community

#1881 firebase2graphql(v0.0.1-alpha8) example usage fix
  community/tools/firebase2graphql/src/command.js
Labels: c/community, c/firebase2graphql, s/ok-to-merge

#1884 add script and now.sh function to edit pg_dump output (close #1861)
  scripts/edit-pg-dump/README.md
  scripts/edit-pg-dump/edit-pg-dump.sh
  scripts/edit-pg-dump/index.go
  scripts/edit-pg-dump/now.json
Labels: c/community

#1832 fix bash completion example docs on cli
  cli/commands/completion.go
  docs/graphql/manual/hasura-cli/hasura_completion.rst
Labels: c/cli, s/do-not-merge

#1701 update migration, api-reference docs (close #766) (close #1345) (close #1496)
  docs/graphql/manual/api-reference/postgresql-types.rst
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/manage-metadata.rst
  docs/graphql/manual/hasura-cli/install-hasura-cli.rst
  docs/graphql/manual/how-it-works/metadata-schema.rst
  docs/graphql/manual/migrations/advanced/index.rst
  docs/graphql/manual/migrations/advanced/rolling-back-migrations.rst
  docs/graphql/manual/migrations/advanced/writing-migrations-manually.rst
  docs/graphql/manual/migrations/auto-apply-migrations.rst
  docs/graphql/manual/migrations/database-with-migrations.rst
  docs/graphql/manual/migrations/existing-database.rst
  docs/graphql/manual/migrations/existing-project.rst
  docs/graphql/manual/migrations/index.rst
  docs/graphql/manual/migrations/manage-metadata.rst
  docs/graphql/manual/migrations/manage-migrations.rst
  docs/graphql/manual/migrations/new-database.rst
  docs/graphql/manual/migrations/new-project.rst
  docs/graphql/manual/migrations/reference/how-it-works.rst
  docs/graphql/manual/migrations/reference/index.rst
  docs/graphql/manual/migrations/reference/metadata-file-format.rst
  docs/graphql/manual/migrations/reference/migration-file-format.rst
Labels: c/docs, s/ok-to-merge

#1893 rename metadata reset to metadta clear (close #1851)
  cli/commands/metadata.go
  cli/commands/metadata_clear.go
  cli/commands/metadata_clear_test.go
  docs/graphql/manual/hasura-cli/hasura_metadata.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_clear.rst
Labels: c/cli

#1898 add vuejs-auth0-graphql sample app
  community/sample-apps/vuejs-auth0-graphql/.gitignore
  community/sample-apps/vuejs-auth0-graphql/app/.browserslistrc
  community/sample-apps/vuejs-auth0-graphql/app/.dockerignore
  community/sample-apps/vuejs-auth0-graphql/app/Dockerfile
  community/sample-apps/vuejs-auth0-graphql/app/README.md
  community/sample-apps/vuejs-auth0-graphql/app/auth_config.json
  community/sample-apps/vuejs-auth0-graphql/app/babel.config.js
  community/sample-apps/vuejs-auth0-graphql/app/exec.ps1
  community/sample-apps/vuejs-auth0-graphql/app/exec.sh
  community/sample-apps/vuejs-auth0-graphql/app/loading.svg
  community/sample-apps/vuejs-auth0-graphql/app/package-lock.json
  community/sample-apps/vuejs-auth0-graphql/app/package.json
  community/sample-apps/vuejs-auth0-graphql/app/postcss.config.js
  community/sample-apps/vuejs-auth0-graphql/app/public/favicon.ico
  community/sample-apps/vuejs-auth0-graphql/app/public/index.html
  community/sample-apps/vuejs-auth0-graphql/app/public/logo.png
  community/sample-apps/vuejs-auth0-graphql/app/server.js
  community/sample-apps/vuejs-auth0-graphql/app/src/App.vue
  community/sample-apps/vuejs-auth0-graphql/app/src/assets/loading.svg
  community/sample-apps/vuejs-auth0-graphql/app/src/auth/authService.js
  community/sample-apps/vuejs-auth0-graphql/app/src/components/Callback.vue
  community/sample-apps/vuejs-auth0-graphql/app/src/components/NavBar.vue
  community/sample-apps/vuejs-auth0-graphql/app/src/directives/highlight.js
  community/sample-apps/vuejs-auth0-graphql/app/src/main.js
  community/sample-apps/vuejs-auth0-graphql/app/src/plugins/auth.js
  community/sample-apps/vuejs-auth0-graphql/app/src/router.js
  community/sample-apps/vuejs-auth0-graphql/app/src/views/Home.vue
  community/sample-apps/vuejs-auth0-graphql/app/src/views/Profile.vue
  community/sample-apps/vuejs-auth0-graphql/app/src/vue-apollo.js
  community/sample-apps/vuejs-auth0-graphql/app/vue.config.js
  community/sample-apps/vuejs-auth0-graphql/hasura/config.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774760939_create_table_public_users.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774760939_create_table_public_users.up.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774811967_create_table_public_article.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774811967_create_table_public_article.up.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774894864_update_permission_user_public_table_users.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774894864_update_permission_user_public_table_users.up.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774935115_update_permission_user_public_table_article.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774935115_update_permission_user_public_table_article.up.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774947859_update_permission_user_public_table_article.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774947859_update_permission_user_public_table_article.up.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774954518_update_permission_user_public_table_article.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774954518_update_permission_user_public_table_article.up.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774960633_update_permission_user_public_table_article.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553774960633_update_permission_user_public_table_article.up.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553775055293_alter_table_public_article_add_foreign_key.down.yaml
  community/sample-apps/vuejs-auth0-graphql/hasura/migrations/1553775055293_alter_table_public_article_add_foreign_key.up.yaml
Labels: c/community
