Repository hasura/graphql-engine, pull requests merged in 2019-11, with the labels that each got.

#3227 show only tracked tables during event trigger creation (close #3225)
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
Labels: c/console

#3230 deterministic ordering of objects in exported metadata (close #3125)
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/tests-py/queries/v1/metadata/export_metadata.yaml
  server/tests-py/queries/v1/metadata_order/export_metadata_order.yaml
  server/tests-py/queries/v1/metadata_order/setup.yaml
  server/tests-py/queries/v1/metadata_order/teardown.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server, p/high

#3295 Update allow-list.rst
  docs/graphql/manual/deployment/allow-list.rst
Labels: c/community

#3281 fix: broken links in readme files
  README.md
  translations/README.french.md
  translations/event-triggers.french.md
Labels: c/community

#3255 improve french translation for CONTRIBUTING.md
  translations/CONTRIBUTING.french.md
Labels: c/community

#3257 fix server dev script (close #3246)
  scripts/dev.sh
Labels: c/community, c/server

#3175 support customising GraphQL fields from console
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Services/Data/Common/ReusableComponents/EnumsSection.js
  console/src/components/Services/Data/Common/ReusableComponents/RootFieldEditor.js
  console/src/components/Services/Data/Common/ReusableComponents/utils.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/RootFields.js
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/Data/utils.js
  console/src/helpers/versionUtils.js
Labels: c/console

#3198 fix insert with nested returning clause fails alongside text[] column (fix #3148 & #2520)
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/tests-py/queries/graphql_mutation/insert/nested/schema_setup.yaml
Labels: c/server

#3275 Console uri escape paths
  console/src/components/Common/utils/routesUtils.js
  console/src/components/Main/Main.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddExistingTableViewActions.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataPageContainer.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.js
  console/src/components/Services/Data/Function/Permission/Permission.js
  console/src/components/Services/Data/Function/customFunctionReducer.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/push.js
Labels: c/console

#3211 computed fields in export/import metadata, other fixes
  cli/commands/migrate_test.go
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/queries/graphql_query/computed_fields/locations.yaml
  server/tests-py/queries/graphql_query/computed_fields/setup.yaml
  server/tests-py/queries/graphql_query/computed_fields/teardown.yaml
  server/tests-py/queries/v1/computed_fields/create_permissions.yaml
  server/tests-py/queries/v1/metadata/export_metadata.yaml
  server/tests-py/queries/v1/metadata/replace_metadata.yaml
  server/tests-py/queries/v1/metadata/setup.yaml
  server/tests-py/queries/v1/metadata_order/export_metadata_order.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, p/high

#3323 get user confirmation before executing 'Track All' in console (close #3318)
  console/src/components/Services/Data/Schema/Schema.js
Labels: c/console

#3306 improve migration detection logic in Raw SQL page
  console/src/components/Common/utils/sqlUtils.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console

#3264 add manual to reload metadata in docs (close #2004)
  docs/graphql/manual/migrations/manage-metadata.rst
  docs/graphql/manual/schema/enums.rst
Labels: c/community, c/docs

#3340 update console error page image paths
  console/src/components/Error/PageNotFound.js
  console/src/components/Error/RuntimeError.js
  console/src/components/Error/hasura_icon_green.png
Labels: c/console

#3278 docs: fix typos
  remote-schemas.md
Labels: c/community, c/docs

#2977 updated remote-schemas.md
  remote-schemas.md
Labels: c/community

#3321 docs: fix typo
  docs/graphql/manual/guides/deployment/google-kubernetes-engine-cloud-sql.rst
Labels: c/community, c/docs

#3089 fix grammar, typo in some md files
  architecture/live-queries.md
  translations/README.french.md
Labels: c/community

#3355 add sync-users section in auth0 integration guide
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/docs

#3358 make transactionality clearer in mutations docs
  docs/graphql/manual/mutations/multiple-mutations.rst
Labels: c/docs

#2773 display untrackable functions on schema page (close #2249)
  console/cypress/integration/data/functions/spec.js
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/Schema/Tooltips.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: c/console

#3361 fix console data hydration query
  console/src/components/Services/Data/utils.js
Labels: c/console

#3360 document catalog versions and down migrations from beta.10 to beta.8
  docs/graphql/manual/deployment/downgrading.rst
Labels: c/docs

#3237 Brazilian Portuguese translation for README.md
  README.md
  translations/README.md
  translations/README.portuguese_br.md
Labels: c/community, duplicate

#3372 add local dev note for auth0 via ngrok
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/docs

#3095 add install note for community npm package for cli (close #2720)
  docs/graphql/manual/hasura-cli/install-hasura-cli.rst
  docs/graphql/manual/hasura-cli/uninstall-hasura-cli.rst
Labels: c/community, c/docs

#3370 add read_only arg to docs
  docs/graphql/manual/api-reference/schema-metadata-api/run-sql.rst
Labels: c/docs

#3143 functions can access session info via input arg (close #2322)
  cli/commands/migrate_test.go
  docs/graphql/manual/api-reference/schema-metadata-api/custom-functions.rst
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/queries/custom-functions.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Enum.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/Server/Migrate/Version.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/initialise.sql
  server/src-rsr/migrations/27_to_28.sql
  server/tests-py/queries/graphql_query/functions/query_get_session_var.yaml
  server/tests-py/queries/graphql_query/functions/setup.yaml
  server/tests-py/queries/graphql_query/functions/teardown.yaml
  server/tests-py/queries/graphql_query/functions/track_function_v2_errors.yaml
  server/tests-py/queries/v1/basic/query_v2_invalid_version.yaml
  server/tests-py/queries/v1/basic/setup.yaml
  server/tests-py/queries/v1/basic/teardown.yaml
  server/tests-py/queries/v1/computed_fields/add_computed_field_errors.yaml
  server/tests-py/queries/v1/metadata/clear_metadata.yaml
  server/tests-py/queries/v1/metadata/export_metadata.yaml
  server/tests-py/queries/v1/metadata/replace_metadata_v2.yaml
  server/tests-py/queries/v1/metadata/setup.yaml
  server/tests-py/queries/v1/metadata/teardown.yaml
  server/tests-py/queries/v1/metadata_order/export_metadata_order.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: c/server

#3154 allow identical fields in custom column names configuration (fix #3137) & improve root fields validation
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/queries/v1/computed_fields/add_computed_field_errors.yaml
  server/tests-py/queries/v1/set_table_custom_fields/column_field_swap.yaml
  server/tests-py/queries/v1/set_table_custom_fields/conflict_with_relationship.yaml
  server/tests-py/queries/v1/set_table_custom_fields/relationship_conflict_with_custom_column.yaml
  server/tests-py/queries/v1/set_table_custom_fields/set_and_unset.yaml
  server/tests-py/queries/v1/set_table_custom_fields/setup.yaml
  server/tests-py/queries/v1/set_table_custom_fields/teardown.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server

#2874 Add pagination/count support to docs (close #277)
  docs/graphql/manual/queries/pagination.rst
Labels: c/docs

#3413 docs: fix upsert docs
  docs/graphql/manual/mutations/upsert.rst
Labels: c/docs

#3416 update offline console docs
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
Labels: c/docs

#3414 refactor some internal components
  .circleci/config.yml
  install-manifests/google-cloud-k8s-sql/README.rst
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Control/Monad/Stateless.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/Events/HTTP.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/JWT/Logging.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Version.hs
  server/stack.yaml.lock
  server/tests-py/context.py
Labels: c/server

#3383 allow setting check constraints on existing tables from console
  console/src/components/Common/Common.scss
  console/src/components/Common/KnowMoreLink/KnowMoreLink.js
  console/src/components/Common/KnowMoreLink/KnowMoreLink.scss
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Common/utils/sqlUtils.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Services/Data/Common/ReusableComponents/EnumsSection.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/CheckConstraints.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/EventTrigger/Add/Operations.js
Labels: c/console

#3439 fix various functions to not create their own logger
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
Labels: c/server

#3109 add name to migrate status response (close #2376)
  cli/commands/migrate_status.go
  cli/commands/migrate_test.go
  cli/migrate/migrate.go
  cli/migrate/source/driver.go
  cli/migrate/source/file/file.go
  cli/migrate/source/migration.go
  cli/migrate/source/stub/stub.go
  cli/migrate/status.go
Labels: c/cli, c/community

#3341 add readme translation in german (close #3328)
  README.md
  translations/README.german.md
  translations/README.md
Labels: c/community

#3258 add indonesian translation for readme
  README.md
  translations/README.indonesian.md
  translations/README.md
Labels: c/community

#2870 Docs for seed data migration (close #2431)
  docs/graphql/manual/migrations/advanced/index.rst
  docs/graphql/manual/migrations/advanced/seed-data-migration.rst
Labels: c/docs

#2889 Update docs for relational inserts (close #1310, #2293)
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/upsert.rst
  docs/graphql/manual/schema/relationships/database-modelling/many-to-many.rst
Labels: c/docs

#3186 add russian translation for readme
  README.md
  translations/README.md
  translations/README.russian.md
Labels: c/community

#3419 Fix property name in metadata docs
  docs/graphql/manual/api-reference/schema-metadata-api/relationship.rst
Labels: c/community, c/docs
