Repository hasura/graphql-engine, pull requests merged in 2019-05, with the labels that each got.

#2106 update schema cache on columns' null-ability or type changes (fix #2101)
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/queries/graphql_query/basic/select_query_user_col_change.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, e/quickfix, s/ok-to-merge

#2111 fix console expandable editor component styling
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Common/Layout/ExpandableEditor/Editor.scss
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
Labels: c/console

#2108 fix set column unique bug (close #2096)
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
Labels: c/console

#2098 avoid setting up hdb_views schema on schema sync refreshing cache
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Utils.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
Labels: c/server

#2115 graphql-tutorials: add videos to react tutorial
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/apollo-client.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/2-query-variables.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/mutations-variables/3-create-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3-remove-todos.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.1-mutation-update-cache.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.2-bulk-delete-mutation.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/optimistic-update-mutations/3.3-clear-completed.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/1-fetch-public.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/realtime-feed/2-sync-todo.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/1-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/what-next.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/gatsby-config.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/package.json
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/YoutubeEmbed.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/rightSidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/sidebar.js
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/components/styles.css
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
Labels: c/community

#2068 ra-data-hasura: add support for multiple schemas (close #1729)
  community/tools/ra-data-hasura/CHANGELOG.md
  community/tools/ra-data-hasura/README.md
  community/tools/ra-data-hasura/package-lock.json
  community/tools/ra-data-hasura/package.json
  community/tools/ra-data-hasura/src/index.js
  community/tools/ra-data-hasura/src/queries.js
Labels: c/community

#2118 fix duplicate headers being sent to remote schema
  docs/graphql/manual/remote-schemas/index.rst
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/tests-py/graphql_server.py
  server/tests-py/test_schema_stitching.py
Labels: c/server, s/ok-to-merge

#1963 community: fix broken links
  community/sample-apps/nextjs-8-serverless/with-apollo/README.md
Labels: c/community

#2110 add instructions on netlify function as event trigger
  community/boilerplates/event-triggers/netlfy-functions/README.md
Labels: c/community

#2127 fix relationship rename for foreign schemas (closes #1777)
  console/src/components/Services/Data/TableRelationships/Actions.js
Labels: c/console, k/bug

#2120 optimise building schema cache (close #1430)
  .circleci/config.yml
  .circleci/server-builder.dockerfile
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-exec/Migrate.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/function_info.sql
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_13_to_14.sql
  server/stack.yaml
Labels: c/server

#2145 docs: update auth0 guide
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/docs

#2157 react-apollo-todo: fix update todo queries
  community/sample-apps/react-apollo-todo/src/components/Todo/TodoQueries.js
Labels: c/community

#2166 learn: update homepage design
  community/learn/graphql-tutorials/backend-services/homepage/src/components/AllState.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/ChooseTechnology.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/CommonTutorialsList.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Faq.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Footer.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Header.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/SubscribeNewsletter.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/TopBanner.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/TopicCovered.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Tutorials.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Twist.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/WillLearn.js
  community/learn/graphql-tutorials/backend-services/homepage/src/favicon.png
  community/learn/graphql-tutorials/backend-services/homepage/src/html.js
  community/learn/graphql-tutorials/backend-services/homepage/src/images/5D7DBFC90ACBCC3A.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/5D7DBFC90ACBCC3E.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/Discord.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/GraphQL_Logo.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/Group.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/Twitter.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/android.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/angular.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/baseline-done.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/circle-gray.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/circle.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/container-dark.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/container-gray.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/container-light.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/conversation.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/favicon.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/flutter.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/hasura-dumbledore.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/ios.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/laptop.png
  community/learn/graphql-tutorials/backend-services/homepage/src/images/laptop.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/logo.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/pencil.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/react.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/reasonml.jpg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/right-arrow.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/smartphone.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/vue.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/images/white-logo.svg
  community/learn/graphql-tutorials/backend-services/homepage/src/pages/index.js
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
Labels: c/community, c/learn

#2169 learn: add custom graphiql for react native
  community/learn/graphql-tutorials/backend-services/graphiql/package-lock.json
  community/learn/graphql-tutorials/backend-services/graphiql/package.json
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/ApiExplorer.scss
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/ApiRequestDetails.js
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/CustomAuth.js
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/customAuthActions.js
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/state.js
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/ApiExplorer/utils.js
  community/learn/graphql-tutorials/backend-services/graphiql/src/components/Auth/Auth.js
  community/learn/graphql-tutorials/backend-services/graphiql/static/index.html
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/intro-to-graphql/2-fetching-data-queries.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/intro-to-graphql/4-watching-data-subscriptions.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/mutations/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/1-fetch-todos-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/setup.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/1-update-todos.md
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/update-delete-mutations/3-remove-todos.md
Labels: c/community, c/learn

#2170 fix sending duplicate content-type header to remote schemas (fix #2159)
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/tests-py/graphql_server.py
  server/tests-py/test_schema_stitching.py
Labels: c/server, k/bug

#2156 close websocket connection on JWT expiry (fix #578)
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/test_jwt.py
  server/tests-py/test_subscriptions.py
Labels: c/server, s/ok-to-merge

#2158 learn: multiple fixes
  community/learn/README.md
  community/learn/graphql-tutorials/README.md
  community/learn/graphql-tutorials/backend-services/auth-server/Dockerfile
  community/learn/graphql-tutorials/backend-services/auth-server/controllers/user.js
  community/learn/graphql-tutorials/backend-services/auth-webhook/Dockerfile
  community/learn/graphql-tutorials/backend-services/auth-webhook/server.js
  community/learn/graphql-tutorials/backend-services/auth0/auth0_post_user_registration_hook.js
  community/learn/graphql-tutorials/backend-services/auth0/auth0_rule_insert_user.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/Header.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/SubscribeNewsletter.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/TopBanner.js
  community/learn/graphql-tutorials/backend-services/homepage/src/components/WillLearn.js
  community/learn/graphql-tutorials/backend-services/homepage/src/favicon.png
  community/learn/graphql-tutorials/backend-services/homepage/src/styles/styles.scss
  community/learn/graphql-tutorials/manifests/auth-jwt-server.yaml
  community/learn/graphql-tutorials/manifests/auth-webhook.yaml
  community/learn/graphql-tutorials/manifests/caddy-config.yaml
  community/learn/graphql-tutorials/manifests/caddy.yaml
  community/learn/graphql-tutorials/manifests/graphiql.yaml
  community/learn/graphql-tutorials/manifests/hasura-backend.yaml
  community/learn/graphql-tutorials/manifests/hasura.yaml
  community/learn/graphql-tutorials/manifests/ios-apollo.yaml
  community/learn/graphql-tutorials/manifests/postgres.yaml
  community/learn/graphql-tutorials/manifests/react-native-apollo.yaml
  community/learn/graphql-tutorials/manifests/vue-apollo.yaml
  community/learn/graphql-tutorials/remote-hasura.yaml.sample
  community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/index.mdx
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/src/html.js
  community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/content/introduction.md
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/index.mdx
  community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/introduction.md
Labels: c/community

#2173 fix non-200 response for authorization errors on /v1/graphql
  server/src-lib/Hasura/Server/App.hs
  server/tests-py/test_jwt.py
  server/tests-py/test_v1alpha1_endpoint.py
  server/tests-py/validate.py
Labels: c/server, k/bug

#2182 booleans from env are now case insensitve (fix #2177)
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server

#2187 fix modify column bug in presence of column comment (closes #2164)
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: c/console, k/bug

#2148 support composite unique keys from the console (close #506)
  console/cypress/integration/data/create-table/spec.js
  console/cypress/integration/data/create-table/test.js
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/modify/test.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddState.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/Add/Tooltips.js
  console/src/components/Services/Data/Add/UniqueKeyWrapper.js
  console/src/components/Services/Data/Common/ReusableComponents/UniqueKeySelector.js
  console/src/components/Services/Data/Common/ReusableComponents/utils.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Labels: c/console, k/enhancement

#2143 add schema create/delete options in console (closes #2142)
  console/src/components/Common/Common.scss
  console/src/components/Services/Common/Notification.js
  console/src/components/Services/Data/Common/GraphQLValidation.js
  console/src/components/Services/Data/Schema/Actions.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/EventTrigger/Common/GraphQLValidation.js
Labels: c/console, s/wip

#2192 bundle console assets into server (close #516, close #521, close #2130)
  .circleci/config.yml
  .circleci/console-builder.dockerfile
  .circleci/deploy.sh
  cli/assets/assets.go
  cli/assets/unversioned/console.html
  cli/assets/v1.0/console.html
  cli/version/console.go
  cli/version/console_test.go
  console/package.json
  console/src/Globals.js
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Services/CustomResolver/Landing/CustomResolver.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/manual/deployment/graphql-engine-flags/index.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  scripts/get-console-assets-version.sh
  scripts/get-version-circleci.sh
  server/CONTRIBUTING.md
  server/Makefile
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Hasura/Server/Version.hs
  server/src-rsr/console.html
Labels: c/build-system, c/cli, c/console, c/docs, c/server

#2181 change default endpoint to v1/graphql; remove semver checks
  console/.eslintrc
  console/package.json
  console/src/Endpoints.js
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/state.js
  console/src/components/Services/CustomResolver/Common/Common.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/RawSQL/utils.js
  console/src/components/Services/Data/TableBrowseRows/ViewHeader.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Add/Operations.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/RetryConfEditor.js
  console/src/components/Services/EventTrigger/Modify/utils.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/Metadata/Actions.js
  console/src/components/Services/Metadata/Container.js
  console/src/components/Services/Metadata/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Metadata/MetadataStatus/MetadataStatus.js
  console/src/components/Services/Metadata/Sidebar.js
  console/src/helpers/semver.js
  server/src-rsr/console.html
Labels: c/console

#2197 ignore content-type header in auth webhook
  docs/graphql/manual/auth/webhook.rst
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Utils.hs
Labels: c/server

#2150 add multiplayer tic tac toe to sample apps
  community/sample-apps/tic-tac-toe-react/client/.gitignore
  community/sample-apps/tic-tac-toe-react/client/Dockerfile
  community/sample-apps/tic-tac-toe-react/client/README.md
  community/sample-apps/tic-tac-toe-react/client/package-lock.json
  community/sample-apps/tic-tac-toe-react/client/package.json
  community/sample-apps/tic-tac-toe-react/client/public/favicon.png
  community/sample-apps/tic-tac-toe-react/client/public/index.html
  community/sample-apps/tic-tac-toe-react/client/public/manifest.json
  community/sample-apps/tic-tac-toe-react/client/src/App.css
  community/sample-apps/tic-tac-toe-react/client/src/App.js
  community/sample-apps/tic-tac-toe-react/client/src/App.test.js
  community/sample-apps/tic-tac-toe-react/client/src/Router.js
  community/sample-apps/tic-tac-toe-react/client/src/components/Boards/BoardsList.js
  community/sample-apps/tic-tac-toe-react/client/src/components/Boards/BoardsWrapper.js
  community/sample-apps/tic-tac-toe-react/client/src/components/Game/Logs.js
  community/sample-apps/tic-tac-toe-react/client/src/components/Game/Play.js
  community/sample-apps/tic-tac-toe-react/client/src/components/Game/TicTacToe.js
  community/sample-apps/tic-tac-toe-react/client/src/components/Navbar.js
  community/sample-apps/tic-tac-toe-react/client/src/components/Utils.js
  community/sample-apps/tic-tac-toe-react/client/src/index.css
  community/sample-apps/tic-tac-toe-react/client/src/index.js
  community/sample-apps/tic-tac-toe-react/client/src/logo.svg
  community/sample-apps/tic-tac-toe-react/client/src/utils.js
  community/sample-apps/tic-tac-toe-react/hasura/config.yaml
  community/sample-apps/tic-tac-toe-react/hasura/migrations/1557215655320_init.up.sql
  community/sample-apps/tic-tac-toe-react/hasura/migrations/1557215655320_init.up.yaml
  community/sample-apps/tic-tac-toe-react/remote-schema/.dockerignore
  community/sample-apps/tic-tac-toe-react/remote-schema/.gitignore
  community/sample-apps/tic-tac-toe-react/remote-schema/Dockerfile
  community/sample-apps/tic-tac-toe-react/remote-schema/README.md
  community/sample-apps/tic-tac-toe-react/remote-schema/index.js
  community/sample-apps/tic-tac-toe-react/remote-schema/package-lock.json
  community/sample-apps/tic-tac-toe-react/remote-schema/package.json
Labels: c/community, k/enhancement, s/ok-to-merge

#2194 ra-data-hasura: add custom primary key support
  community/tools/ra-data-hasura/CHANGELOG.md
  community/tools/ra-data-hasura/README.md
  community/tools/ra-data-hasura/package-lock.json
  community/tools/ra-data-hasura/package.json
  community/tools/ra-data-hasura/src/index.js
  community/tools/ra-data-hasura/src/queries.js
Labels: c/ra-data-hasura

#2226 set hdb_allowlist table as system defined on catalog migration (fix #2225)
  server/src-exec/Migrate.hs
Labels: c/server, p/urgent, s/ok-to-merge

#2229 community: add readme to root of tic tac toe game; fix bugs
  community/sample-apps/tic-tac-toe-react/README.md
  community/sample-apps/tic-tac-toe-react/client/Dockerfile
  community/sample-apps/tic-tac-toe-react/client/package-lock.json
  community/sample-apps/tic-tac-toe-react/client/package.json
  community/sample-apps/tic-tac-toe-react/client/src/index.js
Labels: c/community, k/bug, s/ok-to-merge

#2230 update allowed queries in schema cache on add/drop queries to collection (fix #2221)
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/tests-py/queries/graphql_query/allowlist/update_query.yaml
  server/tests-py/test_allowlist_queries.py
Labels: c/server, e/quickfix, p/urgent, s/ok-to-merge

#2211 match Q.Serializable tx isolation to serializable setting
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server

#2232 allow creating multiple relationships which includes the same column (fix #2228)
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
Labels: c/server, e/quickfix, p/urgent, s/ok-to-merge

#2245 console-tests: update modify table tests for unique key
  console/cypress/integration/data/modify/spec.js
Labels: c/console, k/bug

#2222 learn: update backend tutorial to disable oidc conformance in auth0
  community/learn/hasura/graphql-tutorial-backend/tutorial-site/content/authentication/5-test-with-headers.md
Labels: c/learn

#1933 add all PG column types while table creation / modification
  console/cypress/helpers/dataHelpers.js
  console/cypress/integration/api-explorer/graphql/spec.js
  console/cypress/integration/data/create-table/spec.js
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/permissions/spec.js
  console/cypress/integration/data/relationships/spec.js
  console/cypress/integration/data/views/spec.js
  console/cypress/integration/events/create-trigger/spec.js
  console/package-lock.json
  console/package.json
  console/src/components/Common/Common.scss
  console/src/components/Common/SearchableSelect/SearchableSelect.js
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Common/TextInput/TextInput.js
  console/src/components/Main/Main.js
  console/src/components/Services/CustomResolver/Common/Common.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/TableColumn.js
  console/src/components/Services/Data/Add/TableColumns.js
  console/src/components/Services/Data/Add/TableComment.js
  console/src/components/Services/Data/Add/TableName.js
  console/src/components/Services/Data/Common/DataTypes.js
  console/src/components/Services/Data/Common/PgInfo.js
  console/src/components/Services/Data/Common/utils.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/RawSQL/utils.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyTable.scss
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/Modify/WebhookEditor.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/theme/bootstrap.overrides.scss
Labels: c/console, s/do-not-merge

#2256 sample-apps: add svelte 3 graphql app
  community/sample-apps/svelte-apollo/.gitignore
  community/sample-apps/svelte-apollo/README.md
  community/sample-apps/svelte-apollo/now.json
  community/sample-apps/svelte-apollo/package-lock.json
  community/sample-apps/svelte-apollo/package.json
  community/sample-apps/svelte-apollo/public/favicon.png
  community/sample-apps/svelte-apollo/public/global.css
  community/sample-apps/svelte-apollo/public/index.html
  community/sample-apps/svelte-apollo/rollup.config.js
  community/sample-apps/svelte-apollo/src/AddAuthor.svelte
  community/sample-apps/svelte-apollo/src/App.svelte
  community/sample-apps/svelte-apollo/src/Articles.svelte
  community/sample-apps/svelte-apollo/src/Authors.svelte
  community/sample-apps/svelte-apollo/src/AuthorsSubscription.svelte
  community/sample-apps/svelte-apollo/src/apollo.js
  community/sample-apps/svelte-apollo/src/main.js
Labels: c/community

#2262 Resolve issue (#2258) where postgres doesn't return recommended type casts for certain pg types
  console/src/components/Services/Data/Common/utils.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/constants.js
Labels: c/console

#1181 add json editor for json data type (fix #504)
  console/src/components/Common/CustomInputTypes/JsonInput.js
  console/src/components/Common/CustomInputTypes/JsonInput.scss
  console/src/components/Common/Dropdown/Dropdown.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/utils.js
  console/src/utils/data.js
  console/src/utils/domFunctions.js
Labels: c/console

#2267 tables fail to load on data tab if there are capital letters in table name , close #2266
  console/cypress/helpers/dataHelpers.js
  console/cypress/helpers/eventHelpers.js
  console/cypress/integration/data/permissions/utils.js
  console/cypress/integration/data/raw-sql/spec.js
  console/cypress/integration/validators/validators.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/utils.js
Labels: c/console

#2274 ra-data-hasura: add missing "s" to id variable
  community/tools/ra-data-hasura/src/index.js
Labels: c/ra-data-hasura

#2278 fix and improve help description for stripes and connections
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server, e/quickfix, s/ok-to-merge

#2280 optimize sql used to fetch schema information, fix #2273
  console/src/components/Services/Data/Add/AddExistingTableViewActions.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
Labels: c/console

#2202 update console feature support checks
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Main/State.js
  console/src/helpers/semver.js
  console/src/helpers/versionUtils.js
Labels: c/console

#2289 quote SQL appropriately while modifying PK
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/utils.js
Labels: c/console, k/bug

#2292 update server flags docs
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
Labels: c/docs

#2287 update console favicons to png
  cli/assets/assets.go
  cli/assets/unversioned/console.html
  cli/assets/v1.0-alpha/console.html
  cli/assets/v1.0/console.html
  console/src/helpers/Html.js
  server/src-rsr/console.html
Labels: c/console, s/ok-to-merge

#2248 fix response for remote schema queries over ws (fix #2246)
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/Server/Version.hs
  server/tests-py/test_schema_stitching.py
Labels: c/server, k/bug

#2286 fix console left sidebar flashing issue
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/insert-browse/test.js
  console/index.js
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.scss
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddExistingTableViewActions.js
  console/src/components/Services/Data/Common/ReusableComponents/ForeignKeySelector.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataPageContainer.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/Function/Permission/Permission.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/EventTrigger/Add/AddActions.js
Labels: c/console

#2276 ra-data-hasura: fix column sorting
  community/tools/ra-data-hasura/src/index.js
Labels: c/ra-data-hasura

#2034 add ability to override server timeout for cli migrations image
  scripts/cli-migrations/docker-entrypoint.sh
Labels: c/build-system

#2304 fix: head to home console error from error page
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Services/Metadata/Actions.js
Labels: c/console, k/bug

#2309 fix console bugs
  console/src/components/Common/CustomInputTypes/JsonInput.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/utils.js
Labels: c/console
