Repository hasura/graphql-engine, pull requests merged in 2019-09, with the labels that each got.

#2821 update relationship docs (close #2808)
  docs/graphql/manual/schema/relationships/database-modelling/many-to-many.rst
Labels: c/docs

#2757 improve relational insert docs
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/upsert.rst
Labels: c/docs

#2811 fix a typo in limit description of generated schema (close #2810)
  community/learn/graphql-tutorials/tutorials/android-apollo/app-boilerplate/app/src/main/graphql/com/hasura/todo/schema.json
  community/learn/graphql-tutorials/tutorials/android-apollo/app-final/app/src/main/graphql/com/hasura/todo/schema.json
  community/learn/graphql-tutorials/tutorials/elm-graphql/app-final/src/Hasura/Object/Users.elm
  community/learn/graphql-tutorials/tutorials/elm-graphql/app-final/src/Hasura/Query.elm
  community/learn/graphql-tutorials/tutorials/elm-graphql/app-final/src/Hasura/Subscription.elm
  community/learn/graphql-tutorials/tutorials/ios-apollo/app-final/Todo/schema.json
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/app-final/graphql_schema.json
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
Labels: c/community, c/server

#2701 allow creating permissions with conditions spanning tables (close #2512)
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/queries/graphql_mutation/delete/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/user_delete_account_no_rows.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/user_delete_account_success.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/values_setup.yaml
  server/tests-py/queries/graphql_mutation/delete/permissions/values_teardown.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/user_insert_account_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/user_insert_account_success.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/values_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/values_teardown.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_account_update_no_rows.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_account_update_success.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/values_setup.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/values_teardown.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/query_account_permission_fail.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/query_account_permission_success.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/basic/teardown.yaml
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
Labels: c/console, c/server, s/do-not-merge

#2799 improve documentation on queries (close #413)
  docs/graphql/manual/hasura-cli/install-hasura-cli.rst
  docs/graphql/manual/queries/aggregation-queries.rst
  docs/graphql/manual/queries/control-access.rst
  docs/graphql/manual/queries/derived-data.rst
  docs/graphql/manual/queries/distinct-queries.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/queries/multiple-arguments.rst
  docs/graphql/manual/queries/multiple-queries.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/queries/pagination.rst
  docs/graphql/manual/queries/simple-object-queries.rst
  docs/graphql/manual/queries/sorting.rst
  docs/graphql/manual/queries/variables-aliases-fragments-directives.rst
Labels: c/docs

#2344 support optional parameters in database url (close #1709)
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/PGDump.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/stack.yaml
  server/stack.yaml.lock
  server/tests-py/test_jwt.py
Labels: c/server

#2847 fix redux header key in modify-remote-schema
  console/src/components/Services/RemoteSchema/Add/addRemoteSchemaReducer.js
Labels: c/console, k/bug

#2144 fix dropdown arrow inconsistency among browsers, fixes #1878
  docs/_static/hasura-custom.css
Labels: c/community, c/docs

#2841 add pg version support note to getting started guide
  docs/graphql/manual/getting-started/index.rst
Labels: c/docs

#2834 update docs contributing guide
  docs/CONTRIBUTING.md
Labels: c/docs

#2843 fix console insert/edit row glitches (close #2840, #2665)
  console/cypress/integration/data/insert-browse/spec.js
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Common/utils/routesUtils.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/ViewHeader.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/utils.js
Labels: c/console

#2827 Implemented graceful shutdown for websockets
  server/src-exec/Main.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/App.hs
Labels: c/community

#2859 community: learn: flutter tutorial mods
  community/learn/graphql-tutorials/manifests/flutter-graphql.yaml
  community/learn/graphql-tutorials/tutorials/flutter-graphql/app-boilerplate/lib/data/feed_list.dart
  community/learn/graphql-tutorials/tutorials/flutter-graphql/app-final/ios/Podfile.lock
  community/learn/graphql-tutorials/tutorials/flutter-graphql/app-final/pubspec.lock
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/config.js
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/graphql-client.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/mutations/1-create-todo.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/mutations/2-create-mutation.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/queries/2-create-query.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/realtime-feed/2-run-subscription.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/realtime-feed/3-sync-todos.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/subscriptions.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/subscriptions/3-create-subscription.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/update-delete-mutations/2-mutation-cache.md
  community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/content/update-delete-mutations/4-remove-todos-integration.md
Labels: c/community

#2866 fix hostname in pgAdmin docker compose (close #2865)
  install-manifests/docker-compose-pgadmin/README.md
Labels: c/community

#2877 check for empty response on migration settings
  cli/migrate/database/hasuradb/settings.go
Labels: c/cli

#2397 propagate Postgres table comments to GraphQL schema descriptions (close #446)
  server/src-exec/Migrate.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Function.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-rsr/catalog_metadata.sql
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_12_to_13.sql
  server/src-rsr/migrate_from_21_to_22.sql
  server/src-rsr/migrate_from_22_to_23.sql
  server/src-rsr/migrate_from_7_to_8.sql
  server/src-rsr/table_meta.sql
Labels: c/server

#2856 Refactor query plan caching and improve subscription multiplexing
  server/graphql-engine.cabal
  server/src-lib/Control/Concurrent/Extended.hs
  server/src-lib/Data/Time/Clock/Units.hs
  server/src-lib/Hasura/Cache.hs
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Fallback.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Options.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/TMap.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Types.hs
  server/src-lib/Hasura/GraphQL/Execute/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Introspect.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/stack.yaml
  server/stack.yaml.lock
  server/tests-py/queries/subscriptions/live_queries/steps.yaml
  server/tests-py/test_subscriptions.py
Labels: c/server

#2892 server: Don’t allow warnings when building in CI
  server/Makefile
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
Labels: c/server

#2888 docs: swap manual_mapping for manual_configuration (close #2887)
  docs/graphql/manual/api-reference/schema-metadata-api/relationship.rst
Labels: c/community

#2894 update package versions for next-postgres-graphql (close #2714)
  community/sample-apps/nextjs-postgres-graphql/README.md
  community/sample-apps/nextjs-postgres-graphql/config.js
  community/sample-apps/nextjs-postgres-graphql/package.json
  community/sample-apps/nextjs-postgres-graphql/pages/AuthorList.js
  community/sample-apps/nextjs-postgres-graphql/pages/index.js
Labels: c/community, s/ok-to-merge

#2893 community: svelte-apollo: fix connectionParams (close #2769)
  community/sample-apps/svelte-apollo/src/apollo.js
Labels: c/community, s/ok-to-merge

#2727 ra-data-hasura: filter for count query, add httpClient (close #2100, #2741, #2771)
  community/tools/ra-data-hasura/CHANGELOG.md
  community/tools/ra-data-hasura/README.md
  community/tools/ra-data-hasura/package-lock.json
  community/tools/ra-data-hasura/package.json
  community/tools/ra-data-hasura/src/index.js
Labels: c/community, c/ra-data-hasura, s/ok-to-merge

#2895 optimise migrate api for console on cli
  cli/commands/console.go
  cli/commands/console_test.go
  cli/commands/metadata_apply.go
  cli/commands/metadata_clear.go
  cli/commands/metadata_export.go
  cli/commands/metadata_reload.go
  cli/commands/migrate.go
  cli/commands/migrate_apply.go
  cli/commands/migrate_create.go
  cli/commands/migrate_status.go
  cli/migrate/api/metadata.go
  cli/migrate/api/migrate.go
  cli/migrate/api/settings.go
  cli/migrate/database/driver.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/migrate.go
  cli/migrate/source/driver.go
  cli/migrate/source/file/file.go
  cli/migrate/source/stub/stub.go
Labels: c/cli, k/enhancement

#2899 update console telemetry config
  console/src/telemetryFilter.js
Labels: c/console

#2902 Correct argument type for `insert_todos` mutation (close #2901)
  community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/content/intro-to-graphql/3-writing-data-mutations.md
Labels: c/community, c/learn, s/ok-to-merge

#2751 add gzip brotli compression to http responses (close #2674)
  .circleci/cli-builder.dockerfile
  .circleci/config.yml
  .circleci/console-builder.dockerfile
  .circleci/server-builder.dockerfile
  .circleci/server-upgrade/Dockerfile
  docs/graphql/manual/deployment/compression.rst
  docs/graphql/manual/deployment/graphql-engine-flags/index.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/deployment/index.rst
  server/CONTRIBUTING.md
  server/graphql-engine.cabal
  server/packaging/stack-build.df
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Compression.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/stack.yaml
  server/stack.yaml.lock
  server/tests-py/queries/compression/graphql_query.yaml
  server/tests-py/queries/compression/setup.yaml
  server/tests-py/queries/compression/teardown.yaml
  server/tests-py/queries/compression/v1_query.yaml
  server/tests-py/requirements-top-level.txt
  server/tests-py/requirements.txt
  server/tests-py/test_compression.py
Labels: c/docs, c/server

#2911 Add link to blogpost about file upload/download to docs
  docs/graphql/manual/guides/sample-apps/index.rst
Labels: c/docs

#2919 Fix postgres version in docs
  docs/graphql/manual/getting-started/index.rst
Labels: c/docs

#2923 docs: add security announce mailing list
  docs/graphql/manual/index.rst
  docs/graphql/manual/security-disclosure/index.rst
Labels: c/docs

#2878 add console support for exists operator in permissions
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.scss
  console/src/components/Common/WarningSymbol/WarningSymbol.js
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Services/Data/DataPageContainer.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/EventTrigger/EventSubSidebar.js
  console/src/components/Services/RemoteSchema/RemoteSchemaSubSidebar.js
  console/src/helpers/versionUtils.js
Labels: c/console

#2924 add brotli library dependencies to graphql-engine-packager image
  server/Makefile
  server/packaging/packager.df
Labels: c/build-system

#2897 remove deprecated folders from community (close #1399)
  community/boilerplates/graphql-servers/README.md
  community/boilerplates/graphql-servers/nodejs-apollo/README.md
  community/boilerplates/graphql-servers/nodejs-express/README.md
  community/boilerplates/graphql-servers/python-flask-graphene/README.md
  community/examples/README.md
  community/examples/firebase-jwt/README.md
  community/examples/react-apollo-todo/README.md
  community/examples/realtime-chat/README.md
  community/examples/realtime-location-tracking/README.md
  community/examples/realtime-poll/README.md
  community/examples/serverless-etl/README.md
  community/examples/serverless-push/README.md
  community/examples/todo-auth0-jwt/README.md
Labels: c/community, s/ok-to-merge

#2935 Fixed typos and grammar
  console/src/components/App/App.js
  console/src/components/Common/Button/Button.js
  console/src/components/Common/QueryBuilderJson/QueryBuilderJson.js
Labels: c/community, c/console

#2957 updated heroku url property in console readme
  console/README.md
Labels: c/console

#2942 Parameterize all SQL values when multiplexing subscription queries
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/Prelude.hs
  server/tests-py/queries/subscriptions/multiplexing/query.yaml
  server/tests-py/queries/subscriptions/multiplexing/setup.yaml
  server/tests-py/queries/subscriptions/multiplexing/teardown.yaml
  server/tests-py/test_subscriptions.py
Labels: c/server
