Repository hasura/graphql-engine, pull requests merged in 2019-01, with the labels that each got.

#1258 improve startup log (close #1236)
  server/src-exec/Main.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Logging.hs
Labels: c/server, s/ok-to-merge

#1287 update constraint enum types when a new constraint is added
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-rsr/table_info.sql
Labels: c/server

#1286 docs css fixes
  docs/_static/hasura-custom.css
Labels: c/docs

#1174 show only valid options in alter type dropdown on modify table page (close #544)
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/constants.js
Labels: c/console, s/ok-to-merge

#1259 ui improvements on event trigger update columns (close #1257)
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/Modify.scss
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/TableCommon/Table.scss
  console/src/components/Services/EventTrigger/utils.js
Labels: c/console, s/ok-to-merge

#1297 highlight actionable buttons when its on focus (close #1294)
  console/src/components/Common/Common.scss
  console/src/theme/bootstrap.overrides.scss
Labels: c/console, s/ok-to-merge

#1293 display table name for manual array relationship from view to table (close #1292)
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
Labels: c/console, s/ok-to-merge

#1262 persist headers in graphiQL tab (close #275)
  console/src/components/ApiExplorer/ApiRequest.js
Labels: c/console, s/ok-to-merge

#1285 fix auth hook mode env var (fix #1270)
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server, s/ok-to-merge

#1238 display error message for invalid migration file (fix #1224)
  cli/commands/migrate_status.go
  cli/migrate/source/file/file.go
  cli/migrate/source/parse.go
Labels: c/cli, s/do-not-merge

#1228 determine api root from consolepath var on console
  console/README.md
  console/src/Globals.js
Labels: c/console, s/ok-to-merge

#1300 fix fetching primary key columns for non table owners (fix #1269)
  server/src-exec/Ops.hs
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_6_to_7.sql
Labels: c/server, s/ok-to-merge

#1305 fix broken auth example links, add jwt examples
  docs/graphql/manual/auth/common-roles-auth-examples.rst
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/auth/jwt-examples.rst
  docs/graphql/manual/auth/jwt.rst
  docs/graphql/manual/auth/webhook-examples.rst
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/docs

#1324 fix docs vulnerability in pyyaml
  docs/requirements.txt
Labels: c/docs

#1330 fix console ui issues (close #1303) (close #1049) (close #1282)
  console/src/components/ApiExplorer/GraphiQL.css
  console/src/components/Login/Login.js
  console/src/components/Login/blue-logo.svg
  console/src/components/Services/Data/TableBrowseRows/ReactTableFix.css
Labels: c/console, s/ok-to-merge

#1306 fix incorrect array relationship suggestion in case of circular fk (close #1296)
  console/src/components/Services/Data/TableRelationships/autoRelations.js
Labels: c/console, s/ok-to-merge

#1312 fix to display correct delivered time on console event trigger (close #1309)
  console/src/components/Services/EventTrigger/PendingEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewRows.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/utils.js
Labels: c/console, s/ok-to-merge

#1336 console bug fixes on event triggers page (close #1307) (close #1308) (close #1332)
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/EventState.js
  console/src/components/Services/EventTrigger/Modify/Connector.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
Labels: c/console, s/ok-to-merge

#1319 apply metadata also in cli migrations image (close #1316)
  docs/graphql/manual/migrations/auto-apply-migrations.rst
  docs/graphql/manual/migrations/index.rst
  scripts/cli-migrations/Dockerfile
  scripts/cli-migrations/docker-entrypoint.sh
Labels: c/build-system, c/community, c/docs

#1331 fix typo in pgcrypto error message (fix #1322)
  server/src-exec/Ops.hs
Labels: c/server

#1118 move schema dropdown to top-left (close #1092)
  console/cypress/integration/data/permissions/utils.js
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/DataHeader.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableCommon/Table.scss
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/EventTrigger/Modify/Info.js
Labels: c/console, s/ok-to-merge

#1337 add css property to completely show column values (close #1246)
  console/src/components/Services/Data/TableBrowseRows/ReactTableFix.css
Labels: c/console, s/ok-to-merge

#1280 allow specifying network interface with "server-host" option
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server

#1378 remove sleep for the console tests to start (close #1377)
  .circleci/test-console.sh
Labels: c/build-system

#1375 json2graphql: clean up, update readme, add examples
  community/tools/json2graphql/.eslintignore
  community/tools/json2graphql/README.md
  community/tools/json2graphql/example-datasets/canonical-user-posts.json
  community/tools/json2graphql/example-datasets/chat.js
  community/tools/json2graphql/example-datasets/js-db.js
  community/tools/json2graphql/example-datasets/mongodb-dataset.js
  community/tools/json2graphql/example-datasets/random.js
  community/tools/json2graphql/example-datasets/user-post-comment.json
  community/tools/json2graphql/example-datasets/user-product-order.js
  community/tools/json2graphql/package-lock.json
  community/tools/json2graphql/package.json
  community/tools/json2graphql/src/import/check.js
  community/tools/json2graphql/src/import/generateTables.js
  community/tools/json2graphql/src/import/insert.js
  community/tools/json2graphql/src/import/sql.js
  community/tools/json2graphql/test/db.js
  community/tools/json2graphql/test/verify.js
Labels: c/community, c/json2graphql

#1382 json2graphql: update readme
  community/tools/json2graphql/README.md
Labels: c/community, c/json2graphql

#1385 add azure templates for existing postgres server
  docs/graphql/manual/guides/deployment/azure-container-instances-postgres.rst
  install-manifests/azure-container-with-pg/README.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container-with-pg/azuredeploy.parameters.json
  install-manifests/azure-container/README.md
  install-manifests/azure-container/azuredeploy.json
  install-manifests/azure-container/azuredeploy.parameters.json
Labels: c/community

#1376 fix to create correct down migrations for permission (close #1366)
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
Labels: c/console, s/ok-to-merge

#1372 add PostGIS operators in boolean expressions (close #1051)
  docs/graphql/manual/api-reference/query.rst
  docs/graphql/manual/queries/query-filters.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_query/boolexp/postgis/query_using_line.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_using_point.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_using_polygon.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/setup.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/docs, c/server, s/ok-to-merge

#1389 fix console link on schema change
  console/cypress/integration/data/create-table/spec.js
  console/cypress/integration/data/create-table/test.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataHeader.js
Labels: c/console, k/bug

#1393 add docs for bypassing authorization workaround for remote queries (close #1299)
  docs/graphql/manual/remote-schemas/index.rst
Labels: c/docs

#1403 replace intercom with crisp in docs
  docs/_theme/djangodocs/layout.html
Labels: s/ok-to-merge

#1406 optimise 'run_sql' query
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/Utils.hs
Labels: k/enhancement, s/ok-to-merge

#1396 add flag to disable prepared statements (close #1392)
  .circleci/test-server-flags.sh
  .circleci/test-server.sh
  .gitignore
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-lib/Hasura/Server/Init.hs
  server/stack.yaml
Labels: c/docs, c/server

#1407 add react-admin data provider (close #783)
  community/tools/ra-data-hasura/.babelrc
  community/tools/ra-data-hasura/.eslintrc
  community/tools/ra-data-hasura/.gitignore
  community/tools/ra-data-hasura/App.js.example.js
  community/tools/ra-data-hasura/README.md
  community/tools/ra-data-hasura/package-lock.json
  community/tools/ra-data-hasura/package.json
  community/tools/ra-data-hasura/src/index.js
  community/tools/ra-data-hasura/src/queries.js
  community/tools/ra-data-hasura/webpack.config.js
Labels: c/community, s/ok-to-merge

#1419 ra-data-hasura patch for get_many_reference
  community/tools/ra-data-hasura/CHANGELOG.md
  community/tools/ra-data-hasura/package.json
  community/tools/ra-data-hasura/src/index.js
Labels: c/community

#1412 update cli contributing guide
  cli/CONTRIBUTING.md
Labels: c/cli

#1400 reuse buttons across console for uniformity
  console/src/components/Common/Common.scss
  console/src/components/Services/CustomResolver/Add/Add.js
  console/src/components/Services/CustomResolver/Edit/Edit.js
  console/src/components/Services/CustomResolver/Landing/CustomResolver.js
  console/src/components/Services/CustomResolver/Styles.scss
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Metadata/ClearAccessKey.js
  console/src/components/Services/Data/Metadata/ExportMetadata.js
  console/src/components/Services/Data/Metadata/ImportMetadata.js
  console/src/components/Services/Data/Metadata/ReloadMetadata.js
  console/src/components/Services/Data/Metadata/ResetMetadata.js
  console/src/components/Services/Data/Notification.js
  console/src/components/Services/Data/PageContainer/PageContainer.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/AutoAddRelations.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/ActionButtons.js
  console/src/components/Services/EventTrigger/Modify/Editor.js
  console/src/components/Services/EventTrigger/Modify/Modify.scss
  console/src/components/Services/EventTrigger/Notification.js
  console/src/components/Services/EventTrigger/PageContainer/PageContainer.js
  console/src/components/Services/EventTrigger/PendingEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/ProcessedEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/RunningEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/Schema/AutoAddRelations.js
  console/src/components/Services/EventTrigger/Schema/Schema.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/components/Services/EventTrigger/TableCommon/Table.scss
  console/src/components/Services/Layout/Button/Button.js
  console/src/components/Services/Layout/LeftNavBar/LeftNavBar.js
  console/src/components/Services/Layout/RightLayoutWrapper/Schema.js
Labels: c/console, k/enhancement, s/ok-to-merge

#1439 add nuxtjs-postgres-graphql to sample apps
  community/sample-apps/nuxtjs-postgres-graphql/.gitignore
  community/sample-apps/nuxtjs-postgres-graphql/README.md
  community/sample-apps/nuxtjs-postgres-graphql/apollo/clientConfig.js
  community/sample-apps/nuxtjs-postgres-graphql/apollo/queries/fetchArticle.gql
  community/sample-apps/nuxtjs-postgres-graphql/apollo/queries/fetchAuthor.gql
  community/sample-apps/nuxtjs-postgres-graphql/assets/README.md
  community/sample-apps/nuxtjs-postgres-graphql/components/README.md
  community/sample-apps/nuxtjs-postgres-graphql/layouts/README.md
  community/sample-apps/nuxtjs-postgres-graphql/layouts/default.vue
  community/sample-apps/nuxtjs-postgres-graphql/middleware/README.md
  community/sample-apps/nuxtjs-postgres-graphql/nuxt.config.js
  community/sample-apps/nuxtjs-postgres-graphql/package-lock.json
  community/sample-apps/nuxtjs-postgres-graphql/package.json
  community/sample-apps/nuxtjs-postgres-graphql/pages/README.md
  community/sample-apps/nuxtjs-postgres-graphql/pages/article/_id.vue
  community/sample-apps/nuxtjs-postgres-graphql/pages/index.vue
  community/sample-apps/nuxtjs-postgres-graphql/plugins/README.md
  community/sample-apps/nuxtjs-postgres-graphql/static/README.md
  community/sample-apps/nuxtjs-postgres-graphql/static/favicon.ico
  community/sample-apps/nuxtjs-postgres-graphql/store/README.md
Labels: c/community

#1451 support any type for id column in ra-data-hasura (close #1443)
  community/tools/ra-data-hasura/CHANGELOG.md
  community/tools/ra-data-hasura/package-lock.json
  community/tools/ra-data-hasura/package.json
  community/tools/ra-data-hasura/src/queries.js
Labels: c/community

#1437 auto-fill name while suggesting relationships (closes #1095)
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/relationships/spec.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
Labels: c/console, k/enhancement, s/ok-to-merge

#1391 create correct down migration for delete_event_trigger action (close #1390)
  console/src/components/Services/EventTrigger/EventActions.js
Labels: c/console, s/ok-to-merge

#1465 fix a bug where modifying trigger opts failed
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
Labels: c/console, k/bug, s/ok-to-merge

#1401 add anonymous telemetry
  cli/Gopkg.lock
  cli/assets/assets.go
  cli/assets/unversioned/console.html
  cli/assets/v1.0-alpha/console.html
  cli/assets/v1.0/console.html
  cli/cli.go
  cli/cli_test.go
  cli/commands/console.go
  cli/commands/console_test.go
  cli/commands/docs.go
  cli/commands/init.go
  cli/commands/init_test.go
  cli/commands/root.go
  cli/commands/version.go
  cli/get.sh
  cli/telemetry/telemetry.go
  cli/telemetry/telemetry_test.go
  cli/util/server.go
  cli/version/compatibility.go
  console/src/Endpoints.js
  console/src/Globals.js
  console/src/client.js
  console/src/components/App/App.js
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/State.js
  console/src/helpers/Html.js
  console/src/reducer.js
  console/src/telemetry/Actions.js
  console/src/telemetry/Notifications.js
  console/src/telemetry/State.js
  console/src/telemetryFilter.js
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/guides/telemetry.rst
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-exec/Ops.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Version.hs
  server/src-rsr/console.html
  server/src-rsr/hdb_metadata.yaml
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_8_to_9.sql
  server/src-rsr/migrate_metadata_from_8_to_9.yaml
  server/tests-py/graphql_server.py
Labels: c/cli, c/console, c/docs, c/server

#1455 console ui fixes
  console/src/components/ApiExplorer/ApiExplorer.scss
  console/src/components/ApiExplorer/ApiRequest.js
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/PageContainer/PageContainer.js
  console/src/components/Services/Data/TableBrowseRows/ReactTableFix.css
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/EventTrigger/PageContainer/PageContainer.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewRows.js
Labels: c/console, s/ok-to-merge

#1497 fix conversion when merging remote schema scalars with hasura (fix #1244)
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/graphql_server.py
  server/tests-py/queries/remote_schemas/person_table.yaml
  server/tests-py/test_schema_stitching.py
Labels: c/server

#1361 support union and interface types in remote schema (close #1276)
  console/src/components/ApiExplorer/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  docs/graphql/manual/remote-schemas/index.rst
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Resolve/Introspect.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/RQL/Instances.hs
  server/tests-py/graphql_server.py
  server/tests-py/queries/remote_schemas/add_remote_schema_err_missing_arg.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_err_missing_field.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_err_unknown_interface.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_iface_err_wrong_arg_type.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_iface_err_empty_fields_list.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_iface_err_extra_non_null_arg.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_iface_err_wrong_field_type.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_union_err_member_type_interface.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_union_err_no_member_types.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_union_err_unknown_types.yaml
  server/tests-py/queries/remote_schemas/add_remote_schema_with_union_err_wrapped_type.yaml
  server/tests-py/queries/remote_schemas/character_interface_query.yaml
  server/tests-py/queries/remote_schemas/search_union_type_query.yaml
  server/tests-py/test_schema_stitching.py
Labels: c/server

#1500 add functions to server telemetry
  docs/graphql/manual/guides/telemetry.rst
  server/src-lib/Hasura/Server/Telemetry.hs
Labels: c/server

#1261 change json field placeholder from 'asdf' to 'bar' (fix #1260)
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/constants.js
Labels: c/console, s/ok-to-merge

#1461 support jsonb and postgis operators in permissions
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/graphql_query/permissions/teardown.yaml
  server/tests-py/queries/graphql_query/permissions/user_can_query_geometry_values_filter.yaml
  server/tests-py/queries/graphql_query/permissions/user_can_query_geometry_values_filter_session_vars.yaml
  server/tests-py/queries/graphql_query/permissions/user_can_query_jsonb_values_filter.yaml
  server/tests-py/queries/graphql_query/permissions/user_can_query_jsonb_values_filter_session_vars.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/select_article_author_jsonb_contained_in_bestseller_latest.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/select_article_author_jsonb_contained_in_latest.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/select_article_author_jsonb_contains_latest.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/select_author_article_jsonb_contains_bestseller.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/select_product_jsonb_has_key_sim_type.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/select_product_jsonb_has_keys_all_ram_touchscreen.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/select_product_jsonb_has_keys_any_os_operating_system.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/setup.yaml
  server/tests-py/queries/v1/select/boolexp/jsonb/teardown.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_not_st_intersects.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_st_contains.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_st_d_within.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_st_equals.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_st_touches.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/setup.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/teardown.yaml
  server/tests-py/queries/v1/select/permissions/setup.yaml
  server/tests-py/queries/v1/select/permissions/teardown.yaml
  server/tests-py/queries/v1/select/permissions/user_can_query_geometry_values_filter.yaml
  server/tests-py/queries/v1/select/permissions/user_can_query_geometry_values_filter_session_vars.yaml
  server/tests-py/queries/v1/select/permissions/user_can_query_jsonb_values_filter.yaml
  server/tests-py/queries/v1/select/permissions/user_can_query_jsonb_values_filter_session_vars.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: c/console, c/server

#1511 infer topic based on version set in telemetry struct
  cli/telemetry/telemetry.go
  cli/telemetry/telemetry_test.go
Labels: c/cli

#1490 remove the usage of spread operator in setState
  community/sample-apps/react-apollo-todo/src/components/Todo/TodoInput.js
  community/sample-apps/react-apollo-todo/src/components/Todo/TodoPublicList.js
  community/sample-apps/realtime-chat/src/components/Chat.js
  community/sample-apps/realtime-chat/src/components/ChatWrapper.js
  community/sample-apps/realtime-chat/src/components/Main.js
  community/sample-apps/realtime-chat/src/components/OnlineUsers.js
  community/sample-apps/realtime-chat/src/components/RenderMessages.js
  community/sample-apps/realtime-location-tracking/src/App/App.js
  community/sample-apps/realtime-location-tracking/src/App/MapContainer.js
  community/sample-apps/realtime-location-tracking/src/Vehicle/Vehicle.js
  community/sample-apps/realtime-poll/src/Poll.js
  community/sample-apps/todo-auth0-jwt/todo-app/src/Todo/TodoInput.js
  community/tools/graphiql-online/src/components/ApiExplorer/GraphiQLWrapper.js
  community/tools/graphiql-online/src/components/Login/Login.js
  console/src/components/ApiExplorer/GraphiQLWrapper.js
  console/src/components/Common/InputChecker/InputChecker.js
  console/src/components/Main/Main.js
  console/src/components/Services/CustomResolver/Edit/Edit.js
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.js
  console/src/components/Services/Data/Metadata/Metadata.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/Editor.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
Labels: c/community, c/console, s/ok-to-merge

#1513 hotfix for alpha-36
  server/src-exec/Ops.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server, s/ok-to-merge

#1481 Clarify relationship creation flow in the docs
  docs/graphql/manual/schema/relationships/create.rst
Labels: c/docs

#1384 add recommendation note for URL usage ( fix #970 )
  console/src/components/Services/CustomResolver/Common/Common.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
Labels: c/console

#1194 Sort table names alphabetically when creating new triggers
  console/src/components/Services/EventTrigger/Add/AddActions.js
  console/src/components/Services/EventTrigger/EventActions.js
Labels: c/console, s/ok-to-merge

#1380 update readme for firebase-cloud-functions
  community/boilerplates/auth-webhooks/firebase-cloud-functions/README.md
Labels: c/community

#1508 update help text for console command
  cli/commands/console.go
Labels: c/cli

#1534 dont strip x-hasura-access-key from the header for explain query (close #1533)
  console/src/components/ApiExplorer/Actions.js
Labels: c/console, k/bug
