Repository hasura/graphql-engine, pull requests merged in 2019-12, with the labels that each got.

#2969 sample apps(update): update gatsby sample app
  community/sample-apps/gatsby-postgres-graphql/README.md
  community/sample-apps/gatsby-postgres-graphql/assets/screenshot.476.jpg
  community/sample-apps/gatsby-postgres-graphql/gatsby-browser.js
  community/sample-apps/gatsby-postgres-graphql/gatsby-config.js
  community/sample-apps/gatsby-postgres-graphql/gatsby-ssr.js
  community/sample-apps/gatsby-postgres-graphql/package.json
  community/sample-apps/gatsby-postgres-graphql/src/components/AddAuthor.js
  community/sample-apps/gatsby-postgres-graphql/src/components/AuthorList.js
  community/sample-apps/gatsby-postgres-graphql/src/pages/index.js
  community/sample-apps/gatsby-postgres-graphql/src/utils/apollo.js
  community/sample-apps/gatsby-postgres-graphql/yarn.lock
Labels: c/community

#3424 update cli docs
  docs/graphql/manual/hasura-cli/hasura.rst
  docs/graphql/manual/hasura-cli/hasura_completion.rst
  docs/graphql/manual/hasura-cli/hasura_console.rst
  docs/graphql/manual/hasura-cli/hasura_init.rst
  docs/graphql/manual/hasura-cli/hasura_metadata.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_apply.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_clear.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_diff.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_export.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_reload.rst
  docs/graphql/manual/hasura-cli/hasura_migrate.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_apply.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_create.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_squash.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_status.rst
  docs/graphql/manual/hasura-cli/hasura_update-cli.rst
  docs/graphql/manual/hasura-cli/hasura_version.rst
  docs/graphql/manual/hasura-cli/index.rst
Labels: c/docs

#3019 Insert an object with an array column (close #3018)
  docs/graphql/manual/mutations/insert.rst
Labels: c/community, c/docs

#3458 fix updating a column with multiple operators causing postgres query error (fix #3432)
  server/src-lib/Data/Sequence/NonEmpty.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/tests-py/queries/graphql_mutation/update/basic/article_column_multiple_operators.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server

#3446 read cache control header to refresh JWK (fix #3301)
  .circleci/test-server.sh
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/tests-py/conftest.py
  server/tests-py/jwk_server.py
  server/tests-py/test_jwk.py
Labels: c/server, s/wip

#3465 add read_only flag to run_sql select queries from console
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/utils.js
  console/src/helpers/versionUtils.js
Labels: c/console

#3441 fix column edit migrations
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: c/console

#3472 Update server/CONTRIBUTING.md and include manual build/test steps
  server/.gitignore
  server/CONTRIBUTING.md
Labels: c/server

#3486 fix insert permission views are not unique for long role names (fix #3444)
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/tests-py/queries/v1/permissions/create_author_insert_permission_long_role.yaml
  server/tests-py/queries/v1/permissions/teardown.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server

#3504 avoid using CTE for querying custom SQL functions (close #3349)
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
Labels: c/server

#2962 Docs: Example update relationships
  docs/graphql/manual/mutations/update.rst
Labels: c/docs

#3402 Docs: permissions spanning across tables
  docs/graphql/manual/auth/authorization/common-roles-auth-examples.rst
  docs/graphql/manual/auth/authorization/permission-rules.rst
  docs/img/graphql/manual/auth/exists-permission-example.png
Labels: c/docs

#3509 fix resolving user info in websocket transport
  server/.stylish-haskell.yaml
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
Labels: c/server, s/wip

#3492 add examples to all cli commands (#3475)
  cli/commands/console.go
  cli/commands/metadata_apply.go
  cli/commands/metadata_clear.go
  cli/commands/metadata_diff.go
  cli/commands/metadata_export.go
  cli/commands/metadata_reload.go
  cli/commands/migrate_apply.go
  cli/commands/migrate_create.go
  cli/commands/migrate_squash.go
  cli/commands/migrate_status.go
Labels: c/docs

#3477 cli(installer): add -f flag to curl (fix #1871)
  cli/get.sh
Labels: c/cli

#3493 cli(build): migrate to go modules (close #3476)
  .circleci/cli-builder.dockerfile
  .circleci/config.yml
  .circleci/test-cli-with-last-release.sh
  .circleci/test-cli.sh
  cli/CONTRIBUTING.md
  cli/Gopkg.lock
  cli/Gopkg.toml
  cli/Makefile
  cli/go.mod
  cli/go.sum
Labels: c/cli

#3495 Fix documentation of HASURA_GRAPHQL_PG_CONNECTIONS
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  docs/graphql/manual/guides/deployment/digital-ocean-one-click.rst
  server/src-lib/Hasura/Server/Init.hs
Labels: c/docs

#3393 export metadata without nulls, empty arrays & default values
  .circleci/config.yml
  .circleci/test-server.sh
  cli/commands/metadata.go
  cli/commands/metadata_diff.go
  cli/commands/migrate_create.go
  cli/commands/migrate_test.go
  cli/go.mod
  cli/go.sum
  cli/migrate/api/metadata.go
  cli/migrate/database/hasuradb/metadata.go
  scripts/dev.sh
  server/graphql-engine.cabal
  server/src-lib/Data/Aeson/Ordered.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Utils.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/Types/BoolExp.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-test/Main.hs
  server/stack.yaml
  server/stack.yaml.lock
  server/tests-py/queries/inconsistent_objects/test.yaml
  server/tests-py/queries/v1/metadata/clear_metadata.yaml
  server/tests-py/queries/v1/metadata/export_metadata.yaml
  server/tests-py/queries/v1/metadata_order/clear_export_metadata.yaml
  server/tests-py/queries/v1/metadata_order/export_metadata.yaml
  server/tests-py/queries/v1/metadata_order/export_metadata_order.yaml
  server/tests-py/queries/v1/metadata_order/setup.yaml
  server/tests-py/queries/v1/metadata_order/teardown.yaml
  server/tests-py/test_v1_queries.py
Labels: c/cli, c/server

#3482 add dedicated version and health api docs pages
  docs/graphql/manual/api-reference/health.rst
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/api-reference/version.rst
Labels: c/docs

#3483 update queries docs pages
  docs/graphql/manual/mutations/index.rst
  docs/graphql/manual/mutations/multiple-mutations.rst
  docs/graphql/manual/queries/aggregation-queries.rst
  docs/graphql/manual/queries/distinct-queries.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/queries/multiple-queries.rst
  docs/graphql/manual/queries/pagination.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/queries/sorting.rst
  docs/graphql/manual/subscriptions/index.rst
Labels: c/docs

#3516 add learn.hasura.io link to docs header
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/graphql/manual/guides/index.rst
Labels: c/docs

#3498 add cursor pagination section to docs
  docs/graphql/manual/queries/pagination.rst
Labels: c/docs

#3532 allow setting custom root fields for views via console
  console/src/components/Services/Data/TableModify/ModifyView.js
Labels: c/console

#3474 fix wrong link in remote-schema
  remote-schemas.md
Labels: c/community

#3529 Allow request body to be logged if required even with successful queries
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Logging.hs
Labels: c/server

#3367 Update Auth0 docs to note which token to update when using auth0-spa-js.
  community/sample-apps/todo-auth0-jwt/README.md
  community/sample-apps/vuejs-auth0-graphql/app/README.md
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/community, c/docs

#3515 replace crisp with intercom in docs
  docs/_theme/djangodocs/layout.html
Labels: c/docs

#3546 fix feature compatibility version check expression
  console/src/helpers/versionUtils.js
Labels: s/do-not-merge

#3494 remove beta version checks from console
  console/src/components/Main/Main.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Function/customFunctionReducer.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewActions.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewActions.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewActions.js
  console/src/components/Services/EventTrigger/StreamingLogs/LogActions.js
  console/src/components/Services/RemoteSchema/Common/Common.js
  console/src/components/Services/Settings/Actions.js
  console/src/helpers/versionUtils.js
Labels: c/console

#3510 add boolean expressions syntactic sugar notes in docs
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/queries/query-filters.rst
Labels: c/docs

#3389 docs: add rename_relationship request type
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/relationship.rst
Labels: c/docs

#3450 minor typo in auth0 integration guide
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/community, c/docs 📄, s/ok-to-merge

#3490 Support batched queries (fix #1812)
  docs/graphql/manual/api-reference/graphql-api/index.rst
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Context.hs
  server/tests-py/queries/graphql_query/basic/select_query_batching.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/validate.py
Labels: c/server, s/wip

#3534 Understand bounded cache performance. Closes #3530
  server/Makefile
  server/graphql-engine.cabal
  server/src-bench-cache/Main.hs
  server/src-lib/Hasura/Cache/Bounded.hs
  server/src-lib/Hasura/Cache/Unbounded.hs
Labels: c/build-system, c/server

#3274 add MX_Spanish translation for README.md (close #3188)
  README.md
  translations/README.md
  translations/README.mx_spanish.md
Labels: c/community, community-contrib

#3267 add hindi translation for remote-schemas.md
  remote-schemas.md
  translations/README.md
  translations/remote-schemas.hindi.md
Labels: c/community, community-contrib

#3587 add git clone command to heroku update guide (close #3582)
  docs/graphql/manual/deployment/heroku/updating.rst
Labels: c/docs 📄

#3579 console: Bump dependencies to support Node v13.x
  console/package-lock.json
  console/package.json
Labels: c/console 🖥️

#3556 Show request id on test failures
  server/tests-py/context.py
  server/tests-py/test_subscriptions.py
  server/tests-py/test_v1_queries.py
  server/tests-py/validate.py
Labels: c/server

#3563 community(sample-apps): update readme for quasar-framework-vue
  community/sample-apps/quasar-framework-vue-graphql/README.md
Labels: c/community, community-contrib, s/ok-to-merge

#3590 cli: add directory name as an argument to init cmd
  cli/commands/init.go
  cli/commands/root.go
  cli/telemetry/telemetry_test.go
  cli/version/compatibility.go
  cli/version/version.go
Labels: c/cli ⌨️

#2973 cli: add commands to manage inconsistent metadata (close #2766)
  cli/commands/metadata.go
  cli/commands/metadata_inconsistency.go
  cli/commands/metadata_inconsistency_drop.go
  cli/commands/metadata_inconsistency_drop_test.go
  cli/commands/metadata_inconsistency_list.go
  cli/commands/metadata_inconsistency_status.go
  cli/commands/migrate_test.go
  cli/migrate/database/hasuradb/metadata.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/metadata.go
  cli/migrate/migrate.go
Labels: c/cli ⌨️, community-contrib

#3107 translation: add bosnian version for readme
  README.md
  translations/README.bosnian.md
  translations/README.md
Labels: community-contrib, hacktoberfest

#3586 docs: change colours based on new design
  docs/_static/hasura-custom.css
  docs/_static/landing.css
Labels: c/docs 📄

#3489 refactor docs schema section
  docs/graphql/manual/auth/authorization/index.rst
  docs/graphql/manual/auth/authorization/role-multiple-rules.rst
  docs/graphql/manual/guides/data-modelling/index.rst
  docs/graphql/manual/guides/data-modelling/soft-deletes.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/queries/aggregation-queries.rst
  docs/graphql/manual/queries/control-access.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/schema/computed-fields.rst
  docs/graphql/manual/schema/custom-field-names.rst
  docs/graphql/manual/schema/custom-functions.rst
  docs/graphql/manual/schema/derived-data.rst.wip
  docs/graphql/manual/schema/index.rst
  docs/graphql/manual/schema/relationships/create.rst
  docs/graphql/manual/schema/relationships/database-modelling/many-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-one.rst
  docs/graphql/manual/schema/views.rst
  docs/graphql/manual/subscriptions/use-cases.rst
  docs/img/graphql/manual/auth/multiple-rules-create-manual-relationship.png
  docs/img/graphql/manual/auth/multiple-rules-define-private-permissions.png
  docs/img/graphql/manual/auth/multiple-rules-define-public-permissions.png
  docs/img/graphql/manual/guides/soft-deletes-delete-perms.png
  docs/img/graphql/manual/guides/soft-deletes-example-data.png
  docs/img/graphql/manual/guides/soft-deletes-insert-perms.png
  docs/img/graphql/manual/guides/soft-deletes-select-perms.png
  docs/img/graphql/manual/guides/soft-deletes-update-perms.png
  docs/img/graphql/manual/schema/custom-field-name-column.png
  docs/img/graphql/manual/schema/custom-field-name-root-fields.png
  docs/img/graphql/manual/schema/enum-set.png
Labels: c/docs 📄

#3585 fix absence of "args" input field omits session variable argument for v2 functions (fix #3575)
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/tests-py/queries/graphql_query/functions/query_get_test_session_id.yaml
  server/tests-py/queries/graphql_query/functions/setup.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, e/quickfix

#3481 cli(migrations-docker): randomize server port (fix #3479)
  scripts/cli-migrations/docker-entrypoint.sh
Labels: c/build-system

#3351 cli(migrations-docker): take a specific env var for database url
  scripts/cli-migrations/README.md
  scripts/cli-migrations/docker-entrypoint.sh
Labels: c/cli ⌨️, community-contrib

#3569 cli(fix): squash command not adding the last down (close #3401)
  cli/migrate/database/hasuradb/types.go
  cli/migrate/migrate.go
Labels: c/cli ⌨️

#3104 cli(fix): better error handling on non-json api responses (clos…
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/metadata.go
  cli/migrate/database/hasuradb/settings.go
Labels: c/cli ⌨️, community-contrib, hacktoberfest

#3600 gatsby-postgres-graphql: remove createLink, update dependencies (close #965)
  community/sample-apps/gatsby-postgres-graphql/README.md
  community/sample-apps/gatsby-postgres-graphql/gatsby-config.js
  community/sample-apps/gatsby-postgres-graphql/package.json
  community/sample-apps/gatsby-postgres-graphql/yarn.lock
Labels: c/community, s/ok-to-merge

#3599 docs: add canonical url, fix accessibility
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/basic/layout.html
  docs/_theme/djangodocs/layout.html
  docs/_theme/djangodocs/localtoc.html
  docs/graphql/manual/getting-started/index.rst
Labels: c/docs 📄

#2985 community: add netlify event-trigger echo boilerplate
  community/boilerplates/event-triggers/azure-functions/README.md
  community/boilerplates/event-triggers/netlify-functions/nodejs/README.md
  community/boilerplates/event-triggers/netlify-functions/nodejs/echo/.netlifygitignore
  community/boilerplates/event-triggers/netlify-functions/nodejs/echo/README.md
  community/boilerplates/event-triggers/netlify-functions/nodejs/echo/functions/index.js
  community/boilerplates/event-triggers/netlify-functions/nodejs/echo/netlify.toml
Labels: c/community 🌈, community-contrib 🙏🏽, s/ok-to-merge

#3466 console read only mode
  console/src/components/Main/Actions.js
  console/src/components/Main/State.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/EventTrigger/EventSubSidebar.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/EventTrigger/Modify/Connector.js
  console/src/components/Services/EventTrigger/Modify/Modify.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewTable.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/TableCommon/TableHeader.js
  console/src/components/Services/RemoteSchema/Edit/View.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
  console/src/components/Services/RemoteSchema/RemoteSchemaSubSidebar.js
Labels: c/console 🖥️

#1544 add lambda-cognito webhook example (fix #1180)
  community/boilerplates/auth-webhooks/lambda-cognito/README.md
  community/boilerplates/auth-webhooks/lambda-cognito/httpsAsync.js
  community/boilerplates/auth-webhooks/lambda-cognito/index.js
  community/boilerplates/auth-webhooks/lambda-cognito/myLogger.js
  community/boilerplates/auth-webhooks/lambda-cognito/package.json
  community/boilerplates/auth-webhooks/lambda-cognito/tokenDecoder.js
  community/boilerplates/auth-webhooks/lambda-cognito/tokenExtractor.js
Labels: c/community 🌈, community-contrib 🙏🏽
