Repository hasura/graphql-engine, pull requests merged in 2019-10, with the labels that each got.

#2947 fix hpc combine error (close #2946)
  .circleci/config.yml
  .circleci/test-server.sh
  server/tests-py/test_graphql_queries.py
Labels: c/build-system, s/ok-to-merge

#2933 update custom column names on renaming/dropping columns
  server/src-lib/Hasura/RQL/DDL/Schema/Catalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/tests-py/queries/v1/set_table_custom_fields/alter_column.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server

#3005 fixes to the subscriptions improvements introduced with #2942
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-exec/Main.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Multiplexed.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: p/urgent

#2972 add networking note to remote schema docs
  docs/graphql/manual/remote-schemas/index.rst
Labels: c/community, c/docs

#2960 add a note on connection pooling to do docs (close #2860)
  docs/graphql/manual/guides/deployment/digital-ocean-one-click.rst
Labels: c/community, c/docs

#2993 community: change `[Int]` to `[Int!]` to get app to compile.
  community/sample-apps/whatsapp-clone-typescript-react/react-app/src/components/UsersList.tsx
Labels: c/community, s/ok-to-merge

#2916 ra-data-hasrua: set 'asc' as default behavior to sort GET_LIST
  community/tools/ra-data-hasura/src/index.js
Labels: c/community

#2925 Add blogpost on public queries to docs
  docs/graphql/manual/guides/sample-apps/index.rst
Labels: c/docs

#2998 add relationship name to generated order_by field names (fix #2981)
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/tests-py/queries/graphql_query/order_by/album_order_by_tracks_tags.yaml
  server/tests-py/queries/graphql_query/order_by/setup.yaml
  server/tests-py/queries/graphql_query/order_by/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, e/quickfix

#3025 update github social icon width (close #3024)
  docs/_theme/djangodocs/layout.html
Labels: c/community, c/docs

#3048 change region in k8s deployment guide
  docs/graphql/manual/guides/deployment/google-kubernetes-engine-cloud-sql.rst
Labels: c/docs

#3028 chore: fixed lint issues, code standardization, code formatting
  console/src/components/App/State.js
  console/src/components/Common/Icons/ExclamationCircle.js
  console/src/components/Common/InputChecker/InputChecker.js
  console/src/components/Common/Layout/ReusableHeader/Header.js
  console/src/components/Common/Layout/ReusableHeader/HeaderReducer.js
  console/src/components/Common/Layout/index.js
  console/src/components/Common/QueryBuilderJson/QueryBuilderJson.js
  console/src/components/Common/TableCommon/DragFoldTable.js
  console/src/components/index.js
  console/src/config.js
  console/src/telemetryFilter.js
Labels: c/community, c/console

#3046 allow only tracked tables in manual relationships
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
Labels: c/console

#3051 Add blogpost on modelling teams to docs
  docs/graphql/manual/guides/sample-apps/index.rst
Labels: c/docs

#2937 separate server and cli flags in console local dev
  console/README.md
  console/src/Globals.js
  console/src/components/App/App.js
  console/src/components/Main/Main.js
  console/src/components/Services/Settings/Actions.js
  console/src/helpers/localDev.js
  console/src/telemetry/Actions.js
  console/src/utils/validateLogin.js
Labels: c/console, k/enhancement

#2994 update graphiql explorer in hasura console and graphiql online (closes #2313)
  community/tools/graphiql-online/package-lock.json
  community/tools/graphiql-online/package.json
  community/tools/graphiql-online/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
  community/tools/graphiql-online/src/components/Services/ApiExplorer/OneGraphExplorer/utils.js
  console/package-lock.json
  console/package.json
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
  console/src/components/Services/ApiExplorer/OneGraphExplorer/utils.js
Labels: c/console, k/enhancement

#3002 support where clause in on_conflict of insert mutation (close #2795)
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/mutations/upsert.rst
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation/Insert.hs
  server/tests-py/queries/graphql_mutation/insert/onconflict/order_on_conflict_where.yaml
  server/tests-py/queries/graphql_mutation/insert/onconflict/values_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/resident_on_conflict_where.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server, k/enhancement

#3084 fix hdb_catalog.hdb_column view (fix #3083)
  server/src-exec/Migrate.hs
  server/src-rsr/initialise.sql
  server/src-rsr/migrate_from_24_to_25.sql
  server/tests-py/queries/v1/set_table_is_enum/add_test_schema_enum_table.yaml
  server/tests-py/test_v1_queries.py
Labels: c/server, e/quickfix

#3055 update broken links in docs
  docs/graphql/manual/api-reference/pgdump.rst
  docs/graphql/manual/guides/integrations/apollo-subscriptions.rst
  docs/graphql/manual/subscriptions/index.rst
Labels: c/community

#2906 ra-data-hasura: update readme explain some imports (close #2905)
  community/tools/ra-data-hasura/README.md
Labels: c/community, c/ra-data-hasura

#3074 Fix two minor enum table reference bugs (fix #2820 and #3010)
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/tests-py/queries/graphql_mutation/enums/insert_nullable_enum_field.yaml
  server/tests-py/queries/graphql_mutation/enums/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/enums/schema_teardown.yaml
  server/tests-py/queries/graphql_query/enums/select_where_enum_eq_without_enum_table_visibility.yaml
  server/tests-py/queries/graphql_query/enums/setup.yaml
  server/tests-py/queries/v1/insert/basic/insert_nullable_enum_field.yaml
  server/tests-py/queries/v1/insert/basic/schema_setup.yaml
  server/tests-py/queries/v1/insert/basic/schema_teardown.yaml
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: c/server

#3133 fix console row edit behaviour
  console/src/components/Services/Data/TableBrowseRows/EditActions.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
Labels: c/console

#3135 Track variable uses within query validation for caching (fix #3097)
  .circleci/test-server.sh
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Resolve/Context.hs
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Introspect.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/src-lib/Hasura/GraphQL/Validate/Field.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/tests-py/queries/graphql_query/caching/include_directive.yaml
  server/tests-py/queries/graphql_query/caching/setup.yaml
  server/tests-py/queries/graphql_query/caching/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server

#3086 display check constraints of a table ( fix #2898 )
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Services/Data/TableModify/CheckConstraints.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/utils.js
Labels: c/console, k/enhancement

#3163 cli-migrations: enable metadata api while applying migrations
  scripts/cli-migrations/docker-entrypoint.sh
Labels: c/build-system

#2819 add catalogue versions to docs (close #2620)
  docs/graphql/manual/deployment/docker/updating.rst
  docs/graphql/manual/deployment/downgrading.rst
  docs/graphql/manual/deployment/heroku/updating.rst
  docs/graphql/manual/deployment/index.rst
  docs/graphql/manual/deployment/kubernetes/updating.rst
  docs/graphql/manual/event-triggers/clean-up.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/how-it-works/index.rst
  docs/graphql/manual/how-it-works/metadata-schema.rst
  docs/graphql/manual/migrations/reference/how-it-works.rst
  docs/graphql/manual/migrations/reference/metadata-file-format.rst
  docs/graphql/manual/troubleshooting/index.rst
Labels: c/docs

#3166 fix mishandled telemetry notification
  console/src/components/App/App.js
Labels: c/console, k/bug

#2999 generate migrations for replace metadata (closes #2996)
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Services/Common/Notification.js
  console/src/components/Services/Settings/Actions.js
  console/src/components/Services/Settings/MetadataOptions/ExportMetadata.js
  console/src/components/Services/Settings/MetadataOptions/ImportMetadata.js
Labels: c/console, k/enhancement

#3190 put computed column console changes behind version check
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Function/customFunctionReducer.js
  console/src/helpers/versionUtils.js
Labels: c/console

#3123 Created Greek Translation of README.md
  README.md
  translations/README.greek.md
  translations/README.md
Labels: c/community

#3007 Add ruby examples for triggers on lambda (address #1740)
  community/boilerplates/event-triggers/aws-lambda/README.md
  community/boilerplates/event-triggers/aws-lambda/ruby/echo/README.md
  community/boilerplates/event-triggers/aws-lambda/ruby/echo/lambda_function.rb
  community/boilerplates/event-triggers/aws-lambda/ruby/mutation/README.md
  community/boilerplates/event-triggers/aws-lambda/ruby/mutation/lambda_function.rb
Labels: c/community, hacktoberfest

#3192 fix console test environment
  .circleci/test-console.sh
  console/src/helpers/versionUtils.js
Labels: c/build-system, c/console

#3140 add production checklist to docs (close #2561)
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/deployment/allow-list.rst
  docs/graphql/manual/deployment/compression.rst
  docs/graphql/manual/deployment/enable-https.rst
  docs/graphql/manual/deployment/graphql-engine-flags/index.rst
  docs/graphql/manual/deployment/index.rst
  docs/graphql/manual/deployment/logging.rst
  docs/graphql/manual/deployment/production-checklist.rst
  docs/graphql/manual/deployment/securing-graphql-endpoint.rst
  docs/img/graphql/manual/deployment/schema_permissions_summary.png
Labels: c/docs

#2910 Add AWS Cognito JWT links to docs
  docs/graphql/manual/guides/integrations/aws-cognito.rst
  docs/graphql/manual/guides/integrations/index.rst
Labels: c/docs

#3039 Punctuation and typo fix
  SECURITY.md
Labels: c/community

#3027 fixed some grammer mistakes in docs
  docs/graphql/manual/deployment/logging.rst
  docs/graphql/manual/getting-started/first-event-trigger.rst
Labels: c/community

#3065 fix grammatical errors in documentation
  docs/graphql/manual/auth/authentication/index.rst
  docs/graphql/manual/auth/authentication/jwt.rst
Labels: c/community

#3054 fix a typo in pgdump docs
  docs/graphql/manual/api-reference/pgdump.rst
Labels: c/community

#3044 Modify HTML input type on login form
  community/sample-apps/firebase-jwt/app/index.html
Labels: c/community

#3043 Fix typo in CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: c/community

#3102 add tests with postgres 12 (close #2749)
  .circleci/config.yml
  server/src-lib/Hasura/Server/PGDump.hs
  server/tests-py/test_pg_dump.py
Labels: c/build-system

#3231 add docs page for setting up unauthenticated acess
  docs/graphql/manual/auth/authentication/index.rst
  docs/graphql/manual/auth/authentication/unauthenticated-access.rst
  docs/graphql/manual/auth/authorization/common-roles-auth-examples.rst
Labels: c/docs

#3260 console(make): fix the gcs bucket name (close #3026)
  console/Makefile
Labels: c/build-system, c/console

#2989 Update event-triggers.md
  event-triggers.md
Labels: c/community

#3157 cli(metadata): add diff command and dry-run flag
  cli/Gopkg.lock
  cli/cli.go
  cli/commands/metadata.go
  cli/commands/metadata_apply.go
  cli/commands/metadata_diff.go
  cli/commands/metadata_diff_test.go
Labels: c/cli, c/community, hacktoberfest

#3072 cli(migrations): new folder structure and squash
  cli/Gopkg.lock
  cli/Gopkg.toml
  cli/commands/console.go
  cli/commands/migrate.go
  cli/commands/migrate_squash.go
  cli/migrate/api/migrate.go
  cli/migrate/api/settings.go
  cli/migrate/api/squash.go
  cli/migrate/cmd/commands.go
  cli/migrate/database/driver.go
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/types.go
  cli/migrate/migrate.go
  cli/migrate/source/file/file.go
  cli/migrate/source/parse.go
  cli/migrate/status.go
Labels: c/cli
