Repository hasura/graphql-engine, pull requests merged in 2020-03, with the labels that each got.

#3958 Touch-up AuthGuardian guide
  docs/graphql/manual/guides/integrations/auth-guardian-jwt.rst
  docs/graphql/manual/guides/integrations/index.rst
  docs/img/graphql/manual/guides/auth-guardian-additional-role.png
  docs/img/graphql/manual/guides/auth-guardian-config-generator.png
  docs/img/graphql/manual/guides/auth-guardian-default-role.png
  docs/img/graphql/manual/guides/auth-guardian-generate-test-jwt.png
  docs/img/graphql/manual/guides/auth-guardian-session-variable.png
  docs/img/graphql/manual/guides/auth-guardian-test-jwt.png
  docs/img/graphql/manual/guides/auth-guardian-user-id.png
Labels: c/docs 📄, community-contrib 🙏🏽

#3921 translations(readme): add turkish
  README.md
  translations/README.md
  translations/README.turkish.md
Labels: c/community 🌈, community-contrib 🙏🏽

#4003 build: rename file to adhere to windows rules (close #4002)
  .circleci/postgres-12.0-alpine-postgis3/Dockerfile
Labels: c/build-system

#3993 cli(actions): preserve action definition in metadata apply (fix #3988)
  cli/metadata/actions/actions.go
Labels: c/cli ⌨️

#3991 cli: fix flags in actions, migrate and metadata cmd (fix #3982)
  cli/commands/actions.go
  cli/commands/metadata.go
  cli/commands/migrate.go
Labels: c/cli ⌨️

#4007 update actions docs
  docs/graphql/manual/actions/action-handlers.rst
  docs/graphql/manual/actions/action-relationships.rst
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/actions/types/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/event-triggers.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/deployment/downgrading.rst
  docs/graphql/manual/schema/relationships/index.rst
  docs/img/graphql/manual/actions/actions-relationship.png
Labels: c/docs 📄

#4005 docs: fix broken link
  docs/graphql/manual/guides/integrations/aws-cognito.rst
Labels: c/docs 📄

#3975 cli, server: use prerelease tag as channel for console assets cdn
  cli/version/console.go
  cli/version/console_test.go
  scripts/get-console-assets-version.sh
  scripts/get-version.sh
  server/src-lib/Hasura/Server/Version.hs
Labels: c/build-system, c/cli ⌨️, c/server

#3968 cli(migrations-img): add env to skip update prompts (fix #3964)
  scripts/cli-migrations/docker-entrypoint.sh
Labels: c/build-system, c/cli ⌨️

#3996 cli: add version flag in update-cli command
  cli/commands/update-cli.go
  cli/update/update.go
Labels: c/cli ⌨️, s/do-not-merge

#3902 TypeScript setup
  console/.babelrc
  console/.gitignore
  console/package-lock.json
  console/package.json
  console/src/components/Common/Button/Button.tsx
  console/src/components/Common/Button/index.ts
  console/src/declaration.d.ts
  console/tsconfig.json
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Labels: c/console 🖥️

#4026 correct version info for config v2 section (close #4019)
  docs/graphql/manual/migrations/reference/metadata-file-format.rst
Labels: c/docs 📄

#4030 docs: avoid redirects, update title tag suffix
  docs/_theme/djangodocs/localtoc.html
  docs/conf.py
Labels: c/docs 📄

#4023 hide starterkit button from actions codegen if a framework has no starter kit
  console/src/components/Services/Actions/Codegen/Codegen.js
Labels: c/console 🖥️, k/bug 🐛

#4034 docs: add note on pg version for actions
  docs/graphql/manual/actions/index.rst
Labels: c/docs 📄

#4049 cli: fix typo in cli example for squash (fix #4047)
  cli/commands/migrate_squash.go
  docs/graphql/manual/hasura-cli/hasura_migrate_squash.rst
Labels: c/docs 📄, community-contrib 🙏🏽

#4048 docs: add prerelease build (close #4041)
  docs/_theme/djangodocs/layout.html
  docs/graphql/manual/deployment/updating.rst
Labels: c/docs 📄

#4064 docs: fix typo in action example
  docs/graphql/manual/actions/action-handlers.rst
Labels: c/docs 📄, community-contrib 🙏🏽

#4081 remove spaces from templated url
  docs/graphql/manual/actions/create.rst
Labels: c/docs 📄

#4082 docs: add metadata descriptions to actions docs
  CHANGELOG.md
  docs/graphql/manual/actions/action-connect.rst
  docs/graphql/manual/actions/action-handlers.rst
  docs/graphql/manual/actions/async-actions.rst
  docs/graphql/manual/actions/codegen.rst
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/derive.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/actions/types/index.rst
  docs/graphql/manual/api-reference/explain.rst
Labels: c/docs 📄

#4074 auto-include `__typename` field in custom types' objects (fix #4063)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Resolve/Introspect.hs
  server/src-lib/Hasura/GraphQL/Schema/CustomTypes.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/tests-py/queries/actions/sync/create_user_success.yaml
  server/tests-py/queries/actions/sync/create_users_fail.yaml
  server/tests-py/queries/actions/sync/create_users_success.yaml
  server/tests-py/test_actions.py
Labels: c/actions 🎬, c/server

#3881 console: manage postgres check constraints
  CHANGELOG.md
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddState.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/CheckConstraints.js
  console/src/components/Services/Data/Add/Tooltips.js
  console/src/components/Services/Data/Add/utils.js
  console/src/components/Services/Data/Common/ReusableComponents/ConstraintExpandedContent.js
  console/src/components/Services/Data/Common/ReusableComponents/ForeignKeySelector.js
  console/src/components/Services/Data/Common/ReusableComponents/Tooltips.js
  console/src/components/Services/Data/Common/TooltipMessages.js
  console/src/components/Services/Data/TableModify/CheckConstraints.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/tsconfig.json
Labels: c/console 🖥️

#3735 add multi select to data table and bulk delete (close #1739)
  CHANGELOG.md
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/views/spec.js
  console/src/components/Common/Common.scss
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Common/TableCommon/TableStyles.scss
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Labels: c/console 🖥️

#4072 disable renaming action relationships on console
  CHANGELOG.md
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
Labels: c/actions 🎬, c/console 🖥️

#3810 add select input to enum fields (close #3748)
  CHANGELOG.md
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Add/CheckConstraints.js
  console/src/components/Services/Data/Add/ForeignKeyWrapper.js
  console/src/components/Services/Data/Add/UniqueKeyWrapper.js
  console/src/components/Services/Data/Common/Components/ConstraintExpandedContent.js
  console/src/components/Services/Data/Common/Components/EnumsSection.js
  console/src/components/Services/Data/Common/Components/ForeignKeySelector.js
  console/src/components/Services/Data/Common/Components/FrequentlyUsedColumnSelector.js
  console/src/components/Services/Data/Common/Components/PrimaryKeySelector.js
  console/src/components/Services/Data/Common/Components/RawSqlButton.js
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.js
  console/src/components/Services/Data/Common/Components/RootFieldEditor.js
  console/src/components/Services/Data/Common/Components/TypedInput.js
  console/src/components/Services/Data/Common/Components/UniqueKeySelector.js
  console/src/components/Services/Data/Common/Components/utils.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/EditActions.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableInsertItem/InsertActions.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableModify/CheckConstraints.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ComputedFieldsEditor.js
  console/src/components/Services/Data/TableModify/ForeignKeyEditor.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
  console/src/components/Services/Data/TableModify/RootFields.js
  console/src/components/Services/Data/TableModify/UniqueKeyEditor.js
Labels: c/console 🖥️

#4083 console: track runtime errors
  CHANGELOG.md
  console/src/client.js
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Main/Actions.js
Labels: c/console 🖥️

#4086 ci: fix ciignore script to ignore certain directories
  .circleci/ciignore.sh
Labels: c/build-system

#4102 docs: bump MarkupSafe version
  CHANGELOG.md
  docs/requirements.txt
Labels: c/docs 📄

#4107 Install typings from DT
  console/package-lock.json
  console/package.json
Labels: c/console 🖥️

#4124 docs: update permission.rst for check constraint api
  docs/graphql/manual/api-reference/schema-metadata-api/permission.rst
Labels: c/docs 📄

#4131 console: upgrade eslint and change eslint parser
  console/.eslintrc
  console/package-lock.json
  console/package.json
Labels: c/console 🖥️

#3866 console: add design system base ui components
  CHANGELOG.md
  console/.babelrc
  console/package-lock.json
  console/package.json
  console/src/Globals.js
  console/src/components/App/App.js
  console/src/components/Common/Common.scss
  console/src/components/Common/CustomInputAutoSuggest/Theme.scss
  console/src/components/Common/Spinner/Spinner.scss
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Login/Login.scss
  console/src/components/Main/Main.scss
  console/src/components/Services/Settings/Sidebar.js
  console/src/components/UIKit/atoms/AlertBox/AlertBox.js
  console/src/components/UIKit/atoms/AlertBox/index.js
  console/src/components/UIKit/atoms/Button/Button.js
  console/src/components/UIKit/atoms/Button/index.js
  console/src/components/UIKit/atoms/Checkbox/Checkbox.js
  console/src/components/UIKit/atoms/Checkbox/index.js
  console/src/components/UIKit/atoms/Icon/Icon.js
  console/src/components/UIKit/atoms/Icon/index.js
  console/src/components/UIKit/atoms/RadioButton/RadioButton.js
  console/src/components/UIKit/atoms/RadioButton/index.js
  console/src/components/UIKit/atoms/Spinner/Spinner.js
  console/src/components/UIKit/atoms/Spinner/index.js
  console/src/components/UIKit/atoms/SwitchButton/SwitchButton.js
  console/src/components/UIKit/atoms/SwitchButton/index.js
  console/src/components/UIKit/atoms/Tabs/Tabs.js
  console/src/components/UIKit/atoms/Tabs/index.js
  console/src/components/UIKit/atoms/Tooltip/Tooltip.js
  console/src/components/UIKit/atoms/Tooltip/index.js
  console/src/components/UIKit/atoms/Typography/Typography.js
  console/src/components/UIKit/atoms/Typography/index.js
  console/src/components/UIKit/atoms/index.js
  console/src/components/UIKit/demo/Components.js
  console/src/components/UIKit/demo/StyleGuide.js
  console/src/components/UIKit/demo/styles/index.js
  console/src/components/UIKit/index.js
  console/src/components/UIKit/theme/index.js
  console/src/components/index.js
  console/src/routes.js
Labels: c/console 🖥️

#4106 console: unique filenames for exported metadata (close #1772)
  CHANGELOG.md
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Login/Login.js
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Settings/Logout/Logout.js
  console/src/components/Services/Settings/MetadataOptions/ExportMetadata.js
  docs/graphql/manual/migrations/manage-metadata.rst
  docs/graphql/manual/migrations/reference/how-it-works.rst
Labels: c/console 🖥️

#4133 action relationship page improvements (fix #4062, #4130)
  CHANGELOG.md
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Actions/Relationships/Relationships.js
  console/src/components/Services/Actions/Relationships/utils.js
  console/src/components/Services/Actions/ServerIO.js
Labels: c/actions 🎬, c/console 🖥️, k/enhancement

#4059 misc console actions fixes
  console/src/components/Common/AceEditor/BaseEditor.js
  console/src/components/Common/Headers/Headers.js
  console/src/components/Services/Actions/Codegen/CodeTabs.js
  console/src/components/Services/Actions/Codegen/utils.js
  console/src/components/Services/Actions/Common/components/HeaderConfEditor.js
  console/src/components/Services/Actions/Common/components/KindEditor.js
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Labels: c/actions 🎬

#4109 few actions' fixes and improvements (fix #3977, #4061 & close #4021)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/CustomTypes.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Compression.hs
  server/src-lib/Hasura/Server/Context.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/mirror_action_no_field.yaml
  server/tests-py/queries/actions/sync/mirror_action_not_null.yaml
  server/tests-py/queries/actions/sync/mirror_action_success.yaml
  server/tests-py/queries/actions/sync/mirror_action_unexpected_field.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Labels: c/actions 🎬, c/server

#4177 add docs for redeliver_event api docs (fix #4176)
  CHANGELOG.md
  docs/graphql/manual/api-reference/schema-metadata-api/event-triggers.rst
  docs/graphql/manual/api-reference/schema-metadata-api/index.rst
Labels: c/docs 📄

#4167 console shared modules: fix parsing of wrapped types in SDL
  CHANGELOG.md
  console/src/shared/utils/wrappingTypeUtils.js
Labels: c/console 🖥️, k/bug 🐛, p/urgent

#4152 cli: fix parse error returned on console api (close #4126)
  CHANGELOG.md
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/metadata.go
  cli/migrate/database/hasuradb/schema_dump.go
  cli/migrate/database/hasuradb/settings.go
  cli/migrate/database/hasuradb/types.go
Labels: c/cli ⌨️

#4103 ci: fix deploy script to upload github release assets
  .circleci/deploy.sh
  CHANGELOG.md
Labels: c/build-system

#4175 console: fix passing default value to JsonInput
  console/src/components/Services/Data/Common/Components/TypedInput.js
Labels: c/console 🖥️

#4095 cli: send command path in telemetry data
  CHANGELOG.md
  cli/commands/actions.go
  cli/commands/metadata.go
  cli/commands/migrate.go
  cli/commands/plugins.go
  cli/commands/root.go
Labels: c/cli ⌨️

#4038 cli: fix init command to generate correct config (fix #4036)
  CHANGELOG.md
  cli/cli.go
  cli/commands/init.go
  cli/integration_test/v1/init.go
  cli/integration_test/v2/init.go
  cli/metadata/actions/actions.go
Labels: c/cli ⌨️

#4145 cli(migrations-image): add support for v2 config (close #3969)
  .circleci/deploy.sh
  CHANGELOG.md
  scripts/cli-migrations/v1/.gitignore
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v1/README.md
  scripts/cli-migrations/v1/docker-entrypoint.sh
  scripts/cli-migrations/v2/.gitignore
  scripts/cli-migrations/v2/Dockerfile
  scripts/cli-migrations/v2/README.md
  scripts/cli-migrations/v2/docker-entrypoint.sh
Labels: c/build-system

#3995 community: fix some readme titles
  community/sample-apps/whatsapp-clone-typescript-react/react-app/README.md
Labels: c/community 🌈, community-contrib 🙏🏽

#3809 community: add a missing step in gridsome sample app
  community/sample-apps/gridsome-postgres-graphql/README.md
Labels: c/community 🌈, community-contrib 🙏🏽

#4141 option to reload remote schemas in 'reload metadata' (fix #3792, #4117)
  CHANGELOG.md
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Error/ErrorBoundary.js
  console/src/components/Main/Main.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/EventTrigger/EventActions.js
  console/src/components/Services/RemoteSchema/utils.js
  console/src/components/Services/Settings/Actions.js
  console/src/components/Services/Settings/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Settings/MetadataOptions/ReloadMetadata.js
  console/src/components/Services/Settings/MetadataOptions/ResetMetadata.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  docs/graphql/manual/api-reference/schema-metadata-api/manage-metadata.rst
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache/Common.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-test/Main.hs
  server/tests-py/conftest.py
  server/tests-py/context.py
  server/tests-py/test_schema_stitching.py
Labels: c/console 🖥️, c/server

#4044 show remote shema / event trigger intro sections always
  CHANGELOG.md
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
Labels: c/console 🖥️

#4195 Fix bulk deleting roles without permissions close #4178
  CHANGELOG.md
  console/src/components/Common/Permissions/TableRow.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console 🖥️, community-contrib 🙏🏽

#4080 fix postgres query error when computed fields included in mutation response (fix #4035)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/author_user_role_insert_check_perm_success.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_update_author.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server

#4079 add workflow automations, update changelog
  .circleci/ciignore.sh
  .github/CODEOWNERS
  .github/workflows/changelog.yml
  CHANGELOG.md
Labels: c/build-system

#4223 fix codeonwers syntax
  .github/CODEOWNERS
Labels: no-changelog-required

#4238 add permissions for functions
  docs/graphql/manual/deployment/postgres-permissions.rst
Labels: no-changelog-required

#4210 console: fix handle long column names during update event trigger cre…
  console/src/components/Common/Common.scss
  console/src/components/Common/Permissions/PermissionStyles.scss
  console/src/components/Services/Data/TablePermissions/Permissions.scss
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
Labels: c/console 🖥️, community-contrib 🙏🏽, no-changelog-required

#4221 Fix JSON(B) rendering in data browser (close #4201)
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Labels: c/console 🖥️, community-contrib 🙏🏽, no-changelog-required

#4246 console: fix computed field permission selection
  console/src/components/Services/Data/TablePermissions/Actions.js
Labels: c/console 🖥️, no-changelog-required

#4254 console: allow customising root fields of single row mutations (close #4203)
  console/src/components/Services/Data/Common/Components/RootFieldEditor.js
  console/src/components/Services/Data/Common/Components/utils.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableModify/RootFields.js
Labels: c/console 🖥️, k/enhancement, no-changelog-required
