Repository hasura/graphql-engine, pull requests merged in 2020-01, with the labels that each got.

#3611 Display Postgres version in console (close #3461)
  console/src/components/Services/About/About.js
Labels: c/console 🖥️

#3629 docs: fix color of paragraph anchor
  docs/_static/djangosite.css
Labels: c/docs 📄

#3162 translation(hindi): add security.md
  SECURITY.md
  translations/README.md
  translations/SECURITY.hindi.md
Labels: c/community 🌈, community-contrib 🙏🏽

#3626 community: fix links in event-triggers.md
  event-triggers.md
Labels: c/community 🌈

#3214 docs: fix Auth0 integration instructions (fix #2655)
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
Labels: c/docs 📄, community-contrib 🙏🏽

#3619 docs: update url for community wiki tools and boilerplates
  docs/graphql/manual/guides/sample-apps/index.rst
Labels: c/docs 📄, community-contrib 🙏🏽

#3639 translations(mandarin): add readme.md (close #3170)
  README.md
  translations/README.chinese.md
  translations/README.md
Labels: c/community 🌈

#3625 cli(fix): execute down migration in the correct order
  cli/migrate/migrate.go
Labels: c/cli ⌨️

#3435 misc console improvements
  console/src/Globals.js
  console/src/components/Common/GqlCompatibilityWarning/GqlCompatibilityWarning.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Error/ErrorPage.scss
  console/src/components/Services/About/About.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/ApiRequest/utils.js
  console/src/components/Services/Data/DataPageContainer.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/Schema/Tooltips.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/utils/validateLogin.js
Labels: c/console 🖥️

#3584 add query execution time and response size to ws-server logs in websocket transport
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/Utils.hs
Labels: c/server, s/wip

#3601 cli: add browser flag to console command (close #3333)
  cli/cli.go
  cli/commands/console.go
  cli/commands/migrate_test.go
Labels: c/cli ⌨️

#3594 console: add hasura pro popup button
  community/sample-apps/vuetify-vuex-todo-graphql/public/img/icons/safari-pinned-tab.svg
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/images/allow.svg
  console/src/components/Main/images/arrow_forward-red.svg
  console/src/components/Main/images/management.svg
  console/src/components/Main/images/monitoring.svg
  console/src/components/Main/images/rate.svg
  console/src/components/Main/images/regression.svg
  console/src/components/Main/images/x-circle.svg
  console/src/components/Main/loveConsentLocalStorage.js
  console/src/components/Main/utils.js
Labels: c/console 🖥️

#3634 docs: add alt tags for all images
  docs/graphql/manual/auth/authentication/index.rst
  docs/graphql/manual/auth/authentication/jwt.rst
  docs/graphql/manual/auth/authentication/webhook.rst
  docs/graphql/manual/auth/authorization/basics.rst
  docs/graphql/manual/auth/authorization/common-roles-auth-examples.rst
  docs/graphql/manual/auth/authorization/index.rst
  docs/graphql/manual/auth/authorization/permission-rules.rst
  docs/graphql/manual/auth/authorization/role-multiple-rules.rst
  docs/graphql/manual/auth/authorization/roles-variables.rst
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/deployment/heroku/securing-graphql-endpoint.rst
  docs/graphql/manual/deployment/heroku/using-existing-heroku-database.rst
  docs/graphql/manual/event-triggers/create-trigger.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/event-triggers/invoke-trigger-console.rst
  docs/graphql/manual/getting-started/first-event-trigger.rst
  docs/graphql/manual/getting-started/first-graphql-query.rst
  docs/graphql/manual/getting-started/heroku-simple.rst
  docs/graphql/manual/guides/data-modelling/soft-deletes.rst
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
  docs/graphql/manual/remote-schemas/index.rst
  docs/graphql/manual/schema/basics.rst
  docs/graphql/manual/schema/custom-field-names.rst
  docs/graphql/manual/schema/default-values/column-presets.rst
  docs/graphql/manual/schema/default-values/postgres-defaults.rst
  docs/graphql/manual/schema/default-values/sql-functions.rst
  docs/graphql/manual/schema/enums.rst
  docs/graphql/manual/schema/relationships/create.rst
Labels: c/docs 📄

#3628 community: link to coc in contrib guide
  CONTRIBUTING.md
Labels: c/community 🌈

#3662 sql queries refactor (closes #3543)
  console/src/components/Common/utils/sqlUtils.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Function/customFunctionReducer.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/Schema/Actions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/utils.js
  console/src/telemetry/Actions.js
Labels: c/console 🖥️

#3651 include scalars types returning by computed fields in generated schema (fix #3650)
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
  server/tests-py/queries/graphql_query/computed_fields/float_test.yaml
  server/tests-py/queries/graphql_query/computed_fields/setup.yaml
  server/tests-py/queries/graphql_query/computed_fields/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server

#3522 add computed fields support on console
  console/.eslintrc
  console/src/components/Common/SearchableSelect/SearchableSelect.js
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Services/Data/Common/ReusableComponents/RawSqlButton.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/PermissionsSummary/utils.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/CheckConstraints.js
  console/src/components/Services/Data/TableModify/ComputedFieldsEditor.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/utils.js
  console/src/helpers/versionUtils.js
  docs/graphql/manual/api-reference/schema-metadata-api/computed-field.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/schema/computed-fields.rst
  docs/img/graphql/manual/schema/computed-field-create.png
  server/src-rsr/hdb_metadata.yaml
Labels: c/console 🖥️, c/docs 📄, c/server

#3676 fix cache-control header parsing for JWK (fix #3655)
  server/graphql-engine.cabal
  server/src-lib/Data/Parser/CacheControl.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-test/Data/Parser/CacheControlSpec.hs
  server/src-test/Main.hs
Labels: c/server

#3686 Add fast path for server internal metadata migrations
  server/src-lib/Hasura/Cache/Bounded.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Types.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Catalog.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-rsr/hdb_metadata.yaml
  server/src-test/Hasura/Server/MigrateSpec.hs
Labels: c/server

#3694 pretty print the json object while exporting to file, fix #3690
  console/src/components/Common/utils/jsUtils.js
Labels: c/console 🖥️, community-contrib 🙏🏽

#3709 fix various version-related issues with cli (close #3706)
  cli/assets/assets.go
  cli/assets/latest/console.html
  cli/cli.go
  cli/commands/console.go
  cli/commands/update-cli.go
  cli/update/update.go
  cli/util/template.go
  cli/version/compatibility.go
Labels: c/cli ⌨️

#3716 ci: push the latest assets only on stable releases (close #3714)
  .circleci/deploy.sh
Labels: c/build-system

#3712 handle unmatched types in permission builder
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
Labels: c/console 🖥️

#3699 Add readable terms for the operators
  console/src/components/Services/Data/TableBrowseRows/FilterActions.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/constants.js
Labels: c/console 🖥️

#3745 circleci: update workflow id
  .circleci/config.yml
Labels: c/build-system

#3700 misc docs changes
  docs/graphql/manual/auth/authorization/role-multiple-rules.rst
  docs/graphql/manual/queries/distinct-queries.rst
  docs/graphql/manual/queries/query-filters.rst
  docs/graphql/manual/queries/simple-object-queries.rst
Labels: c/docs 📄

#3733 console misc fixes
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/EventTrigger/EventActions.js
Labels: c/console 🖥️

#3668 [RFC] Eliminate unnecessary recompilation caused by Hasura.Server.Version
  server/cabal.project.freeze
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/CheckUpdates.hs
  server/src-lib/Hasura/Server/Config.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Server/Query.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Hasura/Server/Version.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
  server/src-test/Main.hs
Labels: c/server

#3765 update nuxtjs-postgres-graphql dependencies (close #3743)
  community/sample-apps/nuxtjs-postgres-graphql/nuxt.config.js
  community/sample-apps/nuxtjs-postgres-graphql/package-lock.json
  community/sample-apps/nuxtjs-postgres-graphql/package.json
  community/sample-apps/nuxtjs-postgres-graphql/plugins/apollo-error-handler.js
Labels: c/community 🌈

#3730 cli: fix version constraint for update check (close #3719)
  cli/update/update.go
Labels: c/cli ⌨️, k/bug 🐛

#3073 remove graphiql fork
  console/package-lock.json
  console/package.json
  console/src/components/Services/ApiExplorer/Analyzer/AnalyzeButton.js
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
  console/src/components/Services/ApiExplorer/ApiCollectionPanel/ApiCollectionPanel.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/utils.js
  console/src/components/Services/ApiExplorer/utils.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
  console/webpack/prod.config.js
Labels: c/console 🖥️, k/enhancement
