Repository hasura/graphql-engine, pull requests merged in 2020-02, with the labels that each got.

#3813 misc console fixes
  console/src/components/Services/Common/Notification.js
  console/src/components/Services/Data/PermissionsSummary/utils.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console 🖥️

#3739 docs: document explain api (close #870)
  docs/graphql/manual/api-reference/explain.rst
  docs/graphql/manual/api-reference/index.rst
Labels: c/docs 📄

#3715 cli: add --goto flag in hasura migrate apply (close #2689)
  cli/commands/migrate.go
  cli/commands/migrate_apply.go
  cli/migrate/cmd/commands.go
  cli/migrate/migrate.go
Labels: c/cli ⌨️

#3816 console: fixed create if not exists issue (fix #3766)
  console/src/components/Services/Data/RawSQL/utils.js
Labels: c/console 🖥️, community-contrib 🙏🏽

#3785 New ENV variable support for disabling CORS headers (close #3782)
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-lib/Hasura/Server/Init.hs
Labels: c/server, community-contrib 🙏🏽

#3618 fix few bugs related to nested insert returning (fix #3609, #3642, #3271)
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/tests-py/queries/graphql_mutation/custom_schema/insert_article_author.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author_returning.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles_empty.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/insert/nested/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/insert/views/nested_insert_article_author_simple_view.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server

#3823 console: permission builder fixes
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Services/Data/RawSQL/utils.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console 🖥️

#3779 fix JWK expiry time parsing from header on startup behaviour (fix #3655)
  .circleci/test-server.sh
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
  console/src/components/Services/ApiExplorer/utils.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
  docs/graphql/manual/auth/authentication/jwt.rst
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/JWT/Logging.hs
  server/tests-py/jwk_server.py
Labels: c/server, s/wip

#3041 Accept query params for filter/sort in browse table page (close #833)
  console/package-lock.json
  console/package.json
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
Labels: c/console 🖥️, community-contrib 🙏🏽

#3833 fix update event trigger & dropping triggers on `run_sql` (fix #3803, #3784)
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
Labels: c/server

#3760 Add downgrade command (close #1156)
  docs/graphql/manual/deployment/downgrading.rst
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-rsr/migrations/13_to_12.sql
  server/src-rsr/migrations/14_to_13.sql
  server/src-rsr/migrations/15_to_14.sql
  server/src-rsr/migrations/16_to_15.sql
  server/src-rsr/migrations/17_to_16.sql
  server/src-rsr/migrations/18_to_17.sql
  server/src-rsr/migrations/19_to_18.sql
  server/src-rsr/migrations/20_to_19.sql
  server/src-rsr/migrations/21_to_20.sql
  server/src-rsr/migrations/22_to_21.sql
  server/src-rsr/migrations/23_to_22.sql
  server/src-rsr/migrations/24_to_23.sql
  server/src-rsr/migrations/25_to_24.sql
  server/src-rsr/migrations/26_to_25.sql
  server/src-rsr/migrations/27_to_26.sql
  server/src-rsr/migrations/28_to_27.sql
  server/src-rsr/migrations/29_to_28.sql
  server/src-rsr/migrations/30_to_29.sql
  server/src-test/Hasura/Server/MigrateSpec.hs
Labels: c/server

#3861 fix casting citext column type (fix #2818)
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_query/basic/select_query_person_citext.yaml
  server/tests-py/queries/graphql_query/basic/setup.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server

#3863 handle invalid keys in permission builder
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
Labels: c/console 🖥️

#3876 cli: update installation instructions in the readme (fix #3875)
  cli/README.md
Labels: c/cli ⌨️

#3804 Add check expresion to update permissions (close #384)
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/queries/graphql_mutation/update/permissions/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_cannot_publish.yaml
  server/tests-py/queries/v1/metadata_order/clear_export_metadata.yaml
  server/tests-py/queries/v1/metadata_order/export_metadata.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server

#3818 translation(readme): add korean
  README.md
  translations/README.korean.md
  translations/README.md
Labels: c/community 🌈, community-contrib 🙏🏽

#3888 show pre-release notifications on console with opt out option
  console/src/client.js
  console/src/components/App/App.js
  console/src/components/Common/utils/localStorageUtils.js
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Main/State.js
  console/src/components/Services/About/About.js
  console/src/helpers/versionUtils.js
  console/src/telemetry/Actions.js
  console/src/telemetry/Notifications.js
Labels: c/console 🖥️

#3895 adds postgres password to docker-compose setup (fix #3894)
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
Labels: community-contrib 🙏🏽

#3930 fix new release notification logic
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
Labels: c/console 🖥️

#3942 cli: misc fixes related to actions
  .circleci/config.yml
  cli/commands/migrate_create.go
  cli/migrate/migrate.go
Labels: c/cli ⌨️

#3951 cli: bug fixes related to actions
  .circleci/config.yml
  .circleci/deploy.sh
  .circleci/extension-cli-builder.dockerfile
  cli-ext/Makefile
  cli-ext/package.json
  cli-ext/scripts/generate-manifest.sh
  cli-ext/scripts/manifest.yaml
  cli/metadata/actions/actions.go
  cli/metadata/allowlist/allow_list.go
  cli/metadata/functions/functions.go
  cli/metadata/querycollections/query_collections.go
  cli/metadata/remoteschemas/remote_schemas.go
  cli/metadata/tables/tables.go
Labels: c/cli ⌨️

#3953 update actions docs
  docs/graphql/manual/actions/action-handlers.rst
  docs/graphql/manual/actions/codegen.rst
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/derive.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/actions/types/index.rst
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/mutations/insert.rst
  docs/img/graphql/manual/actions/actions-derive-button.png
  docs/img/graphql/manual/actions/actions-derive-codegen.png
  docs/img/graphql/manual/actions/actions-derive-types.png
  docs/img/graphql/manual/actions/cli-framework-prompt.png
  docs/img/graphql/manual/actions/cli-output-dir-prompt.png
  docs/img/graphql/manual/actions/cli-starter-kit-prompt.png
  docs/img/graphql/manual/actions/console-codegen-tab.png
Labels: c/actions 🎬

#3880 Added reference to QualifiedTable to table args
  docs/graphql/manual/api-reference/schema-metadata-api/event-triggers.rst
Labels: c/docs 📄, community-contrib 🙏🏽
