Repository hasura/graphql-engine, pull requests merged in 2020-05, with the labels that each got.

#4634 console: remove nonworking in safari prod build css property
  console/src/components/Common/TableCommon/Table.scss
Labels: c/console, no-changelog-required

#4636 console: fix data browser css issue in safari (close #4632) (#4634)
  console/src/components/Common/TableCommon/Table.scss
Labels: c/console, no-changelog-required

#4628 console: update @babel/core and @babel/preset-env
  console/package-lock.json
  console/package.json
Labels: c/console, no-changelog-required

#4639 docs: update migrations docs
  docs/graphql/manual/migrations/basics.rst
  docs/graphql/manual/migrations/upgrade-v2.rst
Labels: c/docs, no-changelog-required

#4574 docs: update telemetry opt-out docs
  docs/graphql/manual/guides/telemetry.rst
Labels: c/docs, no-changelog-required

#4563 readme: update badges (close #4225)
  README.md
Labels: c/community, community-contrib 🙏🏽, no-changelog-required

#4663 docs: fix action handler example
  docs/graphql/manual/actions/action-handlers.rst
Labels: c/docs, no-changelog-required

#4626 cli: include new commands in help text (fix #4623)
  CHANGELOG.md
  cli/commands/help.go
Labels: c/cli, community-contrib 🙏🏽

#4649 docs: update image paths
  docs/graphql/manual/actions/action-connect.rst
  docs/graphql/manual/actions/action-permissions.rst
  docs/graphql/manual/actions/codegen.rst
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/derive.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/auth/authentication/index.rst
  docs/graphql/manual/auth/authentication/jwt.rst
  docs/graphql/manual/auth/authentication/webhook.rst
  docs/graphql/manual/auth/authorization/basics.rst
  docs/graphql/manual/auth/authorization/common-roles-auth-examples.rst
  docs/graphql/manual/auth/authorization/index.rst
  docs/graphql/manual/auth/authorization/modeling-roles.rst.wip
  docs/graphql/manual/auth/authorization/permission-rules.rst
  docs/graphql/manual/auth/authorization/reference-permissions.rst.wip
  docs/graphql/manual/auth/authorization/role-multiple-rules.rst
  docs/graphql/manual/auth/authorization/roles-variables.rst
  docs/graphql/manual/auth/authorization/use-cases.rst.wip
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/business-logic/index.rst.wip
  docs/graphql/manual/deployment/heroku/securing-graphql-endpoint.rst
  docs/graphql/manual/deployment/heroku/using-existing-heroku-database.rst
  docs/graphql/manual/deployment/production-checklist.rst
  docs/graphql/manual/event-triggers/create-trigger.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/event-triggers/invoke-trigger-console.rst
  docs/graphql/manual/getting-started/first-event-trigger.rst
  docs/graphql/manual/getting-started/first-graphql-query.rst
  docs/graphql/manual/getting-started/heroku-simple.rst
  docs/graphql/manual/getting-started/index.rst
  docs/graphql/manual/guides/data-modelling/soft-deletes.rst
  docs/graphql/manual/guides/deployment/render-one-click.rst
  docs/graphql/manual/guides/integrations/auth-guardian-jwt.rst
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
  docs/graphql/manual/how-it-works/metadata-schema.rst
  docs/graphql/manual/remote-schemas/index.rst
  docs/graphql/manual/schema/basics.rst
  docs/graphql/manual/schema/computed-fields.rst
  docs/graphql/manual/schema/custom-field-names.rst
  docs/graphql/manual/schema/data-validations.rst
  docs/graphql/manual/schema/default-values/column-presets.rst
  docs/graphql/manual/schema/default-values/postgres-defaults.rst
  docs/graphql/manual/schema/default-values/sql-functions.rst
  docs/graphql/manual/schema/enums.rst
  docs/graphql/manual/schema/relationships/create.rst
  docs/graphql/manual/troubleshooting/index.rst
Labels: c/docs, no-changelog-required

#4409 docs(cli/installation): add additional info
  docs/graphql/manual/hasura-cli/install-hasura-cli.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#4680 tag release v1.2.1
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#4692 console: optimise count fetch in data browser
  CHANGELOG.md
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/constants.js
Labels: c/console

#4693 console: optimise count fetch in data browser (#4692)
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/constants.js
Labels: no-changelog-required

#4698 cli: fix docs failing to build (close #4637)
  cli/commands/docs.go
Labels: c/cli, no-changelog-required

#4711 docs: add google tag manager
  docs/_theme/djangodocs/basic/layout.html
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#4731 add commit step to upgrading on heroku
  docs/graphql/manual/deployment/heroku/updating.rst
Labels: c/docs, no-changelog-required

#4728 docs: update cli docs
  docs/graphql/manual/hasura-cli/hasura.rst
  docs/graphql/manual/hasura-cli/hasura_actions.rst
  docs/graphql/manual/hasura-cli/hasura_actions_codegen.rst
  docs/graphql/manual/hasura-cli/hasura_actions_create.rst
  docs/graphql/manual/hasura-cli/hasura_actions_use-codegen.rst
  docs/graphql/manual/hasura-cli/hasura_completion.rst
  docs/graphql/manual/hasura-cli/hasura_console.rst
  docs/graphql/manual/hasura-cli/hasura_init.rst
  docs/graphql/manual/hasura-cli/hasura_metadata.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_apply.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_clear.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_diff.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_export.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_inconsistency.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_inconsistency_drop.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_inconsistency_list.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_inconsistency_status.rst
  docs/graphql/manual/hasura-cli/hasura_metadata_reload.rst
  docs/graphql/manual/hasura-cli/hasura_migrate.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_apply.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_create.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_squash.rst
  docs/graphql/manual/hasura-cli/hasura_migrate_status.rst
  docs/graphql/manual/hasura-cli/hasura_plugins.rst
  docs/graphql/manual/hasura-cli/hasura_plugins_install.rst
  docs/graphql/manual/hasura-cli/hasura_plugins_list.rst
  docs/graphql/manual/hasura-cli/hasura_plugins_uninstall.rst
  docs/graphql/manual/hasura-cli/hasura_plugins_upgrade.rst
  docs/graphql/manual/hasura-cli/hasura_scripts.rst
  docs/graphql/manual/hasura-cli/hasura_scripts_update-config-v2.rst
  docs/graphql/manual/hasura-cli/hasura_scripts_update-project-v2.rst
  docs/graphql/manual/hasura-cli/hasura_update-cli.rst
  docs/graphql/manual/hasura-cli/hasura_version.rst
  docs/graphql/manual/hasura-cli/index.rst
Labels: c/cli, c/docs, no-changelog-required

#4675 docs: Add example for nested objects do not exist
  docs/graphql/manual/queries/query-filters.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#4284 docs: add section on actions vs remote schemas (close #4093)
  CHANGELOG.md
  docs/graphql/manual/actions/index.rst
Labels: c/docs

#4685 docs: fix wrong info of excluding scheme in CORS config
  CHANGELOG.md
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
Labels: c/docs

#4679 console: modify default value for PK fix #4075
  CHANGELOG.md
  console/cypress/integration/data/modify/spec.js
  console/cypress/integration/data/modify/test.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
Labels: c/console, community-contrib 🙏🏽

#4739 docs: fix link in heroku deployment index
  docs/graphql/manual/deployment/heroku/index.rst
Labels: c/docs, no-changelog-required

#4669 console: fix checkbox for forwarding client headers in actions (close #4595)
  CHANGELOG.md
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Common/components/HeaderConfEditor.js
  console/src/components/Services/Actions/Modify/ActionEditor.js
Labels: c/console

#4539 docs: remove ids from mutation examples
  docs/graphql/manual/api-reference/postgresql-types.rst
  docs/graphql/manual/getting-started/first-graphql-query.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/multiple-mutations.rst
  docs/graphql/manual/mutations/upsert.rst
  docs/graphql/manual/schema/basics.rst
  docs/graphql/manual/schema/default-values/postgres-defaults.rst
  docs/graphql/manual/schema/relationships/database-modelling/many-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-many.rst
  docs/graphql/manual/schema/relationships/database-modelling/one-to-one.rst
  docs/img/graphql/manual/schema/default-value-response.png
Labels: c/docs, no-changelog-required

#4742 console: restore partial support for foreign tables (fix #4714)
  CHANGELOG.md
  console/src/components/Services/Data/utils.js
Labels: c/console

#4730 docs: change wording of security & vulnerability reporting guide
  docs/graphql/manual/security-disclosure/index.rst
Labels: c/docs, no-changelog-required

#3693 docs: add page on query performance (close #2316)
  CHANGELOG.md
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/queries/performance.rst
  docs/graphql/manual/queries/variables-aliases-fragments-directives.rst
  docs/img/graphql/manual/queries/analyze-query.png
  docs/img/graphql/manual/queries/query-analysis-after-index.png
  docs/img/graphql/manual/queries/query-analysis-before-index.png
  docs/img/graphql/manual/queries/query-execution-plan-after-index.png
  docs/img/graphql/manual/queries/query-execution-plan.png
Labels: c/docs

#4551 server: multiple subscriptions && `_st_d_within` in subscriptions (fix #3239)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Validate.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geography_to_geometry.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geometry_to_geography.yaml
  server/tests-py/queries/graphql_query/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/validate.py
Labels: c/server

#4624 server: avoid code duplication using type classes
  server/graphql-engine.cabal
  server/src-bench-cache/Main.hs
  server/src-lib/Hasura/Cache.hs
  server/src-lib/Hasura/Cache/Bounded.hs
  server/src-lib/Hasura/Cache/Types.hs
  server/src-lib/Hasura/Cache/Unbounded.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Plan.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
Labels: c/server, no-changelog-required

#4741 server: use a new version of graphql-parser-hs to avoid loss of precision
  CHANGELOG.md
  server/cabal.project
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_mutation/update/basic/numerics_inc.yaml
Labels: c/server

#4758 docs: banner stripe update in docs
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/img/layout/close.svg
  docs/img/layout/hasura-con.svg
  docs/img/layout/stripe.png
Labels: c/docs, no-changelog-required

#4768 docs: github button fixes
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#4750 console: display rows limit in permissions editor if set to zero (fix #4559)
  CHANGELOG.md
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

#4545 console: add trim to colname input values
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4579 Migrate TelemetryFilter file to TS.
  console/src/telemetryFilter.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4562 console: migrate WarningSymbol and TextInput to TypeScript #4314
  console/src/components/Common/TextInput/TextInput.js
  console/src/components/Common/TextInput/TextInput.tsx
  console/src/components/Common/WarningSymbol/WarningSymbol.tsx
  console/src/declaration.d.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4532 Migrated Common/Modal to Typescript
  console/package-lock.json
  console/package.json
  console/src/components/Common/Modal/Modal.tsx
  console/src/components/Common/Toggle/Toggle.tsx
  console/src/declaration.d.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4673 console: update selected rows state after single row delete (close #4654)
  CHANGELOG.md
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/insert-browse/test.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/utils.ts
Labels: c/console

#4641 console: migrate HTML helpers, route hooks helpers and version utils to TypeScript
  console/.eslintrc
  console/bin/server.babel.js
  console/package-lock.json
  console/package.json
  console/src/helpers/Html.js
  console/src/helpers/Html.tsx
  console/src/helpers/makeRouteHooksSafe.ts
  console/src/helpers/versionUtils.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4600 add more themes to ace editor for supporting syntax highlighting for more codegens
  console/src/components/Common/AceEditor/JavaScriptEditor.js
  console/src/components/Common/AceEditor/SDLEditor.js
  console/src/components/Common/AceEditor/TypescriptEditor.js
  console/src/components/Common/AceEditor/utils.js
  console/src/components/Services/Actions/Codegen/CodeTabs.js
  console/src/components/Services/Actions/Codegen/DerivedFrom.js
  console/src/components/Services/Actions/Codegen/utils.js
  console/src/components/Services/Actions/Common/components/ActionDefinitionEditor.js
  console/src/components/Services/Actions/Common/components/TypeDefinitionEditor.js
  console/src/components/Services/Actions/constants.js
Labels: c/console, no-changelog-required

#4682 console: don't overwrite default value in boolean selector
  CHANGELOG.md
  console/src/components/Services/Data/Common/Components/TypedInput.js
Labels: c/console

#4565 Correct tic-tac-toe game port and bug
  community/sample-apps/tic-tac-toe-react/README.md
  community/sample-apps/tic-tac-toe-react/remote-schema/index.js
Labels: c/community, community-contrib 🙏🏽, no-changelog-required

#4799 console: fix undercores not being displayed in raw sql (close #4754)
  CHANGELOG.md
  console/src/components/Services/Data/RawSQL/AceEditorFix.css
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console

#4710 docs: a sample Caddyfile for Caddy 2
  CHANGELOG.md
  docs/graphql/manual/deployment/enable-https.rst
Labels: c/docs, community-contrib 🙏🏽

#4625 document 'update_by_pk' and 'delete_by_pk' examples (close #4622)
  CHANGELOG.md
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/api-reference/schema-metadata-api/table-view.rst
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/update.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/queries/query-filters.rst
Labels: c/docs

#4661 server: use reusability more, reuse introspection queries less (fix #4547)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Resolve/InputValue.hs
  server/src-lib/Hasura/GraphQL/Resolve/Introspect.hs
  server/tests-py/queries/graphql_query/caching/introspection.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server

#4800 flush logger on shutdown
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
Labels: c/server

#4715 docs: add disabling dev mode to production checklist
  CHANGELOG.md
  docs/graphql/manual/actions/debugging.rst
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/manual/deployment/graphql-engine-flags/index.rst
  docs/graphql/manual/deployment/production-checklist.rst
Labels: c/docs

#4463 cli-ext: setup linting and prettification (close #4364)
  cli-ext/.eslintrc
  cli-ext/package-lock.json
  cli-ext/package.json
  cli-ext/src/command.js
  cli-ext/src/constants.js
  cli-ext/src/services/actions-codegen/codegen.js
  cli-ext/src/services/actions-codegen/command.js
  cli-ext/src/services/actions-codegen/handler.js
  cli-ext/src/services/actions-codegen/index.js
  cli-ext/src/services/actions-codegen/template.js
  cli-ext/src/services/index.js
  cli-ext/src/services/sdl/command.js
  cli-ext/src/services/sdl/from/command.js
  cli-ext/src/services/sdl/from/handler.js
  cli-ext/src/services/sdl/index.js
  cli-ext/src/services/sdl/to/command.js
  cli-ext/src/services/sdl/to/handler.js
  cli-ext/src/utils/commandUtils.js
  cli-ext/src/utils/utils.js
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, s/ok-to-merge

#4504 Migrate switch button and spinner to TypeScript
  console/src/components/UIKit/atoms/Box/index.ts
  console/src/components/UIKit/atoms/Spinner/Spinner.js
  console/src/components/UIKit/atoms/Spinner/Spinner.ts
  console/src/components/UIKit/atoms/Spinner/index.tsx
  console/src/components/UIKit/atoms/SwitchButton/SwitchButton.ts
  console/src/components/UIKit/atoms/SwitchButton/index.tsx
  console/src/declaration.d.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4734 Migrate VoyagerView to TS
  console/package-lock.json
  console/package.json
  console/src/components/Services/VoyagerView/VoyagerView.js
  console/src/components/Services/VoyagerView/VoyagerView.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4831 docs: update security protocol page title
  docs/graphql/manual/index.rst
  docs/graphql/manual/security-disclosure/index.rst
Labels: c/docs, no-changelog-required

#4828 Info on custom Docker images or a binary for GraphQL engine
  CHANGELOG.md
  docs/graphql/manual/deployment/custom-docker-images.rst
  docs/graphql/manual/deployment/index.rst
Labels: c/docs

#4825 docs: troubleshooting section revamp (close #4052)
  CHANGELOG.md
  docs/graphql/manual/troubleshooting/index.rst
Labels: c/docs

#4827 docs: improve wording on enum docs (close #4406)
  docs/graphql/manual/schema/enums.rst
Labels: c/docs, no-changelog-required

#4834 docs: add note to permissions about hasura roles vs. postgres roles (close #4514)
  docs/graphql/manual/auth/authorization/index.rst
Labels: c/docs, no-changelog-required

#4814 Remove erroneous underscore from enabled API docs
  docs/graphql/manual/deployment/production-checklist.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#4822 docs: add docs for AWS Cognito
  CHANGELOG.md
  docs/graphql/manual/guides/integrations/aws-cognito.rst
  docs/img/graphql/manual/guides/cognito-app-client-settings.png
  docs/img/graphql/manual/guides/cognito-jwt.png
  docs/img/graphql/manual/guides/cognito-lambda.png
  docs/img/graphql/manual/guides/cognito-launch-hosted-ui.png
  docs/img/graphql/manual/guides/cognito-login.png
  docs/img/graphql/manual/guides/cognito-redirect.png
  docs/img/graphql/manual/guides/cognito-triggers-1.png
  docs/img/graphql/manual/guides/cognito-triggers-2.png
Labels: c/docs

#4120 rfc: admin-only/backend-only insert permissions
  rfcs/reuse-insert-permission-in-action.md
Labels: c/actions, c/server

#4743 docs: improve actions documentation
  CHANGELOG.md
  docs/graphql/manual/actions/action-examples.rst.wip
  docs/graphql/manual/actions/action-handlers.rst
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/actions/reuse-types-actions.rst
  docs/graphql/manual/actions/types/index.rst
  docs/img/graphql/manual/actions/action-array-relationship.png
  docs/img/graphql/manual/actions/action-object-relationship.png
  docs/img/graphql/manual/actions/action-secret-header.png
  docs/img/graphql/manual/actions/update-address-action-definition.png
  docs/img/graphql/manual/actions/update-author-action-definition.png
Labels: c/docs

#4845 docs: banner stripe content update
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#4882 cli: fix upgrade scripts bug
  cli/commands/scripts_update_config_v2.go
Labels: c/cli, k/bug, no-changelog-required

#4886 remove redundant content from community directory
  community/action-scaffolders/nodejs-zeit.js
  community/action-scaffolders/typescript-express.js
  community/action-scaffolders/typescript-zeit.js
Labels: no-changelog-required, s/ok-to-merge

#4570 console: migrate button to TypeScript
  console/src/components/UIKit/atoms/Button/Button.js
  console/src/components/UIKit/atoms/Button/Button.ts
  console/src/components/UIKit/atoms/Button/index.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4724 Convert `Container.js` to TypeScript
  console/src/components/Services/Settings/Container.js
  console/src/components/Services/Settings/Container.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4677 console: fix dependency vulnerabilities
  console/package-lock.json
  console/package.json
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Labels: c/console, no-changelog-required

#4848 console: add help button and move about page to settings
  CHANGELOG.md
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Services/About/About.scss
  console/src/components/Services/Settings/About/About.js
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.js
  console/src/components/Services/Settings/Logout/Logout.js
  console/src/components/Services/Settings/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/components/Services/Settings/Sidebar.js
  console/src/routes.js
Labels: c/console

#4909 console: add Help button and move About page to settings (#4848)
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Services/About/About.scss
  console/src/components/Services/Settings/About/About.js
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.js
  console/src/components/Services/Settings/Logout/Logout.js
  console/src/components/Services/Settings/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/components/Services/Settings/Sidebar.js
  console/src/routes.js
Labels: c/console, no-changelog-required

#4915 Fixes dead link in docs - close #4914
  docs/graphql/manual/auth/authentication/webhook.rst
Labels: no-changelog-required

#4918 docs: remove github stars section
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#4819 console: remove deprecated better-npm-run
  console/package-lock.json
  console/package.json
Labels: c/console, no-changelog-required

#4810 console: fix visiting view modify page overwriting raw sql content
  CHANGELOG.md
  console/cypress/integration/data/raw-sql/spec.ts
  console/src/components/Common/Alert/index.tsx
  console/src/components/Common/Button/Button.tsx
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/RawSQL/molecules/NotesSection.tsx
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableModify/ViewDefinitions.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/PlaceHolder.tsx
Labels: c/console

#4775 console: allow entering big int values in the console
  CHANGELOG.md
  console/src/components/Services/Data/TableInsertItem/InsertActions.js
Labels: c/console

#4449 require async globals before render; track runtime errors
  console/src/Globals.js
  console/src/client.js
  console/src/components/App/Actions.js
  console/src/components/App/App.js
  console/src/components/Common/Button/Button.tsx
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Main/Actions.js
  console/src/components/Services/ApiExplorer/Derive/DeriveButton.js
  console/src/components/Services/Settings/MetadataOptions/ImportMetadata.js
  console/src/constants.js
  console/src/routes.js
  console/src/telemetry/Actions.js
  console/src/telemetry/filters.ts
  console/src/telemetry/index.ts
  console/src/types.ts
  console/src/utils/requestAction.js
Labels: c/console, k/enhancement, no-changelog-required

#4501 workflow: add lint and format action
  .github/workflows/lint.yml
  console/README.md
  console/package-lock.json
  console/package.json
  console/scripts/preCommit.js
Labels: c/console, mq/merge-failed, mq/queue-for-merge, no-changelog-required

#4933 add no-changelog-required note to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog-required

#4920 console: remote joins code review fixes
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/RemoteRelationships.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/ArgElement.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/FieldElement.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditor.tsx
Labels: c/console, no-changelog-required

#4697 console: migrate CollapsibleToggle to typescript
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4542 Migrate to ts: ErrorBoundary
  console/src/components/Error/ErrorBoundary.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌
