Repository hasura/graphql-engine, pull requests merged in 2020-04, with the labels that each got.

#4057 community(sample-apps): update firebase-jwt functions
  community/sample-apps/firebase-jwt/functions/index.js
Labels: c/community 🌈, community-contrib 🙏🏽, no-changelog-required

#4209 Add One-Click Render Deploy Doc (close #3683)
  CHANGELOG.md
  README.md
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/deployment/render-one-click.rst
  docs/img/graphql/manual/deployment/deploy-to-render-hasura-header.png
  docs/img/graphql/manual/deployment/deploy-to-render-hasura-iac.png
Labels: c/docs, community-contrib 🙏🏽

#4264 console: fix rendering object values in data browser
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
Labels: c/console, no-changelog-required

#4208 ci: fix console hot-fix releases
  .circleci/config.yml
  .circleci/deploy.sh
  scripts/get-console-assets-version.sh
Labels: c/build-system, no-changelog-required

#4122 include postgres version of the database while sending telemetry data
  console/src/components/Common/Headers/Headers.js
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Actions/Relationships/Relationships.js
  console/src/components/Services/Actions/ServerIO.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
  console/src/components/Services/Settings/Actions.js
  console/src/components/Services/Settings/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Settings/MetadataOptions/ReloadMetadata.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Telemetry.hs
Labels: no-changelog-required

#4266 fix unnecessary schema update event in run_sql API
  server/src-lib/Hasura/Server/Query.hs
Labels: no-changelog-required

#4250 server: prevent metadata checks in read-only mode
  server/cabal.project.freeze
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/Schema.hs
  server/src-lib/Hasura/RQL/Instances.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/tests-py/queries/v1/run_sql/setup.yaml
  server/tests-py/queries/v1/run_sql/sql_select_query_read_only.yaml
  server/tests-py/queries/v1/run_sql/teardown.yaml
  server/tests-py/test_v1_queries.py
Labels: no-changelog-required

#4241 ci: use hub instead of ghr for releases
  .circleci/config.yml
  .circleci/deploy.sh
  .circleci/deployer.dockerfile
Labels: c/build-system, no-changelog-required

#4255 console: allow customising exposed column names of views (close #3689)
  CHANGELOG.md
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TableModify/ModifyView.js
  console/src/components/Services/Data/TableModify/utils.js
Labels: c/console, k/enhancement

#4275 cli: add assetsPath in unversioned console html (close #4274)
  CHANGELOG.md
  cli/assets/assets.go
  cli/assets/unversioned/console.html
Labels: c/cli, k/bug

#4277 console: fix clone permission migrations (close #3985)
  CHANGELOG.md
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

#4272 persist mutations with appropriate action name
  cli-ext/src/services/sdl/to/handler.js
  console/src/components/Common/utils/routesUtils.js
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Add/reducer.js
  console/src/components/Services/Actions/Add/state.js
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Codegen/utils.js
  console/src/components/Services/Actions/ServerIO.js
  console/src/components/Services/Actions/lsUtils.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/shared/utils/deriveAction.js
Labels: c/cli, c/console, k/bug, no-changelog-required

#4285 make the arguments field optional in ActionDefinition
  docs/graphql/manual/api-reference/schema-metadata-api/actions.rst
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
Labels: no-changelog-required

#4286 console: keep entire graphiql in the viewport
  console/src/components/Common/Common.scss
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Labels: c/console, no-changelog-required

#3412 server: add more info about server to config api
  docs/graphql/manual/api-reference/config.rst
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Config.hs
Labels: c/server, no-changelog-required

#3753 browse table improvements (#3390)
  CHANGELOG.md
  console/src/components/Common/TableCommon/DragFoldTable.js
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Common/TableCommon/foldableTable/index.jsx
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Login/Login.js
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/localStorageUtils.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Settings/Logout/Logout.js
Labels: c/console

#4137 console: fix linter config
  console/.eslintrc
  console/.prettierignore
  console/package-lock.json
  console/package.json
  console/src/client.js
  console/src/components/Common/Headers/Headers.js
  console/src/components/Common/TableCommon/foldableTable/index.jsx
  console/src/components/Services/Actions/Common/utils.js
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Actions/Relationships/Relationships.js
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableRelationships/ManualRelationshipSelector.js
  console/src/components/Services/EventTrigger/Add/AddTrigger.js
  console/src/components/Services/EventTrigger/Common/InvokeManualTrigger/InvokeManualTrigger.js
  console/src/components/Services/EventTrigger/Landing/EventTrigger.js
  console/src/components/Services/EventTrigger/Modify/HeadersEditor.js
  console/src/components/Services/EventTrigger/Modify/OperationEditor.js
  console/src/components/Services/EventTrigger/Modify/RetryConfEditor.js
  console/src/components/Services/EventTrigger/PendingEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewRows.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/RunningEvents/FilterQuery.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewTable.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
  console/src/components/Services/RemoteSchema/RemoteSchemaPageContainer.js
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.js
  console/src/components/Services/Settings/MetadataOptions/MetadataOptions.js
  console/src/components/Services/Settings/MetadataOptions/ReloadMetadata.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/utils/data.js
Labels: no-changelog-required

#4290 console: set allowJs compiler flag for type checker
  console/package-lock.json
  console/package.json
  console/src/declaration.d.ts
  console/webpack/dev.config.js
  console/webpack/prod.config.js
Labels: c/console, no-changelog-required

#4087 add json example in query docs
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/queries/simple-object-queries.rst
Labels: c/docs, no-changelog-required

#4150 cli: refactor console command
  cli/Makefile
  cli/assets/assets.go
  cli/commands/actions_codegen.go
  cli/commands/actions_create.go
  cli/commands/console.go
  cli/commands/docs.go
  cli/commands/metadata_apply.go
  cli/commands/metadata_clear.go
  cli/commands/metadata_diff.go
  cli/commands/metadata_export.go
  cli/commands/metadata_inconsistency_drop.go
  cli/commands/metadata_inconsistency_list.go
  cli/commands/metadata_reload.go
  cli/commands/migrate.go
  cli/commands/migrate_apply.go
  cli/commands/migrate_create.go
  cli/commands/migrate_squash.go
  cli/commands/migrate_status.go
  cli/commands/scripts_update_config_v2.go
  cli/go.mod
  cli/go.sum
  cli/migrate/migrate.go
  cli/migrate/util.go
  cli/pkg/console/apiserver.go
  cli/pkg/console/consoleserver.go
  cli/pkg/console/serve.go
  cli/pkg/console/template.go
  cli/pkg/console/template_test.go
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  cli/pkg/console/templates/packed/pkged.go
  cli/util/template.go
  cli/version/console.go
Labels: c/cli, no-changelog-required

#4269 console: decouple count query from fetch data query
  CHANGELOG.md
  console/src/components/Common/Spinner/Spinner.js
  console/src/components/Common/TableCommon/DragFoldTable.js
  console/src/components/Common/utils/v1QueryUtils.js
  console/src/components/Services/Data/TableBrowseRows/FilterActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/utils.js
Labels: c/console

#4320 cli: update makefile to include pkger
  cli/Makefile
Labels: no-changelog-required

#4135 cli: add support for multiple versions of plugin (close #4105)
  CHANGELOG.md
  cli/commands/plugins_install.go
  cli/commands/plugins_list.go
  cli/commands/plugins_upgrade.go
  cli/commands/scripts_update_config_v2.go
  cli/go.mod
  cli/metadata/actions/actions.go
  cli/plugins/paths/paths.go
  cli/plugins/plugins.go
  cli/plugins/scanner.go
  cli/plugins/types.go
  cli/util/flags.go
Labels: c/cli

#4319 cli: remove migration files if api returns error (close #4312)
  CHANGELOG.md
  cli/migrate/api/migrate.go
Labels: c/cli

#2175 add a haskell code style guide
  server/STYLE.md
Labels: c/server, no-changelog-required

#4294 Fixing vulnerability on Postgres DB handler that was exposing the database type
  CHANGELOG.md
  server/src-lib/Hasura/Db.hs
Labels: c/server, community-contrib 🙏🏽

#4174 cli: allow customization of server api paths (close #4016)
  CHANGELOG.md
  cli/cli.go
  cli/commands/scripts_update_config_v2.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/util.go
  cli/version/server.go
Labels: c/cli

#4326 cli: show env vars for the flags in command help (close #4263)
  cli/Makefile
  cli/cli.go
  cli/commands/actions.go
  cli/commands/actions_create.go
  cli/commands/console.go
  cli/commands/metadata.go
  cli/commands/migrate.go
  cli/commands/scripts_update_config_v2.go
  cli/util/viper.go
Labels: c/cli, no-changelog-required

#3901 Refactor initialisation and relax tx isolation levels where possible
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
Labels: c/server, no-changelog-required

#4316 cli: clarify flags on migrate create
  cli/commands/migrate_create.go
Labels: c/cli, c/docs, no-changelog-required

#4347 cli: refactor ec to allow setting hge api headers
  cli/cli.go
  cli/commands/console.go
  cli/migrate/util.go
Labels: no-changelog-required

#4336 console: set coookie policy for API calls to same-origin
  CHANGELOG.md
  console/src/Endpoints.js
  console/src/utils/requestAction.js
Labels: c/console

#4361 gh: make all hge-server team members code owners
  .github/CODEOWNERS
Labels: c/server, no-changelog-required

#4324 cli: event trigger retry_conf support to squash (close #4296)
  CHANGELOG.md
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
Labels: c/cli

#4273 ci: fix cli-migrations-v2 build process
  scripts/cli-migrations/v2/Dockerfile
Labels: c/build-system, no-changelog-required

#4280 cli: link cli-ext plugin with cli version (close #4105)
  .circleci/deploy.sh
  cli/cli.go
  cli/commands/plugins_install.go
  cli/commands/scripts_update_config_v2.go
  cli/integration_test/cli_test.go
  cli/metadata/actions/actions.go
  cli/metadata/actions/cli_extension/cli_extension.go
  cli/plugins/plugins.go
  cli/plugins/util.go
Labels: c/build-system, c/cli, no-changelog-required

#4318 console, cli, cli-ext: query support for actions (close #4032)
  CHANGELOG.md
  cli-ext/src/services/sdl/to/handler.js
  cli/go.mod
  cli/go.sum
  cli/integration_test/v2/metadata/1_metadata/actions.graphql
  cli/integration_test/v2/metadata/2_metadata/actions.graphql
  cli/metadata/actions/actions.go
  cli/metadata/actions/printer/printer.go
  cli/metadata/actions/types/types.go
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Common/components/ActionDefinitionEditor.js
  console/src/components/Services/Actions/Common/utils.js
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Actions/Modify/ActionEditor.js
  console/src/components/Services/Actions/Modify/utils.js
  console/src/components/Services/Actions/ServerIO.js
  console/src/components/Services/Actions/utils.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/shared/utils/deriveAction.js
  console/src/shared/utils/graphqlSchemaUtils.js
  console/src/shared/utils/sdlUtils.js
Labels: c/cli

#4389 recover from SDL parse in actions type definition editor (fix #4385)
  CHANGELOG.md
  console/src/components/Services/Actions/Common/components/TypeDefinitionEditor.js
Labels: c/console, k/bug

#4374 console: redirect to /:table/browse from /:table (close #4330)
  CHANGELOG.md
  console/src/components/Services/Data/DataRouter.js
Labels: c/console

#4398 cli: update docs to remove realize specific instructions
  cli/CONTRIBUTING.md
Labels: c/cli, no-changelog-required

#4214 unlock the locked events while scale-down (close #3548)
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Events/Lib.hs
Labels: c/event-triggers

#4395 cli(squash): add set_table_is_enum metadata type (close #4394)
  CHANGELOG.md
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
Labels: c/cli

#4396 ci: add tests for cli-migrations image
  .circleci/cli-migrations-builder.dockerfile
  .circleci/config.yml
  .circleci/deploy.sh
  cli/build/builder.dockerfile
  scripts/cli-migrations/Makefile
  scripts/cli-migrations/v1/test/docker-compose.yaml
  scripts/cli-migrations/v1/test/migrations/1586822388261_create_table_public_test/down.yaml
  scripts/cli-migrations/v1/test/migrations/1586822388261_create_table_public_test/up.yaml
  scripts/cli-migrations/v1/test/migrations/metadata.yaml
  scripts/cli-migrations/v1/test/test.sh
  scripts/cli-migrations/v1/test/validation/metadata.json
  scripts/cli-migrations/v1/test/validation/schema_migrations.json
  scripts/cli-migrations/v2/Dockerfile
  scripts/cli-migrations/v2/test/docker-compose.yaml
  scripts/cli-migrations/v2/test/metadata/actions.graphql
  scripts/cli-migrations/v2/test/metadata/actions.yaml
  scripts/cli-migrations/v2/test/metadata/allow_list.yaml
  scripts/cli-migrations/v2/test/metadata/functions.yaml
  scripts/cli-migrations/v2/test/metadata/query_collections.yaml
  scripts/cli-migrations/v2/test/metadata/remote_schemas.yaml
  scripts/cli-migrations/v2/test/metadata/tables.yaml
  scripts/cli-migrations/v2/test/metadata/version.yaml
  scripts/cli-migrations/v2/test/migrations/1586823136625_create_table_public_test/down.sql
  scripts/cli-migrations/v2/test/migrations/1586823136625_create_table_public_test/up.sql
  scripts/cli-migrations/v2/test/test.sh
  scripts/cli-migrations/v2/test/validation/metadata.json
  scripts/cli-migrations/v2/test/validation/schema_migrations.json
Labels: c/build-system, no-changelog-required

#4325 chore: convert theme files to typescript
  console/.eslintrc
  console/src/components/UIKit/index.tsx
  console/src/components/UIKit/theme/index.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4333 allow reusing Postgres scalars in custom types (close #4125)
  CHANGELOG.md
  console/src/components/Services/Actions/Common/utils.js
  console/src/shared/utils/deriveAction.js
  console/src/shared/utils/sdlUtils.js
  docs/graphql/manual/actions/types/index.rst
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/CustomTypes.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/CustomTypes.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-rsr/catalog_metadata.sql
  server/tests-py/queries/actions/custom-types/create_action_pg_scalar.yaml
  server/tests-py/queries/actions/custom-types/reuse_pgscalars.yaml
  server/tests-py/queries/actions/custom-types/reuse_unknown_pgscalar.yaml
  server/tests-py/queries/actions/custom-types/setup.yaml
  server/tests-py/queries/actions/custom-types/teardown.yaml
  server/tests-py/test_actions.py
Labels: c/actions, c/server

#4414 cli: add new headers to CORS Allowed list
  cli/pkg/console/apiserver.go
Labels: c/cli, no-changelog-required

#4323 console: persist page size in local storage
  CHANGELOG.md
  console/.eslintrc
  console/src/components/Services/Data/TableBrowseRows/FilterActions.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableBrowseRows/localStorageUtils.js
  console/src/components/Services/Data/TableBrowseRows/localStorageUtils.ts
Labels: c/console

#4420 Deduplicate tests in the GraphQL mutations test suite
  server/tests-py/test_graphql_mutations.py
Labels: no-changelog-required

#4421 cli: update makefile to set plugins branch ref
  cli/Makefile
  cli/plugins/plugins.go
  cli/util/git.go
Labels: c/cli, k/bug, no-changelog-required

#4426 community: fix typo in event trigger doc
  community/boilerplates/event-triggers/zeit-now/nodejs/echo/README.md
Labels: c/community, no-changelog-required

#4309 server(actions): add support for queries (close #4032)
  CHANGELOG.md
  docs/graphql/manual/actions/action-connect.rst
  docs/graphql/manual/actions/action-handlers.rst
  docs/graphql/manual/actions/async-actions.rst
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/derive.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/actions/types/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/actions.rst
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Telemetry.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/get_user_by_email_fail.yaml
  server/tests-py/queries/actions/sync/get_user_by_email_success.yaml
  server/tests-py/queries/actions/sync/get_users_by_email_success.yaml
  server/tests-py/queries/actions/sync/schema_setup.yaml
  server/tests-py/queries/actions/sync/schema_teardown.yaml
  server/tests-py/test_actions.py
Labels: c/actions, c/server

#4308 cli, console: actions dx improvements
  cli-ext/package.json
  cli/commands/actions_use_codegen.go
  cli/util/prompt.go
  console/src/components/Common/Common.scss
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Codegen/CodeTabs.js
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Codegen/utils.js
  console/src/components/Services/Actions/Common/components/ActionDefinitionEditor.js
  console/src/components/Services/Actions/Common/components/Styles.scss
  console/src/components/Services/Actions/Common/components/TypeDefinitionEditor.js
  console/src/components/Services/Actions/Common/stateDefaults.js
  console/src/components/Services/Actions/Common/utils.js
  console/src/components/Services/Actions/Modify/ActionEditor.js
  console/src/components/Services/Actions/Modify/utils.js
  console/src/components/Services/Actions/ServerIO.js
  console/src/components/Services/Actions/utils.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/UIKit/atoms/Icon/Icon.js
  console/src/components/UIKit/atoms/Icon/index.js
  console/src/shared/utils/deriveAction.js
  console/src/shared/utils/graphqlSchemaUtils.js
Labels: c/console, no-changelog-required

#4430 small fixes to changelog
  CHANGELOG.md
Labels: no-changelog-required

#4445 console: add possible undefined check
  CHANGELOG.md
  console/src/components/Common/utils/pgUtils.js
Labels: c/console

#4428 tag release v1.2.0-beta.4
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#4429 server: _inc numeric (fix #3573)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation/Update.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_mutation/update/basic/numerics_inc.yaml
  server/tests-py/queries/graphql_mutation/update/basic/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/update/basic/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/update/basic/values_setup.yaml
  server/tests-py/queries/graphql_query/basic/select_query_test_types.yaml
  server/tests-py/queries/graphql_query/basic/setup.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server

#4423 console: surround varchar, character (bpchar), char and name type value with single quotes (close #4371)
  CHANGELOG.md
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/utils.js
Labels: c/console, community-contrib 🙏🏽

#4412 skip server tests in PRs if there are no server changes
  .circleci/config.yml
Labels: c/build-system, no-changelog-required

#4450 docs: update sample action handler URLs
  docs/graphql/manual/actions/create.rst
Labels: c/docs, no-changelog-required

#3892 allow special characters in json path's property name (close #3890)
  CHANGELOG.md
  docs/graphql/manual/api-reference/graphql-api/query.rst
  server/src-lib/Data/Parser/JSONPath.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-test/Data/Parser/JSONPathSpec.hs
  server/tests-py/queries/graphql_query/basic/select_query_test_types.yaml
  server/tests-py/queries/graphql_query/basic/setup.yaml
  server/tests-py/queries/v1/select/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml
  server/tests-py/queries/v1/update/permissions/user_cannot_update_id_col_article.yaml
  server/tests-py/queries/v1/update/permissions/user_update_resident_preset_error.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, e/easy

#4443 console: change react ace editor theme to eclipse (close #4437)
  CHANGELOG.md
  console/src/components/Common/AceEditor/utils.js
Labels: c/console, k/enhancement

#4337 refresh the sample app realtime-poll
  community/sample-apps/realtime-poll/package.json
  community/sample-apps/realtime-poll/public/index.html
  community/sample-apps/realtime-poll/src/App.css
  community/sample-apps/realtime-poll/src/App.js
  community/sample-apps/realtime-poll/src/GraphQL.js
  community/sample-apps/realtime-poll/src/Poll.js
  community/sample-apps/realtime-poll/src/Result.js
  community/sample-apps/realtime-poll/src/Users.js
  community/sample-apps/realtime-poll/src/apollo.js
  community/sample-apps/realtime-poll/src/session.js
  community/sample-apps/realtime-poll/yarn.lock
Labels: c/community, community-contrib 🙏🏽, no-changelog-required

#4494 community: fix blog link in realtime chat app readme
  community/sample-apps/realtime-chat/README.md
Labels: c/community, no-changelog-required

#4462 Add API docs for `webhook_from_env`
  CHANGELOG.md
  docs/graphql/manual/api-reference/schema-metadata-api/event-triggers.rst
Labels: c/docs, community-contrib 🙏🏽

#4481 add additional tests for testing claims_namespace_path in JWT tokens
  .circleci/test-server.sh
  server/src-lib/Data/Parser/JSONPath.hs
  server/tests-py/validate.py
Labels: no-changelog-required

#4425 docs: link to pytest docs in the server test suite READMEs
  server/CONTRIBUTING.md
  server/tests-py/README.md
Labels: c/docs, no-changelog-required

#4363 introduce effective timeout in actions async tests
  server/tests-py/test_actions.py
Labels: c/server, c/tests 🧪, no-changelog-required

#4483 console: use querySelectorAll on a current ref
  CHANGELOG.md
  console/src/components/Common/TableCommon/DragFoldTable.js
Labels: c/console

#4452 server: add support for timestamps without timezone to graphql-engine (fix #1217)
  CHANGELOG.md
  server/src-lib/Hasura/SQL/Types.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_query/aggregations/article_agg_where.yaml
  server/tests-py/queries/graphql_query/aggregations/setup.yaml
Labels: c/server

#4433 console miscellaneous fixes
  CHANGELOG.md
  console/src/components/Common/InputChecker/InputChecker.js
  console/src/components/Common/Tooltip/Tooltip.js
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Common/utils/pgUtils.js
  console/src/components/Main/Main.js
  console/src/components/Services/Actions/Codegen/CodeTabs.js
  console/src/components/Services/Actions/Common/components/TypeDefinitionEditor.js
  console/src/components/Services/Data/Add/TableColumn.js
  console/src/components/Services/Data/DataState.js
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableCommon/TableHeader.js
  console/src/components/Services/Data/TableCommon/TableReducer.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console

#4435 server: avoid integer overflows (fix #576)
  CHANGELOG.md
  server/cabal.project
  server/src-lib/Hasura/GraphQL/Validate/InputValue.hs
  server/src-lib/Hasura/SQL/Value.hs
  server/tests-py/queries/graphql_mutation/insert/basic/insert_integer_overflow.yaml
  server/tests-py/queries/graphql_mutation/insert/basic/insert_various_postgres_types.yaml
  server/tests-py/test_graphql_mutations.py
Labels: c/server

#4427 docs: add a hint on avoiding recompilation during typical dev workflow
  server/CONTRIBUTING.md
Labels: c/docs, no-changelog-required

#4495 fix recreating action's permission (fix #4377)
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/tests-py/queries/actions/metadata/recreate_permission.yaml
  server/tests-py/queries/actions/metadata/setup.yaml
  server/tests-py/queries/actions/metadata/teardown.yaml
  server/tests-py/test_actions.py
Labels: c/actions, c/server

#4505 fix typo in query filters to match operator api
  docs/graphql/manual/queries/query-filters.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#4459 cli: spinner bug, add cli_environment in global config
  cli/cli.go
  cli/commands/actions_create.go
  cli/commands/plugins_install.go
  cli/global_config.go
  cli/plugins/plugins.go
  cli/util/git.go
  scripts/cli-migrations/v2/Dockerfile
Labels: c/cli, no-changelog-required

#4392 cli: add check_metadata_consistency for v2 workflow migrations
  cli/migrate/database/driver_test.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/database/hasuradb/metadata.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/metadata.go
  cli/migrate/migrate.go
  cli/migrate/util.go
Labels: c/cli, no-changelog-required

#4431 ci: add force flag while creating pull request using hub
  .circleci/deploy.sh
Labels: c/build-system, no-changelog-required

#4490 cli(test): fix cli init test to use initDir from subtest group
  .circleci/test-cli.sh
  cli/integration_test/v1/init.go
  cli/integration_test/v2/init.go
Labels: c/tests 🧪, no-changelog-required

#4373 chore: migrate checkbox, icon and radio button to TypeScript.
  console/.eslintrc
  console/package-lock.json
  console/package.json
  console/src/components/UIKit/atoms/Checkbox/Checkbox.ts
  console/src/components/UIKit/atoms/Checkbox/index.tsx
  console/src/components/UIKit/atoms/Icon/Icon.ts
  console/src/components/UIKit/atoms/Icon/index.tsx
  console/src/components/UIKit/atoms/RadioButton/RadioButton.ts
  console/src/components/UIKit/atoms/RadioButton/index.tsx
  console/src/components/UIKit/atoms/Typography/Typography.js
  console/src/components/UIKit/atoms/Typography/Typography.ts
  console/src/components/UIKit/atoms/Typography/index.tsx
  console/src/components/UIKit/demo/styles/index.ts
  console/tsconfig.json
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4491 cli(test): refactor integration test metadata directory
  .circleci/test-cli-with-last-release.sh
  cli/integration_test/v1/metadata.go
  cli/integration_test/v1/metadata/latest/1_metadata.yaml
  cli/integration_test/v1/metadata/latest/2_metadata.yaml
  cli/integration_test/v1/metadata/v1.1/1_metadata.yaml
  cli/integration_test/v1/metadata/v1.1/2_metadata.yaml
  cli/integration_test/v1/metadata_dir.go
  cli/integration_test/v1/metadata_dir_latest.go
  cli/integration_test/v2/metadata.go
  cli/integration_test/v2/metadata/latest/1_metadata/actions.graphql
  cli/integration_test/v2/metadata/latest/1_metadata/actions.yaml
  cli/integration_test/v2/metadata/latest/1_metadata/allow_list.yaml
  cli/integration_test/v2/metadata/latest/1_metadata/functions.yaml
  cli/integration_test/v2/metadata/latest/1_metadata/query_collections.yaml
  cli/integration_test/v2/metadata/latest/1_metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata/latest/1_metadata/tables.yaml
  cli/integration_test/v2/metadata/latest/1_metadata/version.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/actions.graphql
  cli/integration_test/v2/metadata/latest/2_metadata/actions.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/allow_list.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/functions.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/query_collections.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/tables.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/version.yaml
  cli/integration_test/v2/metadata/v1.1/1_metadata/allow_list.yaml
  cli/integration_test/v2/metadata/v1.1/1_metadata/functions.yaml
  cli/integration_test/v2/metadata/v1.1/1_metadata/query_collections.yaml
  cli/integration_test/v2/metadata/v1.1/1_metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata/v1.1/1_metadata/tables.yaml
  cli/integration_test/v2/metadata/v1.1/1_metadata/version.yaml
  cli/integration_test/v2/metadata/v1.1/2_metadata/allow_list.yaml
  cli/integration_test/v2/metadata/v1.1/2_metadata/functions.yaml
  cli/integration_test/v2/metadata/v1.1/2_metadata/query_collections.yaml
  cli/integration_test/v2/metadata/v1.1/2_metadata/remote_schemas.yaml
  cli/integration_test/v2/metadata/v1.1/2_metadata/tables.yaml
  cli/integration_test/v2/metadata/v1.1/2_metadata/version.yaml
  cli/integration_test/v2/metadata_dir.go
  cli/integration_test/v2/metadata_dir_latest.go
Labels: c/cli, c/tests 🧪, no-changelog-required

#3971 fix nested errors array in ws-server response log
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
Labels: c/server, e/easy, no-changelog-required

#4283 run_sql modifies the schema cache if the query is an DDL one
  server/src-lib/Hasura/RQL/DDL/Schema.hs
  server/src-lib/Hasura/Server/Query.hs
Labels: no-changelog-required

#4454 cli: add suport for .env file (fix #4129)
  CHANGELOG.md
  cli/cli.go
  cli/commands/root.go
  cli/go.mod
Labels: c/cli

#4416 cli: validate endpoint using ParseRequestURI (fix #4407)
  cli/cli.go
  cli/commands/init.go
Labels: c/cli, no-changelog-required

#4408 docs: add reference docs for cli (fix #4327)
  CHANGELOG.md
  docs/graphql/manual/hasura-cli/index.rst
  docs/graphql/manual/hasura-cli/reference.rst
Labels: c/cli, c/docs

#4521 make arguments field optional in ActionDefinition
  server/src-lib/Hasura/RQL/Types/Action.hs
Labels: no-changelog-required

#4502 docs: mapping of hasura operators - pg operators (close #4056)
  CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/queries/query-filters.rst
Labels: c/docs

#4530 preserve the selection set in derived action
  CHANGELOG.md
  console/src/shared/utils/deriveAction.js
Labels: c/console

#4455 fix relationships for custom object types with fields reusing Postgres scalars (fix #4447)
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/CustomTypes.hs
  server/tests-py/queries/actions/custom-types/list_type_relationship.yaml
  server/tests-py/queries/actions/custom-types/reuse_pgscalars.yaml
  server/tests-py/queries/actions/custom-types/setup.yaml
  server/tests-py/test_actions.py
Labels: c/server

#4527 fix intermittent errors occur when query actions used with variables
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/tests-py/queries/actions/sync/get_user_by_email_success.yaml
  server/tests-py/test_actions.py
Labels: no-changelog-required

#4432 improve debug information in actions errors response (close #4031)
  CHANGELOG.md
  docs/graphql/manual/actions/action-handlers.rst
  docs/graphql/manual/actions/debugging.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/manual/deployment/graphql-engine-flags/index.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Events/Lib.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/HTTP.hs
  server/src-lib/Hasura/RQL/DDL/Headers.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/API/PGDump.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Context.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-test/Hasura/Server/MigrateSpec.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/sync/expecting_array_response.yaml
  server/tests-py/queries/actions/sync/expecting_object_response.yaml
  server/tests-py/queries/actions/sync/invalid_webhook_response.yaml
  server/tests-py/queries/actions/sync/mirror_action_no_field.yaml
  server/tests-py/queries/actions/sync/mirror_action_not_null.yaml
  server/tests-py/queries/actions/sync/mirror_action_unexpected_field.yaml
  server/tests-py/test_actions.py
  server/tests-py/validate.py
Labels: c/actions, c/docs, c/server, s/has-breaking-changes

#4549 cli: remove irrelevant flags from init command (close #4508)
  CHANGELOG.md
  cli/commands/init.go
  docs/graphql/manual/hasura-cli/hasura_init.rst
Labels: c/cli

#4553 console: make graphiql panel use whole height
  CHANGELOG.md
  console/src/components/Common/Common.scss
  console/src/components/Services/ApiExplorer/ApiExplorer.scss
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
Labels: c/console

#4522 migrate to ts: GraphQL utils,SQL utils,Main utils
  console/src/components/Common/utils/graphqlUtils.ts
  console/src/components/Common/utils/sqlUtils.js
  console/src/components/Common/utils/sqlUtils.ts
  console/src/components/Main/utils.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4544 migrate GqlCompabilityWarning to typescript #4314
  console/src/components/Common/GqlCompatibilityWarning/GqlCompatibilityWarning.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#4393 console: don't generate unnecessary migrations (close #4125)
  CHANGELOG.md
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: c/console

#4567 update and freeze graphiql explorer to support operation transforms
  CHANGELOG.md
  console/package-lock.json
  console/package.json
Labels: c/console, k/enhancement

#4486 server: allow computed fields to have access to Hasura's session variables (fix #3846)
  CHANGELOG.md
  docs/graphql/manual/api-reference/schema-metadata-api/computed-field.rst
  docs/graphql/manual/schema/computed-fields.rst
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/tests-py/queries/v1/computed_fields/add_and_drop.yaml
  server/tests-py/queries/v1/computed_fields/add_computed_field_errors.yaml
  server/tests-py/queries/v1/computed_fields/setup.yaml
  server/tests-py/queries/v1/computed_fields/teardown.yaml
  server/tests-py/queries/v1/metadata/export_metadata.yaml
  server/tests-py/queries/v1/metadata/setup.yaml
  server/tests-py/queries/v1/metadata/teardown.yaml
Labels: c/server

#4260 docs: data validation (close #4085)
  CHANGELOG.md
  docs/graphql/manual/schema/computed-fields.rst
  docs/graphql/manual/schema/custom-functions.rst
  docs/graphql/manual/schema/data-validations.rst
  docs/graphql/manual/schema/index.rst
  docs/graphql/manual/schema/relationships/index.rst
  docs/graphql/manual/schema/views.rst
  docs/img/graphql/manual/schema/actions-data-validation.png
  docs/img/graphql/manual/schema/validation-actions-def.png
  docs/img/graphql/manual/schema/validation-add-check-constraint.png
  docs/img/graphql/manual/schema/validation-author-isactive.png
  docs/img/graphql/manual/schema/validation-not-empty.png
Labels: c/docs

#4573 docs(cli): add version information to the .env file section (close #4572)
  docs/graphql/manual/hasura-cli/index.rst
  docs/graphql/manual/hasura-cli/reference.rst
Labels: c/docs, no-changelog-required

#4584 docs: misc changes
  docs/Makefile
  docs/_theme/djangodocs/localtoc.html
Labels: c/docs, no-changelog-required

#4582 cli: add support for servers with self-signed certs (fix #4564)
  CHANGELOG.md
  cli/cli.go
  cli/commands/actions.go
  cli/commands/console.go
  cli/commands/metadata.go
  cli/commands/migrate.go
  cli/commands/scripts_update_config_v2.go
  cli/migrate/database/driver.go
  cli/migrate/database/driver_test.go
  cli/migrate/database/hasuradb/hasuradb.go
  cli/migrate/migrate.go
  cli/migrate/util.go
  cli/util/download.go
  cli/util/server.go
  cli/version/server.go
  docs/graphql/manual/hasura-cli/reference.rst
Labels: c/cli

#4566 cli: allow initialising project in current directory (fix #4560)
  CHANGELOG.md
  cli/commands/init.go
  cli/directory.go
  docs/graphql/manual/hasura-cli/hasura_init.rst
Labels: c/cli, c/docs, mq/queue-for-merge

#4586 docs: update actions documentation
  CHANGELOG.md
  docs/graphql/manual/actions/action-permissions.rst
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/debugging.rst
  docs/graphql/manual/actions/derive.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/auth/authorization/permission-rules.rst
  docs/graphql/manual/deployment/graphql-engine-flags/config-examples.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/remote-schemas/index.rst
  docs/img/graphql/manual/actions/actions-arch.png
  docs/img/graphql/manual/actions/actions-hl-arch.png
  docs/img/graphql/manual/actions/actions-permissions.png
Labels: c/docs

#4593 add database url env to downgrade docs
  docs/graphql/manual/deployment/downgrading.rst
Labels: no-changelog-required

#4598 update migration docs
  docs/graphql/manual/migrations/config-v1/index.rst
  docs/graphql/manual/migrations/config-v1/manage-metadata.rst
  docs/graphql/manual/migrations/config-v1/reference/index.rst
Labels: c/docs, no-changelog-required

#4597 tag release v1.2.0
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#4604 tests: tear down numerics values (fix #4602)
  .circleci/server-upgrade-downgrade/run.sh
  server/tests-py/queries/graphql_mutation/update/basic/values_teardown.yaml
Labels: c/tests 🧪, no-changelog-required

#4606 docs: update session vars in functions sections
  docs/graphql/manual/schema/computed-fields.rst
  docs/graphql/manual/schema/custom-functions.rst
Labels: c/docs, no-changelog-required

#4614 cli(migrations): load correct server image (fix #4610)
  scripts/cli-migrations/Makefile
Labels: c/build-system, no-changelog-required

#4615 ci: add build_image as required job for test_and_build_cli_migrations
  .circleci/config.yml
Labels: c/build-system, no-changelog-required

#4612 console: pin dependency versions
  console/package-lock.json
  console/package.json
Labels: c/console, no-changelog-required

#4617 hotfix for #4605
  console/package-lock.json
  console/package.json
Labels: no-changelog-required

#4618 docs: add note to use cli-migrations-v2 image
  docs/graphql/manual/migrations/config-v1/index.rst
  docs/graphql/manual/migrations/upgrade-v2.rst
Labels: c/docs, no-changelog-required

#4621 tests: tear down numerics values (fix #4602) (#4604)
  .circleci/server-upgrade-downgrade/run.sh
  server/tests-py/queries/graphql_mutation/update/basic/values_teardown.yaml
Labels: no-changelog-required
