Repository hasura/graphql-engine, pull requests merged in 2020-09, with the labels that each got.

#5705 server: update pg-client to latest version
  server/cabal.project
Labels: auto-update-auto-merge, c/server, no-changelog-required

#5718 improve error message for event trigger internal error
  server/src-lib/Hasura/Eventing/EventTrigger.hs
Labels: auto-update-auto-merge, no-changelog-required

#5609 change Svelte README for Hasura Cloud
  community/sample-apps/svelte-apollo/README.md
Labels: no-changelog-required

#5687 community: remove duplication in server readme
  server/CONTRIBUTING.md
Labels: auto-update-auto-merge, c/community, c/server, community-contrib 🙏🏽, no-changelog-required

#5694 Introduce `safeSelectionSet` to prevent conflicts in root fields
  server/src-lib/Hasura/GraphQL/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/tests-py/queries/schema/duplication/create_action_and_track_table_fail.yaml
  server/tests-py/queries/schema/duplication/setup.yaml
  server/tests-py/queries/schema/duplication/teardown.yaml
  server/tests-py/queries/schema/duplication/track_table_and_create_action_fail.yaml
  server/tests-py/queries/schema/duplication/track_table_with_conflicting_custom_root_node_names_fail.yaml
  server/tests-py/test_schema_duplication.py
Labels: auto-update-auto-merge, no-changelog-required

#5725 docs: add missing meta descriptions
  docs/graphql/core/hasura-cli/hasura_seeds.rst
  docs/graphql/core/hasura-cli/hasura_seeds_apply.rst
  docs/graphql/core/hasura-cli/hasura_seeds_create.rst
Labels: c/docs, no-changelog-required

#5740 docs: add new guide
  docs/_static/scripts/mysql-subscribe.js
  docs/_static/scripts/newsletter.js
  docs/_static/styles/main.css
  docs/_theme/djangodocs/layout.html
  docs/graphql/core/getting-started/index.rst
  docs/graphql/core/guides/index.rst
  docs/graphql/core/guides/mysql-preview.rst
  install-manifests/docker-compose-mysql-preview/docker-compose.yaml
Labels: c/docs, no-changelog-required, s/do-not-merge

#5747 docs: update mysql preview docs
  docs/graphql/core/getting-started/index.rst
  docs/graphql/core/guides/mysql-preview.rst
Labels: c/docs, no-changelog-required

#5750 docs: misc updates
  docs/graphql/cloud/projects/secure.rst
  docs/graphql/core/getting-started/docker-simple.rst
  docs/graphql/core/guides/docker-networking.rst
  docs/graphql/core/guides/mysql-preview.rst
  docs/graphql/core/index.rst
  docs/graphql/core/migrations/basics.rst
  docs/graphql/core/migrations/index.rst
  docs/graphql/core/migrations/reference/how-it-works.rst
Labels: c/docs, no-changelog-required

#5752 tag release v1.3.2
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: auto-update-auto-merge, no-changelog-required

#5756 console: init new websocket client when headers change (close #5744)
  console/src/components/Services/ApiExplorer/Actions.js
Labels: c/console, no-changelog-required

#5758 console: init new websocket client when headers change (close #5744)
  console/cypress/integration/data/modify/spec.ts
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
Labels: c/console, no-changelog-required

#5757 console: add missing headers to api request
  console/src/components/Main/Actions.js
Labels: c/console, no-changelog-required

#5473 server: add a 30 minute timeout for event trigger locks
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-rsr/catalog_version.txt
  server/src-rsr/initialise.sql
  server/src-rsr/migrations/37_to_38.sql
  server/src-rsr/migrations/38_to_37.sql
Labels: auto-update-auto-merge, no-changelog-required

#5746 server: move registerGcMetrics to runApp
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/Server/App.hs
Labels: auto-update-auto-merge, no-changelog-required

#5761 docs: add learn links at the end of getting started guides
  docs/graphql/cloud/getting-started/index.rst
  docs/graphql/core/getting-started/docker-simple.rst
  docs/graphql/core/guides/index.rst
  docs/graphql/core/migrations/index.rst
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#5700 server: Use event trigger name as tracing span name
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
Labels: auto-update-auto-merge, no-changelog-required

#5739 server: disable optimization for Hasura.Server.Init module
  server/src-lib/Hasura/Server/Init.hs
Labels: auto-update-auto-merge, no-changelog-required

#5753 server: add additional tests for computed fields permissions
  server/tests-py/queries/graphql_query/computed_fields/computed_fields_permission.yaml
  server/tests-py/queries/graphql_query/computed_fields/setup.yaml
Labels: auto-update-auto-merge, no-changelog-required

#5736 Server: fix `created_at` bug related to scheduled triggers
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Eventing/Common.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-rsr/catalog_version.txt
  server/src-rsr/initialise.sql
  server/src-rsr/migrations/37_to_38.sql
  server/src-rsr/migrations/38_to_37.sql
  server/src-rsr/migrations/38_to_39.sql
  server/src-rsr/migrations/39_to_38.sql
  server/tests-py/test_scheduled_triggers.py
Labels: auto-update-auto-merge

#5762 server: add custom timeouts to actions
  CHANGELOG.md
  docs/graphql/core/api-reference/schema-metadata-api/actions.rst
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/RQL/DDL/Action.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/tests-py/context.py
  server/tests-py/queries/actions/timeout/schema_setup.yaml
  server/tests-py/queries/actions/timeout/schema_teardown.yaml
  server/tests-py/queries/actions/timeout/values_teardown.yaml
  server/tests-py/test_actions.py
Labels: auto-update-auto-merge, kodiak:merge.method='squash'

#5792 update kodiak default merge option to squash
  .kodiak.toml
Labels: auto-update-auto-merge, kodiak:merge.method='squash', no-changelog-required

#5769 server: export RemoteJoin and FieldPath from RemoteJoin.hs
  server/src-lib/Hasura/RQL/DML/RemoteJoin.hs
Labels: auto-update-auto-merge, no-changelog-required

#5644 server: Add MonadQueryInstrumentation
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#5759 server: accept only non-negative integers for batch size and refetch interval (close #5653)
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Options.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/ScheduledTrigger.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Data/NonNegativeIntSpec.hs
  server/src-test/Main.hs
Labels: auto-update-auto-merge, c/server

#5802 docs: update mobile header link
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5789 docs: add note on scheduled event triggers delivery precision (close #5754)
  docs/graphql/core/scheduled-triggers/create-one-off-scheduled-event.rst
Labels: c/docs, no-changelog-required

#5800 docs: update contributing guide
  docs/CONTRIBUTING.md
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#5764 docs: update jwt-config link
  docs/graphql/core/auth/authentication/jwt.rst
Labels: c/docs, no-changelog-required

#5808 cloud-docs: add heroku db url sync doc
  docs/graphql/cloud/projects/manage-projects/heroku.rst
  docs/graphql/cloud/projects/manage-projects/index.rst
  docs/img/graphql/cloud/projects/heroku-db-sync-choose.png
  docs/img/graphql/cloud/projects/heroku-db-sync-disabled.png
  docs/img/graphql/cloud/projects/heroku-db-sync-enabled.png
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#5809 docs: restructure cloud project section
  docs/graphql/cloud/getting-started/index.rst
  docs/graphql/cloud/index.rst
  docs/graphql/cloud/projects/collaborators.rst
  docs/graphql/cloud/projects/domains.rst
  docs/graphql/cloud/projects/env-vars.rst
  docs/graphql/cloud/projects/heroku-url-sync.rst
  docs/graphql/cloud/projects/index.rst
  docs/graphql/cloud/projects/manage-projects/general.rst
  docs/graphql/cloud/projects/manage-projects/index.rst
  docs/img/graphql/cloud/getting-started/project-functionalities.png
  docs/img/graphql/cloud/getting-started/project-launch-console.png
  docs/img/graphql/cloud/getting-started/project-manage.png
  docs/img/graphql/cloud/projects/collaborators-view.png
Labels: c/docs, no-changelog-required

#5640 console: show warning on failing to parse schema for GraphiQL editor
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
  console/src/components/Services/Common/Notification.tsx
Labels: auto-update-auto-merge, c/console, no-changelog-required

#5817 cloud docs: update invitations page as per the new ux changes
  docs/graphql/cloud/projects/collaborators.rst
  docs/img/graphql/cloud/projects/add-collaborator.png
  docs/img/graphql/cloud/projects/cloud-create-project.png
  docs/img/graphql/cloud/projects/cloud-project-invitation.png
  docs/img/graphql/cloud/projects/cloud-projects-dashboard.png
  docs/img/graphql/cloud/projects/collaborators-view.png
  docs/img/graphql/cloud/projects/manage-project.png
  docs/img/graphql/cloud/projects/new-project-self-hosted.png
  docs/img/graphql/cloud/projects/project-collaboration-invitation.png
  docs/img/graphql/cloud/projects/remove-collaborator.png
  docs/img/graphql/cloud/projects/revoke-collaboration-invitation.png
Labels: c/docs, no-changelog-required

#5830 cloud-docs: small fixes to collaborators page
  docs/graphql/cloud/projects/collaborators.rst
  docs/img/graphql/cloud/projects/project-collaboration-invitation.png
  docs/img/graphql/cloud/projects/remove-collaborator.png
  docs/img/graphql/cloud/projects/revoke-collaboration-invitation.png
Labels: c/docs, no-changelog-required

#5824 server: lower the isolation level to ReadCommited while inserting/updating invocation logs and events
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
Labels: auto-update-auto-merge, no-changelog-required

#5748 console: trim role names when submitting the form (close #5553)
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: auto-update-auto-merge, no-changelog-required

#5780 console: make error notifications dismissible only after clicking on the close button (close #5533)
  console/src/components/App/Actions.js
  console/src/components/Services/Common/Notification.tsx
Labels: auto-update-auto-merge, c/console, kodiak:merge.method='squash', no-changelog-required

#5706 console: remove ONLY as default for ALTER TABLE in column alter operations (close #5512)
  CHANGELOG.md
  console/src/components/Services/Data/TableModify/ModifyActions.js
Labels: auto-update-auto-merge, c/console

#5311 console: unify localStorage utils
  console/src/components/AppState.js
  console/src/components/AppState.ts
  console/src/components/Common/utils/localStorageUtils.js
  console/src/components/Main/Main.js
  console/src/components/Main/utils.ts
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Codegen/utils.js
  console/src/components/Services/Actions/ServerIO.js
  console/src/components/Services/Actions/lsUtils.js
  console/src/components/Services/Actions/utils.js
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/components/Services/ApiExplorer/ApiRequest/utils.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLErrorBoundary.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/utils.js
  console/src/components/Services/ApiExplorer/OneGraphExplorer/utils.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableBrowseRows/tableUtils.ts
  console/src/utils/localStorage.ts
  console/src/utils/localstorage.js
Labels: auto-update-auto-merge, c/console, no-changelog-required

#4993 console: add option to flag an insertion as a migration (close #1766)
  CHANGELOG.md
  console/.eslintrc
  console/cypress/integration/data/insert-browse/spec.ts
  console/src/components/Common/FilterQuery/FilterQuery.tsx
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Common/utils/pgUtils.tsx
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Services/Common/Notification.tsx
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.tsx
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableBrowseRows/FilterQuery.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableInsertItem/InsertActions.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
  console/src/components/Services/Data/TableInsertItem/MigrationCheckbox.tsx
Labels: auto-update-auto-merge, c/console
