Repository hasura/graphql-engine, pull requests merged in 2020-06, with the labels that each got.

#4475 cli: add support for skipping execution while generating migrations through the migrate REST API
  CHANGELOG.md
  cli/commands/console.go
  cli/go.mod
  cli/go.sum
  cli/migrate/api/migrate.go
  cli/migrate/migrate.go
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/packed/pkged.go
Labels: c/cli, c/console

#4955 Disables optimizations on Hasura.Server.Init module
  server/src-lib/Hasura/Server/Init.hs
Labels: no-changelog-required

#4964 console: replace remote schema url in tests
  console/cypress/helpers/remoteSchemaHelpers.ts
Labels: c/console, no-changelog-required

#4705 console: dependencies cleanup
  .circleci/console-builder.dockerfile
  .circleci/server-builder.dockerfile
  .github/workflows/lint.yml
  console/.babelrc
  console/package-lock.json
  console/package.json
  console/src/components/Common/CollapsibleToggle/CollapsibleToggle.tsx
  console/src/components/Common/Icons/Remove.js
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Common/TableCommon/foldableTable/index.jsx
  console/src/components/Common/utils/jsUtils.js
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.js
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableRelationships/ManualRelationshipSelector.js
  console/src/components/Services/EventTrigger/Modify/Actions.js
  console/src/components/Services/EventTrigger/Modify/HeadersEditor.js
  console/src/components/Services/EventTrigger/PendingEvents/ViewTable.js
  console/src/components/Services/EventTrigger/ProcessedEvents/ViewTable.js
  console/src/components/Services/EventTrigger/RunningEvents/ViewTable.js
  console/src/components/Services/EventTrigger/StreamingLogs/LogActions.js
  console/src/components/Services/EventTrigger/StreamingLogs/Logs.js
  console/src/components/Services/EventTrigger/TableCommon/RedeliverEvent.js
  console/src/components/Services/RemoteSchema/Edit/Edit.js
  console/src/components/Services/RemoteSchema/Edit/View.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
  console/src/utils/data.js
  console/webpack/dev.config.js
Labels: c/console, no-changelog-required, s/do-not-merge

#4963 tag release v1.2.2
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#4820 cli-ext: add typescript support
  cli-ext/.babelrc
  cli-ext/.eslintrc
  cli-ext/package-lock.json
  cli-ext/package.json
  cli-ext/src/command.ts
  cli-ext/src/constants.ts
  cli-ext/src/services/actions-codegen/command.js
  cli-ext/src/services/actions-codegen/handler.ts
  cli-ext/src/services/actions-codegen/index.ts
  cli-ext/src/services/index.ts
  cli-ext/src/services/sdl/command.ts
  cli-ext/src/services/sdl/index.ts
  cli-ext/src/services/sdl/to/command.js
  cli-ext/src/utils/commandUtils.ts
  cli-ext/tsconfig.json
Labels: c/cli, no-changelog-required

#4857 docs: update PG requirements page
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/deployment/index.rst
  docs/graphql/manual/deployment/postgres-requirements.rst
Labels: c/docs, no-changelog-required

#4932 remove event from the saved locked events after processing it
  server/src-lib/Hasura/Eventing/EventTrigger.hs
Labels: no-changelog-required

#4667 Refactor the WAI shutdownHandler to use an MVar
  CHANGELOG.md
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
Labels: no-changelog-required

#4707 Add some useful FromJSON instances
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Options.hs
  server/src-lib/Hasura/Server/Cors.hs
Labels: no-changelog-required

#3851 cli: load assets from server if cdn is disabled (close #3382)
  CHANGELOG.md
  cli/Makefile
  cli/cli.go
  cli/commands/console.go
  cli/pkg/console/apiserver.go
  cli/pkg/console/consoleserver.go
  cli/pkg/console/serve.go
  cli/pkg/console/templates/gohtml/latest/console.gohtml
  cli/pkg/console/templates/gohtml/unversioned/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0-alpha/console.gohtml
  cli/pkg/console/templates/gohtml/v1.0/console.gohtml
  cli/pkg/console/templates/packed/pkged.go
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/App.hs
Labels: c/cli, c/server

#4949 cli: fix bug with squashing event triggers (close #4883)
  CHANGELOG.md
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
Labels: c/cli

#4729 cli: fix tests failing in local dev environment
  .circleci/test-cli.sh
  cli/commands/plugins_install.go
  cli/integration_test/cli_test.go
Labels: c/cli, no-changelog-required

#4716 update install manifests to enable dev mode by default
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
Labels: c/deployment-cloud, mq/merge-failed, mq/queue-for-merge, mq/squash

#3499 cli: add --dry-run flag to migrate apply (close #3128)
  CHANGELOG.md
  cli/commands/migrate_apply.go
  cli/commands/migrate_squash.go
  cli/commands/migrate_status.go
  cli/migrate/migrate.go
Labels: c/cli

#4923 Fix typo in error message
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
Labels: c/server, community-contrib 🙏🏽, no-changelog-required

#4959 allow logging details of a live query polling thread
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/RQL/DDL/RemoteSchema.hs
Labels: no-changelog-required

#4983 console: update error handling for opt-out notification
  CHANGELOG.md
  console/src/telemetry/Actions.js
Labels: c/console, no-changelog-required

#4982 actions: fix behaviour when using remote relationship in mutation action's relationship
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/tests-py/queries/actions/sync/remote_joins/action_with_remote_joins.yaml
  server/tests-py/queries/actions/sync/remote_joins/schema_setup.yaml
  server/tests-py/queries/actions/sync/remote_joins/schema_teardown.yaml
  server/tests-py/queries/actions/sync/remote_joins/values_teardown.yaml
  server/tests-py/remote_schemas/nodejs/actions_remote_join_schema.js
  server/tests-py/remote_server.py
  server/tests-py/test_actions.py
  server/tests-py/test_remote_relationships.py
Labels: no-changelog-required

#4965 console: update QueryAnalyzer to support subscriptions
  CHANGELOG.md
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
  console/src/components/Services/ApiExplorer/Analyzer/RootFields.tsx
Labels: c/console

#4957 docs: common header update
  CHANGELOG.md
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/_theme/djangodocs/localtoc.html
  docs/img/layout/arrow-right-blue.svg
  docs/img/layout/close-icon.svg
  docs/img/layout/discord-brands-block.svg
  docs/img/layout/twitter-brands-block.svg
  docs/img/layout/white-logo.svg
Labels: c/docs

#4587 Migrate Globals to ts
  console/src/Globals.ts
  console/src/constants.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4992 New icon for enum tables in console
  CHANGELOG.md
  console/src/components/Services/Data/DataSubSidebar.js
Labels: c/console, community-contrib 🙏🏽

#4930 remove the Events/HTTP module
  server/src-lib/Hasura/Events/HTTP.hs
Labels: no-changelog-required

#4991 Don't compile in developer APIs by default
  .circleci/test-server-flags.sh
  server/cabal.project.freeze
Labels: no-changelog-required

#5004 add action-handlers doc with a note on payload case
  docs/graphql/manual/actions/action-handlers.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#5009 docs: fix css regression
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#4977 docs: add security and product update subscription form
  docs/_static/hasura-custom.css
  docs/_static/mailchimp/mc-validate.min.js
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5011 console: replace remote schema url in tests
  .github/workflows/lint.yml
  console/cypress/helpers/remoteSchemaHelpers.ts
Labels: c/console, no-changelog-required

#5012 docs: fix mailchimp scripts
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5016 console: fix "Cannot read property 'foldable'" runtime error in `Browse Rows` page (fix #4907)
  CHANGELOG.md
  console/src/components/Common/TableCommon/foldableTable/index.jsx
  console/src/components/Common/Tooltip/Tooltip.tsx
Labels: c/console, no-changelog-required

#5017 tag release v1.3.0-beta.1
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#5018 docs: add accessing session variables in computed fields docs
  docs/graphql/manual/schema/computed-fields.rst
Labels: c/docs, no-changelog-required

#4690 console: migrate sidebar to typescript
  console/package-lock.json
  console/package.json
  console/src/components/Common/Icons/Check.tsx
  console/src/components/Common/Icons/Clock.tsx
  console/src/components/Common/Icons/Copy.tsx
  console/src/components/Common/Icons/Cross.tsx
  console/src/components/Common/Icons/Invalid.tsx
  console/src/components/Common/Icons/Reload.tsx
  console/src/components/Common/Icons/Remove.js
  console/src/components/Common/Icons/Remove.tsx
  console/src/components/Services/Settings/Container.tsx
  console/src/components/Services/Settings/Sidebar.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4737 console: migrate telemetry to typescript
  console/src/Globals.ts
  console/src/components/Common/utils/jsUtils.tsx
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Services/Common/Notification.tsx
  console/src/telemetry/Actions.ts
  console/src/telemetry/Notifications.tsx
  console/src/telemetry/state.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#5007 docs: correct actions diagram on data validation page
  docs/graphql/manual/schema/data-validations.rst
  docs/img/graphql/manual/schema/actions-data-validation.png
  docs/img/graphql/manual/schema/diagram-actions-data-validation.png
Labels: c/docs, no-changelog-required

#4794 console: convert About and Login components to typescript
  console/src/components/Common/Button/Button.tsx
  console/src/components/Login/Login.tsx
  console/src/components/Services/Settings/About/About.tsx
  console/src/types.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4764 console: respect read-only mode in actions pages (close #4656)
  CHANGELOG.md
  console/src/components/Common/Headers/Headers.tsx
  console/src/components/Common/Layout/ExpandableEditor/Editor.js
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Add/index.js
  console/src/components/Services/Actions/Common/components/ActionDefinitionEditor.js
  console/src/components/Services/Actions/Common/components/HandlerEditor.js
  console/src/components/Services/Actions/Common/components/HeaderConfEditor.js
  console/src/components/Services/Actions/Common/components/KindEditor.js
  console/src/components/Services/Actions/Common/components/TypeDefinitionEditor.js
  console/src/components/Services/Actions/Containers/Main.js
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Actions/Landing/index.js
  console/src/components/Services/Actions/Modify/ActionEditor.js
  console/src/components/Services/Actions/Modify/index.js
  console/src/components/Services/Actions/Permissions/Permissions.js
  console/src/components/Services/Actions/Permissions/index.js
  console/src/components/Services/Actions/Relationships/Components/TypeRelationship.js
  console/src/components/Services/Actions/Relationships/Main.js
  console/src/components/Services/Actions/Relationships/Relationships.js
  console/src/components/Services/Actions/Relationships/index.js
  console/src/components/Services/Actions/Sidebar/LeftSidebar.js
  console/src/components/Services/Actions/Types/Manage/Main.js
  console/src/components/Services/Actions/Types/Manage/index.js
Labels: c/console

#5027 docs: webinar banner stripe updated
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/img/layout/webinar-close.svg
  docs/img/layout/webinar.svg
Labels: c/docs, no-changelog-required

#5005 fix bug which arised when renaming a column/table if it was used to create the remote relationship
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/tests-py/queries/remote_schemas/remote_relationships/rename_col_with_remote_rel_dependency.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/rename_table_with_remote_rel_dependency.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/teardown.yaml
  server/tests-py/test_remote_relationships.py
Labels: no-changelog-required

#4877 console: fix enum tables reload data button UI (close #4647)
  CHANGELOG.md
  console/src/components/Common/Tooltip/Tooltip.tsx
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.js
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.tsx
  console/src/components/Services/Settings/MetadataOptions/ReloadMetadata.js
Labels: c/console

#5030 docs: fix the headers example in the create_scheduled_event API
  docs/graphql/manual/api-reference/schema-metadata-api/scheduled-triggers.rst
Labels: no-changelog-required

#4846 console: provide option to cascade metadata on dependency conflicts (close #1593)
  CHANGELOG.md
  console/src/components/Services/Common/Notification.tsx
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/constants.js
  console/src/components/Services/Data/utils.js
Labels: c/console

#5040 docs: remove development note from remote schemas
  docs/graphql/manual/remote-schemas/index.rst
Labels: c/docs, no-changelog-required

#5041 docs: custom Github button on header
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/img/layout/github-header.svg
Labels: c/docs, no-changelog-required

#4684 console: convert settings/utils to typescript
  console/.eslintignore
  console/.eslintrc
  console/src/components/Services/Settings/utils.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#5015 cli: fix failing tests
  .circleci/test-cli-with-last-release.sh
  .circleci/test-cli.sh
Labels: no-changelog-required

#5061 console: add default graphiql mode in api explorer
  console/src/components/Services/ApiExplorer/ApiRequest/utils.js
Labels: c/console, no-changelog-required

#4898 docs: add migration setup guide for v2 migrations (close #4746)
  CHANGELOG.md
  docs/graphql/manual/migrations/basics.rst
  docs/graphql/manual/migrations/config-v1/manage-migrations.rst
  docs/graphql/manual/migrations/index.rst
  docs/graphql/manual/migrations/manage-metadata.rst
  docs/graphql/manual/migrations/migrations-setup.rst
  docs/img/graphql/manual/migrations/tracked-tables.png
Labels: c/docs

#4922 console: allow configuring session_argument for custom functions (close #4499)
  CHANGELOG.md
  console/cypress/helpers/dataHelpers.ts
  console/cypress/integration/data/functions/spec.ts
  console/cypress/integration/data/functions/test.ts
  console/cypress/integration/validators/validators.ts
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/Function/Modify/EditorInput.tsx
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.js
  console/src/components/Services/Data/Function/Modify/ModifyCustomFunction.scss
  console/src/components/Services/Data/Function/Modify/SessionVarSection.tsx
  console/src/components/Services/Data/Function/customFunctionReducer.js
  console/src/components/Services/Data/Function/customFunctionState.js
Labels: c/console

#4952 docs: remove duplicate labels and fix links
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/api-reference/schema-metadata-api/event-triggers.rst
  docs/graphql/manual/api-reference/schema-metadata-api/scheduled-triggers.rst
  docs/graphql/manual/deployment/docker/index.rst
  docs/graphql/manual/deployment/kubernetes/index.rst
  docs/graphql/manual/migrations/config-v1/manage-metadata.rst
Labels: c/docs, no-changelog-required

#4919 #4736 Improvements to auth testing
  CHANGELOG.md
  docs/graphql/manual/auth/authentication/jwt.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/src-test/Main.hs
  server/tests-py/test_jwt.py
Labels: no-changelog-required

#5073 console: fix handling inconsistent objects (close #5072)
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
Labels: c/console, no-changelog-required

#5032 console: remove proposal-export-default-from
  console/.babelrc
  console/package-lock.json
  console/package.json
  console/src/components/Services/Actions/index.js
  console/src/components/Services/Actions/index.ts
  console/src/components/Services/Data/index.js
  console/src/components/Services/Data/index.ts
  console/src/components/Services/RemoteSchema/index.js
  console/src/components/Services/RemoteSchema/index.ts
  console/src/components/Services/Types/index.js
  console/src/components/Services/Types/index.ts
Labels: c/console, no-changelog-required

#5063 docs: header update
  docs/_static/hasura-custom.css
  docs/_static/mailchimp/mailchimp.js
  docs/_static/mailchimp/mc-validate.min.js
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5064 console: reuse websocket connection in api explorer
  console/src/components/Services/ApiExplorer/Actions.js
Labels: c/console, no-changelog-required

#5091 add more description to 'HASURA_GRAPHQL_EVENTS_HTTP_POOL_SIZE'
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
Labels: no-changelog-required

#4804 console: migrate main state to typescript
  console/src/components/Main/State.js
  console/src/components/Main/State.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4823 install manifests: use caddy v2 for https setup
  install-manifests/docker-compose-https/Caddyfile
  install-manifests/docker-compose-https/docker-compose.yaml
Labels: community-contrib 🙏🏽, no-changelog-required

#5039 cli: add new flags to generate sql migrations (close #5026)
  CHANGELOG.md
  cli/commands/migrate_create.go
Labels: c/cli

#4924 cli: support squashing migrations with remote joins (close #4908)
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/migrate.go
  console/src/components/Services/Data/TableRelationships/Actions.js
Labels: c/cli, no-changelog-required

#5060 cli: fix cron triggers not being exported on a metadata export (close #5047)
  cli/commands/init.go
  cli/integration_test/v2/metadata/latest/1_metadata/cron_triggers.yaml
  cli/integration_test/v2/metadata/latest/2_metadata/cron_triggers.yaml
  cli/metadata/cron_triggers/cron_triggers.go
  cli/migrate/util.go
  cli/version/feature_flags.go
  scripts/cli-migrations/v2/test/metadata/cron_triggers.yaml
Labels: c/cli, no-changelog-required

#3763 cli: manage seed migrations as sql files (close #2431)
  CHANGELOG.md
  cli/cli.go
  cli/commands/help.go
  cli/commands/init.go
  cli/commands/root.go
  cli/commands/seed.go
  cli/commands/seed_apply.go
  cli/commands/seed_create.go
  cli/go.sum
  cli/integration_test/cli_test.go
  cli/integration_test/v1/seeds/1591867862409_test.sql
  cli/integration_test/v1/seeds/1591867862419_test2.sql
  cli/integration_test/v1/seeds/seeds.go
  cli/integration_test/v2/seeds.go
  cli/integration_test/v2/seeds/1591867862409_test.sql
  cli/integration_test/v2/seeds/1591867862419_test2.sql
  cli/metadata/actions/actions.go
  cli/metadata/actions/editor/editor.go
  cli/migrate/database/driver.go
  cli/migrate/database/driver_test.go
  cli/migrate/database/hasuradb/seed.go
  cli/migrate/database/seed.go
  cli/migrate/migrate.go
  cli/seed/apply.go
  cli/seed/create.go
  rfcs/seed-data.md
Labels: c/cli

#5105 docs: fix multiple queries execution pattern
  docs/graphql/manual/queries/multiple-queries.rst
Labels: c/docs, no-changelog-required

#5013 relay fixes
  server/src-lib/Data/Sequence/NonEmpty.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/RelaySchema.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/GraphQL/Resolve/Types.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Enum.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/tests-py/queries/graphql_query/relay/basic/article_connection.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/backward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/backward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/backward/page_3.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/forward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/forward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/forward/page_3.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_connection.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/backward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/backward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/backward/page_3.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/forward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/forward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_with_articles_view_connection.yaml
  server/tests-py/queries/graphql_query/relay/basic/node.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/insufficient_data.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/invalid_column_value.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/invalid_id.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/invalid_node_id_version.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/missing_columns.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/non_array_id.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/non_integer_version.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/unexpected_columns.yaml
  server/tests-py/queries/graphql_query/relay/basic/pagination_errors/after_and_before.yaml
  server/tests-py/queries/graphql_query/relay/basic/pagination_errors/first_and_last.yaml
  server/tests-py/queries/graphql_query/relay/basic/search_articles_connection.yaml
  server/tests-py/queries/graphql_query/relay/basic/setup.yaml
  server/tests-py/queries/graphql_query/relay/basic/teardown.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/backward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/backward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/forward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/forward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/permissions/author_connection.yaml
  server/tests-py/queries/graphql_query/relay/permissions/author_node.yaml
  server/tests-py/queries/graphql_query/relay/permissions/author_node_null.yaml
  server/tests-py/queries/graphql_query/relay/permissions/setup.yaml
  server/tests-py/queries/graphql_query/relay/permissions/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/relay, c/server, no-changelog-required

#5094 server: refactor GraphQL authorization
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Utils.hs
  server/src-lib/Network/Wai/Extended.hs
  server/src-lib/Network/Wai/Handler/WebSockets/Custom.hs
Labels: c/server, no-changelog-required

#5108 console: misc bug fixes (#4669, #4673, #4682, #4826, #5016, #4877 ) (#5108)
  CHANGELOG.md
  console/cypress/integration/data/insert-browse/spec.js
  console/cypress/integration/data/insert-browse/test.js
  console/src/components/Common/TableCommon/foldableTable/index.jsx
  console/src/components/Common/Tooltip/Tooltip.js
  console/src/components/Common/Tooltip/Tooltip.tsx
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Common/components/HeaderConfEditor.js
  console/src/components/Services/Actions/Modify/ActionEditor.js
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.js
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.tsx
  console/src/components/Services/Data/Common/Components/TypedInput.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/utils.ts
  console/src/components/Services/Data/TablePermissions/JSONEditor.tsx
  console/src/components/Services/Data/TablePermissions/PermButtonsSection.tsx
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TablePermissions/utils.tsx
  console/src/components/Services/Settings/MetadataOptions/ReloadMetadata.js
  console/src/declaration.d.ts
  console/src/hooks/usePrevious.ts
Labels: c/console

#5110 generalize query execution logic on Postgres
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-test/Main.hs
Labels: no-changelog-required

#5077 docs: design & UI fixes (close #5022)
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5114 console: fix typo in remote relationships tooltip (close #5113)
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/Tooltips.js
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5127 remove tmp file
  .CHANGELOG.md.swp
Labels: no-changelog-required

#4557 console: migrate wrap type utils to typescript
  console/src/shared/utils/wrappingTypeUtils.js
  console/src/shared/utils/wrappingTypeUtils.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#5116 docs: update copy to use "deny-list" (close #5115)
  docs/graphql/manual/schema/data-validations.rst
Labels: c/docs, no-changelog-required

#5131 docs: fix `pre.literal-block` style (close #5130)
  docs/_static/hasura-custom.css
Labels: c/docs, no-changelog-required

#5066 console: misc UX improvements (close #4500, #4689)
  console/src/components/Services/Actions/Common/components/HandlerEditor.js
  console/src/components/Services/Data/DataSubSidebar.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TablePermissions/utils.tsx
Labels: c/console, no-changelog-required

#5106 docs: small docs improvements
  docs/CONTRIBUTING.md
  docs/graphql/manual/auth/authorization/roles-variables.rst
  docs/graphql/manual/hasura-cli/config-reference.rst
  docs/graphql/manual/migrations/migrations-setup.rst
Labels: c/docs, no-changelog-required

#4546 console: allow manual edit of column types and handle array data types (close #2544, #3335, #2583)
  CHANGELOG.md
  console/.eslintrc
  console/cypress/integration/data/insert-browse/spec.ts
  console/cypress/integration/data/insert-browse/test.ts
  console/package-lock.json
  console/package.json
  console/src/components/Common/SearchableSelect/SearchableSelect.js
  console/src/components/Common/SearchableSelect/SearchableSelect.tsx
  console/src/components/Common/Toggle/Toggle.tsx
  console/src/components/Common/utils/jsUtils.tsx
  console/src/components/Common/utils/pgUtils.tsx
  console/src/components/Services/Data/Add/TableColumn.js
  console/src/components/Services/Data/Common/Components/ColumnTypeSelector.tsx
  console/src/components/Services/Data/TableBrowseRows/EditActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableInsertItem/InsertActions.js
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ColumnEditor.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/utils.js
  console/src/components/Services/Data/utils.js
Labels: c/console

#5139 server: chore: changes catalog initialization and logging
  server/graphql-engine.cabal
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Session.hs
  server/src-lib/Network/Wai/Extended.hs
Labels: c/server, no-changelog-required

#4987 console: add the ability to delete a role in permissions summary page (close #3353)
  CHANGELOG.md
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/PermissionsSummary/Header.tsx
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.js
  console/src/components/Services/Data/PermissionsSummary/PermissionsSummary.scss
  console/src/components/Services/Data/PermissionsSummary/RolesHeader.tsx
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TablePermissions/Actions.js
Labels: c/console

#4844 docs: add missing examples to API docs (close #4745)
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/api-reference/schema-metadata-api/manage-metadata.rst
  docs/graphql/manual/api-reference/schema-metadata-api/permission.rst
  docs/graphql/manual/queries/query-filters.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#3310 Regression benchmarks setup
  server/bench-wrk/.gitignore
  server/bench-wrk/.python-version
  server/bench-wrk/Readme.md
  server/bench-wrk/gen-version.sh
  server/bench-wrk/get-server-sha.sh
  server/bench-wrk/hge_wrk_bench.py
  server/bench-wrk/plot.py
  server/bench-wrk/port_allocator.py
  server/bench-wrk/queries.graphql
  server/bench-wrk/requirements-top-level.txt
  server/bench-wrk/requirements.txt
  server/bench-wrk/results_schema.yaml
  server/bench-wrk/run_hge.py
  server/bench-wrk/run_postgres.py
  server/bench-wrk/sportsdb_setup.py
  server/bench-wrk/wrk-websocket-server/.dockerignore
  server/bench-wrk/wrk-websocket-server/.gitignore
  server/bench-wrk/wrk-websocket-server/CHANGELOG.md
  server/bench-wrk/wrk-websocket-server/Dockerfile
  server/bench-wrk/wrk-websocket-server/LICENSE
  server/bench-wrk/wrk-websocket-server/Setup.hs
  server/bench-wrk/wrk-websocket-server/app/Main.hs
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-lib-wrk.lua
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-lib-wrk2.lua
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-wrk.lua
  server/bench-wrk/wrk-websocket-server/bench_scripts/bench-wrk2.lua
  server/bench-wrk/wrk-websocket-server/cabal.project
  server/bench-wrk/wrk-websocket-server/cabal.project.dev
  server/bench-wrk/wrk-websocket-server/cabal.project.freeze
  server/bench-wrk/wrk-websocket-server/cabal.project.local
  server/bench-wrk/wrk-websocket-server/cabal.project.local~
  server/bench-wrk/wrk-websocket-server/example_benchmark_request.yaml
  server/bench-wrk/wrk-websocket-server/src/Wrk/Server.hs
  server/bench-wrk/wrk-websocket-server/src/Wrk/Server/Types.hs
  server/bench-wrk/wrk-websocket-server/wrk-websocket-server.cabal
  server/cabal.project.dev
Labels: c/server, no-changelog-required

#5171 Docs second header
  .gitignore
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/_theme/djangodocs/static/djangodocs.css
  docs/graphql/manual/getting-started/index.rst
Labels: c/docs, no-changelog-required

#5175 docs: update cloud docs urls
  docs/_theme/djangodocs/layout.html
  docs/graphql/manual/getting-started/index.rst
Labels: c/docs, no-changelog-required

#5176 docs: update http links to https
  docs/graphql/manual/security-disclosure/index.rst
  docs/graphql/manual/troubleshooting/index.rst
Labels: c/docs, no-changelog-required

#5173 fix introspection faling when multiple actions defined with PG scalar types (fix #5166)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/tests-py/queries/actions/introspection/introspection_query.yaml
  server/tests-py/queries/actions/introspection/setup.yaml
  server/tests-py/queries/actions/introspection/teardown.yaml
  server/tests-py/test_actions.py
Labels: c/actions, c/server

#5167 console: handle renaming cron triggers (close #5160)
  console/src/components/Services/Events/CronTriggers/Container.tsx
  console/src/components/Services/Events/CronTriggers/Modify/index.tsx
  console/src/components/Services/Events/ServerIO.ts
  console/src/components/Services/Events/reducer.ts
  console/src/components/Services/Events/state.ts
  console/src/components/Services/Events/types.ts
Labels: c/console, no-changelog-required

#5151 server: fix updating of headers behaviour in the update cron trigger API and create future events immediately
  server/src-lib/Hasura/RQL/DDL/ScheduledTrigger.hs
  server/tests-py/test_scheduled_triggers.py
Labels: no-changelog-required

#5183 Fix erroneously-commited cabal.project.dev change from f8a731
  server/cabal.project.dev
Labels: no-changelog-required

#5150 docs: content for Relay docs and example repo (close #4912)
  CHANGELOG.md
  community/sample-apps/react-relay/.babelrc
  community/sample-apps/react-relay/.gitignore
  community/sample-apps/react-relay/README.md
  community/sample-apps/react-relay/package.json
  community/sample-apps/react-relay/public/favicon.ico
  community/sample-apps/react-relay/public/index.html
  community/sample-apps/react-relay/public/logo192.png
  community/sample-apps/react-relay/public/logo512.png
  community/sample-apps/react-relay/public/manifest.json
  community/sample-apps/react-relay/public/robots.txt
  community/sample-apps/react-relay/relay.config.js
  community/sample-apps/react-relay/schema.graphql
  community/sample-apps/react-relay/src/App.js
  community/sample-apps/react-relay/src/RelayEnvironment.js
  community/sample-apps/react-relay/src/components/RestaurantReviews.js
  community/sample-apps/react-relay/src/components/shared/Badge.js
  community/sample-apps/react-relay/src/components/shared/Button.js
  community/sample-apps/react-relay/src/components/shared/Form.js
  community/sample-apps/react-relay/src/components/shared/InputForm.js
  community/sample-apps/react-relay/src/components/shared/List.js
  community/sample-apps/react-relay/src/components/shared/Logo.js
  community/sample-apps/react-relay/src/fetchGraphQL.js
  community/sample-apps/react-relay/src/index.css
  community/sample-apps/react-relay/src/index.js
  community/sample-apps/react-relay/src/serviceWorker.js
  community/sample-apps/react-relay/yarn.lock
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/schema/index.rst
  docs/graphql/manual/schema/relay-schema.rst
  docs/img/graphql/manual/schema/relay.png
Labels: c/docs

#5135 docs: add note on permissions to certain mutations (close #5058)
  docs/graphql/manual/mutations/delete.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/mutations/update.rst
Labels: c/docs, no-changelog-required

#5159 docs: provide curl alternative to wget in docker getting started
  docs/graphql/manual/getting-started/docker-simple.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#5186 docs: use smaller font size for all screen sizes & reduce sidebar line spacing (close #5185)
  docs/_static/hasura-custom.css
Labels: c/docs, no-changelog-required

#5170 cli: when applying metadata, assume empty metadata plugin files if they don't exist (close #5163)
  CHANGELOG.md
  cli/go.sum
  cli/integration_test/cli_test.go
  cli/integration_test/testdata/incomplete_metadata/t1/from-server.golden
  cli/integration_test/testdata/incomplete_metadata/t1/metadata/actions.graphql
  cli/integration_test/testdata/incomplete_metadata/t1/metadata/allow_list.yaml
  cli/integration_test/testdata/incomplete_metadata/t1/metadata/functions.yaml
  cli/integration_test/testdata/incomplete_metadata/t1/metadata/query_collections.yaml
  cli/integration_test/testdata/incomplete_metadata/t1/metadata/remote_schemas.yaml
  cli/integration_test/testdata/incomplete_metadata/t1/metadata/tables.yaml
  cli/integration_test/testdata/incomplete_metadata/t1/metadata/version.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/from-server.golden
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/actions.graphql
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/actions.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/allow_list.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/cron_triggers.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/functions.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/query_collections.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/remote_schemas.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/tables.yaml
  cli/integration_test/testdata/incomplete_metadata/t2/metadata/version.yaml
  cli/integration_test/v2/metadata.go
  cli/migrate/database/hasuradb/metadata.go
  scripts/cli-migrations/Makefile
  scripts/cli-migrations/v2/test/test-upgrade-from-latest-release.sh
Labels: c/cli

#5184 console: display error notification if an introspection query fails
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
Labels: c/console, no-changelog-required

#5145 fix relay introspection when remote relationships are defined (fix #5144)
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/tests-py/queries/remote_schemas/remote_relationships/with_relay.yaml
  server/tests-py/test_remote_relationships.py
Labels: c/relay, c/server, no-changelog-required

#5165 cli: support squashing migrations with cron triggers (squash V1)
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
Labels: c/cli, no-changelog-required

#5182 docs/console: clarify wording "query" vs. "request" (close #4053)
  console/src/components/Services/Settings/Actions.js
  console/src/components/Services/Settings/AllowedQueries/AddAllowedQuery.js
  console/src/components/Services/Settings/AllowedQueries/AllowedQueries.js
  console/src/components/Services/Settings/AllowedQueries/AllowedQueriesList.js
  console/src/components/Services/Settings/AllowedQueries/AllowedQueriesNotes.js
  console/src/components/Services/Settings/AllowedQueries/utils.js
  console/src/components/Services/Settings/Sidebar.tsx
  console/src/routes.js
  docs/_static/graphiql/graphiql.js
  docs/_static/graphiql/graphiql.min.js
  docs/graphql/manual/api-reference/graphql-api/index.rst
  docs/graphql/manual/api-reference/graphql-api/mutation.rst
  docs/graphql/manual/api-reference/schema-metadata-api/computed-field.rst
  docs/graphql/manual/api-reference/schema-metadata-api/permission.rst
  docs/graphql/manual/api-reference/schema-metadata-api/relationship.rst
  docs/graphql/manual/api-reference/schema-metadata-api/run-sql.rst
  docs/graphql/manual/auth/authorization/permission-rules.rst
  docs/graphql/manual/auth/index.rst
  docs/graphql/manual/deployment/allow-list.rst
  docs/graphql/manual/guides/code-editor-integrations/visual-studio-code.rst
  docs/graphql/manual/guides/integrations/auth-guardian-jwt.rst
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
  docs/graphql/manual/guides/integrations/aws-cognito.rst
  docs/graphql/manual/how-it-works/metadata-schema.rst
  docs/graphql/manual/queries/index.rst
  docs/graphql/manual/remote-schemas/index.rst
Labels: c/console, c/docs, no-changelog-required

#5201 docs: add "supported from" note to relay docs
  docs/graphql/manual/schema/relay-schema.rst
Labels: c/docs, no-changelog-required

#5177 fix postgres error when querying object relationship in fields and with in order by clause (fix #5148)
  server/src-lib/Hasura/GraphQL/Resolve/Select.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/RemoteJoin.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/tests-py/queries/graphql_query/permissions/setup.yaml
  server/tests-py/queries/graphql_query/permissions/user_select_query_article_author.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server, no-changelog-required

#5121 tag release v1.3.0-beta.2
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#4979 console: fix relationship table first row styling issue (closes #4974)
  CHANGELOG.md
  console/src/components/Common/Common.scss
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/utils.js
Labels: c/console

#4996 community: update CONTRIBUTING french translation
  translations/CONTRIBUTING.french.md
Labels: c/community, community-contrib 🙏🏽, no-changelog-required

#4348 cli: allow setting the release to get in cli/get.sh
  cli/get.sh
Labels: c/cli, community-contrib 🙏🏽, no-changelog-required

#5207 tag release v1.3.0-beta.3
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#5213 docs: remove hasura con banner
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5217 docs: clarify unauthenticated access docs (close #2528)
  docs/graphql/manual/auth/authentication/index.rst
  docs/graphql/manual/auth/authentication/unauthenticated-access.rst
Labels: c/docs, no-changelog-required

#5228 add section for managed databases and related perms (close #1677, close #3783)
  CHANGELOG.md
  docs/graphql/manual/deployment/postgres-requirements.rst
Labels: c/docs

#5187 Add instructions to fix loss of float precision in PostgreSQL <= 11
  CHANGELOG.md
  docs/graphql/manual/api-reference/postgresql-types.rst
  docs/graphql/manual/deployment/graphql-engine-flags/reference.rst
  server/src-lib/Hasura/Server/Init.hs
Labels: c/docs, c/server

#5226 docs: link to fork-and-branch git workflow guide (close #5225)
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: c/docs, no-changelog-required
