Repository hasura/graphql-engine, pull requests merged in 2020-08, with the labels that each got.

#5500 console: prettify cron trigger JSON payload (close #5052)
  console/src/components/Services/Events/CronTriggers/utils.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5469 console: fix primary key selector bug and raw sql error message (close #4226)
  console/src/components/Services/Data/Common/Components/PrimaryKeySelector.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/TableModify/ColumnEditorList.js
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
Labels: c/console, no-changelog-required

#5502 console: increase size of redeliver event modal (close #5480)
  console/src/components/Services/Events/Common/Components/RedeliverEvent.tsx
  console/src/components/Services/Events/Events.scss
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5516 console: separate timeout statement from user statement in raw sql page
  console/src/components/Services/Data/RawSQL/Actions.js
Labels: c/console, no-changelog-required

#5525 server: show method and complete URI in traced HTTP calls
  server/src-lib/Hasura/Tracing.hs
Labels: no-changelog-required

#5524 console: fix inconsistency in permissions builder (close #4119)
  console/src/components/Services/Data/TablePermissions/PermissionBuilder/PermissionBuilder.js
Labels: c/console, no-changelog-required

#5519 restrict env variables start with HASURA_GRAPHQL_ for headers configuration in actions, event triggers & remote schemas
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Headers.hs
  server/tests-py/queries/actions/metadata/create_with_headers.yaml
  server/tests-py/test_actions.py
Labels: c/server, s/has-breaking-changes

#5522 fix introspection query if any enum column present in primary key (fix #5200)
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/tests-py/queries/graphql_query/enums/introspect_user_role.yaml
  server/tests-py/queries/graphql_query/enums/setup.yaml
  server/tests-py/queries/graphql_query/enums/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: c/server

#5544 Fix telemetry reporting of transport (websocket was reported as http)
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Labels: no-changelog-required

#5548 cli: improve error messages for metadata apply (close #5513)
  CHANGELOG.md
  cli/migrate/database/hasuradb/metadata.go
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/hasuradb/types_test.go
Labels: c/cli

#5549 cli: fix error on seed create command
  CHANGELOG.md
  cli/commands/seed_create.go
  cli/migrate/migrate.go
Labels: c/cli

#5555 server: set hasura.tracecontext in RQL mutations [#5542]
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/SchemaUpdate.hs
  server/src-test/Main.hs
Labels: no-changelog-required

#5562 Add bulldozer auto-merge and -update configuration
  .bulldozer.yml
Labels: no-changelog-required

#5499 console: migrate login actions to typescript
  console/src/components/Login/Actions.ts
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#4721 console: migrate AlertBox component to typescript
  console/src/components/UIKit/atoms/AlertBox/AlertBox.js
  console/src/components/UIKit/atoms/AlertBox/AlertBox.ts
  console/src/components/UIKit/atoms/AlertBox/index.tsx
  console/src/components/UIKit/atoms/Icon/index.tsx
  console/src/components/UIKit/atoms/Typography/index.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required, typescript-migration 🙌

#5580 Remove 'bulldozer' config, try 'kodiak' for auto-merge
  .bulldozer.yml
  .kodiak.toml
Labels: no-changelog-required

#5539 docs: fix search help bug
  docs/_static/scripts/hdocs.js
Labels: c/docs, no-changelog-required

#5575 docs: add link on adding admin secret for hasura cloud
  docs/graphql/manual/deployment/securing-graphql-endpoint.rst
Labels: c/docs, no-changelog-required

#5585 IGNORE: testing kodiak auto-merge bot
  .kodiak.toml
Labels: auto-update-auto-merge, no-changelog-required

#5360 console: add "identity" to frequently used columns (close #4279)
  CHANGELOG.md
  console/package-lock.json
  console/package.json
  console/src/components/App/Actions.js
  console/src/components/Common/DropdownButton/DropdownButton.tsx
  console/src/components/Common/SearchableSelect/SearchableSelect.tsx
  console/src/components/Common/utils/tsUtils.ts
  console/src/components/Error/ErrorBoundary.tsx
  console/src/components/Main/Actions.js
  console/src/components/Main/Main.js
  console/src/components/Main/State.ts
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/snippets.ts
  console/src/components/Services/Data/Add/AddTable.js
  console/src/components/Services/Data/Common/Components/FrequentlyUsedColumnSelector.tsx
  console/src/components/Services/Data/Common/Components/ReloadEnumValuesButton.tsx
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Data/TableModify/ViewDefinitions.tsx
  console/src/components/Services/Events/Container.tsx
  console/src/components/Services/Events/types.ts
  console/src/components/Services/Settings/Container.tsx
  console/src/components/Services/Settings/Sidebar.tsx
  console/src/telemetry/Actions.ts
  console/src/telemetry/Notifications.tsx
  console/src/utils/postgresColumnTypes.ts
Labels: auto-update-auto-merge, c/console

#5600 console: fix handling separated sql and statement timeout
  console/src/components/Services/Data/RawSQL/Actions.js
Labels: c/console, no-changelog-required

#5604 tag release v1.3.1-beta.1
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#5598 console: fix broken link in permissions section
  console/src/components/Services/Data/TablePermissions/Permissions.js
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5418 docs: update bash_completion directory typo
  cli/commands/completion.go
  docs/graphql/manual/hasura-cli/hasura_completion.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#5583 docs: update sample hasura endpoint urls with cloud urls
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
  docs/graphql/manual/guides/integrations/aws-cognito.rst
  docs/graphql/manual/migrations/config-v1/manage-migrations.rst
  docs/graphql/manual/migrations/migrations-setup.rst
Labels: c/docs, no-changelog-required

#4811 docs: add networking section (close #4346)
  CHANGELOG.md
  docs/graphql/manual/actions/create.rst
  docs/graphql/manual/actions/index.rst
  docs/graphql/manual/auth/authentication/webhook.rst
  docs/graphql/manual/event-triggers/create-trigger.rst
  docs/graphql/manual/guides/docker-networking.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/remote-schemas/adding-schema.rst
Labels: c/docs

#5565 docs: add new cli commands to docs
  CHANGELOG.md
  cli/commands/seed.go
  cli/commands/seed_create.go
  docs/graphql/manual/guides/docker-networking.rst
  docs/graphql/manual/hasura-cli/hasura_seeds.rst
  docs/graphql/manual/hasura-cli/hasura_seeds_apply.rst
  docs/graphql/manual/hasura-cli/hasura_seeds_create.rst
  docs/graphql/manual/hasura-cli/index.rst
Labels: c/cli, c/docs, no-changelog-required

#5613 docs: add posthog
  docs/_theme/djangodocs/basic/layout.html
Labels: c/docs, no-changelog-required

#5560 server: Pass EKG Metrics Store as argument to runHGEServer
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
Labels: no-changelog-required

#5607 PG span tracing improvements (close #465)
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/RQL/DML/RemoteJoin.hs
Labels: auto-update-auto-merge, no-changelog-required

#5517 server: Add B3 headers for tracing
  server/graphql-engine.cabal
  server/src-lib/Hasura/Tracing.hs
Labels: auto-update-auto-merge, no-changelog-required

#5615 Fix stringified JSON for the prepared_argument in query_log
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
Labels: no-changelog-required

#5559 console: fix folding of invocation information in redeliver event modal (close #5515)
  console/src/components/Services/Events/Common/Components/RedeliverEvent.tsx
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5630 console: remove postinstall script from package.json
  console/package.json
Labels: c/console, no-changelog-required

#5622 console: fix remove column test
  console/cypress/integration/data/modify/spec.ts
  console/src/components/Services/Data/TableModify/PrimaryKeyEditor.js
Labels: c/console, no-changelog-required

#5651 console: misc fixes (#5600, #5598, #5515)
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Events/Common/Components/RedeliverEvent.tsx
Labels: c/console, no-changelog-required

#5181 console: mark inconsistent schemas in the UI (close #5093)
  CHANGELOG.md
  console/src/components/Common/Layout/LeftSubSidebar/LeftSubSidebar.scss
  console/src/components/Services/RemoteSchema/Actions.js
  console/src/components/Services/RemoteSchema/Add/addRemoteSchemaReducer.js
  console/src/components/Services/RemoteSchema/Edit/Edit.js
  console/src/components/Services/RemoteSchema/Edit/View.js
  console/src/components/Services/RemoteSchema/RemoteSchema.scss
  console/src/components/Services/RemoteSchema/RemoteSchemaPageContainer.js
  console/src/components/Services/RemoteSchema/RemoteSchemaSubSidebar.js
  console/src/components/Services/Settings/Actions.js
  console/src/components/Services/Settings/MetadataOptions/ReloadRemoteSchema.js
  console/src/components/Services/Settings/MetadataStatus/MetadataStatus.js
Labels: c/console

#5101 console: add support forums UI
  console/src/components/Common/Layout/RightContainer/RightContainer.tsx
  console/src/components/Common/Layout/RightContainer/index.ts
  console/src/components/Common/Layout/index.js
  console/src/components/Common/Toggle/Toggle.css
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/components/Help.tsx
  console/src/components/Main/components/index.ts
  console/src/components/Main/images/arrow_forward-block.svg
  console/src/components/Main/images/information.svg
  console/src/components/Services/Actions/Router.js
  console/src/components/Services/Data/DataRouter.js
  console/src/components/Services/Events/Router.tsx
  console/src/components/Services/RemoteSchema/RemoteSchemaRouter.js
  console/src/components/Services/Support/HelpPage.tsx
  console/src/components/Services/Support/Support.scss
  console/src/components/Services/Support/SupportContainer.tsx
  console/src/components/Services/Support/images/discord.svg
  console/src/components/Services/Support/images/docs.svg
  console/src/components/Services/Support/images/github.svg
  console/src/components/Services/Support/images/stack-overflow.svg
  console/src/helpers/Html.tsx
  console/src/hooks/useOnClickOutside.ts
  console/src/hooks/useToggle.ts
  console/src/routes.js
Labels: c/console, no-changelog-required

#5624 server: Improved tracing for nested inserts
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
Labels: c/server, no-changelog-required

#5657 console: collapse non-trackable functions section
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableRelationships/RelationshipEditor.js
Labels: c/console, no-changelog-required

#5603 Server: Don't throw validation error while creating remote relationship joining singular type with array type
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Utils.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship/Validate.hs
  server/tests-py/queries/remote_schemas/remote_relationships/basic_relationship_joining_singleton_with_array.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/setup_remote_rel_joining_singleton_with_array.yaml
  server/tests-py/remote_schemas/nodejs/index.js
  server/tests-py/test_remote_relationships.py
Labels: auto-update-auto-merge

#5659 server: Bump GHC version to 8.10.2
  .circleci/config.yml
  .circleci/server-builder.dockerfile
  server/CONTRIBUTING.md
  server/cabal.project.ci
  server/cabal.project.dev
  server/cabal.project.freeze
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/Init.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#5678 docs: removed see past editions link in newsletter section
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5668 server: Fix trace span names for queries and mutations
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
Labels: no-changelog-required

#3575 support customizing JWT claims (close #3485)
  .circleci/test-server.sh
  CHANGELOG.md
  docs/graphql/core/auth/authentication/jwt.rst
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/Types/Error.hs
  server/src-lib/Hasura/Server/API/Config.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Session.hs
  server/src-test/Hasura/Server/AuthSpec.hs
  server/src-test/Main.hs
  server/tests-py/test_jwt_claims_map.py
Labels: c/server
