Repository hasura/graphql-engine, pull requests merged in 2020-11, with the labels that each got.

#6082 server: generalize BoolExp
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Delete.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/Server/API/Query.hs
Labels: auto-update-auto-merge, c/server, kodiak:merge.method='squash', no-changelog-required

#4329 use only required session variables in multiplexed queries for subscriptions
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/Session.hs
  server/tests-py/queries/subscriptions/live_queries/setup.yaml
  server/tests-py/queries/subscriptions/live_queries/teardown.yaml
  server/tests-py/queries/subscriptions/multiplexing/articles_query.yaml
  server/tests-py/queries/subscriptions/multiplexing/setup.yaml
  server/tests-py/queries/subscriptions/multiplexing/teardown.yaml
  server/tests-py/test_subscriptions.py
Labels: no-changelog-required

#6051 docs/cloud: add project details doc including project rename
  docs/graphql/cloud/projects/details.rst
  docs/graphql/cloud/projects/index.rst
  docs/img/graphql/cloud/metrics/pro-tab-overview.png
  docs/img/graphql/cloud/projects/project-actions.png
  docs/img/graphql/cloud/projects/project-assing-label.png
  docs/img/graphql/cloud/projects/project-details.png
  docs/img/graphql/cloud/projects/project-rename-before.png
  docs/img/graphql/cloud/projects/project-rename-dns-update.png
  docs/img/graphql/cloud/projects/project-rename-in-progress.png
  docs/img/graphql/cloud/projects/projects-list.png
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#6085 use hdb_catalog.gen_hasura_uuid() wrapped over gen_random_uuid()
  server/src-rsr/catalog_version.txt
  server/src-rsr/initialise.sql
  server/src-rsr/migrations/40_to_41.sql
  server/src-rsr/migrations/41_to_40.sql
Labels: auto-update-auto-merge, kodiak:merge.method='merge', no-changelog-required

#5845 Generalize combinators from Monad to Applicative
  server/src-lib/Hasura/Prelude.hs
Labels: auto-update-auto-merge, c/server, community-contrib 🙏🏽, no-changelog-required

#6126 server: improve hlint hints for Either and Maybe
  server/.hlint.yaml
Labels: auto-update-auto-merge, c/server, c/tests 🧪, no-changelog-required

#6116 server: metadata separation: cleanup schema generation
  server/src-lib/Hasura/GraphQL/Schema.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6092 server: Configurable websocket keep alive interval
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
Labels: auto-update-auto-merge, c/server, community-contrib 🙏🏽

#6103 server: metadata separation: reorganize metadata types
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/ComputedField.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Types.hs
  server/src-lib/Hasura/RQL/DDL/Permission.hs
  server/src-lib/Hasura/RQL/DDL/Permission/Internal.hs
  server/src-lib/Hasura/RQL/DDL/Relationship.hs
  server/src-lib/Hasura/RQL/DDL/Relationship/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/DML.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/Function.hs
  server/src-lib/Hasura/RQL/Types/Metadata.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/Relationship.hs
  server/src-lib/Hasura/RQL/Types/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-test/Hasura/RQL/MetadataSpec.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6124 Server: Fix flaky action timeout test
  server/tests-py/context.py
  server/tests-py/test_actions.py
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6091 server: generalize SQLExp in RQL.IR
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
Labels: auto-update-auto-merge, c/server, kodiak:merge.method='squash', no-changelog-required

#6132 server: re-implement table name validity filtering
  server/src-lib/Hasura/GraphQL/Schema.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6134 server: avoid two circular imports
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
  server/src-lib/Hasura/GraphQL/Parser/Class.hs-boot
  server/src-lib/Hasura/GraphQL/Parser/Class/Parse.hs
  server/src-lib/Hasura/GraphQL/Parser/Collect.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs-boot
  server/src-lib/Hasura/GraphQL/Parser/Internal/Types.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6130 server: minor refactoring in the remote joins execution module
  server/src-lib/Hasura/Backends/Postgres/Execute/RemoteJoin.hs
Labels: auto-update-auto-merge, no-changelog-required

#6135 Avoid `hdb_views` schema for storing event trigger procedures
  scripts/edit-pg-dump/edit-pg-dump.sh
  server/graphql-engine.cabal
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-lib/Hasura/RQL/DDL/Utils.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/API/PGDump.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-rsr/trigger.sql.shakespeare
Labels: auto-update-auto-merge, c/server, kodiak:merge.method='squash', no-changelog-required

#6139 contrib: bump metadata types version and update readme
  contrib/metadata-types/README.md
  contrib/metadata-types/package.json
Labels: no-changelog-required

#6120 use readcommitted isolation level for event fetch
  server/src-lib/Hasura/Eventing/EventTrigger.hs
Labels: auto-update-auto-merge, kodiak:merge.method='merge', no-changelog-required

#6140 ci: bump cli builder version (close #5462)
  .circleci/cli-builder.dockerfile
  .circleci/config.yml
Labels: auto-update-auto-merge, c/cli, no-changelog-required

#6119 cli: do not clear metadata during metadata apply (close #6115)
  CHANGELOG.md
  cli/migrate/database/hasuradb/metadata.go
Labels: auto-update-auto-merge, c/cli

#6123 server: avoid raising mutation check constraint violation in pg procedure
  docs/graphql/core/schema/data-validations.rst
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/RemoteJoin.hs
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Delete.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/tests-py/queries/graphql_mutation/insert/permissions/developer_insert_has_keys_any_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/insert_article_arr_sess_var_editors_err_not_allowed_user_id.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/seller_insert_computer_has_keys_all_fail.yaml
  server/tests-py/queries/graphql_mutation/insert/permissions/user_insert_account_fail.yaml
  server/tests-py/queries/graphql_mutation/update/permissions/user_cannot_publish.yaml
  server/tests-py/queries/v1/insert/permissions/author_student_role_insert_check_bio_fail.yaml
  server/tests-py/queries/v1/insert/permissions/author_user_role_insert_check_is_registered_fail.yaml
  server/tests-py/queries/v1/insert/permissions/author_user_role_insert_check_user_id_fail.yaml
Labels: auto-update-auto-merge, c/server, kodiak:merge.method='squash', no-changelog-required

#5306 cli (cli-migrations image): fix problems running cli-migrations-v2 image as a non root user (close #4651 close #5333)
  CHANGELOG.md
  cli/plugins/scanner.go
  cli/plugins/types.go
  scripts/cli-migrations/Makefile
  scripts/cli-migrations/v2/Dockerfile
  scripts/cli-migrations/v2/docker-entrypoint.sh
  scripts/cli-migrations/v2/prepare_docker_context.sh
Labels: auto-update-auto-merge, c/cli

#6067 console: notifications bug fixes
  console/src/Endpoints.ts
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Main/Actions.js
  console/src/components/Main/ConsoleNotification.ts
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/NotificationSection.tsx
  console/src/telemetry/Actions.ts
  console/src/types.ts
Labels: auto-update-auto-merge, c/console, no-changelog-required

#5983 cli: fix lint errors in scripts_update_config_v2.go
  cli/commands/scripts_update_config_v2.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#6101 server: split RQL.Types.DML
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Translate/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DML/Count.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Types.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/OrderBy.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/Server/API/Query.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6145 server: add hlint hints to replace case analysis with combinators
  server/.hlint.yaml
  server/src-lib/Hasura/Prelude.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6133 adds haskell-language-server/ghcide configuration
  server/.gitignore
  server/CONTRIBUTING.md
  server/sample.hie.yaml
Labels: auto-update-auto-merge, kodiak:merge.method='squash', no-changelog-required

#6127 server: generalize table name IR
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Schema/Insert.hs
  server/src-lib/Hasura/RQL/DDL/Metadata/Generator.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Types.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/IR/RemoteJoin.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
  server/src-lib/Hasura/RQL/Types/Catalog.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/CustomTypes.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/SQL/Backend.hs
  server/src-lib/Hasura/Server/App.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6148 server: move MutationCTE code to Backends.Postgres.Translate
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6149 server: remove postgres-specific code in Insert IR
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Diff.hs
  server/src-lib/Hasura/RQL/DML/Types.hs
  server/src-lib/Hasura/RQL/IR/BoolExp.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/Permission.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6137 Fix the way replace_metadata drops event triggers (fix #5461)
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Cache.hs
  server/src-rsr/catalog_version.txt
  server/src-rsr/initialise.sql
  server/src-rsr/migrations/41_to_42.sql
  server/src-rsr/migrations/42_to_41.sql
  server/tests-py/queries/event_triggers/create-delete/create_and_reset.yaml
Labels: auto-update-auto-merge

#6165 server: reorder migration files to align with v1.3.3
  server/src-rsr/migrations/37_to_38.sql
  server/src-rsr/migrations/38_to_37.sql
  server/src-rsr/migrations/38_to_39.sql
  server/src-rsr/migrations/39_to_38.sql
  server/src-rsr/migrations/39_to_40.sql
  server/src-rsr/migrations/40_to_39.sql
  server/src-rsr/migrations/40_to_41.sql
  server/src-rsr/migrations/41_to_40.sql
  server/src-rsr/migrations/41_to_42.sql
  server/src-rsr/migrations/42_to_41.sql
Labels: auto-update-auto-merge, no-changelog-required

#6167 contrib: update broken image link in metadata types readme
  contrib/metadata-types/README.md
Labels: auto-update-auto-merge, no-changelog-required

#6150 server: remove postgres-specific code from OrderBy IR
  server/src-lib/Hasura/Backends/Postgres/SQL/DML.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/RQL/DML/Types.hs
  server/src-lib/Hasura/RQL/IR/OrderBy.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6170 console: misc fixes
  console/src/Endpoints.ts
  console/src/components/App/Actions.js
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Main/Actions.js
  console/src/components/Main/ConsoleNotification.ts
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/NotificationSection.tsx
  console/src/components/Services/Common/Notification.tsx
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TablePermissions/Permissions.js
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/EditorCollapsed.tsx
  console/src/telemetry/Actions.ts
  console/src/types.ts
Labels: c/console, no-changelog-required

#6162 server: post-pdv Insert IR cleanup
  server/graphql-engine.cabal
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#6179 archive invalid events and drop existing invalid postgres triggers
  server/src-rsr/migrations/39_to_40.sql
Labels: no-changelog-required

#5920 docs: fix case of GitHub
  docs/CONTRIBUTING.md
  docs/_theme/djangodocs/layout.html
  docs/graphql/core/auth/authorization/modeling-roles.rst.wip
  docs/graphql/core/auth/authorization/roles-variables.rst
  docs/graphql/core/guides/mysql-preview.rst
  docs/graphql/core/guides/sample-apps/index.rst
Labels: auto-update-auto-merge, c/docs, hacktoberfest, hacktoberfest-accepted, no-changelog-required

#6215 cli: use gitHub API as fallback to get version information in installation script (close #6141)
  cli/get.sh
Labels: c/cli, no-changelog-required
