Repository hasura/graphql-engine, pull requests merged in 2020-07, with the labels that each got.

#5235 docs: fix error in actions api docs
  docs/graphql/manual/api-reference/schema-metadata-api/actions.rst
Labels: c/docs, no-changelog-required

#5069 community: fix DATA_API_URL for Heroku in console README
  console/README.md
Labels: c/community, community-contrib 🙏🏽, no-changelog-required

#5219 console: add eslint-plugin-react-hooks
  console/.eslintrc
  console/package-lock.json
  console/package.json
  console/src/client.js
  console/src/components/Common/Layout/LeftSubSidebar/LeftSidebarSection.tsx
  console/src/components/Services/Data/TablePermissions/PermButtonsSection.tsx
Labels: c/console, no-changelog-required

#5208 docs: update getting started with hasura cloud (close #5206)
  CHANGELOG.md
  docs/graphql/manual/deployment/heroku/index.rst
  docs/graphql/manual/deployment/index.rst
  docs/graphql/manual/getting-started/index.rst
  docs/graphql/manual/getting-started/using-existing-database.rst
  docs/graphql/manual/guides/deployment/heroku-quickstart.rst
  docs/graphql/manual/guides/deployment/index.rst
  docs/img/graphql/manual/guides/heroku-app-deployed.png
  docs/img/graphql/manual/guides/heroku-app.png
Labels: c/docs

#5232 docs: remove product expert button
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5180 docs: add Nhost one-click deployment to deployment guides
  CHANGELOG.md
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/deployment/nhost-one-click.rst
Labels: c/docs, community-contrib 🙏🏽

#5141 docs: docs for scheduled triggers (close #4913)
  CHANGELOG.md
  docs/graphql/manual/index.rst
  docs/graphql/manual/scheduled-triggers/create-cron-trigger.rst
  docs/graphql/manual/scheduled-triggers/create-one-off-scheduled-event.rst
  docs/graphql/manual/scheduled-triggers/index.rst
  docs/img/graphql/manual/event-triggers/advanced-cron.png
  docs/img/graphql/manual/event-triggers/advanced-one-off.png
  docs/img/graphql/manual/event-triggers/create-cron.png
  docs/img/graphql/manual/event-triggers/define-cron-trigger.png
  docs/img/graphql/manual/event-triggers/define-one-off-event.png
  docs/img/graphql/manual/event-triggers/one-off.png
  docs/img/graphql/manual/event-triggers/pending-cron.png
  docs/img/graphql/manual/event-triggers/pending-one-off.png
Labels: c/docs

#5045 console: allow configuring statement timeout on console RawSQL page (close #4998)
  CHANGELOG.md
  console/cypress/integration/data/raw-sql/spec.ts
  console/package-lock.json
  console/package.json
  console/src/components/Common/utils/localStorageUtils.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/RawSQL/State.js
  console/src/components/Services/Data/RawSQL/StatementTimeout.tsx
  console/src/components/Services/Data/RawSQL/utils.js
Labels: c/console, community-contrib 🙏🏽

#4652 console: add code exporter to graphiql (close #4531)
  CHANGELOG.md
  console/package-lock.json
  console/package.json
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/snippets.ts
  console/src/components/Services/ApiExplorer/OneGraphExplorer/utils.js
  console/src/declaration.d.ts
Labels: c/console, community-contrib 🙏🏽

#5267 bump pg-client-hs version (fixes a build issue on some environments)
  server/cabal.project
Labels: no-changelog-required

#5258 console: support partitioned tables (close #5071)
  CHANGELOG.md
  console/src/components/Common/utils/pgUtils.tsx
  console/src/components/Services/Data/utils.js
Labels: c/console

#5222 community: fixed typo in event-triggers boilerplate
  community/boilerplates/event-triggers/aws-lambda/python/echo/echo.py
Labels: c/community, community-contrib 🙏🏽, no-changelog-required

#5236 console: add button to cancel one-off scheduled events and cron-trigger events (close #5161)
  CHANGELOG.md
  console/src/components/Services/Events/AdhocEvents/PendingEvents/PendingEvents.tsx
  console/src/components/Services/Events/Common/Components/EventsTable.tsx
  console/src/components/Services/Events/CronTriggers/PendingEvents/PendingEvents.tsx
  console/src/components/Services/Events/ServerIO.ts
Labels: c/console

#4761 console: handle generated and identity columns in console data section (close #4552, #4863)
  CHANGELOG.md
  console/src/components/Common/utils/pgUtils.tsx
  console/src/components/Services/Data/Common/Components/TableRow.tsx
  console/src/components/Services/Data/Common/Components/TypedInput.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/TableBrowseRows/EditItem.js
  console/src/components/Services/Data/TableInsertItem/InsertItem.js
Labels: c/console

#5269 console: support tracking partitioned tables (close #5071) (#5258)
  console/src/components/Services/Data/utils.js
Labels: c/console, no-changelog-required

#5272 Fix buggy parsing of new --conn-lifetime flag in 2b0e3774
  server/src-lib/Hasura/Server/Init.hs
Labels: no-changelog-required

#5164 cli: fix permission issues when creating symlinks on windows, misc fix (close #5111, close #4879)
  CHANGELOG.md
  cli/go.mod
  cli/migrate/database/hasuradb/types.go
  cli/migrate/database/hasuradb/types_test.go
  cli/plugins/util.go
Labels: c/cli

#5257 allow array relation connection fields regardless of aggregation permission & change relay endpoint to '/v1beta1/relay' (fix #5218)
  CHANGELOG.md
  community/sample-apps/react-relay/README.md
  community/sample-apps/react-relay/src/fetchGraphQL.js
  console/src/Endpoints.ts
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  docs/graphql/manual/api-reference/index.rst
  docs/graphql/manual/schema/relay-schema.rst
  server/src-lib/Hasura/GraphQL/RelaySchema.hs
  server/src-lib/Hasura/GraphQL/Schema/Function.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Server/App.hs
  server/tests-py/queries/graphql_query/relay/basic/article_connection.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/backward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/backward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/backward/page_3.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/forward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/forward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/article_pagination_no_orderby/forward/page_3.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_connection.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/backward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/backward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/backward/page_3.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/forward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_pagination_articles_aggregate_orderby/forward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/basic/author_with_articles_view_connection.yaml
  server/tests-py/queries/graphql_query/relay/basic/node.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/insufficient_data.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/invalid_column_value.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/invalid_id.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/invalid_node_id_version.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/missing_columns.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/non_array_id.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/non_integer_version.yaml
  server/tests-py/queries/graphql_query/relay/basic/node_id_errors/unexpected_columns.yaml
  server/tests-py/queries/graphql_query/relay/basic/only_pageinfo.yaml
  server/tests-py/queries/graphql_query/relay/basic/pagination_errors/after_and_before.yaml
  server/tests-py/queries/graphql_query/relay/basic/pagination_errors/first_and_last.yaml
  server/tests-py/queries/graphql_query/relay/basic/search_articles_connection.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/backward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/backward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/forward/page_1.yaml
  server/tests-py/queries/graphql_query/relay/permissions/article_pagination/forward/page_2.yaml
  server/tests-py/queries/graphql_query/relay/permissions/author_connection.yaml
  server/tests-py/queries/graphql_query/relay/permissions/author_node.yaml
  server/tests-py/queries/graphql_query/relay/permissions/author_node_null.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/with_relay.yaml
  server/tests-py/test_graphql_queries.py
  server/tests-py/validate.py
Labels: c/relay, c/server

#5283 update links in README
  README.md
Labels: no-changelog-required

#5281 tag release v1.3.0-beta.4
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#5291 Disable downgrade test for now. Closes #5273
  server/src-test/Hasura/Server/MigrateSpec.hs
Labels: no-changelog-required

#5304 Disable downgrade test for now
  server/src-test/Hasura/Server/MigrateSpec.hs
Labels: no-changelog-required

#5308 console: fix creating migrations from Raw SQL page (close #5296)
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/RawSQL/State.js
Labels: c/console, no-changelog-required

#5310 console: handle partitioned and foreign tables properly in UI
  console/src/components/Common/utils/pgUtils.js
Labels: c/console, no-changelog-required

#4383 community: clarify vuejs-auth0-graphql readme
  community/sample-apps/vuejs-auth0-graphql/app/.gitignore
  community/sample-apps/vuejs-auth0-graphql/app/README.md
Labels: c/community, community-contrib 🙏🏽, no-changelog-required

#5282 docs: fix indexing issue
  docs/_theme/djangodocs/basic/layout.html
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5261 docs: fix duplicate label warning (close #5260)
  docs/graphql/manual/scheduled-triggers/create-cron-trigger.rst
  docs/graphql/manual/scheduled-triggers/create-one-off-scheduled-event.rst
Labels: c/docs, no-changelog-required

#5313 console: add statement timeout for count query
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableBrowseRows/utils.ts
Labels: c/console, no-changelog-required

#5314 docs: change heroku one click url
  docs/graphql/manual/deployment/heroku/index.rst
  docs/graphql/manual/getting-started/index.rst
  docs/graphql/manual/guides/deployment/heroku-one-click.rst
  docs/graphql/manual/guides/deployment/index.rst
Labels: c/docs, no-changelog-required

#5320 console: add statement timeout for data browser count query (#5313)
  console/package.json
  console/src/components/Services/Data/TableBrowseRows/ViewActions.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableBrowseRows/ViewTable.js
  console/src/components/Services/Data/TableBrowseRows/utils.ts
  console/src/components/Services/Data/utils.js
Labels: c/console, no-changelog-required

#5307 community: update readme with hasura cloud
  README.md
Labels: c/community, no-changelog-required

#5132 docs: docs for remote joins (close #4911)
  CHANGELOG.md
  community/boilerplates/remote-schemas/auth0-wrapper/.gitignore
  community/boilerplates/remote-schemas/auth0-wrapper/README.md
  community/boilerplates/remote-schemas/auth0-wrapper/index.js
  community/boilerplates/remote-schemas/auth0-wrapper/package.json
  docs/graphql/manual/actions/types/index.rst
  docs/graphql/manual/auth/authorization/permission-rules.rst
  docs/graphql/manual/getting-started/index.rst
  docs/graphql/manual/index.rst
  docs/graphql/manual/queries/nested-object-queries.rst
  docs/graphql/manual/remote-schemas/adding-schema.rst
  docs/graphql/manual/remote-schemas/index.rst
  docs/graphql/manual/remote-schemas/schema-auth.rst
  docs/graphql/manual/schema/computed-fields.rst
  docs/graphql/manual/schema/index.rst
  docs/graphql/manual/schema/remote-relationships/action-relationships.rst
  docs/graphql/manual/schema/remote-relationships/index.rst
  docs/graphql/manual/schema/remote-relationships/remote-schema-relationships.rst
  docs/graphql/manual/schema/table-relationships/create.rst
  docs/graphql/manual/schema/table-relationships/database-modelling/index.rst
  docs/graphql/manual/schema/table-relationships/database-modelling/many-to-many.rst
  docs/graphql/manual/schema/table-relationships/database-modelling/one-to-many.rst
  docs/graphql/manual/schema/table-relationships/database-modelling/one-to-one.rst
  docs/graphql/manual/schema/table-relationships/index.rst
  docs/graphql/manual/schema/table-relationships/rename.rst
  docs/graphql/manual/schema/using-existing-database.rst
  docs/graphql/manual/security-disclosure/index.rst
  docs/graphql/manual/subscriptions/use-cases.rst
  docs/img/graphql/manual/remote-joins/action-rel.png
  docs/img/graphql/manual/remote-joins/add.png
  docs/img/graphql/manual/remote-joins/define-action-rel.png
  docs/img/graphql/manual/remote-joins/define.png
  docs/index.rst
Labels: c/docs

#5254 searchable select ux bug fix (close#5246)
  console/src/components/Common/SearchableSelect/SearchableSelect.tsx
Labels: c/console, no-changelog-required

#5325 docs: remove deprecated directory flag from examples
  docs/graphql/manual/migrations/config-v1/manage-migrations.rst
  docs/graphql/manual/migrations/migrations-setup.rst
Labels: c/docs, no-changelog-required

#5319 docs: fix confusion in unauthenticated access docs
  docs/graphql/manual/auth/authentication/unauthenticated-access.rst
  docs/graphql/manual/auth/authentication/webhook.rst
Labels: c/docs, no-changelog-required

#5315 docs: change pro button to hasura cloud in header
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5278 docs: add "See past editions" link to newsletter callout (close #5277)
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5280 docs: improve getting started flow (close #5279)
  docs/_static/hasura-custom.css
  docs/graphql/manual/hasura-cli/index.rst
  docs/graphql/manual/index.rst
  docs/graphql/manual/migrations/index.rst
Labels: c/docs, no-changelog-required

#5209 docs: make exporting graphql schema export command work with windows
  docs/graphql/manual/schema/export-graphql-schema.rst
Labels: c/docs, community-contrib 🙏🏽, no-changelog-required

#5331 docs: update links in docs
  docs/graphql/manual/actions/codegen.rst
  docs/graphql/manual/api-reference/graphql-api/query.rst
  docs/graphql/manual/api-reference/health.rst
  docs/graphql/manual/api-reference/schema-metadata-api/syntax-defs.rst
  docs/graphql/manual/auth/authentication/jwt.rst
  docs/graphql/manual/auth/authorization/roles-variables.rst
  docs/graphql/manual/deployment/custom-docker-images.rst
  docs/graphql/manual/deployment/heroku/index.rst
  docs/graphql/manual/deployment/heroku/logging.rst
  docs/graphql/manual/deployment/heroku/updating.rst
  docs/graphql/manual/deployment/kubernetes/index.rst
  docs/graphql/manual/deployment/postgres-requirements.rst
  docs/graphql/manual/event-triggers/samples.rst
  docs/graphql/manual/getting-started/docker-simple.rst
  docs/graphql/manual/guides/code-editor-integrations/visual-studio-code.rst
  docs/graphql/manual/guides/deployment/azure-container-instances-postgres.rst
  docs/graphql/manual/guides/deployment/heroku-one-click.rst
  docs/graphql/manual/guides/deployment/render-one-click.rst
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/guides/integrations/auth-guardian-jwt.rst
  docs/graphql/manual/guides/integrations/auth0-jwt.rst
  docs/graphql/manual/guides/telemetry.rst
  docs/graphql/manual/hasura-cli/install-hasura-cli.rst
  docs/graphql/manual/mutations/insert.rst
  docs/graphql/manual/queries/pagination.rst
  docs/graphql/manual/schema/views.rst
  docs/graphql/manual/security-disclosure/index.rst
  docs/graphql/manual/subscriptions/index.rst
Labels: c/docs, no-changelog-required

#4942 console: display line number that error originated from in GraphQL editor (close #4849)
  CHANGELOG.md
  console/src/components/Services/Actions/Add/Add.js
  console/src/components/Services/Actions/Common/components/GraphQLEditor.tsx
  console/src/components/Services/Actions/Common/components/TypeDefinitionEditor.js
  console/src/components/Services/Actions/Modify/ActionEditor.js
  console/src/components/Services/Actions/Types/Manage/Main.js
Labels: c/console, community-contrib 🙏🏽

#5337 console: fix clone row (close #5336)
  console/src/components/Services/Data/Common/Components/TypedInput.js
Labels: c/console, no-changelog-required

#5370 console: fix payload for data triggers (close #5358)
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Services/Events/ServerIO.ts
Labels: c/console, no-changelog-required

#5371 Expose all modules in Cabal file
  server/graphql-engine.cabal
Labels: no-changelog-required

#5223 docs: add page on created_at / updated_at timestamps (close #2880)
  CHANGELOG.md
  docs/graphql/manual/schema/default-values/created-updated-timestamps.rst
  docs/graphql/manual/schema/default-values/index.rst
  docs/img/graphql/manual/schema/created-at.png
  docs/img/graphql/manual/schema/updated-at.png
Labels: c/docs

#5357 docs: prettify github count (close #5356)
  docs/_static/utils.js
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5318 docs: update "supported from" notes
  docs/graphql/manual/scheduled-triggers/index.rst
  docs/graphql/manual/schema/relay-schema.rst
Labels: c/docs, no-changelog-required

#5347 docs: update links from Core getting started page to Cloud (close #5334)
  docs/graphql/manual/getting-started/index.rst
Labels: c/docs, no-changelog-required

#5348 docs: change "Step 0" to "Before you begin" (close #5335)
  docs/graphql/manual/migrations/config-v1/manage-migrations.rst
  docs/graphql/manual/migrations/migrations-setup.rst
  docs/graphql/manual/migrations/upgrade-v2.rst
  docs/graphql/manual/schema/remote-relationships/action-relationships.rst
  docs/graphql/manual/schema/remote-relationships/remote-schema-relationships.rst
Labels: c/docs, no-changelog-required

#5377 docs: note libkrb5-dev dep on Debian, update GHC version
  server/CONTRIBUTING.md
Labels: no-changelog-required

#5383 Add MonadTrace and MonadExecuteQuery abstractions
  server/graphql-engine.cabal
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/Eventing/ScheduledTrigger.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Resolve/Insert.hs
  server/src-lib/Hasura/GraphQL/Resolve/Mutation.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Validate/Types.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/RemoteJoin.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/Types.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache/Build.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Auth.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-lib/Hasura/Server/Logging.hs
  server/src-lib/Hasura/Tracing.hs
  server/src-test/Hasura/Server/AuthSpec.hs
Labels: no-changelog-required

#5286 console: add tooltips to certain headers on APIExplorer
  console/src/components/Services/ApiExplorer/ApiExplorer.scss
  console/src/components/Services/ApiExplorer/ApiRequest/ApiRequest.js
  console/src/constants.ts
Labels: c/console, no-changelog-required

#5369 docs: update newsletter api
  docs/_static/mailchimp/mailchimp.js
  docs/_static/newsletter/newsletter.css
  docs/_static/newsletter/newsletter.js
  docs/_theme/djangodocs/layout.html
Labels: c/docs, no-changelog-required

#5391 server: refactor 'pollQuery' to have a hook to process 'PollDetails'
  server/src-exec/Main.hs
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/State.hs
  server/src-lib/Hasura/Server/App.hs
Labels: c/server, no-changelog-required

#5395 docs: fix indexing problem
  docs/_theme/djangodocs/basic/layout.html
  docs/conf.py
Labels: c/docs, no-changelog-required, s/do-not-merge

#5355 docs: remove recommendation for action handler security
  docs/graphql/manual/actions/action-handlers.rst
Labels: c/docs, no-changelog-required

#5402 docs: change newsletter copy
  docs/_static/newsletter/newsletter.js
Labels: c/docs, no-changelog-required

#5265 docs: open Intercom on feedback & add buttons (close #5264)
  docs/_static/hasura-custom.css
  docs/_theme/djangodocs/layout.html
  docs/img/layout/github-32.png
Labels: c/docs, no-changelog-required

#5421 update pg-client-hs
  server/cabal.project
Labels: no-changelog-required

#5400 infra: update Azure template to include Postgres 11 (fix #5399)
  install-manifests/azure-container-with-pg/azuredeploy.json
Labels: community-contrib 🙏🏽, no-changelog-required

#5401 docs: update terminology and copy for remote relationships pages
  docs/graphql/manual/schema/remote-relationships/action-relationships.rst
  docs/graphql/manual/schema/remote-relationships/index.rst
  docs/graphql/manual/schema/remote-relationships/remote-schema-relationships.rst
Labels: c/docs, no-changelog-required

#5346 console: fix custom root field placeholder for insert one mutation (close #5345)
  console/src/components/Services/Data/Common/Components/RootFieldEditor.js
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5351 console: fix clear text issue on RawSQL page
  console/src/components/Common/utils/sqlUtils.ts
  console/src/components/Services/Data/RawSQL/RawSQL.js
Labels: c/console, no-changelog-required

#5423 tag release v1.3.0
  CHANGELOG.md
  install-manifests/azure-container-with-pg/azuredeploy.json
  install-manifests/azure-container/azuredeploy.json
  install-manifests/docker-compose-https/docker-compose.yaml
  install-manifests/docker-compose-pgadmin/docker-compose.yaml
  install-manifests/docker-compose-postgis/docker-compose.yaml
  install-manifests/docker-compose/docker-compose.yaml
  install-manifests/docker-run/docker-run.sh
  install-manifests/google-cloud-k8s-sql/deployment.yaml
  install-manifests/kubernetes/deployment.yaml
  scripts/cli-migrations/v1/Dockerfile
  scripts/cli-migrations/v2/Dockerfile
  server/src-rsr/catalog_versions.txt
Labels: no-changelog-required

#5406 console: use requestAction instead of fetch
  console/src/components/Common/DropdownButton/DropdownButton.tsx
  console/src/components/Common/utils/graphqlUtils.ts
  console/src/components/Services/Actions/Codegen/CodeTabs.js
  console/src/components/Services/Actions/Codegen/Codegen.js
  console/src/components/Services/Actions/Codegen/utils.js
  console/src/components/Services/Actions/Common/components/CloneTypeModal.js
  console/src/components/Services/ApiExplorer/Actions.js
  console/src/components/Services/ApiExplorer/Analyzer/AnalyzeButton.js
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
  console/src/components/Services/ApiExplorer/GraphiQLWrapper/GraphiQLWrapper.js
  console/src/components/Services/ApiExplorer/OneGraphExplorer/OneGraphExplorer.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/Explorer.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditor.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditorWrapper.tsx
  console/src/components/Services/RemoteSchema/graphqlUtils.js
  console/src/components/Services/VoyagerView/VoyagerView.tsx
  console/src/utils/requestAction.ts
Labels: c/console, no-changelog-required

#5415 console: fix import metadata button text (close #5386)
  console/src/components/Services/RemoteSchema/graphqlUtils.js
  console/src/components/Services/Settings/MetadataOptions/ImportMetadata.js
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5385 docs: add django jwt guide link (close #1254)
  docs/graphql/manual/guides/sample-apps/index.rst
Labels: c/docs, no-changelog-required, s/ok-to-merge

#5390 docs: fix heroku guide link in README
  README.md
Labels: no-changelog-required, s/ok-to-merge

#5427 console: UI updates
  console/cypress/integration/data/functions/spec.ts
  console/src/action-diagram.png
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/RemoteRelationships.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditorWrapper.tsx
  console/src/components/Services/Events/AdhocEvents/Container.tsx
  console/src/components/Services/Events/AdhocEvents/Info/Info.tsx
  console/src/components/Services/Events/Common/Components/CronTriggerForm.tsx
  console/src/components/Services/Events/CronTriggers/Container.tsx
  console/src/components/Services/Events/CronTriggers/Landing.tsx
  console/src/components/Services/Events/EventTriggers/TableCommon/TableHeader.js
Labels: c/console, no-changelog-required

#5408 console: left-align content on data table
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Events/Common/Components/InvocationLogsTable.tsx
  console/src/components/Services/Events/Common/Components/utils.tsx
Labels: c/console, no-changelog-required

#5435 console: misc fixes (#5346, #5351, #5415, #5427, #5408)
  console/cypress/integration/data/functions/spec.ts
  console/src/action-diagram.png
  console/src/components/Common/TableCommon/ReactTableOverrides.css
  console/src/components/Common/TableCommon/Table.scss
  console/src/components/Common/utils/sqlUtils.ts
  console/src/components/Services/Data/Common/Components/RootFieldEditor.js
  console/src/components/Services/Data/RawSQL/RawSQL.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Data/TableBrowseRows/ViewRows.js
  console/src/components/Services/Data/TableRelationships/AddManualRelationship.js
  console/src/components/Services/Data/TableRelationships/Relationships.js
  console/src/components/Services/Data/TableRelationships/RelationshipsView.js
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/RemoteRelationships.tsx
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/RemoteRelEditorWrapper.tsx
  console/src/components/Services/Events/AdhocEvents/Container.tsx
  console/src/components/Services/Events/AdhocEvents/Info/Info.tsx
  console/src/components/Services/Events/Common/Components/CronTriggerForm.tsx
  console/src/components/Services/Events/Common/Components/InvocationLogsTable.tsx
  console/src/components/Services/Events/Common/Components/utils.tsx
  console/src/components/Services/Events/CronTriggers/Container.tsx
  console/src/components/Services/Events/CronTriggers/Landing.tsx
  console/src/components/Services/Events/EventTriggers/TableCommon/TableHeader.js
  console/src/components/Services/Settings/MetadataOptions/ImportMetadata.js
Labels: c/console, no-changelog-required

#5387 docs: add learn link to authz index page
  docs/graphql/manual/auth/index.rst
Labels: c/docs, no-changelog-required

#5445 console: update sidebar icons for different action and trigger types
  CHANGELOG.md
  console/src/components/Common/Layout/LeftSubSidebar/LeftSidebarSection.tsx
  console/src/components/Services/Actions/Sidebar/LeftSidebar.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Events/AdhocEvents/Info/Info.tsx
  console/src/components/Services/Events/CronTriggers/Landing.tsx
Labels: c/console

#5447 console: update sidebar icons for different action and trigger types (#5445)
  CHANGELOG.md
  console/src/components/Common/Layout/LeftSubSidebar/LeftSidebarSection.tsx
  console/src/components/Services/Actions/Sidebar/LeftSidebar.js
  console/src/components/Services/Data/Schema/Schema.js
  console/src/components/Services/Events/AdhocEvents/Info/Info.tsx
  console/src/components/Services/Events/CronTriggers/Landing.tsx
Labels: c/console, no-changelog-required

#5430 Fix latency buckets for telemetry data
  server/src-lib/Hasura/Server/Telemetry/Counters.hs
  server/src-test/Hasura/Server/TelemetrySpec.hs
Labels: no-changelog-required

#5339 docs: restructure deployment section
  docs/graphql/manual/deployment/deploying/azure-container-instances-postgres.rst
  docs/graphql/manual/deployment/deploying/digital-ocean-one-click.rst
  docs/graphql/manual/deployment/deploying/docker.rst
  docs/graphql/manual/deployment/deploying/google-kubernetes-engine-cloud-sql.rst
  docs/graphql/manual/deployment/deploying/heroku.rst
  docs/graphql/manual/deployment/deploying/index.rst
  docs/graphql/manual/deployment/deploying/kubernetes.rst
  docs/graphql/manual/deployment/deploying/nhost-one-click.rst
  docs/graphql/manual/deployment/deploying/render-one-click.rst
  docs/graphql/manual/deployment/docker/logging.rst
  docs/graphql/manual/deployment/docker/securing-graphql-endpoint.rst
  docs/graphql/manual/deployment/docker/updating.rst
  docs/graphql/manual/deployment/heroku/index.rst
  docs/graphql/manual/deployment/heroku/logging.rst
  docs/graphql/manual/deployment/heroku/securing-graphql-endpoint.rst
  docs/graphql/manual/deployment/heroku/updating.rst
  docs/graphql/manual/deployment/heroku/using-existing-heroku-database.rst
  docs/graphql/manual/deployment/index.rst
  docs/graphql/manual/deployment/kubernetes/index.rst
  docs/graphql/manual/deployment/kubernetes/logging.rst
  docs/graphql/manual/deployment/kubernetes/securing-graphql-endpoint.rst
  docs/graphql/manual/deployment/kubernetes/updating.rst
  docs/graphql/manual/deployment/logging.rst
  docs/graphql/manual/deployment/securing-graphql-endpoint.rst
  docs/graphql/manual/deployment/updating-graphql-engine.rst
  docs/graphql/manual/getting-started/index.rst
  docs/graphql/manual/guides/deployment/heroku-one-click.rst
  docs/graphql/manual/guides/deployment/index.rst
  docs/graphql/manual/guides/index.rst
Labels: c/docs, no-changelog-required

#5455 docs: rename deployment guides directory
  docs/graphql/manual/deployment/deployment-guides/azure-container-instances-postgres.rst
  docs/graphql/manual/deployment/deployment-guides/digital-ocean-one-click.rst
  docs/graphql/manual/deployment/deployment-guides/docker.rst
  docs/graphql/manual/deployment/deployment-guides/google-kubernetes-engine-cloud-sql.rst
  docs/graphql/manual/deployment/deployment-guides/heroku.rst
  docs/graphql/manual/deployment/deployment-guides/index.rst
  docs/graphql/manual/deployment/deployment-guides/kubernetes.rst
  docs/graphql/manual/deployment/deployment-guides/nhost-one-click.rst
  docs/graphql/manual/deployment/deployment-guides/render-one-click.rst
  docs/graphql/manual/deployment/index.rst
Labels: c/docs, no-changelog-required

#5409 Propagate the trace context to event triggers
  server/graphql-engine.cabal
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/Tracing.hs
  server/src-rsr/catalog_version.txt
  server/src-rsr/initialise.sql
  server/src-rsr/migrations/36_to_37.sql
  server/src-rsr/migrations/37_to_36.sql
Labels: no-changelog-required

#5403 cli: handle failed update checks gracefully (close #5392)
  cli/update/update.go
Labels: c/cli, no-changelog-required

#5249 cli: support squashing actions in config v1
  cli/migrate/database/hasuradb/squash.go
  cli/migrate/database/hasuradb/types.go
Labels: c/cli, no-changelog-required

#5451 Tracing: Simplify HTTP traced request
  server/src-lib/Hasura/Eventing/HTTP.hs
  server/src-lib/Hasura/GraphQL/RemoteServer.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/Server/Auth/JWT.hs
  server/src-lib/Hasura/Server/Auth/WebHook.hs
  server/src-lib/Hasura/Tracing.hs
Labels: no-changelog-required

#5456 Attach request ID as tracing metadata
  server/src-lib/Hasura/Server/App.hs
Labels: no-changelog-required

#5471 server: add logging for action handlers
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Resolve.hs
  server/src-lib/Hasura/GraphQL/Resolve/Action.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Logging.hs
  server/src-lib/Hasura/Server/App.hs
Labels: c/server

#5470 server: pass http and websocket request to logging context
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Server.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Logging.hs
Labels: c/server, no-changelog-required, s/has-breaking-changes

#5479 server: stop eventing subsystem threads when shutting down
  server/src-lib/Hasura/App.hs
Labels: c/server, no-changelog-required

#5484 console: fix telemetry
  console/src/telemetry/filters.ts
Labels: c/console, no-changelog-required

#5488 console: misc updates
  console/src/components/Common/Layout/LeftSubSidebar/LeftSidebarSection.tsx
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Common/Landing/TopicDescription.tsx
  console/src/components/Services/Events/EventTriggers/Landing/EventTrigger.tsx
  console/src/components/Services/Events/Sidebar.tsx
  console/src/components/Services/Events/constants.ts
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
Labels: c/console, no-changelog-required

#5486 console: make add column UX consistent with others
  CHANGELOG.md
  console/cypress/integration/data/insert-browse/spec.ts
  console/cypress/integration/data/modify/spec.ts
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
Labels: c/console

#5490 docs: fix sitemap generation
  docs/Makefile
Labels: c/docs, no-changelog-required

#5252 console: handle nested fragments in allowed queries (close #5137)
  CHANGELOG.md
  console/src/components/Services/Settings/AllowedQueries/utils.js
Labels: c/console, community-contrib 🙏🏽

#5481 console: trim trailing spaces in action handler URL (close #5416)
  console/src/components/Services/Actions/ServerIO.js
Labels: c/console, community-contrib 🙏🏽, no-changelog-required

#5460 docs: code cleanup
  docs/_ext/global_tabs.py
  docs/_static/djangosite.css
  docs/_static/global_tabs/global_tabs.css
  docs/_static/global_tabs/global_tabs.js
  docs/_static/jquery-ui.css
  docs/_static/newsletter/newsletter.css
  docs/_static/scripts/hdocs.js
  docs/_static/scripts/newsletter.js
  docs/_static/scripts/vendor.js
  docs/_static/styles/landing.css
  docs/_static/styles/main.css
  docs/_static/utils.js
  docs/_theme/djangodocs/basic/layout.html
  docs/_theme/djangodocs/genindex.html
  docs/_theme/djangodocs/layout.html
  docs/_theme/djangodocs/modindex.html
  docs/_theme/djangodocs/pages/loading.html
  docs/_theme/djangodocs/searchbox.html
  docs/_theme/djangodocs/static/default.css
  docs/_theme/djangodocs/static/djangodocs.css
  docs/_theme/djangodocs/static/djangosite.css
  docs/_theme/djangodocs/static/docicons-behindscenes.png
  docs/_theme/djangodocs/static/docicons-note.png
  docs/_theme/djangodocs/static/docicons-philosophy.png
  docs/_theme/djangodocs/static/docicons-warning.png
  docs/_theme/djangodocs/static/homepage.css
  docs/_theme/djangodocs/static/reset-fonts-grids.css
  docs/conf.py
  docs/examples_schema_migrations/1530867182526_create_table_public_author.up.yaml
  docs/examples_schema_migrations/1530867194858_run_sql_migration.up.yaml
  docs/examples_schema_migrations/1530867387731_create_table_public_article.up.yaml
  docs/examples_schema_migrations/1530867408396_alter_table_public_article_add_foreign_key.up.yaml
  docs/examples_schema_migrations/1530867720883_add_relationship_author_table_public_article.up.yaml
  docs/examples_schema_migrations/1530867728731_add_relationship_articles_table_public_author.up.yaml
  docs/examples_schema_migrations/1530873869630_run_sql_migration.up.yaml
  docs/examples_schema_migrations/1530876287429_Update_permission_anonymous_table_author.up.yaml
  docs/examples_schema_migrations/1530876304101_Update_permission_anonymous_table_article.up.yaml
  docs/examples_schema_migrations/1530877174688_create_table_sql_function_table.up.yaml
  docs/examples_schema_migrations/1530877309397_run_sql_migration.up.yaml
  docs/examples_schema_migrations/1530882522435_alter_table_article_alter_column_published_on.up.yaml
  docs/examples_schema_migrations/1530882536733_run_sql_migration.up.yaml
  docs/examples_schema_migrations/1531128195815_run_sql_migration.up.yaml
  docs/examples_schema_migrations/1531128592909_create_relationship_avg_rating_table_author.up.yaml
  docs/examples_schema_migrations/1531128769439_Update_permission_anonymous_table_author_average_rating.up.yaml
  docs/examples_schema_migrations/1531128892752_run_sql_migration.up.yaml
  docs/examples_schema_migrations/1531128904966_Update_permission_anonymous_table_article_safe.up.yaml
  docs/examples_schema_migrations/1531132082421_alter_table_article_alter_column_rating.up.yaml
  docs/graphql/manual/guides/index.rst
  docs/graphql/manual/hasura-cli/install-hasura-cli.rst
Labels: c/docs, no-changelog-required

#5489 server: Fix compiler warning caused by GHC upgrade
  server/cabal.project
Labels: c/server, no-changelog-required

#5496 console: misc updates (#5484, #5488, #5486, #5481, #5252)
  CHANGELOG.md
  console/cypress/integration/data/insert-browse/spec.ts
  console/cypress/integration/data/modify/spec.ts
  console/src/components/Common/Layout/LeftSubSidebar/LeftSidebarSection.tsx
  console/src/components/Services/Actions/Landing/Main.js
  console/src/components/Services/Actions/ServerIO.js
  console/src/components/Services/Common/Landing/TopicDescription.tsx
  console/src/components/Services/Data/TableModify/ColumnCreator.js
  console/src/components/Services/Data/TableModify/ModifyTable.js
  console/src/components/Services/Events/EventTriggers/Landing/EventTrigger.tsx
  console/src/components/Services/Events/Sidebar.tsx
  console/src/components/Services/Events/constants.ts
  console/src/components/Services/RemoteSchema/Landing/RemoteSchema.js
  console/src/components/Services/Settings/AllowedQueries/utils.js
  console/src/telemetry/filters.ts
Labels: c/console

#5327 console: remove obsolete files and update dependencies
  console/package-lock.json
  console/package.json
  console/src/Globals.ts
  console/src/components/Common/TextAreaWithCopy/TextAreaWithCopy.js
  console/src/components/Services/ApiExplorer/Analyzer/QueryAnalyzer.js
  console/src/helpers/highlight.min.js
  console/src/helpers/sql-formatter.min.js
Labels: c/console, no-changelog-required

#5475 docs: update deployment guides and arch diagrams
  docs/graphql/manual/deployment/deployment-guides/docker.rst
  docs/graphql/manual/deployment/deployment-guides/heroku.rst
  docs/graphql/manual/event-triggers/index.rst
  docs/graphql/manual/getting-started/docker-simple.rst
  docs/graphql/manual/getting-started/index.rst
  docs/graphql/manual/remote-schemas/index.rst
  docs/graphql/manual/scheduled-triggers/index.rst
  docs/img/graphql/manual/event-triggers/data-triggers-arch.png
  docs/img/graphql/manual/event-triggers/database-event-triggers.png
  docs/img/graphql/manual/remote-schemas/remote-schema-arch.png
  docs/img/graphql/manual/remote-schemas/remote-schemas-arch.png
  docs/img/graphql/manual/scheduled-triggers/scheduled-trigger-arch.png
Labels: c/docs, no-changelog-required

#5498 docs: fix docs sitemap link generation
  docs/_ext/generate_index.py
Labels: c/docs, no-changelog-required
