Repository hasura/graphql-engine, pull requests merged in 2020-10, with the labels that each got.

#5866 community: update contrib guide
  CONTRIBUTING.md
Labels: auto-update-auto-merge, c/community, no-changelog-required

#5595 docs: add note on using array session variables in permission builder (close #5578)
  docs/graphql/core/auth/authorization/permission-rules.rst
  docs/graphql/core/auth/authorization/roles-variables.rst
Labels: auto-update-auto-merge, c/docs, community-contrib 🙏🏽, no-changelog-required

#5710 cli: allow for schema specification when using hasura seeds create (close #5711)
  cli/migrate/migrate.go
Labels: auto-update-auto-merge, c/cli, community-contrib 🙏🏽, no-changelog-required

#5857 docs: clarify JWT type `RS512`
  docs/graphql/core/auth/authentication/jwt.rst
Labels: auto-update-auto-merge, c/docs, community-contrib 🙏🏽, no-changelog-required

#5839 docs: add psql connection examples to DO one-click guide (close #2093)
  docs/graphql/core/deployment/deployment-guides/digital-ocean-one-click.rst
Labels: auto-update-auto-merge, c/docs, community-contrib 🙏🏽, no-changelog-required

#5677 docs: better secret handling in Auth0 rule
  docs/graphql/core/guides/integrations/auth0-jwt.rst
Labels: auto-update-auto-merge, c/docs, community-contrib 🙏🏽, no-changelog-required

#5070 console: notifications feature
  CHANGELOG.md
  console/.eslintrc
  console/package-lock.json
  console/package.json
  console/src/Endpoints.ts
  console/src/Globals.ts
  console/src/components/Common/Common.scss
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Main/Actions.js
  console/src/components/Main/ConsoleNotification.ts
  console/src/components/Main/LoveSection.tsx
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/NotificationSection.tsx
  console/src/components/Main/State.ts
  console/src/components/Main/images/components/ConsoleLogo.tsx
  console/src/components/Main/images/components/PixelHeart.tsx
  console/src/components/Main/utils.ts
  console/src/components/UIKit/atoms/Badge/Badge.ts
  console/src/components/UIKit/atoms/Badge/index.tsx
  console/src/components/UIKit/atoms/Flex/index.ts
  console/src/components/UIKit/atoms/Icon/Icon.ts
  console/src/components/UIKit/atoms/Typography/Typography.ts
  console/src/components/UIKit/atoms/Typography/index.tsx
  console/src/components/UIKit/atoms/index.js
  console/src/components/UIKit/theme/index.ts
  console/src/constants.ts
  console/src/hooks/useOnClickOutside.ts
  console/src/telemetry/Actions.ts
  console/src/telemetry/state.ts
  console/src/telemetry/utils.ts
  console/src/types.ts
Labels: c/console

#5810 docs: explain the schema before examples (close #4744)
  docs/graphql/core/auth/authorization/common-roles-auth-examples.rst
  docs/graphql/core/event-triggers/serverless.rst
  docs/graphql/core/migrations/advanced/seed-data-migration.rst
  docs/graphql/core/mutations/delete.rst
  docs/graphql/core/mutations/insert.rst
  docs/graphql/core/mutations/update.rst
  docs/graphql/core/queries/index.rst
  docs/graphql/core/schema/computed-fields.rst
  docs/graphql/core/schema/custom-functions.rst
  docs/graphql/core/schema/data-validations.rst
  docs/graphql/core/schema/views.rst
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#5742 docs: add page on cloud pricing
  docs/graphql/cloud/projects/index.rst
  docs/graphql/cloud/projects/pricing.rst
  docs/img/graphql/cloud/pricing/downgrade-to-free-plan.png
  docs/img/graphql/cloud/pricing/pricing-overview.png
  docs/img/graphql/cloud/pricing/upgrade-to-paid-plan.png
  docs/img/graphql/cloud/projects/pricing-overview.png
  docs/img/graphql/cloud/projects/switch-to-free-plan.png
  docs/img/graphql/cloud/projects/upgrade-to-paid-plan.png
Labels: c/docs, no-changelog-required

#5692 docs: add relay api reference (close #5174, #5388)
  docs/graphql/core/api-reference/graphql-api/query.rst
  docs/graphql/core/api-reference/index.rst
  docs/graphql/core/api-reference/relay-graphql-api/index.rst
  docs/graphql/core/api-reference/relay-graphql-api/mutation.rst
  docs/graphql/core/api-reference/relay-graphql-api/query.rst
  docs/graphql/core/schema/relay-schema.rst
Labels: c/docs, no-changelog-required

#4471 docs: add postgres reference section to docs (close #4440)
  CHANGELOG.md
  docs/graphql/core/guides/index.rst
  docs/graphql/core/guides/postgres/constraints.rst
  docs/graphql/core/guides/postgres/functions.rst
  docs/graphql/core/guides/postgres/index.rst
  docs/graphql/core/guides/postgres/indexes.rst
  docs/graphql/core/guides/postgres/triggers.rst
  docs/graphql/core/guides/postgres/views.rst
  docs/graphql/core/queries/performance.rst
  docs/graphql/core/schema/custom-functions.rst
  docs/graphql/core/schema/data-validations.rst
Labels: auto-update-auto-merge, c/docs

#5865 server: redesign MonadExecuteQuery in preparation for heterogeneous execution
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#5693 cli: change 'hasura seeds' to 'hasura seed' with 'seeds' as alias
  CHANGELOG.md
  cli/commands/seed.go
  docs/graphql/core/hasura-cli/hasura_seeds.rst
  docs/graphql/core/hasura-cli/hasura_seeds_apply.rst
  docs/graphql/core/hasura-cli/hasura_seeds_create.rst
  docs/graphql/core/hasura-cli/index.rst
Labels: auto-update-auto-merge, c/docs, community-contrib 🙏🏽, no-changelog-required

#5869 server: heterogeneous execution of GraphQL queries
  CHANGELOG.md
  server/cabal.project
  server/graphql-engine.cabal
  server/src-lib/Data/Aeson/Ordered.hs
  server/src-lib/Hasura/Db.hs
  server/src-lib/Hasura/EncJSON.hs
  server/src-lib/Hasura/GraphQL/Execute.hs
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Prepare.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Logging.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP/Protocol.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket/Protocol.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/Server/Telemetry/Counters.hs
  server/tests-py/queries/heterogeneous/basic.yaml
  server/tests-py/queries/heterogeneous/schema_setup.yaml
  server/tests-py/queries/heterogeneous/schema_teardown.yaml
  server/tests-py/queries/heterogeneous/values_teardown.yaml
  server/tests-py/test_heterogeneous.py
Labels: auto-update-auto-merge, c/server

#5798 console: make top navigation bar responsive (close #3680)
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
Labels: auto-update-auto-merge, c/console, no-changelog-required

#5947 console: add notifications (#5070)
  console/.eslintrc
  console/package-lock.json
  console/package.json
  console/src/Endpoints.ts
  console/src/Globals.ts
  console/src/components/Common/Common.scss
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Main/Actions.js
  console/src/components/Main/ConsoleNotification.ts
  console/src/components/Main/LoveSection.tsx
  console/src/components/Main/Main.js
  console/src/components/Main/Main.scss
  console/src/components/Main/NotificationSection.tsx
  console/src/components/Main/State.ts
  console/src/components/Main/images/components/ConsoleLogo.tsx
  console/src/components/Main/images/components/PixelHeart.tsx
  console/src/components/Main/utils.ts
  console/src/components/UIKit/atoms/Badge/Badge.ts
  console/src/components/UIKit/atoms/Badge/index.tsx
  console/src/components/UIKit/atoms/Flex/index.ts
  console/src/components/UIKit/atoms/Icon/Icon.ts
  console/src/components/UIKit/atoms/Typography/Typography.ts
  console/src/components/UIKit/atoms/Typography/index.tsx
  console/src/components/UIKit/atoms/index.js
  console/src/components/UIKit/theme/index.ts
  console/src/constants.ts
  console/src/hooks/useOnClickOutside.ts
  console/src/telemetry/Actions.ts
  console/src/telemetry/state.ts
  console/src/telemetry/utils.ts
  console/src/types.ts
  console/src/utils/localstorage.js
Labels: c/console

#5364 console: fix default option selected when cloning row in data browser (close #5340)
  console/src/components/Services/Data/Common/Components/TableRow.tsx
Labels: auto-update-auto-merge, c/console, community-contrib 🙏🏽, no-changelog-required

#5612 console: improve UI for nested remote relationships (close #4973)
  console/src/components/Services/Data/TableRelationships/RemoteRelationships/components/EditorCollapsed.tsx
Labels: auto-update-auto-merge, c/console, no-changelog-required

#5928 server: implement websocket compression setting (fixes #3292)
  CHANGELOG.md
  server/src-lib/Hasura/App.hs
  server/src-lib/Hasura/Server/App.hs
  server/src-lib/Hasura/Server/Init.hs
  server/src-lib/Hasura/Server/Init/Config.hs
Labels: auto-update-auto-merge, c/server, hacktoberfest

#5938 Server: Validate remote schema queries
  .circleci/server-upgrade-downgrade/run.sh
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute/Remote.hs
  server/src-lib/Hasura/GraphQL/Parser.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/RQL/Types/SchemaCache.hs
  server/tests-py/graphql_server.py
  server/tests-py/queries/heterogeneous/basic.yaml
  server/tests-py/queries/remote_schemas/validation/argument_validation.yaml
  server/tests-py/queries/remote_schemas/validation/field_validation.yaml
  server/tests-py/queries/remote_schemas/validation/setup.yaml
  server/tests-py/queries/remote_schemas/validation/teardown.yaml
  server/tests-py/test_schema_stitching.py
Labels: c/server

#4948 docs: console / cli / api workflows (close #3593)
  CHANGELOG.md
  docs/.python-version
  docs/_theme/djangodocs/pages/landing.html
  docs/graphql/core/actions/action-handlers.rst
  docs/graphql/core/actions/action-permissions.rst
  docs/graphql/core/actions/create.rst
  docs/graphql/core/actions/reuse-types-actions.rst
  docs/graphql/core/api-reference/schema-metadata-api/event-triggers.rst
  docs/graphql/core/auth/authorization/basics.rst
  docs/graphql/core/auth/authorization/permission-rules.rst
  docs/graphql/core/event-triggers/create-trigger.rst
  docs/graphql/core/event-triggers/index.rst
  docs/graphql/core/event-triggers/invoke-trigger-console.rst
  docs/graphql/core/event-triggers/invoke-trigger-manually.rst
  docs/graphql/core/getting-started/first-event-trigger.rst
  docs/graphql/core/guides/data-modelling/index.rst
  docs/graphql/core/guides/data-modelling/many-to-many.rst
  docs/graphql/core/guides/data-modelling/one-to-many.rst
  docs/graphql/core/guides/data-modelling/one-to-one.rst
  docs/graphql/core/guides/index.rst
  docs/graphql/core/guides/postgres/constraints.rst
  docs/graphql/core/guides/postgres/functions.rst
  docs/graphql/core/guides/postgres/index.rst
  docs/graphql/core/hasura-cli/hasura_seed.rst
  docs/graphql/core/hasura-cli/hasura_seed_apply.rst
  docs/graphql/core/hasura-cli/hasura_seed_create.rst
  docs/graphql/core/mutations/insert.rst
  docs/graphql/core/mutations/update.rst
  docs/graphql/core/queries/performance.rst
  docs/graphql/core/remote-schemas/adding-schema.rst
  docs/graphql/core/schema/basics.rst
  docs/graphql/core/schema/computed-fields.rst
  docs/graphql/core/schema/custom-field-names.rst
  docs/graphql/core/schema/custom-functions.rst
  docs/graphql/core/schema/data-validations.rst
  docs/graphql/core/schema/default-values/column-presets.rst
  docs/graphql/core/schema/default-values/index.rst
  docs/graphql/core/schema/default-values/postgres-defaults.rst
  docs/graphql/core/schema/default-values/sql-functions.rst
  docs/graphql/core/schema/enums.rst
  docs/graphql/core/schema/index.rst
  docs/graphql/core/schema/table-relationships/create.rst
  docs/graphql/core/schema/table-relationships/database-modelling.rst
  docs/graphql/core/schema/table-relationships/index.rst
  docs/graphql/core/schema/table-relationships/rename.rst
  docs/graphql/core/schema/tables.rst
  docs/graphql/core/schema/using-existing-database.rst
  docs/graphql/core/schema/views.rst
  docs/img/graphql/core/event-triggers/create-event-trigger-advanced-settings.png
  docs/img/graphql/core/event-triggers/create-event-trigger-headers.png
  docs/img/graphql/core/event-triggers/create-event-trigger-listen-columns.png
  docs/img/graphql/core/event-triggers/create-event-trigger-retry.png
  docs/img/graphql/core/schema/console-create-table.png
  docs/img/graphql/core/schema/hasura-console.png
  docs/img/graphql/core/schema/schema-track-functions.png
  docs/img/graphql/core/schema/schema-track-relationships.png
  docs/img/graphql/core/schema/schema-track-tables.png
  docs/img/graphql/core/schema/schema-track-views.png
Labels: auto-update-auto-merge, c/docs

#4790 console: down migrations improvements (close #3503, #4988)
  CHANGELOG.md
  console/src/components/Common/utils/v1QueryUtils.ts
  console/src/components/Services/Actions/Permissions/reducer.js
  console/src/components/Services/Actions/Permissions/utils.js
  console/src/components/Services/Actions/ServerIO.js
  console/src/components/Services/Data/Add/AddActions.js
  console/src/components/Services/Data/Add/AddExistingTableViewActions.js
  console/src/components/Services/Data/DataActions.js
  console/src/components/Services/Data/Function/customFunctionReducer.js
  console/src/components/Services/Data/RawSQL/Actions.js
  console/src/components/Services/Data/Schema/Actions.js
  console/src/components/Services/Data/TableModify/ModifyActions.js
  console/src/components/Services/Data/TablePermissions/Actions.js
  console/src/components/Services/Data/TableRelationships/Actions.js
  console/src/components/Services/Data/utils.js
  console/src/components/Services/Events/ServerIO.ts
  console/src/components/Services/RemoteSchema/Actions.js
  console/src/components/Services/RemoteSchema/Add/addRemoteSchemaReducer.js
  console/src/components/Services/Settings/Actions.js
  console/src/components/Services/Types/ServerIO.js
  console/src/types.ts
  console/src/utils/migration/Migration.ts
  console/src/utils/migration/utils.ts
Labels: c/console

#6014 log level is error, when there is error
  docs/graphql/core/deployment/logging.rst
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#5998 console: fix dropping Postgres dependencies (close #5993)
  console/src/components/Services/Data/utils.js
Labels: c/console, no-changelog-required

#5507 console: improve events table UX (close #5477)
  console/src/components/Common/CustomInputTypes/JsonInput.js
  console/src/components/Common/CustomInputTypes/TextInput.js
  console/src/components/Services/Events/Common/Components/EventsTable.tsx
  console/src/components/Services/Events/Common/Components/ExpanderButton.tsx
  console/src/components/Services/Events/Common/Components/InvocationLogsTable.tsx
  console/src/components/Services/Events/Common/Components/types.ts
Labels: auto-update-auto-merge, c/console, community-contrib 🙏🏽, no-changelog-required

#5957 server: hlint the Haskell code as part of the CI
  .github/workflows/hlint.yml
  scripts/dev.sh
  server/.hlint.yaml
  server/src-lib/Control/Arrow/Extended.hs
  server/src-lib/Control/Concurrent/Extended.hs
  server/src-lib/Hasura/Incremental/Internal/Rule.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#5961 docs: document resetting metadata (close #3874)
  docs/graphql/core/migrations/manage-metadata.rst
  docs/img/graphql/core/migrations/metadata-export.png
  docs/img/graphql/core/migrations/metadata-import.png
  docs/img/graphql/core/migrations/metadata-reload.png
  docs/img/graphql/core/migrations/metadata-reset.png
Labels: auto-update-auto-merge, c/docs, hacktoberfest, hacktoberfest-accepted, no-changelog-required

#6002 docs: fix relay id (close #6001)
  docs/graphql/core/schema/relay-schema.rst
Labels: auto-update-auto-merge, c/docs, hacktoberfest, hacktoberfest-accepted, no-changelog-required

#6049 docs: bring back step 0
  docs/graphql/core/migrations/config-v1/manage-migrations.rst
  docs/graphql/core/migrations/migrations-setup.rst
  docs/graphql/core/migrations/upgrade-v2.rst
  docs/graphql/core/schema/remote-relationships/action-relationships.rst
  docs/graphql/core/schema/remote-relationships/remote-schema-relationships.rst
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#5932 cli: fix lint errors in cli/util/git.go (fix #5831)
  cli/util/git.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, kodiak:merge.method='squash', no-changelog-required

#5929 cli: fix lint error in commands\docs.go
  cli/commands/docs.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, kodiak:merge.method='squash', no-changelog-required

#5910 cli: fix lint errors in metadata/actions/actions.go
  cli/metadata/actions/actions.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#5870 cli: fix linter errors
  cli/migrate/source/testing/testing.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#5945 server: fix issue with tracking custom functions that return `SETOF` materialized view (close #5294)
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Schema/Function.hs
  server/src-lib/Hasura/SQL/Types.hs
  server/src-rsr/catalog_version.txt
  server/src-rsr/initialise.sql
  server/src-rsr/migrations/39_to_40.sql
  server/src-rsr/migrations/40_to_39.sql
  server/tests-py/queries/graphql_query/functions/query_search_author_mview.yaml
  server/tests-py/queries/graphql_query/functions/setup.yaml
  server/tests-py/queries/graphql_query/functions/teardown.yaml
  server/tests-py/test_graphql_queries.py
Labels: auto-update-auto-merge, c/server

#6028 server: unabbreviate function names
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/RQL/DDL/EventTrigger.hs
  server/src-lib/Hasura/RQL/DDL/Metadata.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Mutation.hs
  server/src-lib/Hasura/RQL/DML/Returning.hs
  server/src-lib/Hasura/RQL/DML/Select/Internal.hs
  server/src-lib/Hasura/RQL/DML/Select/Types.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/GBoolExp.hs
  server/src-lib/Hasura/RQL/Types/Column.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/SQL/DML.hs
  server/src-lib/Hasura/SQL/Rewrite.hs
  server/src-lib/Hasura/SQL/Types.hs
Labels: auto-update-auto-merge, c/server, kodiak:merge.method='squash', no-changelog-required

#6027 server: Fix fine-grained incremental cache invalidation (fix #3759)
  CHANGELOG.md
  server/src-lib/Hasura/Incremental/Internal/Cache.hs
  server/src-test/Hasura/IncrementalSpec.hs
  server/tests-py/queries/v1/set_table_is_enum/set_and_delayed_reload/introspect_enum_values.yaml
  server/tests-py/queries/v1/set_table_is_enum/set_and_delayed_reload/setup.yaml
  server/tests-py/queries/v1/set_table_is_enum/set_and_delayed_reload/teardown.yaml
  server/tests-py/test_v1_queries.py
Labels: auto-update-auto-merge, c/server, kodiak:merge.method='squash'

#5877 cli: fixed lint error
  cli/pkg/console/apiserver.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#5806 server: fix bug when renaming table with manual relationships
  CHANGELOG.md
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/tests-py/queries/v1/relationships/array_relationship_manual.yaml
  server/tests-py/queries/v1/relationships/object_relationship_manual.yaml
  server/tests-py/queries/v1/relationships/setup.yaml
Labels: auto-update-auto-merge

#6087 server: avoid running hlint on an empty list of files
  .github/workflows/hlint.yml
Labels: auto-update-auto-merge, c/server, kodiak:merge.method='squash', no-changelog-required

#6086 server: move NonEmptyText out of RQL.Types.Common
  server/graphql-engine.cabal
  server/src-lib/Data/Text/NonEmpty.hs
  server/src-lib/Hasura/Eventing/EventTrigger.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/Incremental/Internal/Dependency.hs
  server/src-lib/Hasura/RQL/DDL/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/Common.hs
  server/src-lib/Hasura/RQL/Types/ComputedField.hs
  server/src-lib/Hasura/RQL/Types/EventTrigger.hs
  server/src-lib/Hasura/RQL/Types/QueryCollection.hs
  server/src-lib/Hasura/RQL/Types/RemoteRelationship.hs
  server/src-lib/Hasura/RQL/Types/RemoteSchema.hs
  server/src-lib/Hasura/RQL/Types/SchemaCacheTypes.hs
  server/src-lib/Hasura/Server/Migrate.hs
  server/src-lib/Hasura/Session.hs
Labels: c/server, no-changelog-required

#5943 cli: fix lint errors in cli/commands/init.go
  cli/commands/init.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#5972 fix linting in cli/source/stub/stub_test.go
  cli/migrate/source/stub/stub_test.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#5954 cli: fix lint issues for v2/integration_test/seeds.go
  cli/integration_test/v2/seeds.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#5912 cli: fix lint errors for /ci/migrate/util.go
  cli/migrate/util.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#6080 Server: support remote relationships to unions, interfaces and enum types
  CHANGELOG.md
  server/src-lib/Hasura/GraphQL/Schema/Remote.hs
  server/src-lib/Hasura/RQL/DDL/RemoteRelationship/Validate.hs
  server/tests-py/queries/remote_schemas/remote_relationships/remote_rel_enum.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/remote_rel_union.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/setup_remote_rel_with_enum.yaml
  server/tests-py/queries/remote_schemas/remote_relationships/setup_remote_rel_with_union.yaml
  server/tests-py/remote_schemas/nodejs/index.js
  server/tests-py/test_remote_relationships.py
Labels: auto-update-auto-merge

#5719 server: customize tracking tables with a custom name
  CHANGELOG.md
  docs/graphql/core/api-reference/schema-metadata-api/index.rst
  docs/graphql/core/api-reference/schema-metadata-api/table-view.rst
  server/src-lib/Hasura/Backends/Postgres/SQL/Types.hs
  server/src-lib/Hasura/GraphQL/Parser/Class.hs
  server/src-lib/Hasura/GraphQL/Schema.hs
  server/src-lib/Hasura/GraphQL/Schema/BoolExp.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/GraphQL/Schema/Table.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Table.hs
  server/src-lib/Hasura/RQL/Types/Table.hs
  server/src-lib/Hasura/Server/API/Query.hs
  server/tests-py/queries/graphql_introspection/custom_table_name/introspection.yaml
  server/tests-py/queries/graphql_introspection/custom_table_name/setup.yaml
  server/tests-py/queries/graphql_introspection/custom_table_name/teardown.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/delete_author_details.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/insert_article_author.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/insert_author_details.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/schema_setup.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/schema_teardown.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/update_author_details.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/values_setup.yaml
  server/tests-py/queries/graphql_mutation/custom_schema/custom_table_name/values_teardown.yaml
  server/tests-py/queries/graphql_query/custom_schema/custom_table_name/author.yaml
  server/tests-py/queries/graphql_query/custom_schema/custom_table_name/setup.yaml
  server/tests-py/queries/graphql_query/custom_schema/custom_table_name/teardown.yaml
  server/tests-py/queries/v1/metadata_order/export_metadata.yaml
  server/tests-py/queries/v1/metadata_order/setup.yaml
  server/tests-py/queries/v1/metadata_order/teardown.yaml
  server/tests-py/queries/v1/set_table_configuration/alter_column.yaml
  server/tests-py/queries/v1/set_table_configuration/column_field_swap.yaml
  server/tests-py/queries/v1/set_table_configuration/conflict_with_relationship.yaml
  server/tests-py/queries/v1/set_table_configuration/fail_conflicting_custom_table_name.yaml
  server/tests-py/queries/v1/set_table_configuration/relationship_conflict_with_custom_column.yaml
  server/tests-py/queries/v1/set_table_configuration/rename_original_table_with_custom_name.yaml
  server/tests-py/queries/v1/set_table_configuration/rename_original_table_with_identifier.yaml
  server/tests-py/queries/v1/set_table_configuration/set_and_unset.yaml
  server/tests-py/queries/v1/set_table_configuration/set_invalid_table.yaml
  server/tests-py/queries/v1/set_table_configuration/setup.yaml
  server/tests-py/queries/v1/set_table_configuration/teardown.yaml
  server/tests-py/test_graphql_introspection.py
  server/tests-py/test_graphql_mutations.py
  server/tests-py/test_graphql_queries.py
  server/tests-py/test_v1_queries.py
Labels: auto-update-auto-merge, kodiak:merge.method='squash'

#6100 docs: small fixes
  docs/graphql/core/api-reference/schema-metadata-api/index.rst
  docs/graphql/core/api-reference/schema-metadata-api/table-view.rst
Labels: auto-update-auto-merge, c/docs, no-changelog-required

#6072 server: split RQL.DML into four different parts
  server/graphql-engine.cabal
  server/src-lib/Hasura/Backends/Postgres/Execute/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Execute/RemoteJoin.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Delete.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Insert.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Mutation.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Returning.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Select.hs
  server/src-lib/Hasura/Backends/Postgres/Translate/Update.hs
  server/src-lib/Hasura/GraphQL/Context.hs
  server/src-lib/Hasura/GraphQL/Execute/Action.hs
  server/src-lib/Hasura/GraphQL/Execute/Insert.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Execute/Mutation.hs
  server/src-lib/Hasura/GraphQL/Execute/Query.hs
  server/src-lib/Hasura/GraphQL/Explain.hs
  server/src-lib/Hasura/GraphQL/Parser/Internal/Parser.hs
  server/src-lib/Hasura/GraphQL/Schema/Action.hs
  server/src-lib/Hasura/GraphQL/Schema/Common.hs
  server/src-lib/Hasura/GraphQL/Schema/Insert.hs
  server/src-lib/Hasura/GraphQL/Schema/Mutation.hs
  server/src-lib/Hasura/GraphQL/Schema/OrderBy.hs
  server/src-lib/Hasura/GraphQL/Schema/Select.hs
  server/src-lib/Hasura/RQL/DML/Delete.hs
  server/src-lib/Hasura/RQL/DML/Insert.hs
  server/src-lib/Hasura/RQL/DML/Internal.hs
  server/src-lib/Hasura/RQL/DML/Returning/Types.hs
  server/src-lib/Hasura/RQL/DML/Select.hs
  server/src-lib/Hasura/RQL/DML/Update.hs
  server/src-lib/Hasura/RQL/DML/Update/Types.hs
  server/src-lib/Hasura/RQL/IR/Delete.hs
  server/src-lib/Hasura/RQL/IR/Insert.hs
  server/src-lib/Hasura/RQL/IR/RemoteJoin.hs
  server/src-lib/Hasura/RQL/IR/Returning.hs
  server/src-lib/Hasura/RQL/IR/Select.hs
  server/src-lib/Hasura/RQL/IR/Update.hs
  server/src-lib/Hasura/RQL/Types/Action.hs
Labels: auto-update-auto-merge, kodiak:merge.method='squash', no-changelog-required

#5946 cli: fix lint errors in migrate/cmd/commands.go
  cli/migrate/cmd/commands.go
Labels: auto-update-auto-merge, c/cli, hacktoberfest, no-changelog-required

#6097 server: multiple sources: generalize LazyTx to LazyTxT
  server/cabal.project
  server/src-lib/Hasura/Backends/Postgres/Connection.hs
  server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Plan.hs
  server/src-lib/Hasura/GraphQL/Transport/HTTP.hs
  server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs
  server/src-lib/Hasura/Prelude.hs
  server/src-lib/Hasura/RQL/DDL/Schema/Rename.hs
  server/src-lib/Hasura/RQL/Types/Run.hs
  server/src-lib/Hasura/Server/Migrate.hs
Labels: auto-update-auto-merge, c/server, no-changelog-required

#5452 Add metadata types and generator lib to repo
  CHANGELOG.md
  contrib/metadata-types/.gitignore
  contrib/metadata-types/.prettierrc
  contrib/metadata-types/README.md
  contrib/metadata-types/RFC.md
  contrib/metadata-types/config.yaml
  contrib/metadata-types/generated/.gitkeep
  contrib/metadata-types/generated/HasuraMetadataV2.go
  contrib/metadata-types/generated/HasuraMetadataV2.hs
  contrib/metadata-types/generated/HasuraMetadataV2.json
  contrib/metadata-types/generated/HasuraMetadataV2.py
  contrib/metadata-types/generated/HasuraMetadataV2.ts
  contrib/metadata-types/generated/HasuraMetadataV2.yaml
  contrib/metadata-types/json-schema-typecheck-demo.gif
  contrib/metadata-types/package.json
  contrib/metadata-types/src/generateTypes.ts
  contrib/metadata-types/src/metadata-schemas/ActionsYAML.schema.json
  contrib/metadata-types/src/metadata-schemas/AllowListYAML.schema.json
  contrib/metadata-types/src/metadata-schemas/CronTriggerYAML.schema.json
  contrib/metadata-types/src/metadata-schemas/FunctionsYAML.schema.json
  contrib/metadata-types/src/metadata-schemas/HasuraMetadataV2.schema.json
  contrib/metadata-types/src/metadata-schemas/MetadataExport.schema.json
  contrib/metadata-types/src/metadata-schemas/QueryCollectionsYAML.schema.json
  contrib/metadata-types/src/metadata-schemas/RemoteSchemasYAML.schema.json
  contrib/metadata-types/src/metadata-schemas/TablesYAML.schema.json
  contrib/metadata-types/src/test.ts
  contrib/metadata-types/src/tests/sample-metadata-1.json
  contrib/metadata-types/src/tests/sample-metadata-2.json
  contrib/metadata-types/src/types/HasuraMetadataV2.schema.json
  contrib/metadata-types/src/types/HasuraMetadataV2.schema.yaml
  contrib/metadata-types/src/types/HasuraMetadataV2.ts
  contrib/metadata-types/src/unused/BoolExp.schema.json
  contrib/metadata-types/src/unused/BoolExp.ts
  contrib/metadata-types/test-config.yaml
  contrib/metadata-types/test-output-sample.png
  contrib/metadata-types/tsconfig.json
  contrib/metadata-types/tsconfig.lib.json
  contrib/metadata-types/typescript-typecheck-demo.gif
  contrib/metadata-types/v2/index.d.ts
  contrib/metadata-types/v2/index.js
  contrib/metadata-types/yarn.lock
Labels: auto-update-auto-merge
